[2014-11-20 16:22] idanov opened #2110 "Logstash init script does not respect the logstash user groups (FIX included)"
I have experienced the issue that logstash (when started as a service) does not read log files unless they are world readable or owned by the logstash user itself. I have added the logstash user to the user group of the files (in my case apache user group) and that did not work. Then I found a solution to the problem here:
http://serverfault.com/questions/632079/logstash-not-reading-logs-unless-wo

[2014-11-20 19:19] domenkozar opened #2111 "Change Logstash UDP default size limit"
UDP RFC relevant text:

[code]

I propose to raise the default limit of UDP buffer to 65,507 bytes.

[2014-11-21 07:29] wajiii opened #2112 "Update dev docs to reflect that building logstash requires Ruby 1.9"
While trying to build LogStash on a RHEL system:
     $ rake bootstrap
     rake aborted!
     NoMethodError: undefined method `require_relative' for main:Object
     (path redacted)/logstash/rakelib/plugin.rake:1
    (See full trace by running task with --trace)
After asking about this on IRC, it came to light that require_relative is a new feature in Ruby 1.9, while my system has Ruby 1.8.7. I w

[2014-11-21 11:47] PragTob opened #2113 "Coveralls not working"
I see that logstash has a development dependency on coveralls and also seems to have it set up alright in the [spec_helper](https://github.com/elasticsearch/logstash/blob/master/spec/spec_helper.rb#L5-L17) but it doesn't seem to report coverage to the [coveralls web](https://coveralls.io/r/elasticsearch/logstash)

My guess would be that the CI server misses the COVERAGE environment variable or som

[2014-11-21 14:45] beardyneedle opened #2115 "logstash 1.4.2 crashes without permissions on csv output dir"
to replicate create an CSV output to a dir you do not have write perms to.

[2014-11-21 16:43] taliesins opened #2116 "When Gelfd parser fails to process message, the exception message returned is not helpful enough"
It would be nice to know who is sending dodgy udp packets to GELF endpoint. In my case it turned out to be a misconfigured load balancer.

My monkey patch was to change gelf.rb:

[code]

to

[code]

[2014-11-21 23:58] paulcaustin opened #2118 "multiline codec matches when it should not"
In the dist directory, run this:

[code]

I get this:

[code]

It should produce one record for each entry in the folder.

This is with v1.4.2 run on a mac os X version 10.10.1 and java version "1.8.0_25".
logstash-test passes all tests.

--Paul

[2014-11-22 00:31] #2054 closed, assigned to nobody

[2014-11-22 21:02] ton31337 opened #2121 "logstash different character"
Hi All,

is it possible that logstash stops working after getting similar warning like this:

[code]

After this, logstash doesn't ships logs to elastic search and it stops working at all while I truncate the log file it watches.

I don't know if it's a bug or a normal behavior, but would be great to find an answer. Google doesn't answer much about this.

D.

[2014-11-23 13:18] #2082 closed, assigned to nobody

[2014-11-24 01:50] wnagele opened #2122 "Logs buffered?"
It seems that the logfile specified with -l is buffered. Most recent entries only become visible when shutting down logstash or if the buffer is synced. This should probably be changed to be unbuffered so logs are available immediately.

[2014-11-24 02:53] #2122 closed, assigned to nobody

[2014-11-24 07:37] rljohnsn opened #2123 "Add new parameter or change pattern to function like grok match"
Need to be able to control what field the multiline filter is applying its logic too. Similar to how grok match parameter works.

[code]

[2014-11-24 13:39] tuukkamustonen opened #2124 "Sensu codec for RabbitMQ output"
Originally reported by Brian Preston at https://logstash.jira.com/browse/LOGSTASH-2116

The original thread: https://groups.google.com/forum/#!searchin/logstash-users/sensu/logstash-users/pZkBl7XoTEg/pfCiErPxRI4J

It probably would not need specific codec, if the existing rabbitmq plugin supported customizing the payload.

[2014-11-24 14:35] #1401 closed, assigned to talevy

[2014-11-24 14:44] #1988 closed, assigned to colinsurprenant

[2014-11-24 14:47] #2032 closed, assigned to nobody

[2014-11-24 15:22] Crazybus opened #2125 "Metrics filter breaks logstash rspec tests"
Adding metrics to the filters section causes rspec tests to fail with `TypeError: can't convert String into Integer`. As a workaround I have just moved my metrics to a seperate conf file in my conf.d directory. Configtest passes and everything works perfectly...only the rspec tests are failing. Is this expected behaviour?

Works:
[code]

Breaks:
[code]

Error:
[code]

[2014-11-24 16:12] #1525 closed, assigned to colinsurprenant

[2014-11-24 17:39] zabbal opened #2126 "ssl_key option missing in lumberjack output"
There's significant difference between logstash-forwarder and logstash when it comes to ssl configuration:
forwarder supports following options - ssl_certificate, ssl_key, ssl_ca - which are pretty-much self-explanatory
However if I want to ship logs from one logstash to another it becomes much tricker: there is only single "ssl_certificate" option with no example or explanation in the docs I've f

[2014-11-24 21:31] revgum opened #2127 "duplicate documents posted to elasticsearch"
I have a simple TCP input, and it is consistently posting duplicate documents to ES.

`input { tcp { codec => json_lines {} port => 9999 } }`
`output { elasticsearch { host => localhost protocol => "http" } }`

I've been using "tcpflow" to monitor the bytes coming in on port 9999, and I'm only seeing a single record for each of these duplicates that end up in ES.

Debug logs for Logstash shows tha

[2014-11-24 21:44] #2127 closed, assigned to nobody

[2014-11-25 00:59] #2108 closed, assigned to nobody

[2014-11-25 02:18] #1617 closed, assigned to nobody

[2014-11-25 02:28] #2118 closed, assigned to nobody

[2014-11-25 15:24] arnauldvm opened #2129 "Conditional 'in' operator ignores first string of the list"
Using logstash 1.4.2

Config file:
[code]

Output:
[code]

But:
[code]

Gives:
[code]

[2014-11-25 20:19] lexelby opened #2130 "exception in output thread silently locks up logstash"
I'm copying this from the logstash JIRA because I've run into it yet again.  This is a pretty serious problem and I've wasted a lot of time debugging it.

If an output plugin encounters an exception (such as LOGSTASH-1504 et. al), the output crashes silently. The exception is printed to stdout and never reaches the log. This causes that output's SizedQueue to no longer be consumed, and eventually

[2014-11-25 22:35] agirbal opened #2131 "Allow splitting of lists / arrays into multiple events"
A very common pattern in JSON & XML is to make use of lists to group data together.
For example an XML file often looks like:
[code]

Same way in JSON, many SQL exports or API results look like this:
[code]

Right now logstash can't easily handle those "groupings" and require some external XSLT or script of some sort.
Instead it would be great to extend the "split" command so that it can be applie

[2014-11-26 03:38] eshenskope opened #2132 "logstash file input: didn't collect update in 2 files on the same nfs mount point"
If I ask them to  listen on each file, it can always detect the updates.

The input reading thread is doing.... does this mean its stuck somewhere?

 "<file" daemon prio=10 tid=0x00007fc22001a000 nid=0x6ee3 runnable [0x00007fc242f92000]
   java.lang.Thread.State: RUNNABLE
        at sun.nio.ch.FileDispatcherImpl.read0(Native Method)
        at sun.nio.ch.FileDispatcherImpl.read(FileDispatcherImpl.

[2014-11-26 09:26] deepybee opened #2133 "Improve RabbitMQ input and output plugin docs"
Just a minor improvement, but when setting up an output to a RabbitMQ broker yesterday I ran into an issue which was not immediately obvious given the socket connection errors returned by March Hare.

The issue was that in my config I had specified a vhost including the leading forward slash "/"

The documentation only states that a vhost entry should be a string and that the default is "/" - it w

[2014-11-26 11:13] herenowcoder opened #2134 "rpm creates separate dir for pidfile but doesn't use it"
Hi!

A confusing behavior of init.d script shipped with Logstash rpm:

Rpm contains empty dir `/var/run/logstash` which is then never used - init.d script contains this simple line:
`pidfile="/var/run/$name.pid"`

[2014-11-26 14:09] arnauldvm opened #2135 "Multiple file input cause loosing data"
I'm loosing lots of records when using a setup like this:
[code]
Results:

index name | actual (wc file.log) | actually indexed in elasticsearch
---------- | -------------------- | --------
logstash-xxxxxxxx-2014.11.17 | 27493 | 27493
logstash-xxxxxxxx-2014.11.18 | 18428 | 18308
logstash-xxxxxxxx-2014.11.19 | 18871 | 695
logstash-xxxxxxxx-2014.11.20 | 15517 | 15399
logstash-xxxxxxxx-2014.11.21 | 2

[2014-11-26 21:57] jordansissel opened #2136 "bin/logstash rspec fails to load 'cabin'"
after building and untarring the `artifact:tar` result, bin/logstash rspec fails from that unpacked package.

[code]

Common error is failing to load a plugin:

[code]

The 'cabin' gem is failing to be loaded.

This appears to be because `LogStash::Environment#set_gem_paths!` is only including the `plugins_home` path in the gem path, and we are relying on `bundler/setup.rb` to pretend the core gem

[2014-11-26 22:37] #2136 closed, assigned to jsvd

[2014-11-26 23:02] jordansissel opened #2137 "Slim down the release artifacts"
Unpacked tar of master branch (at time of writing) is pretty large. This causes the package to be large (100mb). Unpacked size is 169mb.

Comparatively, v1.4.2 is ~80mb.

* [ ] Duplicate files (same checksum) in package. Deduplication will shave 24mb. [1]
* [x] See if we can ship a release without dependency tests. Specifically, spec and test directories in our dependency gems. This accounts for a

[2014-11-27 03:21] rabbie opened #2138 "Windows - Reload logstash agent"
On Linux nodes, logstash can read all configuration files under the conf.d directory.

There is no such option in windows, limiting the configuration file to what's specified when the agent is started.

If this problem is overcome, how then do you tell the agent to reload the (now multiple) configuration file?

[2014-11-27 08:46] masashinakane opened #2139 "Eventlog input doesnot convert messsage to UTF-8 , then regex error in filter"
Hi,  I use logstash 1.4.2.

And I setup  file input and eventlog input , then
filter the messages by regex in Japanese.

The messages from file input works fine and get filtered well.
But message from eventlog input throws exception and seems logstash stop processing messages.
(But it is running)

I think  eventlog doesnot convert the string to UTF-8 inside based on the charset. but file input doe

[2014-11-27 12:24] widhalmt opened #2141 "filter/clone/documentation optional option "clones" seems not to be optional"
I treid the clone filter without giving the `clones` option and was hoping that it would create clones with the same type as the original event. But no clones were created.

    clone {
      add_tag => [ "cloned", "icinga_alert" ]
    }

Using the following clones are created.

    clone {
      add_tag => [ "cloned", "icinga_alert" ]
      clones => [ "clone" ]
    }

Maybe I misread the documen

[2014-11-27 15:34] yanivr78 opened #2142 "Fix for UTF-8 Errors ! (Really works and was under our nose all the time ! )"
Hi everyone,

I was trying to parse logs from Amazon ELB and sometimes when I got this wierd string :
+---------------------------------------------------------+

logstash crashed with this error :
{:timestamp=>"2014-11-27T10:28:31.255000+0200", :message=>"+---------------------------------------------------------+\n| An unexpected error occurred. This is probably a bug.   |\n| You can find help w

[2014-11-27 19:39] #1953 closed, assigned to nobody

[2014-11-28 03:11] leiding opened #2143 "Logstash don't exit after click ctl+c in ubuntu12.10"
step 1: start logstash
./bin/logstash agent -f index.conf
Using milestone 2 input plugin 'redis'. This plugin should be stable, but if you see strange behavior, please let us know! For more information on plugin milestones, see http://logstash.net/docs/1.4.2/plugin-milestones {:level=>:warn}

Step2: Try to exit with cto+c, but the cursor can't return to the shell.

^CInterrupt received. Shutting d

[2014-11-28 13:30] vinnu5064 opened #2145 "getting only raw logs"
i'm getting only raw logs

this is my agent.conf and i'm running it like
#logstash-1.4.0/bin/logstash --verbose agent -f /etc/logstash/agent.conf

input {
  file {
    path => "/var/log/apache2/access.log"
  }

}

filter {
grok {

pattern => "Current request is from the IP %{IPORHOST:clientip}"
     }
}

output {
  stdout { }
  elasticsearch { cluster => "elasticsearch" }
}

[2014-11-28 15:12] electrical opened #2146 "[packages] missing creation of /var/log/logstash/"
Currently the packages ( deb + rpm ) don't create the `/var/log/logstash/` directory which causes failures at startup.

[2014-11-28 23:42] nb71 opened #2147 "Logstash dies using redis batch output and non UTF-8 characters"
Hi,
We noticed that some of our logstash servers started to die frequently.
Making a very long story short the exact situation is:

Logstash from RPM on Centos or Redhat 6.5 and 6.6: logstash-1.4.2-1_2c0f5a1.noarch
Config:

                        type => rsyslog
                        port => 6666
                        codec =>   line
        }
}
output {
         redis {
                 host

[2014-11-30 10:22] kimoo88 opened #2148 "Logstash didn't recognize my pattern"
I'm new to Logstash. I have some logs written from a Java application in Log4J and I have successfully shipped them to elasticsearch. I'm in the process of trying to filter out those logs before sending them to ElasticSearch. Logstash didn't recognize my filter pattern

my input log looks like:
2014/11/20 03:00:02 390  [main] INFO  com.Tools.Expiry  -xxxxxxxxxxxxxxxxxxxxx

my pattern looks like:
f

[2014-11-30 13:43] #2148 closed, assigned to nobody

[2014-12-01 09:33] #2139 closed, assigned to nobody

[2014-12-01 19:34] colinsurprenant opened #2151 "plugins https/ssl options inconsistencies"
We should probably look into using a standard config option for using the `https`/`ssl` protocol. I did a little survey and this is what we currently use:
- *_protocol => ['http', 'https’]  - logstash-output-elasticsearch-ec2
- ssl => boolean - logstash-output-elasticsearch
- ssl => boolean - logstash-input-rabbitmq
- proto => ['http', 'https’] - logstash-output-loggly
- ssl_enable = > boolean - l

[2014-12-01 20:18] mezzatto opened #2152 "Pipeline stops processing events because of exception in filterworker "#<NoMethodError: undefined method `encode' for nil:NilClass>""
I'm getting the following error in the logstash log, and when it happens the pipeline stops processing events:

[code]

The error does not seems to be related to some specific input. Sometimes the log is generated but the pipeline processing continues.

Some info about the environment:

[code]

Command line:

[code]

My config:

[code]

[2014-12-01 20:18] versnel opened #2153 "logstash Error"
Hallo there,

I'm getting the following error in the log file of Logstash when kibana is trying to open/connect with Elasticsearch. And for Kibana I get a blank page.

adim@Suricata:~# tail -f /var/log/logstash/logstash.log
        at org.elasticsearch.common.netty.bootstrap.ClientBootstrap.connect(ClientBootstrap.java:229)
        at org.elasticsearch.common.netty.bootstrap.ClientBootstrap.connec

[2014-12-01 21:39] AGirin opened #2154 "Logstash metrics plugin in 1.4.2"
Does metrics plugin actually work in 1.4.2? I cannot make it output any rates or count:

generator {
    type => "generated"
  }
}
filter {
  metrics {
    meter => "events"
    add_tag => "metric"
  }
}
output {
  stdout {
    codec => line {
        format => "Rate: %{events.count}"
    }
  }

  stdout {

      codec => rubydebug

  }
}

All I get is:

Rate: %{events.count}
{
       "message" =>

[2014-12-02 04:37] masashinakane opened #2155 "File input throws exception when reading files with Japanese File name"
Hi,  it is logstash 1.4.2

When I configure the logstash to read a file with Japanese file name , it throws Error

[code]

Can anyone succeed to read a file with non-ASCII file name by  file input?
 (Japanese content has no issue.)

Masashi Nakane

[2014-12-02 06:10] #2066 closed, assigned to nobody

[2014-12-02 14:32] justmara opened #2156 "Add sprintf support to RabbitMQ output parameters"
Now you cant use field values to compose RabbitMQ output. For example this simple case could be very useful: `key => 'logstash.%{type}'`. But these strings not parsed, and this results in exact `logstash.%{type}` key posted with message.
Surely you can try workaround it with tonns of IF-ELSE, but thats stupid option.

[2014-12-02 14:36] #2156 closed, assigned to nobody

[2014-12-02 16:06] asasd84 opened #2158 "Multiple input in Elasticsearch"
Hello,

i have a problem with my logstash configuration because i have for each line in my  apache logs, three lines in elasticsearch.

My configuration :

input {
  file {
    path => "/applis/ELK/logstash-1.4.2/bin/apache88.log"
  }
}

filter {
        grok {
            match => [ "message", "%{COMBINEDAPACHELOG}" ]
        }
        geoip {
            source => clientip
        }
    date {

[2014-12-02 20:00] #2146 closed, assigned to jordansissel

[2014-12-02 20:03] ph opened #2160 "Cant find /var/lib/logstash when installing the debian package."
On Ubuntu 14.04

[code]

[2014-12-03 01:08] #2160 closed, assigned to nobody

[2014-12-03 05:02] markwalkom opened #2163 "Echo something to stdout when LS has successfully started"
For the first time in ages today I called the Logstash binary directly, however it's not clear when it has actually started unless you use the -v or -vv flags.
eg I only got a response after I hit enter;
[code]

It'd be good to have something echoed out saying "Logstash now running" (or whatever) to let the user know it's started, similar to when it shuts down.

[2014-12-03 05:27] wiibaa opened #2165 "Please garbage collect few obsolete PRs"
- [x] #1993 - codec removed in 1.5
- [x] #1099 - already fixed in #1164
- [x] #1232 - makefile is dead
- [x] #1234 - obsolete with 1.5
- [x] #1245 - obsolete with 1.5
- [x] #1027 - obsolete with 1.5
- [x] #1845 - superseed by https://github.com/logstash-plugins/logstash-input-pipe/pull/1
- [x] #1266 - replaced by #2164
- [x] #1457 - already fixed

and some obsolete/duplicate issues
- [x] #1265 - i

[2014-12-03 05:32] #1406 closed, assigned to nobody

[2014-12-03 08:38] #2158 closed, assigned to nobody

[2014-12-03 10:18] #1615 closed, assigned to suyograo

[2014-12-03 10:19] #1502 closed, assigned to nobody

[2014-12-03 10:20] #1602 closed, assigned to nobody

[2014-12-03 10:22] #1662 closed, assigned to nobody

[2014-12-03 10:23] #1733 closed, assigned to nobody

[2014-12-03 10:23] #2057 closed, assigned to nobody

[2014-12-03 10:24] #1917 closed, assigned to nobody

[2014-12-03 10:24] #1862 closed, assigned to nobody

[2014-12-03 18:42] colinsurprenant opened #2168 "remove test/integration"
since it has been moved into elasticsearch/logstash-integration-testing.

relates to #2150 #2157

[2014-12-03 19:43] jordansissel opened #2169 "Avoid use of 'and' and 'or' in ruby code."
This is an internal code-quality improvement. Not a feature for Logstash itself.

The reason behind this is that `&&` and `and` (similarily, `||` and `or`) have very different orders of operations (`and` is very late). Best to avoid.

[2014-12-03 23:18] masteinhauser opened #2170 "SSL/TLS Usage Allow for Cipher Suite Config"
Any plugins utilizing TLS/SSL should also accept a list of accept/reject cipher suites and/or other options. Ideally, the defaults could come from the [Mozilla TLS recommendation guide](https://wiki.mozilla.org/Security/Server_Side_TLS) or another reputable source.

This would allow for the end user to tailor the encryption needs per input at the input source and what the sending client supports.

[2014-12-04 12:17] lgoldstein opened #2172 "Frequent "Broken pipe" exceptions while using 'tcp' or 'syslog' inputs"
The plugins seem to break down frequently and then recover - even if only 1 client is accessing them at any time. Furthermore, even when logstash is started it does not show up as LISTENING in the *netstat --all --tcp* command (strangely enough UDP does...)

I have not been able to find documentation as to how to enable some logging for logstash so I can provide more useful information.

[2014-12-04 13:16] cova-fe opened #2173 "tcp output not adding LF (0x0a) at the end of line"
I'm tring to use tcp output (logstash 1.4.2) but, even if the documentation says "Each event json is separated by a newline.", it seems that LF is not added.

Looking at the code, it seems that the "\n" part is commented out. Am I doing something wrong?

[2014-12-04 18:43] jordansissel opened #2174 "`rake artifact:tar` succeeds even if an internal `bundle install` fails."

[2014-12-04 22:22] usmanajmal opened #2176 "Couldn't start TCP server error"
Trying to view syslogs in elasticsearch with the help of logstash and kibana3. Followed mostly https://www.digitalocean.com/community/tutorials/how-to-use-logstash-and-kibana-to-centralize-logs-on-centos-6 fo this purpose. But Kibana interface doesn't show anything. From /var/log/logstash/logstash.log, I can see following error:
[code]

I suppose the host: 0.0.0.0 isn't right. As I am running elas

[2014-12-04 22:47] talevy opened #2177 "Add generic support for retrying events in output plugins"
Currently, there is no general supported way to effect a retry-policy in an output plugin.

This is being done in https://github.com/logstash-plugins/logstash-output-elasticsearch/pull/2

It would be nice if there was a general retry-buffer for plugins to insert into and call to flush upon their own retry policy for each specific use-case.

[2014-12-04 23:08] talevy opened #2178 "Output workers do not gracefully teardown"
Tearing down an output plugin worker does not tear down any worker threads it spawned to further parallelize its outputing

[2014-12-05 01:18] binlaniua opened #2181 "output tcp server return repeat message"
[code]

the logstash config
[code]

when i access the nginx website, the console print
[code]

i want the logstash each message to one client, not all.. how can i do..

[2014-12-05 01:38] suyograo opened #2183 "LoadError: no such file to load error while running rake artifact:tar"
[code]

[2014-12-05 14:03] Benoit-DunandLaisin opened #2185 "Conditionnal on field always true with multiline filter and enable_flush true"
Hi,

With logstash-1.4.2-1_2c0f5a1.

Here is my test case:

Content of input file:

    2014/12/05 10:33:06.781 Hi
    2014/12/05 10:33:06.781 hi again

Note that there is no crlf at the end of the last line.

Logstash config:

    input {
      file {
        path => "/tmp/input.log"
        start_position => "beginning"
      }
    }
    filter {
      multiline {
        pattern => "^(\d{2})?%{

[2014-12-05 17:02] untergeek opened #2187 "Using Logstash with Elasticsearch Percolators"
It would be awesome if there were a way to feed Logstash events into the Elasticsearch Percolator.

I envision this as being a filter.  The filter would feed events to the percolator and then could use the responses (which include both the matching query _and_ the document) with conditionals to tag events and/or inject new events into the Logstash pipeline.

[2014-12-05 17:40] joekiller opened #2188 "New artifacts.rake doesn't create /etc/logstash/conf.d"
It seems that /etc/logstash/conf.d is left out of RPM (and maybe other) builds.  I'm working on a PR to fix this.

[2014-12-05 19:32] #2188 closed, assigned to nobody

[2014-12-05 20:26] PraveenJayakrishnakumar opened #2190 "Error reading SQS queue"
We are using logstash indexer to read all logs from logstash-agent. But, sometime, we are getting checksum failed error. we are using logstash verion 1.4.3

:message=>"Error reading SQS queue.", :error=>#&lt;AWS::SQS::Errors::ChecksumError: 2 messages failed checksum verification&gt;,

[2014-12-05 21:30] evanroode opened #2191 "missing unit in documentation for discover_interval (file input plugin)"
Documentation for the file input plugin does not specify what unit discover_interval is in

http://logstash.net/docs/1.4.2/inputs/file
---
discover_interval
  Value type is number
  Default value is 15
  How often we expand globs to discover new files to watch.
----

sincedb_write_interval does specify a unit "in second", stat_interval does not.

[2014-12-05 22:58] acarzis opened #2192 "unexplained behaviour without --debug command line argument"
I am using logstash/elasticsearch/kibana with input from nxlog on a windows 7 computer.

my configuration is such that nxlog is communicating to logstash on 4 tcpip channels (output = om_tcp). Hence, my logstash config is listening on 4 tcp servers.

My logstash filter is broken into 4 sections via 'if [type] == 'xxxx' { } sections. All 4 sections are rather complex. Output is to elasticsearch, st

[2014-12-07 00:29] waleedsaud opened #2194 "Date filter issues could not use log date"
Date filter did not work for me on netscreen firewall logs and this is my config:
input {
  tcp {
    type => "J-NS5400-5"
    port => 3333
  }
}

filter {
  if [type] == "J-NS5400-5" {
    grok {

      match => { "message" =>"%{NETSCREENSESSIONLOG}"}
    }

    date {

      match => [ "date", "MMM dd HH:mm:ss" ]
      timezone => "Asia/Riyadh"
      locale => "en_SA"

    }
  }
}

output {
  st

[2014-12-07 06:30] #1276 closed, assigned to nobody

[2014-12-07 21:28] #2174 closed, assigned to jsvd

[2014-12-08 05:55] suyograo opened #2195 "Gems installed via `rake bootstrap` are not available during pipeline runtime"
gems installed during `rake bootstrap` process end up in `$LS_HOME/build/bootstrap/gems` and are not available when running LS pipeline. See:

[code]

[2014-12-08 09:38] tzookb opened #2196 "logstash and monolog formatter"
I am using the monolog logstashFormater to create my logs, than I want to insert it in to my logstash.

Here is an example of a log created by monolog:

    {"@timestamp":"2014-12-08T09:07:54.810335+00:00","@source":"devServer","@fields":{"channel":"orderLogger","level":100,"ctxt_site":"roulette","ctxt_country":"uk","ctxt_type":"virtual"},"@message":"order","@tags":["orderLogger"],"@type":"core"}

[2014-12-08 13:44] wiibaa opened #2197 "Warning about overriding patterns when using hash syntax in grok filter"
As grok filter match can now use a hash syntax, I switched from

    filter {
      grok {
        match => [
          "message", "pattern1"
          ,"message", "pattern2"
          ,"message", "pattern3"
        ]
      }
    }

to a no-comma paradise

    filter {
      grok {
        match => {
          "message"=> "pattern1"
          "message"=> "pattern2"
          "message"=> "pattern3"

[2014-12-08 14:19] dlangille opened #2198 "-syslog not logging to syslog"
From https://groups.google.com/forum/#!topic/logstash-users/A_FBYj9C-6U

I am using logstash-forwarder-0.3.1.20140829 on FreeBSD 9.3-RELEASE-p5

I'd like logstash-forwarder to log, to either syslog or a file.

I've tried various options with -debug, -syslog, and --log-to-syslog

Based on output such as this, I've concluded that -syslog and --log-to-syslog are identical:

$ sudo /usr/local/bin/logs

[2014-12-08 19:36] KensoDev opened #2199 "_jsonparsefailure being added to messages that seem to be parsed correctly"
I have a JSON input (configured like this)

[code]

The JSON message itself looks like this:

[code]

When this message is sent to Logstash it is being parsed correctly BUT the tag '_jsonparsefailure` is still being added.

Here's a screenshot from Kibana:

![kibana_3_-_response_codes](https://cloud.githubusercontent.com/assets/79502/5345672/3a0d1274-7f22-11e4-933f-7bc7b8df8ff0.png)

[2014-12-08 20:14] jordansissel opened #2201 "Missing `artifact:zip` rake target."

[2014-12-09 05:27] jordan-wright opened #2204 "Error setting up dev environment"
Trying to get development up and running with Ruby v.1.9.3:

[code]

I'll keep poking around, but I thought I'd get the experts involved early :smile:

[2014-12-09 06:56] 6A63 opened #2205 "S3 Input NoMethodError"
Using 1.4.2 with s3 input and the following configuration:

**My Config**

[code]

**Bucket Contents**

[code]

**Error**

[code]

[2014-12-09 10:32] pierrre opened #2206 "RabbitMQ input/output default codec"
In your documentation, the default codec is `plain`, but in your code it's `json`.

[2014-12-09 10:55] rabbbit opened #2207 "json filter stops parsing if a field/value pair already exists"
I'm not sure if I should be posting here on https://github.com/logstash-plugins/logstash-filter-json - please correct.

I found an issue with json filter when if:
- logstash_forwarder adds a field/value to the root of the message ( my case "environ:staging" )
- logstash tries to use:

[code]
- the same field/value exists in "message" (encoded as json), the parsing just stops at random point - the

[2014-12-09 11:34] #2207 closed, assigned to nobody

[2014-12-09 13:31] dlangille opened #2208 "PID not recorded"
It is helpful to have the PID for logstash-fowarder.  It is not recorded at present.

/var/run/logstash-forwarder.pid seems to be a logical default location, but configurable.

[2014-12-09 13:35] dlangille opened #2209 ".logstash-forwarder needs a default location"
It would be useful to have .logstash-fowarder in a default location, such as /var/db/.loststash-forwarder

ref:https://groups.google.com/forum/#!searchin/logstash-users/.logstash-forwarder$20file$20location/logstash-users/DYGt8ngR98c/Ldy29Andg5gJ

A configuration option would set any other location.

[2014-12-09 15:02] teu opened #2212 "RabbitMQ queues get deleted no matter what on shutdown"
Hi,

as much as we love logstash+elasticsearch, shipping with logstash-forwarder->logstash has proven to be quite unreliable (logstash getting overwhelmed quickly and some race condition bounding connections = logs lost), today we tested moving messages though beaver->rabbitmq->logstash.

The latter approach in theory should let us to process any number of logs (horizontally scaling on AWS) and re

[2014-12-10 00:47] #2204 closed, assigned to nobody

[2014-12-10 08:46] pulecp opened #2213 "plugin nagios_nsca doesn't work"
Hi,
I have problem with nagios_nsca plugin on following setup:

    logstash: 1.4.2-1_2c0f5a1
    kernel: 2.6.32-358.14.1.el6.x86_64
    java: version "1.7.0_25"
    OpenJDK Runtime Environment (rhel-2.3.10.4.el6_4-x86_64)
    OpenJDK 64-Bit Server VM (build 23.7-b01, mixed mode)

run of plugin is ending with following error:

<pre><code>
{:timestamp=>"2014-12-10T08:35:52.571000+0100", :message=>"

[2014-12-10 20:20] #2205 closed, assigned to ph

[2014-12-11 08:50] xiaohelong opened #2217 "if config(template) file code is not in utf-8,exception occurs"
it happens to me when the config (template)  is not encoded  in utf-8(no bom,viewed by notepad++),the execution will fail. my solution is to find a runnable config,copy and paste,finally modify. but the no hints about the error ,please ensure the problem dissappear in future release.
I am using 1.4.2

[2014-12-11 10:03] yaronr opened #2218 "Example for collectd config is incorrect"
In the docs:
      <Plugin network>
          <Server "10.0.0.1" "25826">
           </Server>
        </Plugin>

Should be:
    <Plugin network>
      Server "10.0.0.1" "25826"
    </Plugin>

Note! Must have newline after the last closing tag.

[2014-12-11 10:27] jsvd opened #2219 "rake test can't find plugins on the first run"
Running `rake bootstrap && rake test` will install the 6 plugins but the spec run will complain about the plugins missing:

[code]

Running `rake test` again will reinstall all plugins and then tests pass.

[2014-12-11 10:50] jsvd opened #2220 "running rake -T on a generated tarball invokes vendor:jruby"
`rake -T` should list available rake tasks, but instead executes `vendor:jruby` which downloads jruby:

[code]

[2014-12-11 11:32] #2183 closed, assigned to jsvd

[2014-12-11 17:27] #2039 closed, assigned to nobody

[2014-12-11 17:39] #2195 closed, assigned to jordansissel

[2014-12-11 17:55] #1523 closed, assigned to colinsurprenant

[2014-12-11 18:28] #2218 closed, assigned to nobody

[2014-12-11 20:25] colinsurprenant opened #2222 "DRY logstash/util/zeromq.rb in zeromq output and filter plugins"
both plugins have a copy of the same `logstash/util/zeromq.rb` file.

[2014-12-11 20:49] #2222 closed, assigned to nobody

[2014-12-12 02:42] #2217 closed, assigned to nobody

[2014-12-12 08:43] tombishop-83 opened #2223 "Forced to kill Logstash-1.4.2 process"
Hi,
i'm trying to parse a 500 lines csv file. There must be something wrong in my file, because everytime I launch the Logstash-1.4.2 script to parse, the process stops working and gets stuck indefinitely. If I press CTRL+C, it still holds in the same status. The only way to stop the process, is the inglourious kill -9. Below I pasted two different debug outputs i had, on two different runs.
Any h

[2014-12-12 09:15] #1903 closed, assigned to nobody

[2014-12-12 14:22] stp72 opened #2224 "Add newer_than option to file input."
I'm trying to use the logstash file input to ingest logs.  The directory structure is as follows /logs/YYYY/MM/DD/<log_file_name_with_date_time_stamp>.  It would be nice to be able to have a newer_than option in order to limit what files are ingested either by the file's date timestamp or via an expression to parse out the date timestamp from the file name.  It would also be nice if it could handl

[2014-12-12 14:48] dougmcclure opened #2225 "Logstash 1.50b1 custom patterns not read in at startup"
I had to explicitly add in the patterns_dir => ["/opt/logstash150b1/patterns"] setting in all of my multiline and grok filters in order for my patterns to be read in during start up even though they were in the default patterns directory.

These were the errors seen in debug:

The error reported is:
  pattern %{LATIMESTAMP} not defined
/opt/logstash150b1/vendor/bundle/jruby/1.9/gems/jls-grok-0.11.

[2014-12-12 15:23] dbeckham opened #2226 "Logstash plugin documentation renders very badly on mobile platforms."
The Logstash [plugin documenation](http://www.elasticsearch.org/guide/en/logstash/current/filter-plugins.html) in the newly released [1.5 Beta Guide](http://www.elasticsearch.org/guide/en/logstash/current/index.html) renders very badly on mobile platforms.  The lists in the middle and right side of the page overlap and are impossible to read and it's very difficult to find and click the link you a

[2014-12-12 15:39] dbeckham opened #2227 "The Logstash Ruby plugin documentation is incomplete."
The [Ruby plugin documentation](http://www.elasticsearch.org/guide/en/logstash/current/plugins-filters-ruby.html) is incomplete and only documents the basic configuration option details.

Specifically, the code configuration option is the most important part of the configuration options, but it is one of the least documented options.

Issues:
- There are no links to documentation or Logstash code

[2014-12-12 19:10] colinsurprenant opened #2230 "create getting-started template/example input/filter/output plugins"
we should provide example input/filter/output plugins developers can start with to bootstrap their dev environment.

[2014-12-12 20:48] colinsurprenant opened #2232 "DRY the gem installation rake tasks"
both `vendor.rake` and `plugin.rake` use the same code logic for installing gems, this should be DRY'ed up.

[2014-12-12 23:01] varman87 opened #2233 "Auto install missing plugins"
Since contrib package will not be used with logstash 1.5+ I't would be nice to have logstash auto install any missing plugins that exist in the config.

[2014-12-13 05:14] #1781 closed, assigned to jordansissel

[2014-12-13 09:59] #1247 closed, assigned to nobody

[2014-12-13 10:00] #1262 closed, assigned to nobody

[2014-12-13 10:04] #1349 closed, assigned to nobody

[2014-12-13 10:07] #1388 closed, assigned to jordansissel

[2014-12-13 10:08] #1403 closed, assigned to nobody

[2014-12-13 10:09] #1453 closed, assigned to nobody

[2014-12-13 10:10] #1506 closed, assigned to nobody

[2014-12-13 10:18] #1578 closed, assigned to nobody

[2014-12-13 10:22] #1658 closed, assigned to nobody

[2014-12-13 10:33] #2036 closed, assigned to kurtado

[2014-12-13 10:34] #2012 closed, assigned to suyograo

[2014-12-14 02:30] #1265 closed, assigned to nobody

[2014-12-14 02:32] #1464 closed, assigned to suyograo

[2014-12-14 03:17] suyograo opened #2238 "Migrate life-of-an-event to asciidoc"

[2014-12-14 07:05] comptonqc opened #2239 "Ridiculously long lumberjack message chokes logstash"
I came across a situation where, while shipping logs with logstash-forwarder into the lumberjack input plugin, one of the files contained a single line that was roughly 500KB in length. Attempting to process this line caused the logstash service to hang and mostly stop processing any other incoming messages.

I can replicate this situation with the following config:

`logstash.conf`

[code]

`logs

[2014-12-14 08:39] #1566 closed, assigned to talevy

[2014-12-15 09:20] freethenation opened #2240 "http://logstash.net/docs/1.4.2/repositories is over http"
Running `wget -O - http://packages.elasticsearch.org/GPG-KEY-elasticsearch | apt-key add -` over http is a bad idea. Your docs and the key should be served off of https.

[2014-12-15 11:25] nadalie opened #2241 "Logstash problem: message=>"Failed to flush outgoing items",<Errno::EBADF: Bad file descriptor - Bad file descriptor>"
Since a couple of months ago, I'm experiencing problem with logstash, in the logs I have several error like the following:

[code]

I have ElasticSearch 1.1.1 and Logstash 1.4.2, and the configuration for logstash is like this:

[code]

What is wrong? Is there any bug in Logstash? Should I upgrade it?

Thanks in advance/

[2014-12-15 11:55] Fodoj opened #2242 "Ensure "at least one" semantic"
Is there a way to ensure "at least one" semantic in logstash? I want to be sure that no events are lost between input and output. Typical example is:

1. In input - take a message from a queue
2. Send it to filters and output
3. If output succeeds (let's say I post message via http and "success" is 200 response) then remove message from queue.

So message is removed from queue _only_ if output suc

[2014-12-15 14:56] mrec opened #2244 "Pattern cache bug? Grok is matching (or not) based on pattern *name*"
Running 1.4.2 on Oracle Linux 6.4. I'm tweaking/testing with canned file input and a config file containing (among other things) a `grok` filter:

[code]

where the custompatterns are defined as

[code]

`STREAMSLOG` is intended to match both single-line log events and multiline ones with unformatted continuation lines, e.g. Java stacktraces. In it's current form I'm pretty sure it's correct.

**H

[2014-12-15 18:28] jchalos opened #2246 "Logstash does not properly pick up the last position in file on restart"
Symptom:  Logstash misses log events when using the file input if the logstash process is restarted or stops unexpectedly and is restarted.  It appears that the sincedb file is not being utilized on startup.

Utilizing 'start_from => "beginning"' will result in duplicate data and is not the intended behavior.  It should pick up the log from the last read position when re-starting.

Logstash versio

[2014-12-15 20:37] jasperla opened #2247 "Recommended ES version for 1.5 tag?"
What is the recommended version of elasticsearch to run a logstash server against? The `vendor.rake` file seems to suggest 1.3.0, but 1.1.1, 1.3.0 and 1.3.1 all fail for me.

This is with ES 1.3.1 and logstash built from the 1.5 branch.

es:

[code]

and logstash:

[code]

Any help would be appreciated so I can finish the OpenBSD package for logstash :)

[2014-12-15 21:22] #2247 closed, assigned to nobody

[2014-12-16 00:21] erik-stephens opened #2248 "Configurable log file format"
Logstash can't easily read its own log file.  It's [unable to decode/parse the awesome print format](https://github.com/elasticsearch/logstash/blob/v1.4.2/lib/logstash/codecs/rubydebug.rb#L17).  Would be nice to have an alternate log format such as JSON to make it trivial to have Logstash consume its own logs.

I wonder why I haven't seen anyone else comment on this yet.  Maybe worried about log s

[2014-12-16 00:33] #2248 closed, assigned to nobody

[2014-12-16 14:32] JacobVanAssche opened #2249 "Issue with Elasticsearch input plugin for Logstash"
Hello all,

I am running into an issue when using the Elasticsearch input plugin for Logstash.

I would like to retrieve information on various node statistics. So in the input plugin I specify the index to be “/_nodes/_local/stats/”.  However, this causes an error:

A plugin had an unrecoverable error. Will restart this plugin.
Plugin: <LogStash::Inputs::Elasticsearch host=>"XX.XX.228.80", index=

[2014-12-16 15:24] Goulart opened #2250 "email output plugin keeps only last options"
I have this config for logstash output section:
[code]
As it happens, logstash tries to send all messages to *smsgateway.addr.lz*
It looks as if only the last config override of the plugin is kept.
How can I use a different mail server for different conditions?
Thank you.

[2014-12-17 00:44] jamtur01 opened #2252 "The 1.4.2 bin/plugin is not working due to version inconsistency"
I tried to do

    $ bin/plugin install contrib

It downloaded a 0 byte file.

logstash-contrib-1.4.2-modified.tar.gz

The file name was based on the string pulled from lib/logstash/version.rb which is:

    LOGSTASH_VERSION = "1.4.2-modified"

This needs to be:

    LOGSTASH_VERSION = "1.4.2"

The error is in the logstash_1.4.2-1-2c0f5a1_all packages.

[2014-12-17 07:56] alejgamez opened #2253 "Bug whitelist_name in prune filter?"
Hi everyone,

 I have a problem with the whitelist of prune filter, I don't know if this filter has some bug . I want to insert some fields in Elasticsearch and the logstash insert more fields.

Thanks

[2014-12-17 10:08] mouzt opened #2254 "Failed to deserialize exception response from stream（repeat）"
log4j, [2014-12-17T17:36:26.739]  WARN: org.elasticsearch.discovery.zen.ping.unicast: [Growing Man] failed to send ping to [[#zen_unicast_1#][inet[/127.0.0.1:9300]]]
org.elasticsearch.transport.RemoteTransportException: Failed to deserialize exception response from stream
Caused by: org.elasticsearch.transport.TransportSerializationException: Failed to deserialize exception response from stream
	a

[2014-12-17 10:18] jsvd opened #2255 "Dependency rake tasks run twice and take too long"
I wrapped the task call with `puts Time.now` and two things are not right:

* 4 prints occur =>  the task is executed twice
* the task itself takes "0" seconds while the execution is 14 seconds long:

[code]

[2014-12-17 19:45] shufang opened #2257 "Multiple patterns applied to a single event caused confusion."
We have two kinds of log files need to be indexed. I created 2 input files and 2 filter files for each kind of the log files. In the filter files I have if statement to check if is type a, use type a's custom pattern, and if is type b, use type b's customer pattern. What I see from kibana later is that for a part of message, it has both patterns applied.  You can check this from the image I upload

[2014-12-17 20:12] cschotke opened #2260 "Logstash stops working if PagerDuty output encounters errors"
Our logstash environment has been taken down a couple times this week due to a misconfiguration in one of our config files with the PagerDuty output. It took us a long time to identify the issue. I'm wondering if there is any way to prevent this going forward or at least an easier way to pinpoint what is causing the issue in the future.

We typically process 5,000,000 + msgs per hour. We use the P

[2014-12-17 21:14] thehybridtechnician opened #2261 "Logstash1.5 - Removing tag in filter fails with undefined method delete"
Upgraded to 1.5Beta1 to test out functionality.  Attempting to remove a tag fails.  Below is a snippet from my configuration.

Filter configuration
filter {
  if [program] == "services_monitor" and [message] =~ /Current memory used by supervisor/ {
    grok {
      patterns_dir            => "/etc/logstash/patterns/dellPatterns"
      match           => [
        "message", "Current memory used by

[2014-12-17 22:21] ibigpapa opened #2262 "Filter Multiline"
"Moving https://logstash.jira.com/browse/LOGSTASH-631 to Github

Rails production.log has two empty lines in between each event. My multiline filter with pattern "\n\n" is not matching and I know for sure I have two newlines.
Here is the filter I tried which isn't working with a typical rails production.log:
multiline
{ type => "rails_prod_log" pattern => "\n\n" negate => "true" what => "previous"

[2014-12-17 23:06] adriannotimportant opened #2263 "First steps out of synch with release"
first line in getting started guide is:

bin/logstash -e 'input { stdin { } } output { stdout {} }'

That does not work because the commands have changed. The documentation does not reflect that.

[2014-12-18 01:40] bitsofinfo opened #2264 "Any plan to eval/merge outstanding contrib/plugin pull requests before starting yet another project?"
After reading this: http://www.elasticsearch.org/blog/plugin-ecosystem-changes

I see that there is now yet another copy of the plugins projects, and there are still 25 issues and 70+ outstanding pull requests from the old "logstash-contrib" project @ https://github.com/elasticsearch/logstash-contrib.

Why not merge these in before starting yet this second version of the plugins? Isn't this going

[2014-12-18 08:48] dduft opened #2265 "Developing plugins for logstash >= v1.5.0"
Since the new plugin-mechanism with v1.5.0, where the plugins are fetched from rubygems. For development what would be the proper way, running/debugging my own plugin without posting to rubygems for every change?

[2014-12-18 20:51] #2240 closed, assigned to nobody

[2014-12-18 21:03] #2244 closed, assigned to suyograo

[2014-12-18 21:13] #2201 closed, assigned to nobody

[2014-12-18 21:18] #2208 closed, assigned to nobody

[2014-12-18 21:27] #1659 closed, assigned to nobody

[2014-12-18 21:28] #2165 closed, assigned to suyograo

[2014-12-18 21:32] #2239 closed, assigned to nobody

[2014-12-18 21:57] #2249 closed, assigned to nobody

[2014-12-18 22:37] #2142 closed, assigned to nobody

[2014-12-18 23:46] #2098 closed, assigned to purbon

[2014-12-18 23:59] mefforda-avalon opened #2267 "Logstash email SMTP options documentation needs work"
The documentation around custom SMTP connections on the outbound email connector is inadequate and inaccurate.  It appears it is a cut and past from the Ruby Mail documentation and following does not result in a working config.

More specifically, the options block is listed as an hash, but when using a hash the options are ignored.  If however you encode those options as an array they do seem to

[2014-12-19 00:00] suyograo opened #2268 "Mutate convert option is creating an extra field"
[code]

This was discovered originally in https://github.com/elasticsearch/logstash/issues/1823

[2014-12-19 00:00] #1823 closed, assigned to jordansissel

[2014-12-19 00:41] #2225 closed, assigned to suyograo

[2014-12-19 00:44] #2060 closed, assigned to nobody

[2014-12-19 00:47] #2042 closed, assigned to nobody

[2014-12-19 00:54] #1910 closed, assigned to nobody

[2014-12-19 01:07] #2232 closed, assigned to purbon

[2014-12-19 01:24] #2077 closed, assigned to jordansissel

[2014-12-19 01:27] #1473 closed, assigned to suyograo

[2014-12-19 08:38] #2219 closed, assigned to purbon

[2014-12-19 10:31] #2168 closed, assigned to purbon

[2014-12-19 13:49] mrec opened #2271 "grok should ignore tilde backup files when processing patterns_dir"
(This comes from the discussion of #2244)

When testing a config using grok and custom patterns, a user will often be editing pattern definition files in `patterns_dir` between run attempts. Many (most?) Linux-ey text editors create backup files, named as the original filename plus a `~` suffix, in the same location as the original; even though they aren't hidden these are often invisible by defau

[2014-12-19 16:20] #2223 closed, assigned to nobody

[2014-12-19 16:28] tombishop-83 opened #2273 "Logstash - Date Plugin - What's wrong ?"
I provided two date format, but only one seems to work. Despite all three lines are being matched. Briefly, here is my config

input{
 stdin {
   type => "DefaceTimestamp"
 }
}

filter{
  grok{
   match => { "message" => "%{DATESTAMP:DefaceTimestamp}|%{TIMESTAMP_ISO8601:DefaceTimestamp}" }
  }
  date{
   match => ["DefaceTimestamp","dd/MM/yyyy HH:mm:ss", "yyyy-MM-dd HH:mm:ss"]
   timezone => "UTC"

[2014-12-21 08:03] kxr opened #2275 "Quotes being escaped"
Hi,

I am running a ELK stack setup (udp_input->logstash->elasticsearch). I am using the "udp" input method on port 514 to get the syslog messages.
(I switched from "syslog" input to "udp" input because one of the major appliance (barracuda WAF) is not using a standard syslog format that the syslog-input in logstash can understand.)

The problem I am facing is quite odd. Some of the log messages (

[2014-12-22 06:59] CMGS opened #2276 "logstash can not bind udp port?"
I  got a error when I start logstash with udp input. My config like

[code]

After I start logstash I got

[code]

Then I use strace to trace network progress, logs here https://gist.github.com/CMGS/bd5cc7869b199b2ed695

Anyone can help me to fix it?

[2014-12-22 17:46] jsvd opened #2278 ""bin\logstash -f file.conf" should work like it does in *nix"
In *nix environments it's possible to run logstash with just `bin/logstash -f file.conf`, or `bin/logstash -e 'config_string'`

On windows both of these generate `No such command "-X"`, it's necessary to use the `agent` option.

This interface should be as similar as possible in all environments.

[2014-12-22 17:52] jsvd opened #2279 "default plugins that depend on murmurhash3 fail to install"
On my windows 7 w/ mingw I couldn't install all default plugins because murmurhash3 native ext c code failed to compile.

More details in https://github.com/funny-falcon/murmurhash3-ruby/pull/5

The fix in this environment requires a new release of murmurhash3

[2014-12-22 20:37] patcable opened #2281 "Logstash having trouble accessing a file it has permissions to access"
Hi!

I'm trying to reuse Puppet keys for Lumberjack (since they're already distributed on all my hosts anyways). This is on CentOS 7.

I have lumberjack set as an input:
[code]
I added the `logstash` user to the `puppet` group, and i'm able to run `sudo -u logstash cat /var/lib/puppet/ssl/{...}` etc. (I can run `ls` too)

I'm getting an error when I try to start logstash:
[code]
Which is odd, beca

[2014-12-22 21:01] jasperla opened #2282 "multiline matching woes"
I'm having a hardtime understanding how to make logstash match my given input.

The log file looks like this, though it may have multiple indented lines like "Storage", "Job", etc:

[code]

The input is very irregular, which makes this even harder, but my config looks like:

[code]

However this results in only parsing of the second part:
[code]

Should I perhaps have some logic in the filter{} bl

[2014-12-23 02:02] #2276 closed, assigned to nobody

[2014-12-23 10:05] #2265 closed, assigned to kurtado

[2014-12-23 10:05] igor-derzhavin opened #2284 "Memory leak"
Hi, all. I use logstash 1.4.2 and I run into a memory leak on my server. This is a graph from Zabbix:
![logstash](https://cloud.githubusercontent.com/assets/8733909/5536355/77bf0ae8-8aa1-11e4-8ea2-f6ac2d09e50c.png)

15.12 - logstash has been restarted (manually).

Server config:
Ubuntu 14.04 LTS
java version "1.8.0_25"
Java(TM) SE Runtime Environment (build 1.8.0_25-b17)
Java HotSpot(TM) 64-Bit Se

[2014-12-23 12:41] OlesyaShell opened #2286 "Multiple field patterns for message"
Hi!
Need to extract all fields from the events. Any fields that may not be or may be in a different order.
Examples:
<6> CEF:0|Stonesoft|IPS|5.2.6|271281|HTTP_SLS-Successful-Status-Code|1|spt=60494 deviceExternalId=IPS-1030 (moff) Sensor dmac=E4:C7:22:A4:17:E4 dst=192.168.0.1 requestMethod=GET cat=Protocol Information requestURL=www.ttttt.org app=HTTP rt=Dec 17 2014 20:18:49 act=Permit proto=6 dpt

[2014-12-23 12:49] #2278 closed, assigned to nobody

[2014-12-23 12:58] jsvd opened #2287 "bin\plugin does not work on windows"

[2014-12-23 13:11] dennusb opened #2288 "Possible to export to plain?"
Hi,

I want to use logstash to get logs out of RabbitMQ and back in to plain text files. It is working but it is placing everything in JSON in the file... can i get only the "full_message" field without JSON in my output file?

[2014-12-23 13:43] dennusb opened #2289 "DNS Filter not doing what expected"
Hi,

I have this DNS filter :

filter {
        dns {
                reverse => [ "source" ]
                action => [ "replace" ]
        }

}

From which i expected that it will reverse DNS the source field and then replace it with the new value (DNS name). But it puts the dns new in a new field called "logsource". Why is that?

[2014-12-23 14:17] ESamir opened #2290 "Add Support of the CEF format"
Can you add support of CEF format  as input and output in logstash
to be able to support  different scenario
to send data from Arcsight ESM or any device that support cef format  -> logstash -> Elasticsearch
From Elasticsearch -> logstash -> Arcsight ESM

[2014-12-23 14:47] carroarmato0 opened #2291 "Grok fails to parse simple logs with %{COMBINEDAPACHELOG}"
Hi,

I'm running logstash-1.4.2-1  and getting  "tags": [ "_grokparsefailure" ],   on the following kind of logs:

<133>Dec 23 15:31:15 mediasalsa05 mds-acc 10.0.64.1 - - [23/Dec/2014:15:31:13 +0100] "GET / HTTP/1.1" 302 311 "-" "check_http/v1.4.16 (nagios-plugins 1.4.16)"

I used the following grok filter to recognize this pattern:

<%{POSINT:syslog_pri}>%{SYSLOGTIMESTAMP:syslog_timestamp} %{SYSL

[2014-12-23 15:42] robshep opened #2292 "Elasticsearch recommended version is very vunerable by default."
Suggested note for the documentation.

The recommended version of elastic search is vulnerable to a remote exploit.  CVE-2014-3120

I suggest modifying the documentation to highlight the fact that security needs to be applied by default on this version.

Kibana needs direct access to the elastic search endpoint.

It is obviously quite out-of-scope for you to be concerned with production-grade oper

[2014-12-23 15:54] #2279 closed, assigned to nobody

[2014-12-23 15:57] #1603 closed, assigned to nobody

[2014-12-23 16:28] zhenghu opened #2293 "logstash 1.4.2 parsed message do not put in @fields{}"
With logstash 1.4.2, the parsed message do not put in "@fields":{ }.
Is that an evolution or an issue?

[2014-12-23 20:09] #2291 closed, assigned to nobody

[2014-12-23 20:29] #2288 closed, assigned to ph

[2014-12-24 06:05] #2290 closed, assigned to nobody

[2014-12-24 11:19] #2289 closed, assigned to nobody

[2014-12-26 13:28] Karen09 opened #2295 "Drupal en host filtering"
i just recieve crashing form grok filter when i add this code`s to my logstash config file
any idee how to solve it ?

that is default config which worked
filter {
      grok {
        match => ["message", "<%{POSINT:syslog_pri}>%{SYSLOGTIMESTAMP:syslog_timestamp} %{SYSLOGHOST:syslog_hostname} %{PROG:syslog_program} %{COMBINEDAPACHELOG}"]
      }

and i have added for drupal
      grep {
        t

[2014-12-27 00:53] tebriel opened #2296 "Testing Existence of Nested Field Creates Nested Fields"
## Problem

Testing for the existence of nested fields leaves the breadcrumbs of the field walk. If you test for event.b.c.d and b, c, and d don't exist, your event ends up looking like event.b.c, but d is still missing.
## Seen In

[code]
## Example Config and Output

https://gist.github.com/tebriel/3bb69d64d9bfc276f713
## Workaround

You can have an `else` clause that removes the fields, but you

[2014-12-27 16:16] CCMBChina opened #2297 "why occur typeerror when i use logstash-web"
when i  use logstash-web to test,the problem occurs as follow：
 TypeError：cannot convert instance of class org.jruby.RubyArray to int
         exit at /opt/logstash/lib/logstash/program.rb:10
         main at /opt/logstash/lib/logstash/runner.rb:86
         (root) at /opt/logstash/lib/logstash/logstash.rb:210
how to resolve?

[2014-12-28 00:59] #2296 closed, assigned to nobody

[2014-12-28 15:55] eyalc10 opened #2298 "after logstash upgrade to 1.5 - uninitialized constant Grok::Pile"
Hi,

I receive the following error after upgrading to logstash 1.5.
if grok clause is removed from the configuration - it works fine .
( I use grok for the pattern specific files ), all worked well in the previous release : 1.4.2

-----
Using milestone 2 input plugin 'file'. This plugin should be stable, but if you see strange behavior, please let us know! For more information on plugin milestones

[2014-12-29 11:09] purbon opened #2299 "Time difference calculation in logstash"
In the scenario where you can to calculate a difference between two timestamps in an event, for example to calculate the elapsed time, there are no filters, or options within LogStash to do it, except of using a very simple ruby filter.

For example:

[code]

As this is expected to be a common operation, it would be easier to have this integrated within the flow. There are some options to implemen

[2014-12-29 20:56] #1871 closed, assigned to nobody

[2014-12-29 23:39] bfx81 opened #2301 "document if file input support inotify"
On this old jira entry seems that file input plugin support inotify since version 1.0
https://logstash.jira.com/browse/LOGSTASH-39

But looking at the docs http://logstash.net/docs/1.4.2/inputs/file
it's not mentioned, and the following option really sounds like a polling source.

[2014-12-30 10:54] #2178 closed, assigned to talevy

[2014-12-30 10:56] #2268 closed, assigned to talevy

[2014-12-30 12:46] momok2 opened #2302 "extract Jsons from Jolokia"
Hi all,
have Logstash feature to extract Jolokia Data ?

[2014-12-31 10:47] kosfar opened #2303 "riemann output crashes logstash"
Hello,
i tried to use something like this (LS version 1.4.2):
output {
...some other config here...

if [proc_name] == "kernel" and [syslog_severity] != "informational" {
   riemann {
    map_fields => true
     riemann_event => {
       "service"   => "Kernel traces"
        "state"    => "%{syslog_severity}"
     }
   }
 }

...some other config here...
}

but when an event that matches reaches t

[2014-12-31 10:54] SysFiller opened #2304 "Grok - Syslogbase pattern throws exception"
Hi I'm trying to apply a very simple Grok pattern with logstash 1.4.2 (installed via rpm):

grok {
        match => [ "message", "%{SYSLOGBASE: message}" ]
        add_tag => ["syslog"]
    }

When I start logstash it starts throwing exceptions:

{:timestamp=>"2014-12-31T10:52:16.694000+0000", :message=>"Grok regexp threw exception", :exception=>"undefined method `match' for false:FalseClass", :le

[2014-12-31 14:03] #1553 closed, assigned to nobody

[2014-12-31 14:17] electrical opened #2305 "if directory structure has 'rspec' in the name it fails to startup logstash"
To make sure we don't startup logstash when running checks via rspec we do a check at https://github.com/elasticsearch/logstash/blob/master/lib/logstash/runner.rb#L200
This however also catches anything that has 'rspec' in any part of the path of the file.
In my case i have 'rspec' in one of the directory names.

We should improve the check.

[2015-01-01 13:14] abualy opened #2306 "new year bug for the output elasticsearch_http index name"
Hello!
With the new year,  i got my new log events for the 01/01/2015, indexed with the index name: 2014.01.01,
![logstash_bug_new_year](https://cloud.githubusercontent.com/assets/2552664/5592207/2dee2544-91b7-11e4-8e15-c7b8d3160833.jpg)

i had to restart Logstash to index the new logs with the index name 2015.01.01

here is my logstash output conf:
[code]

[2015-01-01 14:37] jpyth commented on #2306
Same issue, same style config. Using YYYY-MM-DD syntax.

Had to restart the initial indexer.

[2015-01-01 17:40] untergeek commented on #2306
I do not have this problem.
[code]
- How are your logs being sent *to* Logstash (as you've only included your output block)?
- How is the `@timestamp` extracted (since you've omitted the grok and/or date filter blocks)?

[2015-01-01 18:07] wiibaa commented on #2306
Can you confirm that you are using date filter with a format not containing the year (or syslog input)
Similar issues (from last year)
* https://logstash.jira.com/browse/LOGSTASH-1574
* https://logstash.jira.com/browse/LOGSTASH-1744

[2015-01-01 18:21] abualy commented on #2306
@wiibaa : yes, i'm using a date filter not containing the year
[code]
btw i'm using Logstash_1.4.2-1-2

@untergeek :
  - for the logs i'm using the udp input (no custom config, standard one), rsyslog as a sender

[2015-01-02 00:36] markwalkom opened #2307 "Old java version dependency on RHEL/CentOS"
Was doing some testing today and noticed that when using the repo, Logstash 1.4.2 depends on `java-1.6.0-openjdk`, which is not very nice :(

We should push this dependancy to `java-1.7.0-openjdk` so it aligns with Elasticsearch's requirements and in case people try to install them on the same host (as I did).

[2015-01-02 07:23] Bloodevil commented on #2306
I have same issue. I used two type of filter like below, so I had a two type of elasticsearch index like "logstash-2014.01.01" and "logstash-2015.01.01".

UDP input
    date {
      match => [ "syslog_timestamp", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss" ]
    }

file input
  date {
    match => [ "timestamp" , "dd/MMM/yyyy:HH:mm:ss Z" ]
  }

[2015-01-02 09:46] flaurencin opened #2308 "TIMESTAMP_ISO8601 fails since 2015"
Hi there,

Here is the kind of log I have :
"2015-01-02T10:31:10+01:00 192.168.1.1 notice Jan  2 10:31:10.721 CET: %DOT1X-5-FAIL: Authentication failed for client (aaaa.aaaa.aaaa) on Interface Gi1/0/X AuditSessionID XXXXXXXXXXXXXXXXXX"

When I try
        grok {
            match => { "message" => "%{TIMESTAMP_ISO8601:syslog_host_time} %{GREEDYDATA:message}"}
            add_tag => [ "cisco_ios" ]

[2015-01-02 09:55] wiibaa commented on #2308
Indeed I see nothing wrong in your pattern but are you sure this filter was executed at all, your event should either have the cisco_ios or _grokparsefailure tags

[2015-01-02 10:06] flaurencin commented on #2308
You're absolutely right. My problem is due to the fact that i did not reach the filter at all.

Sorry for the noise.

Best regards.

/Fred

[2015-01-02 10:07] wiibaa commented on #2308
@flaurencin no problem, just can you please close the issue. Happy new year!

[2015-01-02 10:08] #2308 closed

[2015-01-02 15:09] upbalshetwar opened #2309 "syslog agent is not excuting"
Hi,

when I am trying to excute syslog agent through runner.class
it throws exception
Exception is:
throws exception on running logstash (LoadError) load error: shared/jruby-openssl -- java.lang.ExceptionInInitializerError: null

Used jar file:logstash-1.3.2-flatjar.jar

[2015-01-02 15:11] upbalshetwar opened #2310 "Regarding jar file creation"
Hi,

Can I create latest jar file for logstash using latest GITHUB.
if yes then what is process or steps to generate jar file

so can I execute tarball in java
I think no as per my understanding
so can I create jar file for latest code because same I am trying to use in my java application

[2015-01-02 15:12] electrical commented on #2310
Hi,

We have dropped the jar file creation for logstash 1.5 and later.
you can now create a tarball with `rake artifact:tar`

[2015-01-02 15:31] electrical commented on #2309
Hi,

its best to upgrade Logstash since 1.3.2 is pretty old
current GA version is 1.4.2

[2015-01-02 17:56] CullyB commented on #2306
Confirm this happened with me as well; I also had a partial index for 2015.01.01, but I assume that was due to logstash rolling to a new index at midnight UTC; my logs stopped parsing after localtime rolled over to the new year.  Like others - a restart fixed it, now just need to go back and uncompress the old logs and feed them in.

[2015-01-02 19:15] dweinstein commented on #2056
So what's the way to fix/get rid of this error?

[2015-01-02 19:46] electrical commented on #2056
When running Logstash with node protocol ( which is by default ) its part of the cluster.
Kibana sees that as an other node which has an to older version of ES.
if you run LS with the ES output set to protocol => transport  it should solve the issue.

[2015-01-03 00:26] cheechun2005 commented on #2306
Logstash 1.4.2-1-2c0f5a1 + elastichsearch 1.4.2 user affected here as well. Current logstash configuration is here -> https://gist.githubusercontent.com/anonymous/652bf2142ca989854fe1/raw/a1dd31e0fcd4b47cf689bf12f2244f2e0bd577ff/gistfile1.txt

In my case, logstash not only creates index logstash-2014.01.0, but also logstash-2013.12.31 :

2:[2015-01-01 00:00:01,670][DEBUG][indices

[2015-01-03 12:02] darkwarriors commented on #2306
same bug with date logstash filter that parse syslog timestamp, Logstash create 2014.01.01 insted of 2015.01.01, by restarting the process we solve the problem.

seems that LS takes the year at start-up process time with if you have the date filter on and it didnt take the current system date.

regards.

[2015-01-03 18:38] jpyth commented on #2306
Hi,

Can confirm we were using syslog input on the impacted logs. Our setup is syslogs into an indexer, no filtering, into an MQ then additional indexers down stream.

I had to restart the initial indexer that is taking just syslog input to resolve the issue. -- Full disclosure; I had already restarted the down stream indexers but the issue was not resolved. In hindsight; I think only the initial(

[2015-01-03 23:31] arohter commented on #2306
Same issue here.
Syslog input timestamp match  => [ "syslog_timestamp", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss" ]
Restart of logstash fixes the year.   Appears to be https://github.com/logstash-plugins/logstash-filter-date/issues/3

[2015-01-04 09:44] kosfar commented on #2303
Yeah, it seems to be related.

[2015-01-04 23:15] jianfengye commented on #2056
i use kibana 3.0.1 not the one which in logstash. the versions follow the download page:http://www.elasticsearch.org/overview/elkdownloads/

[2015-01-05 09:35] bjolivot commented on #1663
Same issue for me, need to re-open a lot of index.
Is it possible to add a check in logstash elasticsearch output plugin for closed index ?
Or in Elasticsearch to auto-open closed index when asked by logstash ?

[2015-01-05 09:41] jordansissel commented on #1663
We will never discard things by default. However, we are working on a new feature in Logstash to help with failures (error that we can't reasonably recover from by waiting or other action by Logstas itself) - we'll soon (Logstash 2.0, I think) allow you to funnel such failures to a dead letter queue which wlil allow logstash to continue working under certain failures. The dead letter queue would t

[2015-01-05 10:03] jordansissel commented on #2130
@lexelby @bscruzpt what version of logstash?

[2015-01-05 10:06] jordansissel commented on #2130
I agree. We'll make sure it gets fixed! Sorry you've spent so much time on this.

[2015-01-05 10:09] jordansissel commented on #2130
On my "what version" question - I see in the stack trace meniton of "logstash.jar" which means you're running Logstash v1.3.3 or older.

I don't know if this solves anything for you, but Logstash 1.4.0 added a ton of text encoding fixes. Notably some automatic correction for really-poorly-encoded text, as well as warnings being logged at *input* time about bad text encoding (prior behavior was to

[2015-01-05 10:34] upbalshetwar opened #2311 "Regarding jar file creation"
can I execute tarball in java
I think  as per my understanding answer is "No"
so can I create jar file for latest code GITHUB
 so same I can try to use in my java application

[2015-01-05 10:50] finklemcgraw commented on #1700
Had a similar problem on OS X 10.10.1 with locale:

    LANG="sv_SE.UTF-8"

Explicitly setting the locale to EN solved it for me:

    date {
        locale => "en"
        match => [ "timestamp" , "dd/MMM/YYYY:HH:mm:ss Z" ]
    }

[2015-01-05 12:54] bscruzpt commented on #2130
Hey @jordansissel , I'm using version 1.4.2, having installed Logstash in RedHat (via logstash-1.4.2-1_2c0f5a1.noarch.rpm)

[2015-01-05 13:06] wiibaa commented on #2309
@upbalshetwar can you please explain why you want to stick with java execution instead of bin/logstash agent ? are you wrapping the runner.class in your java app ?

Aside can you please comment on this issue only and closes #2311 #2310

[2015-01-05 13:26] lexelby commented on #2130
You're right that I was running pre-1.4 -- 1.3.1, I believe.  However, when I created this issue, I read the code for 1.4 (and 1.5, I think) and verified that the issue is still present.  Check the code; an exception in an output still means that the output thread dies and nothing will read from the SizedQueue.

[2015-01-05 13:44] lexelby commented on #2130
The relevant section from trunk:

https://github.com/elasticsearch/logstash/blob/master/lib/logstash/pipeline.rb#L225

Input crashes result in a retry:

https://github.com/elasticsearch/logstash/blob/master/lib/logstash/pipeline.rb#L187

A crash in one filterworker thread causes all filters to be torn down (?!):

https://github.com/elasticsearch/logstash/blob/master/lib/logstash/pipeline.rb#L222

[2015-01-05 13:58] roflmao opened #2313 "Wrong in metrics docs?"
Trying to do the example from: http://logstash.net/docs/1.4.2/filters/metrics

This codeblock:
[code]
Gives me:

[code]
Running logstash 1.4.2-1-2c0f5a1

[2015-01-05 14:10] untergeek commented on #2311
That is unsupported.  What do you need Logstash code in your java application for?  Might you be better served using the https://github.com/logstash/log4j-jsonevent-layout project or one of the others like it?

—Aaron

On Mon, Jan 5, 2015 at 3:35 AM, Umesh Balshetwar <notifications@github.com>
wrote:

[2015-01-05 14:14] checkmypi commented on #2306
+1
Same issue

[2015-01-05 15:04] rtoma opened #2314 "Use of unset scriptname variable in init scripts"
Files:
pkg/logstash-web.sysv.redhat
pkg/logstash.sysv.redhat
pkg/logstash-web.sysv
pkg/logstash.sysv

... contain:

[code]

But $SCRIPTNAME is never set. It probably should be set with something like:

[code]

[2015-01-05 15:50] ph commented on #2313
The documentation is misleading, the stdout plugin only support the codec option.
You could use the rubydebug codec to see the metrics data.
[code]

[2015-01-05 15:57] ph commented on #2313
This bug is already fixed in the new release of the plugin.
You can use the line codec to achieve the same result than with the 'message' option.

[code]

[2015-01-05 15:57] #2313 closed

[2015-01-05 17:42] dadoonet opened #2315 "Support Locale for date parsing in sprintf format"
When parsing a date with `sprintf`, we use by default the local `Locale`.

For example:

[code]

could produce something different when running on a french computer than on an english computer: `14/déc./2014:00:13:42 +0000` vs `14/Dec/2014:00:13:42 +0000`.

It could be nice to specify for a date the Locale we want to use whatever is set on the computer.

`%{+LOCALE@DATE_FORMAT}` such as:

[code]

[2015-01-05 17:55] jordansissel commented on #2306
Let's continue the discussion here: https://github.com/logstash-plugins/logstash-filter-date/issues/3

I have proposed a fix, but I want to make sure we get all the use cases covered and tests written so we can make sure this is a solid fix :)

[2015-01-05 17:56] jordansissel commented on #2306
(Closing in favor of discussing here: https://github.com/logstash-plugins/logstash-filter-date/issues/3)

[2015-01-05 17:56] #2306 closed

[2015-01-05 18:28] momok2 opened #2316 "indexing Json objects in Elasticsearch with java"
Hi,
i wan to index Json objects from Jolokia in Elasticsearch
can i do this in java ?

Thanks

[2015-01-05 18:37] jsvd commented on #2137
Space saved by removing duplicate jars: 23mb

[code]

[2015-01-05 19:41] ph commented on #2307
We changed how we are building the RPM/DEB in 1.5 and we don't specify a dependency on java for the packages. More details in the code: https://github.com/elasticsearch/logstash/blob/master/rakelib/artifacts.rake#L189-L201

[2015-01-05 19:46] wiibaa commented on #2316
@momok2 is this not the exact same question than #2302 please avoid duplicates.

I had a quick look to Jolokia, it seems to only expose an http endpoint and Logstash does not have a generic http input yet.
But indeed you could try to write your own solution talking to elasticsearch in java either using a generic REST client (jersey?) or the dedicated API, the 2 following links could help you getti

[2015-01-05 19:50] #2304 closed

[2015-01-05 20:05] #2284 closed, assigned to suyograo

[2015-01-05 21:26] #1906 closed

[2015-01-06 06:19] suyograo commented on #2220
Fixed via https://github.com/elasticsearch/logstash/pull/2229

[2015-01-06 06:19] #2220 closed

[2015-01-06 07:54] marksmithson commented on #2252
Work around before running plugin install:
`sed -i 's/1.4.2-modified/1.4.2/g' /opt/logstash/lib/logstash/version.rb`

[2015-01-06 09:48] roflmao commented on #2313
Shouldnt these messages go to the logfile when run as a daemon? Dont get any lines in /var/log/logstash/logstash.log

[2015-01-06 10:45] mrmanc commented on #1509
Hello. Awesome work here. I understand from reading that the conclusion was not that there was a memory leak, rather a build up of blocked filter threads caused by slow outputs (and a lack of back pressure to the input source). Is back pressure being implemented in 1.5.0?

[2015-01-06 12:36] wiibaa commented on #2316
@momok2 the point is that I do not catch the difference between the 2 tickets because in both you refer to Jolokia content.

Indeed Logstash has a JSON codec but **no http input**. Again, could you please shortly describe what kind of polling you would like to do on your Jolokia endpoint, maybe a solution could be found using existing logstash plugins, for example maybe a config similar to this wo

[2015-01-06 12:52] momok2 commented on #2316
Hi @wiibaa thanks for your interest
i want to extract Solr-metrics with jolokia and when i send request like "http://myhost/jolokia/read/solr!/MySolrInstance:type=searcher,id=org.apache.solr.search.SolrIndexSearcher/"
i get a Json response where i have the metric what i need.
i want to index all responses in elasticsearch and visualise it in Kibana.
i hope you have an Idea to help me

[2015-01-06 12:59] wiibaa commented on #2316
is this url static? If you simply need to call the same URL every x seconds, then the logstash exec input is a good candidate to try.

[2015-01-06 13:02] momok2 commented on #2316
i want to extract more metrics and for each metric is an URL needed
can i use the exec input for more urls ?

[2015-01-06 13:08] wiibaa commented on #2316
if you are sure that each response is only one line, maybe you could group all your curl in a shell script and use [json_lines codec](http://logstash.net/docs/1.4.2/codecs/json_lines) I suppose ?

[2015-01-06 13:10] momok2 commented on #2316
a response look like this :
{"request":{"mbean":"solr\/MySolrInstance:id=org.apache.solr.search.SolrIndexSearcher,type=searcher","type":"read"},"value":{"coreHashCode":"2065434214","reader":"StandardDirectoryReader(segments_3:5:nrt _0(4.10.2):C2 _1(4.10.2):C4)","deletedDocs":0,"registeredAt":"2015-01-06T13:42:31+01:00","description":"index searcher","indexVersion":5,"source":null,"version":"1.0","

[2015-01-06 13:17] wiibaa commented on #2316
seems to be unformatted and on one-line indeed, so what I propose should be achievable

[2015-01-06 13:19] momok2 commented on #2316
you think i can use the json_lines codec to do this ?

[2015-01-06 13:23] wiibaa commented on #2316
did not actually test it but that's the main purpose of this codec when used with stream input like tcp/udp, so it's worth a try :)

[2015-01-06 13:26] momok2 commented on #2316
ok thanks i try it
can you help me to write the curl commands in a shell ??

[2015-01-06 13:33] wiibaa commented on #2316
Really? Nothing difficult, you just have to write one curl by line and use echo to insert a newline
Create a file jolokia-metrics.sh and use its absolute path in the `command => ` config
[code]

[2015-01-06 13:36] momok2 commented on #2316
Thank you @wiibaa

[2015-01-06 13:42] wiibaa commented on #2316
Obviously you now want to change your exec input config to call your script file

input {
  exec {
    **command =>** "/absolute/path/to/jolokia-metrics.sh"
    interval => 60
    codec => json_lines
  }
}

[2015-01-06 13:46] momok2 commented on #2316
Ok thanks
i'll try it and i tel you if this works

[2015-01-06 15:05] ph commented on #2313
I don't think we save the stdout to the `/var/log/logstash.log`, the `stdout` output is mostly for testing when you run logstash interactively from the command line. If you start it from the command line you can also use the `--verbose` or the `--debug` flag to get more info.

[2015-01-06 16:01] nadalie commented on #2241
Sorry for not answering before, I was out for holidays.
The maximun number of file descriptors is set to 64k:
I have already set to the maximum (to 64k):

      "process" : {
        "refresh_interval" : 1000,
        "id" : 862,
        "max_file_descriptors" : 65535,
        "mlockall" : false
      }
And for the logstash process is set to maximum 10000 open files in /etc/security/limits.conf.
E

[2015-01-06 16:01] jamtur01 commented on #2252
Any progress on this? It's still biting folks.

[2015-01-06 17:00] suyograo commented on #2298
@eyalc10 did the java version fix your issue? Seems like you also got beyond the grok error?

[2015-01-06 17:25] ph commented on #2250
This is a bug, when we start logstash we are registering a new plugin instance for each block of configuration. Plugins are usually self contains and don't try to change global settings, this is not the case with the email plugin.

The plugin overrides the global defaults for sending email, this is why your configuration is trying to use the `smsgateway.addr.lz` which is the last declared smtp. se

[2015-01-06 18:40] eyalc10 commented on #2298
Yes,  although I didnt have the chance to run a clean pkg

Regards,
Eyal Cohen

On Jan 6, 2015, 19:01, at 19:01, Suyog Rao <notifications@github.com> wrote:

[2015-01-06 20:11] colinsurprenant commented on #1921
for intervals, this gem https://github.com/hpoydar/chronic_duration could be used.

[2015-01-06 20:19] jordansissel commented on #1921
I'd prefer supporting either ISO8601 durations or Elasticsearch's duration syntax. chronic_duration seems english-focused and may not do support ISO8601 or ES-style durations?

[2015-01-06 20:19] colinsurprenant commented on #1921
+1 for ES consistency

[2015-01-07 09:27] talevy commented on #1921
Do we want our prefixes to be in base-1024, or base-1000?
`1MB = 1000KB` VS `1MB = 1024KB`

[2015-01-07 09:28] talevy commented on #1921
Do we want to follow this policy for sizes?
https://wiki.ubuntu.com/UnitsPolicy

[2015-01-07 12:02] talevy commented on #1921
PR for this issue: https://github.com/elasticsearch/logstash/pull/2321

[2015-01-07 12:03] vasekch commented on #2241
I had issue with very same symptoms. I'm running the same versions of LS and ES as described, I have it in containers with lot of resources.

My issue was that output -> elasticsearch -> host was set to just hostname "es1" and my search domain in resolv.conf was in wrong order, so I got public IP, where is forbidden to access elasticsearch port 9200. I provided FQDN (or just IP) and everything sta

[2015-01-07 12:31] asmaps opened #2322 "RabbitMQ input plugin failures leave open sockets"
Although the issue in the JIRA tracker is quite old and the link in it doesn't even work anymore the problem seems to persist. I also get the error messages named in the ticket and I have tons of unclosed connections from the logstash server in my RabbitMQ which causes it to crash once a day...

https://logstash.jira.com/browse/LOGSTASH-1698

I hope that the issue gets a little attention if it is

[2015-01-07 14:01] nadalie commented on #2241
@vasekch I'm running both in the same machine so I'm able to connect to the ES port is accesible from logstash, thanks!

[2015-01-07 15:29] untergeek commented on #2322
Please open an issue at the plugin's own repository: https://github.com/logstash-plugins/logstash-input-rabbitmq

Thanks!

[2015-01-07 15:29] #2322 closed

[2015-01-07 15:33] asmaps commented on #2322
Okay, opened an issue: logstash-plugins/logstash-input-rabbitmq#8

[2015-01-07 17:20] bjolivot commented on #1663
Is there any schedule on Logstash 2.0 ?
My ELK stack is too easy to kill, just have to boot an old server with logstash-forwarder.

[2015-01-07 17:24] jordansissel commented on #1663
@bjolivot I'm not sure what you are wanting of "logstash 2.0". Logstash 1.5.0 should be out soon.  Is your problem related to this ticket? Can you provide more details? I'm not sure what logstash-forwarder has to do with Elasticsearch.

[2015-01-07 17:24] #2298 closed

[2015-01-07 17:26] naisanza opened #2324 "Update logstash 1.4.2 --configtest error dialog to submit bug report to github"
The current version of the compiled logstash binary points to https://logstash.jira.com/ in the error dialog. See below for output sample:

[code]

[2015-01-07 17:32] jordansissel commented on #2298
Deb packages don't leave files behind when they are uninstalled. It only leaves files labeled 'config files' that have been modified. Nothing that should cause the bug reported here. Confusing :(

[2015-01-07 17:33] jordansissel commented on #2324
This whole error message (the one in the text-art box) was removed because it was not effective. Related commit: https://github.com/elasticsearch/logstash/commit/bded0888d3acd3ec56dfc8ad3e95a6e248f90ad7

As a result, I think we can close this.

[2015-01-07 17:34] naisanza opened #2325 "Logstash 1.4.2 --configtest Does Not Properly Verify "date" Filter"
An invalid `date` filter passes logstash's configtest function.

logstash --configtest misses this filter rule:
    `date { match => "timestamp" }`

See below for console output:

[code]

[2015-01-07 17:40] naisanza commented on #2324
I... actually read it

Closed, dialog box pending removal per [bded088](https://github.com/elasticsearch/logstash/commit/bded0888d3acd3ec56dfc8ad3e95a6e248f90ad7)

[2015-01-07 17:40] #2324 closed

[2015-01-07 17:41] naisanza commented on #2324
I... actually read it

Closed, dialog box pending removal per [bded088](https://github.com/elasticsearch/logstash/commit/bded0888d3acd3ec56dfc8ad3e95a6e248f90ad7)

[2015-01-07 17:42] jordansissel commented on #2324
@naisanza yeah :(

The removal was mostly a result of a my personal frustrations with folks ignoring it.

I thank you for reading it, though :) The box may return one day

[2015-01-07 17:52] eyalc10 commented on #2298
First of all thank you for everything,
I belive that it might have been a mix of old and new files becasue when I have untared the full directory and copied only the required configuration,  all worked great. 

On Jan 7, 2015, 19:32, at 19:32, Jordan Sissel <notifications@github.com> wrote:

[2015-01-07 18:14] jordansissel commented on #2298
@eyalc10 glad things are working now! :)

[2015-01-07 22:20] jordansissel commented on #2305
haha, oops!

[2015-01-08 08:07] wiibaa opened #2326 "Plans for supported ruby / jruby in 2.x ?"
I'm sure you are aware of this but out of curiosity could you please share your thoughs about your plans for upgrading supported ruby version in logstash **2.x**:
*jruby 1.7 - 1.9mode => jruby 1.7 - 2.0mode => jruby 9000*
or **faith jump to jruby 9000** (with test-test-test)

Because the MRI disclaimer seems scary as **1.9.3 as one month of support left** meaning that jruby 1.9mode will also be fr

[2015-01-08 08:32] jordansissel commented on #2326
@wiibaa We actively test Logstash master against JRuby 9000 - http://build-eu-00.elasticsearch.org/view/LS%20Other/job/logstash_master_jruby_9k/.

The most recent build of this jenkins job used `jruby 9.0.0.0-SNAPSHOT (2.2.0p0) 2014-12-29`.

I am not worried about JRuby 9000 because we have been testing against it for many weeks now :)

When JRuby 9000 is released, we will upgrade to it. Users wil

[2015-01-08 08:42] wiibaa commented on #2326
@jordansissel thanks for the quick response as always, so it means that my request to jruby (jruby/jruby#2411) could be ignored and wait for jruby9000 ?

[2015-01-08 10:57] CalldiDoctor opened #2327 "Input file only works once"
I'm strating with Logstash and I want to test several different configurations.

If I use the same configuration file multiple times it only works once, the rest of the times it waits and only shows the message "using milestone...."

I don't figure what can be the problem.

Thanks!

[2015-01-08 12:54] nicolasguyomar commented on #1742
Hi @alexjfisher, I did try your patch and it solve @jamesbennet problem.
I did have the problem when I killed the nc connected to my logstash instance.
Thank you

[2015-01-08 13:04] paoolo opened #2328 "Unable to connect to Logstash server by Logstash Forwarder due to problem with TLS/SSL"
Logstash input configuration:

    input {
      lumberjack {
        port => 6000
        type => "logs"
        ssl_certificate => "/etc/pki/tls/certs/logstash-forwarder.crt"
        ssl_key => "/etc/pki/tls/private/logstash-forwarder.key"
      }
    }

Logstash Forwarder configuration:

    "network": {
        "servers": ["IP:6000"],
        "timeout": 15,
        "ssl ca": "/etc/pki/tls/cert

[2015-01-08 13:07] wiibaa commented on #2327
By default, the file input manage a sincedb, to remember last position in a file, if you want to avoid this for testing purpose with static file , make sure to use a config like this

[code]

[2015-01-08 13:51] roflmao commented on #2313
Seems the stdout is sent to /var/log/logstash/logstash.stdout

Thanks!

[2015-01-08 15:01] StefanSa opened #2329 "sincedb file not createt with v1.4.2 on FreeBSD10-x64"
Hi all,
i have this file input filter.

     file {
         path => ["/data/log/network.log"]
        sincedb_path => "/var/log"
        start_position => "beginning"
        type => "syslog"
        tags => [ "netsyslog" ]
        }

this input filter works, but no sincedb file found witch "find / -name *since*" or "lsof -p PID".
logstash running as "root".

and i find this in debug mode:

:mess

[2015-01-08 15:15] ianmacl commented on #2292
IMO, what would be helpful is a table that lists an elasticsearch version and the logstash version it pairs with, or some way to determine one given the other.  It isn't helpful to say `Each release of Logstash has a recommended version of Elasticsearch to pair with. Make sure they match based on the Logstash version you’re running!` without providing clarity on how to determine what versions you

[2015-01-08 15:27] bjolivot commented on #1663
I have the problem described by bigbo in his comment :
I close old indexes ( > 3 days) in Elasticsearch.
If logstash receive logs older than 3 days, it try to send to elasticsearch in a closed index and begin an unending loop until I manualy open the good index.

Logstash-forwarder (previously called lumberjack) is a process used to parse logfiles and send them to logstash.
In case of starting lon

[2015-01-08 16:18] dariuszmysliwiec commented on #2328
I experience exactly the same problem. It's strange because around 1 month ago I compiled few logstash-forwarders instances and they were working.

[2015-01-08 16:35] zhenghu opened #2330 "java.io.EOFException for logstash-1.4.2 elasticsearch_river output"
I got EOFException when I use elasticsearch_river as output.

Here is my config file :
[code]

 This is the stack trace :
[code]

[2015-01-08 17:14] jordansissel commented on #2328
What jvm and version of java are you using? What version of logstash?

I'm confused. I tested https://github.com/elasticsearch/logstash-forwarder/commit/22d672da1fd6f670945fd8754632ebd4d8212ae8 before committing  and it works.

[2015-01-08 17:36] dariuszmysliwiec commented on #2328
My logstash was 1.4.2-modified. Updating my right away!

[2015-01-08 17:39] jordansissel commented on #2328
yeah I may have to fix lsf master to not have tls 1.1

[2015-01-08 18:09] driskell commented on #2328
301 is TLS 1.0

You need ony disable SSLv3 for poodle don't you? Is there a reason to disallow TLS 1.0?
Might be the jvm/is combination doesn't support 1.1 as you point out.

[2015-01-08 18:11] jordansissel commented on #2328
@driskell in my testing, jruby/java/go don't seem to negotiate properly. I'm not entirely sure why.

lsf master -> Logstash 1.4.2 fails to connect due to lsf's minversion constraint. It's quite weird. I still need to debug why.

[2015-01-08 18:16] jordansissel commented on #2328
I've reverted the TLS 1.1 change until I can figure out what's going on.

[2015-01-08 18:31] jordansissel commented on #2328
I can confirm that:

*    Logstash master server hello reports TLS v1.1
 *   Logstash 1.4.2 server hello reports TLS v1.0

[2015-01-08 18:37] maxhyjal commented on #2328
Just out of curiosity, why is TLS v1.2 not supported(or going to be supported) on the logstash server side?

[2015-01-08 18:39] jordansissel commented on #2328
@maxhyjal TLS v1.2 is not yet supported by JRuby (or Java, I am not sure yet).

[2015-01-08 18:44] jordansissel commented on #2328
Java supports TLS v1.2 it looks like, could be something in bounceycastle or jruby-openssl limiting it to v1.1

[2015-01-08 18:52] rogerthat commented on #2328
as far as i can see it's not an java-issue (tested 1.7_25 up to 1.8_45, jdk as well as jre, different switches like
-Dhttps.protocols='TLSv1,TLSv1.1,TLSv1.2' -Ddeployment.security.SSLv3=false  -Ddeployment.security.TLSv1=true  -Ddeployment.security.TLSv1.1=true -Ddeployment.security.TLSv1.2=true

w/out beeing able to switch on tlsv1.1/1.2; seems more like a jruby - problem here.

[2015-01-08 19:27] jordansissel commented on #2328
Yep. I wrote some test code to verify TLS v1.2 in via javax.net.ssl. Problem is either jruby-openssl or bounceycastle. I'm looking into it.

[2015-01-08 19:33] jordansissel commented on #2328
Fixing TLS v1.2 support will require a few improvements to jruby-openssl. I'll do this soon, but not now.

[2015-01-08 19:39] wiibaa commented on #2329
@StefanSa sincedb_path should point to a file not a directory. Re-reading the doc I see the possible confusion. Need indeed some improvment

[2015-01-08 20:12] jordansissel commented on #2328
Current task is to figure out how to support both TLS 1.1 and TLS 1.0

[2015-01-08 20:50] jordansissel commented on #2326
@wiibaa yeah, I think we can wait for jruby9000. If this must be fixed before then, we can monkeypatch Resolv in Logstash or write/use a different dns library.

[2015-01-08 22:36] Goulart commented on #2250
Thank you!
I will recreate the issue in github soon.

Thanks again.
A.Goulart

2015-01-06 17:26 GMT+00:00 Pier-Hugues Pellerin <notifications@github.com>:

--
Artur Goulart

[2015-01-09 00:11] versnel commented on #2153
Hi Suyograo

No still no luck.

This is what i'm getting:

log4j, [2015-01-09T00:10:20.067]  WARN: org.elasticsearch.transport.netty: [logstash-Suricata-1542-4014] exception caught on transport layer [[id: 0x5ec9ec39]], closing connection
java.nio.channels.UnresolvedAddressException
        at sun.nio.ch.Net.checkAddress(Net.java:123)
        at sun.nio.ch.SocketChannelImpl.connect(SocketChannelIm

[2015-01-09 03:40] cisco-sro commented on #1655
Same here with Logstash 1.4.2 and ES 1.4.2

[2015-01-09 08:17] pjanzen commented on #2153
Hi versnel,

can you post you logstash config and you kinana config.js?

Paul.

[2015-01-09 08:26] StefanSa commented on #2329
Hi wiibaa, your right.
it's work now, thank you for your help.

Stefan

[2015-01-09 08:26] #2329 closed

[2015-01-09 09:49] paoolo opened #2332 "Logstash crashed with `--debug` flag"
Few seconds after starting Logstash:

[code]

Logstash started with ``--debug`` flag. Without flag it runs.

See https://logstash.jira.com/browse/LOGSTASH-1854

[2015-01-09 13:28] versnel commented on #2153
-----Logstash-----

input {
  file {
    path => ["/root/test/test/eve.json"]
    codec =>   json
    type => "SuricataIDPS-logs"
    start_position => "beginning"
  }

}

filter {
  if [type] == "SuricataIDPS-logs" {
    date {
      match => [ "timestamp", "ISO8601" ]
    }
  }

  if [src_ip]  {
    geoip {
      source => "src_ip"
      target => "geoip"
      database => "/opt/logstash/vendor/

[2015-01-09 14:13] versnel commented on #2153
----Kibana-----

/** @scratch /configuration/config.js/1
 *
 * == Configuration
 * config.js is where you will find the core Kibana configuration. This file contains parameter that
 * must be set before kibana is run for the first time.
 */
define(['settings'],
function (Settings) {

  /** @scratch /configuration/config.js/2
   *
   * === Parameters
   */
  return new Settings({

    /** @scratch

[2015-01-09 14:19] pjanzen commented on #2153
Whats happens if you replace this
"http://"+window.location.hostname+":9200"
with this
"http://the.actual.fqdn.or.ip.of.your.elasticsearch.server:9200"

[2015-01-09 14:36] versnel commented on #2153
No luck same error msg:

log4j, [2015-01-09T14:34:39.351]  WARN: org.elasticsearch.transport.netty: [logstash-Suricata-16307-4016] exception caught on transport layer [[id: 0xb2ed996f]], closing connection
java.nio.channels.UnresolvedAddressException
        at sun.nio.ch.Net.checkAddress(Net.java:123)
        at sun.nio.ch.SocketChannelImpl.connect(SocketChannelImpl.java:622)
        at org.elast

[2015-01-09 14:37] versnel commented on #2153
I change it as you sad.

elasticsearch: "http://MY-PUBLIC-IP:9200",

[2015-01-09 14:52] versnel commented on #2153
![image](https://cloud.githubusercontent.com/assets/9933976/5681271/702c4468-97ed-11e4-9a21-f558e4678f4c.png)

[2015-01-09 15:02] versnel commented on #2153
![image](https://cloud.githubusercontent.com/assets/9933976/5681437/fae9f950-97ee-11e4-9326-ccb2041f6e88.png)

[2015-01-09 15:40] pjanzen commented on #2153
Looks like you getting there, in elasticsearch you have a index right? configure that in kibana and you should have some data shown.

[2015-01-09 15:42] pjanzen commented on #2153
but you do not have any data in ES...

[pjanzen@macpro ~]$ curl -XGET http://191.233.65.106:9200/_aliases?pretty=1
{
  "kibana-int" : { }
}

You also might want to configure a firewall.

[2015-01-09 15:59] versnel commented on #2153
I don't get it... What do i have to change in ES index section and then config in Kibana?

On working a cloud computer on Microsoft Azure. What you mean with config a firewall?

[2015-01-09 17:31] chelsu opened #2335 "Logstash input file path match dated directory does not work"
I see an issue matching input file path in Logstash 1.4.2.

I am trying to match all files in a dated directory path.
Example file to match:
/usr/tmp/input/2015/01/09/ tx/FileA-2015-01-09.tx
/usr/tmp/input/2015/01/09/ tx/FileB-2015-01-09.tx

I used following path in the logstash config
path => "/usr/tmp/input/%{+YYYY}/%{+MM}/%{+dd}/tx/*

configtest was ok. But I just see glob is empty in the verbo

[2015-01-09 17:37] jordansissel commented on #2335
Sorry for the confusion. This syntax doesn't tell the file input to watch things based on dates. It tells logstashl ook for files in a directory literally "/usr/tmp/input/%{+YYYY}/%{+MM}/%{+dd}/tx/" - the `%{...}` syntax has no meaning in the `path` setting.

An alternative would be to use `/usr/tmp/input/*/*/*/tx/*`

[2015-01-09 17:38] jordansissel commented on #2335
I have considered adding date-pattern support to the file input, but nothing has been planned or designed yet.

[2015-01-09 17:39] chelsu commented on #2335
Thanks for the information. I have been trying a lot of permutations and nothing worked.

[2015-01-09 17:39] #2335 closed

[2015-01-09 19:47] pauljb commented on #2292
Agree with @ianmacl,  I just spent an inoridnate amount of time looking for such a chart as I do not know what versions to pair together.

[2015-01-09 19:53] pjanzen commented on #2153
Your elasticsearch and logstash host is reachable for anyone who has the ip info.

In order to show data in kibana you have to have data in elasticsearch this is something you have not. or atleast I cannot see it.

[2015-01-09 19:54] stensonb opened #2336 "logstash binds to 9300 by default"
the docs say the "embedded" version of elasticsearch is disabled by default: http://logstash.net/docs/1.4.2/outputs/elasticsearch#embedded

however, when omitting any reference to embedded elasticsearch in the logstash config, logstash binds to 9300.

this is causing a port-binding start-up race condition when a standalone ES process is on the same host (ES, by default, binds to 9300 for intra-clu

[2015-01-09 19:55] stensonb commented on #2336
logstash  9040  6.2 37.9 1922876 190296 ?      SNsl 19:52   0:40 /usr/bin/java -Djava.io.tmpdir=/var/lib/logstash -Xmx500m -XX:+UseParNewGC -XX:+UseConcMarkSweepGC -Djava.awt.headless=true -XX:CMSInitiatingOccupancyFraction=75 -XX:+UseCMSInitiatingOccupancyOnly -jar /opt/logstash/vendor/jar/jruby-complete-1.7.11.jar -I/opt/logstash/lib /opt/logstash/lib/logstash/runner.rb agent -f /etc/logstash/co

[2015-01-09 19:56] untergeek commented on #2336
Can you provide your config?  This is strange.  I don't see Logstash binding to port 9300 when I do not specify `elasticsearch` output with the default node protocol.

[2015-01-09 20:05] untergeek commented on #2336
My own logstash configuration:
[code]

[code]
And the process that does own port 9300 is Elasticsearch:
[code]

[2015-01-09 20:12] untergeek commented on #2336
Also, in your elasticsearch.yml file, is port 9300 hard-coded as the only option?  By default, Elasticsearch should immediately try to use port 9301, 9302, etc. all the way up to 9399 if ports are unavailable.

My guess here is that even though you're not using the embedded Elasticsearch, you do have Logstash configured to use the elasticsearch output as a node (which will make it use port 9300).

[2015-01-09 20:22] stensonb commented on #2336
Thanks for jumping on this so quickly @untergeek !

I should clarify, I'm using the elasticsearch output plugin, but intend to NOT use the embedded version (I'm running ES in a separate JVM).

Here's my config:

[code]

My standalone ES config has no explicit port range specified.

I'm working on a solid reproduction, but it's pretty simple...I'll confirm here when I've got it figured out (I filed

[2015-01-09 20:24] stensonb commented on #2336
my ES config:

[code]

[2015-01-09 20:27] ph commented on #2250
closing this ticket, the ticket moved to the plugin repository.
https://github.com/logstash-plugins/logstash-output-email/issues/5

[2015-01-09 20:27] #2250 closed

[2015-01-09 20:30] untergeek commented on #2336
@stensonb Here it is:
[code]
This configuration means that Logstash will spin up an Elasticsearch client-only node.  Unless you specify a port, it will automatically choose 9300.  You can get around this being a collision by specifying something 9301+ (recommend 9399 perhaps), or by using `protocol => "http"` instead (which is just as performant up to around 20,000 events per second).  Using the h

[2015-01-09 20:37] untergeek commented on #2336
To sum up:
- Logstash +  Embedded Elasticsearch => Elasticsearch server instance
- Logstash + elasticsearch output + node protocol (default protocol) => Logstash spins up Elasticsearch client-only instance

In both cases there will be an Elasticsearch instance spun up which will try to bind to port 9300.  One is a server instance, the other is a client-only instance.

The way to correct is to use

[2015-01-09 20:37] stensonb commented on #2336
Yup, that makes sense.

Does the "port" option for the elasticsearch output specify the port logstash binds to, or the port it communicates to ES on?

For the "http" protocol, it makes sense that the "port" option is the target port...are you saying the "node" protocol uses the "port" option as the source port?

[2015-01-09 20:41] untergeek commented on #2336
The `host` and `port` directives change behavior based on your choices.  With `protocol => "node"` it will be the `host` and `port` the client binds (See [here](https://github.com/logstash-plugins/logstash-output-elasticsearch/blob/master/lib/logstash/outputs/elasticsearch.rb#L291-L307)).

With `protocol => "http"` `host` and `port` are the remote host:port you are targeting.

[2015-01-09 20:42] stensonb commented on #2336
I just added the "port" option, and now (per our discussion), expect logstash to be bound to 9501...it restarted and is still bound to 9300:

[code]

[2015-01-09 20:49] ph commented on #1757
@jmara in logstash 1.5 you will be able to set a `user` and a `password` option when using the http protocol.

see: https://github.com/logstash-plugins/logstash-output-elasticsearch/blob/master/lib/logstash/outputs/elasticsearch.rb#L185-L186

[2015-01-09 20:50] untergeek commented on #2336
9501 is a bad choice because it's outside the scope of what Elasticsearch expects (9300-9399).

That said, perhaps the code segment I linked is different from what's in your version (1.4.2?).  That code is from 1.5.

Personally, I recommend NOT using node protocol.  It introduces more complexity (Logstash's heap is now split to be able to accommodate an Elasticsearch client), and no real performan

[2015-01-09 21:04] jmara commented on #1757
Uhh nice :) and https support very cool thanks for letting me know!

[2015-01-09 21:05] untergeek commented on #2336
Or, my bad, use `bind_port => 9399`.  That will work too.

[2015-01-09 21:12] ph commented on #1757
@jmara you are welcome :)

[2015-01-09 21:31] untergeek opened #2337 "Update all occurrences of LICENSE to reflect 2015"
It isn't 2014 anymore!

[2015-01-09 21:32] stensonb commented on #2336
Well, I just verified that ```port``` seems to be ignored:

[code]

but ```bind_port``` works:

[code]

So, at least the docs for ```bind_port``` are wrong...if omitted, ```bind_port``` is set to 9300 when in ```protocol = node``` (which is the default, if protocol is omitted).

I think ```bind_port``` should default to 9301 so that running ES and logstash in separate JVMs will "just work" -- with

[2015-01-09 21:38] stensonb commented on #2336
http://logstash.net/docs/1.4.2/outputs/elasticsearch#bind_port

"There is no default value for this setting."  Should read "The default value for this setting is 9300."

[2015-01-09 22:00] versnel commented on #2153
I'm sorry i'm asking a lot of question but i'm new to all this.
I now understand the problem, but the question is how do i send data to elasticsearch?

[2015-01-09 22:16] pjanzen commented on #2153
That is a totaly differnt question :) google for some simple examples like apache2 access files and start there, also if you are helped with this question please close it and after some research open a new question.

Good luck
Paul.

[2015-01-09 22:40] jordansissel commented on #2336
@stensonb the default is the first port available to be bound to in the range 9300-9400, I believe.

The reason the documentation says "there is no default value" is because the docs are automatically generated. The default value his buried deep within Elasticsearch (outside of Logstash's codebase).

It is in these strange cases where I regret automatically-generated documentation.

[2015-01-09 23:56] jordansissel commented on #2292
I hope it will please you to learn that you do not need such a device. It is our belief that Logstash 1.4.2 will work with Elasticsearch 1.0.0 and above. No compatibility matrix is required.

I'm sorry our documentation wasn't clear enough. We have addressed some inaccuracies in the docs for Logstash 1.5.0 beta1. All Elasticsearch versions 1.0.0 and above are compatible with Logstash 1.4.x

[2015-01-10 05:44] #2297 closed

[2015-01-12 00:10] pascalj opened #2338 "1.5.0beta1 not starting on FreeBSD"
Logstash does not start on FreeBSD. I tried setting `GEM_HOME` without success. Here's what's happening:

[code]

[code]

[code]

1.4.2 works perfectly on the same machine. Currently I have no idea why it looks for i18n at that place.
If you need more info, just let me know.

[2015-01-12 10:38] gershonsherman commented on #1955
I don't know if you ever got this working but I was having the same problem and I tried changing the coded to json (codec => json {}) and that solved the issue for me.

[2015-01-12 10:39] jeschergui opened #2341 "TCP input and Log4j SocketAppenders"
I have a log4j version 1.2.17 socketAppender on one cloud sending data to my logstash server on another cloud.  I would like to secure the communication using SSL.

My original idea was to use the logstash TCP input and setup all my SSL stuff within it.
When I try this with the codec set to "plain", i get this - expected - error:

The tcp input's attempt to decode the entry and fails since the mes

[2015-01-12 12:03] wiibaa commented on #2341
@jeschergui That's indeed a smart and lovely idea, moving log4j as a codec of the TCP input.
However I see a blocking point with the current tcp input and codec interfaces in that log4j input use directly the socket stream vs. tcp input is sending chunk of data to the codec that should do buffering and processing. But in the case of java serialized object [**you cannot identify end of object**](ht

[2015-01-12 12:21] jsvd commented on #2137
All low hanging fruits have been picked by #2285

Closing this issue, dealing with jar duplication requires big changes and should be handled in a separate issue.

[2015-01-12 12:21] #2137 closed

[2015-01-12 18:11] nornagon opened #2344 "Timezone can't be set dynamically in date filter"
I have a bunch of servers shipping logs using logstash-forwarder, and I have them set up to attach their timezone:

[code]

On the central logstash server I have this filter:

[code]

But since the date module sets up the matchers at boot time, the `%{timezone}` never gets substituted, and logstash fails to boot with this message:

[code]

[2015-01-12 18:27] wiibaa commented on #2344
Sorry but timezone cannot use dynamic  value, it is already registered as an enhancement in #1685

You might be interested in the workaround described in this comment: https://github.com/elasticsearch/logstash/issues/1685#issuecomment-54278158

[2015-01-12 19:40] untergeek commented on #2230
I've got these for a start.  Will submit codec and input examples soon.

https://github.com/logstash-plugins/logstash-output-example/pull/1
https://github.com/logstash-plugins/logstash-filter-example/pull/1

[2015-01-12 21:06] pascalj commented on #2338
While trying to look into the issue, I built logstash from the 1-5-branch and I could not reproduce the bug anymore. The issue is fixed with 0d3df38cb9b — thanks!

[2015-01-12 21:06] #2338 closed

[2015-01-12 21:27] untergeek commented on #2230
Added the codec:

https://github.com/logstash-plugins/logstash-codec-example/pull/1

[2015-01-12 21:56] MKA-MKA opened #2345 "Split filter - logstash - No example on the web - OR it does not work - need assistance....."
Hello,
I am trying to set up and pull JSON data from S3 to Logstash in to ElasticSearch with split filter and I have some issues. The S3 data has 25 events in a single line separated by curly braces like { } and I want to use split filter to separate them during the pull from S3 using config file, I have very limited examples for split filter. can you guys help me.

Thanks
Karan

[2015-01-12 22:27] jordansissel commented on #2338
A bit confused. 1.5.0 beta1 was released about 6 months after 0d3dd38 was merged - are you certain this is fixed?

[2015-01-12 22:27] jordansissel commented on #2338
Also, I'm not sure where you got instructions to set GEM_HOME, but bin/logstash overrides this setting and you should not attempt to set it.

[2015-01-12 22:34] suyograo commented on #2332
Closed via https://github.com/elasticsearch/logstash/pull/2339

[2015-01-12 22:34] #2332 closed

[2015-01-13 01:16] Vlad777 opened #2346 "Colon ':' char in install path causes load error"
We are trying to run logstash in Mesos sandbox, which creates paths with colon (:) character, which cause the following error on starting logstash:

Error: Could not find or load main class org.jruby.Main

[2015-01-13 03:59] jordansissel commented on #2346
Hmm weird. can you provide your logstash command line and config?

On Monday, January 12, 2015, Vlad777 <notifications@github.com> wrote:

[2015-01-13 09:25] jeschergui commented on #2341
That is exactly what I was perplexed about; the Log4j input's .to_inputstream VS. the TCP inputs's buf.sysread(k).

I think that an easier solution would be to extract the SSL operations to be done by a reverse proxy - something like nginx, and then let logstash work its way through the simple log4j input. Thanks for your insight.

[2015-01-13 10:56] jsvd commented on #2233
implemented in https://github.com/elasticsearch/logstash/pull/2317

[2015-01-13 10:56] #2233 closed

[2015-01-13 11:18] lshb opened #2347 "org.elasticsearch.discovery.MasterNotDiscoveredException"
I'm using logstash 1.4.2 with ES 1.4.2 and it throws the error same with the title; it works if I use protocol => http; if I want use protocol => node ,Which version of logstash and elasticsearch1.4.2 will not report the error?

[2015-01-13 12:00] jsvd commented on #2347
It should work fine. Did you set the cluster name (option `:cluster`) in logstash?

[2015-01-13 12:03] lshb commented on #2347
host => "127.0.0.1"
                             cluster => "ky_ESearch"
                                index => "%{type}_%{time_year}_%{time_month}"
                                index_type => "%{time_year}-%{time_month}-%{time_day}"
                                document_id=>"%{time_milli}_%{certificateCode}"
                               protocol=>"node"
                                 w

[2015-01-13 12:05] jsvd commented on #2347
and it's the same exact name you set in the elasticsearch `config/elasticsearch.yml`?

[2015-01-13 12:06] lshb commented on #2347
it is same with the set in the elasticsearch config

[2015-01-13 12:09] lshb commented on #2347
it work fine with the set (protocol => http),but if I change it to node,it will report error MasterNotDiscoveredException

[2015-01-13 12:13] jsvd commented on #2347
strange, I just downloaded logstash 1.4.2, elasticsearch 1.4.2

on elasticsearch side ran `bin/elasticsearch --cluster.name=test`
on logstash side ran `bin/logstash -e "input { generator{ count=>1} } output { elasticsearch { protocol => node cluster => 'test' } }"`

and it works:

[code]

[2015-01-13 15:15] momok2 opened #2348 "Convert From Interger timestamp to @timestamp"
hi all ,
how can i convert a integer timstamp like this     "timestamp" => 1421161381,
to a date timestamp like this "@timestamp" => "2015-01-13T15:03:01.525Z"

thanks

[2015-01-13 15:27] jordansissel commented on #2348
Date filter can do this:

date { match => [ "timestamp", "UNIX" ] }

-Jordan

On Tue, Jan 13, 2015 at 7:15 AM, momok2 <notifications@github.com> wrote:

[2015-01-13 15:58] momok2 commented on #2348
Ok Thanks

[2015-01-13 16:47] zhenghu opened #2349 "oldlogstashjson do not work for output elasticsearch_river"
The logstash json schema was changed in logstash 1.2.0. In which the "@" prefix and the "@fields" group was removed. It broke some of my programs since the code was built with the old schema. Is there any way to get logstash output with the old json schema?

I am using elasticsearch_river output and I tried adding "codec => oldlogstashjson" in output configuration, it changed nothing.

But I tried

[2015-01-13 16:51] untergeek commented on #2349
Elasticsearch is deprecating rivers soon.  You should not be using this output.  It is not being carried over to Logstash 1.5.

In Logstash 1.4.2, the elasticsearch_river plugin does not support using the output codec, which is why it does not work for you.

[2015-01-13 17:29] #2349 closed

[2015-01-13 17:30] untergeek commented on #2349
If you require this functionality still, your only option is to continue using older versions of Logstash.  It will not be included going forward.

[2015-01-13 17:36] untergeek commented on #2349
It is true that in Logstash 1.5, the new plugin ecosystem would allow you to maintain a personal version of the elasticsearch_river output plugin that you would be free to modify, as desired.  Any such plugin will be unsupported and unmaintained by Logstash.

I reiterate in the strongest possible terms, however, that rivers are going away in Elasticsearch.  They will be unsupported in the future.

[2015-01-13 18:56] keithhigbee commented on #2190
Praveen,

Take a look at the last message in the thread for a workaround to keep you moving forward.

https://groups.google.com/forum/#!topic/logstash-users/PXAPD0JntyU

[2015-01-13 19:51] Vlad777 commented on #2346
I replicated this scenario with logstgash 1.4.2 with the simplest config (which doesn't matter, since it fails before even starting Jruby). I just renamed by install folder path to include a colon (:) character.

mv logstash-1.4.2 logstash\:1.4.2
cd logstash\:1.4.2
echo "input { stdin {} } output { stdout {} }" > std.conf
bin/logstash -f std.conf
Error: Could not find or load main class org.jruby.

[2015-01-13 20:02] KaraMuthu commented on #2345
Hi, I am new to ELK and I am using elasticsearch 1.4.1 and logstash 1.4.2.
It looks like no one used the split filter option OR it does not work, I have been searching an example and I could not find on the web, can someone point some example
Thanks

[2015-01-13 20:44] darkpixel opened #2350 "Logstash unable to connect after installing elasticsearch-river-jdbc plugin"
After installing the https://github.com/jprante/elasticsearch-river-jdbc plugin, logstash is unable to connect.  Running logstash -vv returns this:
[code]

Fixing the issue requires shutting down logstash, removing the plugin from all nodes, restarting elasticsearch, (and I think removing the indexes created by the plugin), then restarting logstash.

Not sure if this is a logstash issue or an issu

[2015-01-13 20:52] untergeek commented on #2350
As observed in the url, this is not an officially supported plugin.

On a side note, rivers are being deprecated and removed from Elasticsearch.  This functionality and plugin will not be supported in future releases.  The correct path forward is dedicated Logstash plugins using the elasticsearch output.

[2015-01-13 21:03] pascalj commented on #2338
Sorry, I copied the wrong sha after bisecting. It was resolved with 516cc36e1a6f5 and I didn't investigate further. As for GEM_HOME: I manually set it in the bin/logstash script.

[2015-01-13 21:18] darkpixel commented on #2350
The correct way to pull data from a Microsoft SQL server would be for someone to build a logstash plugin?

[2015-01-13 21:21] untergeek commented on #2350
Elasticsearch is deprecating rivers, and the preferred replacement for rivers is to use Logstash (or some other mechanism of your own devising) to convert source material into JSON and send it to Elasticsearch.

Rivers are problematic for multiple reasons, not the least of which being their single-threaded nature.

[2015-01-13 21:24] darkpixel commented on #2350
Thanks for the info.  You wouldn't happen to know of a better solution for grabbing data from MSSQL and getting it into elasticsearch would you?  ;)

[2015-01-13 21:27] untergeek commented on #2350
I don't yet.  I anticipate that as the deprecation looms, people will be pressed to write solutions to these and other dilemmas.  Rivers will be deprecated shortly, but functionality will not be officially removed until 2.0, if I were to hazard a guess.

[2015-01-13 21:28] darkpixel commented on #2350
Thanks again for the info @untergeek.

[2015-01-13 21:28] #2350 closed

[2015-01-13 22:03] ph opened #2351 "Defining a development gem in the gemfile and specifying the :path doesn't add it to the loadpath."
Logstash use the `Gemfile` to install gems but doesn't use it to modify the load path of the application.
So if you add this line to your gemfile (useful to test an unreleased gems...):

[code]

The `~/es/logstash/lib` wont be added to the application `$LOAD_PATH` and the tests will fail with
[code]

the `:git` option might fail too?

[2015-01-13 22:03] remotesyssupport opened #2352 "Logstash 1.5.0 writing the event to the failure file, Bug?"
To capture the messages that fail grok, I write to a file

[code]

But instead, in the error I see
[code]

And the events are written to
[code]

Am I doing something wrong or is it a bug?

[2015-01-13 22:13] untergeek commented on #2352
Plugin tickets should be opened in their respective location, e.g. https://github.com/logstash-plugins/logstash-output-file

[2015-01-13 22:23] remotesyssupport commented on #2352
Extremely sorry, closing this here and opening it there.  [https://github.com/logstash-plugins/logstash-output-file/issues/3 ]

Apologies to Pier-Hugues who has already self-assigned the task.

[2015-01-13 22:23] #2352 closed

[2015-01-13 22:29] ph commented on #2352
No worries @remotesyssupport i will check it :)

[2015-01-13 22:30] #2348 closed

[2015-01-13 23:14] untergeek commented on #2230
Added the input:

https://github.com/logstash-plugins/logstash-input-example/pull/1

[2015-01-14 00:27] ph opened #2353 "NOOP tests are randomly failing"
Finished in 2.91 seconds
229 examples, 25 failures

Failed examples:

[....]
25) LogStash::Filters::NOOP remove_tag "{"type":"noop","tags":["t1","t2"]}" when processed
     Failure/Error: let(:pipeline) { LogStash::Pipeline.new(config) }
     Gem::LoadError:
       Could not find 'logstash-filter-noop' (>= 0) among 70 total gem(s)
     # ./lib/logstash/config/mixin.rb:214:in `plugin_version'

[2015-01-14 00:32] ph commented on #2353
Seem to only be present in #2331

[2015-01-14 00:36] talevy commented on #1631
fixed by https://github.com/logstash-plugins/logstash-output-elasticsearch/pull/2

[2015-01-14 00:36] #1631 closed

[2015-01-14 00:54] PraveenJayakrishnakumar commented on #2190
Thanks for your response, Like you said, it is just workaround. But, I am looking for the permanent solution in production box.

[2015-01-14 01:21] talevy commented on #2130
@lexelby could you provide a sample config or at least a subset of your config for us to recreate the issue. Depending on the behavior of the plugin used, experience may vary per use case. Which inputs, filters, outputs are you using which are causing this behavior?

[2015-01-14 01:28] talevy commented on #2173
@cova-fe

The commented code seems to be referring to a depreciated method of handling the messages.

Now, the format of the output is controlled by a logstash codec. The default codec for the tcp output plugin is `json`. If you are interested in emitting a json string payload along with a new line please check to see if the `json_lines` codec does what you want

here are the docs: http://logstash

[2015-01-14 01:33] talevy commented on #2261
hey @thehybridtechnician! Just checking-in to see if this is still an issue.

[2015-01-14 01:37] lexelby commented on #2130
This bug has absolutely nothing to do with the specific output plugin used.  About the only relevant attribute of the plugin is whether it's multithreaded, and I'm not even sure that matters.  To reproduce this bug, write a very simple output plugin that prints messages to stdout.  When a certain keyword is present in the message, it should instead raise or cause to be raised an exception and not

[2015-01-14 03:20] lshb commented on #2347
thanks,the problem is over. I fount that if I will use the protocol=node the host must be removed.

[2015-01-14 04:59] wiibaa commented on #1229
@colinsurprenant apart from the two comments in grok and multilines filter I did not find anything else in plugins about jar execution check. In core maybe you could delete https://github.com/elasticsearch/logstash/blob/master/lib/logstash/JRUBY-PR1448.rb as it was only used in gembag.rb ?

[2015-01-14 05:45] wiibaa commented on #2345
Hello @KaraMuthu , can you please create a gist with an example input file.

[2015-01-14 06:19] chenbekor commented on #2284
@iGaryk  can you please advice on how to perform such graphs ? is logstash jmx ready? can we connect to it using some monitoring tools?

[2015-01-14 07:02] iGaryk commented on #2284
Hello, @chenbekor! I use Zabbix with zabbix-java-gateway for retrieve data from jmx. This feature is completely documented there https://www.zabbix.com/documentation/2.2/manual/config/items/itemtypes/jmx_monitoring

[2015-01-14 09:50] chenbekor commented on #2284
@iGaryk Oh - nice. So I guess logstash exposes JMX counters right? can you point me to the docs? I only see a JMX Input Plugin but I guess that's another story.

[2015-01-14 10:29] iGaryk commented on #2284
I just specify in /etc/defaults/logstash parameters for java like this:
LS_JAVA_OPTS="-Djava.io.tmpdir=${LS_HOME} \
             -Dcom.sun.management.jmxremote \
             -Dcom.sun.management.jmxremote.port=10961 \
             -Dcom.sun.management.jmxremote.authenticate=false \
             -Dcom.sun.management.jmxremote.ssl=false"
And in Zabbix I use "Interface JMX" for that host with specif

[2015-01-14 10:50] chenbekor commented on #2284
sounds great - thanks!

[2015-01-14 11:17] zhenghu opened #2354 "Date format do est work with add_field"
I met a stranger problem with the date format.

When I put the %{+YYYY.MM.dd} by add_field, it does not work.
Here is the config and exception of elasticsearch :

    input {
        rabbitmq {
                codec => oldlogstashjson
                host => "zer332o3"
                queue => "queue-test"
                user => "user"
                password => "password"
                thread

[2015-01-14 11:36] twalzer opened #2355 "metrics example broken"
Hi,

I think the metrics filter documentation (http://logstash.net/docs/1.4.2/filters/metrics) has a problem:
The "message" is not/no longer working:
output {
  # only emit events with the 'metric' tag
  if "metric" in [tags] {
    stdout {
      message => "rate: %{events.rate_1m}"
    }
  }
}

There is also a question on SO: http://stackoverflow.com/questions/24452239/print-a-string-to-stdout-us

[2015-01-14 11:38] wiibaa commented on #2354
@zhenghu good catch, the decorate method of inputs/base does not currently use `event.sprintf(value)` neither for `add_field` nor `tags`.
https://github.com/elasticsearch/logstash/blob/master/lib/logstash/inputs/base.rb#L118

Could be indeed harmonized between inputs and filters

[2015-01-14 11:42] wiibaa commented on #2355
@twalzer I think this is already correct for the upcoming 1.5 release, can you please double-check here https://github.com/logstash-plugins/logstash-filter-metrics/blob/master/lib/logstash/filters/metrics.rb#L73
Thanks

[2015-01-14 11:47] jsvd commented on #2347
closed as solved.

[2015-01-14 11:47] #2347 closed

[2015-01-14 13:21] zhenghu commented on #2354
@wiibaa Thanks. So this issue is actually a bug, it will be fixed for the next release?

[2015-01-14 13:26] twalzer commented on #2355
1.5 is correct. But shouldn´t the 1.4 docs also reflect the truth?

[2015-01-14 13:44] wiibaa commented on #2355
@twalzer the point is that the *official doc* is already up to date: http://www.elasticsearch.org/guide/en/logstash/current/plugins-filters-metrics.html

I do not now when Logstash team will decide to tear down logstash.net, but it will be a hearbreaking change :sob:

[2015-01-14 13:50] wiibaa commented on #2354
that's not really a blocker one as you can also easily use a mutate filter, so I'm not confident that the Logstash team will have time to look at it for next release, but I will try to find some time soon and submit a pull request.

[2015-01-14 14:03] twalzer commented on #2355
Oh, sorry. I missed that one. Google seems to rank logstash.net still higher than elasticsearch.....
This could be a heart breaker, indeed.

[2015-01-14 14:03] #2355 closed

[2015-01-14 14:06] wiibaa commented on #2130
@jordansissel @talevy turning this issue into a code question:

Would it be meaningful to apply a similar **retry logic** in pipeline#outputworker as it is done in pipeline#inputworker , for sure not an optimal solution but far more easy to detect from log barfs

[2015-01-14 14:59] #2353 closed

[2015-01-14 15:54] KaraMuthu commented on #2345
I was trying different options with split and mutate as well, here is the code that I am trying on config file:

input {
s3 {
   bucket => "XXXXXX"
   credentials => [ "XXXXX", "XXXXX" ]
   region_endpoint => "us-east-1"
   prefix  => "Sample-Work"
   # keep track of the last processed file
   sincedb_path => "./last-s3-file"
   codec => "json"
     }
}

filter {
 mutate {
             split => ["

[2015-01-14 19:23] wiibaa commented on #2345
I have difficulty to understand what you want to achieve with mutate split as you are already using json codec in the input. Can you please post an example of json input and what structure you want to achieve in elasticsearch

[2015-01-14 20:19] KaraMuthu commented on #2345
I have 25 events together in one JSON file on S3 buckets with timestamp and I want to use logstash to pull the data from S3 to elasticsearch and visualize using kibana. The logstash pulls the one file(25 events together) as one JSON doc instead of 25 documents. So I want to split each events (25) as each JSON doc before push into Elasticsearch.

here is sample 3 events out of 25 events from one fi

[2015-01-14 22:15] jordansissel opened #2357 "Proposal: Weekly "tree-age" party"
Ahem.. a "tree-age" (pronounced "triage", hehe)

We've been discussing internally among Logstashers at Elasticsearch various ways to improve our transparency and involvement with the community. One topic that came up strongly was to do a public triage-and-fix session, possibly weekly, which would involve the community directly with us (elasticsearch logstash folks) to help move logstash forward an

[2015-01-14 22:17] jordansissel commented on #2357
<3 to @untergeek for the "tree-age" punniness.

[2015-01-14 22:19] untergeek commented on #2357
I **love** this idea!  Where do I sign up?

[2015-01-14 22:35] kurtado commented on #2357
![triaging](https://cloud.githubusercontent.com/assets/1161427/5749109/81e31572-9bfa-11e4-94b3-8c9657c62edd.jpg)

[2015-01-14 22:51] robynbergeron commented on #2357
@untergeek I don't know if we'd need a place to sign up; I think it could just be something where, if you can, you show up :)

Alternately - perhaps there could be a way to post an agenda as an issue, and people could say whether or not they're coming. (This seems like a not-fabulous idea to me, but throwing it out there anyway! The plus side of this is that people who are unable to attend might b

[2015-01-14 22:58] robynbergeron commented on #2357
For the record, I also <3 this idea. :) I think one thing to think about (and @jordansissel & @suyograo,  correct me if I'm off track here) - is that at least initially we may want to focus on one area per meeting. But over time - especially as some "back-log" (heh heh) gets better - I think it's definitely something that could have a regular, consistent agenda with time to address all the areas J

[2015-01-14 23:05] ph commented on #2357
Awesome! count me in!

[2015-01-14 23:35] talvey opened #2358 "@timestamp is converted to local TZ offset (1.4.2)"
When logstash reads a message/event with an existing @timestamp field, the @timestamp value is converted to the local timezone offset.  For example, a @timestamp with a value of "2015-01-14T15:51:55.310Z" prior to the logstash input will get converted to "2015-01-14 08:51:55.310-0700" (in my case) after the output.  This format differs from the output of the "date" filter.  My understanding from t

[2015-01-14 23:36] jordansissel commented on #2357
![81e31572-9bfa-11e4-94b3-8c9657c62edd](https://cloud.githubusercontent.com/assets/131818/5749979/261973ae-9c03-11e4-9359-c6fa16952de1.jpg)

[2015-01-14 23:48] jordansissel commented on #2358
`.utc` I think, but yes you're right. @timestamp should always be in utc

[2015-01-15 00:42] tbragin commented on #2357
While we're going through a large backlog (like now), I like the idea of picking an area for each triage session (e.g. a specific plugin or category of concerns where a lot of requests / issues need attention). I think it will allow us to focus our efforts, but will also result in measurable improvement in areas where most pain is felt.

Also, part of the plan we discussed is to triage not only in

[2015-01-15 00:48] ph commented on #2346
I am not completely familiar with mesos..
I assume this directory is automatically generated by mesos? And could it related to this mesos issue?
https://issues.apache.org/jira/browse/MESOS-1128 last comment talk about path issues and jars.

[2015-01-15 02:11] colinsurprenant commented on #2358
`@timestamp` handling has been completely reworked in 1.5 and is alway in UTC so this is fixed in 1.5. We could keep this open for if we plan a 1.4.3 release.

[2015-01-15 05:42] jordansissel commented on #2358
I think we can close this; we don't have plans for 1.4.3 at this time

[2015-01-15 14:39] dcremonini commented on #2198
It looks like you are referring to the wrong project: don't confure logstash with logstash-indexer. The latter is something different and its parameters are not the same as the ones of the former.
Example
logstash accepts --config (with two dashes)
logstash-indexert accepts -config (with one dash)

[2015-01-15 14:47] dlangille commented on #2198
I'm not sure why you refer to logstash-indexert.  I have never used it. but I see your point regarding -config versus --config.  I will retest as soon as I can.

[2015-01-15 15:24] purbon commented on #2351
I reproduce it by:

* Having an empty new logstash environment throw ```rm -rf vendor/bundle```.
* Adding ```gem "logstash-devutils", :path => "../../logstash-devutils"``` to the tools/Gemfile
* Run ```rake bootstrap```
* Run ```bin/logstash rspec spec/core/conditionals_spec.rb```

it might also happen, as @ph said in runtime.

[2015-01-15 15:32] ph commented on #2351
At runtime:

I did:

[code]

Added this to the tools/Gemfile
[code]

Ran:
[code]

Got this output:
[code]

And this will fail:
[code]

[2015-01-15 16:25] jsvd commented on #2345
The first event has a different structure from the second two, is it a copy paste error? What is the structure of the JSON in the s3 file?

[2015-01-15 16:40] zaniyah opened #2360 "ganglia input does not listen on any port"
input {
        ganglia { }
    }
    filter { }

[2015-01-15 16:51] zaniyah commented on #2360
opened by accident

[2015-01-15 16:51] #2360 closed

[2015-01-15 17:19] MKA-MKA commented on #2345
Hi Jsvd,
Thanks for your question and yes the structure is different, but it is not necessarily that all S3 docs are in the same structure of fields. it is kind of unstructured JSON data and here are few more example:

{"track":{"trackAccessMask":"1","trackId":"TR156","trackForm":"0"},"userId":"5c3771659c6cfd9bbfcfdf3ea7997c30de4c5f36","category":"Accounting","label":"","demographic":{"subscriber"

[2015-01-15 17:30] jsvd commented on #2345
Each line should generate a separate event, so 25 lines => 25 events. Are you getting one big event?
In the file is each line separated by two "\n" newline characters?

[2015-01-15 17:40] MKA-MKA commented on #2345
Each S3 file has 25 such events. Yes, I am getting one big event on the elasticsearch, that is why I want to use split filter on the logstash config file to split 25 different events.

For the readability of the events,  I manually separated on my above post with 1 or 2 "\n" newline characters.

I tried with mutate/split filters to insert new line characters "\n" between JSON docs, and could not m

[2015-01-15 17:45] jsvd commented on #2345
ahh ok so the file is just 1 big line with the 25 events:

[code]

I'm assuming you can't force the system that writes the file there to add a comma or "\n" at the end of each event ? :)

[2015-01-15 18:12] MKA-MKA commented on #2345
Yes, you are right, there are 25 events getting loaded as single event on Elasticsearch and on data we do not even have "," to separate the events.

[2015-01-15 18:27] Vlad777 commented on #2346
That mesos issue covers only the date formatting which was fixed, but there is another part of the path that uses colons as a separator.

It's an issue of the install path for logstash having a (:) character, which can happen without mesos and I've reproduced it easiliy without mesos. In fact, bin/elasticsearch has the same problem if it's installed in a path with a colon (:) character.

If it can

[2015-01-15 18:41] jsvd commented on #2345
assuming the events are "{event1}{event2}{event3}" you can do this:

[code]
this way you insert a newline between }{ and then split by the new line.

you will still read all the file into memory in 1 pass, so be careful at the size of the file.

[2015-01-15 19:25] jordansissel commented on #2096
+1

@kurt - thoughts on implementing this?

[2015-01-15 19:31] colinsurprenant commented on #2351
Yes, confirmed. I am not sure I understand why it was working before - it may be because I was testing with a plugin that had been previously installed, not sure.

[2015-01-15 19:39] fervid opened #2361 "Deafault INT template doesn't work!"
my conf:
input {
	file {
		path => "/tmp/logstash/test.log2"
		sincedb_path => "/dev/null"
		start_position => "beginning"
		type => "syslog_test"
	}
}

filter {
	if [type] == "syslog_test" {
		grok {
			patterns_dir => "/opt/logstash-1.4.2/patterns"
			match => [
				"message", "%{PRIORITY:pri}"
			]
		}
	}
}

output {
	file {
		path => "/tmp/logstash/test.norm.log"
		flush_interval => 0
	}
	stdo

[2015-01-15 19:54] untergeek commented on #2361
You’re trying to grok a message defined as just "%{PRIORITY:pri}” with match => [ "message", "%{PRIORITY:pri}” ].  

But the message content in each example is "Jan 15 12:32:54 “.  

This does not match.  That’s why you have the _grokparsefailure tag.

—Aaron

On Thu, Jan 15, 2015 at 12:39 PM, fervid <notifications@github.com> wrote:

[2015-01-15 20:00] #1921 closed

[2015-01-15 20:33] jordansissel opened #2362 "Testing style: Refactoring tests to permit `it` and more focused tests"
Today, filter specs usually do something like this:

[code]

---

Problems with this:
1) `config` is not implemented in a way that is usable properly in rspec.
2) `sample` implies `it` and other oddities.

Doing this more closely aligning with rspec norms, using `let` and `subject` to setup our testing inputs and using `it` to test the behaviors.

Additionally, I would propose instead of using log

[2015-01-15 21:18] jordansissel commented on #2362
Proposed helpers:
* `sample` - shorthand for let(:sample) { ... }
* `plugin(x, y)` - shorthand for let(:plugin) { LogStash::Plugin.lookup(x,y) }`

How about a `pipeline` helper that is perhaps short hand for: LogStash::Pipeline.new("some config text") ?

[2015-01-15 21:21] jordansissel commented on #2362
cc @colin, @pere, and @electrial who (I think?) have been working in the specs area lately.

[2015-01-15 21:21] ph commented on #2362
@electrical ^

[2015-01-15 21:24] jordansissel commented on #2362
@ph <3

[2015-01-15 21:51] jillesvangurp opened #2363 "add ability to have multiple index templates"
Currently when using elasticsearch output, you can configure elasticsearch mapping template for a single index. It would be useful to use multiple templates to for example treat logdata for one type different than another instead of choosing a one size fits all strategy for all log data.

For example in our case we gather some log data that is high volume, but low priority (e.g. collectd) as well

[2015-01-15 22:19] untergeek commented on #2363
Elasticsearch supports that feature now.  You just have to take the JSON file of the template, change it accordingly, and upload it to elasticsearch with a different name.

http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/indices-templates.html

Logstash's template management feature was originally included—almost exclusively—to add the `.raw` multi-field type to each string v

[2015-01-15 22:20] suyograo commented on #2363
@jillesvangurp you can overwrite what template LS uses by providing the config `template` and setting `template_overwrite` to true.

Do you have 2 separate ES outputs for your 2 use cases?

[2015-01-15 22:24] jillesvangurp commented on #2363
Right, I currently have only one elasticsearch output. I'd like to be able to direct the data to different indices based on the type. I guess I could use multiple outputs maybe?

[2015-01-15 22:28] untergeek commented on #2363
Conditionals will make that possible:

[code]
Obviously your other settings will have to go into the `...` section, but this should give you the idea.

I recommend using `protocol => "http"` with this setup, rather than the default node protocol.  Having multiple Logstash-owned ES client nodes will consume more Logstash heap memory with no noticeable benefit.

[2015-01-15 22:30] jillesvangurp commented on #2363
That looks like it should work, thanks.

[2015-01-15 22:30] #2363 closed

[2015-01-15 23:25] suyograo commented on #2212
@teu Closing this, please reopen if this is not fixed yet

[2015-01-15 23:25] #2212 closed

[2015-01-15 23:32] suyograo commented on #2043
The idea is to have common README for all plugins which will help us bulk update. For some plugins which will have extra information for developing, testing, etc, we can create a DEVELOPERS.md with the additional info. We can then link to this document from the README.md

--------------------------------------------------------------------
Boilerplate:

# Logstash Plugin

This is a plugin for [Log

[2015-01-16 07:13] fervid commented on #2361
But in second case I used PRIORITY \<\d+\> and it's ok.
Also, if I use PRIORITY \<(?:[+-]?(?:[0-9]+))\> it will ok too.
But if I use PRIORITY \<INT\> it doesn't work. Why?

[2015-01-16 07:18] fervid commented on #2361
Sorry, it is not problem. I understood mistake I've done!!!
I must use INT with follow syntax: %{INT}.

[2015-01-16 07:18] #2361 closed

[2015-01-16 09:37] hiir commented on #1760
our logstash service terminated with same exception:

    Zlib::BufError: buffer error
              finish at org/jruby/ext/zlib/ZStream.java:134
             inflate at org/jruby/ext/zlib/JZlibInflate.java:72
    compressed_payload at /opt/logstash/vendor/bundle/jruby/1.9/gems/jls-lumberjack-0.0.20/lib/lumberjack/server.rb:194
                feed at /opt/logstash/vendor/bundle/jruby/1.9/gems/jl

[2015-01-16 10:00] zhenghu opened #2366 "Can not custom "path" in message."
It seems logstash-1.4.2 can not custom the "path" fields.
When I put "path":"customPath" in Input, the output is always the real path of the input file.
What is the purpose?

[2015-01-16 10:12] wiibaa commented on #2366
@zhenghu the file input is overriding the path after "decorating" the event, so you cannot do it in the input itself. But you could definitely modify any part of the event using a mutate filter.

@jordansissel need a consistent design decision across inputs **when to decorate**, even maybe a common method `sendEventToFilterWorker` in inputs/base.rb to encapsulate and ensure the behaviour
[code]

[2015-01-16 10:27] zhenghu commented on #2366
@wiibaa thanks for your response.
I am working on the IT for my filters of logstash.
Since there are lots of match => [ "path", "regex" ] in my filter, so that is not suitable for adding a mutate filter to test the other filter.

[2015-01-16 10:38] wiibaa commented on #2366
Maybe I didn't catch your problem correctly
What I supposed is that you try to **override in the input** the `path` value with the add_field for your event, but this does not prevent the input to also **add the real path** ? Am I right?
so doing something like that could be correct
[code]
The main point is that path a no special meaning, just a common name convention,
once the event is issued by t

[2015-01-16 11:11] zhenghu commented on #2366
Actually I wanna test my filter like this :

    filter {
      if [type] == "specific_type" {
	      if [path] =~ /regex/ {
		    mutate {
		          add_field => {"application" => "APP"}
	           }
             }
    [...]

To do this, i create a test conf below and try to verify is there a field "application":"APP" in output.

    input {
          file {
            type => "specific_type"

[2015-01-16 11:22] wiibaa commented on #2366
Cristal clear now!
I would recommend trying to use rspec to test your filter but I cannot describe now in details how to do it. I will try to do it over the weekend.
If modifying very slightly the source code is an acceptable workaround for the moment you should add `if !event.include?("path")` in lib/logstash/inputs/file.rb on [this line ](https://github.com/logstash-plugins/logstash-input-file/b

[2015-01-16 12:10] purbon commented on #2362
Hi, my five cents here https://github.com/purbon/logstash/commits/feature/refactoring_rspecs_and_tests, this include a big rspec style refactor.

[2015-01-16 12:11] purbon commented on #2362
I looks mostly similar to yours @jordansissel as I could see.

[2015-01-16 12:25] purbon commented on #2043
LGTM :+1:

Keep in mind for now this issue: https://github.com/elasticsearch/logstash/issues/2351

[2015-01-16 13:14] zhenghu commented on #2366
@wiibaa thanks a lot.
I do not use repec because I do not get how to use the custom pattern file for test.
There is an exmple :

    require "test_utils"

    describe "linkylog logs" do
      extend LogStash::RSpec

      config <<-CONFIG
      filter {
       if [type] == "mersi-tech" {
            grok {
	    	patterns_dir => "C:\dev\workspaces\sup\sup-log-test\target\logstash-grok-pattern-test

[2015-01-16 13:28] pwyliu opened #2367 "Deb package installs both init and upstart scripts"
I've just installed logstash from the repository, on Ubuntu 14.04. I ended up with both an upstart script in `/etc/init` and regular init in `/etc/init.d`. This has the potential to cause confusion, especially with configuration management systems.

For example, I had a problem with Chef 11 that went something like this:

1. Write a Chef recipe to install and start logstash. If you don't specify a

[2015-01-16 13:55] electrical commented on #2367
Hi,

With LS 1.5.0 we ditched the upstart config and only included the sysv init script.
I know that debian and Ubuntu are switching over to use systemd instead of upstart so at some point we will be making that move as well.

[2015-01-16 14:52] colinsurprenant commented on #2197
<3 clean yaks

[2015-01-16 15:12] ph commented on #2043
working on it, cleaning my mass update tools.

[2015-01-16 15:16] ph commented on #2351
We need to test if defining the `Gemfile` with ENV["BUNDLE_GEMFILE"] and doing Bundler.setup fix this issue..

[2015-01-16 15:46] purbon commented on #2357
love the idea, count me in!

[2015-01-16 17:34] purbon commented on #2362
Not sure if is the best example, but I do really like how files like https://github.com/purbon/logstash/blob/e057bb99766dd542bacfa222ee08cf62187e707b/spec/util/accessors_spec.rb looks like, or files like https://github.com/purbon/logstash/blob/e057bb99766dd542bacfa222ee08cf62187e707b/spec/core/conditionals_spec.rb (just think there are no fixtures going around)

What do you think?

- purbon

[2015-01-16 18:50] pwyliu commented on #2367
Okay, I guess this problem goes away by itself then, I'll close this. Thanks!

[2015-01-16 18:50] #2367 closed

[2015-01-16 20:06] suyograo commented on #1340
Closed via https://github.com/logstash-plugins/logstash-output-s3/pull/1

[2015-01-16 20:06] #1340 closed

[2015-01-16 20:24] jordansissel commented on #2362
I'm not sure hwo I feel about fixtures this way, but maybe this will work well.

Assigned to @purbon to lead the charge :)

[2015-01-16 20:28] suyograo commented on #2261
I tried to reproduce this too, but could not. Please re-open this if this is still an issue

[2015-01-16 21:21] colinsurprenant commented on #2351
So, the problem is with the way we *manually* set the GEM_PATH, which only points to the `vendor/bundle/...` dir and we don't include any *remote* dir as when adding a gem using the `:path` directive. These actually appears at the top of the `.lock` file in
[code]
and `Bundler.setup` will obviously add them to the `GEM_PATH`.

So yes, I think this is a good question, is there still a valid reason

[2015-01-16 21:23] jordansissel commented on #2351
If the world doesn't explode when invoking Bundler.setup, I am in favor of using it.

[2015-01-16 21:26] josh-padnick commented on #1658
Special thanks to @mose for posting his fix.  For those using SaltStack, this also works:

[code]

[2015-01-16 21:29] ph commented on #2351
I am in favor of using it, I would be surprised if it break anything.

[2015-01-16 21:31] colinsurprenant commented on #2351
:bomb:

[2015-01-16 23:24] suyograo commented on #2292
Old docs in logstash.net were addressed to not recommend 1.1.1 https://github.com/logstash/logstash.net/pull/16

[2015-01-16 23:24] #2292 closed

[2015-01-16 23:24] suyograo commented on #2036
https://github.com/logstash/logstash.net/pull/16

[2015-01-16 23:25] #1802 closed

[2015-01-17 07:10] kervinpierre commented on #2056
This is a misleading error.  The problem is often with ElasticSearch CORS settings. See...
http://stackoverflow.com/a/26884367/16549

Pretty much add...

http.cors.allow-origin: "/.*/"
http.cors.enabled: true

To your elasticsearch.yml then restart.

[2015-01-17 21:10] kwibbly commented on #1592
Can confirm what @caezs is seeing

[2015-01-18 12:23] fervid opened #2368 "Strange behavior of grok pattern"
Hello.

I wrote pattern to parse follow ISO8601 timestamp: 2015-01-15 06:33:09 +0000
I am going to use (?x) mode, that's why I use explicit SPACE.

pattern file:
[code]
I have two cases, all they marked them by comment. These two cases behave differently!!!
FIRST CASE:
[code]

SECOND CASE:
[code]
Why in second case I don't get
[code]
Where is my mistake?

[2015-01-18 20:44] vic3lord opened #2369 "Date with multiple groks"
Date gives me an error when using with 2 groks

[code]

[code]

[2015-01-19 00:25] nabheet opened #2370 "auto_delete settings for RabbitMQ queue used by elasticsearch river"
How do I set the queue created by the elasticsearch river logtash output to be auto-deleted when the last consumer disconnects?

I don't see anything at http://logstash.net/docs/1.4.2/outputs/elasticsearch_river.

[2015-01-19 05:50] wiibaa commented on #2366
@zhenghu I suspect you have an issue with the backslashes and the multiline HEREDOC , either using slashes or replacing multiline string delimiters `<<-CONFIG` by `%q{` should solve this.

However it would be event better to read your actual config file, please have a look to this gist and tell me if it is usable in your case https://gist.github.com/wiibaa/80251d5ae56872f7803e

[2015-01-19 10:49] zhenghu commented on #2366
@wiibaa It works! Thanks very much.

[2015-01-19 11:41] magnusbaeck commented on #2369
This has nothing to do with multiple grok filters. The problem is that "Jan 18 19:02:42" isn't an ISO8601 date. Try this instead:

    date {
      match => ["timestamp", "MMM dd HH:mm:ss", "MMM  d HH:mm:ss"]
    }

[2015-01-19 12:00] vic3lord commented on #2369
I want to change the original date and mutate it to be ISO8601

is it possible with date?

[2015-01-19 12:09] magnusbaeck commented on #2369
The date filter produces an ISO8601 date, by default stored into the `@timestamp` field. If this doesn't solve your problem, please elaborate. I'm not sure exactly what you want to accomplish.

[2015-01-19 12:21] vic3lord commented on #2369
Thanks for the help :+1:

[2015-01-19 12:21] #2369 closed

[2015-01-19 14:59] gillyb opened #2372 "logstash 1.5 - multiline filter throws exception and logstash freezes"
I am running a logstash1.5 node with a single thread. It receives via TCP input, parses the message according to syslog RFC5424 format, and it has a multiline filter on it.

The multiline filter is throwing this exception :
[code]

At this point the logstash freezes and stops processing incoming logs.

My configuration looks like this :
[code]
(If i remove the grok parsing it still throws the same

[2015-01-19 15:19] #1914 closed

[2015-01-19 15:26] ph commented on #1417
Thank you, in the latest version of the plugin you can use the `prefix` option to simulate directory in your s3 bucket. see https://github.com/logstash-plugins/logstash-output-s3/blob/master/lib/logstash/outputs/s3.rb for more information.

[2015-01-19 15:26] #1417 closed

[2015-01-19 15:28] ph commented on #1778
You can now use IAM Role with the s3 input and s3 ouput in the master.
https://github.com/logstash-plugins/logstash-output-s3/
https://github.com/logstash-plugins/logstash-input-s3/

[2015-01-19 15:28] #1778 closed

[2015-01-19 15:28] sdboer78 commented on #1709
+1

[2015-01-19 15:29] ph commented on #1915
This is fixed in the latest version of the plugin in https://github.com/logstash-plugins/logstash-output-s3/
Will be released with 1.5.

[2015-01-19 15:29] #1915 closed

[2015-01-19 15:30] ph commented on #1860
fixed in https://github.com/logstash-plugins/logstash-output-s3/

[2015-01-19 15:30] #1860 closed

[2015-01-19 15:34] ph commented on #1630
The cloudfront logic was extracted into his own codec, you need the latest version of the
https://github.com/logstash-plugins/logstash-input-s3/ to use it and the https://github.com/logstash-plugins/logstash-codec-cloudfront

[2015-01-19 15:34] #1630 closed

[2015-01-19 15:35] ph commented on #1626
fixed in the latest version of the https://github.com/logstash-plugins/logstash-output-s3

[2015-01-19 15:35] #1626 closed

[2015-01-19 15:51] timbunce commented on #1695
Any news? This got on the 1.4.3 milestone then removed and not added to the 1.5.0 milestone.

[2015-01-19 15:57] suyograo commented on #2372
@colinsurprenant since you are working through https://github.com/logstash-plugins/logstash-filter-multiline/pull/4, can you verify this?

[2015-01-19 16:01] purbon commented on #2351
+1 on checking on Bundler.setup I will release of some pain, if it works properly for us, for sure.

[2015-01-19 16:02] purbon commented on #2362
@jordansissel I started with the fixtures, but then @jsvd make very good points on changing that so I was more on the way of using some Factories, lets see where do we get with that.

My point was that we should somehow be happy with the test and make sure they are very easy to follow and update.

[2015-01-19 16:21] georg94 opened #2374 "Timeout Error"
After starting logstash it runs for a short time and then ends with the following error message:
[code]

The config file looks like this
[code]

Logstash is running in a docker container with OpenJDK 64-Bit 7u71-2.5.3-2

[2015-01-19 16:22] jsvd commented on #2374
Is the port 9200 of 10.20.30.59 accessible from that docker container?

[2015-01-19 16:24] georg94 commented on #2374
Yes it is. In the short time period logstash is running I even can access the API
curl "[host-ip]:9200/_search?pretty=true" gives me
[code]

[2015-01-19 16:46] georg94 commented on #2374
It seems to be a problem with the embedded elasticsearch.
When I only output to stdout logstash keeps running.

[2015-01-19 16:59] jsvd commented on #2374
Having trouble replicating that, I just started logstash with a shorter config and it worked fine (I was able to query the server w/ curl):

[code]

[2015-01-19 17:25] suyograo commented on #1483
@jsvd has a fix here https://github.com/logstash-plugins/logstash-codec-multiline/pull/1

[2015-01-19 17:30] suyograo commented on #2374
@georg94 can you start LS with `--debug` command line flag to get more verbose logs?

[2015-01-19 18:33] georg94 commented on #2374
I already did, but the error I get is the same

[2015-01-19 18:46] jordansissel commented on #1695
@jlintz Can you be more specific?

[2015-01-19 18:49] jordansissel commented on #1695
@timbunce I can confirm that I can reproduce:

---

[code]

[2015-01-19 18:53] jordansissel commented on #1695
I don't know what the correct solution is, here.
* Does the urldecode filter need a charset setting to allow users to hint what charset to decode the result as?
* Should we fudge any invalid things with LogStash::Util::Charset? (This is what plain/line codecs do today)

[code]

[2015-01-19 20:19] colinsurprenant commented on #2372
@gillyb ok, thanks for the report. I will investigate!

[2015-01-19 20:40] timbunce commented on #1695
* Please don't drop the event! (ever)
* Being consistent with what codecs do sounds best - you don't have to squint hard to see urldecode is a kind of codec.
* A charset setting would be handy but not essential (for me at least) given the above.

Note that handling of encoding issues is required for parameter _names_ as well as _values_.

I don't know what LogStash::Util::Charset does, but ideally

[2015-01-19 20:44] jordansissel commented on #1695
It turns invalid byte sequences into escapes. So an invalid 2-byte sequence 0xD3D0 would become, literally, '\xD3\xD0'. 8 Characters, the backslash and x are actually part of the string. This would allow you to later reconstruct somehow with code by turning the text "\xD3\xD0" (8 bytes) into the 2-byte sequence once again.

[2015-01-19 20:45] jordansissel commented on #1695
@timbunce I am in favor of using the codec-charset-fudging with urldecode also.

[2015-01-19 20:55] colinsurprenant commented on #2372
@gillyb could you please share a sample input to reproduces with this config?

With the multiline refactor I am about to merge this should be solved but I'd like to include a specific test for this case.

The problem you are seeing is related to the json parsing performance work we did in 1.5 and the `|` proxy method seems to be missing for Java collections.

[2015-01-19 21:53] georg94 commented on #2374
This is weired. I just set up docker on another server and it is working.
So I guess you can close this issue.

[2015-01-20 00:01] jordansissel opened #2376 "Operational concern: Offline plugin installation"
User-story-ish-thing: As an person deploying Logstash, I may operate within an air-gapped datacenter or otherwise not-internet-connected facility. I would like to install and upgrade Logstash plugins without requiring internet connectivity at installation-time.

---

Let's gather some options for providing plugin installation in the above situation.

Ideally, the solution chosen should be one whic

[2015-01-20 00:02] jordansissel commented on #2376
A meeting lead by @tbragin and some lovely support and solutions-architect folk discussed some of these concerns.

[2015-01-20 00:08] pickypg commented on #2376
I think that option 2 is the least painful for users/operators because there's no setup or knowledge of Ruby/dependencies required. Find the plugin that you want, download its bundle, and install it just like with Elasticsearch.

For offline use cases, this avoids a lot of infrastructure to download a single plugin in many cases.

[2015-01-20 00:10] pickypg commented on #2376
Ideally building the bundle should be done with every plugin's release rather than periodically. Whatever is done to make this work should be exposed (and _strongly_ encouraged) for any community-based plugin.

[2015-01-20 00:31] jsvd commented on #2376
To implement option 2, a `rake plugin:package_all` task could ask bundler to download all plugins and their dependencies to a folder, using [bundler package](http://bundler.io/v1.2/bundle_package.html).

[2015-01-20 00:33] jsvd commented on #2376
Also we might want to check if the plugin installation process is http/https only (no git://) and if we properly respect http/https proxies. In my old company we were walled off but had access to a proxy, so we pulled everything through http.

[2015-01-20 00:43] jordansissel commented on #2376
@jsvd I believe we support proxies already because our installation method is through the normal Gem APIs which support it. @electrical didn't you verify this?

[2015-01-20 00:55] jsvd commented on #2376
Yes in theory we should. If Richard hasn't tried yet I'll test it tomorrow.

[2015-01-20 00:57] jsvd commented on #2374
Glad it's sorted out :)

Closing.

[2015-01-20 00:57] #2374 closed

[2015-01-20 02:26] chenryn commented on #1709
any progress here? btw: I run a simple test about maxminddb and geoip, seems maxminddb is much slower than geoip...did anybody test those?

[2015-01-20 09:07] georg94 commented on #2374
I found the problem:
On the not working enviorment http_proxy, https_proxy and no_proxy were set. Logstash/Elasticsearch seem not to use the no_proxy env so the requests were redirected over the proxy who threw an error page.
I executed `unset http_proxy && unset https_proxy` before starting logstash and it is working now on both systems.

[2015-01-20 09:43] jsvd commented on #2374
Interesting, thanks for debugging this! I'll open an issue to investigate the no_proxy handling

[2015-01-20 09:47] zabbal opened #2377 "unable to disable logstash-web component"
It's completely unclear how to disable old kibana version bundled with logstash under the name of logstash-web. It seems to be interfering with the new kibana I'm using.

What exactly starts "/opt/logstash/lib/logstash/runner.rb web" and how to kill it once and for all?
Is there any chance to avoid installing it as a bundle in a 1st place?

[2015-01-20 10:37] electrical commented on #2376
Proxy support has been tested but not with the file-dependencies parts.
That's something that might need extra work.

[2015-01-20 11:07] purbon commented on #2376
If we aim to support kinda offline installation I would most probably take two approaches:

* Create a bundle with everything simplify the installation for offline users.
* I think it would also nice to facilitate a process to create rubygems source where people can install their plugins locally and avoid hitting the external network. This should not be hard to archive as far as I know.

I think t

[2015-01-20 11:16] electrical commented on #2376
Installations take more then just the ruby gems. We have to think about Jars and remote file dependencies as well.
The current workflow is fully design to work in an online situation.
For limited internet access systems we got proxy support.

Offline installation has never been a consideration at any stage of the creation of the plugin system and all underlying functions.

If we want to support of

[2015-01-20 12:30] ohookins opened #2378 "Changing elasticsearch_http host DNS is not re-resolved to the new IP"
I have an ElasticSearch cluster behind an AWS ElasticLoadbalancer and the IP addresses behind the DNS name recently changed. It appears that the Logstash nodes did not notice this change and our events started disappearing. I haven't exhaustively recreated the scenario but perhaps can provide some more information on what was happening.

1. The ```elasticsearch_http``` output was configured with a

[2015-01-20 12:35] electrical commented on #2378
Looks like we only do DNS resolving at startup of logstash. @jordansissel @colinsurprenant any idea's ?

[2015-01-20 15:20] jlintz commented on #1695
@jordansissel we've been seeing

`{:timestamp=>"2015-01-20T08:21:17.636000-0500", :message=>"Exception in filterworker", "exception"=>#<ArgumentError: invalid byte sequence in UTF-8>, "backtrace"=>["org/jruby/RubyString.java:5127:in `scan'", "/opt/logstash/lib/logstash/filters/kv.rb:209:in `parse'", "/opt/logstash/lib/logstash/filters/kv.rb:175:in `filter'", "(eval):1141:in `initialize'", "org/jru

[2015-01-20 16:47] thomasmarkus opened #2379 "Mutate with non-existent field throws an error"
`bin/logstash -e 'filter { mutate { remove => "[foo][bar]" } }'`

logstash-1.4.2 = OK
logstash-1.5.0beta1 = OK
logstash-1.5-snapshot (c95cc001b532906bfcaf3ea6808a63f7a8e4ae5e) = FAIL

```Exception in filterworker {"exception"=>#<NoMethodError: undefined method `delete' for nil:NilClass>, "backtrace"=>["/Users/tmarkus/git/logstash/build/logstash-1.5.0.beta1/lib/logstash/util/accessors.rb:51:in `del

[2015-01-20 16:55] purbon commented on #2362
@jordansissel we should all have an open discussion how do we want this to happen. I will open an example PR tomorrow morning, so we might discuss over there.

[2015-01-20 17:25] purbon commented on #2362
You guys can check https://github.com/elasticsearch/logstash/pull/2380 and comment about the style, let me know if there are parts that will make everything great!

[2015-01-20 18:30] wsanchez opened #2381 "Support for draft-ietf-json-text-sequence"
logstash should ingest JSON data in this form: https://datatracker.ietf.org/doc/draft-ietf-json-text-sequence/

Basically, that means `RS + JSON + LF`.

Since log stash already handles `JSON + LF`, a trivial parser could simply delete the leading RS character.  A smarter one would use this to detect truncated JSON text and recover the following record, as described in the spec.

[2015-01-20 18:51] jordansissel commented on #2381
This draft defines the JSON part as :
* possible-JSON = 1*(not-RS);
* not-RS = %x00-1d / %x1f-ff; any octets other than RS

Except the RS character 0x1E appears to be accepted by the Ruby and Python JSON parsers, where as this RFC requires we reject this RS within the JSON octets. So simply trimming the RS, or splitting a stream on RS, seems like not the correct approach to solving it.

I confess

[2015-01-20 19:21] jordansissel commented on #2381
For additional data point: Because I had not seen any evidence of its use, I didn't care to support RFC5424 (an alternative syslog message format) even though it's been around for a long time. Once I became aware that users were seeing this format in the wild, I grew interest in supporting it :)

So!

There are two options here:
1) We support this, somehow, in the json_lines codec. This is pending

[2015-01-20 19:31] wsanchez commented on #2381
Well, I'm writing code to emit logs in this form, but one objection I got was that log stash doesn't support it.  :-)

[2015-01-20 20:43] marcboscher opened #2382 "Packaging as single jar to run in AWS elastic beanstalk"
I have cases where we run logstash in a VM completely independent of any inputs and outputs. For example, using an S3 input and an elasticsearch output. In these cases we care very little about the local machine and file system. So deploying, configuring and monitoring a full VM just to run logstash is a pain. I would just prefer to run a jar in AWS Elastic Beanstalk.

This would require packaging

[2015-01-20 21:14] #2337 closed

[2015-01-20 21:14] #2043 closed

[2015-01-20 21:17] ph commented on #1448
Fixed in the latest version of the https://github.com/logstash-plugins/logstash-input-s3

[2015-01-20 21:17] #1448 closed

[2015-01-20 23:19] jordansissel commented on #2040
TODO:
* document naming scheme for loggers
* prepare for an API that allows control of this via the future logstash API

[2015-01-20 23:25] colinsurprenant commented on #2372
@gillyb I am unable to reproduce the problem locally. If you could send sample input to reproduce it would be really helpful and I'd like to include a spec for this. In the meantime I will go ahead a merge logstash-plugins/logstash-filter-multiline#4 - once the new plugin version is published you can also try it to see if it actually solve the issue.

[2015-01-20 23:30] glyph commented on #2381
Python's, at least, seems to not accept it:

[code]

[2015-01-20 23:44] jordansissel commented on #2381
What I Meant was that RS was accepted in string values in Ruby and Python.

However, upon further study, I see I had a typo and \u00E1 is actually invalid (expectedly) in a json string.

This said, we can probably solve this by adding a customizeable json stream separator in the json_lines codec (split on \xE1 instead of \n)

[2015-01-20 23:46] glyph commented on #2381
@jordansissel This would have the advantage of allowing logs with pretty-printed JSON objects, whereas newline-separated ones require weird pseudo-canonicalization to get rid of whitespace.

[2015-01-20 23:49] wsanchez commented on #2381
A switch to this form can be done automatically, insofar as the first character in the stream is RS.

[2015-01-21 02:23] suyograo commented on #1527
@colinsurprenant the README now says:

This should be good, no?

[2015-01-21 02:47] suyograo commented on #2379
Thanks, confirmed it is broken with latest

[2015-01-21 07:23] rakesh91 opened #2385 "logstash design"
Hi,
In our setup we have around 700 vms and we need to ship logs to central location. So thought of using logstash proposed architecture (logstash(shipper)-redis-logstash-ES). Logs are very important and cant offered to loose single line. Considering this requirement
1. How well the above mentioned design is good for the requirement?
2. Should I need high end redis machines for this purpose?

Also

[2015-01-21 08:03] wiibaa commented on #2123
@colinsurprenant can you confirm this will be covered by https://github.com/logstash-plugins/logstash-filter-multiline/pull/4 with the new `source` config

[2015-01-21 08:15] gillyb commented on #2372
@colinsurprenant Ok, I did some more thorough experimenting on my problem and realised that my problem is probably much more specific than I thought...

In my original scenario, I have a windows server, with some C# code, sending logs via log4net. This is sending logs in syslog RFC5424 format to a linux server.
On the linux server I have an agent that acts as a proxy - It checks for a token (some

[2015-01-21 11:13] jsvd commented on #2130
We clearly need more predictable behaviour in the presence of exceptions across all the plugins types (input,output,filter,codec).

* input retries constantly after exceptions: not sure if this is desirable as can lead to stuck instances
* the remaining plugins will exit in the presence of an exception

However, each plugin can have its own being/rescue/retry blocks and thus prevent exceptions rea

[2015-01-21 15:35] #2351 closed

[2015-01-21 15:37] karthiklml opened #2387 "logstash - gelf - input"
Hi,

I am enabling the GELF input in the logstash and pushing some json code for testing .
Testing scenario is json test input => logstash-shipper => logstash => ES => UI . i am getting the following error .  logstash version is 1.4.2

:message=>"Gelfd failed to parse a message skipping", :exception=>#<Gelfd::UnknownHeaderError: Could not find parser for header: [123, 34]>, :backtrace=>["/opt/logs

[2015-01-21 17:40] jordansissel commented on #1695
@jlintz can you show me your input configuration?

[2015-01-21 17:52] jordansissel commented on #2381
I'm not arguing for or against this RS-delimited strategy (this isn't the right forum, either, for such a discussion). I'm mostly wondering about the impact of attempting to do this RS delimiting by default - I am not sure about making a default behavior support a framing strategy that I've never actually seen and whose proposal is only a few months old.

[2015-01-21 19:07] jlintz commented on #1695
@jordansissel input is just
[code]

[2015-01-21 19:16] colinsurprenant commented on #2372
I do have a good idea of the source of the problem and can see how it can happen but haven't bee able to reproduce :P

The exception `undefined method | for #<Java::JavaUtil::ArrayList:0x7a14b327>>` happens because in 1.5 we switched to using JrJackson for Json parsing and one of the optimization is the use of native Java collections like `ArrayList`. In JRuby some Ruby Array methods are added to

[2015-01-21 19:19] jordansissel commented on #2372
For a bit of humorous context, @colinsurprenant were talking about this bug on video, and as soon as we read the error message, both of us groaned - "Aghhhh JrJackson!!!!" hehe :)

[2015-01-21 19:41] jordansissel commented on #1695
@jlintz I think your case is different. This ticket is about urldecode filter introducing invalid-encoded-text after decoding. Your bug is about lumberjack input, I guess, not correctly patching invalid JSON?

[2015-01-21 19:47] jlintz commented on #1695
@jordansissel possibly? heh , the reason I added info was I'm seeing the error in the `kv` filter and we actually utilize the `urldecode` filter right before using the kv filter in a couple of places, mainly the spots where we get a high amount of events.  I haven't isolated it to which spot it's occurring yet.  But happy to open another issue if you think its completely different

[2015-01-21 19:49] jordansissel commented on #1695
@jlintz I may have misunderstood -

I read this to mean you only have the kv filter in use for this log type, which means urldecode filter is not used. Can you confirm by attaching your logstash config?

[2015-01-21 19:54] colinsurprenant commented on #2357
Yes!! +1

[2015-01-21 20:00] jlintz commented on #1695
sure, sorry for the confusion.  Here is the logstash config for our processing of Nginx logs

[code]

If you need the full config, I can probably post that as well.

[2015-01-21 20:07] colinsurprenant commented on #1527
Hmmm. Personally I think I would add a proper **Drip** section, especially to list the caveats etc...

[2015-01-21 20:30] ph commented on #1695
@timbunce @jlintz I have created a PR in the urldecode plugin that should escape invalid utf-8 characters. https://github.com/logstash-plugins/logstash-filter-urldecode/pull/1

[2015-01-21 21:39] colinsurprenant commented on #2372
Ok, got it, I am able to reproduce. No need to provide sample input @gillyb

[2015-01-21 22:14] #2197 closed

[2015-01-21 23:10] #2173 closed

[2015-01-21 23:25] #2238 closed

[2015-01-21 23:33] suyograo commented on #2385
@rakesh91 this architecture is recommended and works well. Please test your ingestion rate and decide how much resources to add for redis -- its not something we can answer without knowing more about your use case.

For failover see http://www.elasticsearch.org/guide/en/logstash/current/pipeline.html#_fault_tolerance

For questions like this please use the mailing list  https://groups.google.com/f

[2015-01-21 23:33] #2385 closed

[2015-01-21 23:50] suyograo commented on #2316
Closing this in favor of #2302

[2015-01-21 23:50] #2316 closed

[2015-01-21 23:51] #2310 closed

[2015-01-21 23:51] suyograo commented on #2311
Dup of #2310

[2015-01-21 23:51] #2311 closed

[2015-01-21 23:52] suyograo commented on #2309
@upbalshetwar closing this as it is not supported. Let us know why you need the jar behavior

[2015-01-21 23:52] #2309 closed

[2015-01-21 23:53] #2293 closed

[2015-01-21 23:55] suyograo commented on #2282
Hi @jasperla do you still have this issue?

[2015-01-21 23:56] suyograo commented on #2263
@adriannotimportant let us know if you are still facing issues

[2015-01-21 23:56] #2263 closed

[2015-01-21 23:57] suyograo commented on #2255
@jsvd does this need to be addressed?

[2015-01-22 00:03] suyograo commented on #2254
@mouzt please re-open if this is still an issue. See my comment above

[2015-01-22 00:03] #2254 closed

[2015-01-22 00:04] suyograo commented on #2230
Example repos were added

[2015-01-22 00:04] #2230 closed

[2015-01-22 00:30] suyograo commented on #1882
@wajiii we have replaces make with rake now. would love your feedback on it! See https://github.com/elasticsearch/logstash#developing

[2015-01-22 00:44] suyograo commented on #1839
@colinsurprenant is this possible to do in 1.5?

[2015-01-22 00:52] suyograo commented on #1250
related to https://github.com/elasticsearch/logstash/issues/2130#issuecomment-70820578

[2015-01-22 07:09] wiibaa opened #2391 "These issues can be closed"
* [x] #1482 as flushing was fix in #1545 and feature already described in #1231
* [x] #1629 as not supported in favor of using external tools
* [x] #1701 as moved to rake bootstrap
* [x] #1904 as fixed in logstash-plugins/logstash-input-elasticsearch/pull/6
* [x] #2185 fixed in 1.5 through #1545
* [x] #1765 fixed in 1.5 plugin architecture ?
* [x] #2123 fixed by almost merged logstash-plugins/logs

[2015-01-22 07:37] gillyb commented on #2372
:+1:

[2015-01-22 09:29] Stefan129 opened #2392 "filter/xml ignore namespace"
Hi,

I need to remove namespace from the input xml before applying xpath expressions in the xml filter.
Changing the filter to achieve this is easy but it would be nice to have this feature included as an attribute in the configuration of the xml filter and also part of the standard release.

Adding the following line after the XML creation (doc = Nokogiri::XML(value)) will remove the namespace:
d

[2015-01-22 11:22] purbon commented on #2163
+1 on call it console.

[2015-01-22 13:22] M0dM opened #2393 "Logstash 1.4.2 - glob configuration with mutate (replace) bug"
Hi,

I think I found a bug using glob configuration / mutate replace filter.

How to reproduce :
- Create 2 files : file1.log and file2.log
  - file1.log contain only "a"
  - file2.log contain only "b"

- Create 2 file configuration files :

[code]

[code]

logstash agent launching command :
[code]

RESULT:

[code]

Result should be :

[code]

=============== Same problem with line codec =========

[2015-01-22 13:28] benoitBrayer commented on #2393
Same problem with line codec :

RESULT :
[code]

EXPECTED RESULT :
[code]

CONF FILES :
[code]

[2015-01-22 13:45] runningman84 opened #2394 "support ssl client certificate"
I would like to auth with RabbitMQ using a ssl client key. This is the same concept as sensu is doing:
http://sensuapp.org/docs/0.16/certificates

[2015-01-22 13:46] runningman84 commented on #2151
This is linked to this issue:
https://github.com/elasticsearch/logstash/issues/2394

[2015-01-22 14:47] karthiklml commented on #2387
Hi,

Any updates ..

[2015-01-22 14:57] karthiklml opened #2395 "Logstash => MQ => Logstash-index-server => ES => kibana"
Hi,

I am using logstash 1.4.2 on centos 6.5

My input format is gelf

input {
gelf {
host => "127.0.0.1"
port => 12201
type => "gelf"
}
}

filter {
}

output {
MQ details

}

It has to pass the data to MQ . But the error indicate it couldn't parse the data from the json input . And the data not going to MQ servers. It get dropped with the below error.

:message=>"Gelfd failed to parse a message s

[2015-01-22 15:00] jsvd commented on #2395
Hi! Thanks for reporting, we're going to investigate.

Is this a different situation than the one you reported yesterday in https://github.com/elasticsearch/logstash/issues/2387?

[2015-01-22 15:10] karthiklml commented on #2395
Hi,

Yes both are same scenario .

[2015-01-22 16:12] jsvd commented on #2255
this is not a big concern since the output is ok, just a matter of wasted time and cpu cycles.
I guess we can revisit the speed of rake tasks later.
Closing.

[2015-01-22 16:12] #2255 closed

[2015-01-22 17:11] versnel commented on #2153
Pjanzen maybe some help again.

These are the 2 3 error's im getting.

Elasticsearch log:
[2015-01-22 16:41:40,609][DEBUG][action.search.type ] [suricata] All shards failed for phase: [query]
[2015-01-22 16:55:02,899][INFO ][cluster.service ] [suricata] added {[logstash-Suricata-8947-4016][HTvXM0AQR6mqKmeQf0Cn0g][Suricata][inet[/LOCAL_IP:9301]]{data=false, client=true},}, reason: zen-disco-receive

[2015-01-22 17:31] #2379 closed

[2015-01-22 18:14] ph commented on #1695
The fix was merged and will be a part of the Logstash 1.5 release

@jlintz If the new version of the `urldecode` plugin doesn't solve your issue feel free to open a new ticket.

[2015-01-22 18:14] #1695 closed

[2015-01-22 18:39] ph commented on #1946
Done in https://github.com/logstash-plugins/logstash-mixin-aws/pull/4

[2015-01-22 18:40] ph commented on #1778
STS is done in https://github.com/logstash-plugins/logstash-mixin-aws/pull/4 and should be merged shortly.

[2015-01-22 18:51] nicholas-marshall opened #2396 "Sorting of source array in the fingerprint filter prevents building bidirectional IP flows"
Good Day,

I am working on creating hash values for the 5-tupes of src_ip, src_port, dest_ip, dest_port, proto and then dest_ip, dest_port, src_ip, src_port, proto in order to use these two fingerprints to build bidirectional flows out of flow data I am collecting.  However with the following fingerprint filter:

#Fingerprint the communications flow by creating source and destination hashes over t

[2015-01-22 19:12] mholland231 commented on #1659
Following up on this. Trying to minimize the logstash installation to include it as part of an iso. The /vendor directory is almost 170M - could you help me understand what is and is not needed as part of this? I would figure things like kibana are not critical but there are 2 versions of jruby? Not trying to restructure the package but lighten it.

Thanks for looking at this.

[2015-01-22 19:48] suyograo commented on #1483
merged via logstash-plugins/logstash-codec-multiline#1

[2015-01-22 19:48] #1483 closed

[2015-01-22 20:18] electrical commented on #2396
Thank you very much for the extensive report.
Its indeed weird for us to sort it while you should decide the order in the source array.

@jordansissel @ph @talevy your opinions ?

[2015-01-22 20:19] timbunce commented on #1695
Thanks @ph!

[2015-01-22 20:22] johnwards opened #2398 "XML Parse failure, on field from a grok filter"
I've got a pretty simple log format coming in:
[code]
And I'd like to parse the XML into a data structure for stuffing into elasticsearch. I'm testing it like this currently:
[code]

I test this like so...and here is where it goes wrong...
[code]
This is Logstash 1.5 beta, I've also checked there isn't a new xml filter plugin etc.

Any ideas, I'm sure I'm doing something stupid...

[2015-01-22 20:23] thesolution opened #2399 "S3 Output Plugin fails on windows"
There are two issues I just ran into with the S3 plugin for windows.

#### The temp_directory is hardcoded to /opt/logstash/s3_temp/
When I ran logstash with the default path it tried to access this path in two different ways on my Windows 7 machine.
* First it tried creating the temp dir as a sub directory of my cwd( cwd was C:\logstash\ so the path it wanted to create the temp dir on was C:\logs

[2015-01-22 20:30] ph commented on #2399
In the latest version of the plugin located at https://github.com/logstash-plugins/logstash-output-s3/ we have added an option named `temporary_directory` allowing you to override where to save your files.

We are also closing the File handle before delete it.
https://github.com/logstash-plugins/logstash-output-s3/blob/master/lib/logstash/outputs/s3.rb#L168

Theses changes will be released in logs

[2015-01-22 20:31] wiibaa commented on #2315
Hi @dadoonet, sorry to highjack your issue but I would like to include in this issue discussion the following points to get your advice and the team point of view:

* possibility to configure the timezone as discussed in https://logstash.jira.com/browse/LOGSTASH-520
* possibility to apply this date formatting to others fields than @timestamp

My last idea would be to introduce in the syntax the no

[2015-01-22 20:39] wiibaa commented on #2398
@johnwards I suppose you must specify a `target`

[2015-01-22 20:43] suyograo commented on #2392
@wiibaa closed this via https://github.com/logstash-plugins/logstash-filter-xml/pull/6

[2015-01-22 20:43] #2392 closed

[2015-01-22 20:48] johnwards commented on #2398
Doh! That was it. Odd that it is an optional param.

Not the most pretty XML parsing for single nodes, but XML to JSON is never fun :)

[2015-01-22 20:48] #2398 closed

[2015-01-22 20:52] wiibaa commented on #2398
I suppose it is because you could use **store_xml => false** and **xpath** . Then specifying a target has no meaning.
Indeed that's not easy to get it right

[2015-01-22 20:52] talevy commented on #1843
PR for rejecting patterns with trailing whitespaces: https://github.com/jordansissel/ruby-grok/pull/15

[2015-01-22 21:01] colinsurprenant commented on #2123
confirmed! thanks @wiibaa

[2015-01-22 21:34] colinsurprenant commented on #2123
Fixed by  logstash-plugins/logstash-filter-multiline#4 published as v0.1.4

[2015-01-22 21:34] #2123 closed

[2015-01-22 22:11] suyograo commented on #1482
Closing this. #1545 is merged in

[2015-01-22 22:11] #1482 closed

[2015-01-22 22:16] colinsurprenant commented on #2372
- Fixed by logstash-plugins/logstash-filter-multiline#4 published as https://rubygems.org/gems/logstash-filter-multiline version 0.1.4
- Added regression spec in logstash-plugins/logstash-filter-multiline#7

[2015-01-22 22:16] #2372 closed

[2015-01-22 23:30] suyograo commented on #1629
Closed based on @jordansissel comments

[2015-01-22 23:30] #1629 closed

[2015-01-22 23:31] suyograo commented on #1701
@thmoeller we moved to using `rake` to bootstrap the dev environment. Closing this

[2015-01-22 23:31] #1701 closed

[2015-01-22 23:32] suyograo commented on #1904
Fixed https://github.com/logstash-plugins/logstash-input-elasticsearch/pull/6

[2015-01-22 23:32] #1904 closed

[2015-01-22 23:33] suyograo commented on #2185
Fixed via https://github.com/elasticsearch/logstash/pull/1545. Please let us know if this is not the case

[2015-01-22 23:33] #2185 closed

[2015-01-22 23:34] suyograo commented on #1765
Hi please take a look at the new plugin system we developed which makes adding dependent gems easier. more details here http://www.elasticsearch.org/blog/plugin-ecosystem-changes/

[2015-01-22 23:34] #1765 closed

[2015-01-22 23:35] #1413 closed

[2015-01-22 23:38] suyograo commented on #1367
Hi, all the functionality of `elasticsearch_http` output was moved to `elasticsearch-output`. We are focusing all our efforts on that plugin. Thanks for the issue -- we just added retry support to elasticsearch-output that handles error codes(https://github.com/logstash-plugins/logstash-output-elasticsearch/pull/2). Let us know what you think.

[2015-01-22 23:38] #1367 closed

[2015-01-22 23:43] suyograo commented on #2198
Hi @dlangille could you please open logstash-forwarder specific issues here https://github.com/elasticsearch/logstash-forwarder

[2015-01-22 23:43] #2198 closed

[2015-01-22 23:44] suyograo commented on #2391
Thanks much @wiibaa .. cleaned up everything but #2264  -- will keep this open for longer

[2015-01-22 23:44] #2391 closed

[2015-01-22 23:49] suyograo commented on #1708
not sure this is an issue anymore with master. Closing. Let us know if it does not work for you

[2015-01-22 23:49] #1708 closed

[2015-01-23 00:04] talevy opened #2400 "Unable to run bin/logstash - no gem found error"
On some environments, I am unable to successfully run `bin/logstash` after running `rake bootstrap` with a clean vendor dir.

here is the current error I encounter: https://gist.github.com/talevy/0cd47c1dfe9c7f918e79

[2015-01-23 01:05] jordansissel opened #2401 "`rake bootstrap` on windows says it can't find Java. Neat."
[code]

[2015-01-23 02:18] suyograo commented on #2400
this worked prior to https://github.com/elasticsearch/logstash/commit/3cb1aa8658d669a99c8f4434cce66d3b5afc0ae1

[2015-01-23 05:28] wiibaa commented on #2401
Having java in the PATH does not mean you have JAVA_HOME set correctly ? `echo %JAVA_HOME%` ?

[2015-01-23 05:43] jordansissel commented on #2401
@wiibaa JAVA_HOME is not set by the Oracle JDK 8 installer, for whatever reason.

Setting it manually is easy if you know how, but I'm hoping to avoid requiring that pointless ceremony. I'll see if there's a way we can automatically detect it.

[2015-01-23 05:46] jordansissel opened #2402 "`rake bootstrap` on Windows Ruby cannot 'gem install minitar'"
Bootstrapping goes: download jruby, unpack jruby, relaunch under jruby.

However, with the Windows Ruby installer, it ships with a broken rubygems configuration such that `gem install` cannot work due to SSL cert trust problems.

[code]

The recommended workaround for each user is this: https://gist.github.com/luislavena/f064211759ee0f806c88

However, I think this is a bad workaround. It requires

[2015-01-23 05:52] jordansissel commented on #2402
If I patch the default cert method, I get a bit farther:

[code]

Instead of failing to download the latest-gems list, it fails to fetch from fastly:

[code]

[2015-01-23 05:56] wiibaa commented on #2401
Got it reproduced, It seems that bin/jruby.exe is doing lookup only for 32 bits JDK into `C:\Program Files (x86)\Java` but not for 64-bits in `C:\Program Files\Java`

[2015-01-23 06:02] jordansissel commented on #2402
Even if I provide the fastly cert + chain (via openssl s_client -showcerts > fastly.pem) it still fails to verify fastly.net.. hmm so weird

[2015-01-23 06:05] wiibaa commented on #2402
Did not run into this issue recently, strange...
I was using this [manual solution](https://gist.github.com/fnichol/867550#the-manual-way-boring) with the ENV variable SSL_CERT_FILE, maybe it is easier to set it on behalf of the user than patching ruby

[2015-01-23 06:13] jordansissel commented on #2402
I made an effort to get the Digicert root and intermediate in pem format, but they are in some binary format I don't' recognize. https://www.digicert.com/digicert-root-certificates.htm

[2015-01-23 06:13] jordansissel commented on #2402
@wiibaa Fetching the curl cacert list and using my monkeypatch seems to fix it.

[2015-01-23 06:15] jordansissel commented on #2402
I lied. Adding the curl cacert list plus using whatever Windows Ruby's rubygems ships with does the trick.

This was quite frustrating.

[2015-01-23 06:21] wiibaa commented on #2402
"frustrating" is a buzzword when talking about windows (or java) experiences

[2015-01-23 06:24] jordansissel commented on #2402
eh, this was a windows ruby or a rubygems bug for not shipping the correct ssl certs to talk with rubygems.org.

Doesn't matter, monkeypatched it :(

[2015-01-23 06:36] jordansissel commented on #2401
@wiibaa how'd you check that? windows debugger to trace the file calls?

[2015-01-23 06:40] wiibaa commented on #2401
nope manual testing,
[code]
jruby pointed to my 32-bits JDK 1.7, renaming the folder to dummy-jdk, then he found my 32-bits 1.8 jdk, renaming the folder to dummy-jdk-1.8 and then **Cannot find Java 1.5 or higher.**

[2015-01-23 06:47] wiibaa commented on #2401
I think the status from jruby side is still blurry https://jira.codehaus.org/browse/JRUBY-6696

[2015-01-23 07:31] fervid opened #2404 "Exception in filterworker"
Hello, I faced with a problem.

[code]

[2015-01-23 07:51] wiibaa commented on #2401
Just found out `bin\jruby -Xtrace trace.log -v`
and https://github.com/jruby/jruby-launcher/blob/master/jvmlauncher.cpp
Crazy...but necessary

[2015-01-23 08:02] baozhaxiaoyuanxiao opened #2405 "input file is json format output to elasticsearch data is not json key value format"
hello, everyone!
when i use logstash+elasticseach+kibaba, I have a problem.

1. my log format is json like this:
    {"logintime":"2015-01-14-18:48:57","logouttime:"2015-01-14-18:50:48"}

2. my logstash config file content is
  input {
   file {
	type => "syslog"
	path => ["/var/log/mylog/*.*","/var/log/messages"]
	exclude => ["*.gz"]
  }
 }
output {
  stdout { }
  elasticsearch {
    cluster => "

[2015-01-23 09:06] JamesJJ opened #2406 "[1.5.0] patterns default path "./patterns" not checked unless specifically configured"
I'm using ~1.5.0 at commit e89eb0a12e9a5194eb54040b1c30821f66c069de.

I have put a patterns file in ./patterns:

`$ ls ./bin/logstash ./patterns/my-patterns`
`./bin/logstash  ./patterns/my-patterns`
`$`

... it isn't being read. Running `--debug` shows:

<snipped>
`Grok patterns path {:patterns_dir=>["/opt/logstash/current/vendor/bundle/jruby/1.9/gems/logstash-patterns-core-0.1.2/patterns"], :leve

[2015-01-23 09:11] jsvd commented on #2406
Hi! The "./patterns" dir was reintroduced to the from filter in https://github.com/logstash-plugins/logstash-filter-grok/commit/c103c2ffe8ab676d5498c15f41af5c88ab55ee1f
Version 0.1.3 of this plugin will include the fix

[2015-01-23 09:27] JamesJJ commented on #2406
Super - many thanks.

(Closing this)

[2015-01-23 09:27] #2406 closed

[2015-01-23 09:29] purbon commented on #1737
Specially like this one

```Have plugins without tests cause a testing failure. (We can use a special rspec tag for this if desired.)```

will investigate how we can archive this in a nice way. :-)

[2015-01-23 09:35] purbon commented on #1890
nice, love the idea.

[2015-01-23 09:45] purbon commented on #2163
Added the terminal method to be used here at https://github.com/jordansissel/ruby-cabin/pull/25, waiting for review and merge to then be integrated here.

[2015-01-23 11:00] wingZero21 opened #2407 "Query on stout type setting elasticsearch"
Hi,

This is a query about setting the output type.

Currently checking the docs its saying that the type variable is being deprecated, however if I want to enforce the type of data that is getting outputted how else can you do this to ensure it does not break in new versions of logstash.

Eg:
Details: - http://logstash.net/docs/1.4.2/outputs/elasticsearch
[code]

[code]

[2015-01-23 11:07] n1njai opened #2408 "Run logstash with multiple configs"
Hi,
I am trying to run logstash 1.4.2 with multiple configs, with command line:
[code]
and I am getting some strange behaviour.

configs directory include 2 configs:
[code]
[code]
[code]
[code]
then, I am adding line for example into file /tmp/app3 with command:
[code]
 and I am getting this output in console:
[code]
Why I am getting two identical outputs?
If configs folder include five files with

[2015-01-23 11:24] electrical commented on #2408
Hi,

Internally in logstash all the configs in the directory get compiled into a single config and then evaluated.
Since you have multiple outputs configured it will do the output on all of them.

[2015-01-23 11:24] jsvd commented on #2408
The way multi config file is implemented is that all the configs are joined and then sent to the pipeline.

So if you have "stdout" in 4 configurations, you'll have that many times in the resulting "single configuration", and that's why you see duplicate messages. Similar to this:

[code]

[2015-01-23 11:36] jsvd commented on #2357
A tree-age test run will happen in a couple of hours (14:00 CEST) in the #logstash freenode channel. I'll go through some very old issues and we'll decide a course of action for each.

[2015-01-23 11:38] n1njai commented on #2408
Thanks, got it.

[2015-01-23 11:39] #2408 closed

[2015-01-23 12:33] wiibaa commented on #2405
You need to add codec definition in your input otherwise it will read raw lines.
Something like `codec => json`

[2015-01-23 12:35] wiibaa commented on #2407
type will still be available in 1.5.0 release but you can already have a look to using conditionals in the outputs block http://www.elasticsearch.org/guide/en/logstash/current/configuration.html#conditionals

[2015-01-23 13:24] jsvd commented on #1056
closing. either fixed in #1343 or in other commits for the other .sysv files

[2015-01-23 13:24] #1056 closed

[2015-01-23 13:25] fonzmike opened #2410 "file input: Massive loss off events if file globbing is used"
Hi,

every day i receive some dozen log files in a directory each file 50MB, 200.000 events. The Timestamps are ascending, about 5 to 20 events per second, no gaps. I process them with a file input using file globbing (\*.log) to import all files within that directory. All files are read but there is a massive loss of events, some files simply stop processing. Kibana shows broad gaps.
If i process

[2015-01-23 13:42] jsvd commented on #1229
so this needs a PR removing JRUBY-PR1448.rb and it's require in rakelib/gems.rake https://github.com/elasticsearch/logstash/blob/master/rakelib/gems.rake#L3

[2015-01-23 14:14] jsvd commented on #1239
moved this issue to the logstash-plugins/logstash-input-unix repository: https://github.com/logstash-plugins/logstash-input-unix/issues/1

[2015-01-23 14:14] #1239 closed

[2015-01-23 14:25] zhihuiFan opened #2411 "Logstash pipe output doesn't work well with upstart"
Here is some of my configuration.

input {
    pipe {
        type => 'sar'
        add_field => [ 'st', 'rq' ]
        command => "/usr/bin/sar -q 1"
    }
}
output {}

I'm using logstash 1.3.3,  if I run on the terminal,  it is ok.  but if I run it with upstart, there is no logs generated.

start on runlevel[35]
start on started mongod
stop on starting mongod
console owner

#pre-start script
#/e

[2015-01-23 14:29] wingZero21 commented on #2407
Hi,

Do you mean doing something like this?

[code]

[2015-01-23 14:35] jsvd commented on #1269
I don't really see a benefit in this case of using the file input plugin. You'd probably be better off having your scripts do:

[code]

If this is insufficient please reopen the issue :)

[2015-01-23 14:35] #1269 closed

[2015-01-23 14:36] electrical commented on #2411
Its most likely failing because you have no outputs configured.
Can you try to run logstash manually and without the --log flag?

[2015-01-23 14:38] jsvd commented on #1273
fixed in #1580

[2015-01-23 14:38] #1273 closed

[2015-01-23 14:46] PeterGrace opened #2413 "Memory leak when utilizing ruby{} block in a filter, any suggestions to fix?"
Hi there,

utilizing the filter block, below, I have a reproducible memory leak in my configuration.  This only started yesterday when I changed my assignments to ||= to remove a repetitive warning that a constant was already defined.  Can anyone shed some light on why this code might be causing a memory leak?

    filter {
            ruby {
                code => "
                    require '

[2015-01-23 15:18] zhihuiFan commented on #2411
@electrical , appreciate for your reply.  actually I have output configured.

output {
  redis {
    host => ["my-redis-host"]
      data_type => "list"
      key => "mongodlog"
      reconnect_interval => 10000000000000
  }
  stdout { codec => 'rubydebug' }
}

I tried again manually and without --log flag,  I can see the data in elasticsearch at last. If I run with upstart,  the data is lost.

I

[2015-01-23 15:19] wiibaa commented on #2407
converting your outputs config to conditionals would look more like
[code]

[2015-01-23 15:24] wiibaa commented on #2410
Related to #2135 #1902

[2015-01-23 15:24] wiibaa commented on #2410
In short we must wait for https://github.com/jordansissel/ruby-filewatch/issues/39

[2015-01-23 16:09] ph commented on #1282
In Logstash 1.5 we will introduce a new plugin system allowing you to install or remove the plugin. This will allow you to easily customize your own installation. We don't have any plan to create individuals OS package for each plugins. You can get more information about the new architecture in this blog post http://www.elasticsearch.org/blog/plugin-ecosystem-changes/

[2015-01-23 16:09] #1282 closed

[2015-01-23 16:09] fonzmike commented on #2410
ok thx!
I moved the log files to rhel and ran the agent here, everything worked as expected.

[2015-01-23 16:09] #2410 closed

[2015-01-23 16:33] ph commented on #1436
I am closing it, feel free to open it if it's still an issue.

[2015-01-23 16:33] #1436 closed

[2015-01-23 16:38] MarxDimitri opened #2414 "Redis/RabbitMQ output/input with multiple hosts for "silent" fail over"
Given a cluster of RabbitMQ/Redis nodes, it would be desirable that LS silently fail over in case a RabbitMQ/Redis node, pointed by LS, dies. This should be true for input and output.

[2015-01-23 16:54] untergeek commented on #1291
No follow-up has been here for several months.  Feel free to re-open this if you feel it still needs to be addressed.

sysv init script how-to documents are a bit out of scope for Logstash.  Many can be found on google (or your favorite search engine).

[2015-01-23 16:54] #1291 closed

[2015-01-23 16:57] pmcevoy commented on #1547
As a workaround in 1.4.2, I did the following.

_before_ the multi-match grok, add a mutate element like:

	mutate {
		add_field => {"_messageCopy" => "%{message}"}
	}

 then, update your grok like so - note that we remove the field that was a copy...

    grok {
        break_on_match => false
        match => [
            "message", "%{GREEDYDATA:name1}beard",
            "_messageCopy", "tree%

[2015-01-23 17:01] untergeek commented on #1292
Can you confirm this is stack trace related?  Logstash can ingest 5mb documents (and probably much bigger) and transport them to Elasticsearch with no difficulty.  Elasticsearch itself is capable of much larger documents than that, even.  If the netty transport is truly having an OOM, it's a big deal.  Also, Elasticsearch has incremented its netty version several times in the last 9 months.

I'm w

[2015-01-23 17:01] #1292 closed

[2015-01-23 17:08] untergeek commented on #1357
Closing in favor of https://github.com/logstash-plugins/logstash-patterns-core/pull/4

[2015-01-23 17:08] #1357 closed

[2015-01-23 17:11] purbon commented on #2400
I tried to reproduce this very same issue and was not able to, here basically what I did:

* clean environment.
* run rake bootstrap
* run rake test:prep and install the rubydebug plugin (otherwise there are missing plugins so the command will not work)
* run bin/logstash

and everything works.

Sorry could not reproduce it.

[2015-01-23 17:15] untergeek commented on #1369
@GregMefford @stonith @dav3860

Beginning with Logstash 1.5, the patterns are in their own repository, https://github.com/logstash-plugins/logstash-patterns-core

You can create issues and pull requests directly against the patterns repo now.  The resulting patterns ruby gem will be versioned with semver, allowing users to revert to an earlier build, should something go wrong.

We can migrate PRs

[2015-01-23 17:16] untergeek commented on #1369
By the way, this means that updating your patterns (in 1.5) will be as easy as:
[code]
and restarting Logstash.

[2015-01-23 17:19] untergeek commented on #1432
Closing, as it has been several months with no update.  Please feel free to re-open this issue at https://github.com/logstash-plugins/logstash-codec-netflow (the netflow codec has been moved).

[2015-01-23 17:19] #1432 closed

[2015-01-23 17:24] untergeek commented on #1438
Hi.  Sorry to keep you waiting for so long.

The http output plugin has been moved to https://github.com/logstash-plugins/logstash-output-http

This plugin does not support a codec, but rather uses `@format` instead.  See lines 46-54:

https://github.com/logstash-plugins/logstash-output-http/blob/master/lib/logstash/outputs/http.rb#L46-L54

[code]

Please address any other issues to the new plugin

[2015-01-23 17:24] #1438 closed

[2015-01-23 17:25] untergeek commented on #1444
Duplicate.  Closed by #1296

[2015-01-23 17:25] #1444 closed

[2015-01-23 17:27] untergeek commented on #1443
Duplicate of #1444.  Closed by #1296

[2015-01-23 17:27] #1443 closed

[2015-01-23 17:35] untergeek commented on #1441
Migrating this issue to the file input plugin: https://github.com/logstash-plugins/logstash-input-file/issues/6

[2015-01-23 17:35] #1441 closed

[2015-01-23 17:43] untergeek commented on #1447
Closing this as the work-around is good for now, and Jordan has future plans for addressing this.

[2015-01-23 17:43] #1447 closed