[2017-05-21 11:35] randude commented on #6821
anyone?

[2017-05-21 17:57] robbavey opened #7174 "[test failure] Failed spec in hot threads API"
seen in: https://travis-ci.org/elastic/logstash/jobs/234166103

Failures:

   `1) LogStash::Api::Modules::Node#hot threads When asking for human output and threads count should return information for <= # requested threads
     Failure/Error: get "/hot_threads?human=t&threads=2"
     NoMethodError:
       undefined method 'each' for nil:NilClass
     # ./logstash-core/lib/logstash/api/commands/hot

[2017-05-21 19:34] jsvd commented on #7077
Another failure for this test after #7145 was merged:
master - https://travis-ci.org/elastic/logstash/jobs/234592533#L1921-L1941
5.4 - https://travis-ci.org/elastic/logstash/jobs/234592576#L1796-L1816
5.x - https://travis-ci.org/elastic/logstash/jobs/234592566#L1842-L1864

[2017-05-22 12:45] jsvd commented on #7174
another instance https://logstash-ci.elastic.co/job/elastic+logstash+5.x+dockerubuntu-periodic/2185/console

[2017-05-22 13:02] #7174 closed

[2017-05-22 13:46] #7077 closed

[2017-05-22 13:47] jsvd commented on #7077
fixed by #7177 and  #7145

[2017-05-22 13:48] andrewvc opened #7178 "Kafka integration test can fail during setup"
Form https://travis-ci.org/elastic/logstash/jobs/234760314

[code]

[2017-05-22 13:51] jsvd commented on #7178
this seems to be a dup of an issue that got a PR and was closed, I added a comment there: https://github.com/elastic/logstash/issues/7160#issuecomment-303061906

[2017-05-22 13:55] andrewvc commented on #7178
@jsvd would you like to use this as the new issue or close / reopen #7160 ?

[2017-05-22 13:56] jsvd commented on #7178
I'll let @original-brownbear decide if this is similar (then close) or a different thing (then keep open).

[2017-05-22 14:13] Guduowai commented on #6502
Hello!
Please i have question about how to use jdbc_streaming
input{
  jdbc{
    statement => "select field1, field2, field3 from database1"
    ......
  }
}
filter {
  jdbc_streaming {
    statement => "select field5 from database2 where field 4 = :field2val"
    parameters => {"field2val" => "field2"}
}
this is how look my configuration file but seems doesn't work any help please

[2017-05-22 14:39] andrewvc commented on #7178
I believe https://github.com/elastic/logstash/pull/7179 will be a good fix for this, waiting for those tests to pass ATM

[2017-05-22 15:35] wainersm commented on #7097
@original-brownbear Talking about reuse, have you guys thought about using docker compose?

I made an experiment with docker compose so that the elasticsearch image is built from a base image (calling "sandbox"). Once you run ```docker-compose up``` both base and elasticsearch images are built and a container started afterwards.  Such as strategy can improve reuse and make dockerfiles for the serv

[2017-05-22 17:28] jsvd opened #7181 "ruby syntax error in acceptance test"
the acceptance test for the generate cli command has a syntax error: `GENERATE_TYPES.each |type| do` : code here https://github.com/elastic/logstash/blob/master/qa/acceptance/spec/shared_examples/cli/logstash-plugin/generate.rb#L18

this is causing acceptance tests to fail on [5.x](https://logstash-ci.elastic.co/job/elastic+logstash+5.x+multijob-acceptance/label=metal,suite=redhat/167/console) and

[2017-05-22 22:05] #6337 closed

[2017-05-22 23:22] dedemorton commented on #6963
@dedemorton test

[2017-05-23 00:03] original-brownbear commented on #7097
@wainersm I'm not opposed to using `docker-compose` in any way :) (especially since you can nowadays even dockerized it itself : https://hub.docker.com/r/docker/compose/ :))
(I will look into your patch soon btw, give me a few hours just finished travelling Europe -> West Coast and need to wake up real quick :))

[2017-05-23 00:13] acchen97 commented on #6633
Closed with https://github.com/logstash-plugins/logstash-filter-kubernetes_metadata/pull/1. Thanks @phutchins!

[2017-05-23 00:13] #6633 closed

[2017-05-23 00:43] acchen97 commented on #5004
@dkiser apologize for the lack of response here. We decided to go down the codec route for this, and now have a formal [CEF codec](https://www.elastic.co/guide/en/logstash/current/plugins-codecs-cef.html). For additional information on usage, please see this [blog post](https://www.elastic.co/blog/integrating-elastic-stack-with-arcsight-siem-part-1).

Closing this, but thank you for your interest

[2017-05-23 00:43] #5004 closed

[2017-05-23 00:44] acchen97 commented on #4150
Closed with https://github.com/logstash-plugins/logstash-input-kinesis/pull/1.

[2017-05-23 00:44] #4150 closed

[2017-05-23 00:46] acchen97 commented on #4335
Closed with alternate solution in the Elasticsearch output plugin https://github.com/logstash-plugins/logstash-output-elasticsearch/pull/497.

[2017-05-23 00:46] #4335 closed

[2017-05-23 02:20] geekpete commented on #5726
Assume this function will be served by any future grok tool provided as a Kibana app.

[2017-05-23 02:20] #5726 closed

[2017-05-23 14:00] original-brownbear commented on #7097
@wainersm alright looked over the patch. Generally it's exactly what I was looking for :)

"But":

* Let's not use compose and introduce another layer of things, we need the control the Ruby API gem gives us for some tests, let's just do things via the Ruby API like I did for Kafka throughout to stay consistent

Other than that, love it and think we should merge this as soon as it runs from Ruby l

[2017-05-23 14:20] ph commented on #7181
fixed by #7182

[2017-05-23 14:20] #7181 closed

[2017-05-23 14:27] ph opened #7183 "[Proposal] Weekly build of default plugins"
Our plugins only get tested on pull request and merges in the primary branch, with the creation of https://github.com/elastic/logstash/issues/7126 this will also us to test the plugins in a compatibility matrix. Travis now support a cronjob feature for every projects that allow you to define a build schedule. I suggest we enable it and set it to a weekly build, I understand that this changes will

[2017-05-23 14:30] colinsurprenant opened #7184 "randomized test creates DuplicateFormatFlagsException in test"
There seems to be a problem with some values of the random `page_count` https://github.com/elastic/logstash/blob/47517b89321cdcad5970a243554e6fd3c4d882c8/logstash-core/src/test/java/org/logstash/ackedqueue/QueueTest.java#L299 which result is a `DuplicateFormatFlagsException`.
Did not analyze but its probably when the random `page_count` is set to its limit?

[code]

[2017-05-23 14:32] ph opened #7185 "[Proposal] Jarvis aggregated views of plugins state"
With the proposal in https://github.com/elastic/logstash/issues/7183 to make the choice impactful I think we will need to provide an aggregated view of the plugin states.

I suggest when a build is successful or fails we trigger a webhook on Jarvis, the bot will periodically report something like this.

[code]

[2017-05-23 15:25] Guduowai opened #7186 "problem using alter coalesce"
Hello! i need some help
i have an output like this

{
        "variable1" => [
        [0] {
            "variable2" => "value"
        }
    ],
  and what i want is     "variable1"="value"
so i used alter filter:
 alter {
           coalesce  => {
                            "variable3" => "%{[varaible1][variable3]}"
                         }

        }
but doesn't work any help please

[2017-05-23 17:17] ph commented on #7123
That was in fact easy to fix, took time to run/debug.

[2017-05-23 17:29] dedemorton opened #7188 "Logstash 5.5 doc changes"
**5.5**

- [x] Add docs about about resiliency, including docs about DLQ. See https://github.com/elastic/logstash/issues/6700
  - [x] Fix the input event example to show the proper structure because the existing draft shows the output event.
  - [x] Add example that shows geopoint mapping error and how to filter on the reason field.
- [x] Add DLQ docs.
- [x] Add section about monitoring Logstash.

[2017-05-23 17:45] colinsurprenant opened #7189 "should tests rely on logstash.yml content?"
as discussed in #6613 - I don't think our tests should rely on the `logstash.yml` actual content. Tests should rely on mocked/preset settings specific for these tests. For example, tweeking the local `logstash.yml` should not interfere with running the tests.

WDYT?

[2017-05-23 17:46] ph commented on #7189
+1

[2017-05-23 17:48] colinsurprenant commented on #6613
moved `logstash.yml` state for tests in #7189

[2017-05-23 17:58] dedemorton commented on #4307
Closing because the plugin docs were update quite awhile ago. I guess we forgot to close this issue.

[2017-05-23 17:58] #4307 closed

[2017-05-23 18:13] dedemorton commented on #5261
Fixed in https://github.com/logstash-plugins/logstash-filter-translate/pull/40

[2017-05-23 18:13] #5261 closed

[2017-05-23 18:16] dedemorton commented on #5763
Closing in favor of #6846

[2017-05-23 18:16] #5763 closed

[2017-05-23 18:19] dedemorton commented on #5934
The docs in current have the correct options now, so I'm closing this.

[2017-05-23 18:19] #5934 closed

[2017-05-23 21:14] colinsurprenant commented on #6961
memory mapped buffers live outside the heap so it should not add GC overhead. There *shouldn't* be any problem with the GC *hacking* - see description in #6740 - also note that Lucene also does this. The fact that Java 9 exposes it is also an indication of its utility.

I am +1 on experimenting with other IO ideas to see if we can improve performance signature but let's not forget there are many o

[2017-05-23 21:20] suyograo commented on #6459
Fixed in https://github.com/logstash-plugins/logstash-filter-elasticsearch/commit/55461d6d2c7a1f95a47b2bd12c6d3da8427dcc9a

[2017-05-23 21:20] #6459 closed

[2017-05-23 21:41] original-brownbear commented on #6961
@colinsurprenant

Well it's not Java GC, it's system paging memory management overhead. I think the fact that the benchmarks go ever slower the larger you make the page size is proof of my point (see data here https://github.com/elastic/logstash/issues/7162#issuecomment-302796372).
You're simply forcing the OS to monitor a constantly changing address space (from new page file creation), out of whi

[2017-05-23 21:51] #3291 closed

[2017-05-23 21:52] #4932 closed

[2017-05-23 21:53] #5102 closed

[2017-05-23 21:54] #5660 closed

[2017-05-23 21:55] #6096 closed

[2017-05-23 21:56] dedemorton commented on #7027
cc @suyograo

[2017-05-23 23:09] marcosmoreno commented on #4111
Ubuntu 16.04
Logstash 5.4.0 (upgraded from 2.3.4)
Elasticsearch and Kibana also 5.4.0

Same log error:
[code]

Impact: **logstash stops working after this issue. Nothing is coming into Elasticsearch database** (it was working in previous version)

[code]

Any further information that I can provide?

[2017-05-23 23:26] techpanga commented on #7164
Is there a fix for this issue.

I also see this. I could not update or install any plugins on logstash 5.4.

[2017-05-24 02:20] #6610 closed

[2017-05-24 05:59] todd-bowles-console opened #7190 "Logstash data folder appears to have incorrect permissiosn"
I've been struggling with this issue ever since I tried to upgrade to 5.4.0 this morning. Logstash 5.2.0 does not exhibit the same problem.

I've created a data directory for logstash using the following script:

[code]

I've configured logstash.yml to contain /data/logstash as the data directory.

When logstash starts up, it creates a /data/logstash/queue directory, which is fine.

It can't write

[2017-05-24 09:37] troupier opened #7191 "Filter CSV convert doesn't work as documentation says"
Hello, i'm configuring logstash for parsing some csv files. I wanted to use the convert option from the CSV filter as in [https://www.elastic.co/guide/en/logstash/current/plugins-filters-csv.html#plugins-filters-csv-convert](url)

- Version: 5.4.0
- Operating System: RHEL
- **Config File**

[code]
Result of the config test :

[code]

- Steps to Reproduce:  was working with a convert option by colu

[2017-05-24 11:53] kamalsamra opened #7192 "How to use input http_poller for fetching data from google analytics?"
I want to show google analytics data on kibana so anyone tell me how it is possible?

[2017-05-24 12:51] breml commented on #7188
In the documentation about the [event api](https://www.elastic.co/guide/en/logstash/current/event-api.html) (respectively [asciidoc](https://github.com/elastic/logstash-docs/blob/master/docs/static/event-api.asciidoc) there are several important methods missing, which are defined on [event](https://github.com/elastic/logstash/blob/master/logstash-core/src/main/java/org/logstash/ext/JrubyEventExtLi

[2017-05-24 13:43] colinsurprenant opened #7193 "[test failure: master] nodestats get failures on CentOS"
https://logstash-ci.elastic.co/job/elastic+logstash+master+multijob-os-compatibility/os=centos/519/console

[code]

[2017-05-24 13:44] marek-obuchowicz commented on #3483
@suyograo can you please re-open it? It's NOT dupe of #3437

[2017-05-24 13:51] wainersm commented on #7097
Great! I'm working on an initial version, soon I push it for review.

[2017-05-24 13:52] colinsurprenant opened #7194 "[test failure: 5.x] acceptance test on plugin generate fails on redhat and debian"
https://logstash-ci.elastic.co/job/elastic+logstash+5.x+multijob-acceptance/label=metal,suite=redhat/170/console

[code]

https://logstash-ci.elastic.co/job/elastic+logstash+5.x+multijob-acceptance/label=metal,suite=debian/170/console

[code]

[2017-05-24 14:15] ph commented on #7194
Fix in https://github.com/elastic/logstash/pull/7187

[2017-05-24 14:23] ph opened #7195 "Logstash-plugin generate test in the acceptance suite doesn't work"
There is a few errors in theses examples:

1. The `File.directory?` check wont work because logstash is not a path
2. The install command won't work because the plugin is not build as a `*.gem` and the path is invalid.

This is a revert of https://github.com/elastic/logstash/pull/6879

[code]

[2017-05-24 14:23] ph commented on #7195
@wainersm would you mind to take a look? Where you able to run the theses tests locally?

[2017-05-24 14:34] colinsurprenant commented on #7162
I think we are mixing 2 concerns here:
- checkpointing strategy
- using mmaping for page files

As @jordansissel said, the checkpoint strategy was chosen for its durability characteristics, a very small file can be written atomically. The checkpoints are necessary to keep track of the acking for at-least-once delivery at the persistence layer. There are certainly optimizations we could do in the c

[2017-05-24 14:44] #7123 closed

[2017-05-24 14:46] ph commented on #7194
Actually I've disabled the test in #7187 and created the issue #7195 as a followup and fixed the issue with the debian 8 machine.

[2017-05-24 14:46] #7194 closed

[2017-05-24 14:47] ph commented on #6870
fixed in #7187

[2017-05-24 14:47] #6870 closed

[2017-05-24 14:49] wainersm commented on #7195
hi @ph , sure. Please assign it to me.

[2017-05-24 14:50] ph commented on #7195
@wainersm I can't assign it to you, you have to assign it to yourself. :)

[2017-05-24 14:51] ph commented on #6898
I will close this issue for the following reason, I have been able to run the acceptance on redhat in #7187 and the provided details in this issue doesn't help me much to debug the problem. If the issue happen again lets try to include the log in the issue. the current link is expired.

[2017-05-24 14:51] #6898 closed

[2017-05-24 14:52] #5269 closed

[2017-05-24 14:53] ph commented on #6506
This was done in #6514 we can close this.

[2017-05-24 14:53] #6506 closed

[2017-05-24 14:59] colinsurprenant opened #7196 "[test failure: master] undefined method `converge_state_and_update' for LogStash::Agent"
https://logstash-ci.elastic.co/job/elastic+logstash+master+multijob-intake/683/console

[code]

[2017-05-24 14:59] original-brownbear commented on #7162
@colinsurprenant

Yea this devolved a little as admitted above, but in any case the checkpointing strategy and I/O approach go hand in hand when it comes to planning a fast solution. I don't think it makes much sense planning on these independently if one gates the performance of the other.

But so is a `FileChannel.write` to an index file holding the same information for all checkpoints followed

[2017-05-24 15:14] colinsurprenant commented on #7162
Maybe you could create new design issue(s) for your persistence re-implementation ideas? these are certainly worth discussing in details.

[2017-05-24 15:41] yidingalan commented on #7006
Got the same error. Hope someone can clarify on this

kv filter:
[code]

[2017-05-24 15:46] colinsurprenant commented on #6961
can we move this discussion on using or not memory mapping elsewhere? it is a much bigger design discussion and it diverges from the original issue here which is more specific to the usage of the `Cleaner` class.

To move on with this, did my original proposal make sense?

We can deal with these in-time as we move on with the evaluation of our mmap usage in the future and ramp up on Java 9.

[2017-05-24 16:30] #5109 closed

[2017-05-24 16:36] colinsurprenant opened #7197 "[test failure: 5.x] LogStash::Pipeline when collecting metrics in the pipeline pipelines populates the output metrics"
https://logstash-ci.elastic.co/job/elastic+logstash+5.x+dockerubuntu-periodic/2210/console

[code]

[2017-05-24 16:55] guyboertje commented on #6851
Chaps, while checking the Security Analytics examples, I noticed that there can be more than one dashboard.
So I have coded for a file called dashboard/<module_name>.json - it will contain this:
[code]
Then there should be those two files in the dashboards folder.

[2017-05-24 17:20] original-brownbear commented on #6961
@colinsurprenant makes sense :)

[2017-05-24 18:04] acchen97 commented on #6851
@guyboertje yes multiple dashboards should be expected. If there are Kibana API changes, we might need a different set of dashboards per Kibana major.

[2017-05-24 19:44] yidingalan opened #7199 "kv filter caused logstash crashed"
- Version: Logstash and Elastic Versions: 5.4.0,
filebeat version: filebeat version 5.4.0 (amd64), libbeat 5.4.0
- Operating System: Mac OS Yosemite
- Config File
[code]
- Sample Data:

- Steps to Reproduce: I just upgraded our ELK stack to 5.4, and we got the time out error when we tried to publish the events

Looks like there is something wrong with the kv filter and when we looked at the error

[2017-05-24 19:53] ph commented on #7196
This is weird failures; I did multiple run with `stress` and that seed without luck to reproduce it.
I think the problem lies in how the test is written, it uses a thread, and we do mock on the object in another thread.

Also, this test is a duplicate of the one I wrote when I refactored the classes, if you look at the converge spec at https://github.com/elastic/logstash/blob/master/logstash-core/

[2017-05-24 19:58] ph commented on #7196
Actually, the `converge_spec` is better too because we don't test the implementation details we just test to make sure we call multiple time `#fetch` on the source which translate in multiple reload in LS.

[2017-05-24 22:51] dedemorton commented on #6511
Closing because this is already fixed in 5.2 and later. Opened PR #7201 for 5.0 and 5.1 docs.

[2017-05-24 22:51] #6511 closed

[2017-05-24 22:53] dedemorton commented on #6687
We've added this content here: https://www.elastic.co/guide/en/logstash/current/lookup-enrichment.html

[2017-05-24 22:53] #6687 closed

[2017-05-24 22:59] dedemorton commented on #6542
Closing this because the initial work is done. We'll track upcoming work in https://github.com/elastic/logstash/issues/7188

[2017-05-24 22:59] #6542 closed

[2017-05-24 23:08] dedemorton commented on #6734
Closed by issue #7202

[2017-05-24 23:08] #6734 closed

[2017-05-24 23:51] #7196 closed

[2017-05-25 00:13] acchen97 commented on #5356
Closed with https://github.com/logstash-plugins/logstash-output-zookeeper/pull/1.

[2017-05-25 00:13] #5356 closed

[2017-05-25 00:15] acchen97 commented on #5195
Closed with https://github.com/logstash-plugins/logstash-output-monasca_log_api/pull/1.

[2017-05-25 00:15] #5195 closed

[2017-05-25 00:32] acchen97 opened #7203 "Next round of new Logstash plugins"
This tracks a short list of new plugins to attend to next. It would be great to get these reviewed and merged into logstash-plugins. They are ordered by relative priority.

- [ ] Date formatter filter - https://github.com/elastic/logstash/issues/3028
- [ ] CEPH output - https://github.com/elastic/logstash/issues/7021 (needs dev)
- [ ] CSV input - https://github.com/elastic/logstash/issues/2088 (ne

[2017-05-25 00:32] acchen97 commented on #5868
Superceded by https://github.com/elastic/logstash/issues/7203.

[2017-05-25 00:32] #5868 closed

[2017-05-25 01:50] acchen97 opened #7207 "Expose DLQ feature for additional filters"
The DLQ feature currently only supports mapping exceptions from the Elasticsearch output. We should expose the option of dead lettering events that have errors during filter level field extraction or lookups in the listed plugins below. Introduction of a new plugin option: `on_error: dlq | tag` will allow users to choose to either dead letter or tag an event on failure or timeout. The tag_on_failu

[2017-05-25 02:48] dedemorton commented on #6823
Closed by  #7208

[2017-05-25 02:48] #6823 closed

[2017-05-25 04:47] jordansissel commented on #7162
I've been sick (or family has been) the past 5 days so I've been unable to respond fully. I'm really backlogged, but wanted to get you a rough answer about where I was going with my comment:

Our choice of checkpoint mechanism was made to ensure durability of commits to the queue (both writes and acks)

In general, for any given feature of our software, if we can improve the performance without br

[2017-05-25 05:18] original-brownbear commented on #7162
@jordansissel

Thanks for looking into this :)

I think there is no way to actually verify durability as you yourself pointed out the other day when talking about NFS. IMO we can't really do better than guarantee `sync` is called on whatever file/fd we handle, the rest is up to the OS/FS/User isn't it?

Urgh I'd love to :( but as you know I'm travelling right now and will be travelling again next

[2017-05-25 05:27] jordansissel commented on #6502
@Guduowai please open a discussion on https://discuss.elastic.co for this question.

[2017-05-25 06:16] jordansissel commented on #6687
Shiny!

[2017-05-25 06:41] jordansissel commented on #7162
We have multiple files right now (multiple pages, multiple checkpoints), and doing things in order is important. It is possible (in my past experience) to create a file, write, sync it, then lose power before the file metadata in the directory inode has been committed correctly, so you technically wrote the data to disk but no directory knows the file exists to the data is lost :\

In our multiple

[2017-05-25 06:48] original-brownbear commented on #7162
@jordansissel

Jup me and @robbavey came to the same conclusion talking about this, it's def not the same as as `sync` on a `fd`.

I think the current max queue size defaults to 1GB right? :D Not sure I agree with this right now though, 2GB is hell performance wise for the current code. Sadly enough smaller pages are faster with what we have :(

Yes (memory usage may not be the 100% correct term,

[2017-05-25 06:54] jordansissel commented on #7162
And if we remove the mmap-memory-overhead you are describing, does 2gb page size sound reasonable as a default?

[2017-05-25 06:57] original-brownbear commented on #7162
@jordansissel I like 2 GB, especially with us not running any compactions (yet) larger == faster imo. Kafka has a 1GB default too, that seems like a reasonable validation also :)

[2017-05-25 06:58] jordansissel commented on #7162
I'm open to this as an implementation model, if I can try to restate this specific checkpointing proposal:

1) Replace current checkpoint model (small file written atomically) with a log-style append model. This would remove the cost of the atomic checkpoint file creation.
2) We can reuse/keep the checkpoint serialization
3) Reading a checkpoint means seeking the last correctly-written checkpoint

[2017-05-25 06:59] jordansissel commented on #7162
(Also a given requirement that we need to support users upgrading with an older checkpoint/queue disk format to coexist with the new one, assuming we change anything)

[2017-05-25 07:02] jordansissel commented on #7162
@original-brownbear Can you write up a design proposal for your checkpoint, and, at your option, your page file (switch from mmap to use normal seek/read/write) strategy changes?

Once we have that, I think it'll be easier to digest than this longer issue, and we can get some feedback on that. There we can also discuss and address compatibility and upgrade scenarios for existing PQ users.

[2017-05-25 07:05] original-brownbear commented on #7162
@jordansissel will write it up soon then :)

[2017-05-25 08:31] joshuaspence commented on #6479
+1 on installing optionally via an extra command

[2017-05-25 10:23] guyboertje commented on #6851
@acchen97 - I get the possible need for multiple via versioning but I'm talking about multiple active dashboards e.g. Apache Access vs Apache Errors.

[2017-05-25 10:27] guyboertje commented on #6851
@acchen97 - Please confirm this module feature will not need to work with Kibana < 5.5

[2017-05-25 12:20] guyboertje commented on #6851
@suyograo, @untergeek - Filebeat modules had to do a Kibana index hack to overcome this issue https://github.com/elastic/beats-dashboards/issues/94, I coded for it but it failed to be applied in Kibana 5.4.
With this in mind, do you think we should plan for a folder in LS config that contains patches for `.kibana` index by  versions?

[2017-05-25 12:36] guyboertje commented on #6851
Also, this bug https://github.com/elastic/kibana/issues/9571 makes modules unusable ATM.
With Samir I also got it when exported all saved objects from their demo Kibana (5.4.0) and then imported them on cleaned up elasticsearch.

[2017-05-25 12:52] AnuroopSamrat opened #7209 "Logstash: How to pass value dynamically to timeout in elapsed filter"
-> How to pass value dynamically to timeout in elapsed filter.
-> i am trying to do using below configuration.
-> Here i am trying to get the value from db using jdbc plugin and
->assigning that value to a global variable (@@threshold) so that value
value can be used in continuos streaming.
->Assigning global variable @@threshold to timeout in elapsed filter is
not accepting vairables.

input {
st

[2017-05-25 13:20] andrewvc commented on #6904
@colinsurprenant saw this [here](https://travis-ci.org/elastic/logstash/jobs/235874652), reopening. I've seen it a few other times as well.

I'm confused by this @ph, aren't these tests supposed to all pass offline anyway?

[2017-05-25 13:21] ph commented on #6904
@andrewvc We actually generate a package in that test, so they require to be online. I will take a stab a it right now. I've seen it too in the email.

[2017-05-25 13:29] hailin0 commented on #6575
Is this problem solved? Why I still have the same problem after update
5.3.0 - > 5.3.2

[2017-05-25 14:01] andrewvc commented on #6904
@ph I saw three over the last 24 hours for some reason. Keep in mind, we now run the offline specs [separately](https://github.com/elastic/logstash/blob/master/ci/travis_integration_run.sh#L14)

[2017-05-25 14:09] andrewvc commented on #6904
@ph apparently I am confus

[2017-05-25 14:21] ph commented on #6904
Just to clarify, theses are the test faillings https://github.com/elastic/logstash/blob/master/spec/unit/plugin_manager/offline_plugin_packager_spec.rb#L102-L134

[2017-05-25 14:31] guyboertje commented on #6851
I talked with PH, we discussed the `Modules` namespace and folder for the classes of this feature.
The current file `modules.rb` needs to be renamed. I am going with `Scaffold` for now.

[2017-05-25 14:38] colinsurprenant commented on #6565
reopening - build failed on 5.1 https://logstash-ci.elastic.co/job/elastic+logstash+5.1+multijob-intake/75/console
[code]

[2017-05-25 14:42] colinsurprenant opened #7212 "[test failure: 5.0] LogStash::Agent metrics after config reloading when reloading a bad config sets the failure reload timestamp"
https://logstash-ci.elastic.co/job/elastic+logstash+5.0+multijob-os-compatibility/os=amazon/275/console

[code]

[2017-05-25 16:32] colinsurprenant commented on #7162
I would like us to take a step back here and reflect on the larger problem this issue is creating here.  Performance and benchmarks don’t mean much without looking at them in their proper context. We were/are very aware about the performance tradeoffs and consciously decided to first focus on coming up with a model that works with the required characteristics and after optimize. That is how we wor

[2017-05-25 16:56] colinsurprenant commented on #6575
@hailin0 could you create a new issue with a complete description of the problem you are experiencing? If it is related to the Persistent Queue, note that is was officially GA'ed in 5.4.0.

[2017-05-25 17:35] guyboertje commented on #7162
It seems to me that we are re-designing the racing car after its first few laps - lets gather telemetry data for a bit.

Lets not forget how the PQ feature unfolded. Here is some of what happened.

- We knew we were not designing a low latency, lock free, high performance Queue.

- We worked with @bleskes to build version 1 using battle tested mechanisms shamelessly thieved from Lucene - with simp

[2017-05-25 17:58] jordansissel commented on #7162
I think I understand your feelings here. I want to note strongly that we haven't made any decisions to change anything.

Maybe there are things to improve, maybe there aren't. It's not harmful to ruminate or discuss these ideas. There is no requirement to change the code. The only expected outcome of this discussion, for me, is that by engaging with this process, I will learn something. Maybe we w

[2017-05-25 18:57] original-brownbear commented on #7162
I totally agree with @jordansissel above. I think the discoveries here shouldn't force any changes right away.

What they should result in is a realization of existing issues (imo) and limitations of how far we can go with the approach in general.
We're planning further features based on PQ (replay mode, move to distributed logic) that are, as far as I can see, impossible to achieve in a scalable

[2017-05-25 19:37] colinsurprenant commented on #7162
@jordansissel  Obviously, I do agree with what you are saying and in essence this is what I tried to convey in

And this is not what I tried to raise as the problem. I'll try to recap what I see:
- micro benchmark highlights some performance characteristics
- hypothesis is made on the cause and improvements are proposed
- green light is given for a new checkpointing strategy POC
- overall design i

[2017-05-25 19:52] colinsurprenant commented on #6245
re-opening, failing on 5.1
https://logstash-ci.elastic.co/job/elastic+logstash+5.1+multijob-os-compatibility/os=fedora/55/console

[2017-05-25 19:58] thehybridtechnician commented on #6479
I would agree with this.

[2017-05-25 20:03] colinsurprenant opened #7227 "[test failure: 5.x] LogStash::Instrument::MetricStore::MetricNotFound"
https://logstash-ci.elastic.co/job/elastic+logstash+5.x+multijob-os-compatibility/os=debian/302/console

109 related failures
[code]

[2017-05-25 20:34] colinsurprenant commented on #6245
also failing on 5.2
https://logstash-ci.elastic.co/job/elastic+logstash+5.2+multijob-os-compatibility/os=ubuntu/55/console

[2017-05-25 20:46] #6904 closed

[2017-05-25 21:06] original-brownbear commented on #7128
@suyograo good news, Nashorn makes us happy here -> executes my converter just fine :)
see https://github.com/original-brownbear/logstash/blob/7128/logstash-core/src/main/java/org/logstash/ingest/JsonToGrok.java#L18 (ignore the dirtiness of the script inclusion, cleaning up soon)

[2017-05-25 23:14] original-brownbear commented on #7128
@suyograo I understand this is supposed to go to a frontend use case too, so we need a bit of pretty printing the output grok I guess? :)

[2017-05-26 00:08] original-brownbear commented on #7128
@suyograo is it by accident or by design that the above grok example has the second pattern double escaped while the first one is single escaped?
In the JSON both are at the same "level of escaping"/

[2017-05-26 00:25] acchen97 commented on #6851
@guyboertje Beats module dashboards are [compatible](https://www.elastic.co/support/matrix#show_compatibility) across Kibana 5.x, so I think we should strive for similar compatibility. Is it a significant amount of work to make it work across Kibana versions?

Is this a blocker?

[2017-05-26 00:32] suyograo commented on #7128
@original-brownbear yes on pretty print :)

[2017-05-26 00:34] suyograo commented on #7128
hmm that does looks wrong. Let me double check

[2017-05-26 00:39] suyograo commented on #7128
@original-brownbear yep, that _is_ wrong escaping. It must be a copy-pasta :) I'll fix it now

[2017-05-26 00:43] suyograo commented on #7128
this is a different example of using a literal string:

[code]

[2017-05-26 00:50] suyograo commented on #6851
@guyboertje I'm curious how beats module handle the importing of dashboards with this Kibana issue? Is it only that we run into this because we used a dashboard json from an older version.

I would say let's focus on >=v5.5 of the stack for now. We can deal with < 5.4 kibana issue later on.

[2017-05-26 03:56] original-brownbear commented on #7128
@suyograo so just to clarify:

JSON:
[code]

goes to GROK:

[code]

? :)

[2017-05-26 08:43] jsvd commented on #7227
are we still backporting bug fixes to < 5.3 branches? if not it may make sense to disable builds for those.

[2017-05-26 08:45] jsvd commented on #7212
this is a failure in 5.0 branch, are we still backporting bug fixes to < 5.3 branches? if not it may make sense to disable builds for those.

[2017-05-26 10:00] guyboertje commented on #7162
One must also bear in mind here is that via the WriteClient/ReadClient pairs the Queue is designed to be drop-in replaceable. This means that we could work on PQ vN without needing more than bug fixes for vN-1.

Below I list a few meaty concepts I think we might sink our collective nashers into.

- We should rewrite the current Client pairs in Java.
- We could offer Client pairs for Elasticsearch

[2017-05-26 10:32] jsvd opened #7230 "[test failure] execute options system pipeline when we have an infinite pipeline and a system pipeline running #running_user_defined_pipelines? returns true"
this happened on my machine using master at a170e7357, but I haven't been able to reproduce it again:

[code]

[2017-05-26 12:41] Benny-Git commented on #6900
I see the same issue with my current setup, running the 5.4.0 stack.
I fear it might be a simple config issue with logstash blocking all resources for running the pipeline, leaving none for the sincedb write until the end - but then again I wouldn't know how to properly debug it.

[2017-05-26 12:43] guyboertje commented on #6851
@suyograo @acchen97
Its a blocker for usable modules in both filebeat and us. We can still ship it but users will complain.
I could not get any workarounds suggested in the kibana issue to work for me but Samir or Dale might. The fault is seen when working kibana state is exported from one 5.4 instance and imported to a shiny new kibana 5.4 instance.

My tests used the exported cef demo kibana sta

[2017-05-26 13:41] colinsurprenant commented on #7227
good point. I think that if the version is not EOL'ed there is always a possibility to push/backport bugfixes to it so I would keep the builds.

[2017-05-26 14:31] untergeek commented on #6851
@guyboertje So v5.5 and v6 are different enough that we need to support multiple JSON structures? Okay.  I'm cool with that.  We should plan for that, since we're targeting v5.5 anyway, and v6 and v7 might also have different structures, requiring multiple version support as well.

My worry is that potential _minor_ version incompatibilities in Kibana might make it even more complex :worried:

[2017-05-26 15:14] andrewvc commented on #7209
I'm going to close this due to it not being an actual issue. We appreciate your use of Logstash, but github issues are only for actual bugs.

Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

[2017-05-26 15:14] #7209 closed

[2017-05-26 15:21] #7102 closed

[2017-05-26 15:25] colinsurprenant opened #7231 "[test failure: 5.4] WrappedAckedQueue with multiple writers with simulate_work OFF > larger event size < behaves like a well behaved queue writes, reads, closes and reopens"
https://logstash-ci.elastic.co/job/elastic+logstash+5.4+dockerubuntu-periodic/518/console

[code]

[2017-05-26 15:28] colinsurprenant commented on #6737
ocurred in https://logstash-ci.elastic.co/job/elastic+logstash+5.4+multijob-os-compatibility/os=centos/45/console
[code]

[2017-05-26 15:29] jsvd commented on #7075
logstash 5.4.1 will be released with grok plugin 3.4.0 https://github.com/elastic/logstash/blob/v5.4.1/Gemfile.jruby-1.9.lock#L206

[2017-05-26 15:29] #7075 closed

[2017-05-26 15:31] colinsurprenant commented on #7227
Another occurence on master https://logstash-ci.elastic.co/job/elastic+logstash+master+multijob-os-compatibility/os=ubuntu/525/console
[code]

[2017-05-26 15:42] colinsurprenant opened #7232 "[test failure: 5.0, 5.1, 5.2, 5.3] bundler fails in acceptance tests"
The same bundler errors seems to repetitively reoccur inn acceptance tests in 5.0, 5.2 and 5.3. Not sure if these are transient errors but the pattern seems to indicate it's not.

https://logstash-ci.elastic.co/job/elastic+logstash+5.0+multijob-acceptance/label=metal,suite=debian/193/console
https://logstash-ci.elastic.co/job/elastic+logstash+5.0+multijob-acceptance/label=metal,suite=redhat/193/co

[2017-05-26 15:43] guyboertje commented on #6851
@untergeek - I'm not saying that v5.5 and 6.0 **will** be different - just that we can easily accommodate it if it must be done.

After a bit of thought maybe the module gem spec needs reference logstash-core version not the plugin api because the plugin api is not a contract that these gems agree to.

Its actually the Scaffold class that determines what file structures it expects the gem to suppo

[2017-05-26 15:43] colinsurprenant commented on #7232
also found 5.1

https://logstash-ci.elastic.co/job/elastic+logstash+5.1+multijob-os-compatibility/os=ubuntu/56/console

[2017-05-26 15:46] guyboertje commented on #6851
@untergeek - If we need alternate versioned file structures might only be needed when LS and Kibana **patch** releases diverge.

[2017-05-26 15:47] jsvd commented on #7049
this is a strange one, have you tried updating to 5.4.0?
Also can you provide some logging at the --log.level=debug  level around that exception?

[2017-05-26 15:51] jsvd commented on #7046
@pfuntner this is, for the time being and for some time in the future, the behaviour by design and can't be configured. The idea is that all destinations should have a similar view of events being processed by logstash, and if one stops then all data flow should stop.

It's possible in the future we'll be able to tune this behaviour when we have a graph based execution of the pipeline, but I'm goi

[2017-05-26 15:51] #7046 closed

[2017-05-26 15:57] jsvd commented on #7036
this is strange, the logs that you provide in the initial post don't show the errors you linked afterwards. is logstash installed using deb package? are there any more logs you can attach here?

[2017-05-26 16:08] ph commented on #6891
@jordansissel I did not run into any of theses issues with the latest JRuby 9K. I will be closing this.

[2017-05-26 16:08] #6891 closed

[2017-05-26 16:11] jsvd commented on #7006
closing as a duplicate of https://github.com/logstash-plugins/logstash-filter-kv/issues/48

[2017-05-26 16:11] #7006 closed

[2017-05-26 16:16] suyograo commented on #6851
@guyboertje can we create a new state for 5.5? We are only creating a module for 5.5, so why bother importing form 5.4 or 5.1? This way users will get a clean experience with 5.5 (until we fix the blocker in Kibana) -- WDYT?

It would suck if we release this for 5.5 and users complain immediately.

[2017-05-26 16:33] #7230 closed

[2017-05-26 16:41] ph commented on #7185
Done in https://github.com/elastic/jarvis/pull/76

[2017-05-26 16:41] #7185 closed

[2017-05-26 16:55] suyograo commented on #7128
@original-brownbear just to be clear, `patterns` field in ingest JSON is still a GROK expression. It is just escaped differently in ES. For example, ES uses `\\[%{HTTPDATE:apache2.access.time}\\]` to escape the regex square brackets. LS uses `\[%{HTTPDATE:apache2.access.time}\]` to escape the regex. Everything else should be the same. So, back to your original question:

JSON:
[code]
is still a va

[2017-05-26 16:56] original-brownbear commented on #7128
@suyograo ok your answer is what I expected actually :) but the example in the initial post has the `|-` moved to the front, just an error in the example ? :)

[2017-05-26 16:58] suyograo commented on #7128
@original-brownbear argh, yeah, the original post had some bugs which I just fixed. :(

[2017-05-26 17:30] wainersm commented on #7097
hi @original-brownbear ! The PR #7234 is the first draft. I believe it's almost done so I am sending for review.

There are two features I still need to include in:
1. share the test fixture folder with the container. While it is not used by elastisearch itself, it is by kafka and filebeat.
2. allows to export environment variables at image/container build time. For example, I might want to instal

[2017-05-26 17:34] original-brownbear commented on #7097
@wainersm thanks will take a look very soon!

[2017-05-26 18:50] shoggeh opened #7235 "available_in_bytes stat for persisted queue / rename free_space_in_bytes"
- Version: 5.4.0
- Operating System: Linux
- Config File: queue.type set to persisted
- Steps to Reproduce:

Amount of free space reported in `queue.data.free_space_in_bytes` from `/_node/stats/pipeline` stats API doesn't take reserved space into account. Logstash is usually running under specific user that will not have rights to use all of this space.

It looks like Elasticsearch has an addition

[2017-05-26 18:51] original-brownbear commented on #7128
@suyograo ok string literals now pass fine I think, at least the example above works fully :)
No time for a PR now, but feel free to test my branch again if you have some left over time :D (will likely clean it up later today though)

[2017-05-26 22:04] acchen97 commented on #6851
+1 on just focusing on Kibana 5.5 for this initial release, we can work on 5.4 afterwards. FYI - as we're planning to leverage time series visualizations in the dashboards, the farthest back we can go regarding full compatibility is 5.4 since that's when the feature was introduced.

[2017-05-26 23:03] dariusj18 opened #7237 "logstash-plugin list Gem::LoadError: You have already activated jar-dependencies 0.3.11, but your Gemfile requires jar-dependencies 0.3.10"
- Version: 5.4.0
- Operating System: CentOS 7.3.1611
- Steps to Reproduce: sudo /usr/share/logstash/bin/logstash-plugin list

[2017-05-27 00:40] suyograo commented on #7128
I tested your branch and was able to generate the LS grok config. I then tested that on a real LS and 💥 works like a charm.

How about we extract the common functions to a separate file `ingest-to-logstash-pipeline.js`and import that in `ingest-to-grok.js`. We can then split the work to add `ingest-to-date.js`, `ingest-to-geoip` etc. WDYT?

[2017-05-27 00:42] original-brownbear commented on #7128
@suyograo doing that extracting as we "speak" :) Give it another 30-40 min (typing is slow at the airport :D) and we should have something nice and clean in a separate package under `/tools` :)

[2017-05-27 00:45] suyograo commented on #7128
Also, any thoughts on how we should _generalize_ this now that we have a working version? I'm thinking if we have to process a full ingest pipeline like this and convert it to its respective LS:

[code]

[2017-05-27 01:34] original-brownbear commented on #7128
@suyograo on the topic of extracting `js` logic I'd be a little careful just because we don't really have much going for us in terms of `js` tooling and don't really expect that much `js` to come overall :)

Maybe we should just do this in 3 steps:

* Create the remaining two blocks of logic you mention by just copying from what we have and working in parallel
   * Create the logic for `ingest-to-

[2017-05-27 02:32] original-brownbear commented on #7111
merged another step in #7166 but on hold now, please don't close though :)

[2017-05-27 03:00] original-brownbear commented on #7097
@wainersm took a quick look and generally this is very nice work, exactly what I had in mind, thanks! :)
Added 2 trivial comments to the code in the PR.

About your two points:

I don't think I understand this point, maybe I don't have to though and it'll all make sense in time :D
But on the off chance it helps here two tips/points:
1. You can trivially add any path to the build of an image by usi

[2017-05-27 04:37] ronakg commented on #2463
Is this behavior still present in 5.4? We have a use case where we have multiple elasticsearch destinations and multiple syslog servers as outputs. There are times when there's a typo in the hostname of the syslog server and logstash can't reach it via tcp. In that case events would stop to all the other outputs as well?

[2017-05-27 15:05] shoggeh opened #7239 "process.cpu.time_in_millis multiplied by 1M"
- Version: 5.4.0
- Operating System: Linux
- Sample Data / Steps to Reproduce:

It looks like `process.cpu.total_in_millis` time reported in monitoring API is erroneously  multiplied by 1,000,000. My logstash says it's been using ~14 days of CPU time every second. Value seems to be perfectly correct after dividing by 1M.

[code]

[2017-05-27 17:21] suyograo commented on #7128
Makes sense to duplicate now, we can figure out what to extract later.

Just to clarify, the overall solution will be more than 3 files. It will actually be the subset of filters that ingest [implements](https://www.elastic.co/guide/en/elasticsearch/reference/master/ingest-processors.html) today. I think it's about 7.

[2017-05-27 18:55] original-brownbear commented on #7239
@shoggeh thanks for reporting this, yes this is a bug. We're apparently using https://docs.oracle.com/javase/7/docs/jre/api/management/extension/com/sun/management/OperatingSystemMXBean.html#getProcessCpuTime() to populate this, which is measured in `ns` so `1E6` as a factor makes perfect sense.

[2017-05-27 20:00] original-brownbear commented on #7239
Fixed in `5.5` and `6.0`, `5.4` fix outstanding

[2017-05-27 21:05] suyograo opened #7241 "Handle pattern_defintion option in ingest grok conversion"
[code]

to

[code]

[2017-05-27 21:07] suyograo commented on #7239
Not super critical to backport to 5.4 so closing this. 5.5 will be out in a few weeks. thanks for the fix @original-brownbear

[2017-05-27 21:07] #7239 closed

[2017-05-27 21:26] original-brownbear commented on #7128
step 1 done in #7238

[2017-05-27 21:26] #7128 closed

[2017-05-28 22:25] original-brownbear commented on #7241
@suyograo let jetlagged me continue here then :)

[2017-05-28 22:27] original-brownbear commented on #7241
link https://github.com/elastic/logstash/pull/7238#issuecomment-304473640 (don't forget to add the missing examples posted there)

[2017-05-28 22:41] original-brownbear opened #7242 "Gradle/Java Unit Tests Have no Log4J Configuration"
When I run standard gradle tests via `./gradlew test` I see a bunch of this:

[code]

Logging for tests should be correctly configured by putting a `log4j*.properties` file in the test resources so that we can get proper stacktraces from failures and remove the annoying warning.

[2017-05-28 23:47] original-brownbear commented on #7241
@suyograo don't I have to have the `\n` in `"GREEDYMULTILINE" => "(.|\n)*"` double escaped to `\\n` in json and grok?

[2017-05-28 23:52] shoggeh opened #7243 "pipeline.batch settings ignored while persisted queue is enabled"
- Version: 5.4.0
- Operating System: Linux
- Config File:

`/etc/logstash/logstash.yml`

[code]

`/etc/logstash/conf.d/logstash.conf`
[code]
- Sample Data:

I've been testing persisted queue and noticed very worrying thing: during normal operation elasticsearch {} output doesn't seem to accumulate output into batches at all. Settings like `idle_flush_time` / `flush_size` / `pipeline.batch.size / p

[2017-05-29 01:34] original-brownbear commented on #7241
@suyograo just see PR https://github.com/elastic/logstash/pull/7244 :) I adjusted the JSON there, let me know if this is correct in your opinion.

[2017-05-29 03:31] original-brownbear commented on #5791
@jordansissel hah this looked like a nice and easy low hanging fruit for a boring morning :)
But I just understood that you need either the `gradle` command available or that jar checked into your sources.

I'm not so sure we should do this to be honest. It's just added complication for no gain.
The `gradle-wrapper.jar` is specifically designed (and more importantly understood to be) as something

[2017-05-29 06:59] Varunram opened #7246 "OAuth error using twitter API"
Operating System: masOS Sierra 10.12.5
P.S. The tokens are right, double-checked them just to be sure.
I've attached the config and the stack trace below.
Logstash config:
[code]
[code]

[2017-05-29 10:16] jsvd commented on #7178
I got this again in https://travis-ci.org/elastic/logstash/jobs/237106207#L1837

[2017-05-29 10:26] original-brownbear commented on #7178
@jsvd wasn't there some SSL bug in Jruby ? :D The error so looks like some SSL lib issue (admittedly could be a bunch of other things too), I've never seen this one with MRI Ruby ...

[2017-05-29 10:28] original-brownbear commented on #7178
nevermind ... Travis shouldn't be running an encrypted Docker socket ...

[2017-05-29 10:32] kiranmai444 opened #7249 "grok logs with repeated fields"
I want to grok logs with repeated fields like

[2017-05-29 02:17:18] INFO – [ActivityServiceRest:89] – [{“callId”:”kjwefkjweqkfb”},{“callId”:”nwekgwnkqgkqr”},{“callId”:”ohjiwnwbnwbrk”}]

I want to capture all the callId's into a field called call_Id

where the number of times callId appears is dynamic. Can someone please help.

[2017-05-29 11:06] kiranmai444 commented on #2458
I want to grok logs with repeated fields like

[2017-05-29 02:17:18] INFO – [ActivityServiceRest:89] – [{“callId”:”kjwefkjweqkfb”},{“callId”:”nwekgwnkqgkqr”},{“callId”:”ohjiwnwbnwbrk”}]

I want to capture all the callId's into a field called call_Id

where the number of times callId appears is dynamic. Can someone please help.

[2017-05-29 11:43] LionelCons opened #7250 "Incorrect permissions after rpm install (CentOS)"
After having installed the `logstash-5.4.0.rpm` on a CentOS 7 machine, the permissions under `/usr/share/logstash` are incorrect.

"rpm -V logstash" reports many warnings like:
`.....UG.. /usr/share/logstash`

This comes from the following post-install snippet:
`chown -R logstash:logstash /usr/share/logstash`

Is there any reason why the Logstash software is not owned by root:root like all the oth

[2017-05-29 13:45] colinsurprenant commented on #7227
@ph @andrewvc could you please assess/reassign this?

[2017-05-29 13:47] colinsurprenant commented on #7212
as discuss, if we only push security fixes to < 5.3 I am +1 on disabling builds and only doing manual builds if we need to do a release. @suyograo - is that confirmed for < 5.3 ?

[2017-05-29 13:49] colinsurprenant commented on #7178
removing elasticsearch-bot @andrewvc can you please reassign?

[2017-05-29 14:09] wainersm commented on #7195
Hi @ph ! I can't assign issues (even to myself), perhaps because I'm not in the elastic organization group.
Anyway, I am working on this item... unfortunately setting up and running the acceptance tests using vagrant has been a pain. The ci_acceptance.sh script halts forever on bootstrapping the VMs. Then I managed to run the rake commands manually, did so progress but some tests still keep runnin

[2017-05-29 14:54] colinsurprenant commented on #7193
sake with oraclelinux https://logstash-ci.elastic.co/job/elastic+logstash+master+multijob-os-compatibility/os=oraclelinux/528/console

[2017-05-29 14:55] colinsurprenant commented on #7184
again in https://logstash-ci.elastic.co/job/elastic+logstash+5.x+multijob-os-compatibility/os=fedora/305/console

[2017-05-29 14:58] colinsurprenant commented on #7193
idem ubuntu https://logstash-ci.elastic.co/job/elastic+logstash+master+dockerubuntu-periodic/2204/console

[2017-05-29 15:03] colinsurprenant commented on #7231
Again in 5.4 https://logstash-ci.elastic.co/job/elastic+logstash+5.4+dockerubuntu-periodic/562/console

[2017-05-29 15:06] colinsurprenant opened #7251 "[test failure: 5.4] LogStash::PluginManager::OfflinePluginPackager - OpenSSL::SSL::SSLError: Connection reset by peer"
https://logstash-ci.elastic.co/job/elastic+logstash+5.4+dockerubuntu-periodic/554/console

[code]

[2017-05-29 15:10] ph opened #7252 "JRuby 9k - Default plugins status"
Plugin | Travis | 5.x/master | JRuby 9K | Issue
------ | ------ | ---------- | -------- | -----
[c-cef](https://github.com/logstash-plugins/logstash-codec-cef) | [![Build Status](https://travis-ci.org/logstash-plugins/logstash-codec-cef.svg?branch=master)](https://travis-ci.org/logstash-plugins/logstash-codec-cef) | PASS | PASS |
[c-collectd](https://github.com/logstash-plugins/logstash-codec-coll

[2017-05-29 15:11] ph opened #7253 "JRuby 9K - Non default plugins"
ugin | Travis | 5.x/master | JRuby 9K | Issue
------ | ------ | ---------- | -------- | -----
[c-avro](https://github.com/logstash-plugins/logstash-codec-avro) | [T](https://travis-ci.org/logstash-plugins/logstash-codec-avro/branches) | PASS | PASS |
[c-cloudfront](https://github.com/logstash-plugins/logstash-codec-cloudfront) | [T](https://travis-ci.org/logstash-plugins/logstash-codec-cloudfront/

[2017-05-29 15:56] ph commented on #7126
All plugins now have this new file.

[2017-05-29 15:56] #7126 closed

[2017-05-29 15:56] ph commented on #7183
I've updated all the default plugins to be build weekly

[2017-05-29 15:56] #7183 closed

[2017-05-29 16:16] tabs11 commented on #2108
Hi, It's possible to have two different logfiles (in my case logs with different number of columns) and create different matchs to each one inside the same grok?

How can I assume the match to respective file or to respective path where is stored?

[2017-05-29 16:22] untergeek commented on #2108
@tabs11 Please ask usage questions in our discussion forums at https://discuss.elastic.co.

[2017-05-29 18:33] ph commented on #7252
The build scripts for the input kafka and the dissect filter where missing the execution flags, I've pushed a fix for that.

[2017-05-29 18:59] colinsurprenant commented on #7252
the is awesome work, thanks.

[2017-05-29 20:43] original-brownbear opened #7255 "Come up with Reference Plugins for Benchmarking"
@suyograo We spoke about this last week, we should have a strong benchmarking strategy based on actual plugins of known (and preferably very small) overhead.

I think one clean way to do this, would be optimizing the [TCP Input](https://github.com/logstash-plugins/logstash-input-tcp/) and [output](https://github.com/logstash-plugins/logstash-output-tcp/) plugins both.

Then we could simply run `nc

[2017-05-29 20:46] original-brownbear commented on #7184
let me try :)

[2017-05-29 20:48] original-brownbear commented on #7184
easily reproducible by running in a local loop with current `master`

[2017-05-29 21:02] original-brownbear opened #7256 "Test org.logstash.ackedqueue.QueueTest#randomAcking is Leaking FDs (still)"
Just working on https://github.com/elastic/logstash/issues/7184 and running that test in a loop I ran into this:

[code]

<img width="1062" alt="screen shot 2017-05-29 at 23 01 57" src="https://cloud.githubusercontent.com/assets/6490959/26561973/d8abd10a-44c2-11e7-9ffc-134292b173e6.png">

Does take quite a few runs, but still this seems kinda urgent since we can't be sure we're not leaking in prod

[2017-05-29 22:21] original-brownbear commented on #7256
fixed in https://github.com/elastic/logstash/pull/7257

[2017-05-30 00:19] visualskyrim commented on #6426
So, I ran into the same issue last night. And I tried this morning again, it worked.
Before I ran `logstash.bat`, I executed `setup.bat` first for this time.
I don't it is the reboot or the `setup.bat` that made it work, but it's worth a try.

Hope it helps :)

[2017-05-30 05:51] #7256 closed

[2017-05-30 07:31] raajheshkannaa commented on #2088
+1

[2017-05-30 07:55] bobapple commented on #7061
Is there anyone who can help me with this? Should I reopen the issue on [logstash-plugins](https://github.com/logstash-plugins/)?

[2017-05-30 08:25] original-brownbear commented on #6830
@jordansissel tried reproducing this in `master`, seems fixed to me :)

[2017-05-30 09:31] jsvd commented on #7178
a few more instances of this:
https://travis-ci.org/elastic/logstash/jobs/237429275#L2256
https://travis-ci.org/elastic/logstash/jobs/237429282#L2217
https://travis-ci.org/elastic/logstash/jobs/237429280#L2192

[2017-05-30 09:32] original-brownbear commented on #7178
@jsvd @andrewvc this is getting kind of painful I guess ... unless someone else has the time should I take a look here tonight?

[2017-05-30 09:33] jsvd commented on #6521
implemented by #6525, this will very likely appear in 6.0.0-alpha2

[2017-05-30 09:33] #6521 closed

[2017-05-30 09:38] jsvd commented on #7178
I can take a stab at it thought I've been avoiding to since my docker knowledge is slim. anyway it can definitely wait until you're back home.

[2017-05-30 09:41] jsvd commented on #6541
done in https://github.com/elastic/logstash/pull/6525

[2017-05-30 09:41] #6541 closed

[2017-05-30 09:44] jsvd commented on #6859
done in https://github.com/elastic/logstash/pull/6525

[2017-05-30 09:44] #6859 closed

[2017-05-30 09:45] jsvd commented on #6526
explicit references to main have been long removed in other prs and api code has been adapted to work with multiple pipelines in https://github.com/elastic/logstash/pull/6525, closing.

[2017-05-30 09:45] #6526 closed

[2017-05-30 09:47] jsvd commented on #6531
multiple pipeline api support has landed in master, but it's now necessary to add in the 5.x branch a deprecation path to this changes, therefore I'm leaving this issue open to track the 5.x bwc layer

[2017-05-30 09:51] original-brownbear commented on #7178
We can try a hack like https://github.com/elastic/logstash/pull/7264, let's see if we can make Travis run from a more recent Docker version. I can't reproduce this issue at all locally, but there are a number of bugs in that Docker version that may cause this ... maybe we get a freebie :P

[2017-05-30 10:45] original-brownbear commented on #7178
@andrewvc @jsvd haver a look at #7264 ;)

[2017-05-30 12:59] #7251 closed

[2017-05-30 13:16] guyboertje commented on #6851
@suyograo @acchen97
I don't believe that there is anything specific about Kibana 5.5 regarding dashboard and visualization formats. I am checking in Kibana Slack

[2017-05-30 14:09] andrewvc commented on #7227
This is probably a metrics init race. Will be fixed when #7155 is fixed.

[2017-05-30 14:33] wainersm opened #7267 "bin/logstash --path.plugins is broken."
I tried to set path to a plugin generated with ```logstash-plugin generate``` but passing ```--path.plugins``` to ```logstash``` raises an error:
[code]
**ps:** I used the Ubuntu 12.04 vagrant box setup to acceptance tests. Same error happens on debian-8 box.

[2017-05-30 14:38] original-brownbear commented on #7178
fixed via #7264

[2017-05-30 14:54] untergeek commented on #7246
This sounds like it should be in the [logstash-input-twitter](https://github.com/logstash-plugins/logstash-input-twitter) repository rather than the core Logstash one.  Can you please move it?

[2017-05-30 16:18] jakelandis opened #7269 "Pin Logstash 5.x to 3.x for the input beats plugin"
Per https://github.com/logstash-plugins/logstash-input-beats/issues/201 , multiline codec configured for the input beats plugin will result in the in-ability to start Logstash.

This is a breaking change, being introduced to the 6.x version of Logstash. To avoid breaking 5.x, we need to pin the input beats plugin to 3.x _(the breaking change is being introduced in 4.x of input beats gem)_

The cha

[2017-05-30 17:54] ph commented on #5606
qa/integration passes, I am running into issue for the `qa/acceptance`, I can't build a debian artifact. I think its not a new problem, I believe the error was already there in 1.7.25 but was causing only a debug statement.

ruby 1.7.25
[code]
jruby 9k
[code]

My theory is there is a bug in fpm and we close the pipe/channel at the wrong time.

[2017-05-30 19:41] wainersm commented on #7267
I've found the problem, working in a fix.

[2017-05-30 20:56] suyograo opened #7271 "Add date processor to filter converter"
Along the lines of grok converter, we should add date processor to date filter converter.

[code]

[code]

[2017-05-30 21:05] suyograo opened #7272 "Add GeoIP processor to filter converter"
Along the lines of grok converter, we should add geoip processor to geoip filter converter.

[code]

[code]

Example 2: dots in field names

[code]

[code]

[2017-05-30 21:06] original-brownbear commented on #7272
@suyograo on it :)

[2017-05-30 21:10] suyograo opened #7273 "Add Gsub processor to filter converter"
ingest: https://www.elastic.co/guide/en/elasticsearch/reference/master/gsub-processor.html
[code]
LS
[code]

[2017-05-30 21:11] original-brownbear commented on #7241
merged :)

[2017-05-30 21:11] #7241 closed

[2017-05-30 22:30] ronakg commented on #7049
I've upgraded to 5.4.0. Not sure if that'll fix the issue as it happens only intermittently. I'm closing this for now. Will reopen if needed.

Thanks.

[2017-05-30 22:30] #7049 closed

[2017-05-31 13:47] #6594 closed

[2017-05-31 13:49] wainersm commented on #7267
I made a few simple manual tests and apparently PR #7276 fixes the issue. But I'd like someone else to give it a try or suggest how could be made an automated test.

[2017-05-31 14:57] jakelandis opened #7277 "Changing the log level via the API does not work."
As described at https://www.elastic.co/guide/en/logstash/current/logging.html#_logging_apis , it not actually possible to change the log level via the API.

To reproduce:
create a configuration file:

[code]

Add the following to config/log4j2.properties

[code]

Run logstash with config reload (to help illustrate the issue)
bin/logstash --config.reload.automatic -f ~/config/test.conf

You should

[2017-05-31 14:58] jakelandis commented on #7277
I have some early thoughts and dirty prototype for the fix. I hope to get to this soon.

[2017-05-31 16:35] untergeek commented on #7267
@wainersm Thanks for finding this and putting a fix together.  We have been discussing removing the `--path.plugins` flag altogether for some time.  We'll take you fix under consideration, but we may ignore it and remove the feature altogether.  Building plugins as gems, and installing using the `logstash-plugin` command is still the preferred way to add new plugins.

[2017-05-31 16:47] untergeek commented on #7267
@wainersm We've officially decided to mark this feature as deprecated for v5.5, and remove it altogether for 6.0.  Thanks for all you do to make Logstash better!

[2017-05-31 16:47] #7267 closed

[2017-05-31 18:12] wainersm commented on #7267
Hi @untergeek ! Remove ```--path.plugins``` is the best thing. The option is confusing to use and results no clear.

However, the fix in PR #7276 is still valid for any multivalued option. So into the future if we decide to include this kind of option, It will need the fix applied. Unless the Clamp hack is replaced.

[2017-05-31 18:30] untergeek commented on #7267
#7276 is not used by _any_ options currently.  We do have a multivalued option coming soon, but it doesn't need any clamp hacks because we have a separate class that handles the multivalued options due to a need to pre-parse the values and populate `@settings` differently.

We can revisit #7276 if we ever need it, otherwise it's just added complexity right now.

[2017-05-31 19:46] ph commented on #5606
We will need to update to http://jruby.org/2017/05/25/jruby-9-1-10-0

[2017-05-31 20:37] ph commented on #5606
Also when building plugins we see this warning:

[code]

[2017-05-31 22:46] guyboertje commented on #6851
need to import an index-pattern too
the mechanism is different from beats where they dynamically create the index-pattern json from a list of fields, we will use a static file provided by the "module maintainer".
also need to set the defaultIndex in `.kibana/config/%{index_pattern.kibana_version}` - this is a pain because we need to do this for a version until the Kibana team implement the "pick a

[2017-05-31 22:51] guyboertje commented on #6851
TODO - implement a dynamic search file import include based on any references to the field `"savedSearchId"` in any found visualization json files.
I will implement this tomorrow.
Then submit final branch PR before branch to master PR.

[2017-06-01 08:14] ror6ax opened #7281 "weird grok behaviour"
I'm having an issue with grok.

I've wrote a string to match

`10.155.16.115 - - [30/May/2017:08:53:41 +0000] "GET /sqi HTTP/1.1" 404 16 "-" "Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"`

using the pattern:

`^%{IPORHOST:CLIENTIP} - - \[(?:[+-]?(?:[0-9]+))/%{MONTH}/%{YEAR}:%{HOUR}:%{MINUTE}:%{SECOND} \+0000] \"%{WORD:HTTP_METH

[2017-06-01 09:06] westsince2001 opened #7282 "prase txt file should i use customer pattern ？"
- Version: filebeat-5.4.0，logstash-5.4.0
- Operating System:Centos 6.4
- Config File (if you have sensitive info, please remove it):
- Sample Data:
**content1|ip1|ip2|time1|content2|**
- Steps to Reproduce:
**1.** config filebeat:

**2.**  start filebeat
**3.** config logstash

4. start logstash
it shows:

## 5. problem is :
  i want divide "content1|ip1|ip2|time1|content2|“  into seprate fields，b

[2017-06-01 09:33] westsince2001 commented on #7282
gound it!  my match  parse problem. close it!!!

[2017-06-01 09:33] #7282 closed

[2017-06-01 13:49] guyboertje commented on #5617
Fixed in the feature/9000 branch

[2017-06-01 13:49] #5617 closed

[2017-06-01 13:52] guyboertje commented on #3817
I think we have this covered now.

[2017-06-01 13:52] #3817 closed

[2017-06-01 13:53] guyboertje commented on #3884
not worth doing

[2017-06-01 13:53] #3884 closed

[2017-06-01 14:35] guyboertje commented on #4507
Stale

[2017-06-01 14:35] #4507 closed

[2017-06-01 14:37] guyboertje commented on #4577
No longer an issue

[2017-06-01 14:37] #4577 closed

[2017-06-01 15:45] jakelandis commented on #7120
I received my Elastic laptop yesterday, so I took some detailed notes of getting everything running again.

https://docs.google.com/document/d/1kqunARvYMrlfTEOgMpYHig0U-ZqCcMJfhvTtGt09iZg/edit
(please feel free to edit, my grammars is poor)

I tried to generalize the notes, but still unsure who the audience really is _(other then me the next time I need to setup from scratch)._

Documentation like

[2017-06-01 18:02] dedemorton commented on #7120
@jakelandis I'm assuming that Logstash community contributors might want to know about this setup, right? I'll defer to Jordan and/or Suyog's judgment on this one, but it seems to me that a blog entry is probably the best place for info like this. People sort of expect blog entries to get stale over time.

[2017-06-01 19:04] suyograo commented on #7120
@jakelandis this is mostly for developers (both internal and external contributors), so I would suggest adding this to CONTRIBUTING.MD in core repo. https://github.com/elastic/logstash/blob/master/CONTRIBUTING.md

[2017-06-01 19:50] jakelandis commented on #7120
@suyograo  and @dedemorton  - thanks.

I linked to it from our [on-boarding documentation](https://github.com/elastic/dev/blob/master/logstash/onboarding.md) (editable by anyone at elastic), and will link from the CONTRIBUTING.md to the [published version ](https://docs.google.com/document/d/1kqunARvYMrlfTEOgMpYHig0U-ZqCcMJfhvTtGt09iZg/pub)(non-editable) once I get a 👍 from on the content of the d

[2017-06-01 20:02] shqiperih opened #7286 "Unwanted extra lines added by filter to overall output"
Logtsah is adding extra lines to the output.

It seems to be used by the metric filter. Wehre every 5 seconds an event is added to the output that looks like this:
2017-06-01T19:28:24.258Z %{host} <name of host>

I removed the filter and the lines are not there any longer when testing with stdout{}

These lines should not be added to the overall output as it invalidates the data you are actually t

[2017-06-01 20:51] robbavey opened #7287 "Dead Letter Queue feature should have metrics available via the monitoring API"
The Dead Letter Queue feature should expose metrics for each queue, including

- [ ] Queue path
- [ ] Number of segments stored
- [ ] Max segment size (?)
- [ ] Number of items in the queue (is total segments sufficient?)
- [ ] Disk space used by the queue
- [ ] Last event written

_work in progress_

[2017-06-02 01:24] rp-happiestbaby commented on #2913
Im trying to do same but i get an error 'Ruby exception occurred: undefined method `strftime' for 2017-06-02T01:04:11.000Z:LogStash::Timestamp'
Please help in this
Im running logstash 5.4

[2017-06-02 12:25] original-brownbear commented on #7120
@jakelandis you don't need anything from me here right? :) (just asking because I'm still assigned and don't wanna block this)

[2017-06-02 13:36] fmhwong opened #7290 "Logstash Lumberjack uses insecure cipher"
https://discuss.elastic.co/t/logstash-lumberjack-uses-insecure-cipher/86987

- Version: 2.4.0
- Operating System: WIndows Server 2012 R2 Standard
- Config File (if you have sensitive info, please remove it):
- Sample Data:
- Steps to Reproduce:

We use Lumberjack as input in Logstash 2.4. It looks like it requires 3DES cipher. If 3DES_EDE_CBC and DESede are disabled on the JRE running Logstash, Lo

[2017-06-02 13:58] andrewvc opened #7291 "[Meta] LIR Execution"
This issue is a meta issue to track LIR execution progress.

## Goals

(In no particular order)

* Performance
* Removing duplicate grammars
* Javaifying more of the pipeline
* Modularized execution
* Combine filters/outputs in the pipeline code into one 'processor' notion

## Milestones

### Now

NOTE: This strategy is a little out of date, some of it is in flux. @original-brownbear has an evolvi

[2017-06-02 14:16] jakelandis commented on #7120
@original-brownbear - Nope, nothing from you specifically. I will remove you as an assignee.

However, I would like someone to review the [published version](https://docs.google.com/document/d/1kqunARvYMrlfTEOgMpYHig0U-ZqCcMJfhvTtGt09iZg/pub) before I include into the CONTRIBUTING.md.

[2017-06-02 14:44] untergeek commented on #7290
The lumberjack input is completely deprecated and is no longer supported.  You need to switch to using `filebeat` instead.

[2017-06-02 14:44] #7290 closed

[2017-06-02 16:03] fmhwong commented on #7290
Does the `beats` input backward compatible with `lumberjack`?

[2017-06-02 16:38] jakelandis commented on #7269
Merged to 5.x

[2017-06-02 16:38] #7269 closed

[2017-06-02 18:22] jordansissel commented on #7120
I am not sure I can help evaluate the changes here because the docs don't
apply to my deb environment:

- the Java instructions target OSX and I use windows and Linux (and I
basically never need to set JAVA_HOME also...)
- I use vi for editing ruby code, not Rubymine or other things

The doc you wrote looks pretty detailed and that is nice!

On Fri, Jun 2, 2017 at 7:16 AM Jake Landis <notification

[2017-06-02 18:46] suyograo opened #7294 "Ingest migration for dotted fields to LS field references"
One of the tests I tried after merging https://github.com/elastic/logstash/pull/7275 was a date processor with dots in `target_field`

[code]

LS

[code]

The result is not correct: `target => "apache][timestamp"`

@

[2017-06-02 18:47] suyograo commented on #7294
@original-brownbear I use `dots_to_square_brackets()` for this, but seems to be missing something. Can you take a look please?

[2017-06-02 18:48] original-brownbear commented on #7294
@suyograo sure, just at it with the drying up anyways. WIll handle this :)

[2017-06-02 18:48] suyograo commented on #7271
Fixed in #7275

[2017-06-02 18:48] #7271 closed

[2017-06-02 18:57] suyograo opened #7295 "Complex ingest processor to LS pipeline migration"
Since we are adding all the different pieces of the ingest migration puzzle, it would be good to have an entry point to migrate a complex processor from ingest into LS.

[code]

Converted LS pipeline

[code]

Example 2:

Ingest pipeline with 2 geoip processors:

[code]

Logstash:
[code]

[2017-06-02 18:58] suyograo commented on #7295
I'll add more examples as I collect them :)

[2017-06-02 20:19] original-brownbear commented on #7294
@suyograo fixed in https://github.com/original-brownbear/logstash/tree/dry-up-js will clean this up properly after a little sleep :)

[2017-06-02 21:18] suyograo commented on #7295
@original-brownbear not sure if Nashorn supports JS `import` to import functions. One approach is to put all the converters in one file and use an `ingest_to_logstash(json)` entry method which subsequently calls our individual JS functions.

Anyhow, something to think in the drying up phase.

[2017-06-02 21:32] #3556 closed

[2017-06-02 21:44] original-brownbear commented on #7184
fixed by https://github.com/elastic/logstash/pull/7262

[2017-06-02 21:44] #7184 closed

[2017-06-02 21:45] original-brownbear commented on #7295
@suyograo I was just gonna load multiple files into one `ScriptEngine`, that works fine and is already done in my branch + tested :)

[2017-06-02 22:16] untergeek commented on #7290
The filebeat code was initially based on lumberjack.  Otherwise, no, it's not quite the same.  You'll have to use the `beats` input plugin.

[2017-06-02 23:37] jakelandis commented on #7277
The root cause of this issue is that log4j2 context we initialize is different from the log4j2 context that we are setting.  I was able to prove this by stepping through the code and comparing the hash codes _(within same JVM instance)_ of the LoggerContext in use during ```Configurator.initialize``` and the LoggerContext in use by the ```Configurator.setLevel``` method.

The ```Configurator.initi

[2017-06-03 03:27] original-brownbear commented on #7178
happens still, see https://travis-ci.org/elastic/logstash/jobs/238786856#L1900 (his the version upgrade in it)

[2017-06-03 04:09] original-brownbear commented on #7294
@suyograo there we go https://github.com/elastic/logstash/pull/7296 :)

[2017-06-03 04:10] original-brownbear commented on #7295
@suyograo shared logic mentioned above now in https://github.com/elastic/logstash/pull/7296 :)

[2017-06-03 06:58] suyograo opened #7299 "Integ test failure: Beats plugin was not found"
https://travis-ci.org/elastic/logstash/jobs/238998526

[code]

[2017-06-03 07:06] suyograo commented on #7299
Must be related to the new beats published on Friday: https://rubygems.org/gems/logstash-input-beats/versions/4.0.0-java

[2017-06-03 07:10] original-brownbear commented on #7299
let me see if I can fix this, this is kinda annoying :)

[2017-06-03 07:14] suyograo commented on #7299
https://rubygems.org/gems/logstash-input-beats/versions/3.1.15-java is 8.01 MB while the new ones are 28.5 KB. Something is busted with the publishing. It may not be including the jar deps.

[2017-06-03 07:24] original-brownbear commented on #7299
@suyograo nice thanks, link https://github.com/logstash-plugins/logstash-input-beats/issues/210

[2017-06-03 13:05] jakelandis commented on #7299
Do we also want to yank 3.1.16 since it will be included in the 5.5 release ?

[2017-06-03 13:08] original-brownbear commented on #7299
@suyograo ping, the above makes a lot of sense imo :)

[2017-06-03 13:57] original-brownbear commented on #7299
fixed by @suyograo :)

[2017-06-03 13:57] #7299 closed

[2017-06-03 15:07] Nebadon1 commented on #6582
Hello Elastic team, Quick question, how I can see the verbose of Logstash when is started as a service?
Ubuntu server 16.04 Logstash  5.4.1
Thank you so much

[2017-06-03 16:35] original-brownbear commented on #7272
covered by https://github.com/elastic/logstash/pull/7302

[2017-06-03 20:47] ment0s opened #7303 "Logstassh is not converting EPOCH to human readable format."
Sample data    :      "TimeCreated":  "\/Date(1493308346140)\/",
----
Filter
----

filter {
    if [type == 'eventlog'] {
        grok {
            match => [ 'TimeCreated', "Date\(%{NUMBER:timestamp}\)" ]
        }
        date {
            match => [ 'timestamp', 'UNIX_MS' ]
        }
    }

I can see properly sparsed field in kibana
"Date(1493308346140)"

However, it is not converted to times

[2017-06-04 07:33] original-brownbear commented on #7294
already fixed in #7296

[2017-06-04 07:33] #7294 closed

[2017-06-04 07:38] original-brownbear opened #7304 "ES Output IT is Failing ~100% of Times!"
I see this one in basically all PRs https://travis-ci.org/elastic/logstash/jobs/239121919#L2056.

[code]

[2017-06-04 10:53] inthecloud247 commented on #6148
@untergeek Thanks! I was able to test and this command worked to generate a sysv script for logstash 5.4 on centos 6.9:

[code]

I also tested the status/start/stop/restart commands, and it seems to work as expected.

The new system-install command has the following documentation:

[code]

It probably makes sense to update the documentation to specify how to specify a startuptype:

https://www.ela

[2017-06-05 00:54] robbavey commented on #7287
Initial thought - similar to how queues are exposed in the pipeline, the same could be done for the dead letter queue:

eg:
[code]

- Do we need to mark if dlq is not enabled for a pipeline?

[2017-06-05 06:51] original-brownbear commented on #7295
done :)

[2017-06-05 06:51] #7295 closed

[2017-06-05 06:51] original-brownbear commented on #7272
done :)

[2017-06-05 06:51] #7272 closed

[2017-06-05 08:00] suyograo opened #7309 "Handle ingest convert processor in migration tool"
[code]

LS

[code]

[2017-06-05 08:52] original-brownbear commented on #7304
This is broken because ES output in general doesn't work (at least with default settings):

[code]

[2017-06-05 08:55] original-brownbear commented on #7304
Caused by https://github.com/elastic/logstash/pull/7236, reverting #280722e fixes the issue

[2017-06-05 08:58] original-brownbear commented on #7304
see https://github.com/elastic/logstash/pull/7312

[2017-06-05 09:08] original-brownbear commented on #7129
fixed in https://github.com/elastic/logstash/pull/7307

[2017-06-05 09:08] #7129 closed

[2017-06-05 11:30] vikash686 opened #7313 "Error: Your application used more memory than the safety cap of 1G."
**Machine :** - RHEL

**Logstash Version**  - 5.4.0

**Command :** ./bin/logstash -f /root/vikash/real-time-ingestion-logstash.conf

**Output:**
[root@labr6u5-64 logstash-5.4.0]# ./bin/logstash -f /root/vikash/real-time-ingestion-logstash.conf
Sending Logstash's logs to /root/vikash/logstash-5.4.0/logs which is now configured via log4j2.properties
[2017-06-05T06:51:49,942][INFO ][logstash.outputs.

[2017-06-05 15:02] #7309 closed

[2017-06-05 15:36] fmhwong commented on #7290
We have a custom Java client that send log records to Logstash in `lumberjack` protocol.  Just want to know if we switch Logstash to `beats` input, do we need to modify the Java client?

[2017-06-05 15:53] untergeek commented on #7290
Almost certainly. The lumberjack protocol is not being developed any more.

[2017-06-05 15:53] untergeek commented on #7290
Beats is a different protocol altogether.

[2017-06-05 16:51] dedemorton opened #7314 "DLQ input plugin fails to load"
Testing on 6.0.0-alpha2 (build candidate 2).

Here's the config:

[code]
Version of the plugin that shows up when I list installed plugins:

[code]

Results in the following error:

[code]

[2017-06-05 16:56] suyograo commented on #7287
@robbavey 👍

`last_entry_timestamp`: not sure we need this. Turns out this was not very useful.

Yes, that would be useful. we could do:

[code]

And skip stats if it is `false`.

Agreed. I do think the number of entries in the DLQ will be small, so this should be ok for now. I would do that on the first API call, not at LS startup.

I think the actionable field here would be `current_queue_size_i

[2017-06-05 17:03] dedemorton opened #7315 "Pipeline does not terminate with SIGINT and stalls with error "undefined local variable or method event""
Testing on 6.0.0-alpha2 (build candidate 2).

Here's the config:
[code]
When I run the pipeline, I see way more events than I expect (199,266) and the pipeline hangs. When I press Ctrl+C (multiple times) Logstash stalls, and I see the following messages:

[code]

[2017-06-05 17:54] talevy commented on #7314
should be fixed by a new release following these changes: https://github.com/logstash-plugins/logstash-input-dead_letter_queue/pull/3

[2017-06-05 18:14] jordansissel commented on #7162
@original-brownbear, @suyograo, @colinsurprenant, and I met to discuss this on video.

We worked to figure out next steps, and agreed (I think?) on the following:

* @original-brownbear wants to improve performance of the PQ
* First step is to experiment with two things: avoiding MMAP and changing checkpoint file to be append instead of atomic replacement.
  * implement a new PageIO that uses File

[2017-06-05 18:48] ph commented on #7252
This tables is now updated with the latest plugins status.

[2017-06-05 20:11] original-brownbear opened #7317 "Persisted Queue Performance Design Issue (Writing Data)"
The current implementation in `master` uses `mmap` to write to fixed size pages that are created and written to sequentially.
This introduces a lot of overhead for the VM system, requires hacking around the GC's `Cleaner` behavior for the `mmap`ed buffers and hence comes with unpredictable and suboptimal performance.

https://github.com/elastic/logstash/pull/7316 contains an extremely trivial impl

[2017-06-05 20:12] original-brownbear commented on #7317
@suyograo @jordansissel @colinsurprenant FYI

[2017-06-05 21:04] ph opened #7318 "Accessing the timestamp on the LogStash::Event instance create unnecessary new object"
While debugging https://github.com/logstash-plugins/logstash-codec-rubydebug/pull/14, I have found that we create a new instance everytime that we call `Event#get("@timestamp")`, Since we use that instance in multiple places we should cache that value.

[code]

[2017-06-05 23:08] colinsurprenant commented on #7317
Thanks @original-brownbear - nice work! This looks promising!
- I'd like to see the improvement in performance when running logstash. Since I am working on some LS benchmarks now, I can also add this PR in the loop to compare.
- (related) I'd like to see the behaviour in a read/write situation on the same page.
- I believe we will loose the process crash durability characteristic of using mmapping

[2017-06-05 23:34] original-brownbear commented on #7317
@colinsurprenant thanks :)

Yea we should have this for sure. I'll try to come up with a JMH for that, any input welcome here ... not sure what a realistic scenario would be? Just two threads on one `Queue` one writing in a loop and the other trying to drain?

Phew :D "it depends" :) ... on how we set up our `FileChannel`. If we get it from a `RandomAccessFile` which has no JVM side write cache, w

[2017-06-05 23:35] original-brownbear commented on #7273
done in https://github.com/elastic/logstash/pull/7311 :)

[2017-06-05 23:35] #7273 closed

[2017-06-06 00:12] colinsurprenant commented on #7317
Yeah, we can start from there.

That is a good question, deserves validation. Once we correctly assess this we will be in better shape to decide which strategy is *better* WRT performance vs durability.

[2017-06-06 00:38] colinsurprenant commented on #7317
Also could you provide the information about the hardware + OS environment this was run on so we can compare? If it wasn't Linux, it should also be run on Linux.

[2017-06-06 00:40] untergeek commented on #7313
This is probably more of a usage question than a bug.  Usage questions should be directed to https://discuss.elastic.co/c/logstash

That said, the "safety" cap message may not be as informational as it first appears.  You have a 2G heap, as indicated by what you have shared.  That 2G may not be sufficient if the values of the 20 columns you are pulling are large.  My first suggestion is to try a m

[2017-06-06 01:18] andrewvc commented on #7255
The TCP output desperately needs to be converted to use `multi_receive_encoded` to improve its performance.

[2017-06-06 03:11] original-brownbear commented on #7317
@colinsurprenant so the above was OSX latest MBP 2.9GHZ i7.

Then I tried Linux just now ... but Linux sucks:

Before (`master`) and (`after`) are kinda the same and pretty slow (despite ):

[code]

=> `fsync` on a default Debian `ext4` just sucks ... seems others arrived at the same conclusion:

http://www.ilsistemista.net/index.php/linux-a-unix/6-linux-filesystems-benchmarked-ext3-vs-ext4-vs-xfs

[2017-06-06 04:04] suyograo opened #7325 "Handle ingest rename processor"
[code]

LS:

[code]

With dots

[code]

LS:

[code]

[2017-06-06 04:06] suyograo opened #7326 "Handle lowercase ingest processor"
Ingest
[code]

LS:

[code]

Dots

[code]

LS:
[code]

[2017-06-06 04:11] suyograo opened #7328 "Handle JSON ingest processor"
[code]

LS
[code]

[2017-06-06 05:01] suyograo opened #7329 "Add ingest migrator CLI tool"
Based on all the great work that @original-brownbear has done in `tools/ingest-convertor` it is time now to create a CLI tool that provides an end-user interface to move from ingest pipeline to LS config.

I propose two flavors to make it dead simple and easy for our users -- offline and an online.

### Offline

[code]
This would call the `ingest_pipeline_to_logstash()` js function as done in http

[2017-06-06 05:20] suyograo opened #7330 "Default logging too verbose in modules"
[code]
emits a ton of log messages at `info` level which is not really necessary and can cause the user to be alarmed.

[code]

Can we please suppress this to `debug` to reduce the noise?

[2017-06-06 05:20] suyograo commented on #7330
@guyboertje can you take a look after the 5.5 backport please?

[2017-06-06 05:48] #7328 closed

[2017-06-06 05:54] vikash686 commented on #7313
Thanks ...!! I will try with a larger heap size.

[2017-06-06 05:54] #7313 closed

[2017-06-06 06:59] talial1812 commented on #1587
Hi,
we have a 5 nodes elasticsearch cluster running 5.2.0,
2 of the nodes are configured as client nodes (data=false, master=false),
3 nodes are elasticsearch cluster (data=true, master=true)

I install logstash in one of the 2 kibana servers, as follow:

groupadd logstash
useradd logstash -g logstash -d /home/logstash
cat /etc/passwd | grep logstash

vi /etc/sudoers
Add the following line :
logst

[2017-06-06 07:04] jordansissel commented on #1587
Logstash is not given permission on your system to open port 514.

On Mon, Jun 5, 2017 at 11:59 PM talial1812 <notifications@github.com> wrote:

[2017-06-06 07:09] original-brownbear commented on #7317
Ok toyed a little more with this, I'll just give the cliffnotes and would just add the data people are interested in, to not make this too spammy :)

* Pages larger than ~256MB Channels win on OSX and Ext4, the larger the page the further Channel IO gets ahead
  * Pages below ~256MB are faster on OSX when using Channels, for Linux Channels are actually slightly slower
* Page size has a huge impact

[2017-06-06 07:13] original-brownbear commented on #7317
just to illustrate how much room we have optimizing the serialization :)
This is the heap when running the benchmark:

<img width="685" alt="screen shot 2017-06-06 at 09 11 42" src="https://cloud.githubusercontent.com/assets/6490959/26817799/511209e0-4a98-11e7-833d-959202e4517b.png">

[2017-06-06 09:26] mavlyutov opened #7333 "Contribution of plugin logstash-filter-flatten_json"
This filter plugin will flatten json data into strings, i.e.
[code]
the filter will enrich 'event' with following key-value pairs:
[code]

This is very convenient if you have stats data from mongodb or docker-stats and you want to further process it or send to graphite server.

[2017-06-06 09:40] KIVagant commented on #6044
I got this problem when accidentally executed `logstash-plugin` under `logstash` user. Under `sudo` all is ok.

[2017-06-06 10:29] #7097 closed

[2017-06-06 12:53] #7304 closed

[2017-06-06 12:58] original-brownbear opened #7336 "Dry up Scripting for Dockerized Kafka and Elasticsearch"
We currently have:

[code]

for Kafka and the following (+ a base class related to Docker!) for ES:

[code]

We should try to clean up the duplication we have here (i.e. port settings, use `ServiceContainer` for Kafka as well).

[2017-06-06 13:10] #6301 closed

[2017-06-06 13:10] ph commented on #7291
Some of my original thoughts are in https://github.com/elastic/logstash/issues/6301

[2017-06-06 13:12] original-brownbear commented on #7291
@ph reading :)

[2017-06-06 13:44] colinsurprenant commented on #7317
It would be interesting to see the relation between:
- page size and OS memory for mmap IO.
- page size and JVM heap size for channel IO.

In particular, knowing that mmap IO uses off-heap memory, can we see a page size to free memory ratio where it perform better/worst. Same idea with channel IO, does the heap size have an impact?

Serialization is the elephant in the room for performance impact,

[2017-06-06 14:02] wainersm commented on #7098
Now that PR #7234 is merged, I will work on this one.

[2017-06-06 16:07] colinsurprenant commented on #7317
Also, did you compare throughput between SSD and spinning disks?

[2017-06-06 16:17] colinsurprenant commented on #7162
Since changing the checkpointing strategy will probably involve re-thinking the overall design I would strongly suggest any new design ideas are **first discussed** in separate design issue(s).

To that effect I will try to improve the current design issue #5636 and clarify the details of the checkpointing strategy. In a nutshell, so this can be kept in mind in further discussions, the basic idea

[2017-06-06 17:17] jakelandis commented on #7317
We should also validate on on XFS, since it is the [default for RHEL-7](https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Storage_Administration_Guide/ch-xfs.html)

[2017-06-06 19:32] ph commented on #5606
Previous error only seems to be on plugins build.

[2017-06-06 19:33] ph commented on #5606
I've found another regression,
### 9k
[code]

### master
[code]
### 5.4.0
[code]

[2017-06-06 20:23] jordansissel opened #7346 "Failed to parse the module configuration: [undefined method `with_settings' for nil:NilClass"
When playing with modules, I was unsuccessful and ran into this error:

[code]

This error seems to occur when a module is given but does not exist. THe error message is a bug (undefined method `with_settings`). Ideally, this is more actionable, such as "The module `fancypants` does not exist. Here are the list of known modules: x, y, z ..."

[2017-06-06 20:25] guyboertje commented on #6851
Done - for now

[2017-06-06 20:29] jordansissel opened #7347 "CEF module: Unclear how to proceed with `Connection Refused` error"
[code]

The errors here do not seem particularly actionable. The best hint I can see is this: `(Connection refused) {:host=>"localhost", :port=>9200, :protocol=>"http"}` which is a clue for me that Elasticsearch is expected to be at localhost by default.

[2017-06-06 20:32] jordansissel opened #7348 "CEF module: fatal 404 logs with no actionable details"
Snippet:

[code]

FATAL sounds pretty serious, yet Logstash continues forward.

As a user, should I need to take action because of these 404s?

[2017-06-06 20:37] colinsurprenant opened #7350 "PQ with small queue.checkpoint.writes and large queue.page_capacity, LS slows down after a short time"
While running performance benchmarks on 5.4.1 I noticed the following behaviour with the following 2 conditions:
- when using small `queue.checkpoint.writes` (I reproduced with `1` and `2`)
- when using a *large* page size (I reproduced with > 200mb, but could not  reproduce with 1mb and 10mb).

After approximately 50 seconds LS TPS drops from around 8k TPS to 300TPS, that is using a typical Apach

[2017-06-06 20:56] colinsurprenant commented on #7350
Playing with `queue.checkpoint.writes=1` the problem seems to start happening between a `queue.page_capacity` of 100mb and 150mb in my context - it seems that if new page are created before that weird point the problem does not show up.

[2017-06-06 21:00] jordansissel opened #7351 "CEF module: no data in kibana?"
* Fresh build of Logstash master (7733dd0f862b42c68ceba884ce5cbdffa759f829)
* Elasticsearch 5.4.0
* Kibana 5.4.1

Fresh start: purge Elasticsearch `data` directory.

Start Elasticsearch, start Kibana, and start Logstash.

Health check: Logstash appears to dump a bunch of things into .kibana:

[code]

Setup seems OK.

Try to add data:

[code]

(The above was copied from the [cef codec specs](https:

[2017-06-06 21:04] untergeek commented on #7351
@jordansissel `@timestamp` been added in the module via the `date` filter:
[code]

[2017-06-06 21:05] jordansissel opened #7352 "CEF module: seems slow?"
[code]

Took 8.2 seconds to write 8000 lines to Logstash. 1000 events-per-second is pretty slow, in my expectation. Can we improve this?

[2017-06-06 21:05] untergeek commented on #7351
Also, our `cef` codec is syslog first, then CEF.  The syslog part has to be stripped first, then the CEF portion.

[2017-06-06 21:06] untergeek commented on #7351
Ohhhhh.... Nevermind.  Yeah, we will have to reconsider this, if `deviceReceiptTime` is not a standard field.

[2017-06-06 21:17] jordansissel commented on #7352
[code]

Strangely Elasticsearch seems the highest cost here with 1.5ms

[2017-06-06 21:19] jordansissel opened #7353 "CEF module: Creates an empty pipeline?"
When running with `--modules cef`, I see this in the stats API:

[code]

Two pipelines. The `module-cef` pipeline is empty?

[code]

The `main` pipeline appears to be the one configured by the CEF module.

This seems unexpected. What is this second `module-cef` pipeline?

[2017-06-06 21:22] colinsurprenant commented on #7350
Same behaviour on master.

[2017-06-06 21:22] jordansissel commented on #7351
@untergeek yeah, it's unclear to me[1] if the `deviceReceiptTime`[2] is guaranteed to be present.

[1] I have no experience with arcsight
[2] deviceReceiptTime appears in shorthand as `rt` in our sample logs and is mapped by the codec to be deviceReceiptTime

It nothing else, perhaps the cef codec needs to set `deviceReceiptTime` if the log doesn't include it?

[2017-06-06 21:23] untergeek commented on #7351
That is indeed, another option.  We should check in with the others on this.

[2017-06-06 21:24] colinsurprenant commented on #7350
Noticed that when TPS drops, if LS is restarted, TPS goes back up, new page is created some time after and TPS drops again not too long after.

[2017-06-06 21:27] colinsurprenant commented on #7350
I also noticed that letting it run at lower TPS until a new page is created also resets TPS which then drops again.

[2017-06-07 03:05] imweijh commented on #6572
If define multiple pipeline,
but each pipeline with only one workers,
does this model solve the issue ?
For example: 2 CPUs, so define 2 pipelines, each with one worker on `aggregate` .
@consulthys

[2017-06-07 03:23] original-brownbear commented on #7317
@colinsurprenant

In the current implementation, we're calling `.load` on the buffer so we need at least page-size bytes of off heap memory. Removing the `.load` calls makes things less deterministic, but assuming the case of writing a new page and filling it (while the page size fits in memory), the OS and the JVM will do their best to still put the whole page in off-heap memory.

There is no rel

[2017-06-07 03:38] original-brownbear commented on #7098
@wainersm sweet thanks :)

[2017-06-07 03:49] colinsurprenant commented on #7317
@original-brownbear what actually interest me is the page fault cost relative to the amount of free memory and page size. if the amount of free memory is  significantly larger compared to the page size, I am guessing that page fault will not be very costly overall.

[2017-06-07 03:56] original-brownbear commented on #7317
@colinsurprenant

Sure in practice this statement holds up to a certain throughput `x` and queue size `y` above which you start putting pressure on you OS's paging logic. Obviously, `x` and `y` will be to a degree dependent on the JVM's consumption of overall available memory, but how does that relate to designing the queue?

[2017-06-07 04:15] colinsurprenant commented on #7317
@original-brownbear not sure I understand your previous comment. what I am trying to say is that with the current mmap implementation, a maximum of two pages can be mmaped/loaded simultaneously. for a page size P, a maximum of 2P of off-heap memory will be required  to hold two pages byte buffers. if the amount of off-heap available memory is *somewhat larger* that 2P then the amount of page fault

[2017-06-07 04:17] colinsurprenant commented on #7317
So, I believe this is something we should investigate and also take into account when benchmarking.

[2017-06-07 04:38] original-brownbear commented on #7317
@colinsurprenant

Not really, evicting the page cache is not free at all and has latency to it. The exact semantics of how the amount of free memory influences the throughput are strongly influenced by the envirionment. I don't think this is all that relevant, fortunately. We should simply try to get the code to by physically I/O bound in a microbenchmark and then minimize its memory footprint, th

[2017-06-07 04:42] original-brownbear commented on #7178
another case https://travis-ci.org/elastic/logstash/jobs/240206997#L1831

[2017-06-07 04:44] original-brownbear commented on #7178
link https://github.com/swipely/docker-api/issues/455 -> https://github.com/moby/moby/issues/15759

[2017-06-07 06:39] suyograo commented on #7348
Dup of #7330

[2017-06-07 06:39] #7348 closed

[2017-06-07 07:05] original-brownbear commented on #7178
Fixed at last by #7178 :)

[2017-06-07 07:18] original-brownbear commented on #7329
Done in https://github.com/elastic/logstash/pull/7335

[2017-06-07 07:18] original-brownbear commented on #7329
ah nvm part 2 missing

[2017-06-07 07:18] original-brownbear commented on #7326
Done in #7335

[2017-06-07 07:18] #7326 closed

[2017-06-07 07:50] guyuqi opened #7357 "How to fix 'Error: incompatible types: List<IRubyObject> cannot be converted to List<Queueable>'"
Hi
I'm a new comer and want to build the logstash on AArch64.
The jruby supports AArch64 since the version 9.1.6.0.
So , I tried to update the jruby to 9.1.10.0 just like [pull 6713](https://github.com/elastic/logstash/pull/6713) does.
But the issue is faced to me:
[code]
- Version:  master
- Operating System:  ubuntu 16.04
-JDK:  openjdk version "1.8.0_131"

Any suggestions?
Thanks a lot!

[2017-06-07 08:17] guyboertje commented on #7346
We don't have any tests in the runner spec for this. I guess that is my first task.

[2017-06-07 08:30] original-brownbear commented on #7357
@guyuqi JRuby 9k is not yet supported by Logstash. See https://github.com/elastic/logstash/pull/7349, still working on this, but getting closer :)
I think we can close here right?

[2017-06-07 08:33] original-brownbear opened #7358 "Implement LIR Execution Using Janino"
We decided to move the compilation of the pipeline from Ruby to Janino (as least where it's possible at this point). This issue is to track that effort as part of #7291.

[2017-06-07 08:33] original-brownbear commented on #7358
@andrewvc @ph FYI

[2017-06-07 11:59] colinsurprenant commented on #7317
I wonder what this "so low" is actually. For example, if a very large pages size is configured (say in GB) and the off-heap memory is small, what will the performance impact versus smaller page size or larger free memory. At which point will there be a significant performance impact?

[2017-06-07 12:18] original-brownbear commented on #7317
@colinsurprenant for `FileChannel` IO there is no difference between reading from or writing to small and a large file (assuming the "small" file is still at least a few MB in size) here. The filesize is completely irrelevant to raw I/O performance in this case.

[2017-06-07 12:58] LawYard commented on #7333
🔥

[2017-06-07 13:01] ph opened #7361 "Wrap LIR into an execution classs"
Tasks for #7291, this is one of the baby step that we want to take to rewrite the pipeline class into java. We will start by wrapping the LIR into an execution class to allow us to achieve the following goals:

- Remove the dynamically created method `filter_func` and the the conditionals.
- Delete the config_ast class
- Bridge the plugins instances creating into that new Execution class.
- Pipeli

[2017-06-07 13:01] ph commented on #7361
cc @original-brownbear

[2017-06-07 13:03] ph opened #7362 "Define the Read client interaction with the processor stage of the pipeline"
**TODO:** Add more details to this.

Define how processors will interact with the Read client / batch at the processor level.

[2017-06-07 13:04] ph opened #7363 "Define the Write client interface with the input stage"
Related to work on #7291

**TODO:** Add more details to this, this is an issue place holder at the moment, we need more work on the POC to understand what we really need to do here.

Define how inputs will interact with the write client at the input stage.

[2017-06-07 13:10] ph opened #7364 "Define Pipeline State machine"
Related to #7291

The current pipeline implementation has state properties like **running** or **stopped**, but we don't have anything in place that would enforce the dependencies on the states. As we me forward to Java it's a perfect opportunity to define a formal state machine on the Pipeline.

The first flow that comes to my mind is the following.

created => running => stopping => stopped
cras

[2017-06-07 13:15] ph opened #7365 "Pipeline Shutdown Reporter"
With the work for #7291, I suspect that we will have to rewrite the current implementation of the `PipelineShutdownReporter`, since most of the internal will change.

Work needed TBD,

[2017-06-07 13:17] ph commented on #7291
I've updated the goals with our discussion from yesterday

[2017-06-07 13:25] ph commented on #7358
@original-brownbear Can you update this description? I believe we should thread Janino as an _unknown_ and we need a spike to understand better what we currently need to do. For me, I see that we need to explore the following the class loading/release of theses classes, potential leaks? Can you define a few goals that we want to test for this iteration?

Also, I am pretty sure we will hit other is

[2017-06-07 13:45] StianOvrevage opened #7366 "Docs: inconsistent info about beats input and type field"
On the bottom of https://www.elastic.co/guide/en/logstash/current/plugins-inputs-beats.html it says (as for all other input plugins):

Value type is string
There is no default value for this setting.
This is the base class for Logstash inputs. Add a type field to all events handled by this input.
Types are used mainly for filter activation.
The type is stored as part of the event itself, so you ca

[2017-06-07 13:48] pputerla commented on #4225
logstash 5.4, *http* input -> every closed http session results in CLOSE_WAIT...

[2017-06-07 14:05] original-brownbear commented on #7358
@ph will do very soon :), still thinking about the not so small details here tbh.

[2017-06-07 14:07] colinsurprenant commented on #7317
Oh, I was talking about mmap IO.

[2017-06-07 14:10] original-brownbear commented on #7363
@ph @andrewvc

So my idea for the writer interface would be this, tell me what it's missing :)

[code]

[2017-06-07 14:16] andrewvc commented on #7358
IMHO the best place to do the spike would be compiling `Expression`. It's a relatively small surface area and is where most of the potential issues would lie.

Compiling the graph itself would be quite easy. You could just topographically sort it and then compile each vertex in the sorted list to something like:

[code]

Obviously, there'd be more complexity and different signatures and interfaces

[2017-06-07 14:20] colinsurprenant commented on #7358
It feels premature at this point to already tackle byte code generation? Isn't that an optimization once the overall expression evaluation is correctly working?

[2017-06-07 14:29] ph commented on #7358
@colinsurprenant this isn't clear in the issue description, but when we discussed that feature we come up with a few possible solutions:

- Use ruby directly
- Go with Nashorn
- Go with Painless
- bytecodes

At first, bytecodes seems a really hard goal to try. But with new tools or library like janino which just create Java class that will get compiled to bytecodes it seems that goal is not too fa

[2017-06-07 14:32] ph commented on #7358
@colinsurprenant also this will help us find any problem we might have with our data structure.

@original-brownbear @andrewvc we agree that we manage this as an experimentation to better understand our problem space, this doesn't necessary mean v1 will have bytecodes generation.

[2017-06-07 14:39] andrewvc commented on #7358
@colinsurprenant I wouldn't exactly characterize janino as bytecode generation in the sense that I suspect you're thinking of it, which is probably something along the lines of OW2 ASM.

Janino is just an in-memory java compiler, so this is more like transpilation, just with java as a target instead of ruby. Given that, I actually do think it makes sense as an initial approach, and will probably b

[2017-06-07 14:44] original-brownbear commented on #7317
@colinsurprenant for `mmap` this is simply a question of what write throughput (i.e.) rate of allocation of virtual memory and all the related cleanups your system can handle.
The slower your system (`seek`  + `write` and to a lesser degree CPU resources) the more RAM you'll need to make `mmap` not slow down on either input spikes. Just high load leading to slow down (i.e run into #7350) cannot be

[2017-06-07 14:44] andrewvc commented on #7358
And to clarify, I agree with @ph that this is all experimental at this stage.

I do think that Janino is where I'd place my bets at this point , both from the perspective of efficient execution *and* efficient delivery of the project. That being said, we'll know more after the initial spike :)

[2017-06-07 14:49] colinsurprenant commented on #7358
@andrewvc make sense. I was just concerned that this was more a potential optimization that could be tackled once we went through the first iteration(s) to first make it work correctly, compounded with the fact that I do not think that at this stage specifically optimizing expression evaluation will have an actual significant impact performance wise. But if Janito actually helps to achieve a *corr

[2017-06-07 14:52] colinsurprenant commented on #7317
@original-brownbear I am sure this can be measured, at which free-memory ratio relative to page size is mmap underperforming.
The cause of #7350 is not yet known, it might not be related.

[2017-06-07 14:56] original-brownbear commented on #7317
@colinsurprenant

I explicitly reported #7350 behaviour in https://github.com/elastic/logstash/issues/7162#issuecomment-302796372 and https://github.com/elastic/logstash/issues/7162#issue-229907910 ?

[2017-06-07 15:01] colinsurprenant commented on #7317
@original-brownbear At this point we cannot tell if it is related or not. Premature assumption.

[2017-06-07 15:03] andrewvc commented on #7358
@colinsurprenant yeah, I share your concern about making sure the first implementation is correct. The good news is that LIR was built with the idea that we would have Java bytecode as a target, which obviously translates well to java the language as the target, hence why expressions in LIR like `if ([event][foo])` compile to `NotNull(EventGet('[event][foo]'))`, which makes ruby's 'truthy' behavio

[2017-06-07 15:05] ph commented on #7357
@guyuqi If you have time, I suggest you try the PR in #7349 that will help us find any other problems. I haven't seen the error you are describing in the PR, I will close this.

[2017-06-07 15:05] #7357 closed

[2017-06-07 15:07] colinsurprenant commented on #7358
Totally agree in removing any Ruby moving parts from this.

[2017-06-07 15:07] original-brownbear commented on #7317
@colinsurprenant but https://github.com/elastic/logstash/issues/7317#issue-233696479 also shows that the drop in performance goes away with Channel writes?
How could this possibly not be related? The only logical way this could be would be, that we have a second performance issue in the code up-stack from the `Queue` that comes with the exact same performance characteristics. But since writing to

[2017-06-07 15:14] colinsurprenant commented on #7317
@original-brownbear the execution context in #7317 is completely different from #7350. If the problem end up being related it is all for the better and we will have more facts to help move forward with some refactoring.

[2017-06-07 15:25] original-brownbear commented on #7317
@colinsurprenant what facts?

* We have theory that supports the fact that relentless `mmap` is to blame.
* We have benchmarks that show the problem in isolation?

So the only way this (`mmap`) is not the cause of #7350 would be that there is another bug, that has the exact same characteristics further up-stack. This seems extremely unlikely, especially considering that the `ack` logic isn't expos

[2017-06-07 15:46] colinsurprenant commented on #7317
Thanks @original-brownbear for your input, I keep that in mind. I'll followup when I find out.

[2017-06-07 16:00] original-brownbear commented on #7362
How about something like this:

[code]

Fast 0  GC byte iterator and example implementation of how to use it :)

[2017-06-07 16:57] jordansissel commented on #1645
I have a branch where I am working on this as time permits. No ETA. https://github.com/elastic/logstash/compare/feature/config-string-escapes

[2017-06-07 18:17] colinsurprenant commented on #7350
All my current testing is done on OSX - I will have to re-asses on Linux as we know this could be OS & FS specific.

Here's what I discovered so far:
- using the default `queue.checkpoint.writes: 1024` there is a slight gradual throughput reduction over time which is more significative when using large pages (1GB for example). The problem is not so important when using smaller pages (<100MB for ex

[2017-06-07 18:28] ph opened #7369 "Modules brokes multiple pipeline"
With the merge of [modules](https://github.com/elastic/logstash/pull/7284) we sadly broke our implementation of multiple pipelines.

If you define your pipeline in the  **pipelines.yml** and your start Logstash you will get:

[code]

I've track it down to this part of the [code](https://github.com/elastic/logstash/blob/master/logstash-core/lib/logstash/bootstrap_check/default_config.rb#L73-L75):

[2017-06-07 18:28] ph commented on #7369
cc @untergeek @suyograo

[2017-06-07 19:29] original-brownbear commented on #7350
@colinsurprenant @jordansissel @suyograo

I may be misunderstanding this, but the above basically says that turning off all durability guarantees makes things faster and turning them off may be a fine workaround.

But what's the point when retaining durability and getting performance isn't much harder than what is already working in https://github.com/elastic/logstash/pull/7316?

The fact of the m

[2017-06-07 19:43] ph commented on #7120
I've decided to move away from my trusty vim setup to intellij full time I will take a look at your doc @jakelandis and report, looks detailed!

[2017-06-07 19:47] original-brownbear commented on #7350
I think these numbers are really valueable here, compiled by one of the Kafka leads.

JIRA => https://issues.apache.org/jira/browse/KAFKA-414
just numbers => https://issues.apache.org/jira/secure/attachment/12537773/linear_write_performance.txt

=> unless you want very small writes => mmap gets you nothing, same as we figured out here.

[2017-06-07 19:55] colinsurprenant commented on #7350
I do not understand how you conclude that?

7316 might in fact be a good IO alternative. But that implementation performance need to be compared to the above performance tests before jumping to conclusion. It also does not solve the current released versions so we also have to think about those.

It depends on what durability degree you (the user) require. It should be tuneable.

Why do you feel t

[2017-06-07 20:18] wspi commented on #2822
any news on this? the plugin from Heiko-san won't work on logstash 5.

I have two use cases, one which S3 will send a notification to SQS, and other where S3 will send notification to SNS that will pass to SQS, so the format of the messages are different :(

Anyone has anything started on this?

[2017-06-07 21:49] andrewvc opened #7371 "Port concurrent pinning to 5.5 and 5.4"
We need to port #7368 to the 5.5 and 5.4 branches before our next releases, there is potential for this to cause very confusing behavior for users.

[2017-06-07 22:07] colinsurprenant commented on #7350
Initial tests on Linux shows **no** performance degradation. I did not expect this but it is certainly just related to that the performance is CPU bound and not IO bound. The instance type is a m3.large. I will spin a new one with more processing power so I can get comparable throughput as on my MBP.

[2017-06-07 22:20] andrewvc opened #7375 "rake `plugin:install-default` does not create Gemfile"
rake `test:install-default` works great, but the `plugin` variant does not check for this condition and fix it. Discovered in the 5.5 branch.

Probably a missing rake dep.

[2017-06-07 22:33] guyboertje commented on #7330
Fixed with #7367

[2017-06-07 22:33] #7330 closed

[2017-06-07 22:34] guyboertje commented on #7347
Fixed by #7367

[2017-06-07 22:34] #7347 closed

[2017-06-07 22:37] guyboertje commented on #7346
Fixed with #7367

[2017-06-07 22:37] #7346 closed

[2017-06-07 23:15] jordansissel commented on #7350
@original-brownbear

Focusing on the "very small writes" part -- this is exactly what most logs are: very small writes. Log events are typically small (50-500 bytes in my experience, though size will vary). In the [results](https://issues.apache.org/jira/secure/attachment/12537773/linear_write_performance.txt) you mentioned, alternatives to mmap do not catch up until writes are *at least* 4kb in s

[2017-06-07 23:36] jordansissel commented on #7317
mmap strategy should only be dirtying memory pages that are modified, and our queue page files are append-only, so the only dirty pages that should ever exist in a page are new-data appends. Memory pages that are not accessed recently will be evicted by the OS to make use for other more important things than idle memory pages. Hand-wave, my rough understanding is that the only live memory pages in

[2017-06-08 00:31] logstashbugreporter opened #7377 "exception in running logstash"
hello, there, I got the following exception when running logstash:

- Version: I download the current stable version logstash-5.4.1]
- Operating System: Redhat Enterprise R6.6(Santiago)
- Config File (if you have sensitive info, please remove it):
input {
  beats {
    port => "5043"
  }
}

filter {
  mutate {
    rename => {
      "beat.hostname" => "beathost"
    }
    remove_field => [ "@timest

[2017-06-08 01:08] andrewvc commented on #7371
Done in https://github.com/elastic/logstash/pull/7376 and https://github.com/elastic/logstash/pull/7373

[2017-06-08 01:08] #7371 closed

[2017-06-08 01:39] ceeeekay opened #7379 "6.0.0-alpha2 slow startup times"
- Version: 6.0.0-alpha2
- Operating System: Ubuntu 14.04.5
- Config File: https://gist.github.com/ceeeekay/933ade5e28ce96198d33e85073173112
- Authlog Pattern: https://gist.github.com/ceeeekay/163e3051b02d5bef1c64286e5ef07ea4
- Steps to Reproduce: Start up Logstash 6.0.0-alpha2 with a large config

Note: this was also occurring with 6.0.0-alpha1 but I've only just got around to reporting it.

I've

[2017-06-08 03:01] shshxy98 commented on #1541
I use filter ruby plugin, my logstash version is  5.1.1

[code]
only use it in out file plugin

[2017-06-08 04:50] original-brownbear commented on #7350
@jordansissel @colinsurprenant

Well yes on the face of it, it seems like `mmap` is a huge win here. But if I invest the 30 minutes and 100 lines of code for it, I can simply add a `DirectByteBuffer` of (I'd instinctively go with this number, but the correct answer seems to be growing as time goes by) `64kb` as a write buffer to my `FileChannel` and get the same behaviour for small writes at order

[2017-06-08 05:23] original-brownbear commented on #7317
@jordansissel

well on `force` you get immediate feedback, but it's a segfault of the JVM in many cases :(
Standard `put` into the buffer doesn't really give feedback though, true.

Depends on the system I guess. Probably not, the benefit is that you save fds at these scales I think (unless there is a fs out there that really sucks at creating files and that I don't know about). If you have 1TB+ o

[2017-06-08 07:13] colinsurprenant commented on #7350
@original-brownbear please rest assured, no one here is excluding any of your suggestions and we will take the time to correctly discuss, assess and test any proposed solution.

❗️

Here's what's happening here:
- we identified a troublesome performance behaviour (sharply degrading performance in some conditions)
- we identified the cause of this problem in the current implementation
- we are prop

[2017-06-08 10:24] Exocomp opened #7381 "Logstash jvm node stats api double what should be"
There is some more info into on the discuss forum:
https://discuss.elastic.co/t/logstash-jvm-stats-api-heap-used-percent/88407

I'm using version 5.3.1, basically the node stats API is returning values that are double what it should be:

nodeStats API => "http://127.0.0.1:9600/_node/stats/jvm"

I have configuration with 1 GB of heap.

heap_max_in_bytes => 2.113 GB
heap_used_in_bytes => 1.01 GB

Us

[2017-06-08 10:43] original-brownbear opened #7382 "Concurrency Issue in Queue (multiple consumers, one producer) <= Performance + Bug"
Ran into this when trying to add buffering to the `FileChannel` IO approach.

If I run 2 consumers against one producer in the way shown in https://github.com/elastic/logstash/pull/7380 one of the consumers eventually locks up.

The reason for this is the following:

Assuming we're starting from an empty queue both consumers will block the last line of the snippet below:

[code]

Now this blocking

[2017-06-08 10:45] original-brownbear commented on #7382
@jsvd FYI :)

[2017-06-08 11:04] viveksamaga commented on #6179
logstash -f /etc/logstash/conf.d/ -t

when i use this it throws error
`**bash: logstash: command not found**`

[2017-06-08 11:07] jsvd commented on #6179
@viveksamaga make sure you are in the right path where the logstash file is. also your shell may not have the current directory as part of the path, so you may need to do ./logstash -f "/etc/logstash/conf.d/*" -t

[2017-06-08 11:24] micoq opened #7383 "Incorrect coerce function with duplicate capture keys in Grok patterns"
Hello,

I'm not sure if it's the right repository to post this issue since the grok library is included in Logstash.

On any version of Logstash, if you have two or more fields (or named captures) in a grok pattern with the same name and using a coerce function (like "int" or "float"), this function si not applied all the time (even if the function is the same in each field).

Here is the complete

[2017-06-08 12:56] colinsurprenant commented on #7382
Interesting. But the `notEmpty.await();` only happens when the queue is first empty `firstUnreadPage()) == null`.
But if 2 readers are waiting on `notEmpty.await();`, when a write occurs (that can only write a single element) which signals a reader, the only thing that can happen at this time since we use a single mutex, is that the signalled reader will read that new element and the queue will re

[2017-06-08 13:11] wainersm commented on #7098
Hi @original-brownbear !  I realized that I will need to change the dockerized ci mechanism a little bit in order to adapt FileBeat tests.

I will send changes in small chunks to ease review.

Sent a first patch, that manage TLS certificates in dockerized CI....please let me hear your comments. :)

[2017-06-08 13:14] original-brownbear commented on #7382
@colinsurprenant

This I think. The problem starts when 2 readers start waiting on an empty state. Only one of them gets to read then. If that one never drains the queue, you get stuck here:

[code]

because there is no logical way for the `notEmpty.signal` to ever be called for a second time to wake another reader it up.

In steps:

1. 2 Readers start and run into the `notEmpty.await();`
2. Write

[2017-06-08 13:27] colinsurprenant commented on #7382
but at step (2) since only 1 element can be written at a time,  the queue will **necessarily** be drained again by the first waked up reader no? unless there is a condition where this is not true (ie the following `_readPageBatch(p, limit)` will not drain in which case that is the bug or wrong assumption) the only other possibility is that we don't correctly maintain the *empty state* which is `fi

[2017-06-08 13:29] original-brownbear commented on #7382
@colinsurprenant but the writer can write more elements than the consumer can handle after the first write triggers Reader 1. When is Reader 2 ever woken up in this scenario?

[2017-06-08 13:30] original-brownbear commented on #7098
@wainersm thanks! Can you make a PR from that first patch ? :)

[2017-06-08 13:52] colinsurprenant commented on #7382
Since there is a single global mutex, only one read or write can happen
A- after the first write that triggers reader1, when reader1 is finished, queue is empty again, lock is released.
B- at that point reader2 is still waiting
C- the only thing that can happen here is that a second write occurs (well other readers could stack up but not relevant here), which will wakeup reader2 and the same seque

[2017-06-08 13:56] andrewvc opened #7385 "Move from Concurrent Ruby gem to Java Concurrent"
I'm writing this post in the wake of #7372 , where we found that the concurrent ruby gem broke on some javas (for reasons that are still unclear).

The concurrent gem is an extra place where things can go wrong as we have seen. It doesn't add much, just adds an extra maintenance burden.

I propose that we put a moratorium on new uses of the concurrent gem, and make it a goal to remove its existing

[2017-06-08 13:59] original-brownbear commented on #7382
@colinsurprenant so concurrent reads are not threadsafe on `Queue` and the test is invalid?

[2017-06-08 14:07] colinsurprenant commented on #7382
Not sure what you mean. The `Queue` is designed to be threadsafe and support concurrent reads. I did not look into the details of your tests (yet). Only discussing this particular code logic. I am not saying there is no problem (re-read my comments, I specifically said that if there was a problem it could be at an invalid `_readPageBatch(p, limit)` assumption or an invalid *empty state* handling).

[2017-06-08 14:15] andrewvc commented on #7385
I'll also add that we can use `ScheduledThreadPoolExecutor` to consolidate some of our timer threads. The concurrent gem uses one thread per task, which is not as efficient when you have a number of short-lived infrequent tasks.

[2017-06-08 14:15] ph commented on #7385
I am OK to slowly migrate the use of concurrent ruby to Java equivalent.

[2017-06-08 14:15] jsvd commented on #7385
I'm +1 on stop using/removing it as much as possible, this 0.9.x 1.0.x situation is creating too many problems. And I agree there's not much gain in using it since java concurrent is easily accessible from jruby.

[2017-06-08 14:23] ph commented on #7385
I would just clarify, I +1 to stop using it, I don't think we should just go crazy and replace it all of it right away. The removal will come from the java migration.

[2017-06-08 15:12] original-brownbear commented on #7382
@colinsurprenant this is clearly a case of Reader 2 never being released, since using

[code]

instead of

[code]

in the write method fixes the issue. To me it is obvious that we see the sequence:

Reader 1 blocks on `Condition`
Reader 2 blocks on `Condition`
Writer writes one event to unblock Reader 1
Reader one takes a few ms to get back to reading, meanwhile writer writes some events
Reader 2

[2017-06-08 15:20] colinsurprenant commented on #7382
@original-brownbear when you way «Reader one takes a few ms to get back to reading, meanwhile writer writes some events»

"writer writes some events" cannot (shoud not) happen: only **one** write can issue **one** write or **one** element which should unblock Reader 2.

**IF** that does not happen, **WHY** is that, this is the question

[2017-06-08 15:22] original-brownbear commented on #7382
@colinsurprenant but how is it guaranteed that write and read happen in perfect w-r-w-r-w-r order in 100% of cases when they originate from different threads?

[2017-06-08 15:34] colinsurprenant commented on #7382
If feel we might be starting to get somewhere with this question. there is not guarantee that any read or write happen in order, obviously.

But when a write happen, **it should systematically** call `if (wasEmpty) { notEmpty.signal(); }` which will wakeup the next reader waiting. So in other words, a write in an empty queue should be necessarily be followed by a read because of the ` notEmpty.sig

[2017-06-08 15:46] original-brownbear commented on #7382
@colinsurprenant the stacktrace showing the second reader blocking on `notEmpty.await()` proves that it is not being unblocked doesn't it?

[2017-06-08 15:49] colinsurprenant commented on #7382
no sure? if the queue locks off completely it is a problem but having readers blocked when readers are faster than writers is normal no?

[2017-06-08 15:58] original-brownbear commented on #7382
@colinsurprenant it locks completely and indefinitely (also tried higher timeouts in the test) with data left in the `Queue` in the test.

[2017-06-08 16:00] colinsurprenant commented on #7382
ok, then we still have work to do to understand why this is!

[2017-06-08 16:03] original-brownbear commented on #7382
@colinsurprenant I worked the steps out above:

Reader 1 blocks on Condition
Reader 2 blocks on Condition
Writer writes one event to unblock Reader 1
Reader one takes a few ms to get back to reading, meanwhile writer writes some events
Reader 2 is blocked forever, even if Reader 1 stops (so long as it stops on a non-empty Queue)

where am I wrong here?

Same question again, how are those steps wro

[2017-06-08 16:05] colinsurprenant commented on #7382
you are wrong in "writer writes some events". it can only be "writer writes one event" and that write should issue a `notEmpty.signal()` which should unblock Reader 2.

[2017-06-08 16:26] original-brownbear commented on #7382
@colinsurprenant no there is no guarantee that the second write triggers Reader 2.
If Reader 1 is already trying to acquire the lock on its `.lock` call it has the exact same chance that Reader 2 has to aquire the lock in its `await` call! <= this is the heart of the issue.

* We have no fair locking here.

All it takes is for two writes to go through subsequently on an empty queue because whateve

[2017-06-08 16:42] guyboertje opened #7386 "Modules - needs to handle a 401 when x-pack is installed and auth fails."
From PH...
[code]

[2017-06-08 16:43] colinsurprenant commented on #7382
@original-brownbear I think this is starting to look like a plausible explanation:

A- reader 1 waits on notEmpty
B- reader 2 waits on notEmpty
C- writer acquires lock, write element and signals notEmpty, lock is unlocked
D- a reader is selected to be waked up and tries to acquire the lock
E- a writer is "simultaneously" trying to acquire the lock and win in (F)
F- writer acquires lock, write elem

[2017-06-08 18:05] original-brownbear commented on #7382
trivial fix as it turns out, see PR :)

[2017-06-08 19:18] colinsurprenant commented on #7382
perfect, thanks for your work on this :thumbsup:  Happy we did not blindly go with a `signalAll()` solution, proper investigative work pays off.

[2017-06-08 19:20] colinsurprenant commented on #7382
oups I hit "Close and comment" - will let the merge perform the "official" close :P

[2017-06-08 19:36] original-brownbear commented on #7382
@colinsurprenant all merged, thanks!

[2017-06-08 19:36] #7382 closed

[2017-06-08 20:29] danizen commented on #5115
+1 - just found this, and tried the other method first.

[2017-06-08 20:51] robbavey commented on #6990
Couple of general questions/assumptions:

- Is it fair to make the assumption that retention is performed at the segment level?
- Are these values global, or per-pipeline? This has particular implications for the size threshold...
- Is the size threshold a hard limit (queue cannot go above the threshold), or one that advises that old segments will be cleaned up once the queue size breaches the thr

[2017-06-08 21:17] binary132 commented on #1645
I was able to work around this by manually inserting the character literal. 😄

[2017-06-08 21:46] colinsurprenant commented on #7350
Some good news. I just finished performing a round of benchmarks on Linux and these are some initial observations:

- The machine is a AWS c3.4xlarge, a 16 vCPU/30GB RAM with SSD.
- Ubuntu 16.04
- I used a master snapshot, which showed roughly the same behavior as 5.4.1 in previous tests - But I will redo my tests with 5.4.1

I used the following apache style configuration
[code]

and fed it throu

[2017-06-08 21:56] colinsurprenant commented on #7350
results looks consistent in 5.4.1.

[2017-06-08 22:44] colinsurprenant commented on #7350
I am closing this issue. With @suyograo and @acchen97 we agreed to move forward with the 5.4.1 benchmarks on Linux. I will followup with the specific 5.4.1 tests in another issue and future IO strategies improvement discussions can also take place in their respective issues.

[2017-06-08 23:20] jordansissel commented on #7381
@ph I thought we fixed this?

[2017-06-08 23:23] jordansissel commented on #7381
Duplicate of https://github.com/elastic/logstash/issues/6608. Fixed by https://github.com/elastic/logstash/pull/6827.

The fix is available in Logstash 5.4.0 and beyond.

[2017-06-08 23:23] #7381 closed

[2017-06-08 23:25] jordansissel opened #7387 "Test failure: Bundler could not find compatible versions for gem "concurrent-ruby""
https://logstash-ci.elastic.co/job/elastic+logstash+master+multijob-acceptance/label=metal,suite=redhat/322/console

[code]

[2017-06-08 23:29] jordansissel opened #7388 "Test failure: pipeline 'main' not found in some node stats tests"
https://logstash-ci.elastic.co/job/elastic+logstash+feature-9000+dockerubuntu-periodic/100/console

10 failures all looking like this: `Expected to find value 'main' in structure ...`

[code]

10 failures:

[code]

[2017-06-08 23:31] jordansissel opened #7389 "Test failure: two Plugin Manager test failures"
https://logstash-ci.elastic.co/job/elastic+logstash+feature-9000+dockerubuntu-periodic/98/console

[code]

[2017-06-08 23:33] jordansissel opened #7390 "Test failure: LogStash::Timestamp constructor test failure"
https://logstash-ci.elastic.co/job/elastic+logstash+feature-9000+dockerubuntu-periodic/88/console

[code]

[2017-06-08 23:34] jordansissel commented on #7390
https://logstash-ci.elastic.co/job/elastic+logstash+feature-9000+dockerubuntu-periodic/82/console

[code]

[2017-06-08 23:36] jordansissel opened #7391 "Test failure: LogStash::Timestamp subtraction"
https://logstash-ci.elastic.co/job/elastic+logstash+feature-9000+dockerubuntu-periodic/68/console

[code]

[2017-06-08 23:37] jordansissel opened #7392 "Test failure: agent: killed thread"
https://logstash-ci.elastic.co/job/elastic+logstash+feature-9000+dockerubuntu-periodic/58/console

[code]

[2017-06-09 00:13] suyograo commented on #6990
Yes.

IMO, we should make it a global setting. This would keep the settings simple. It is not clear why users would want a different threshold for a different pipeline.

We should start deleting old content once the threshold is reached. This basically ensures that DLQ always has space to accept newer events within a finite disk space. If the LS admin never cleans the DLQ events, it means those ev

[2017-06-09 01:51] robbavey commented on #6990
Agreed that we wouldn't necessarily want a different threshold, and would prefer a global threshold. My question was more whether the threshold should be applied per dlq instance (ie, per pipeline), or across all instances together. Per dlq instance would be simpler, but we should make a conscious decision.

This was the model I was thinking of ;)

[2017-06-09 02:08] suyograo commented on #6990
Yeah, applying the retention per DLQ makes sense vs all. You want the retention to be independent of DLQs used in other pipelines. I've seen this work well in systems like Kafka.

[2017-06-09 02:09] suyograo commented on #6990
^^^ this would enable us to expose retention settings per pipeline in the future if users ask for it.

[2017-06-09 07:19] DivyaYash commented on #2463
Yes, it seems like, since we also recently faced the same issue...We have the output configured with Solr/ES and HDFS...and ES was down which caused the logstash to stop writing to all of them...
Is there a fix for this issue please help

[2017-06-09 08:10] jsvd commented on #7379
@ceeeekay thanks for the investigation on this, can you post a thread dump taken during those 12 minutes?

[2017-06-09 08:26] jsvd opened #7396 "A look into metric collection overhead in logstash 5.4.x"
### Introduction

In an attempt to understand the current overhead of metric collection the latest logstash stable version, I set out to compare the event throughput in a `generator -> elasticsearch` pipeline.
For this I used logstash 5.4 with the lastest elasticsearch output. To remove the influence from network layer, I also modified the elasticsearch output to not perform the bulk request but a

[2017-06-09 10:46] AlexWerz opened #7397 "Plugin installation of specific version installs different version"
Following this discussion: https://discuss.elastic.co/t/installing-x-pack-with-version-is-installing-the-wrong-version/87715

Hi!
If I install X-Pack on a Logstash 5.3.2 with this command:

/usr/share/logstash/bin/logstash-plugin install --version 5.3.0 x-pack

it installs version 5.3.2.

You will now say, that this is correct as I am using Logstash 5.3.2 but when using Puppet to do so you run in

[2017-06-09 10:58] original-brownbear opened #7398 "Remove Duplicate Algebras from Checked in Codebase"
We have `logstash-core/lib/logstash/compiler/lscl/lscl_grammar.rb` as well as `logstash-core/lib/logstash/config/grammar.rb` in the git tree.

The diff between both is in naming only:

[code]

I think before we do anything more involved we could achieve one goal of #7291 by simply cleaning this up.
Can't we simply generate the treetop grammar during the build? If not we should still just clean up

[2017-06-09 10:59] original-brownbear commented on #7398
@ph @andrewvc fyi :)

[2017-06-09 11:09] DwijadasDey commented on #6179
In ubuntu 16.10, if you have installed logstash using apt-get then use-
$ /usr/share/logstash/bin/logstash -f /etc/logstash/conf.d/ --config.test_and_exit

[2017-06-09 12:02] colinsurprenant opened #7399 "review Queue notFull signalling"
in light of #7380 and #7382 we should review the `Queue` class `notFull` signalling to make sure a deadlock cannot occur at queue full conditions similar to what we fixed at queue empty condition.

FYI @original-brownbear

[2017-06-09 12:24] ph commented on #7397
I think we are not correctly managing expectation when installing a pack, because when you do `bin/logstash-plugin install --version 5.3.0 x-pack`, we are simply ignoring the version number and we actually use the logstash version to fetch the appropriate version of the pack.

Also, x-pack actually requires a 1:1 version match, since 5.4.0 you cannot install an x-pack if the version is not the sam

[2017-06-09 12:38] jsvd commented on #7396
I investigated further and found that the slow down happens is being triggered (but not necessarily caused by) [`WrappedWriteClient#record_metrics`](https://github.com/elastic/logstash/blob/master/logstash-core/lib/logstash/instrument/wrapped_write_client.rb#L31)

Applying the patch:

[code]

Reduces the runtime of the test above from around 340 seconds to 187 seconds. Each metric I remove takes a

[2017-06-09 12:38] ph commented on #7398
@original-brownbear I think you need a bit of background about the config management and what we actually run. In the current master branch of Logstash we are actually parsing the Logstash configuration twice, once for LIR (java side) which is currently only needed for exporting stats to xpack and we parse it again on the ruby side that generates dynamics methods in the pipeline.rb scope. This is

[2017-06-09 12:39] ph commented on #7398
I don't like duplicate like you do, but when we refactor important part of code, I am OK to have them exist in the transition.

[2017-06-09 13:16] andrewvc commented on #7398
Just echoing @ph here, yes there is duplication, but we can't remove `grammar.rb` until we also remove `config_ast.rb` because that's what `pipeline.rb` uses to run pipelines. We can't dedup them because we have two different impls. of the grammar. One is a ruby transpiler, the other is a LIR compiler.

[2017-06-09 13:35] patrickwallaws commented on #6366
Any updates on this? This is really harshing my time....trying to pass the list as an environment variable to my ecs cluster of logstash servers.

If no updates on the feature - anyone find a good work around (other than using a single elasticsaerch host ...)

[2017-06-09 13:42] original-brownbear commented on #7398
@ph @andrewvc got it thanks, let's be optimistic that this code will go away shortly then :)

[2017-06-09 13:42] #7398 closed

[2017-06-09 13:43] original-brownbear commented on #7399
@colinsurprenant agreed, I guess we could try and replicate the test I added for the full queue case?

[2017-06-09 14:29] micoq opened #7401 "Too many file descriptors used by UDP and TCP plugins (IO.select())"
Currently, the udp and tcp input plugins (logstash-input-udp and logstash-input-tcp) cannot accept more than ~1024 clients because the use of `IO::Select` in these plugins (it's not an "ulimit" problem, it's a hard coded limitation of the `select()` syscall).

It can be an issue if you want to use Logstash as a central collector for Syslog events (e.g. to replace Rsyslog).

If the number of client

[2017-06-09 14:32] ph commented on #7361
As discussed with @original-brownbear we will do the following, we will encapsulate the evaluation of the Ruby code into an execution class and we will expose `filter_func/output_func` we will create a java interface for that, this will allow us to experiment with Janino or just calling Ruby static methods.

[2017-06-09 14:43] CowboyTim commented on #5507
That's IMO not a solution. There's no need to have so many entropy needed for an application to just start up,

[2017-06-09 14:49] untergeek commented on #5507
@CowboyTim, entropy exhaustion is a very real concern if you are doing anything with encryption. Logstash happens to spin up its encryption bits at initialization, and unfortunately this makes for a bad experience if you have insufficient entropy.

[2017-06-09 14:50] jsvd commented on #5507
I haven't tested yet logstash with jruby 1.7.27, which has introduced [a backport of a fix](https://github.com/jruby/jruby/pull/4588) around the SecureRandom code. I'm not sure if this can contribute to this problem.

[2017-06-09 14:53] CowboyTim commented on #5507
@untergeek it's indeed a real concern if there's encryption needed. But when it's not, the real concern is the time wasted trying to debug a problem which shouldn't be a problem - and the time wasted during application start for things it never needs. At the very least this can be just logged that the entropy is too low. This would even benefit applications that actually need entropy too.

[2017-06-09 14:56] #7277 closed

[2017-06-09 15:00] untergeek commented on #5507
As @jsvd correctly points out, the real problem is upstream from Logstash in the JRuby code. We are migrating to JRuby 9000 soon, where the backported fix originated from.

[2017-06-09 15:10] original-brownbear commented on #6830
@jordansissel this is fixed for sure now I think. I could eventually reproduce this one as a result of #7382 which is fixed now. Fixed in 5.4 and newer now :)

[2017-06-09 15:10] #6830 closed

[2017-06-09 15:18] wainersm commented on #7098
I'm working on helper methods to copy file contents from/to the container.

But I'm kind of stepping back for a moment to re-think the current docker design. The reason is that Filebeat tests require a work flow a bit more complex than we have implemented. For example, beyond copying files to the container (before start the service), the tests need to go for stop/start cycles in order to configure

[2017-06-09 15:19] jsvd commented on #7377
this seems to be a duplicate of https://github.com/elastic/logstash/issues/6756

[2017-06-09 15:20] original-brownbear commented on #7098
@wainersm can you give a little more detail? What do you see will turn into a problem with the current appraoch ?

[2017-06-09 15:26] nguyenlp opened #7402 "Reported behavior (confusing/weird message) is a bug / needs more meaningful messages."
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

Logstash Plugins are located in a different organization: https://github.com/logstash-plugins. For bugs on specific Logstash plugins, for example, if Redis Outpu

[2017-06-09 15:26] jsvd commented on #7315
this has been fixed in the es output version 7.3.5 https://github.com/logstash-plugins/logstash-output-elasticsearch/commit/c56322b23f81fb0711fc86e86d0944e6e752fbd9

This means DLQ does not work in Logstash 6.0.0-alpha2 without updating the es output plugin.

[2017-06-09 15:26] #7315 closed

[2017-06-09 15:29] jsvd commented on #7249
I apologize for the inconvenience, but this is a usage question, and should be asked at https://discuss.elastic.co.

GitHub is for coding issues and error reporting.

[2017-06-09 15:29] #7249 closed

[2017-06-09 15:36] jakelandis commented on #4762
I appears that some refactoring since the time of this issue has removed the extra output from the rspec.   Can not reproduce, closing.

[code]

[2017-06-09 15:36] #4762 closed

[2017-06-09 15:42] jsvd opened #7403 "logstash 6.0.0-alpha2 throws lir exception if two identical plugins are used in the inputs or outputs"
example:

[code]

[2017-06-09 15:46] jsvd commented on #7281
moved to https://github.com/logstash-plugins/logstash-filter-grok/issues/114

[2017-06-09 15:46] #7281 closed

[2017-06-09 16:17] robbavey opened #7404 "Benchmark DLQ enabled/disabled"
Create benchmarks to understand any performance impact when DLQ support is enabled.

[2017-06-09 16:21] jsvd commented on #7016
allowing users to add dependencies is correctly supported in the creation of a custom plugin.
On the other hands, bunder is the underlying dependency manager so editing the Gemfile works online as bundler will download the remaining gem.

Between these two I don't see what else can be provided.
Editing the is discouraged as you pretty much can do whatever you want, like delete dependencies, introd

[2017-06-09 16:37] jordansissel commented on #7388
https://logstash-ci.elastic.co/job/elastic+logstash+master+dockerubuntu-periodic/2344/console

[code]

[2017-06-09 17:14] #7287 closed

[2017-06-09 17:35] original-brownbear commented on #5492
@ph seems fixed in `master`

[code]

just tried it out

[2017-06-09 17:39] AlexWerz commented on #7397
That sounds like a good solution. As a cli user installing the plugin manually I see what is going on, but when using Puppet things are different.
The Puppet module should only check the version when checking which version is installed, I guess.

Thanks for your response.

Regards,
Alex

[2017-06-09 17:40] #5492 closed

[2017-06-09 19:18] ph opened #7407 "Add ephemeral_id to Logstash and Pipeline"
To offer better metrics will need to better track the lifecycle of pipelines and Logstash instances when they are restarted or created. To do so we will add `ephemeral_id` at the **Logstash level** and at the **Pipeline level** and theses information will be available when we gather the metrics.

[code]

We will need to make them available for x-pack and in the API.

[2017-06-09 19:21] ph commented on #7407
cc @andrewvc

[2017-06-09 19:51] ph commented on #7407
Concerning the implementation do we want to use `SecureRandom.uuid` like we do with the persisted UUID or `SecureRandom.urlsafe_base64`?

https://ruby-doc.org/stdlib-1.9.2/libdoc/securerandom/rdoc/SecureRandom.html

[2017-06-09 19:52] ph commented on #7407
For consistency, I will probably go with `SecureRandom.uuid`

[2017-06-09 20:17] ph commented on #7120
@jakelandis Awesome, I was able to mostly make everything work except running the rspec suite in intellij everything else work, including the debugger. It's been a long time since I've used one of those.

For my rspec problem, I don't see the option to run spec when I right click on the file.

[2017-06-09 20:19] jsvd commented on #7396
Another example, is that grok also counts for each even the grok patterns that matched.
In the test below, a COMMONAPACHELOG grok is applied 5 million times to logstash 5.4.1 with:

1. metric collection enabled: 4 minutes 18 seconds
2. metric collection disabled: 2 minutes 39 seconds
3. metric collection enabled: 4 minutes 26 seconds

[code]

[2017-06-09 21:04] original-brownbear commented on #6696
@jordansissel so just to clarify the correct behavior here:

We are interpolating all environment variables in the config and require `$` to be escaped in configs for that reason, correct?

[2017-06-09 22:01] andrewvc commented on #7379
Thanks for the excellent report @ceeeekay . I just coded up #7408 which should fix this.

[2017-06-09 22:39] original-brownbear commented on #7317
User seemingly affected directly by the allocation issue: https://discuss.elastic.co/t/logstash-not-starting-with-cannot-allocate-memory-error/88558

[2017-06-09 22:59] jordansissel commented on #6696
@original-brownbear We don't support escapes in configs today, but our intent is to interpret environment variables.  We added this some versions ago and at some point is went weird and sometimes -- for some plugin settings -- is evaluating them correctly.

[2017-06-09 23:16] suyograo commented on #6696
@original-brownbear correct ^^

We only expand env variables if it has this syntax `${ENV_VAR}`

[2017-06-10 00:35] ceeeekay commented on #7379
@andrewvc @jsvd Thanks! Do you still need the thread dump? it's going to take me a day or so to get onto this.

[2017-06-10 02:30] robbavey commented on #6833
This looks like it might be related to #6696

[2017-06-10 05:16] KhaineBOT opened #7409 "Logstash does not work with port forwarded with firewalld"
Hi,

I am running logstash on centos7 as part of an ELK stack.  I have configured log stash to listen on port 5140 for syslog messages.  I have used firewalld to forward packets from port 514 to 5140 as log stash cannot listen on ports < 1024 in the default configuration on centos.  Logstash does not process the information being received.

If I set up nectat to run on port 5140 using

`$nc -ul 51

[2017-06-10 09:29] original-brownbear commented on #6696
@jordansissel @suyograo thanks guys, let me try and fix it real quick then :)

[2017-06-10 23:09] micoq commented on #7401
Just some additional informations : The `select()` call can't handle file descriptors greater than 1024 so if a plugin which uses `select()` runs in a Logstash instance which open many file descriptors, this plugin may crash even if it doesn't use itself a few file descriptors.
In my case, I use both TCP and UDP plugins on the same instance. If the TCP plugin eats many file descriptors, the UDP pl

[2017-06-11 17:24] original-brownbear opened #7413 "The Execution Pipeline Serializes all Events Needlessly for In-Memory Queues"
Currently all events, regardless of whether or not persistent queues are activated are serialized and deserialized as they pass through the execution pipeline.

The is tremendously inefficient compared to enqueuing them into an `ArrayBlockingQueue` (or similar data structure) __in deserialized form__ (as was the case in past versions).

This puts an enormous overhead on every event passing the pip

[2017-06-11 18:24] original-brownbear commented on #7404
@robbavey do you think we could do something with JMH here too?

I was thinking like:

[code]

or will the behavior in terms of performance, in particular JIT, differ from CLI-invoked JRuby and make this a pointless exercise?

[2017-06-11 19:58] original-brownbear commented on #6833
@robbavey looks like my case was just an error with the validation, see PR https://github.com/elastic/logstash/pull/7411, I think this is different right?

[2017-06-12 03:54] yuvarajanlga opened #7414 "logstash filter duplicate events with same document id."
Hi ,

I am using sensu monitoring system to monitor our infrastructure. We are sending all sensu server logs to logstash and then to elasticsearch. We recently identified in the elasticsearch has 2 same event with same document id then i check the sensu server logs and i found two logs for the same events because we are using two handler (email and hipchat) hence i can see same log 2 times in the

[2017-06-12 08:49] original-brownbear commented on #7401
I think moving to `java.nio` I/O for this stuff make a lot of sense to avoid the limits of `select`.
At least on Linux the combination of non-blocking `SocketChannel`s and  `Selector` gives us a nice `epoll` implementation.
@suyograo what do you think, maybe we could do this for the tcp input ( https://github.com/logstash-plugins/logstash-input-tcp ) as a first step (we wanted to optimize it anyho

[2017-06-12 09:13] original-brownbear commented on #6938
This was fixed in https://github.com/elastic/logstash/commit/78f70634ed92a9d27391873c21b0a09f98b0119d :)

[2017-06-12 09:13] #6938 closed

[2017-06-12 09:40] micoq commented on #7401
Actually, the `IO.select()` implementation seems to use nio which uses `Selector` and finally `poll` or `epoll`. With `strace` on the Logstash process, I see many `epoll_*` calls. I'll try to make further investigation (it's not ulimit since I have 65536 descriptors allowed per process).

[2017-06-12 09:43] original-brownbear opened #7416 "Rake Bootstrap Should Refresh Gemfile and Gemfile.jruby-1.9.lock Unconditionally"
I think I made a mistake when implementing the logic around `Gemfile.template` that allows for a clean git index across all build stages in #6985.

I made the logic only create the `Gemfile` in case it doesn't yet exist. This is wrong I think because whenever I change branches (like to `5.x`) or add/remove a dependency I need to manually delete the existing `Gemfile` and `Gemfile.jruby-1.9.lock` b

[2017-06-12 09:53] jsvd opened #7417 "track size of emitted batches in a monitoring metric"
right now there's no visibility into how the pipeline.batch.size and pipeline.batch.interval parameters are influencing the performance of the pipeline.

It should be useful to understand if, for example, by setting the batch size to 1000, are the inputs generating 1000 events before the interval triggers and pushes the incomplete batch into filters+outputs, or if most batches end up being 200 eve

[2017-06-12 10:04] original-brownbear commented on #7417
@jsvd I think this should be pretty cheap to measure, you only need one or two `long`s tops for each right?

* the average or mean batch size

Here you only need one `long` to count the number of batches, the number of events we already track I think and just divide right?

* the minimum and maximum sizes of a batch observed in that period

2 `int` that get atomically updated, this should also be

[2017-06-12 10:27] jsvd commented on #7417
yep that solves the average, but not the mean, but maybe it isn't that necessary/meaningful here.

s/12/2, right?

Another way we could track this is using percentage full instead of batch sizes. Tracking `(event count) / (number of batches * batch.size)`, so that..

[code]

[2017-06-12 11:07] original-brownbear commented on #7375
@andrewvc fixed via https://github.com/elastic/logstash/pull/7415 :)

[2017-06-12 11:07] #7375 closed

[2017-06-12 11:09] original-brownbear commented on #7417
@jsvd

Jup fixed :)

This is a neat point that also applies to the question of whether or not `mean` gets us anything here :)
Why don't we just track the percentiles of:

`100%`, `<75%`, `<50%` and `<25%` full. That should give us all the knowledge we need shouldn't it? (obviously we can change the actual numbers, maybe `90%` or so will turn out to be more meaningful).

[2017-06-12 11:19] jsvd opened #7418 "documentation of pipeline.batch.delay is not correct"
Currently the [documentation of the batch delay setting](https://www.elastic.co/guide/en/logstash/current/logstash-settings-file.html) says:

This suggests that, when a batch is being populated, it will be emitted if it either gets full or 5ms (default batch delay) passes.

This isn't totally accurate, as this delay is measured [during the pop operation of the queue for each event](https://github.

[2017-06-12 12:56] wainersm commented on #7098
It's a matter of how we manage the container life cycle: currently the setup method is executed at test begin, it will creates the image, creates the container, then starts the container and the service. The teardown method is executed at test finish, it deletes the container and volumes associated.

Above is a simple life cycle that for Filebeat tests do not work. This requires to start and stop

[2017-06-12 13:23] danielmotaleite commented on #4308
Logstash is the wrong place to fix multiline events, you need to fix as soon as possible, so inside the app or just after the docker:

https://github.com/elastic/beats/issues/918

I hope someone implements the new docker logger beat plugin with multiline support, as in filebeat

[2017-06-12 14:46] jsvd commented on #7396
I've done a few more benchmarks to understand the overall impact of metric producing in a tight loop. If a tight loop of setting a gauge can do 150k operations per second, inserting this gauge in an single threaded event producing loop caps the events per second to that rate.

Code used to test:

[code]

Results:

[code]

[2017-06-12 15:02] ph commented on #7396
@jsvd Can you redo the same test with a namespaced metric? this will remove the cost associated with creating the array.

[2017-06-12 15:10] ph commented on #7396
@jsvd The biggest problem in the flow is probably this:
https://github.com/elastic/logstash/blob/master/logstash-core/lib/logstash/instrument/metric_store.rb#L55

[2017-06-12 15:12] jsvd commented on #7396
namespaced_bench.rb:

[code]

results:

[code]

[2017-06-12 15:23] original-brownbear commented on #7098
@wainersm

wouldn't it be easier to simply use the `.insert_local` API that a `Docker::Image` exposes to build one image for each configuration we want to use and run the different images as new containers for each configuration.
Do you see a downside to that, to me it looks like the by far safest and easiest to implement approach?

[2017-06-12 15:28] ph commented on #7396
Can we redo theses test with the rewrite of the metrics type in pure java https://github.com/elastic/logstash/pull/7274 ? Looking at the profiling trace that show me, we create a lot of instance in concurrent ruby for the atomic reference.

[2017-06-12 15:38] jakelandis commented on #7120
@ph - Thanks for the review.

I have update the [doc](https://docs.google.com/document/d/1kqunARvYMrlfTEOgMpYHig0U-ZqCcMJfhvTtGt09iZg/pub) with some instructions to ensure that you can run Rspec from the IDE.

Just search for "but the run/debug options do not show up" for the updated content.

[2017-06-12 15:43] gmoskovicz commented on #6582
@untergeek @suyograo so this is just a WARN message but the file seems to be picked up. Do we need to enhance the message or the logic?

[2017-06-12 16:24] ph commented on #7396
@jsvd can you add your profiling export to this issue?

[2017-06-12 16:38] ph commented on #5606
#7349 is merged

[2017-06-12 16:38] #5606 closed

[2017-06-12 16:38] ph commented on #6576
What the remaining work for this issue?

[2017-06-12 16:38] ph commented on #7125
We decided to do Java8 time at a later date.

[2017-06-12 16:39] #7125 closed

[2017-06-12 16:39] jsvd commented on #7396
profile script:

[code]

result:

[code]

[2017-06-12 16:40] ph commented on #7252
Only remaining plugin is graphite. I haven't taken a look it, I think @colinsurprenant you were still trying to take a look?

[2017-06-12 16:42] shoggeh commented on #7243
Just to give some numbers to it:

| queue.type | memory | persistent |
| --- | --- | --- |
| avg number of events imported per bulk operation | 400 | 4 |

[2017-06-12 16:54] original-brownbear opened #7421 "We're still referencing JRuby 1.7 in 2 Gradle Build Files"
Two small issues here:

1. The `build.gradle` for `logstash-core` as well as `logstash-core-benchmarks` both reference JRuby `1.7.x`
2. The Jruby version is duplicated between both Gradle files and differs in the patch version.

Seems to have no functional impact but should be cleaned up imo.

[2017-06-12 16:57] shoggeh commented on #7417
@original-brownbear Sorry for jumping in, but I'm slightly worried about situations where actual batch size might be completely different from what you expect it to be due to misconfig or misbehaviour. I think I've noticed something like that in https://github.com/elastic/logstash/issues/7243

So using only percentage to represent will not necessarily give full/proper information here.

[2017-06-12 17:00] original-brownbear commented on #7417
@shoggeh no worries :)

I think my suggestion around percentages was just to get a picture of the distribution of batch sizes.

Are you worried they will exceed the configured maximum size and we'll miss that? It seems like any other case would become very visible if we count the percentiles the lengths into?

[2017-06-12 17:02] colinsurprenant commented on #7243
@shoggeh thanks for the report - this is strange and definitely requires investigation. I will try to reproduce and followup.

[2017-06-12 19:21] ph commented on #7421
I will clean them up

[2017-06-12 19:27] andrewvc commented on #7379
@ceeeekay nope! In #7408 I was easily able to repro the problem. Nothing necessary :)

[2017-06-12 20:03] jakelandis commented on #7421
The main README doc also references 1.7.x  _(I can log a new issue if you like)_

[2017-06-12 20:23] ph commented on #7421
@jakelandis Thanks for finding that, I've created https://github.com/elastic/logstash/pull/7426 to fix it.

[2017-06-12 20:35] ph opened #7427 "Build failures on logstash-ci and deprecation warning about `RubyHash.Visitor()`"
When looking at https://github.com/elastic/logstash/pull/7425, I saw that our logstash-ci job was failling, this might be related to the update to JRuby 9k?

From https://logstash-ci.elastic.co/job/elastic+logstash+pull-request+multijob-intake/7/console

[code]

[2017-06-12 21:47] #7413 closed

[2017-06-12 23:34] logstashbugreporter commented on #7377
thanks for looking over this, I am wondering is there an ETA for fixing this bug?  thanks!

[2017-06-13 02:12] ceeeekay commented on #7379
Nice - thanks :)

[2017-06-13 02:40] suyograo commented on #7379
@ceeeekay thanks for reporting this!

[2017-06-13 04:05] benjaminhon opened #7429 "multiple matches in grok does not work, but seperating does"
I am using ELK 5, the latest version

this is my data
[code]

This does not work

[code]

This however works

[code]

Why is this so? I a rather new to the ELK stack

[2017-06-13 04:07] benjaminhon commented on #7429
nvm i found out why

[code]

this works

[2017-06-13 04:07] #7429 closed

[2017-06-13 05:13] Shabirmean commented on #3140
Have there been any new updates that support encryption of config files in Logstash?

If not, can someone help me understand the workaround suggested by @jordansissel when he says::

In the meantime, a workaround that satisfies both the 'encrypted' and 'prompt for a password' methods would be to use gpg to encrypt the config file on disk and securely create a temporary file (w/ O_EXCL) to store th

[2017-06-13 05:29] suyograo commented on #7401
@original-brownbear @micoq +1 on moving to Java IO for TCP and UDP. We initially wanted to move to Netty, but we can go directly to Java standard libs.

[2017-06-13 06:18] jordansissel commented on #3140
There are no updates. If you wish to learn updates, please watch this ticket. Any updates will appear on this ticket.

[2017-06-13 06:21] jordansissel commented on #3140
Erm, I mispoke. This issue is currently closed ..

We have another open issue somewhere to add encrypted secrets to Logstash (similar to how Elasticsearch is doing it).

That issue is here: https://github.com/elastic/logstash/issues/6892

[2017-06-13 06:23] jordansissel commented on #4183
Protecting secrets is now being discused in https://github.com/elastic/logstash/issues/6892

[2017-06-13 06:23] #4183 closed

[2017-06-13 07:57] original-brownbear commented on #6696
fixed in https://github.com/elastic/logstash/pull/7411

[2017-06-13 07:57] #6696 closed

[2017-06-13 10:27] guyboertje commented on #7369
I am working on this - solution v soon.

[2017-06-13 11:52] robomotic opened #7432 "Feature Request: Plugin for lookup table"
Hello there,
I was looking for a plugin that could do a basic whitelist/black list filtering action on a field.
Example use cases:

- filter known bad domains
- filter known bad hashes
- filter known bad commands

The list could be a simple plain file or a bloom filter (to sacrifice space vs accuracy).

A more generic approach could be to allow a filtering action based on a RESTFUL call but of cou

[2017-06-13 12:44] #7421 closed

[2017-06-13 12:44] #7427 closed

[2017-06-13 13:42] robbavey opened #7433 "DeadLetterQueueReader should handle missing segment files"
In preparation for #6990, the dead letter queue reader implementation should be able to recover when a client attempts to resume from a deleted segment file.

[2017-06-13 14:09] #7379 closed

[2017-06-13 14:27] original-brownbear commented on #7399
closed via #7405

[2017-06-13 14:27] #7399 closed

[2017-06-13 16:23] Shabirmean commented on #3140
Thank you @jordansissel.

[2017-06-13 16:34] NeQuissimus opened #7436 "Calls to mutate make start up very slow"
- Version: LogStash v5.4.1
- Operating System: Ubuntu 16.04 inside a Docker 17.03-ce container on NixOS 17.03
- Config File (if you have sensitive info, please remove it): See below
- Steps to Reproduce: Start LogStash

This is likely related to #6460 and/or #6024

Note that I am providing LogStash with this `jvm.options` file:
[code]

We have a filter configuration similar to this (which is ineff

[2017-06-13 16:40] jordansissel commented on #3140
@Shabirmean my suggestion was not detailed enough, but the rough summary is this as a workaround:

1) Encrypt your configuration file (with whatever tool you choose)
2) Decrypt it safely and pass it only to Logstash, then destroy the decrypted result after Logstash has it

how you choose to implement the above is up to you.

Time permitting, we should have a secrets tool in a few months.

[2017-06-13 16:44] Shabirmean commented on #3140
@jordansissel
Thank you very much 👍
Much appreciated.

[2017-06-13 16:51] Shabirmean commented on #3140
On a side note - Docker has a feature called *Docker Secrets* which enables only specific containers to access unencrypted versions of the data maintained by the secrets manager.

Maybe running log-stash in a docker environment in a dedicated container will enable its configs to be protected via this feature.

[2017-06-13 17:16] jordansissel opened #7437 "bin/logstash -e "" fails on master (IncompleteSourceWithMetadataException)"
tested commit 0332ee5087831aa1267ccd70a2a414ec6a5d633c

[code]

[2017-06-13 17:19] jordansissel commented on #7437
Seems like [this line of code](https://github.com/elastic/logstash/blob/master/logstash-core/src/main/java/org/logstash/common/SourceWithMetadata.java#L58) is ignoring empty strings when considering something to hash (the attributes?) and when I provide an empty config string (valid in 5.x and 2.x) with `-e` it crashes because all attributes are empty or null values.

[2017-06-13 17:20] jordansissel commented on #7437
/cc @andrewvc -- if you have any hints on this. I think I know how to fix it, but I wanted to make sure I don't break some unknown-to-me assumptions.

[2017-06-13 17:39] cwurm opened #7438 "PluginManager: Switch debug mode from env variable to cmd line parameter?"
Throughout the Elastic Stack, debug/verbose logging is turned on with a command line parameter:
 - `logstash --log.level=debug`
 - `elasticsearch --verbose`
 - `elasticsearch-plugin --verbose`
 - `filebeat -v`

The exception is `logstash-plugin` which uses a `DEBUG` environment variable. This does not show up in `--help`, making it difficult to find.

Should we switch to using a command line param

[2017-06-13 17:40] dedemorton opened #7439 "Provide more descriptive titles for plugins docs"
Longer titles will clutter up the navigation a bit, but they're important for SEO. Plus, with so many plugins in the navigation now, users lose context when they scroll down. Having descriptive titles will help with that too.

Here's some feedback about this issue from Clint:

I've had complaints about trying to search for "logstash http output plugin".  I've improved the search by including the b

[2017-06-13 17:57] dedemorton opened #7440 "Make github paths in plugin docs specific to each plugin"
From https://github.com/elastic/website-www.elastic.co/issues/1714:

On most (all?) plugin pages for logstash plugins, there is a link in the *Getting Help* section:

But the link for Github links to the `/elastic/logstash` repository, not the repository for this plugin.  I just used it and was confused for a few minutes because I could not find a file I expected, until I noticed I was on the wron

[2017-06-13 18:12] jordansissel opened #7441 "Test failure: LogStash::Util::WrappedAckedQueue with multiple writers ..."
Tested using JRuby 9.1.8.0

[code]

[2017-06-13 18:18] jordansissel commented on #1645
PR is open for this: https://github.com/elastic/logstash/pull/7442

[2017-06-13 19:19] shoggeh opened #7444 "enable_metric => false in plugin configuration does nothing"
- Version: 5.4.1
- Operating System: Linux
- Config File (if you have sensitive info, please remove it):

(any tested input/filter/outplut plugin behaves the same way):
[code]

- Sample Data: / Steps to Reproduce:

Followup from https://discuss.elastic.co/t/input-filter-output-metrics-still-exposed-after-setting-enable-metric-false/89088

After restarting logstash STATS API will still provide metr

[2017-06-13 19:57] ph commented on #7291
I am doing a spike to see the amount of work to rewrite directly the pipeline.rb class to java, this class does so many things but I think we can get a minimal pipeline quickly.

[2017-06-13 20:47] andrewvc commented on #7437
@jordansissel I recently added that. Hmmm, this is tricky. I mean, its kind of doing what I expected it to do?

The goal was to make it impossible to have 'empty' `SourceWithmetadata` objects. The reason here is that before you could either set a LIR vertex's `.source_with_metadata` property to null OR fill it in with a `SourceWithMetadata` object with blank or null properties. That made reasoning

[2017-06-13 20:48] andrewvc commented on #7437
The hacky fix would probably be to just check a `#empty` comment into the string perhaps.

[2017-06-13 20:49] andrewvc commented on #7437
To be clear, I do not advocate the hacky fix.

[2017-06-13 21:02] jordansissel commented on #7437
Yeah there's no rush on this fix. I doubt many folks use -e "" anyway. I
will dig a bit since I want to learn more about the newer code.

On Tue, Jun 13, 2017 at 1:49 PM Andrew Cholakian <notifications@github.com>
wrote:

[2017-06-13 21:29] micoq commented on #7401
@original-brownbear @suyograo  `IO.Select()` in Jruby effectively uses epoll and not select. Sorry for my mistake !
However, there is a strange behavior when a TCP connection is accepted: each connection create a thread and a eventpoll process:

[code]
So, a single client consumes 4 descriptors and 1 thread. In my initial post, I made a mistake: the descriptors limits were 4096, not 65536 that's w

[2017-06-13 21:50] fmhwong commented on #7290
I have changed my Logstash 2.4.0 configuration to use beats input protocol.

[code]

[2017-06-13 23:34] dedemorton commented on #7440
Created PR #7448 to fix this issue. This change won't show up until the plugins are rebuilt for a release, though.

[2017-06-13 23:34] #7440 closed

[2017-06-13 23:35] dedemorton commented on #7439
@ph Can we add this to the script for generating the asciidoc so I don't have to open PRs against every Logstash plugin known to humanity?

[2017-06-14 02:55] ph commented on #7439
@dedemorton I won't regenerate the docs from the ruby source, but we could probably script something to make the change you want. I am not sure I understand what the change would look like, can you make an example PR on a plugin repo?

[2017-06-14 02:57] ph commented on #7439
I will make sure you don't loose your sanity, so we will try to script it. :)

[2017-06-14 09:34] gdemarcsek commented on #5097
+1

[2017-06-14 10:21] jsvd commented on #7444
Those metrics are tracked by the logstash-core itself. turning of `collect_metric` only disables plugin specific metrics. For example, for the grok filter:

with collect_metric:

[code]

With metric collect disabled:

[code]

I think the documentation needs to be improved to better explain this.

[2017-06-14 12:53] ph commented on #6529
We now give better error when this issue happen #7447 which seems to be a network error or a firewall issues.

[2017-06-14 12:53] #6529 closed

[2017-06-14 13:04] ph opened #7449 "Missing require? uninitialized constant LogStash::Util::EnvironmentVariables"
I've taken a look at the CI suite, I believe the error is coming from PR https://github.com/elastic/logstash/pull/7411

Job: https://logstash-ci.elastic.co/job/elastic+logstash+5.4+multijob-intake/57/console

[code]

[2017-06-14 13:04] ph commented on #7449
@original-brownbear Could you take a look?

[2017-06-14 13:05] original-brownbear commented on #7449
@ph sure looking into it :)

[2017-06-14 13:37] #7407 closed

[2017-06-14 14:35] shoggeh commented on #7444
Thanks a lot of explanation @jsvd. Basically I was just trying to disable plugin metric collection in light of https://github.com/elastic/logstash/issues/7396. Sorry for spotting differences.

[2017-06-14 14:51] guyboertje opened #7450 "MODULES: "Metrics: Max buckets exceeded" - increase the number of buckets"
For the metrics visualisation when computing the events per second;

Changed it to 20000; but if we’re thinking more than 30 days, the buckets will need to be adjust to 30 days x 24 hours x 60 minutes x 60 seconds = 2592000.

[2017-06-14 16:27] acchen97 commented on #7432
@robomotic can you take a look at the [Transforming Data docs](https://www.elastic.co/guide/en/logstash/current/lookup-enrichment.html) and see if the options work for you? The translate, jdbc_streaming, and elasticsearch filters could be good options.

If you're looking for a REST lookup, would this [REST filter](https://github.com/lucashenning/logstash-filter-rest) be helpful?

[2017-06-14 17:45] mitchcapper commented on #5097
Pleae do not +1 a thread, you can emoji thumbs up or similar but +1'ing doesn't further the bug and emails everyone subscribed to it.

[2017-06-14 18:27] dedemorton commented on #7439
@ph We need the titles to include the type of plugin. Before we make any changes, I'm going to see if @clintongormley  can do something to the build to support a short form of the title in the TOC, while having the long title in the topic itself. We'd probably need to use special tagging or something, so let's hold on creating the script until we find out what's possible.

Here's what the TOC woul

[2017-06-14 18:31] ph commented on #7439
@dedemorton roger that!

[2017-06-14 19:04] robbavey commented on #7314
@dedemorton Can this be tested with the latest build?

[2017-06-14 19:24] jordansissel opened #7453 "Implement string escape support in lscl/lir"
Related https://github.com/elastic/logstash/pull/7442

LIR/LSCL has a copy of the grammar which invokes the logstash.config.ir.DSL things. Once https://github.com/elastic/logstash/pull/7442 is merged, we need to also add string escaping support there.

[2017-06-15 00:18] suyograo commented on #7449
@ph @original-brownbear will this affect runtime or just specs? If this affects runtime we need to make this a blocker and respin 5.4.2

[2017-06-15 00:20] original-brownbear commented on #7449
@suyograo runtime I'm afraid :( I can fix it in 7h feel free to take over if its more urgent, it should be just copying the missing file and adding the require (already done in my PR)

[2017-06-15 00:23] suyograo commented on #7449
@original-brownbear I can take over. Just to be sure, we copy https://github.com/elastic/logstash/blob/master/logstash-core/lib/logstash/util/environment_variables.rb right?

[2017-06-15 00:23] original-brownbear commented on #7449
@suyograo yup :)

[2017-06-15 00:27] suyograo commented on #7449
@original-brownbear pushed directly https://github.com/elastic/logstash/commit/76c4926f4da6fa4a5d1ec9f5e5770dd85a8b1958

[2017-06-15 00:28] original-brownbear commented on #7449
@suyograo thanks :)

[2017-06-15 02:48] dedemorton commented on #7314
@robbavey Confirmed that this is fixed in the latest snapshot build, logstash-6.0.0-alpha3-SNAPSHOT.zip, so I'm closing this isssue.

[2017-06-15 02:48] #7314 closed

[2017-06-15 04:15] shahinasm commented on #3504
@gaving will you please how do you configured parent document first.

when i tried with the below logstash config file:

input {
    jdbc {
       type => "jdbc-demo"
       jdbc_driver_library => "/usr/share/java/jconn3.jar"
       jdbc_driver_class => "com.sybase.jdbc3.jdbc.SybDriver"
       jdbc_connection_string => "jdbc:sybase:Tds:192.168.1.32:4117"
       #jdbc_driver_class => "com.mysql.jdb

[2017-06-15 07:44] schwicke opened #7459 "Logstash Centos rpm missing dependency on Java version"
The logstash rpm for CentOS7 is missing a dependency on Java 1.8. It happily installs when Java 1.7 is present but logstash will fail to run. Adding a dependency on the required Java version would solve this issue.

- Version: 5.4.1
- Operating System: CentOS7
- Config File (if you have sensitive info, please remove it): not relevant
- Sample Data: not relevant
- Steps to Reproduce: install defaul

[2017-06-15 08:15] untergeek commented on #7459
This has been a sticky subject in _many_ discussions.  In short, the problem is that there are multiple Java versions, multiple OSes which can install from the same RPMs, and each handles the dependency differently (to say nothing of version matching), making it pretty much impossible to implement with any guarantees.

That is why we simply instruct the end user to ensure Java 8 is installed first

[2017-06-15 08:15] #7459 closed

[2017-06-15 09:42] #7449 closed

[2017-06-15 10:35] original-brownbear opened #7460 "LogStash::Runner Specs are Failing!"
See here:

https://travis-ci.org/elastic/logstash/jobs/243074345#L5541

[code]

I can reproduce this in 100% of runs locally as well, relevant output there:

[code]

[2017-06-15 11:43] mgarciap commented on #3504
You need to add the required mapping to the index first, otherwise ES won't know it about it.
https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-parent-field.html

[code]

[2017-06-15 12:13] original-brownbear commented on #7460
@suyograo  this broke yesterday from you removing CEF in e939c6a :) will set those tests to ignore for now.

[2017-06-15 13:22] guyboertje opened #7463 "Unreliable logstash-core/spec/logstash/timestamp_spec under JRuby 9000"
We will not be able to assert that a timestamp time is exactly equal to the time it was created from.

Got:
[code]

[2017-06-15 14:41] guyboertje opened #7465 "Refactor source loading prioritisation because Modules and XPack Config Mgmt "trump" other source loaders"
Split Local Source into String Source (-e) and File Source (-f)
String Source trumps File Source when used together causing File Source to be ignored (de-prioritised).
Change Multi Local to use both the above and allow String Sources and File Sources to have the the same priority and no conflict checking.

[2017-06-15 15:30] original-brownbear commented on #7460
fixed in #7462 :)

[2017-06-15 15:30] #7460 closed

[2017-06-15 16:26] robomotic commented on #7432
@acchen97 that is all I needed , not sure how I couldn't find it before!

[2017-06-15 16:26] #7432 closed

[2017-06-15 16:26] dedemorton commented on #7439
As usual, @clintongormley has a solution!

All we have to do is include an abbreviated title that docbook understands. So for the beats input plugin, we would add "input plugin" to the end of the topic title and add the short title within `titleabbrev` tags. For example:

[code]

@ph So we'd need a script that appends the plugin type to the end of each title (`input plugin`, `output plugin`, etc)

[2017-06-15 16:56] #7450 closed

[2017-06-15 16:56] ph commented on #7439
We could do the following:

This could be in the [plugin_header.asciidoc](https://github.com/elastic/logstash/blob/master/docs/include/plugin_header.asciidoc)

[code]

[2017-06-15 17:23] dedemorton commented on #7439
@ph

Is this what you mean?

[code]
That's a good idea. In fact, I think we could use attributes (variables) to render the whole title, right?

[code]

The only downside is that the title wouldn't be obvious when people are viewing the topic in GitHub.

[2017-06-15 17:26] ph commented on #7439
@dedemorton  yes

+1 for `<titleabbrev>{plugin}</titleabbrev>` in the plugin_header.ascidoc.

And we can keep the full title in the plugin docs.

[2017-06-15 17:44] #6117 closed

[2017-06-15 17:55] jordansissel commented on #6114
This issue should be solved out-of-the-box when any of the following are released: Logstash 6.0.0, 5.5.0, and 5.6.0 -- via #7469

[2017-06-15 20:10] ph commented on #7439
I've created https://github.com/logstash-plugins/logstash-input-beats/pull/227 in the beats repo, this was done with a simple script, can you review it? It its okay I will apply the change on all the plugins.

[2017-06-15 20:17] ph commented on #7439
I have also create the PR to add the abbreviation to the plugin header at https://github.com/elastic/logstash/pull/7471

[2017-06-16 00:20] ph commented on #7439
@dedemorton All plugins docs are updated

[2017-06-16 00:20] #7439 closed

[2017-06-16 02:50] gramsa49 opened #7473 "rpm removal: Error in PREUN scriptlet in rpm package 1:logstash-5.4.1-1.noarch"
- Version: 5.4.1-1
- Operating System: RHEL 7
- Config File (if you have sensitive info, please remove it): n/a
- Sample Data: n/a
- Steps to Reproduce:
1. Create the user and group logstash in an external user directory (e.g., ldap)
2. Install logstash using rpm or yum
3. Uninstall logstash using rpm or yum

The following error is generated:

[root@ha21t52bd ~]# rpm -e logstash
userdel: cannot re

[2017-06-16 11:33] jsvd commented on #7437
haha I use `-e ""` it all the time, since I rely on the auto complete to provide me with a simple pipeline with stdin/stdout.
Also, I use `-e ""` when I want to manually check something about logstash startup, monitoring api, etc.

We've always supported this since we have the autocomplete for stdout/stdin. I guess we could talk about removing auto completion altogether (which I'm not a fan, but o

[2017-06-16 14:33] wainersm commented on #7098
Hi @original-brownbear !  Sorry for delay to replay your message...I've been quite busy with other stuffs but I'm resuming this work now.

Yes, after think a bit about it I see the approach of customizing one image for each configuration as the right choice. My only concern so far is leaving "dirty images" into the system.

I'll play with this approach and should send a new patch soon.

[2017-06-16 14:37] original-brownbear commented on #7098
@wainersm thanks :)

Don't worry about this imo. Docker is really efficient here, so each run adds like a few kb to the Docker image storage at best. Also those images don't change very often => I think we're good :)

[2017-06-16 15:05] t1m0t opened #7475 "Combining configuration files generates a warning"
I'm facing something I don't understand. I have two configuration files for logstash :

- rsyslog.conf
[code]

- kibana.conf
[code]

When I check them individually with this command, I get no warning message, eg:

When I tail the logstash log file after starting logstash service, I get those warning messages over and over every approximately 1 sec :

[code]

Version of Logstash is: 5.4.1

Have any

[2017-06-16 15:12] colinsurprenant commented on #7149
So would it be possible to keep Joda just for the pattern matching part and use Java 8 time everywhere else?? If it is, this would allow moving forward with proper Java 8 support and just keep Joda for the pattern matching until we decide what to do with that?

[2017-06-16 15:22] original-brownbear opened #7476 "`queue.drain` Setting is Broken"
Running with `queue.drain = true` leads to:

[code]

for me.

This is trivial to fix by simply adding another `.queue` in that method.

[code]

Unfortunately fixing the syntax here doesn't seem to suffice. Even on drained queues the `.empty?` method never returns true leading to a never-ending loop of:

[code]

[2017-06-16 15:25] ph commented on #7149
@colinsurprenant Yup, I think possible to do that, we could use it the date filter and in the _StringInterpolation_ classes.

[2017-06-16 15:28] jsvd commented on #7414
can you post your logstash pipeline?

[2017-06-16 15:38] colinsurprenant commented on #6756
For some reason this did not show on my radar. Will look into this.

[2017-06-16 15:48] colinsurprenant commented on #7377
In fact it is. We will followup in the original issue, thanks for your report @logstashbugreporter. The fix seems simple and hopefully should be possible to include for the next release.
Closing as duplicate.

[2017-06-16 15:48] #7377 closed

[2017-06-16 15:49] colinsurprenant commented on #6756
same issue reported in #7377 by @logstashbugreporter

[2017-06-16 15:54] colinsurprenant commented on #6756
So looking at this, it looks like the `Event.toString()` method has not been updated to use the `getField()` method or otherwise use the BiValue/Javafier to correctly convert Bivalue to String.
Same problem in 5.4.1 and master https://github.com/elastic/logstash/blob/0f648858ef48c2d0b912d71fa2fda9122062440f/logstash-core/src/main/java/org/logstash/Event.java#L271

[2017-06-16 16:27] jsvd opened #7477 "update jruby version to 1.7.27 on 5.x releases"
TL;DR - **Using jruby 1.7.27 in logstash 5.x solves the entropy issues. tested myself and went from 5 minutes to 20 seconds of time to startup**

Other than the "we should use the latest version of jruby", this version fixes the well known issue of entropy causing extremely long start up times, described in https://github.com/elastic/logstash/issues/5507

I used a t2.micro and depleted the entropy

[2017-06-16 19:15] gmoskovicz opened #7482 "Rotate & Delete Logstash logs by default"
With the change to log4j2 , now we can use an `action` inside the `DefaultRolloverStrategy` to delete old log files by default and keep a certain amount of days. We could even add a new `ls.logs.keepdays` setting that defaults to any number and one can modify to change this.

[code]

This will add a safety line for having a large history but not run out of disk for having hundreds of files.

[2017-06-16 19:55] jordansissel commented on #7453
Included in #7442, closing.

[2017-06-16 19:55] #7453 closed

[2017-06-17 10:49] original-brownbear commented on #7441
Can't reproduce this on OSX, this could be very system dependent :( What Kernel are you running this on? Also, you are running a VM for this (Vagrant nfs sync maybe?)?

[2017-06-18 21:28] jakelandis commented on #7317
I have been trying to follow this discussion on write performance of mmap vs. channel io for the Persistent Queue page and wanted to validate my understanding of how things work.

### mmap
The write path for mmap files is using a [MappedByteBuffer](https://docs.oracle.com/javase/8/docs/api/java/nio/MappedByteBuffer.html) via [FileChannel.map](https://docs.oracle.com/javase/8/docs/api/java/nio/chan

[2017-06-19 04:07] desp0916 opened #7487 "Chinese characters become question marks on Windows"
Hi all,

To verify traditional Chinese characters processing with Logstash 5.4.1 on Windows, I did three tests on Windows 10 and Oracle JDK 1.8.0_121.

Here are my three tests: [https://gist.github.com/desp0916/29ad9be45bffda3c6be5026cf076981a](https://gist.github.com/desp0916/29ad9be45bffda3c6be5026cf076981a )

First two tests results are unexpected, but the third one is as expected. To my unders

[2017-06-19 05:00] todd-bowles-console opened #7488 "jvm.options does not work on Windows"
As of my current understanding, the jvm.options file is a neat way to put all of your JVM specific settings into a file and have those settings be applied to the Logstash Java process.

The location and loading of this file appears to occur prior to Logstash being started, inside the logstash.lib.sh script file.

There is no equivalent (that I could see) for Windows (inside the logstash.bat file o

[2017-06-19 05:06] untergeek commented on #7488
That is correct. For Windows, any JVM settings currently have to go into the [`setup.bat` file, with the others](https://github.com/elastic/logstash/blob/master/bin/setup.bat#L42-L62).

[2017-06-19 06:01] todd-bowles-console commented on #7488
Intended, or an oversight/bug? It feels like both operating systems should use the same mechanism for JVM options if possible, or at the very least the documentation for settings should be amended to specify that Windows is special in regards to jvm.options.

[2017-06-19 06:36] untergeek commented on #7488
More like unintended and undesirable apathy on our part.  None of us are Windows-centric users, and so it's not high on our list to learn how to write or extend the `setup.bat` file to import and add the values from `jvm.options`.  If that's something you have the knowledge and skills to provide, that would be a wonderful and appreciated contribution.

[2017-06-19 06:55] original-brownbear commented on #7317
@jakelandis :) let me try and address a few points here:

Given an optimal implementation in `C` yes, results will be very close between `fwrite` and `mmap` implementations and basically just measuring the physical drive throughput (**assuming all you care about is writing a single large chunk of data**, we don't do that, we write many small chunks sequentially and `fsync` in between => very diffe

[2017-06-19 12:53] #7120 closed

[2017-06-19 13:39] shoggeh commented on #7482
Would you be so kind to also provide a configuration example to rotate files after reaching fixed size (instead of daily rotation)?

I believe a lot of user is already deleting LS/ES logs using `find -mtime` or similar, but that doesn't prevent a situation where a single daily is growing up to enormous volumes -- and something like that might very easily happen in a scenario of mapping data types

[2017-06-19 15:19] jakelandis commented on #7317
@original-brownbear  - Thanks for explanation, that make much more sense.

I wrote a little application to try quantify the cost of ```fsync``` between mmap vs. channel io for sequential IO. (I think the code is illustrative of the issue here, if not please let me know)

https://github.com/jakelandis/fsync_compare

You can run yourself (or pull from source):
[code]
I am getting really odd results

[2017-06-19 15:32] jakelandis commented on #7317
Ahh.. the issue was the /tmp directory on Linux ... mapping the queue file directly to a regular directory (slightly old SSD) gets similar results to the Mac
[code]
[code]

[2017-06-19 15:36] original-brownbear commented on #7317
@jakelandis thanks for this benchmark, the difference `tmpfs` to persistent partition is pretty instructive here imo :)

[2017-06-19 17:24] suyograo opened #7490 "Use Kibana API to import modules metadata"
Today, to import the Kibana dashboard, metadata and Kibana settings for modules, we directly write to ES (to `.kibana` index). While this works, there is no guarantee we're persisting this info correctly, and there is no validation. Also, Kibana might change the schema/representation of this metadata.

Recently, Kibana has introduced an API which can be used to import dashboards and other objects.

[2017-06-19 17:27] jakelandis commented on #7317
What's interesting is that on Linux while a much higher percentage (40% more) of the time is spent on Fsync via MMap writes, but the overall time and the total Fsync time is actually lower.

Channel IO = 16.38s
MMap IO = 8.31s
.5s less time in fsync for MMap IO

I would encourage others to check my [benchmark code](https://github.com/jakelandis/fsync_compare) for logic errors or errors that may sk

[2017-06-19 17:29] original-brownbear commented on #7317
@jakelandis I think the reason for this is the file system capability "sparse allocation" that OSX doesn't have. => OSX has to actually allocate the disk space prior to the run, Linux doesn't have to. Little short on time right now, but Google fill in the blanks I just left here easily I think :)

[2017-06-19 17:48] jordansissel commented on #7317
Can you cite where this happens "overhead in figuring out"? I'm not disputing, I'm trying to understand more what exactly happens.

I tried to look at msync vs fdatasync on Linux. Both msync and fdatasync manpages claim to flush "all modified in-core data". I went walking in the linux kernel code to see what kind of work is done but got lost in a maze of method calls -- I may revisit later. Based

[2017-06-19 17:49] jakelandis commented on #7317
@original-brownbear - Sorry, I what I meant was:

What's interesting is that on Linux, **when comparing Channel IO vs. MMap on Linux**,  while a much higher percentage (40% more) of the time is spent on Fsync via MMap writes, but the overall time and the total Fsync time is actually lower.

I am not concerned about OSX/MacOs.

agreed

[2017-06-19 17:56] jakelandis commented on #7317
@colinsurprenant

Same machine as above but with (software) RAID 1 spinny disks.
[code]
[code]
Here Channel IO wins.

[2017-06-19 17:56] original-brownbear commented on #7317
@jordansissel

Jup, I can add a link to source code later once I have more time (ping me if you still care and I forget), but if you think about it, this is actually self-evident and must be true for all systems because:

Assuming I `mmap` some file, now I modify the buffer but simultaneously modify the physical file as well (just open another fd on it) and then `msync` the buffer. The modificatio

[2017-06-19 18:24] jakelandis commented on #7317
@jordansissel

That is what [fsync_compare](https://github.com/jakelandis/fsync_compare) does, though it maybe poorly named and is pretty limited in scope w/r/t to permutations of test conditions.

[2017-06-19 18:42] jordansissel commented on #7317
@jakelandis I ran your test on my laptop (linux vm) with two modifications:

1) Set the java tmpdir to somewhere that hits disk (/tmp is hosted in RAM with tmpfs on this machine)
2) comment out the `.` printing to clean up the output for my eyes (should not impact the results)

[code]

[2017-06-19 19:14] jordansissel commented on #7317
Running `perf record` (and later, `perf report`) on both @jakelandis' mmap and channel tests --

[code]

mmap report:

[code]

channel report

[code]

[2017-06-19 19:56] jordansissel commented on #7317
`perf trace -s` for channel vs mmap in @jakelandis's test:

fdatasync() vs msync() performance is practically identical:

| operation | minimum | average | max | stddev |
|--|--|--|--|--|
| fdatasync (channel) | 7.103ms | 11.112ms | 83.761ms | 0.56% |
| msync (mmap) | 7.081ms | 11.454ms | 78.684ms | 0.59% |

Left side is FileChannel. Right side is MMap -- `perf trace -s` output only showing the ma

[2017-06-19 22:57] ppf2 opened #7491 "Logging when queue.max_bytes is reached"
5.4.1

It will be helpful for admins if we can write a logging entry (that shows up at the default LS logging level, perhaps a WARN), when queue.max_bytes is reached.

[2017-06-19 23:54] morgango opened #7493 "Fingerprint documentation is confusing"
The [documentation for the fingerprint filter](https://www.elastic.co/guide/en/logstash/current/plugins-filters-fingerprint.html) is very confusing.

- Is `key` the field that I need to populate?  If so, its importance isn't really noted.  If not, what is the important value that I need to know about?
- The description is essentially blank.
- Is there an example of using this filter with one or mo

[2017-06-20 00:36] jakelandis commented on #7493
For all [methods](https://www.elastic.co/guide/en/logstash/current/plugins-filters-fingerprint.html#plugins-filters-fingerprint-method) but ```MURMUR3``` or ```UUID``` the key is required. The default is ```SHA1``` which requires a key.

There is an outstanding bug : https://github.com/logstash-plugins/logstash-filter-fingerprint/issues/18 that should address the need to NOT use keys for simple (k

[2017-06-20 01:04] todd-bowles-console commented on #7488
Ah no worries, I understand.

I'll see what I can do.

[2017-06-20 01:20] todd-bowles-console opened #7494 "Logstash 5.4.1 Output Hangs with No Errors"
I am experiencing a problem with Logstash 5.4.1 hanging with events stuck in the HTTP output.

I've made a post about this at the [Elastic Discussion forums](https://discuss.elastic.co/t/logstash-http-output-stuck-hanging/89525), but I think this might be the better place to record/investigate the issue.

To summarise the discussion post:

We use Logstash on Windows in AWS. Basically everywhere th

[2017-06-20 07:02] todd-bowles-console commented on #7494
Using a TCP output does not exhibit the same problem.

[2017-06-20 16:49] guyboertje opened #7496 "5.6 make modules work with x-pack"
More description soon.

[2017-06-20 16:49] guyboertje opened #7497 "6.0 make modules work with x-pack"
More info soon.

[2017-06-20 16:58] jordansissel commented on #7493
Closing since this was moved to the fingerprint repo

[2017-06-20 16:58] #7493 closed

[2017-06-20 18:20] original-brownbear opened #7498 "Add Serialization + Persistence JMH Benchmark"
@colinsurprenant @jakelandis @suyograo @jordansissel

As discussed we should have a serialization + subsequent disk write benchmark suit.

The way I suggest setting this up is:

* Create a few `M` events on heap and in an `Event[]` array (we shouldn't have any overhead from storing these, the more we can get on heap and actually run through in the benchmark itself, the better => array imo, we can

[2017-06-20 18:23] ypid opened #7499 "Use ISO 8601/RFC 3339 international date format"
To be compliant with the international date format as specified by ISO 8601 and RFC 3339 I would propose to change the default index suffix from `%{+YYYY.MM.dd}` to `%{+YYYY-MM-dd}` in a coming major version release. Am I missing something? Why was `YYYY.MM.dd` chosen over `YYYY-MM-dd`?

https://xkcd.com/1179/

[RFC 3339](https://tools.ietf.org/html/rfc3339)

#### Steps to Reproduce

Use the `elas

[2017-06-20 18:27] original-brownbear opened #7500 "Add Read + Deserialization JMH Benchmark"
Same as https://github.com/elastic/logstash/issues/7498 but in the other direction.

A few points on this:

* `Blackhole.swallow()` deserialized events
* Run off of a few GB of persisted data
* Have unique(ish) events in the Queue you're reading + deserializing to not just run off of the deserializer cache

[2017-06-20 22:13] untergeek commented on #7499
Be that as it may, there's a tremendous user base which has been using the dotted notation for as long as 6 or 7 years—some possibly even longer.  Changing the default behavior now would break search, index management, and many other things.

Since the setting is configurable, feel free to make your particular setup use the ISO default nomenclature.  We simply cannot break usability for thousands

[2017-06-20 22:21] jordansissel commented on #7499
I think it was a typo. I introduced it here 3f56b3d8481f5e8c9d5357bddf77a81fc5e64046 which changed the
index from "logstash" to "logstash-YYYY.MM.dd". Why dots vs dashes? Again, probably typo.

For history, the main point of this decision was to enable dated partitions of your data. Before 3f56b3d8481f5e8c9d5357bddf77a81fc5e64046, the index was just "logstash" which didn't scale particularly well

[2017-06-20 22:37] ypid commented on #7499
Thanks very much for your detailed answers :) Very much appreciated. I agree that changing it now is unlikely as it would break backwards compatibility. Also nice that the problem might solve itself with other changes in the future like index rollover. Looking forward to that :)

[2017-06-20 22:40] jordansissel commented on #7499
@ypid indeed! This is a good question to have asked. Thank you :)

[2017-06-20 22:52] untergeek commented on #7499
@ypid The truth is, you can use Rollover right now.  While we are planning to put some form of rollover into Logstash, you don't have to wait for that to happen.

1. Create index `logstash-000001` and add alias `logstash` to that:

[code]

2. Edit your Logstash configuration to point to this alias instead of using the default index:

[code]

3. [Use Curator to rollover the indices](https://www.ela

[2017-06-21 05:07] hectorqin opened #7504 "Failed to create monitoring event"
Logstash: 5.4.1
Elasticsearch: 5.4.1

After i upgrade the elk from 5.2.1 to 5.4.1, the logstash got errors like this:
![image](https://user-images.githubusercontent.com/14220132/27368012-b330a230-5682-11e7-83fe-f15bb0cb61dd.png)

It can't emitt event anymore!! Please help me to solve this! Thinks!