[2015-05-25 14:21] tnolet commented on #3306
@ph Ok, so I `rm -rf`-de my on local repo and then pulled the remote one again. Rebuild the gem and registered it. Now it works fine! I have no clue what happened there, but it must me a mismatch between RVM environments and local gem installations somehow. Closing this issue.

[2015-05-25 14:21] #3306 closed

[2015-05-25 14:24] ph commented on #3306
Nice thank you for updating this :)

I've tested locally and it work for me too, if you encounter this problem again do not hesitate to create an issue!

[2015-05-25 14:32] ph opened #3308 "Calling #inspect on an Event instance doesn't return the content of an ArrayList."
Calling #inspect on a event which contains an ArrayList will return the instance id instead of returning a string of the actual content.

``
"instances"=>#<Java::JavaUtil::ArrayList:0x205196d9>
``

[2015-05-25 15:57] arabold opened #3309 "1.5.0 crashes with "slice bounds out of range" panic"
I'm investigating an issue I'm seeing on my local machine when running logstash 1.5.0 inside of a Docker container (based off the official "logstash:1.5" image).

I read log data from S3 (ELB and Cloudfront data) and have a couple of generic filters defined for parsing. It works well for a while but then suddenly Logstash crashes with the following log output:

[code]

So far I have no explanation

[2015-05-25 16:06] arabold commented on #3309
Here's the (shortened) config I was using when the crash happened. It's important to note that I did NOT send any events via TCP or syslog. The only thing that was running were the two S3 input plugins.

[code]

[2015-05-25 16:32] colinsurprenant commented on #3227
@dougmcclure did you have a chance to try the RUBYLIB env var?

Otherwise, can we close this and followup in another issue for better documenting the options for custom plugins?

[2015-05-25 16:44] colinsurprenant commented on #2914
@felipegs no it should not. the CMS GC option will be useful when memory pressure increases and that typically happens on ES data nodes.

[2015-05-25 16:46] colinsurprenant commented on #2894
Can we close this? @ThomasADavis did you upgrade to logstash 1.5.0 GA?

[2015-05-25 18:01] colinsurprenant commented on #2747
As discussed in jnr/jffi#5 with @fenglixa this should be solved with JRuby 1.7.20. I will describe how to generate a logstash package with updated JRuby version from 1.5.0. Upcoming 1.5.1 or 1.6.0 (whichever  comes first) will include JRuby 1.7.20.

[2015-05-25 18:25] colinsurprenant commented on #2747
clone logstash repo
[code]
switch to v1.5.0 tag
[code]
edit `rakelib/vendor.rake` and change the jruby reference a the top to
[code]
create tar.gz package
[code]
this will create `build/logstash-1.5.0.tar.gz`.

You can also create `.zip`, `.deb` or `.rpm` packages using
[code]

[2015-05-25 19:18] dagmartin opened #3310 "Unable to remove field with nil value if it comes from redis input"
I have a file with csv data that I read into logstash and parse using the csv plugin. Some fields will always be empty and gets a value of null. I then do some checking and remove these fields before shipping to elasticsearch. This all works fine, _unless_ I first ship the csv data to redis, and then parse it, then I'm unable to remove the fields with value null.

Here are two small config files t

[2015-05-25 20:02] croax opened #3311 "Permission denied Error: Permission denied - /var/log/logstash.9844.4050.994333"
Hi guys

Having a weird problem with logstash 1.5.0-1 on CentOS 7. When I start logstash it crashes after just under two minutes. Only error in logs is the following repeated over and over:

{:timestamp=>"2015-05-25T19:43:08.410000+0000", :message=>"A plugin had an unrecoverable error. Will restart this plugin.\n  Plugin: <LogStash::Inputs::File path=>[\"/var/log/network.log\"], sincedb_path=>\"/v

[2015-05-25 20:25] ph commented on #3302
@neilprosser I've been hammering my logstash installation with all your groks filter and the sample event you gave me. So far didn't crash, the memory usage is also stable.

[2015-05-25 20:42] ph commented on #3302
This is what I know, If the grok filter is the problem.

- We have added a caching mechanism to the grok pattern to improve the speed.
- We have moved some of the plugin logic into the grok gem.
- Grok now creates a multiline regexp per default.
- Inputs thread are in **WAITING** state
- Outputs threads are in **WAITING** state
- Filter is the only thread running (your thread dump show the grok in

[2015-05-25 20:45] croax commented on #3311
With debug output:
[code]

[2015-05-25 20:45] ph commented on #3302
@neilprosser I will be on irc in the #logstash channel on freenode tomorrow around ~9h30 EST, same username.

[2015-05-25 20:51] ph commented on #3276
@parabolic I've look again with your thread dump, they show a healthy logstash instance to me. The thread dump is a bit more useful when logstash is stuck/hang because we will know on what part of the code logstash is stopped so this may give us information on the problematic plugins.

[2015-05-25 20:55] croax commented on #3311
Think I might have found the problem. I had sincedb_path configured in my logstash.conf pointed at /var/log/logstash. Commenting it out has fixed logstash so far..

[2015-05-25 20:57] ph commented on #3276
@parabolic I have just noted that you are also exporting all your events as file! This is really awesome!

Can you try to reproduce the issue with the physical file on a separate logstash 1.5 environment? If we can narrow it down to a specific reproducible pattern this would be really helpful to me!

[2015-05-26 00:15] arabold commented on #3309
My current hypothesis is that this error is caused due to my setup with Docker 1.6 running on Windows (inside Boot2docker). After I have disabled the `stdout` output plugin and don't use the Logstash `-vv` flag, I cannot reproduce this issue anymore. Anyone else having similar problems?

[2015-05-26 00:20] arabold commented on #3309
Uhmm... now, thinking about it... I should have realized that the crash happens in Go and thus is very likely related to Docker and not Logstash at all! I think you can close this here and I'll report that problem over at Docker instead.

Sorry for the spam.

[2015-05-26 01:41] colinsurprenant commented on #3309
@arabold thanks for the report, as you figured out, this error/crash is within docker. I will go ahead and close this issue.

[2015-05-26 01:41] #3309 closed

[2015-05-26 04:59] Centopus commented on #3276
@ph Yes, no trace of exception or error. As I mentioned in my discuss.elastic.co post I've ran logstash with --debug flag, and just noticed the reading threads dissappear/end - no error to be seen. At some moment they are there, and after a while they stop reporting.

Do you have an idea how to monitor one of those? To see if the thread itself can provide us with any data before it ends.

Unfortun

[2015-05-26 07:43] neilprosser commented on #3302
* The configuration is almost the same. I corrected the deprecation warnings in relation to using the old `elasticsearch_http` output and started using multiple matches to match the `jetty-request-log` (`match => [ "message", "%{JETTYREQUESTLOG}", "message", "%{OLDJETTYREQUESTLOG}" ]` rather than `match => [ "message", "%{JETTYREQUESTLOG}" ]`). The original `JETTYREQUESTLOG` pattern is what the ne

[2015-05-26 08:07] neilprosser commented on #3302
Your comment and my answer got me thinking: since I only made the one configuration change (beyond the removal of deprecation warnings). So I removed the multiple matches from the `grok` filter mentioned in my previous comment. While only matching on the `OLDJETTYREQUESTLOG` pattern (which is essentially the same configuration that I was using in 1.4.2) the application has definitely been running

[2015-05-26 09:05] fenglixa commented on #2747
Logstash could start-up successfully on pcc64le after rebuilding logstash with jruby1.7.20. Thanks @colinsurprenant

# ps -ewf |grep logstash
root      1712  5189  0 05:03 pts/3    00:00:00 grep --color=auto logstash
root     24337 12081  8 03:08 pts/1    00:09:35 /opt/pcm/web-portal/perf/jre/linux-ppc64le/bin/java -XX:+UseParNewGC -XX:+UseConcMarkSweepGC -Djava.awt.headless=true -XX:CMSInitiating

[2015-05-26 11:54] athoune commented on #3289
The crash appears in jruby_dump. With a dirty hack (dumping bad value to a file) :

[code]
I get this debug :
[code]
The null value seems guilty to me.

[2015-05-26 11:54] colinsurprenant commented on #2747
ah! great! :thumbsup:

[2015-05-26 11:57] phil-lavin commented on #1650
FYI, not fixed in 1.5.0. Workaround still works, though.

[2015-05-26 12:37] athoune commented on #3289
This content came from the twitter input plugin. What the hell is `<null>` ? ruby use `nil` for null content.

[2015-05-26 13:17] neilprosser commented on #3302
Logstash was processing things and cleared the backlog of messages without the multiple match in the `grok` filter so I switched it back to use it and it eventually hung.

Thread dump:

[code]

And the final message processed was:

[code]

According to the log entry it was processing the configuration from the file which contains that `grok` filter.

Since that log entry in the file I've seen thes

[2015-05-26 13:39] ph commented on #3302
Grok support multiples regexp in one match directive.

Maybe there is an issue with the newer regexp?

[2015-05-26 13:43] ph commented on #3302
@neilprosser the redis problem, is probably related to the blocking state of the pipeline.
I am looking at the first jetty regexp.

[2015-05-26 13:50] neilprosser commented on #3302
Ok. I've also noticed that those Redis messages stopped after about seven minutes and that had occurred when the thread dump was taken.

I'm going to try restarting Logstash with the same regex matched twice.

[2015-05-26 14:03] ph commented on #3302
Also for multiples patterns you don't need to specify the "field" twice.

[code]

[2015-05-26 14:09] JohanGregoire opened #3314 "Installing plugins in logstash 1.5.0 using proxy ?"
Hello,

I'm trying to install a custom plugin into my logstash 1.5.0.
According to the documentation i should be able to do so with this command: bin/plugin install logstash-filter-cidr

However when I try it I get this:

root@elky:/usr/local/logstash-1.5.0# bin/plugin install logstash-filter-cidr

/usrlocal/logstash-1.5.0/vendor/jruby/lib/ruby/shared/rubygems/specification.rb:102 warning: Unrecog

[2015-05-26 14:14] ph commented on #3302
@neilprosser Another thing way to debug this is to take the configuration that doesn't hang and add a file output to create a log capturing the jetty events and use that to debug the hanging regex?

[2015-05-26 14:30] colinsurprenant commented on #2747
So I will close this issue which will be fixed by #3312 plus the workaround above until we release 1.5.1/1.6.0.

[2015-05-26 14:30] #2747 closed

[2015-05-26 14:36] colinsurprenant opened #3315 "duplicate JAVA_OPTS in logstash launch command line arguments"
`JAVA_OPTS` are repeated on the command line when logstash is launched. This has been seen in a .deb package context:

[code]

I do not know if this is the case in all launch contexts.

This has been reported in #3287

[2015-05-26 14:44] colinsurprenant opened #3316 "Raspberry Pi2 logstash installation"
@benoiton figured how to setup logstash on the Raspberry Pi2 - I think we should either maybe try to include the missing library as described in jruby/jruby#1561 or document in a howto/blog/wiki the installation steps in #3287

[2015-05-26 14:46] ph commented on #3276
@parabolic You could use a globbing paths for the file inputs, like this.

[code]
This will also watch for new file in the directory.

[2015-05-26 15:32] mogmismo commented on #3277
Hey, we are also experiencing a similar behavior in logstash.  2-3 hours and we run out of sockets.  Also using logstash-forwarder on about 8 machines that push to logstash over ssl and into ES. We are running the lastest logstash-1.5.0-1.noarch on Centos7.

Just like svenmuller, we can't stop logstash except with a kill command, and get the same message in the logs:

{:timestamp=>"2015-05-22T15:3

[2015-05-26 15:34] jordansissel commented on #3305
Agreed that it's unexpected. Should be an easy fix to make it 755

On Sunday, May 24, 2015, Joshua Rich <notifications@github.com> wrote:

[2015-05-26 15:43] ph commented on #2852
added a note  for `HTTP_PROXY`

[2015-05-26 15:46] purbon commented on #3314
I'm investigating this issue,  but I would need more details of your proxy configuration to be able to reproduce it. Is there any particularity of the proxy you're going throw? can you give me more details so I can for example create an squid/varnish proxy and reproduce it this?

Thanks a lot

[2015-05-26 15:48] suyograo commented on #3311
@croax sincedb path defaults to your `$HOME` dir so it has permission to write state. Changing this to point to a dir which can be written by `logstash` user is correct.

@croax can i close this?

[2015-05-26 15:51] suyograo commented on #3307
@BrickXu you cannot control log level per plugin but you can use `--verbose` to get debug logs for entire LS. Specifically for ES output, if you are using node/transport protocol you can change log levels through logging.yml in `$ES_HOME/config`

[2015-05-26 15:51] #3307 closed

[2015-05-26 15:54] ph commented on #3314
@JohanGregoire I did a small check locally, I was able to make them run successfully:

[code]
[code]

[2015-05-26 15:55] ph commented on #3314
@JohanGregoire Maybe the Validation call doesnt go through the proxy?

Can you check if this command work?
[code]

[2015-05-26 15:56] ph commented on #3314
The last command bypass the validation, the validation check if this is an official logstash plugins.

[2015-05-26 15:57] #3298 closed

[2015-05-26 15:58] suyograo commented on #3296
@technosf can you reopen this if @wiibaa suggestion does not work?

[2015-05-26 15:58] #3296 closed

[2015-05-26 16:06] suyograo commented on #3283
@horkhe thanks. We'll add a test to cover this scenario. https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/158

[2015-05-26 16:06] #3283 closed

[2015-05-26 16:09] suyograo commented on #3272
@jindov is your ES cluster overloaded? How big is it and how many events are you sending to it? This usually happens when ES is busy and rejects indexing requests from LS.

[2015-05-26 16:12] suyograo commented on #3286
@inteloid we are in fact using the high level consumer for LS and using a single group so it will load balance. Please make sure your second LS config is sharing the same group id.

[2015-05-26 16:41] adamjt opened #3318 "Missing unique filter plugin in 1.5.0"
Running a config check results in:

[code]

Plugin is missing:

[code]

[2015-05-26 18:53] paulage commented on #3311
I'm having the same issue. If we comment out the since_db statement where is the logstash.log  located? I don't see anything in the $home dir

[2015-05-26 19:02] colinsurprenant commented on #2598
looks like `filetools.rb` could just be removed, it is not used anywhere...

[2015-05-26 19:21] ph commented on #3277
Hello @m1k3ga would you mind testing a PR that implement another fix for the lumberjack input to prevent the OOM and hopefully the socket issue you are currently experimenting at https://github.com/logstash-plugins/logstash-input-lumberjack/pull/12 ?

You can install this unreleased gem by editing your `Gemfile` and changing the line:

[code]

For
[code]

And run this command:
[code]

[2015-05-26 19:22] timbunce opened #3321 "Enable finer control of log levels, e.g. per-plugin, per-message etc"
For non-trivial applications simply enabling `-v -v`, to get more insight into what's happening results in being drowned in debug output. Some means of finer control of log levels would be very helpful.

Some possibilities:
- per-plugin control, perhaps via a `log_level => ...` attribute. It might not do much to start with but once there's a common attribute defined plugin developers can start usi

[2015-05-26 19:23] allenmchan commented on #3321
I think this is a great idea and might be helpful to understand why a specific output or filter is slowing down the pipeline

[2015-05-26 19:25] suyograo commented on #3321
Agreed. Related https://github.com/elastic/logstash/issues/3300

[2015-05-26 19:26] suyograo commented on #3300
Closing this in favor of #3321

[2015-05-26 19:26] #3300 closed

[2015-05-26 19:27] ph commented on #3277
Concerning the hang, we have a PR in the work https://github.com/elastic/logstash/pull/3211 to refactor the semantic for the shutdown of the input plugins. Some of them doesn't stop gracefully, and this is the case here.

[2015-05-26 19:43] ph commented on #3277
@mogmismo this error is a symptom of a slow down somewhere, before where going oom now we ran out of sockets.. :disappointed:

But this actually means there is a slow down somewhere either in the filter or in the inputs, do you have any other error in the log file ? Maybe retry timeouts on the elasticsearch output?

[2015-05-26 19:58] JohanGregoire commented on #3314
Hello,

Thanks for the quick replies. I've been testing some more.
When I use the no-verifiy option I get another error:
[code]
Output:
[code]

*When I use this:*
(only difference is the port-number)
[code]
I get this:
[code]

So I might still be having proxy issues here.
Or do you guys think of something else?

Regards,
Johan Gregoire

[2015-05-26 20:31] technosf commented on #3296
Double quotes work.

Debug message leak still exists.

Let me clarify my bug - examples should be expounded for Windows so that they work as they would on *nix.

Thank you.

[2015-05-26 21:54] pschipitsch opened #3322 "Logstash 1.5.0-1 fails to uninstall with yum"
I installed using the repository.

When I do yum erase logstash I get the following error:

<pre><code>Loaded plugins: security
Setting up Remove Process
Resolving Dependencies
--> Running transaction check
---> Package logstash.noarch 1:1.5.0-1 will be erased
--> Finished Dependency Resolution

Dependencies Resolved

================================================================================

[2015-05-26 22:12] bjfish opened #3323 "Error: no such file to load -- bundler"
I've ran the boostrap scripts mentioned in the README:
[code]
and then ran the test command and got the following error:
[code]
My ruby version is `ruby 2.1.2p95`.

[2015-05-26 22:25] suyograo opened #3324 "Logstash 1.5 rpm install can't start as a service"
Reported by a user

OS:
CentOS 6.5
Logstash 1.5

[code]

Weird thing is if you start LS manually using the same config file, it starts fine. Maybe RPM is loading an empty config file?

[2015-05-26 22:34] mterron opened #3325 "Logstash 1.5 on Windows misses file rotation"
I have a log managed by nssm that rotates when it reaches 2gb. When this happens, the file gets renamed and a new empty one is created.
Logstash stops parsing the new file until it's manually restarted and then everything works again.

This happes on Windows Server 2012 R2 where 1.4.x worked without problems.

[2015-05-26 22:47] markwalkom opened #3326 "Include message in errors with uninitialised variable"
A user had a problem whereby a device generating logs changed what was being sent to LS, this caused the a variable to no longer be populated and it was generating this error;

[code]

Would it be possible to include the full message when we error on this sort of thing?
Also can we try to catch this thing before we get to the point above and error the event out?

[2015-05-26 22:57] suyograo commented on #3326
It maybe possible to validate it but maybe if `--verbose` is on?

[2015-05-26 23:23] pschipitsch commented on #3322
It looks like something is managing the memcached user in passwd but nothing in the group file.

<pre><code>
sudo rpm -e logstash-1.5.0-1.noarch
groupdel: cannot remove the primary group of user 'memcached'
error: %preun(logstash-1:1.5.0-1.noarch) scriptlet failed, exit status 8

egrep "logstash|memcached" /etc/passwd
memcached:x:499:499:Memcached daemon:/var/run/memcached:/sbin/nologin
logstash:x

[2015-05-26 23:23] #3322 closed

[2015-05-27 03:04] wajiii commented on #3249
I have an interesting variant of this issue: we are trying to run LogStash from a shared read-only file system(to conserve disk space across a large fleet of virtual machines). My initial solution was to create /opt/logstash/.bundle as a symlink to a writable local directory. This worked fine, BUT... the software we are using for distribution works on the principle of cloning the "reference system

[2015-05-27 03:52] BrickXu commented on #3307
@suyograo It works well, thanks very much :)

[2015-05-27 03:55] BrickXu commented on #3321
+1, it could help us to tuning filter and do some optimizing, very useful feature if it could be done.

[2015-05-27 04:04] wajiii commented on #3249
Never one to give up easily, I tried overriding the default Bundler directory by defining BUNDLE_DIR in /etc/sysconfig/logstash (by adding BUNDLE_DIR=/var/lib/logstash/.bundle to the end). Et voila, success! Unless this is expected to end catastrophically, may I suggest documenting this workaround somewhere?

[2015-05-27 05:28] suyograo commented on #3271
Merged

[2015-05-27 05:28] #3271 closed

[2015-05-27 06:42] jayaramsankara commented on #3214
I am seeing the same issue.  The exception is :
message=>"UDP listener died", :exception=>#<SocketError: recvfrom: name or service not known>, :backtrace=>["/var/vcap/packages/logstash/lib/logstash/inputs/udp.rb:80:in `udp_listener'", "org/jruby/RubyKernel.java:1521:in `loop'", "/var/vcap/packages/logstash/lib/logstash/inputs/udp.rb:78:in `udp_listener'", "/var/vcap/packages/logstash/lib/logstash/

[2015-05-27 07:49] Centopus commented on #3276
@ph I do believe you wanted to talk to me, when talking about globbing paths. Now I'm unsure who were you referring to, in your previous comments.

There are many files in those folders, and I just want to read single one out of all those folders. I'd need to do it like that: "/logs/*_server*/*.log" to pick out the files I need to be read. I do think its irrelevant to the problems I'm noticing.

I

[2015-05-27 11:02] avcherkasov commented on #3003
I have logstash 1.5.0 cluster.
My config looks like:
[code]
But i still see the increasing of logstash heap size. I havenot lumberjack.
Is the issue still not fixed for tcp input?
What else could be a reason for OOM?

[2015-05-27 11:42] timbunce opened #3329 "Add mechanism for filter plugins to declare themselves thread-safe or not"
Relates to #1590 and several other issues around multi-threading.

Simply _documenting_ the fact that a filter "will not work with multiple worker threads" (as in #1591) isn't safe because, as we know, humans don't always read _and remember_ the documentation.

Also "will not work" isn't quite true because, generally, the filter _will seem to work fine_ in testing but become a source of possibly s

[2015-05-27 11:44] timbunce commented on #3329
Oops. Now I look at the error message in #1590 I see that something like this already exists in 1.5. Thanks! Feel free to close this if there's nothing of value in the description.

[2015-05-27 12:35] neilprosser commented on #3302
@ph It looks you need to specify the field twice in the old-style configuration. Logstash complained that it was a hash and needed an even number of items.

That's a good idea about dropping those events to a file so we can match them.

One thing I have noticed and wondered whether it might somehow be relevant. My regex seems to be more likely to fail if I'm catching up with a large number of even

[2015-05-27 12:49] purbon commented on #3318
HI @adamjt, I just check the 1.4 branch and I don't see any filter unique (https://github.com/elastic/logstash/tree/1.4/lib/logstash/filters), there is also no unique filter in the 1.5 (https://github.com/logstash-plugins).

Can you provide more intel on where you found this unique filter? might be something custom of yourself?

[2015-05-27 12:55] dschneller commented on #3003
The issue is not with Lumberjack alone. In our case it turned out Elasticsearch did not accept data due to an out of memory condition we had run into. That led log stash to stall and connections from all sorts of inputs (lumberjack and TCP) to spawn new sockets without limit IIRC. We added the max_clients limit to at least not let logstash die as well. Underlying problem with ES was just too high

[2015-05-27 13:06] purbon commented on #3329
Thanks for your sharing, more details on how to use this in your plugins, take a look at https://github.com/logstash-plugins/logstash-filter-multiline/blob/master/lib/logstash/filters/multiline.rb#L130 ... then internally LS will handle this.

I will close this issue, as you point out, feel free to open it again is you have more related issues.

[2015-05-27 13:06] #3329 closed

[2015-05-27 13:09] purbon commented on #3314
@JohanGregoire can you share a bit more your proxy peculiarities ? how is your peculiar config? is your www machine reached properly ?

I guess you're working with linux, right?

[2015-05-27 13:23] JohanGregoire commented on #3314
Hello,

Is there a way to manually download a plugin and install it?

I'm working on Solaris 11.
I'm going to check with out network-admins what is being blocked by the proxy.

Regards,
Johan Gregoire

[2015-05-27 13:25] ph commented on #3003
@avcherkasov like @dschneller said the tcp input does have the same behaviour of the old lumberjack and doesn't support a `max_clients` yet. I not a big fan of this solution (even If I've made the PR) this is a temporary fix. It's my plan to experiment with NIO to make it evented and not stop creating as much threads.

[2015-05-27 13:27] purbon commented on #3314
You can actually go to rubygems [1] and dowload, check for the download link. You can do that for any plugin.

On the other side, keep in mind we don't really test and support Solaris, there is no really way for us to test in there. Although please, let us know if your proxy has something block, or is molesting your connection to rubygems somehow.

/cheers

[1] https://rubygems.org/gems/logstash-f

[2015-05-27 13:34] ph commented on #2611
Another cool feature would be able to turn on a flag and be able to know which event is currently in transit in a specific plugin, this will help people to debug problems with blocking plugins.
A real world example is when a regex in a grok filter is blocking a thread with high cpu usage. See  https://github.com/elastic/logstash/issues/3302

[2015-05-27 13:45] ph commented on #3302
@neilprosser I would be surprised, the internal queue of Logstash is really small to minimize events loss, each internal queue is limited to 20 events and we have two of them, one input queue and one output queue. (The ES output also buffer events up to 5000 to do bulk inserts).

Even if your redis input do a batch read of 50 events, once the pipeline is blocked by the grok filter, read and write

[2015-05-27 13:48] ph commented on #3276
@Centopus Awesome, keep us in the loop we need to narrow this issue down!

[2015-05-27 13:55] ph commented on #3302
@neilprosser I have my comment with the right option to have multiple regex in one field.

[2015-05-27 14:54] adamjt commented on #3318
Sure thing! It's part of the contrib that 1.4 used. https://github.com/elastic/logstash-contrib/blob/master/lib/logstash/filters/unique.rb

[2015-05-27 15:38] colinsurprenant commented on #3289
@athoune ok, this is great info. so `<null>` is actually the string representation of the object, so my guess here is that the Twitter plugin (using the twitter gem) generates *some* object which JrJackson cannot serialize. With that info we should be able to get to the bottom of this.

[2015-05-27 17:02] #3280 closed

[2015-05-27 17:15] ph commented on #3249
@wajiii we have merged a fix in master to stop creating a `bundler/.config` everything we start logstash this should fix the issue on read-only fs. This should be release short in a official release.

[2015-05-27 17:15] #3249 closed

[2015-05-27 19:53] svenmueller commented on #2611
JVM metrics would be nice

[2015-05-27 21:10] #3305 closed

[2015-05-27 23:38] untergeek commented on #3324
This appears to have been a red herring.  The user had an extra, non-config file in /etc/logstash/conf.d

Closing.

[2015-05-27 23:38] #3324 closed

[2015-05-28 01:05] landonix opened #3333 "Source json file contains duplicate "host" field (and it's being replaced with a LSF shipper hostname)"
I'm not sure if this belongs under lumberjack input (https://github.com/logstash-plugins/logstash-input-lumberjack), but the problem involves losing the integrity of the original message that contains a host field.
The input is:
https://gist.github.com/landonix/ac0cb86987b79823ec92

The source log file and post digested file (LSF->LS->ES)
https://gist.github.com/landonix/d326a672d2d50284b9cc

If m

[2015-05-28 01:16] suyograo opened #3334 "Install specific version of plugin fails"
`plugin install --version` fails

From:
https://discuss.elastic.co/t/install-specific-plugin-version/1407

[2015-05-28 02:04] happyfishyxf opened #3335 "Logstah "kafka_client" plugin Discuss"
I found the dependency "kafka_client" in the logstash V1.5.0 directory. However I did not find the configuration of it  anywhere except for the introduction of "kafka" plugin.
And U can get the introduction of "kafka_client" just from http://kafka.apache.org/documentation.html#producerapi

[2015-05-28 02:06] markwalkom commented on #3335
There's details on how to configure it in the docs - https://www.elastic.co/guide/en/logstash/current/index.html

[2015-05-28 02:49] suyograo commented on #3335
also the input/output docs are here: https://www.elastic.co/guide/en/logstash/current/plugins-inputs-kafka.html

[2015-05-28 02:49] #3335 closed

[2015-05-28 07:11] purbon commented on #3274
@dstore-dbap Are you willing to host your plugin at https://github.com/logstash-plugins ? it would be great to have it there. What do you say?

[2015-05-28 07:20] Centopus commented on #3276
Update: logstash 1.4.0 (protocol=>http) + elastic 1.5.1 worked fine for over 20h, on my test environment, where 1.5,0 + 1.5.1 failed;  assuming this is ok and stable.  (both logstash and elastic on same machine)

Running now logstash 1.5.0 (protocol => default = node, there is no such line in config file now) on completely different machine, connecting to the same elasticsearch 1.5.1, that is on m

[2015-05-28 07:58] duylong commented on #3276
It seems, we have the same problem.

I use multiple rabbitmq (input and output).

After a massive amounts of logs, Logstash can block and we must restart the service. No errors in the log file and no problem with Logstash 1.4.0.

Java version : 1.7.0.79

[2015-05-28 08:21] jindov commented on #3272
I used statsd to count how many mes/s, it's about 11k/s, my server is alway reach high loadavg: 20-30. Is that an error. How can I tuning my logstash agent?JAVA HEAP SIZE for every agent is 1500m

[2015-05-28 09:12] neilprosser commented on #3302
@ph that makes more sense. I haven't converted my configuration to the new style yet. I wanted to leave everything as it is for now!

The same hang happened overnight while processing messages as they arrive (so hopefully that rules out the high number of messages theory!). The last message processed and the end of the log look as follows:

[code]

Testing that last message against my standard pat

[2015-05-28 09:38] mapcentia commented on #2842
I had the same issue on a Ubuntu 14.04 dev VM, so I ended up with:

sudo rm /var/lib/logstash/* -R
sudo dpkg --force-all -P logstash

Not pretty, but it worked.

[2015-05-28 09:38] dstore-dbap commented on #3274
@purbon  Yes, sure ;) If I understand the contrib docs correctly, I would need to transfer the repository. Is this correct? And how would this be achieved?

[2015-05-28 10:01] Centopus commented on #3276
LS 1.5.0 on separate machine, pushing data to ES 1.5.1 just died... ;> therefore it is not OS related or specific to my machine I've started on. No errors or anything, just stops putting data into ES.

Trying now 1.5.0 with (protocol=>http)   //I'm not a fan... i like seeing my logstash instances from kopf..

[2015-05-28 11:01] jsvd commented on #3276
@Centopus so, so far you have

logstash 1.4
file => elasticsearch (http protocol)    OK

logstash 1.5
file => elasticsearch (node protocol) HANG
file + tcp => elasticsearch (node protocol) HANG
file + tcp => elasticsearch (http protocol)  ???

is that correct?

[2015-05-28 11:21] Centopus commented on #3276
@jsvd
logstash 1.4
file + tcp => ES 1.5 (http)  OK   // LS+ES on the same machine, jdk1.8.0_45
file + tcp => ES 1.1 (node) OK  // LS+ES on the same machine, jdk1.6.0_45

logstash 1.5
file = > ES1.5 (node) hang            // LS+ES same machine, jdk1.8.0_45
file = > ES1.5 (node) hang            // LS+ES **2 separate** machines, jdk1.8.0_45
file + tcp  = > ES1.5 (node) hang   // LS+ES on the same mac

[2015-05-28 11:35] purbon commented on #3274
@dstore-dbap What we can do is:

* We create a new repo in the logstash-plugins organization.
* You can do a PR to that repo.

then after it's reviewed, we can merge it so the code is there. We encourage all the modifications to be made always by PR, including reviews so the code quality increases.

So is not a simple repo transfer as in the way github does it.

Makes sense to you? Should I go ahe

[2015-05-28 12:16] dstore-dbap commented on #3274
Yes please, go ahead ;) I will do a pr when its up.

[2015-05-28 12:26] duncaninnes commented on #2594
@suyograo - do you have a ticket tracking the http input development for Logstash?  I'd like to keep track of it and hopefully help ensure that it covers the requirements for native input of systemd-journal-upload logs.
I'm taking a wild guess here that tagging someone in a comment alerts them somehow.  If not, how can I get a question to him @jordansissel ?

[2015-05-28 12:28] felipegs opened #3336 "Uninstall plugin fails"
If I install a plugin using a gem file, and after that I try to remove with the command `bin/plugin uninstall plugin-name` it fails, saying that plugin is not installed.

[2015-05-28 13:04] purbon commented on #3274
@dstore-dbap enjoy! https://github.com/logstash-plugins/logstash-output-webhdfs looking forward to your pr.

[2015-05-28 13:52] jsvd commented on #3276
@Centopus I'm trying to replicated this as well. My test:

environment: macosx, java 8, logstash 1.5, elasticsearch 1.4.4
data: 9 files of 300k apache log events

logstash config ([gist](https://gist.github.com/jsvd/84bb7bf1e5c96dee38f6)):  file -> grok -> date -> geoip -> useragent -> elasticsearch (node)

results:

all 9x300k (2.7 million) documents were inserted and took about 50 minutes:

[cod

[2015-05-28 14:11] ph commented on #3276
@Centopus I think we are missing something in our test, we did not test with a NFS volume, we will do a test and check if it may impact the file input.

[2015-05-28 14:15] Centopus commented on #3276
Tomorrow I'm going to try to load logstash with a big bulky amount of logs, to see if that can crash it right away. Up to now I'm just connecting it to production servers and feeding it with the 'normal' data.

[2015-05-28 14:24] jsvd commented on #3336
confirmed:

[code]

[2015-05-28 14:27] ph commented on #2852
Updated with local gem uninstallation. https://github.com/elastic/logstash/issues/3336

[2015-05-28 14:28] mabdelfattah commented on #3277
I've the same problem... So, how can I increase the workers if I am running logstash as service?

[2015-05-28 14:44] dstore-dbap commented on #3274
@purbon Enjoyed it quite a lot ;) Pull request done...

[2015-05-28 14:47] ph commented on #3302
@neilprosser I went through the grok patterns,  I am not able to make them crash and they look OK to me. :(

I think the only way for me to find this the root cause here would be to get a sample data that can make logstash crash. I am sure this will make the things an easy fix, I am bit in the dark.

[2015-05-28 15:18] ph commented on #3277
I think there is a misunderstanding here in this issue and if this message is problematic or not.

Let me do a bit of explaining about how Logstash work with the events, we have multiple type of plugins, between every stage of the pipeline we use a small queue which is fixed to 20 events.
So the system look a bit like this:

[code]

Now let's take the scenario that something is wrong with the exte

[2015-05-28 15:21] ph commented on #3277
The need of doing a `kill -9` is a bug, we are addressing with https://github.com/elastic/logstash/pull/3211

[2015-05-28 15:30] purbon commented on #3274
Thanks @dstore-dbap

[2015-05-28 15:31] colinsurprenant commented on #3302
I just read through this issue and here are my thoughts:
- the hang is clearly related to grok/regex. the only thread in a RUNNABLE state is the filter worker and it is stuck in the Java joni matcher.
- @neilprosser mentioned using JDK 1.7.0_79 - maybe just for the sake of ruling out weird problems, I'd also try with Java 8? (but I do not think this is related really).
- I found two related/simila

[2015-05-28 16:13] purbon commented on #3318
This is actually an issue, this plugin was missed during the migration. Thanks for reporting, I will make sure to create the new plugin.

[2015-05-28 16:30] bhuffstutler commented on #2894
I am still experiencing this issue after upgrading to 1.5.0 GA.

[2015-05-28 16:34] jordansissel commented on #2894
@bhuffstutler can you file a new ticket please, with a description of the behavior you see and any error messages from logstash?

[2015-05-28 16:43] adamjt commented on #3318
Great, thanks @purbon!

[2015-05-28 17:42] ThomasADavis commented on #2894
I have not seen this since I have upgraded to the GA release.

[2015-05-28 18:41] mabdelfattah commented on #3277
@ph, I'll try to stop that postgresql filter for a while (https://gist.github.com/bdelbosc/9508821), and will let you know if logstash stop again.

[2015-05-28 18:51] ph commented on #3277
@mabdelfattah are you getting the "maximum connection exceeded" error in your log? Because this issue is related to the lumberjack input and I don't see any in your configuration. Can you create a new issue with details about your configuration and any errors messages you can find in logstash log?

[2015-05-28 22:58] jordansissel commented on #3333
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-lumberjack/issues/24. Let's continue the discussion there! :)

[2015-05-28 22:58] #3333 closed

[2015-05-29 00:49] luck02 opened #3341 ".."

[2015-05-29 00:49] #3341 closed

[2015-05-29 07:17] hrchu opened #3342 "squid grok pattern"
There are many logstash config example for squid on line, e.g.,
https://gist.github.com/sakalajuraj/6339942
https://gist.github.com/fetep/e2d8678cd2952d876c39
but patterns in these example does not fit default squid log format:
http://www.squid-cache.org/Doc/config/logformat/

I just create one:
https://gist.github.com/hrchu/0cc5e783387f5453f528

[2015-05-29 07:36] jberryman commented on #3169
See also https://github.com/logstash-plugins/logstash-output-file/issues/11 . This is a duplicate of #2638

[2015-05-29 07:47] ralphm commented on #2894
This ticket reads a lot like what's described in logstash-plugins/logstash-output-elasticsearch#103? @bhuffstutler, do you concur?

[2015-05-29 10:08] Limskya opened #3343 "Logstash-forwarder on OpenSUSE13.2 don't harvest log"
Hi everyone,

I got an issue with logstash-forwarder, i have install logstash ( on Ubuntu 14.04) and a logstash forwarder (on OpenSUSE 13.2 )

When i run logstash forwarder:
![image](https://cloud.githubusercontent.com/assets/12657880/7880564/0cbf94f8-05fb-11e5-9810-868ba8ba9d30.png)

And then there is nothing more, logstash forwarder doesn't send any logs...

Here i give you my logstash config:
!

[2015-05-29 13:13] JohanGregoire commented on #3314
Hello,

For now I went with the manual install and it went flawlessly :)

Thanks for the help!
When I get some more time, I'll revisit the proxy issue.

Regards,
Johan Gregoire

[2015-05-29 14:17] bhuffstutler commented on #2894
@ralphm
I do agree that these tickets are similar, however, I have not seen the "Got error to send bulk of actions to elasticsearch server" in my error logs.  Each time that logstash hangs for me there is no error message created.

@jordansissel
I will try to get a new ticket created next week.  Unfortunately this is a "spare time" project for me at the moment, so it may take a few day to work it

[2015-05-29 15:29] rfyiamcool opened #3344 "how monitor es'data change?"
how monitor es'data change one day  and send mail

[2015-05-29 15:47] ph commented on #3343
Resolved in  https://github.com/elastic/logstash-forwarder/issues/467 ?

[2015-05-29 15:47] #3343 closed

[2015-05-29 16:32] suyograo commented on #1428
@cwensel sorry for having a bad experience. Unfortunately its hard to debug without a config and a sample log.. If you can attach it, please reopen this issue

[2015-05-29 16:32] #1428 closed

[2015-05-29 16:36] suyograo commented on #1524
This has been fixed in https://github.com/elastic/logstash/commit/6cb438d7fc56e93b99d1e766a5b6573012d979f2

[2015-05-29 16:36] #1524 closed

[2015-05-29 16:46] suyograo commented on #1821
I am closing this issue. Let me know if things are still not working for you @facundofarias

[2015-05-29 16:46] #1821 closed

[2015-05-29 16:49] suyograo commented on #1809
Looks like https://github.com/elastic/logstash/issues/1809#issuecomment-85226502 suggestion helped. Also logstash-web is removed from 1.5.0.

If this is still an issue with 1.5.0 can you please open a new issue with details?

[2015-05-29 16:49] #1809 closed

[2015-05-29 16:55] suyograo commented on #1833
Closing this in favor of #1569

[2015-05-29 16:55] #1833 closed

[2015-05-29 16:57] suyograo commented on #1817
@khornberg gist here: https://github.com/elastic/logstash/issues/1895#issuecomment-64487028

[2015-05-29 16:58] suyograo commented on #1895
Closed in favor of #1817

[2015-05-29 16:58] #1895 closed

[2015-05-29 17:01] suyograo commented on #1923
Closing in favor of gzip codec here: https://github.com/elastic/logstash/issues/1817

[2015-05-29 17:01] #1923 closed

[2015-05-29 17:06] suyograo commented on #3344
@rfyiamcool This is not specific to Logstash project. There are number of open source monitoring/alerting solutions like zabbix which you can use for example.

Also, if you are interested, we will be releasing a commercial plugin called [watcher](https://www.elastic.co/products/watcher) which is an alerting solution for Elasticsearch.

[2015-05-29 17:06] #3344 closed

[2015-05-29 17:13] ycombinator commented on #3344
@rfyiamcool Also, if you are curious to try out the beta version of Watcher and learn about using it, you can check it out at https://www.elastic.co/products/watcher.

[2015-05-29 20:18] jordansissel commented on #1892
Sorry for the confusion. In order to reduce confusion, and before we start producing packages per-linux-distribution, we have removed the upstart script from our deb package. We now only ship the /etc/init.d/logstash management script

We also don't document where that logs to, either, and we should.

[2015-05-29 20:18] jordansissel opened #3346 "Document default log location for rpm/deb packages"

[2015-05-29 20:18] jordansissel commented on #1892
Filed https://github.com/elastic/logstash/issues/3346 to track the deb/rpm init script log file location

[2015-05-29 20:18] #1892 closed

[2015-05-29 20:26] #3248 closed

[2015-05-29 20:29] pcrook commented on #2965
There are lots of collections of logstash configuration on the web including here on github.  Google for [site:github.com master logstash conf](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#safe=off&q=site:github.com+master+logstash+conf).  One example is [sexilog](https://github.com/sexilog/sexilog/tree/master/logstash/conf.d).

[2015-05-30 01:13] aabed opened #3349 "Error while using socket class"
I think the following error is because you don't have the Socket class fully implemented in the bundled jruby with logstash

jruby-1.7.19 :001 > require "socket"
=> true
jruby-1.7.19 :002 > Socket::Option.bool(:INET, :SOCKET, :KEEPALIVE,true)
ArgumentError: wrong number of arguments calling bool (4 for 1)
from (irb):2:in evaluate' from org/jruby/RubyKernel.java:1107:ineval'
from org/jruby/RubyKern

[2015-05-30 10:53] frederikbosch commented on #1809
@suyograo This issue is gone with 1.5.0. However, now logstash does not start at system boot. I have to start it manually by ```sudo service logstash start``` (Ubuntu 14.04). How to start it at boot?

[2015-05-30 12:17] ycombinator opened #3350 "Dead link on 1.4.2 Plugin Milestones page"
See the "Version Notice" on http://logstash.net/docs/1.4.2/plugin-milestones. It links to `/docs/1.5.0/plugin-milestones` which 404s.

[2015-05-30 14:50] purbon commented on #3342
@hrchu since 1.5.0 there is the https://github.com/logstash-plugins/logstash-patterns-core repo working as repository of patterns. Do you mind making a PR there to add your gist? it would be very nice.

/cheers

[2015-05-30 15:04] arabold commented on #3276
I'm running into a similar problem with Logstash 1.5.0. I'm running it inside of a Docker container so it's a bit more tricky, but after a while (typically a few hours) it simply stops processing logs. No log output, nothing indicating a problem - it just stops and hangs there. Restarting will work. I have _not_ seen this issue with Logstash 1.4.2 before though I was using a much simpler config -

[2015-05-30 20:51] johntdyer commented on #3260
I am having issues w/ verification as well but for `logstash-input-stomp` which just started happening out of the blue today ( logstash-plugins/logstash-input-stomp#3 )

[code]

[2015-05-30 20:59] johntdyer commented on #3260
on a whim I just tried JDK 1.8 and it seems to not be an issue there.  I have no idea why this became an issue all of a sudden for JDK 1.7

[code]

[2015-05-30 21:48] arabold commented on #3276
Just as a small update: 1.4.2 is running since a couple of hours now and seems stable. I've already pushed 1.7mio docs and 2.81GB data through it. Next week I'll try to figure out (by testing) if this can be blamed on the network (syslog) input or some of the filters.

[2015-05-30 22:46] mitchcapper opened #3351 "logstash 1.5 and oracle java 1.7 don't play well together for plugins"
Sadly it seems github has changed their key exchange and it breaks support in oracle java 1.7 due to "Could not generate DH keypair"  when you try to install a new plugin.    It seems this is fixed in 1.8 or in openjdk but not java 1.7.   There should probably just be a notice to avoid oracle 1.7 for now.

[2015-05-31 02:37] SM11 commented on #2747
I am also trying to build logstash with jruby 1.7.20 on RHEL7 ppc64le architecture . Did following steps:
- download and untar jruby 1.7.20 tar
- set path for jruby
- clone logstash repository and checkout 1.5.0 branch
- modify rakelib/vendor.rake as suggested
- build : rake bootstrap
- got error as:
io/console not supported; tty will not be manipulated
rake aborted!
library `digest/sha1' could no

[2015-05-31 03:43] hrchu commented on #3342
@purbon ok I will go to the right place.

[2015-05-31 03:43] #3342 closed

[2015-05-31 20:45] parabolic commented on #3276
Just a quick update , we've migrated to rabbitmq and 1.5.0 doesn't hang when using the rabbitmq input. Before we where using the lumberjack input.

[2015-06-01 03:49] abcfy2 opened #3352 "logstash 1.5 upgrading error -- syntax error, unexpected kNOT"
I upgrade logstash from 1.4.2 to 1.5.0, here is my config and it works for 1.4.2.
[code]

But when I upgrade to 1.5.0, it raised an error:
[code]

[2015-06-01 07:19] german23 commented on #3272
I also got a similar problem after upgrading to LS 1.5.0-1, the error message in the logstash log looks a bit different though:

{:timestamp=>"2015-05-30T10:21:18.656000+0200", :message=>"Got error to send bulk of actions to elasticsearch server at ES-Clusterip : Read timed out", :level=>:error}
{:timestamp=>"2015-05-30T10:21:18.656000+0200", :message=>"Failed to flush outgoing items", :outgoing_c

[2015-06-01 08:53] M0dM opened #3353 "Grok custom pattern problem (Can't start with a number) - Logstash 1.5"
Hi,

it was previously OK with Logstash 1.4.2
it now BUG with Logstash 1.5

My pattern file contain a grok pattern with a name starting with a number

Step to reproduce :

1 - Add this pattern to grok patterns :
 - 123_DATE %{YEAR:123_date}
 - YEAR_DATE %{YEAR:year_date}

2 - Start Logstash with the following commands :
 - ./logstash agent -e 'filter { grok { match => ["message","%{123_DATE:year}"

[2015-06-01 08:59] jsvd commented on #3272
@german23 the logstash-output-elasticsearch plugin has been updated to 0.2.7 so if you can please try 1.5.0 again, but before update the plugin with:

`bin/plugin update logstash-output-elasticsearch`

[2015-06-01 11:04] purbon commented on #3260
@johntdyer Thanks for sharing this. I tested this with my current 1.5 and master branches and was unable to reproduce it. To continue with this I will move this to his own issue and try to gather more data about it, so we don't hijack this issue that is more on the side of proxy/firewall issue when installing a plugin. Makes sense to you?

[2015-06-01 11:16] purbon opened #3354 "java.lang.RuntimeException: Could not generate DH keypair during plugin installation"
Reported by @johntdyer and moved from https://github.com/elastic/logstash/issues/3260

....

I am having issues w/ verification as well but for logstash-input-stomp which just started happening out of the blue today ( logstash-plugins/logstash-input-stomp#3 )

Crash output here: https://gist.github.com/jordansissel/2f06cfcf420dcad5c46c
(@jordansissel edited this to trim the large text and put it i

[2015-06-01 11:17] purbon commented on #3354
Reported by @johntdyer:

on a whim I just tried JDK 1.8 and it seems to not be an issue there.  I have no idea why this became an issue all of a sudden for JDK 1.7

[code]

[2015-06-01 11:18] purbon commented on #3260
@johntdyer Moved your issue to: https://github.com/elastic/logstash/issues/3354

[2015-06-01 11:18] pvanderlinden opened #3355 "Escaping is not working correctly in if statements"
The following works in an if statement:
`if [header_api_key] == '"-"' {`
This won't give you an error, but also will not match anything:
`if [header_api_key] == "\"-\"" {`

Logstash version 1.4.2

[2015-06-01 11:21] purbon commented on #3354
I did some digging on this issue and the error looks to me like some ssh handshake error, are you seing this error always and still? with JVM are you using?

[2015-06-01 11:24] johntdyer commented on #3354
I am using 1.7u60 in production.  I haven't tried to reproduce this today, however Saturday it was failing 100% of the time.  I'll try to reproduce this today as soon as I get to the airport. 

—
Sent from Mailbox

On Mon, Jun 1, 2015 at 7:21 AM, Pere Urbón <notifications@github.com>
wrote:

[2015-06-01 12:04] ryanbrink opened #3356 "Logstash 1.4.2 "leaking" CPU"
I apologize if this is something that has been fixed, but we've been experiencing a cyclical CPU "leak" on Logstash that eventually resolves itself by killing the process, which restarts are service and keeps things running for another few days. Here is what it looks like (AWS instance):
![screen shot 2015-06-01 at 7 51 20 am](https://cloud.githubusercontent.com/assets/5272967/7912376/d5374468-083

[2015-06-01 12:34] johntdyer commented on #3260
Thanks 

—
Sent from Mailbox

On Mon, Jun 1, 2015 at 7:18 AM, Pere Urbón <notifications@github.com>
wrote:

[2015-06-01 13:47] pvanderlinden commented on #3275
Is there anything being done with this bug, I'm happy to run some tests. But so far 1.5 seems to be unusable.

[2015-06-01 13:51] purbon commented on #3354
@johntdyer This looks to me like a known SSL problem [1], you should probably update your java7 version to use the last build and see if it works for you. Let me know your findings.

[1] http://bugs.java.com/bugdatabase/view_bug.do?bug_id=7044060

[2015-06-01 14:10] jsvd commented on #3275
yes @pvanderlinden we're still investigating and trying to replicate, piecing together the different reports which seem related to each other..
If you're able to replicate this in a non production environment the best test you can do is gradually remove stuff from the configuration and see where the problem appears again..

Suggestion iteration steps (one at a time):
1. removing all filters
2. rem

[2015-06-01 17:19] jordansissel commented on #3152
Some users on IRC are reporting this as well

[2015-06-01 18:52] monstrocious commented on #3277
I too am getting the same error on the logstash logs, also getting Read error looking for ack: read tcp xxxxxx i/o timeout on the logstash-forwarder logs...

[2015-06-01 19:48] jordansissel opened #3357 "Task: Update plugin versions to be a bit more correct"
A user on IRC reported confusion at seeing this output:

[code]

We should update all the well-maintained plugins to have better version numbers (1.x.x, etc)
For example - Grok is version 0.1.x - https://rubygems.org/gems/logstash-filter-grok

[2015-06-01 20:47] ianmacl commented on #3276
I've been seeing the same issue.  I have a new node running Logstash 1.5 out of necessity because 1.4.2 didn't properly support the split filter.  I have a udp input, two statsd outputs and one elasticsearch output.  It will typically run for a couple of days and then freeze/hang.  You can see in the graph below the record counts and where it hangs until I go in and restart it.  I just removed the

[2015-06-02 00:45] jordansissel opened #3359 "A few bad redirects on logstash.net"
The following are redirecting to elastic.co (correctly) but are directing users to pages that are missing.

These should be easy to fix, but here's the list:

/docs/VERSION/
/docs/VERSION/filters/advisor
/docs/VERSION/filters/grep
/docs/VERSION/filters/grok
/docs/VERSION/filters/grokdiscovery
/docs/VERSION/filters/noop
/docs/VERSION/filters/useragent
/docs/VERSION/flags
/docs/VERSION/inputs/collec

[2015-06-02 00:47] vankhoa011 commented on #3277
I got the same problem too. The logstash is died and can't parse logs anymore.  it worked after restart logstash.

[2015-06-02 00:47] jordansissel commented on #3359
With thanks to @russorat for pointing me at the right place to find this data! <3

[2015-06-02 00:51] phungle commented on #3277
You cannot restart logstash after that by command "sudo service logstash restart".
You should find old process by command "ps aux | grep logstash"
Then kill this process with command "kill -9 pid_you_found_above"
Then run "sudo service logstash restart".
Hope it helps!

[2015-06-02 00:52] vankhoa011 commented on #3276
I also got same problem . The logstash is hang after run some days.  When the logstash forwarder send a big logs on logstash suddenly, So the logstash seem can't handle these logs and it is die.

My logstash version is 1.5 too.

[2015-06-02 00:54] jordansissel commented on #3276
For folks who are observing this hang, can you link to the last 100-200 lines of your Logstash log? Also attach your config if you haven't already. Thanks! :)

[2015-06-02 02:24] arabold commented on #3276
In my case, as with the original report of this issue, the logs are empty and give no indication. With empty I literally mean_empty_.

[2015-06-02 07:36] neilprosser commented on #3302
Just to update this after the weekend, I'm currently attempting to isolate any problem with the regex as per @colinsurprenant's suggestion.

The only difference between something which works in Logstash 1.5.0 without issue and something which locks up is that we have `OLDJETTYREQUESTLOG` and `JETTYREQUESTLOG` patterns. The difference between those is simply that there is a match for a potential `X

[2015-06-02 09:03] duylong commented on #3352
I had the same problem. Logstash 1.5.0 don't like condition with multiline.

[2015-06-02 09:34] jsvd commented on #3352
This has been fixed in #3281

@abcfy2 Testing with your config:

[code]

Without the patch it gives the error you posted.

Closing this.

[2015-06-02 09:34] #3352 closed

[2015-06-02 09:39] german23 commented on #3272
@jvsd i upgraded again and updated the es-output plugin.

It works fine at the moment, but i am not sure if the problem is solved until it runs in production mode for a few days.

Im gonna keep you informed if the problems appear again

[2015-06-02 09:41] DKribl opened #3360 "RabbitMQ connection error: MarchHare::ChannelAlreadyClosed causes an infinite opening of connections in RabbitMQ"
Hey,

I get following error (infrequent) while shipping logs to RabbitMQ:

[code]

For every reconnect, there is a new channel and connection being created. So after a few minutes there are tons of connections opened in RabbitMQ. At this point, there is no data coming into RMQ anymore. I have to kill the process of the shipper because the service won't stop. ( It says:  "logstash stop failed; stil

[2015-06-02 09:43] driskell opened #3361 "Deadlock in Logstash 1.5 with filter flusher"
Hello,

I've noticed on one my multiline worker nodes I'm getting very frequent deadlocks in the "|worker" thread and "pipeline" thread. Other nodes are perfectly fine, so seems one of those annoying race conditions with very specific triggers. Also nodes without multiline filter, and therefore with `-w 8` for multiple workers, are fine too.

Investigating the Java stack trace (https://gist.github

[2015-06-02 13:23] ph commented on #3361
@driskell Thanks we changed a bit that part and that could explain the newer issues, @colinsurprenant can you look at this please?

[2015-06-02 13:37] driskell commented on #3361
So far my patch is working - the one I've committed above is slightly tweaked from what I'm testing but only on syntax level to make it cleaner so could be a good baseline. I'll apply it directly shortly and see how it runs next couple days (it's been hanging nearly every day since upgraded but not had time to look until now.)

I can raise as PR earlier if you wish.

[2015-06-02 13:40] ph commented on #3361
@driskell I would still raise a PR if you can, other people using the multiline filter are reporting similar issues. With your report we will be able to reproduce it.

[2015-06-02 13:42] purbon commented on #3254
I run a test with the current 1.5 branch, also with the kafka input plugin and I got this output:

[code]

the code to show this message looks to be there since the addition of the update command [1]. I will now test with the generated package if I can reproduce this behaviour. In the meanwhile, @jib can you provide more details of your platform? jvm version? operating system ? package version ? e

[2015-06-02 14:12] driskell opened #3364 "On Windows, bugfix_jruby_2558.rb breaks plugins using peeraddr with a parameter"
`wrong number of arguments calling 'peeraddr' (1 for 0)`

Following file is the cause:
https://github.com/elastic/logstash/blob/f97c01da0631566e0ec07c9a076286e22a8f43a9/lib/logstash/patches/bugfix_jruby_2558.rb

Seems to be a very old patch that re-implements `peeraddr`, albeit not allowing any parameter. `TCPSocket.peeraddr` and `UDPSocket.peeraddr` have allowed a parameter in MRI since at least

[2015-06-02 14:30] purbon commented on #3254
@jib I tested with ubuntu trusty 64 bits using the last deb package and saw the Updated message.

[code]

can you provide more details of your infra? so we try to narrow down the reproduce of your issue.

[2015-06-02 14:34] jsvd commented on #3364
Nice catch @driskell, changing the method definition and delegation from:

[code]

to

[code]

Seems to address the problem. I'll submit a PR to fix

[2015-06-02 15:16] ianmacl commented on #3276
Mine was empty also.  I've turned logging up to verbose (debug was creating too much data but maybe I should byte the bullet and do it).  I made some changes to my config also and I'm now waiting for it to stop again.  I'll post here when it does.

[2015-06-02 15:21] ph commented on #3276
People new to this issue, can you also add a gist of your configuration?

[2015-06-02 18:53] surlypants commented on #3276
coming in from:
https://discuss.elastic.co/t/logstash-silently-stops-processing-events-and-does-not-respond-to-sigterm/1720/3

gist:
https://gist.github.com/surlypants/2e1ef99cbc4e2136aff1

[2015-06-02 19:03] surlypants commented on #3276
# ps ax |grep logstash |grep java
 2293 ?        SNl  344:17 java -XX:+UseParNewGC -XX:+UseConcMarkSweepGC -Djava.awt.headless=true -XX:CMSInitiatingOccupancyFraction=75 -XX:+UseCMSInitiatingOccupancyOnly -Djava.io.tmpdir=/var/lib/logstash -Xmx2g -Xss2048k -Djffi.boot.library.path=/opt/logstash/vendor/jruby/lib/jni -XX:+UseParNewGC -XX:+UseConcMarkSweepGC -Djava.awt.headless=true -XX:CMSInitiating

[2015-06-02 19:22] ph commented on #3276
@surlypants Can you gist the full stacktrace ?

[2015-06-02 19:25] surlypants commented on #3276
Sure (when it croaks again). You want an `strace -f` or something else?

[2015-06-02 19:27] ph commented on #3276
@surlypants More the better, post them to a gist and include them here.

[2015-06-02 19:29] surlypants commented on #3276
here was an strace -f that I let run for a few seconds during that last occurrence...

https://gist.github.com/surlypants/2c4d6087d2d65425dc5c

[2015-06-02 19:50] surlypants commented on #3276
https://gist.github.com/surlypants/0b4482a37573a0907ec0

[2015-06-02 20:32] surlypants commented on #3276
It's croaked again. The final entry to ES is/was:

{
  "_index": "logstash-2015.06.02",
  "_type": "syslog-ng",
  "_id": "AU215SPk-gN6IiV6gG8A",
  "_score": 1,
  "_source": {
    "message": "ameter), scsistat:0x02 (Check condition), snskey:0x05 (Illegal request), asc/ascq:0x26/0x0 (Invalid field in parameter list), info:0x0, cmd_spec:0x0, sns_spec:0x0, host:0x0, abort:0, CDB:1C010201B000 (Receive

[2015-06-02 20:48] surlypants commented on #3276
perhaps not at all a red-herring...
after a forced restart, it croaked again after the same message...

[2015-06-02 20:58] ph commented on #3276
Can you give me a sample log that will reproduce your issue?  This would be great will take a look later.

[2015-06-02 21:04] driskell commented on #3321
This duplicates my #2040?

[2015-06-02 21:05] surlypants commented on #3276
you've got mail.

[2015-06-02 21:10] driskell commented on #2040
FYI. Cloning cabin channels doesn't work. The resulting clone is only shallow copy so the data array is actually the same still and so is subscriptions - any changes affects the original still.

I've been playing around with a channel fork feature for cabin though. It creates a new channel with proper modifiable duplicates of original data and subscriptions. Means logstash plugin base could attach

[2015-06-02 21:30] CoryBond opened #3367 "Install plugin fails"
Not sure if this issue is simular to issue: #3336 but.... when I attempt to install an example I created (its the same to example codec but names are different) plugin It says:
"./plugin install /tmp/logstash-codec-logcat-0.1.1.gem
Validating /tmp/logstash-codec-logcat-0.1.1.gem
Installing logstash-codec-logcat
Installation successful"

but after looking for the plugin in my list of plugins I don'

[2015-06-02 21:32] driskell commented on #3276
I've checked your stack trace @Centopus and it looks exactly like my #3361 where there's a PR linked you could try. The issue is deadlock between single worker on mutex sync inside a WHEN node and pipeline thread on mutex sync in a queue push. I'm happy to look through others to help find matches for #3361 - so far just yours in this issue I think.

@surlypants if you send QUIT signal to logstash

[2015-06-02 21:35] driskell commented on #3361
@ph it's worth noting this is not related directly to multiline filter. It's purely related to single threaded worker setups, which includes all users of multiline filter but also includes others.

[2015-06-02 21:37] driskell commented on #3361
@ph The root cause is in Logstash pipeline code it seems

[2015-06-02 22:18] surlypants commented on #3276
@driskell no luck:

$ ps ax |grep logstash |grep java
 7095 ?        SNl   24:28 java -XX:+UseParNewGC -XX:+UseConcMarkSweepGC -Djava.awt.headless=true -XX:CMSInitiatingOccupancyFraction=75 -XX:+UseCMSInitiatingOccupa
ncyOnly -Djava.io.tmpdir=/var/lib/logstash -Xmx2g -Xss2048k -Djffi.boot.library.path=/opt/logstash/vendor/jruby/lib/jni -XX:+UseParNewGC -XX:+UseConcMarkSweepGC -
java.awt.headless=t

[2015-06-03 01:06] joshuar opened #3368 "Allow setting the timezone for sprintf in Logstash event class"
A regular problem that arises for users is that Logstash uses UTC time **everywhere**.  Although this is suitable and usually highly desirable for timestamps, there are other places where using UTC doesn't make sense and leads to unexpected results for end-users.

One particular example is with the elasticsearch output plugin as discussed here:

https://github.com/logstash-plugins/logstash-output-

[2015-06-03 05:39] driskell commented on #3276
@surlypants The trace will appear in the log file logstash is outputting to.

[2015-06-03 07:10] Centopus commented on #3276
Hello again. I've been trying to induce the hangup by different types of log rotation. No luck.

I'm currently out of ideas. I'm following the topic, just message me if I can help with anything else.

[2015-06-03 07:16] driskell commented on #3276
@centospus your stack trace looked exactly like #3361 which you'll likely find almost impossible to reproduce on demand. Hopefully fix be merged soon

[2015-06-03 07:16] driskell commented on #3276
@centopus your stack trace looked exactly like #3361 which you'll likely find almost impossible to reproduce on demand. Hopefully fix be merged soon

[2015-06-03 08:57] Rajeshkumar123 commented on #3364
I couldn't find RubyIPSocket.java in logstash 1.5.0

[2015-06-03 09:03] driskell commented on #3364
@Rajeshkumar123 You'll be looking for lib/logstash/patches/bugfix_jruby_2558.rb
(Best to ignore your error trace you had as this file is a special patch that is hidden away and doesn't show in the trace)

See here for the change details:
https://github.com/elastic/logstash/pull/3365/files

[2015-06-03 09:12] Rajeshkumar123 commented on #3364
@driskell  Awesome Its working fine.

[2015-06-03 09:33] Osub opened #3369 "_discover_file_glob: /access.log-20150603: glob is: ["/access.log-20150603"] {:level=>:debug, :file=>"filewatch/watch.rb", :line=>"132", :method=>"_discover_file"}"
_discover_file_glob: /access.log-20150603: glob is: ["/access.log-20150603"] {:level=>:debug, :file=>"filewatch/watch.rb", :line=>"132", :method=>"_discover_file"}

[2015-06-03 09:36] jsvd commented on #3369
Hi, can you paste your config, logstash version, full error message, and when that happened?
What is the problem that you're seeing?

[2015-06-03 09:40] Osub commented on #3369
version  1.5.0
config:
-------------------------------------------
input {
   file {
       type => "nginx-access"
       path => "/alidata/log/access.log-20150603"
   }
}
filter {
   grok {
       type => "nginx-access"
       pattern => "%{IPORHOST:source_ip} - %{USERNAME:remote_user} \[%{HTTPDATE:timestamp}\] %{QS:request} %{INT:status} %{INT:body_bytes_sent} %{QS:http_referer} %{QS:http_user_a

[2015-06-03 09:46] jsvd commented on #3369
@Osub thank you for the information!
one small thing, can you edit your comment to surround the config and output text with ``` like this:

\`\`\`
input { .. }
\`\`\`

this will make it look better:

[code]

[2015-06-03 09:52] Osub commented on #3369
@jsvd  sorry ,it's  0k   ,now

[2015-06-03 09:55] jsvd commented on #3369
@Osub is this a problem you're having? That seems to be a normal debug message from filewatch, because you're starting logstash with the debug flag

[2015-06-03 09:59] Osub commented on #3369
thank you.
why  not found  the log info  in  kibana  web?

[2015-06-03 10:16] CliveJL opened #3370 "SysVInit scripts don't touch /var/lock/subsys file - Kill scripts fail during shutdown"
Hi,

Firstly I should say that this is my first ever issue I've raised on GitHub, so please go easy on me :)

I've found that when using Logstash (1.4.2) in an auto-scaled Amazon EC2 environment, using the SysVInit scripts in this project, the Termination of an instance causes an ungraceful shutdown of the Logstash process, meaning that the Elasticsearch cluster that the Logstash clients had Joine

[2015-06-03 10:27] jsvd commented on #3276
I'm able to reproduce this consistently on master after inserting some sleeps in particular places, and then running logstash:

[code]

[2015-06-03 10:31] driskell commented on #3276
@jsvd Do you have a stack trace? Can you send QUIT signal and provide it in a gist? If it is #3361 there's a PR to fix it you could try: #3363

[2015-06-03 10:34] jsvd commented on #3276
@driskell :facepalm:  I wanted to post this in #3361, it is the scenario of flush -> input queue fills -> flusher thread triggers deadlock

[2015-06-03 10:35] jsvd commented on #3276
I'm checking your PR now..

[2015-06-03 10:39] jsvd commented on #3369
@Osub by default the file input will start reading the file from the end and remember how far it has read each file.

you can add the option `start_position => beginning` to the file input and remove any ~/.sincedb* files that logstash has created before

[2015-06-03 12:18] Osub commented on #3369
thank you  very much.

[2015-06-03 12:27] jsvd commented on #3369
may I close this?

[2015-06-03 12:27] Osub commented on #3369
ok

[2015-06-03 12:27] #3369 closed

[2015-06-03 13:03] henriquer-noths commented on #3311
I think this is a real issue with Logstash 1.5.0. Here's a test configuration, with more details:

[code]

Here's the creation of the folder:

[code]

Now I run Logstash with the same user:

[code]

And I put something on the target file:

[code]

Logstash breaks with the following error:

[code]

Funny enough, the target folder seems to be broken. Please notice the lack of execution permissions o

[2015-06-03 13:48] purbon commented on #3314
@JohanGregoire as you problem is workaround and you're using solaris (a platform where we don't really do tests), I'm open to close this issue until you can grab mode intel on your proxy config, makes sense to you?

PD: I still find very interesting to know more about your proxy issues, so please don't forget to share it if possible ;-)

[2015-06-03 14:01] rgauny opened #3373 "json input codec writes to stdout even if no stdout is defined"

[2015-06-03 14:08] ph commented on #3361
@jsvd and I were able to reproduce it, we are discussing the need to actually do a synchronize on that part of the code.

[2015-06-03 14:22] driskell commented on #3361
Ah. I guess inside the filter worker it doesn't need it at all.
It only needs it to synchronise the flusher thread kill so it doesn't kill it while it's pushing onto the queue, potentially corrupting the queue.

[2015-06-03 15:50] CalldiDoctor opened #3374 "Read from file misbehavior"
I'm trying to read logs from a file while more logs are added to it.
Every time one log is added, logstash reads again all the previous log events.

My input configuration setup is the following one:
file {
        path => "/path/to/logs"
        type => "type"
      }
If I'm not wrong this should read starting from the end of the file and from the line stored in .sinceDB, but instead logstash is

[2015-06-03 17:26] purbon commented on #3367
This looks to me totally like #3336, but here I'm more concerned about you saying you don't the plugin in the output, this is strange. Can you provide more details so I can reproduce your behaviour myself?

[2015-06-03 18:10] CoryBond commented on #3367
Hey purbon,

So my components are:
logstash vesion - 1.5.0
ruby - 2.2.2p95

I git pulled in codec example from the logstash plugin repository which contained DEVELOPER.md, LICENSE and README.md. My file structure follows that of the example tutorial here: https://www.elastic.co/guide/en/logstash/master/_how_to_write_a_logstash_codec_plugin.html.

The files I currently have are \logstash-codec-plug

[2015-06-03 19:46] purbon commented on #3356
Can you share your config? so we might try to reproduce somehow? thanks a lot!

Might be related to same issues as in #3302 .

[2015-06-03 19:50] purbon commented on #3351
related to #3354. With build exactly of java7 are you using? as I could check with my own system, using

[code]
works without this issue.

[2015-06-03 19:54] purbon commented on #3334
The behaviour in here is reasonable, you can not install a new version as it, you should update it. Do you expect this call to install anyway?

At less I think we should update the wording in here so the message is clear to the end user.

[2015-06-03 20:11] refaelos opened #3375 "Failure when adding the 'date' filter"
Hey,

I just recently started using logstash and it's an amazing tool !!

What i'm doing is loading TONS of events from S3 into ES (100s of millions) at once.

The problem is that when I add the filter:
[code]
Logstash fails with multiple warnings:
[code]
And then with errors:
[code]

When I remove the 'date' filter, it works great BUT I only get one index created (for today). I want to have multi

[2015-06-03 20:14] OhadR commented on #2082
if i want to connect my logstash to multiple log4j-s. for example, I have 3 tomcats on 3 different machines, and i want all logs (log4j) of all services from all tomcats to send their data to logstash. how can i configure it? does it make sense?

[2015-06-03 20:16] OhadR opened #3376 "connect Logstash 1.5.0 with log4j of several servers"
i've opened this thread in SO, but im not sure whether it should be on SO or here...
http://stackoverflow.com/questions/30624467/connect-logstash-1-5-0-with-log4j-of-several-servers

if i want to connect my logstash to multiple log4j-s. for example, I have 3 tomcats on 3 different machines, and i want all logs (log4j) of all services from all tomcats to send their data to logstash. how can i confi

[2015-06-03 21:11] refaelos commented on #3375
UPDATE: I found out that when I reduce the 'flush_size' of logstash things work fine but getting data into ES like this is extremely slow.

[2015-06-03 22:48] hemanath1982 commented on #2615
I'm getting a Similar Error, it this resolved ?

[2015-06-03 22:49] jordansissel commented on #2615
@hemanath1982 this ticket was moved https://github.com/logstash-plugins/logstash-input-tcp/issues/11

[2015-06-04 02:30] memelet commented on #2414
An alternative, if you already use or are willing to add consul to your stack, is described here http://doics.co/2015/05/18/increto ase-your-elk-herd-with-consul-io/.

[2015-06-04 06:41] yehosef opened #3377 "Ability to run action after log file process (improvement)"
While there are times that logs are continually written and you want to always look for new entries, the more common practice is that logs are generated for each day and after that day has passed, it will never be written to again.  Idealling, we would like to clean up the log files (compress, copy to s3, delete locally) as soon as possible after processing by logstash.

I think it would be helpfu

[2015-06-04 08:16] allenmchan commented on #3099
Any comments or updates on this?
Today i found that my logstash-output-elasticsearch plugin was out of date. (i had 0.2.4 locally and latest was 0.2.7). I looked on rubygems.org and github but neither can tell me what changed. I just blindly updated. At the very least, can you label what pull requests went into what version?

[2015-06-04 08:42] refaelos commented on #3375
issue was moved to elasticsearch: https://github.com/elastic/elasticsearch/issues/11492

[2015-06-04 08:42] #3375 closed

[2015-06-04 09:18] jsvd commented on #3361
@driskell I think we could just keep the mutex for the [filterworker flush handling](https://github.com/elastic/logstash/blob/master/lib/logstash/pipeline.rb#L223) and the [kill call](https://github.com/elastic/logstash/blob/master/lib/logstash/pipeline.rb#L118). the flusher_thread is just pushing the flush event to the queue, at most it will block on a full queue (which is ok).

[2015-06-04 09:52] jsvd commented on #3374
@CalldiDoctor which operating system and logstash version?

You are correct, logstash should not re-read old files.

[2015-06-04 10:10] driskell commented on #3361
But the flusher thread could get killed in the middle of a push. There's no guarantee this would not corrupt the queue from what I can see.

The filter worker is fine as it does not touch anything the other two areas do. The only other flush is after filter workers finish (and they are waited for before calling it)

[2015-06-04 10:19] jsvd commented on #3361
humm not sure how the queue could get corrupted, the single op the thread does, SizedQueue#push, is essentially a [@mutex.synchronize wrapped in a Thread.handle_interrupt](http://ruby-doc.org/stdlib-2.0.0/libdoc/thread/rdoc/Queue.html#method-i-push) block.

anyway I think removing the whole flusher_lock mutex should not be a problem, thoughts?

[2015-06-04 10:32] driskell commented on #3361
MRI is thread handle interrupt but in JRuby it is a Java class and AFAICT it doesn't do any interrupt handling.

[2015-06-04 10:37] CalldiDoctor commented on #3374
Ubuntu 14.04 and Logstash 1.4.2

[2015-06-04 14:27] jsvd commented on #3374
can you do a full run with --debug and post the output here?

[2015-06-04 14:52] suyograo commented on #3364
Closed https://github.com/elastic/logstash/pull/3365

[2015-06-04 14:52] #3364 closed

[2015-06-04 15:21] ph commented on #3361
@jsvd @driskell I think we can remove the the lock on filterworker flush, this will revert back the behavior of 1.4.2.

But, we also need to change some of the filters to make sure they are thread safe and protect the `filter` and the `flush` method, I suggest to create another issue to add a thin layer on top of the plugins that will add automatically add this check when the plugin implement a fl

[2015-06-04 15:26] colinsurprenant commented on #3361
Thanks guys for looking into this. I will followup with the background info on why I added this in the first place. As you guys figured out, there is indeed clearly a deadlock situation. Here are my thoughts:
- we should and will refactor this, @ph & @jsvd has good ideas plus the new shutdown logic we are looking into in #3210 but this will be for a future 1.6/2.0 release.
- in the short-short ter

[2015-06-04 15:27] ph commented on #3361
thanks for @colinsurprenant and @jsvd comments, there is not need to change any plugins.

[2015-06-04 15:28] colinsurprenant commented on #3361
@ph we do not need to change the filter plugins even if we remove the `@flusher_lock.synchronize` everywhere since the `flush` and `filter` methods are never called concurrently, its either one or the other, always from the filter worker.

[2015-06-04 15:29] colinsurprenant commented on #3361
@ph we have concurrency issues in our comments :P

[2015-06-04 15:30] ph commented on #3361
@colinsurprenant Until we have the persistent queue in place losing in transit events if the output are block is something we can't cleanly deal.

[2015-06-04 15:34] colinsurprenant commented on #3361
@ph well there could be alternatives but would require adding timeouts to the blocking queues and log dropped events in the shutdown (they would sitll be "lost" but at least logged so you could retrieve them if you really wanted to), but this is not really in the scope of this issue and I agree with you that the better solution is to use persistence in this case.

[2015-06-04 15:35] ph commented on #3361
@colinsurprenant Yes,I agree to remove the lock also in the Tick and the shutdown sequence at the cost of losing some events.

+ 1 for timeouts.

[2015-06-04 15:38] jsvd commented on #3361
+1 on all of the above
always happy to remove a mutex :+1:

[2015-06-04 15:42] webwurst commented on #1867
+1

[2015-06-04 15:54] ph commented on #3060
@colinsurprenant You can merge the PRs, only 1 or 2 have minor comments.

[2015-06-04 16:32] mikapp commented on #2490
I am experiencing the same problems with Logstash 1.5.0-1 and it just hands without dropping any errors in logs. I am using working config from Logstash 1.4.2. Any tips how to find what is going on? Running log stash agent with -debug option doesn't show any data other that "reading configuration".

[2015-06-04 16:42] mikapp opened #3381 "Logstash 1.5.0-1 hangs while reading configuration"
I can't get Logstash 1.5.0-1 running with my working config file from Logstash 1.4.2. It just hangs without dropping any errors in logs. I have it installed as a service on Ubuntu 14.04.2 LTS. /var/log/logstash/ files as logstash.log and logstash.err are of size 0 and don't have any lines. "sudo service log stash service " says "running" and I left it for few hours with no effect. My config is pre

[2015-06-04 16:43] jsvd commented on #2490
This is very likely related to https://github.com/elastic/logstash/issues/3361, and a fix has been proposed in https://github.com/elastic/logstash/pull/3378

[2015-06-04 16:45] jsvd commented on #3381
Hi @mikapp I saw your comment on #2490, it should be a manifestation of https://github.com/elastic/logstash/issues/3361, specially since you have a big configuration. A fix has been proposed in https://github.com/elastic/logstash/pull/3378

[2015-06-04 16:53] palmerabollo commented on #2529
IMO, LOGSTASH-220 "Make SIGHUP cause agent to reload" should be addressed on an separate issue.

[2015-06-04 16:55] jsvd commented on #3293
Fixed in https://github.com/jordansissel/ruby-filewatch/commit/ba083a1244b1df23f89d5aded6420bb7761d970f

[2015-06-04 16:55] #3293 closed

[2015-06-04 17:18] jordansissel commented on #2529
@palmerabollo there will be nothing to "reload" once we have an API. Can you help me understand what you mean?

[2015-06-04 17:20] ph opened #3382 "Create an empty changelog for the plugins"
Use the mass update script to add an empty CHANGELOG.md file to every plugin repo.

[2015-06-04 17:37] talevy opened #3383 "Add warning to bin/plugin update when updating to a new major version of plugin"
Soon, there are going to be some backwards-incompatible changes bubbling up in plugins, and it would
be helpful to users to understand that there is a risk in updating to such versions.

maybe it'll look something like this:

[code]

[2015-06-04 17:40] #3382 closed

[2015-06-04 17:42] colinsurprenant commented on #3361
@driskell what do you think about this strategy + would you mind trying #3378 ?

[2015-06-04 18:07] driskell commented on #3361
Looks good I'll give it a try over the weekend.

I can see JRuby by design won't corrupt a queue. The kill works by sending 'mail' according to wiki and getting checked by a thread poll call (which happens every few statements and around sleeps and io calls I think). So probably all good apart from the original shutdown problem you noted.

[2015-06-04 18:58] palmerabollo commented on #2529
Sorry, I meant that hot configuration reloading is an interesting feature that might be addressed before logstash 2.x. In case that's not an option, do you think it would be easy to add that feature to the current logstash 1.x  architecture on my own?

[2015-06-04 19:02] jordansissel commented on #2529
@palmerabollo A general-purpose reload is difficult because I'm not really sure what precise behavior everyone is looking for. A simple "reload the config" right now can be achieved with restarting logstash. Is restarting not an option? Here are some challenges I see with a "reload" that has no downtime effects:
1) networked plugins have no way to share their resources (if you reload the tcp input

[2015-06-04 19:28] ph opened #3384 "Failing test on the 1.5 branch on jenkins"
http://build-eu-00.elastic.co/job/logstash_regression_1.5_release/jdk=JDK8,label=metal-pool/lastBuild/console

Failures:

  1) LogStashConfigParser#compile with multiline conditionals should compile successfully
     Failure/Error: expect { eval(result.compile) }.not_to(raise_error)
       expected no Exception, got #<SyntaxError: (eval):23: syntax error, unexpected kOR
                    or [ano

[2015-06-04 19:41] jib commented on #3254
@purbon Confirmed that I also no longer see this message. Tested by installing another plugin:

[code]

[2015-06-04 20:26] ph commented on #3384
A bit weird, the master branch and the other 1.5 regression branch includes the failing test and run on jenkins

see http://build-eu-00.elastic.co/job/logstash_regression_15/
and http://build-eu-00.elastic.co/job/logstash_regression_master/

[2015-06-04 20:27] ph commented on #3384
Okay got it, if you use the ./ci_setup.sh and ./ci_test.sh It fails on the 1.5 branch

[2015-06-04 20:35] ph commented on #3384
Same scenario doesn't fail on master branch.

[2015-06-05 06:01] loggola commented on #2524
I stated on a filter a while back … its a bit of a nightmare but here you go ..

http://pastebin.com/0zQ0bzdr

[2015-06-05 11:16] vankhoa011 commented on #3276
This is my log of logstash when logstash died.
"""
{:timestamp=>"2015-06-05T10:50:02.123000+0000", :message=>"Lumberjack input, maximum connection exceeded, new connection are rejected.", :max_clients=>nil, :level=>:warn}
{:timestamp=>"2015-06-05T10:50:02.132000+0000", :message=>"Lumberjack input, maximum connection exceeded, new connection are rejected.", :max_clients=>nil, :level=>:warn}
"""

[2015-06-05 11:42] celesteking commented on #3276
What about  ```netstat -pnt | grep java``` when it's being "stuck"? Only 1 man provided that.

[2015-06-05 12:27] duylong opened #3385 "Exception in inputworker with udp input and line codec"
Hi,

I'm testing Logstash 1.5.0 and I have this issue (No problem with Logstash 1.4.0.) :

* Logstash configuration:

[code]

* Logstash error:

[code]

Do you have this problem ?

Best regards,

[2015-06-05 13:33] suyograo commented on #3357
@untergeek can you take this one? Before we publish new versions, lets populate the changelog with recent changes?

[2015-06-05 13:42] ph commented on #3384
The problem is this branch actually use the released `logstash-core` gem and will fail since we did not release it and the fix is include in that release. So I wont touch this but I have found another issue when looking at the specs will make a PR for it.

[2015-06-05 13:42] #3384 closed

[2015-06-05 14:48] untergeek commented on #3357
Yeah.  This will be a fun, if somewhat tedious process.  I don't think giving grok 1.0.0 makes any aesthetic or common sense at all.  It'll look weird, like we suddenly released a 1.0 version.  Will apply some randomness.

[2015-06-05 16:41] bradvido opened #3387 "New input plugin: logstash-input-httpclient"
I've created a new Logstash input plugin: https://github.com/bradvido/logstash-input-httpclient

It acts as a HTTP Client and periodically queries a http server, processing the response body using the provided codec).  It also optionally uses a few custom `X-Logstash-...` HTTP headers to indicate to the server how fast it is processing events and the server can also indicate if more events are ava

[2015-06-05 18:56] mabdelfattah commented on #3277
@ph I'm sorry for late response, here is my lubmerjack input config

    input {
      lumberjack {
       port => 5000
       type => "logs"
       ssl_certificate => "/etc/pki/tls/certs/logstash-forwarder.crt"
       ssl_key => "/etc/pki/tls/private/logstash-forwarder.key"
      }
    }

[2015-06-05 20:10] surlypants commented on #3276
after much wailing and gnashing of teeth, i believe my problem was ultimately related to:

https://goo.gl/XDd4kH

after inserting a boatload more "security-casing", my issue has subsided.

[2015-06-06 04:56] NickMRamirez opened #3388 "New input plugin: logstash-input-perfmon"
I've created a new input-plugin for gathering performance metrics on Windows.

On Windows, performance metrics can be collected using Windows Performance Monitor. This plugin collects the same sort of counters by using the command-line tool Typeperf.

[Github repo](https://github.com/NickMRamirez/logstash-input-perfmon)

I've added this gem to [rubygems.org](https://rubygems.org/gems/logstash-inpu

[2015-06-06 13:07] purbon commented on #3388
Cool, this looks promising, are you willing to have this plugin at the logstash-plugins org? if so I can start the process.

Before that, as this is a very windows plugin, might be the name can be tricky, how do you feel about adding something win label in the name? I say so, because then people might know this only works for windows. Make sense?

[2015-06-06 13:09] purbon commented on #3385
Thanks for your report @duylong, in order to explore more this error. Can you share an example log line that might trigger this error?

[2015-06-06 13:10] purbon commented on #3385
On the other side, I'm proud to think this error qualify as an error for the plugin itself, so I would rather move this issue to the plugin at https://github.com/logstash-plugins/logstash-input-syslog .  What do you think?

[2015-06-06 13:13] purbon commented on #3383
This makes complete sense to me, specially if we follow with the plugins a more or less semver policy, then this warning is informative for users updating.

[2015-06-06 13:26] NickMRamirez commented on #3388
Something like logstash-input-winperfmon? I'm okay with that.

I am currently trying to find a way to add an IP or hostname to the data, to show where the data originates. Can the process be started before or after I make those changes?

[2015-06-06 14:08] purbon commented on #3388
Hi,
  new naming is ok to me. we can start the process as soon as you feel
confortable, let us know.

On Saturday, June 6, 2015, NickMRamirez <notifications@github.com> wrote:

--
Pere Urbon-Bayes
Software Engineer
https://www.elastic.co
https://twitter.com/purbon

[2015-06-06 17:21] suyograo commented on #3376
Hey @OhadR thanks for the question. You can also discuss it here: https://discuss.elastic.co/c/logstash. Github is mainly used for issues/enahncements

[2015-06-06 17:21] #3376 closed

[2015-06-06 17:22] suyograo commented on #3373
@rgauny can you paste your config here?

[2015-06-06 17:26] suyograo commented on #3360
hi, thanks for the info, I moved your issue to rabbitmq output repo here: https://github.com/logstash-plugins/logstash-output-rabbitmq/issues/10

[2015-06-06 17:26] #3360 closed

[2015-06-06 17:27] suyograo commented on #3355
Closing this in favor of https://github.com/elastic/logstash/issues/1645

[2015-06-06 17:27] #3355 closed

[2015-06-06 17:28] suyograo commented on #3351
Closed in favor of #3354

[2015-06-06 17:28] #3351 closed

[2015-06-06 17:31] suyograo commented on #3349
@aabed what version of Logstash?

/cc @purbon @wiibaa: I know you both were debugging this..

[2015-06-06 19:33] eperry opened #3389 "New Plugin for Linux systems logstash-input-proc"
I figured instead of writing Input Exec commands and parse their outputs I would write a plugin that would read the /proc directory directly.

https://github.com/eperry/logstash-input-proc

I was hoping for some feed back, there is more to be added but it is functional now.

Currently Implemented is
Meminfo
VMStats
Process details
-stats
-file descriptors
-environment varables
-threads
and a bunch

[2015-06-07 02:51] aabed commented on #3349
well I am using 1.5, however the problem is with Jruby itself
kindly check
https://github.com/jruby/jruby/issues/2997

[2015-06-07 14:31] slava-vishnyakov commented on #3277
For me this solved the problem of LogStash handling:

[code]

LogStash complains about deprecated option, but at least it is stable and works.

[2015-06-07 17:16] NickMRamirez commented on #3388
Looking around, others just use "perfmon" as the name:

NewRelic: https://github.com/nickfloyd/newrelic-perfmon-plugin
node.js: https://www.npmjs.com/package/perfmon

And "Perfmon" is the shorthand for the tool: https://technet.microsoft.com/en-us/library/bb490957.aspx.

I'm starting to think that keeping it named just that would be understood, at least amongst Windows developers.

I have added th

[2015-06-07 18:39] ssoto commented on #3002
[code]
I've just removed all the ```jffi*.tmp``` files the servicce can start again.

[2015-06-07 19:13] NickMRamirez commented on #3388
Just saw a thread about another plugin and integration tests. I have integration tests for this, but they would only work if run on a Windows machine. Might need a work-around for that.

[2015-06-08 00:48] dkoshkin opened #3390 "Grok with multiline not parsing first message"
Hi,

I am trying to parse multiline messages using the multile filter and grok. I read that **(?m)** should work but the first message is still not being parsed correctly by grok, while all others do. The strange thing is that the tag **_grokparsefailure** is not being set for this message as I expect it to.

[code]

Log example:

[code]

Logstash - 1.5
Thanks

[2015-06-08 07:45] duylong commented on #3385
My problem is random, I can't share an exact example log line. I use Rsyslog client with this format:

[code]

A output example get from in Elasticsearch:

[code]

I use only udp input in this case. I don't know if I have the same problem with tcp or syslog input.

If I find more details, I would come complete this issue ;)

[2015-06-08 08:07] ChristinaGandham commented on #3187
Hi,

I would like to contribute logstash dockerfile for power architecture by adding (_ppc64le) suffix in the file name.
Request you to please comment on the above suggestion for uploading dockerfiles for power architecture.

Regards,
Christina

[2015-06-08 11:28] avcherkasov commented on #3003
@ph thaks for answer!
You will include the fix in the next release of logstash?

[2015-06-08 12:47] purbon commented on #3388
Hi,
 speaking about the name, it makes sense all you share. My only concern here is for users who are not on window, I mean speak for myself, I might find this plugin and think, oh nice, a perfmon for linux :-1:, but then found out that is only windows. We should make this distinction clear somehow. Might be we can do that throw the documentation, or also introducing a warning when installing this

[2015-06-08 13:34] NickMRamirez commented on #3388
Sounds good to me, yes let's move forward.

[2015-06-08 13:35] purbon commented on #3388
perfect! will setup the repo for you.

[2015-06-08 14:32] Limskya opened #3392 "Different results between stdin and lumberjack input"
Hi everyone,

I'm trying to parse a full java stack like this :

[2015-06-08 15:54:28.045 +0200CEST] ERROR 172.16.10.24 ES1 appserver0 [NI-NOFR-Site] [-] com.intershop.adapter.search_solr.internal.SolrIndex [] [Storefront] [o9jb8LqBSPYp-e_07NLC-qotyeLR_G1H-wgMNuJRjLMdrm1H-wg=] [1QqzEFV1npMZChCs-0-00] "1QqzEFV1npMZChCs-0-00" Error during Solr server communication. org.apache.solr.client.solrj.SolrS

[2015-06-08 14:41] purbon commented on #3318
With the creation of https://github.com/logstash-plugins/logstash-filter-unique, and the release of the gem, you're now able to run:

[code]

Closing this for now, if you encounter more problems, feel free to open other issues.

[2015-06-08 14:41] #3318 closed

[2015-06-08 14:59] purbon commented on #3388
done @NickMRamirez, you can find the repo at https://github.com/logstash-plugins/logstash-input-perfmon, I will close for now this issue and wait to continue this converstation as a PR in the new repo. Looking forward to it.

[2015-06-08 14:59] #3388 closed

[2015-06-08 15:14] ph commented on #3361
fixed in https://github.com/elastic/logstash/issues/3361

[2015-06-08 15:14] #3361 closed

[2015-06-08 15:17] ph commented on #3276
We have merge this PR https://github.com/elastic/logstash/issues/3361 in the master branch, that should fix hang related to the multiline filter or other any plugins that periodically flush their buffer. If you are experiencing this issue try the PR, we should release a 1.5.1 version soon containing the fix.

[2015-06-08 15:41] purbon commented on #3336
Fixed in #3362

[2015-06-08 15:41] #3336 closed

[2015-06-08 15:48] nehaljwani commented on #1747
Someone should update this thread: https://logstash.jira.com/browse/LOGSTASH-2267
I was really hoping to use this feature. Seems I am late.

[2015-06-08 15:58] suyograo commented on #3381
@mikapp we'll soon release 1.5.1 with this fix. If you'd like to try, you can always test #3378 directly. Closing this for now.

[2015-06-08 15:58] #3381 closed

[2015-06-08 16:06] suyograo commented on #3254
@jib @purbon thanks for looking into this. Will close this -- let us know if it appears again.

[2015-06-08 16:06] #3254 closed

[2015-06-08 16:31] untergeek commented on #1747
@nehaljwani We are no longer using JIRA as a ticketing system.  If you look at the 3 GitHub issues linked in the last comment you'll see some of what we're planning for the future.

Future versions of Logstash will be API driven, rather than command-line.  This will allow us to have the same kind of functionality you are requesting.  Please see [our roadmap](https://www.elastic.co/guide/en/logstas

[2015-06-08 19:52] atman9 commented on #3127
I am seeing this as well on RHEL6, java 1.7
[code]
[code]
[code]

[2015-06-08 21:42] suyograo opened #3394 "[doc] Logstash.net /docs/1.5.0/ redirect is a 404"
http://logstash.net/docs/1.4.2/ has a banner mentioning the latest version. The link at the end pointing to /docs/1.5.0/ is broken. Maybe we have a dummy page there which redirects to https://www.elastic.co/guide/en/logstash/current/index.html or having this link in the banner directly

![screen shot 2015-06-08 at 14 39 58](https://cloud.githubusercontent.com/assets/1595958/8046031/8bc35ebc-0dec-1

[2015-06-08 22:10] suyograo commented on #3394
Works...I really did see it 404

[2015-06-08 22:10] #3394 closed

[2015-06-08 22:11] suyograo commented on #3359
/cc @tbragin

[2015-06-08 22:21] jordansissel commented on #3394
I believe you :)

[2015-06-08 22:31] suyograo commented on #3044
@palecur this can be changed here: https://github.com/elastic/logstash/blob/master/lib/logstash/inputs/base.rb#L43

[2015-06-08 22:33] jordansissel commented on #3044
Proposed fix: https://github.com/elastic/logstash/pull/3395

[2015-06-09 02:07] #3044 closed

[2015-06-09 02:09] #3184 closed

[2015-06-09 02:16] jarpy opened #3396 "Passing an array of patterns to grok does not match the second pattern (of two)."
This syntax does not create a 'uuid' field on the event:
[code]

But this syntax does:
[code]

The custom grok patterns are:
[code]

And an example input is:
[code]

[2015-06-09 04:30] jarpy commented on #3396
Here is a shell "one-liner" demonstrating the negative case:

[code]

[2015-06-09 04:31] jarpy commented on #3396
...and one for the positive case:

[code]

[2015-06-09 05:10] jarpy commented on #3396
Closing this and re-opening against the correct project (logstash-filter-grok).

[2015-06-09 05:10] #3396 closed

[2015-06-09 06:50] purbon opened #3397 "all plugins test failing"
From: http://build-eu-00.elastic.co/view/LS%201.5/job/Logstash_1.5_All_Plugins_test/586/console and http://build-eu-00.elastic.co/view/LS%20Integration/job/logstash_integration_all_plugins/537/console

Error message:

[code]

so looks like there is a gem still forcing to use the old rspec 2.14 that should be updated.

[2015-06-09 09:13] sybnex opened #3400 "logstash crashing the whole time"
Hi,

running on RHEL 7.1, Logstash 1.5.0-1, Elastsearch 1.5.2, Redis 2.8

The indexer connecting to redis, reading stuff and shipping it to elastisearch ist crashing.
I'll tried severeal configurations playing with workers on elastic, with threads on redis and -w option on logstash.
Logstash ist crashing in any of these configs loading the redis queue.
actually workaround: restarting logstash ever

[2015-06-09 09:20] jsvd commented on #3400
@sybnex what is the minimum, average and maximum size of the requests sent to elasticsearch?

If you output to a file does it still crash?

[2015-06-09 11:07] sybnex commented on #3400
I was just monitoring the redis stat and I saw max. at 22000 (requests/sec.) min. at 1000 and avg maybe at 4000. The incoming request is about 80 - 200.

Now, since the queue is nearly emtpy it seems to be stable again. So I think this is an workload issue on the elasticsearch plugin.

Before, I just had a pure ELK installation and logstash crashed all the time. So I decided to try it with redis.

[2015-06-09 11:37] joerocklin commented on #2414
@memelet can you fix your link? It seems to have gotten some extra characters tossed in.

[2015-06-09 14:25] omribahumi opened #3402 "Logstash (sometimes) doesn't process any logs after startup"
I'm using logstash with:
Input plugins: `courier`, `tcp` and `pipe`
Output plugins: `elasticsearch`, `statsd`

It sometimes hangs right after it finishes starting:
[code]

Jstack shows http://pastebin.com/MzQud04J

Any idea what's going on?

[2015-06-09 14:57] parabolic opened #3403 "Logstash 1:1.5.0-1 cannot reconnect to rabbitmq after rabbitmq server has been restarted"
**System**
[code]
**Logstash_version**
[code]
**Conf**
[code]
**Kernel**
[code]
After restarting the rabbitmq server logstash is not able to reconect to rabbitmq and it needs to be restarted. I get the following error in the logs. And I see a lot of connects from that ip in the rabbitmq server.
** Logstash log **
[code]
**Rabbitmq server log**
[code]
again and again

Logstash at this point cannot

[2015-06-09 15:32] untergeek commented on #3403
Thanks for the detailed report.  Can you please open this in the RabbitMQ output's repository instead?

https://github.com/logstash-plugins/logstash-output-rabbitmq

That's the appropriate place for this issue.

Thanks!

[2015-06-09 15:46] parabolic commented on #3403
Thanks! I will do so right away

[2015-06-09 15:47] #3403 closed

[2015-06-09 19:39] passing commented on #2903
have a similar use case and found this plugin that should be able to solve this (but didn't try it out, yet):
https://github.com/logstash-plugins/logstash-filter-aggregate

[2015-06-09 19:41] jordansissel commented on #2903
The translate filter supports automatic refresh: https://github.com/logstash-plugins/logstash-filter-translate/blob/master/lib/logstash/filters/translate.rb#L68-L70 - is this not sufficient?

[2015-06-09 19:51] jordansissel commented on #3359
@sylvie777 poked me about these today; I'll see if I can't clean them up on the logstash.net side of things first, so hopefully, we won't need to make changes to anything on elastic.co

[2015-06-09 19:57] sylvie777 commented on #3359
@jordansissel Thanks, Jordan! If I can help (e.g., test links), please let me know. Happy to help.  :)

[2015-06-10 01:26] suyograo opened #3406 "Warning about inflight messages when trying to stop Logstash"
When you send a ^C signal to Logstash and if it is processing in-flight events, it will not stop immediately. It will first stop the input and wait for existing events in the internal buffer to completely drain before quitting. We should provide feedback to the user that it is waiting for events to drain, so it is clear that LS is not stuck, but this is designed behavior. We should also suggest a

[2015-06-10 04:50] sybnex commented on #3400
This night I had several crashed with different reasons:

[code]

My workaround is just to force restart (normal wouldn't work).

I don't know what to do to stable this solution.

[2015-06-10 05:14] suraj-kamath commented on #2887
Any updates on the above open issue ? I have experienced the file descriptor leak issue in the 1.4.1 version and have ideas to upgrading to 1.5.0 ! and the upgrade is going to be on a production server .So please let me know

Thanks
Suraj

[2015-06-10 06:19] suyograo commented on #3392
Hi can you please post this question/discuss here: https://discuss.elastic.co/c/logstash. Github is mainly used for issues/enhancements.

[2015-06-10 06:19] #3392 closed

[2015-06-10 06:49] banzayats commented on #3402
I noticed similar behavior.
I'm analyzing ASA logs.
Input plufin: `file`
Output plugin: `elasticsearch`
I'm using logstash 1.5.0 on CentOS Linux 7.1.1503

I've also noticed - logstash stopped to write its own logs.

[2015-06-10 08:07] #3397 closed

[2015-06-10 08:27] cleiter commented on #1524
@suyograo I don't see how that commit would fix that, since it only touches the `.bat` file but under cygwin `logstash` is executed.

[2015-06-10 09:24] omribahumi commented on #3402
I'm not sure that's the reason, but disabling the `tcp` on our production instance got it running again.
Before I disabled it, logstash processed 3 logs and then stuck. I don't know which events were processed successfully.

[2015-06-10 10:24] KlavsKlavsen opened #3408 "document_id with missing field - goes awry"
if I set document_id => "%{message_id}" - and the source does not contain a field names %{message_id} - LS chooses to use the text as a string, meaning I only get 1 logline per index - because they all get _id set to "%{message_id}" :(

It would be very nice if LS choose NOT to set document_id - if field given in document_id does not exist.

[2015-06-10 11:00] sybnex commented on #3400
Found the following running logstah in debug mode:

[code]

But I don't know, since it is a thread, if the exception is coming from there.

[2015-06-10 12:59] infulka commented on #3246
Hi,

I've changed my *.bat files too and when running logstash.bat from directory without spaces, everything is fine, but when running it from directory with spaces I'm getting GemfileNotFound error:
[code]
Any ideas?

[2015-06-10 15:15] naisanza commented on #2088
+1

[2015-06-10 16:59] untergeek commented on #3408
Thanks for the suggestion.  Since this request is specific to the Elasticsearch output plugin, please open this issue at https://github.com/logstash-plugins/logstash-output-elasticsearch

As an aside, while this request makes sense for your use case, it may not in others.  As such, it may be added as an option, rather than as a default.

[2015-06-10 17:20] KlavsKlavsen commented on #3408
I found an issue already covering this issue over there.. so this can be closed.
https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/153

[2015-06-10 17:22] #3408 closed

[2015-06-10 18:47] alqasem opened #3409 "grok template"
how to create a grok template,
thank you

[2015-06-10 18:54] untergeek commented on #3409
We always try to help new users with their configuration questions.  However, GitHub issues are for reporting software errors, problems, and failures.

We do have an online forum where requests for assistance are answered by the community. Please make this request for assistance in our [logstash discussion forum](https://discuss.elastic.co/c/logstash).

[2015-06-10 18:54] #3409 closed

[2015-06-10 19:31] colinsurprenant commented on #3406
maybe print a message like "... still waiting for in-flight event to be processed, to force abort with the risk of loosing in-flight events hit ^C"

Also, if a second ^C is hit to force abort, we could first try to abort all plugins/workers and then pop all events from queues and log these as "lost" events?

[2015-06-10 20:33] jordansissel opened #3410 "[site] Migrate logstash.net content and redirects to elastic.co"
It's time to merge logstash.net's purpose into elastic.co fully!

Main points:
* New users google for things and find old versions of content on logstash.net instead of newer content relevant to the current release of Logstash.
* SEO for Logstash.net isn't great right now, and the marketing team has better visibility/tooling to improve this problem on elastic.co's infrastructure.
* The documentati

[2015-06-10 20:34] jordansissel commented on #3410
cc @tbragin & @suyograo

[2015-06-10 20:35] lucashenning opened #3411 "Logstash 1.5.0 plugin crash with rest-client dependency"
Hi,
I have an issue regarding logstash plugins which have a dependency to [ruby rest-client](https://rubygems.org/gems/rest-client). Receiving an event causes the following exception:

[code]

When a .netrc file with 0600 permissions is created in /home/xxx/ Logstash throws this exception:

[code]

For further information please see:
https://github.com/cyli/logstash-output-slack/issues/1
https://d

[2015-06-10 20:53] ErwanPigneul opened #3412 "New input plugin: logstash-input-algolialogs"
I've created a new Logstash input plugin: https://github.com/ErwanPigneul/logstash-input-algolialogs

It just retrieve last logs from an algolia app.

Disclaimer: this is my first writing Ruby code!

[2015-06-10 21:59] markwalkom commented on #2088
More discussion on this happening at https://discuss.elastic.co/t/skip-header-line-in-csv-input-v-1-5-0/1386/2

[2015-06-10 22:11] suyograo opened #3413 "[docs] Consistency pass over plugin reference docs across 1.5 and 1.4"
- [x] Remove TODOs from existing plugins docs https://github.com/elastic/logstash/issues/3268
- [x] Remove charset enumerated values (we render a big blog of charsets for every input) since it is deprecated. For example: https://www.elastic.co/guide/en/logstash/current/plugins-inputs-drupal_dblog.html#plugins-inputs-drupal_dblog-charset
- [x] Convert remaining markdown formatted lines to asciidoc

[2015-06-10 22:14] suyograo opened #3414 "[docs] Improve getting started docs/tutorial"
- [x] Split the getting started to a short version and long (advanced) version
- [x] Update this content with plugins
- [x] Add more examples for sending logs and non-log data like tweets to destinations
- [x] Remove any old, outdated references
- [x] Add glossary of common terms

[2015-06-10 22:21] kryptek commented on #3146
[code]

[2015-06-10 22:46] suyograo opened #3416 "[docs] Add deployment guide section for Logstash"
Add a multi-chapter deployment reference guide for Logstash docs. This should cover both scaling for throughput and also for achieving high availability. This doc should start with a simple scenario to deploy LS using a file input and ES as sample output.  We can then introduce more complex deployment architectures using diagrams. Specifically it should cover:

- [x] Simple 1 instance Logstash wit

[2015-06-10 22:51] suyograo opened #3417 "Logstash document improvements"
Meta issue to track improvements to Logstash [reference docs](https://www.elastic.co/guide/en/logstash/current/index.html)

- [x] Add deployment guide section for Logstash https://github.com/elastic/logstash/issues/3416
https://github.com/elastic/logstash/issues/3410
- [x] Improve getting started docs/tutorial https://github.com/elastic/logstash/issues/3414
- [x] Organize plugin documentation bett

[2015-06-10 22:52] suyograo commented on #3416
/cc @tbragin @palecur

[2015-06-10 22:53] suyograo commented on #3417
/cc @tbragin @palecur

[2015-06-10 23:49] suyograo commented on #3410
:+1:

[2015-06-10 23:54] suyograo opened #3418 "[docs] Organize plugin documentation better"
Today the plugins docs are rendered as a long list. We should look into adding a table with multiple columns to organize the docs better. The columns can be current version, quick description, link to github, link to rubygems.org and so on

* [x] Documenting plugins bundled in core https://github.com/elastic/logstash/issues/3841
* [x] Concerns on mobile readability https://github.com/elastic/logst

[2015-06-10 23:55] maximede opened #3419 "New input plugin REST call"
Hi, I've just created a new input plugin.
It allows logstash to make periodic call to a rest api ( currently only JSON ) and send the resulting JSON in an logstash event.

The idea behind this plugins came from a need to read springboot metrics endpoint, instead of configuring jmx to monitor my java application memory / gc/ etc.

https://github.com/maximede/logstash-input-rest

Cheers

Maxime

[2015-06-11 00:44] #3406 closed

[2015-06-11 03:05] itzg commented on #3038
FYI, I just updated the plugin/gem to use the [new jar dependencies strategy for 1.5.0](https://github.com/logstash-plugins/logstash-output-elasticsearch/pull/101).

[2015-06-11 07:40] sybnex commented on #3400
After implementing the following filter:

[code]

Logstash is not crashing anymore.

It seems there is an issue on very large log lines (> 100.000 lines).
Sometimes logstash was crashing on the grok filter during parsing of such large things or during the shipping to elasticsearch.

grok:
[code]

Sadly I can't ship the logfiles.
But it could be tested with very large input (in my example a huge so

[2015-06-11 09:13] Rajeshkumar123 opened #3422 "XML Filter not parsing fields mentioned inside XPATH in Logstash 1.5.0"
When I pass the xml files to logstash via logcourier. The xml files are not parsing properly.

Below is my logstash code.

input{
courier {
port => 10545
transport => "tcp"

}
}

filter{

if [type] == "system_log" {

 xml {
    source => "message"
    store_xml => false
    xpath => [
        "/system/@message","system_message",
        "/system/@detail","detail",
        "/system/@host","host",

[2015-06-11 10:47] pvanderlinden commented on #3275
I saw the hang issues on a different stall issue are solved as of 1.5.1, I will wait for that release, and test it on staging, see if it will solve the problem. Upgrading/downgrading logstash is a bit to painful to do often (the only solution with an upgrade seems to be restarting the whole machine)

[2015-06-11 11:34] slava-vishnyakov commented on #3361
@ph Thank you for the fix! Works as expected!

[2015-06-11 12:55] purbon commented on #3314
@JohanGregoire closing this issue for now, as soon as you get more intel on your proxy config, feel free to create a new issue with it, or also reopen/update this one. Thanks a lot for your feedback.

[2015-06-11 12:55] #3314 closed

[2015-06-11 13:43] ph opened #3424 "Using a private offilne gem server might not work"
There was a report on IRC that using a private gem server in the Gemfile did not work as expected, the `bin/plugin install --no-verify XXX` command would just hang.

Running the command with the `DEBUG=1` options is returning this:

[code]

The machine has no direct access to the internet and there is no proxy available.

[2015-06-11 13:44] ph commented on #3424
Related to #2376 and #3404

[2015-06-11 13:46] purbon commented on #3424
@ph If the private Gemserver has access to rubygems or all dependencies I see no particular reason why this should not work.

If the private gemserver has already all dependencies on it, so it has no need to go to rubygems it should work even if no connection in the gemserver ( but it should vary from gemserver to gemserver configuration).

[2015-06-11 13:48] ph commented on #3424
@purbon _it should work_, I think we have to test this scenario.

[2015-06-11 13:49] purbon commented on #3424
But define the scenario for the gemserver?  Which scenario are we talking about?

```LS -> private gemserver -> internet -> rubygems.org ```

or

```LS -> private gemserver -> (no connection to anywhere)```

w.

[2015-06-11 13:50] ph commented on #3424
**LS -> private gemserver -> (no connection to anywhere)**

[2015-06-11 13:53] purbon commented on #3424
now is more clear to me, we should definitely test this situation, and not hang without a warning :+1:

[2015-06-11 14:18] ph commented on #3402
Are you using the multiline filters ?

[2015-06-11 14:19] ph commented on #3402
@omribahumi @banzayats Can you link your configuration?

[2015-06-11 15:34] ph opened #3427 "Cached StringInterpolation is slower for simple string with no template tag"
The new caching mechanism make simple template that doesn't contain tags slower than the previous implementation that wasn't using a compiled template.

Not sure why it is the case, the logic is similar to what we were using before, I am not generating a template if there is no `%` present in the string.

See https://github.com/elastic/logstash/pull/3425 for details and numbers.

[2015-06-11 16:03] teknogeek0 opened #3428 "1.4.3 crashing with heroku and redis plugins"
Hi there,
  Just made the upgrade to 1.4.3 from 1.4.2 today, and right off the bat I can't get Logstash to stay running beyond startup. With --debug I still see nothing that appears to spell out what is going wrong. It just starts and dies. Configs are fine.

On Ubuntu 14.04
Logstash 1.4.3
Latest redis and Heroku gems ( tried stripping out vendor gems for these as well).

Thanks,
- Chris

[2015-06-11 16:52] teknogeek0 commented on #3428
Removed all of Logstash, reinstalled, and... now its working. Closing.

[2015-06-11 16:59] teknogeek0 commented on #3428
Jokes on me. A few minutes after getting the process to run again, it stops.

[2015-06-11 17:14] dirtdiver512 commented on #3361
All,  Not sure i am having a related issue but the LS is hanging.  it works for sometimes a few minutes to a few hours then just hangs.  I try and stop the service and it will not stop so I have to kill it, then restart it.  nothing in the logs.  I replaced the file here:

https://raw.githubusercontent.com/driskell/logstash/fe1cb7c91f13fda1661b9471dbcc4bd390b4d487/lib/logstash/pipeline.rb

[2015-06-11 17:42] alqasem commented on #3409
thank you,
i found how to create it.

[2015-06-11 18:00] #3428 closed

[2015-06-11 18:15] talevy opened #3429 "JDBC/SQL Plugin Proposal"
Link to Plugin: [here](https://github.com/logstash-plugins/logstash-input-jdbc)
#### Purpose of the issue

Understand any features or databases to provide support for with the jdbc plugin for logstash as
the community [jdbc-river](https://github.com/jprante/elasticsearch-jdbc) becomes deprecated.

---

### What is the purpose of logstash-input-jdbc?

1. Generic plugin for supporting all databases

[2015-06-11 18:15] talevy commented on #3429
in response to #2476

[2015-06-11 18:43] suyograo commented on #3429
@dadoonet any comments?

[2015-06-11 19:09] wastedepository opened #3430 "When using file wildcards, logstash drops initial lines"
When I use a wildcard character in the input file path, Logstash behaves very strangely. Say I have some input file, called test1, which I print some log entry message to 5 times ("message1", "message2", etc.), with each message coming half a second apart. I do this printing while Logstash is not running. However, Logstash is "up to date" with the file, except for these new lines.

When I start Lo

[2015-06-11 20:31] karasmeitar opened #3431 "Logstash delete config is stuck"
i'm trying to delete a document from elasticsearch using logstash.
my config is:
input {
      s3 {
          bucket => "*"
          access_key_id => "*"
          secret_access_key => "*"
          prefix => "tmp2"
          region => "us-east-1"
          codec => json
          delete => true
          interval => 60
      }
}
output {
elasticsearch {
 host => "*"
        protocol => "http"

[2015-06-11 20:38] arbourd commented on #1809
@frederikbosch I had to `sudo update-rc.d logstash defaults` to get the service to run on boot after updating

[2015-06-11 21:14] frederikbosch commented on #1809
@arbourd Thank you for the reply, I already found out, but very kind to answer my question!

[2015-06-11 22:44] suyograo opened #3432 "[docs] Update plugins to consistently use the hash syntax across the board"
There are few plugins listed below that use the old syntax `[key, value]` for config that has `:validate => :hash` property. We need to make sure they consistently use the `{key => value}` syntax. For example,
https://github.com/logstash-plugins/logstash-codec-graphite/blob/master/lib/logstash/codecs/graphite.rb#L20

- [x] logstash-codec-graphite
- [x] logstash-filter-elasticsearch
- [x] logstash-

[2015-06-11 22:48] suyograo opened #3433 "Fix it Friday theme: Doc improvements"
This week's theme (Jun-12-2015) for Fix It Friday is docs improvement. Specifically we should target (in the following priority):

- [x] 1. Clean TODOs in Logstash reference docs #3268
- [ ] 2. Update plugins to consistently use the hash syntax across the board #3432
- [ ] 3. Identify plugins with poor documentation and file tickets

[2015-06-12 05:37] SMMAN commented on #3127
Hi, I confirm we are having the same issue with:
java version "1.7.0_79"
OpenJDK Runtime Environment (rhel-2.5.5.3.el6_6-x86_64 u79-b14)
OpenJDK 64-Bit Server VM (build 24.79-b02, mixed mode)

CentOS release 6.6 (Final)

logstash-1.5.0

What about this news:
http://jruby.org/2015/05/05/jruby-1-7-20.html

Github Issues resolved for 1.7.20:
* #1754 - JRuby 1.7.11 (bundled with LogStash v. 1.4.1) fai

[2015-06-12 07:36] deusofnull opened #3435 "Logstash netflow codec error: "Ignoring netflow version...""
Hi there,

I am trying to send netflow data to logstash via a manual backfilling technique.  After generating netflow data files using nfdump, I try and send the data over nc to logstash on an input port configured to listen for netflow data.

My input looks like this:
[code]

I am sending the logs in this fashion:
[code]

My error log @ /var/log/logstash/logstash.log:
[code]

Can anyone suggest w

[2015-06-12 09:35] mlecoq opened #3436 "logstash 1.5.0 - json filter - json parse failure on first line"
Hi,

 I have a strange behaviour with logstash and json filtering (I am using logstash 1.5.0).

With the following configuration:

[code]

For every file containing well formed json (one json document per line), a parse failure occurs on the first line (and only the first one !).

In fact, logstash does not read the whole line:

{:timestamp=>"2015-06-12T11:21:44.463000+0200", :message=>"Trouble pa

[2015-06-12 12:45] mjadas commented on #3127
And I can confirm the error on Solaris 10 on SPARC, logstash 1.5.0, Oracle JDK 8u45.
Oddly, it was shipping logs just fine for a week or so, but this error occurred when I restarted it.

[2015-06-12 15:28] suyograo commented on #3099
We started to maintain changelog on every plugin repo. https://github.com/logstash-plugins/logstash-output-elasticsearch

We need to backfill the changes, but moving forward all changes will be recorded.

[2015-06-12 17:47] ralphm commented on #3334
This seems to be related to #3152.

I think I'd like install to just install the specified version, and update dependencies if needed, possibly after confirmation (or a `--force`). It seems that `plugin update` lacks a version flag, so it will always try to install the latest known version. Additionally, the chef cookbook by lusis doesn't (currently) have support for `update`.

[2015-06-12 18:55] karasmeitar commented on #3431
i forget inserting document_id

[2015-06-12 18:55] #3431 closed

[2015-06-12 20:26] mrlesmithjr commented on #2798
Also experiencing the following running 1.5.0 GA.
{:timestamp=>"2015-06-12T14:48:11.354000-0400", :message=>"retrying failed action with response code: 429", :level=>:warn}

[2015-06-12 20:54] talevy commented on #2798
@mrlesmithjr that is occurring because your ES cluster is not able to handle the indexing rate your are pushing with Logstash. For such messages received from ES, Logstash will try and retry to submit them. 429 is a response code returned from ES representing "TOO MANY REQUESTS"

[2015-06-12 20:59] mrlesmithjr commented on #2798
@talevy good info as that is where I was headed in looking as well. Thanks for the info!

[2015-06-12 21:00] talevy commented on #2798
@mrlesmithjr we actually just updated our docs to explain this more here: https://github.com/logstash-plugins/logstash-output-elasticsearch/blob/master/lib/logstash/outputs/elasticsearch.rb#L37-L63.

next time we generate our docs for the website, it should show up there with nice formatting!

[2015-06-13 09:00] purbon commented on #3419
Cool, This is very interesting. Are you willing to have this integrated in the https://github.com/logstash-plugins plugins org? this would be very nice. If you're up for it, I can start having the repos setup.

[2015-06-13 14:35] morgango commented on #3429
1. The SQL statement will be large and typically multi-line, which could make this config unwieldy.  It would be good to have an option to read the SQL from a file, similar to what is done with the translate plugin.

2.  An advanced feature might be to have an SQL filter that would execute based on an event and is able to use the event values as part of the connection string.  I have seen this use

[2015-06-13 15:31] maximede commented on #3419
Yes of course, that would be great. What do you need me to do for that?

[2015-06-13 17:12] purbon commented on #3419
I will create the repository and let you know, then you should submit a PR there and after a review process it will get merge in and you can start doing releases from there. Makes sense?  BTW, you also get access to our lovely jenkins for CI.

[2015-06-14 03:15] maximede commented on #3419
OK, perfect.

[2015-06-14 16:23] robmckeown commented on #3429
take a look at logstash-input-genjdbc - similar.
It would be good to consolidate these various JDBC/SQL approaches into one plugin, and keep it simple. There are no ends of interesting extensions here, but in my case at least, I just need basic SQL query execution on a schedule/with state(high-water marks) maintained.

[2015-06-14 20:36] jrgns commented on #3429
I've been thinking about a SQL plugin for a while, and thought that a Sequel (http://sequel.jeremyevans.net/) plugin would be the best way to ensure a simple implementation that covers a lot of different use cases. By using one parameter (`database_uri`) you can specify everything from the database type, adapter, username and password in one line. See http://sequel.jeremyevans.net/rdoc/files/doc/o

[2015-06-14 20:37] jrgns commented on #3419
Can't this be implemented by using the HTTP input plugin?

[2015-06-14 20:45] jrgns opened #3437 "New Input Plugin: CloudWatch"
I created a CloudWatch plugin to pull AWS metrics into Logstash: https://github.com/EagerELK/logstash-input-cloudwatch

A sample config:

[code]

The code is fully documented, but it needs tests.

Guidance on if this is something useful and on what tests to add are welcome.

[2015-06-14 23:55] coolzong opened #3438 "failed to open C:/xxx/xxx.log: cannot link Java class RubyFileExt"
When run logstash 1.5 on Windows, always meet such lines in it's log, and collect log function also fail.

[2015-06-14 23:58] markwalkom commented on #3438
What version of LS, what does your config look like.

[2015-06-15 00:04] coolzong commented on #3438
version: 1.5.0

config:
input {

  file {
    type => "TPLOG"
    path => [ "C:/TPS/TPLOG_*.log" ]
    sincedb_path => "D:/logstash/sdb_TPS.txt"
    start_position => "end"
    add_field => { "Fab" => "S1"
                   "Location" => "TPS" }
  }

  file {
    type => "TPError"
    path => [ "C:/TPS/MESError\-*.log" ]
    sincedb_path => "D:/logstash/sdb_TPErr.txt"
    start_position => "end"

[2015-06-15 00:53] coolzong commented on #3438
After change into JRE1.7, the problem solved.

[2015-06-15 00:57] markwalkom commented on #3438
What version were you on previously?

[2015-06-15 00:57] coolzong commented on #3438
I run JRE1.6 because the machine resource is limited and HW config is low( just are many PC with 2G memory and 2 core cpu), and just can run client type JVM. JRE 1.6 consume less resource.

[2015-06-15 00:58] markwalkom commented on #3438
LS 1.5 doesn't support java that old.
Take a look at https://www.elastic.co/subscriptions/matrix

[2015-06-15 00:58] #3438 closed

[2015-06-15 03:17] maximede commented on #3419
Which http input plug-in are you talking about?
Most of the http plug-ins I saw were doing the opposite of mine.  They are using logstash as a Web server to receive http calls.

[2015-06-15 04:54] jrgns commented on #3419
Argh, I was thinking of the HTTP output that can be set up as a client and a server. A REST input would be great.

[2015-06-15 05:31] german23 commented on #3272
Hi again,

i have tested logstash 1.5.0 with the updated es-output plugin for about 2 weeks and no problems occured during this time(also the performance was great compared to 1.4 ).

The issue can be closed

[2015-06-15 06:03] suyograo commented on #3272
@german23 thanks. Any numbers on performance compared to 1.4?

[2015-06-15 06:24] KlavsKlavsen opened #3440 "logstash 1.5.0 freeze"
After upgrading to logstash 1.5.0 (from 1.4.2), it freezes atleast once - every day (so far - has gone on for 5 days now)..

The logstash instance(s) where this happens (all 4 of them), have 1 job - input from redis and output to ES.

When I try to stop it - it fails to stop as well:
 /etc/init.d/logstash stop
Killing logstash (pid 8979) with SIGTERM
Waiting logstash (pid 8979) to die...
Waiting l

[2015-06-15 06:30] KlavsKlavsen commented on #3440
the only thing logstash logs is when redis app. can't be connected to:
{:timestamp=>"2015-06-15T08:27:51.456000+0200", :message=>"Redis connection problem", :exception=>#<Redis::TimeoutError: Connection timed out>, :level=>:warn}

but even though it logs this, the logstash init script can't stop logstash.

[2015-06-15 08:04] nellicus commented on #3429
@talevy @suyograo

1)beside the timestamp watermark :sql_last_time it would be great to have a ID based watermark e.g. :sql_last_id , it is quite common to have tables where no timestamp is specified or it is but it doesn't indicate a sequentiality of the inserted events with relation to previous ones.
so keeping the last_id of last_timestamp used by the query, ideally persist it always to file an

[2015-06-15 09:19] purbon commented on #3419
There is actually another proposal doing a similar thing with this plugin, reference at https://github.com/elastic/logstash/issues/3387, it would be nice to see what differentiate both :smile:

[2015-06-15 09:57] mlecoq commented on #3436
Ok, found it. The file was being written before launch of logstash.

[2015-06-15 09:57] #3436 closed

[2015-06-15 11:36] #3400 closed

[2015-06-15 11:41] banzayats commented on #3402
My config: http://pastebin.com/U2Ht1m8L

[2015-06-15 13:08] osamahf opened #3443 "convert the format of my logsdate from Straing to date format"
Hi,

I have a probleme in the date format of my logsdate :

In fact i wanna replace the @timestamp displayed in the kibana by my log date but the probleme is that kibana and logstash consider my logs date as a String not a date format For example if i put this code:

 input {
stdin{}
   }
filter {
date {
    locale => "en"
    match => ["message", "YYYY-MM-dd;HH:mm:ss.SSS"]
    timezone => "Europe

[2015-06-15 13:48] rothwm commented on #2780
I'm getting the exact same issue. Java version 8 on Logstash 1.5. I've followed this workaround and am still getting the issue.

Administrators-MacBook-Pro-4:logstash-1.5.0 administrator$ ./bin/logstash version
logstash 1.5.0
Administrators-MacBook-Pro-4:logstash-1.5.0 administrator$ ./bin/logstash -e 'output { elasticsearch {} }'
The error reported is:
  missing class or uppercase package name (`

[2015-06-15 15:35] #3443 closed

[2015-06-15 17:29] abdalians commented on #2593
nellicus did you get anywhere with this?

[2015-06-15 18:34] aleksz commented on #1590
Looks like using codec is not an option due to other bug, that mixes lines when multiline codec applied to multiple files.

[2015-06-15 19:22] ramreddy26 commented on #3402
I am having same issue, logstash hangs after startup. It doesnt process any logs, I am using multiline filters.

Jun 15, 2015 3:13:37 PM org.elasticsearch.node.internal.InternalNode <init>
INFO: [logstash-xxx-14285-8042] version[1.5.1], pid[14285], build[5e38401/2015-04-09T13:41:35Z]
Jun 15, 2015 3:13:37 PM org.elasticsearch.node.internal.InternalNode <init>
INFO: [logstash-xxx-14285-8042] initial

[2015-06-15 21:07] elvarb commented on #3429
For reference here are the JDBC plugins I know of that are in the works

https://github.com/logstash-plugins/logstash-input-jdbc
https://github.com/IBM-ITOAdev/logstash-input-genjdbc

And I agree, having two or more for the same job is not ideal at the moment.

One feature that I would love to have in the end is some way to monitor its status in some way. What happens if an error comes up in the p

[2015-06-16 05:31] german23 commented on #3272
Looked at the average CPU load over 2 weeks, its 15% lower than with 1.5.
While parsing mostly Windows Eventlogs with json input and mostly grok/mutate filters, the maximum throughput we expected increased from 6000 events/s to 10000 events/s.

[2015-06-16 06:44] sugansan commented on #2076
When we rename the field, elastic search says that field not found. Do i have to create field in mapping  template for the renamed field?

[2015-06-16 10:01] tomrade commented on #3429
Would be nice to be able to select the database ID/key to use as the ES Doc ID , you can likely do this with other filters (ruby comes to mind) but would be useful if it was in one place

[2015-06-16 10:20] purbon opened #3444 "Installing empty plugins"
If you install (with ```bin/plugin``` )  an empty, aka no ```*.gemspec```,  plugin LS does not complain during the installation process, however afterwards ```bin/plugin list``` does not show the gem content wise it was not good enoughs.

details:

[code]

Even rare, this situation could happen, I think we should detect them somehow and react as expected, for example reporting the error to the use

[2015-06-16 10:38] JulienPalard opened #3445 "Grok pattern for NCSA log"
I was reading [grok patterns](https://github.com/elastic/logstash/blob/v1.4.2/patterns/grok-patterns) and found your pattern to parse combined apache log
your pattern to parse combined apache log, namely the NCSA log format, does not accept spaces in the `authuser` field:

[code]

I read [every](https://en.wikipedia.org/wiki/Common_Log_Format) [documentations](http://httpd.apache.org/docs/2.2/mod/

[2015-06-16 10:46] nellicus opened #3446 "event enrichment via dynamic lookup"
event enrichment via dynamic lookup as a plugin.

lookup table could reside on a:
- csv file;
- database table;

in both case the data should be:
- reloadable periodically (to allow new values to be loaded without need to restart logstash);
- cacheable with max amount of memory/entries in cache configurable;

filter{
   lookup{
      name => this_lookup
      type => csv/jdbc/elasticsearch
      /

[2015-06-16 10:49] nellicus commented on #3446
@jsvd @purbon as discussed, cc @suyograo

[2015-06-16 12:59] avcherkasov opened #3447 "gelf listener died"
hi there,
i have es 1.5.2+logstash 1.5.0
and there an input gelf on 12201 port by udp in my config.
I have a lot of docs receiving by this input, but it's a lot of exceptions also(
:message=>"gelf listener died", :exception=>#<LogStash::Json::ParserError: No content to map due to end-of-input
 at [Source: [B@7221f4fe; line: 1, column: 1]>, :backtrace=>["/opt/logstash/vendor/bundle/jruby/1.9/gems/l

[2015-06-16 14:29] simonjohansson opened #3448 "Logstash 1.5.0 - Can not reliably create tests for my grok patterns."
Howdie. We want to roll out 1.5, currently we are on 1.4.

We have a bunch of tests to make sure our patterns are correct but half of them are not passing with 1.5, for the sake of easy debug I have supplied a working and a failing test here(if you want my real tests and configs, please let me know). Curiously I noticed that grok matching does not work, unless the source field comes from a previou

[2015-06-16 16:42] dforste commented on #3440
I am having a similar issue with an almost identical setup from what I can tell. I was able to get a thread dump of the unresponsive processes with jstack -F
https://gist.github.com/dforste/660059a12d2b82206776

RHEL 6.6
LS 1.5.0
Java jdk1.8.0_31

[2015-06-16 17:16] KlavsKlavsen commented on #3440
It seems to have helped the issue, that I lowered the redis max queue size to 1GB.. atleast it hasn't happened since.

I inserted a statsd section (setting sender => "myhostname") - to get a counter on what logstash is doing.. so I can see when anyone of the LS processes freezes.. it seems 2 (out of 4) have frozen currently.. I'll restart them later and see if they "start again"

[2015-06-16 17:54] jordansissel opened #3449 "Prerelease plugins cannot be used"
[code]

The plugin was found, sorta, but failed to load.

If I try to uninstall it, uninstalling claims it's not installed:

[code]

---

If I version the plugin as non-prerelease, things seem to work:

[code]

[2015-06-16 18:28] colinsurprenant commented on #3003
is this solved with the new lumbejack input safety checks? for tcp inout we can open a new issue specific to that?

[2015-06-16 18:58] dforste commented on #3440
Per comments in https://github.com/elastic/logstash/issues/2894 I am trying to change output to http to see if that helps.

[2015-06-16 19:07] ph commented on #3440
Are you using the multiline filter or metrics filter in your configuration, I don't see anything mentioning it but we have just released 1.5.1 (today) that include a fix for a deadlock issue with theses plugins?

[2015-06-16 19:55] KlavsKlavsen commented on #3440
I was running es http and this happened.. and then I swithed to "default" transport instead (to ingest faster)..

[2015-06-16 20:02] ph commented on #3440
@KlavsKlavsen Would you mind posting your configuration that hang logstash?

[2015-06-16 20:03] jordansissel commented on #3440
If http is slower than the default transport, then there's a bug.

[2015-06-16 20:09] KlavsKlavsen commented on #3440
input {
  redis {
        host => "p-elasticlog.internal.idk"
        # Remember that type does NOT overwrite trype from shipper!
    type => "redis-input"
    # these settings should match the output of the agent
    data_type => "list"
    key => "logstash"
    codec => json
    threads => 8
  }
  redis {
        host => "p-elasticlog.internal.idk"
        type => "netflow"
    data_type => "lis

[2015-06-16 20:10] andrewvc commented on #2547
@jordansissel I'm thinking that we just check for JVMs < 1.7.0_51 b04 and print the warning there. A lot of the Lucene bugs are for fairly old versions. Additionally, JDK7 is almost EOL anyway.

Your thoughts?

[2015-06-16 20:14] colinsurprenant commented on #3440
the original problem definitely seems related to the deadlock issue fixed in #3378 described in issue #3361

[2015-06-16 20:16] jordansissel commented on #2547
@andrewvc +1 on your proposal.

[2015-06-16 20:16] colinsurprenant commented on #3440
I forgot to add that per the original description «it seems that it especially happens around "index rollover" where the redis queue builds up»

[2015-06-16 20:16] KlavsKlavsen commented on #3440
in regards to speed 1.5.0 seems a lot slower.. with 1.4.2 (or perhaps earlier) with default transport, I could get upto 1.5mill. docs/min (when queue had built up -normal avg. is 100-200k docs/min) - when all 4 was running, but now I only get ~300k with two working. Right now, only 2 of the logstash agents reports numbers (via statsd). counters from that is ~1800k/min from both - and the other two

[2015-06-16 20:17] KlavsKlavsen commented on #3440
with http transport with all 4 (before 1.5.0) I could get a max of about 600k docs/min.

[2015-06-16 20:22] KlavsKlavsen commented on #3440
I have numbers from ES (index size etc.) collected every minute for the last year.. so I have a lot of numbers if you want them.. and all changes to production (except manual restarts of services) is in version control ofcourse.. so I can pinpoint when changes has been commited :)

[2015-06-16 20:25] colinsurprenant commented on #3440
@KlavsKlavsen could you test with 1.5.1?

Looking at the 1.5.0 deadlock code we fixed, I think it might be the problem here but there is also an unsolved shutdown problem where if the output plugins are completely stalled, the shutdown event will not be correctly propagated until the output plugins are un-stalled.

[2015-06-16 20:30] ph commented on #3440
@KlavsKlavsen which version of the `logstash-output-elasticsearch` you are currently using? You can get the version by running this command `bin/plugin list --verbose logstash-output-elasticsearch`. We have changed the defaults in the es output related to timeout that could probably help.

If it is slower we certainly need to fix this!

[2015-06-16 20:33] colinsurprenant opened #3451 "stalled outputs will prevent proper shutdown"
This is a meta issue to track related shutdown issues.

--------------------------------------------------------
### Problem
Logstash refuses to stop if the output is stalled.

### Details
If the output plugins are stalled and not popping events from the `@filter_to_output` and back pressure propagates, upon shutdown request the `LogStash::SHUTDOWN` event will never be pushed because queues will b

[2015-06-16 20:56] colinsurprenant commented on #3440
@KlavsKlavsen I suggest we move the performance discussion in another issue and keep this one about the original shutdown problem. When you create that performance issue could you please explain/clarify the performance numbers you mentioned above - I have a real hard time understanding what you reported. maybe format it table-like?

[2015-06-16 22:29] jordansissel commented on #3210
I might be misreading a bit, but if we consider the public interfaces, is 'stop' the only public interface of these three? Seems like 'stop?' would only be invoked inside a plugin to inquire if it should stop, and 'close' would only be invoked by the plugin as part of of the 'run' method (for inputs) completing.

What we have today is a kind of in-band signalling (the LogStash::ShutdownEvent), and

[2015-06-16 22:36] jordansissel commented on #3359
Also these pages are 404 on logstash.net and should redirect to appropriate places on elastic.co:

/docs/1.5.0/extending/example-add-a-new-filter
/docs/1.5.0/getting-started-centralized
/docs/1.5.0/extending/
/docs/1.5.0/release-notes
/docs/1.5.0/tutorials/metrics-from-logs
/docs/1.5.0/life-of-an-event
/docs/1.5.0/installation
/docs/1.5.0/tutorials/getting-started-simple
/docs/1.5.0/contrib-plugin

[2015-06-16 22:39] jordansissel commented on #3359
Most common links from within logstash.net to 404s against pages missing in 1.5.0:

[code]

I'll use these as a basis for updating the 404 routing on logstash.net's 404 page

[2015-06-16 23:33] jordansissel commented on #3359
![screen shot 2015-06-16 at 4 32 02 pm](https://cloud.githubusercontent.com/assets/131818/8196848/43bc877e-1445-11e5-8230-543a08bc22d8.png)

Here's a few samples of improved redirects. The specific redirects and recommendations improvements can be seen in the javascript here: https://github.com/logstash/logstash.net/commit/6af9f355cf632db441cf9229e8b592c57ff3fec8#diff-eaf2b86188ec63e62e4c3e71eb198

[2015-06-17 00:24] jordansissel commented on #3359
I fixed up a few other links I forgot to add in my first pass. Things are looking pretty solid now when I test locally.

I'll deploy to logstash.net tomorrow unless I need to wait; @russorat and @sylvie777; thoughts?

[2015-06-17 01:05] suyograo opened #3453 "Add NOTICE.TXT to Logstash"
We need to add NOTICE.TXT to Logstash distributables.  We should document copyrights of jars used from Apache Software Foundation.
We also need to audit third party compiled code used in Logstash and add information to comply with their Licenses

[2015-06-17 02:06] andrewvc commented on #2687
Thanks for reporting this @AirOnSkin ! We'll pull this fix in soon :)

[2015-06-17 04:24] colinsurprenant commented on #3357
removing `blocker` and `1.5.1` labels, since 1.5.1 has been released.

[2015-06-17 05:56] KlavsKlavsen commented on #3440
certainly - I actually wasn't trying to start a performance discussion.. it's adaquate as it is, and I expect it to scale, if I add more ES nodes anyways..

[2015-06-17 06:19] KlavsKlavsen commented on #3440
Attached graph of how logstash "stops processing" and starts again.. or completely drops out.
![es-graph](https://cloud.githubusercontent.com/assets/2737885/8200714/5bbee806-14c9-11e5-9589-f968e6408bfa.png) (see logstash statsd output in lower right corner). ES Indexing rate is calculated by taking the diff in doc count rfrom ES.

[2015-06-17 06:20] KlavsKlavsen commented on #3440
and when 02 (the green line in lower right corner) started processing, was after I killed and started logstash.

[2015-06-17 06:22] KlavsKlavsen commented on #3440
# /opt/logstash/bin/plugin list --verbose logstash-output-elasticsearch
logstash-output-elasticsearch (0.2.4)
logstash-output-elasticsearch_http (0.0.2)

[2015-06-17 06:23] KlavsKlavsen commented on #3440
the shutdown problem should also be handled in init script.. instead of simply failing to stop - it should end up KILL'ing logstash.. not just giving up.

[2015-06-17 06:26] KlavsKlavsen commented on #3440
and btw. if anyone can explain why numbers from statsd is not similar to indexing rate.. I'd be very interested..  :)

[2015-06-17 07:05] lucashenning commented on #3411
Supplement:
Today I tried Logstash 1.5.1 but the issue is still there. Any ideas?

[2015-06-17 09:02] sylvie777 commented on #3359
@jordansissel Cool! I don't have anything holding back the deployment on my end.

[2015-06-17 09:59] infulka commented on #3246
Never mind. I copied to little files to this location (especially the logstash-1.5.0/Gemfile was missing).

[2015-06-17 12:54] purbon commented on #3453
@suyograo I think we can part automate this in the same spirit of https://github.com/elastic/logstash/pull/3426

[2015-06-17 13:39] ghost opened #3454 "Add "Verbose" to GROK Log Level Pattern Matching"
Currently the default Grok patterns for {LOGLEVEL} does not include handling for log levels that are pushing out in Verbose (though Trace is there).

To save me just having to use the regex in the Grok pattern, it'd be great if this could be included in the default pattern.

[2015-06-17 13:39] omribahumi commented on #3402
@ph I'm not using any multiline filters. Attached (only) the problematic config.
There's a little ruby block at the bottom that has been commented out. I'm pretty sure that the problem existed both when it was commented out and when it wasn't.

[code]

[2015-06-17 14:02] jsvd commented on #3451
This is a duplicate of https://github.com/elastic/logstash/issues/2130

[2015-06-17 15:33] codekitchen opened #3455 "update the plugin jar dependency documentation"
As discussed at https://github.com/elastic/logstash/pull/2980#issuecomment-112597218 , the documentation at https://www.elastic.co/guide/en/logstash/current/_how_to_write_a_logstash_input_plugin.html#_jar_dependencies is now out of date with the new jar dependency vendoring method.

Ideally the new documentation would include some details about how best to get your required jars into `vendor/`, in

[2015-06-17 15:51] equinoxefr opened #3456 "Bug with "-" : character class has '-' without escape"
Hi,

I have an error logged in logstash.err since version 1.5 on Centos 6.X with official rpms.

/opt/logstash/vendor/bundle/jruby/1.9/gems/jls-grok-0.11.2/lib/grok-pure.rb:177 warning: character class has '-' without escape

It seems that logstash 1.5 can't handle hostnames with "-".

How can i debug this ?

Regards
Pierre

[2015-06-17 15:52] jordansissel commented on #3456
Can you show your logstash config?

[2015-06-17 15:54] equinoxefr commented on #3456
input {
udp {
 port => 5514 ## change me to whatever you set your ASA syslog port to
 type => "cisco-fw"
 host => "172.31.112.6"
 tags => ["cisco-asa"]
 }

udp {
 port => 5514 ## change me to whatever you set your ASA syslog port to
 type => "syslog"
 host => "172.31.112.4"
 tags => ["vcenter"]
 }

syslog {
 host => "172.31.112.5"
 tags => ["linux"]
 type => ["linux"]
}

syslog {
 host => "172.31.

[2015-06-17 16:02] colinsurprenant commented on #3451
#2130 is really focused on the exception handling and this ticket describes the general condition that leads to preventing proper shutdown where "stalled outputs" can be for any number of reason, one of which is that the output plugin crashed. I think we should keep this ticket open because I believe that the proper fix is not limited to improving exception handling...

[2015-06-17 16:08] splashx commented on #3422
Please post a sample of your message.

[2015-06-17 16:09] maximede commented on #3419
I think that the biggest difference is that the plugin in #3387 is putting the whole response in the message field.
As mine is expecting JSON, it decodes the payload and creates fields based on the received json.
I think that they both serve a different purpose.

[2015-06-17 16:28] Zedoki commented on #3311
Hello, I have the same issue in my case it's "Error: Permission denied - /var/lib/logstash/" that cause problem.
http://pastebin.com/bqbWze1R

I updated Logstash to 1.5.1 and the issue still here. I did chmod 777 to this folder but after re-running Logstash, it's get back to his original rights i.e. rw-rw-rw-.

I will try Logstash 1.4.3 to see if issue will be still here.

[2015-06-17 18:44] jordansissel commented on #3456
This message is because of one your grok patterns, not because of a hostname being processed by grok.

In plain ruby, I can cause your warning by using simply this as a regexp `[--]`:

[code]

I'm not sure which of your grok patterns is causing it, or if one of the standard patterns we ship causes this. Hope this helps.

[2015-06-17 19:15] jordansissel commented on #3359
Deployed on logstash.net.

Example http://logstash.net/docs/1.1.13/outputs/elasticsearch_http now recommends folks visit the 'elasticsearch' output on the latest version:

![screen shot 2015-06-17 at 12 13 49 pm](https://cloud.githubusercontent.com/assets/131818/8216280/62e02b60-14ea-11e5-8d1d-4d74eba5fa0f.png)

I'll check back in a week or two to see how 404s from logstash.net-to-elastic.co have

[2015-06-17 19:16] sylvie777 commented on #3359
@jordansissel Excellent! Thanks, Jordan!

[2015-06-17 19:27] suyograo commented on #3359
nice!

[2015-06-17 20:22] ppf2 commented on #3187
+1

[2015-06-17 23:52] suyograo commented on #3383
Closed by https://github.com/elastic/logstash/pull/3423

[2015-06-17 23:52] #3383 closed

[2015-06-18 00:58] svanommen commented on #3311
Pulling my hair out over the same issue. Just tried changing the sincedb path to /tmp/sincedb which I gave logstash ownership of and perms of 777:
drwxrwxrwx  2 logstash      logstash      4096 Jun 17 17:50 sincedb
Started logstash again, it tanked again with the permissions issue again.
Noticed it changed the permissions on the folder to:
drw-rw-rw-  2 logstash      logstash      4096 Jun 17 17:5

[2015-06-18 08:58] lvasiliev opened #3459 "Lumberjack connections stay in CLOSE_WAIT state"
I have a some problem with logstash-1.5.1. After some times Lumberjack doesn't accept new connections. I collected data for debug:

OS:
FreeBSD 9.3-RELEASE-p10
[code]
In this case Lumberjack doesn't accept new connections:
[code]
FreeBSD kernel message:
[code]
[code]

Running process:
[code]

Part of jstack command:
[code]

In normal state:
[code]

[code]

[2015-06-18 09:18] Sodki commented on #3311
As I mentioned before, looks like a legitimate bug. As a workaround, don't use `sincedb_path` on the logstash configuration, but use the `SINCEDB_DIR` environment variable instead. That works.

[2015-06-18 09:33] jsvd commented on #3311
This is a problem of poor configuration documentation, naming and expectations..
`sincedb_path` is not meant to be a directory but a file, that's why it's attempting to write to "/tmp/sincedb_folder" as a file.

To check that it works, setting `sincedb_path => "/tmp/mysincedbfile"` should work fine

[2015-06-18 09:37] ayashjorden opened #3460 "Logstash breaks json message by mixing in another message"
Hi all,
I'm experiencing a weird exceptions where lumberjack input mixes messages from different servers.
logstash-1.5.0 is running on a debian7.8 OpenVZ container, receiving messages from ~30 logstash-forwarder 0.4.0 shippers.

Example log:

[code]

Any ideas?
Thanks,
Yarden

[2015-06-18 09:39] Sodki commented on #3311
That's fair enough, but even then I would argue that Logstash configuration validation should fail if we're trying to use `sincedb_path` on a folder. Currently that folder just gets somewhat trashed, which is less than ideal.

[2015-06-18 09:41] jsvd commented on #3311
Totally agree, I'm opening an issue in logstash-plugins/logstash-input-file to properly give out an error if the destination is a directory.

[2015-06-18 11:35] jsvd commented on #3311
This might be a consequence on inconsistent handling of File.open on MRI and JRuby:

[code]

Digging deeper..

[2015-06-18 12:33] quejinho1988 opened #3461 "Data loss in logstash"
I used rabbitmq as broker to logstash to elasticsearch via http protocol
I use access.log for testing ( i filled it by scriopt that sends 5000 requests )
so the amount of data is 5k of indexed files to es.

At that point while killing logstash i lost about 200 messages.
After talk on irc i changed protocol to node and lost of messages went to ~40 or nothing so it was fine.
After change of SizedQue

[2015-06-18 13:30] Wurzelmann commented on #3214
I've got the same problem:

{:timestamp=>"2015-06-15T11:54:24.265000+0200", :message=>"syslog listener died", :protocol=>:udp, :address=>"0.0.0.0:5517", :exception=>#<SocketError: recvfrom: name or service not known>, :backtrace=>["/opt/logstash/vendor/bundle/jruby/1.9/gems/logstash-input-syslog-0.1.6/lib/logstash/inputs/syslog.rb:138:in `udp_listener'", "/opt/logstash/vendor/bundle/jruby/1.9/gems

[2015-06-18 13:47] purbon opened #3462 "Work on a common coding style guide"
As big as the logstash code base is getting, and specially with having many contributors, lots of different coding styles will encounter. In order to simplify the codebase manageability and in order to simplify reviews we should work out a common coding style.

This style guide should help reviews and also be enforced throw tools like rubocop.

/cc @suyograo @jordansissel

[2015-06-18 14:13] neilprosser commented on #3302
Sorry, I forgot to update this issue. I changed my `forwardedfor` pattern to the following:

[code]

... and Logstash has been much more stable now. I might go back to the old pattern with Logstash 1.5.1 just to try it out but tweaking that regex definitely seems to have sorted out my problems with 1.5.0.

Thanks for all the help on this.

[2015-06-18 14:13] #3302 closed

[2015-06-18 14:19] ph commented on #3302
@neilprosser Great this is solved and thank you for updating this!

[2015-06-18 14:23] ph commented on #3427
I've generated new tests from the PR and its marginally slower.

[code]

Also as soon as you use a sprintf with a date, which you if you use the es output because the plugin uses it for generating the index name. You will get a big performance improvements.

[2015-06-18 14:23] #3427 closed

[2015-06-18 14:29] #3048 closed

[2015-06-18 16:04] andrewvc commented on #3308
@ph what are your thoughts on simply overriding `#inspect` for Event and simply invoking #to_json ? The output will be like:

[code]

vs.

[code]

[2015-06-18 16:09] ph commented on #3308
@andrewvc I'm up for calling `to_json` from `#inspect` since it is mostly only used for debugging and we we don't have any other variables that should be included other than `@data`, make sure you use  `#to_json_with_metadata` and not `#to_json` so have include all the data in the inspect.

[2015-06-18 16:37] cinhtau opened #3464 "pipe input plugin not found under Windows"
using logstash 1.5.1

my input conf
[code]
using configtest gives me
[code]

[2015-06-18 16:39] untergeek commented on #3464
The pipe input cannot work under windows as pipes are a unix-specific thing.  See https://github.com/logstash-plugins/logstash-input-pipe/issues/8

[2015-06-18 16:39] #3464 closed

[2015-06-18 17:29] colinsurprenant commented on #3440
@KlavsKlavsen here's what I suggest: upgrade to logstash 1.5.1 & make sure you have the latest logstash-output-elasticsearch, 0.2.8 is the latest as of now. You can update with `bin/plugin update logstash-output-elasticsearch`. We did fix an important "logstash shutdown freeze" condition in 1.5.1 but there is still other conditions where it can happen as described in #3451

Also, if possible let's

[2015-06-18 19:28] svanommen commented on #3311
Thanks @Sodki, setting the SINCEDB_DIR environment variable workaround is working for me so far! =)

[2015-06-18 22:08] #2687 closed

[2015-06-18 22:11] jordansissel commented on #2687
Deployed @andrewvc's fix to logstash.net

[code]

[2015-06-18 22:59] mrsolo opened #3468 "License report"
See

https://github.com/elastic/elasticsearch/issues/10684

Similar information is required for logstash project

[2015-06-19 00:15] suyograo commented on #3468
@mrsolo can i close this for https://github.com/elastic/logstash/issues/3453?

[2015-06-19 01:10] mrsolo commented on #3468
@suyograo yes please

[2015-06-19 08:38] Zedoki commented on #2780
Using Debian 7 and the latest deb package 1.5.1 of Logstash, I still have this issue when the service start.

I'm using openjdk-7-jdk. I can provide more info if needed.

[2015-06-19 09:50] jordijansen opened #3470 "Logstash 1.5.1 XML filter crashing"
Hi Guys,

I've been migrating our Logstash configuration to be compatible with Logstash 1.5.1 (from logstash 1.4.1). In our configuration we have a XML filter.

When I start logstash in the terminal (so it prints the stdout to the terminal window) and a new event comes through I get the follwoing exception:

[code]

It seems that the Nokogiri has been updated since 1.4.1 could it be that the XML f

[2015-06-19 11:31] wiibaa commented on #3470
Maybe your issue is related to Logstash 1.5 dropping support for Java 1.6, what is your JDK vendor/version ?

[2015-06-19 11:52] jordijansen commented on #3470
I did not know they dropped support for Java 1.6, it is never mentioned in the changelogs or blog posts. I'm kind of stuck with Java 1.6 for now since our machines still run this version.

I will have to wait for the migration or install a seperate JRE for logstash (wich is not preffered by our Ops engineers).

[2015-06-19 14:07] achechen opened #3471 "logstash is not processing most of the gelf messages"
Hello there,

I have a 2 node logstash cluster receiving 3000 messages per second on average. I have just noticed that it is not processing all the messages it receives - they are lost somewhere (UDP packets are coming in but logstash seems to be ignoring them). I am using nxlog and sending logs in gelf format through UDP. Logstash input config looks like this:

gelf {
port => 12205
type => window

[2015-06-19 15:04] untergeek commented on #3471
If this is a GELF specific error or issue, please open the ticket at https://github.com/logstash-plugins/logstash-input-gelf

If it's a general question about performance or configuration, please ask your question at https://discuss.elastic.co/c/logstash

With those said, I can tell you that the UDP socket reader being used by the gelf input plugin is single-threaded.  When I was trying to capture

[2015-06-19 16:06] tylerjl commented on #1729
+1 interest to seeing this through. I'm currently working on a project that will hinge on this eventually, so I'll pitch in some testing + patches when I get time.

[2015-06-19 16:27] #3468 closed

[2015-06-19 17:31] talevy commented on #3429
@morgango
filter exists here: https://github.com/wiibaa/logstash-filter-jdbc

[2015-06-19 17:35] talevy commented on #3429
@nellicus maybe we can store the field values of the last processed row in the sql response? I suppose this would only be useful for when the sql queries have explicit ordering of the response.

[2015-06-19 18:04] suyograo opened #3473 "File input does not work correctly for new files"
We recently found an issue in 1.5.1 where file input crashes when new files are added to a dir being watched. This also fails when you use a wildcard to watch files of certain type and a new file is added, which matches the pattern. The underlying issue has been fixed in filewatch-ruby plugin

- [ ] https://github.com/logstash-plugins/logstash-input-file/issues/51 (waiting verification from user)

[2015-06-19 18:06] suyograo commented on #3473
If users see this issue, you can get the fix by updating just your file input plugin:

`bin/plugin update logstash-input-file`

[2015-06-19 18:10] ph commented on #3277
I've released a new version of the lumberjack input that drop support for the `max_clients`, instead it uses an internal `SizeQueue` that can timeout if the input queue is blocked. So limiting the number of clients will be based on the ingestion capacity.

[2015-06-19 18:13] ph commented on #3003
I've released a new version of lumberjack addressing the OOM issue, please update your plugin and try it out.

[2015-06-19 18:13] #3003 closed

[2015-06-19 18:16] #3277 closed

[2015-06-19 18:28] simonjohansson commented on #3448
Ok, with help from @mrdavidlaing, I managed to sort the failing test.

adding to the top of the failing test
[code]

solves the issue.

[2015-06-19 20:14] andrewvc commented on #2547
Thanks for the idea @electrical ! Merged into master.

[2015-06-19 20:14] #2547 closed

[2015-06-19 20:55] andrewvc commented on #3308
@ph this is now fixed in this new PR: https://github.com/elastic/logstash/pull/3474

[2015-06-19 21:58] achechen commented on #3471
Yes, I have noticed that gelf plugin is single threaded and logstash is simply cannot consume everything, which is frustrating. I guess I am going to have to use redis or Rabbit to queue messages. Also, UDP input with gelf codec sounds a good idea. Thanks a lot. I will try my chance in gelf input page.

[2015-06-19 22:44] untergeek commented on #3471
Closing in lieu of https://github.com/logstash-plugins/logstash-input-gelf/issues/13

[2015-06-19 22:44] #3471 closed

[2015-06-20 00:41] suyograo commented on #3430
Can you test this with the latest 0.1.11 version of file input? /cc @jsvd

`bin/plugin update logstash-input-file`

[2015-06-20 04:26] splitice commented on #3165
I too am confirming this issue with 1.5.0.

Blocks/Modules in use:
[code]

[2015-06-20 04:44] splitice commented on #3440
+1 I can confirm this issue too. Got one worker which I test upgraded from 1.4.x.

Neither processes anything, or stops when asked to stop.

Nothing in the logs to indicate a problem, just frozen.

All plugins up to date, and core at version 1.5.1

[2015-06-20 15:39] johntdyer commented on #3354
Hello,

   I upgraded to JRE 1.8 and havn't seen the issue since.

-John

[2015-06-20 15:50] mvonthron commented on #3127
Reproduced on Debian 8.1 64b + Java 1.8.0_45

The symlink trick or installing libc6-dev solves the problem. Thanks @jordansissel

[2015-06-20 17:30] purbon commented on #3354
@johntdyer makes sense,  I guess best way to get this arranged is people should use an updated version of the jvm. So I will proceed to close this issue. Thanks for reporting back.

[2015-06-20 17:30] #3354 closed

[2015-06-20 18:46] karasmeitar opened #3475 "Create Index base on document attribute dosn't work when the attribute is not at the first place in the json"
Hi All,
I'm trying to create index base on "%{account_id}" value in the json.
it's look like it's only work when the account_id is the first attribute in the json,
if the account_id is second logstash will create index named "%{account_id}" in elasticsearch and not it's value.
could someone assist?
10x!

[2015-06-20 18:56] #3475 closed

[2015-06-20 19:16] purbon commented on #3445
@JulienPalard I think is safe, and might be better to move this issue to https://github.com/logstash-plugins/logstash-patterns-core ? where all this patterns are nowadays living, makes sense to you? can you reopen this issue there?

[2015-06-21 13:35] ayashjorden commented on #3460
checked the file content in hexdump, there are no hidden characters in the string.
Suspecting lumberjack input, can anyone comment ?

[2015-06-21 15:57] purbon commented on #3448
on the other side, have you check the way to create test for patterns at https://github.com/logstash-plugins/logstash-patterns-core/blob/master/spec/patterns/mongodb_spec.rb ? this might be of help for you to make simple test.

[2015-06-21 18:27] suyograo opened #3477 "Performance improvements for plugins"
Meta issue to track and study performance of some plugins which are super popular. In 1.5.0 we improved grok performance (2x throughput in parsing Apache logs) -- similarly we need to focus on the next batch of plugins and see if we can fix any bottlenecks.

Specifically we should:
0. Benchmark existing performance to get a baseline (/cc @purbon)
1. Use a profiler and find the hotspots
2. From 1,

[2015-06-21 19:16] suyograo commented on #3462
+1, how about using an existing style guide as a template and adding anything specific to LS? Like https://github.com/airbnb/ruby

[2015-06-21 19:33] purbon commented on #3462
@suyograo makes sense, there are several good ones, I will work on doing a first draft and then on top of that we can start discussing our specific LS customisations. Makes sense? I will also create a rubocop module so this could be enforced regularly.

this would be so helpful for all of us :+1: :dancers: :+1:

[2015-06-21 20:45] jordansissel commented on #3462
I have a rubocop config in other projects, if you want a starting point.

On Sunday, June 21, 2015, Pere Urbón <notifications@github.com> wrote:

[2015-06-21 20:52] suyograo opened #3478 "Option to limit the size of logstash internal logs and rotate them"
From a user:

----
The logstash -l option allow to write logstash internal logs to the given file. but there is no option to limit the size of the file and rotate the log file
The user will like to have the option to limit the size of logstash internal logs and rotate them.
----

[2015-06-21 20:55] suyograo opened #3479 "Release new logstash-event gem"
Last release to RubyGems.org was https://rubygems.org/gems/logstash-event/versions/1.2.02 on Sep 2013. We need to release a new version for 1.5.0 compatibility.

[2015-06-22 02:13] colinsurprenant commented on #3479
I'd like to propose we restructure the logstash-event gem so that the current logstash event code is moved in that gem and that ultimately we could provide the pure Java implementation as a drop in gem replacement. The current event implementation has some Java dependencies like the use of Joda-Time and I think one reason the currently released logstash-event was never updated is that it is pure-R

[2015-06-22 02:24] colinsurprenant commented on #3462
I like this [guide format](https://github.com/bbatsov/ruby-style-guide) as it includes lots of good/bad examples and is pretty extensive. I did not read all rules in details but from what I saw it looked pretty decent. Maybe we could for that and adjust it to our own taste?

[2015-06-22 03:43] jordansissel commented on #3462
I may be misinformed, but I am pretty sure rubocop is just a codification
of that ruby community style guide. I will link in one of my rubocop
configs when I am home to show you where my preferences deviate(open for
discussion, also)

On Sunday, June 21, 2015, Colin Surprenant <notifications@github.com> wrote:

[2015-06-22 04:14] drocsid commented on #3276
I'm using 1.5.1 and have the same issue:

 sudo service logstash stop
Killing logstash (pid 10409) with SIGTERM
Waiting logstash (pid 10409) to die...
Waiting logstash (pid 10409) to die...
Waiting logstash (pid 10409) to die...
Waiting logstash (pid 10409) to die...
Waiting logstash (pid 10409) to die...
logstash stop failed; still running.

[2015-06-22 05:01] purbon commented on #3462
@colinsurprenant this is actually the other style guide I was talking about, what I will do is compose a first draft, including a rubocop conf that match it, and then throw a PR we can start having a discussion and finally get it into logstash. Makes sense?

[2015-06-22 05:52] jordansissel commented on #3462
Here's the rubocop config I've been using on other libraries: https://github.com/jordansissel/ruby-flores/blob/master/.rubocop.yml

Upon review, the above rubocop does me well except that I recently changed views on implicit returns, so I'd enable the RedundantReturn check instead of disabling it.

[2015-06-22 05:55] jordansissel commented on #3462
(for full disclosure, I am OK if we do not use anything from my rubocop config.)

[2015-06-22 06:23] Wurzelmann commented on #3214
Okay, maybe this helps:

I changed a line in the syslog input gem file (/opt/logstash/vendor/bundle/jruby/1.9/gems/logstash-input-syslog-0.1.6/lib/logstash/inputs/syslog.rb in my case). There's a part, where the TCP listener is defined:

    def tcp_listener(output_queue)
    @logger.info("Starting syslog tcp listener", :address => "#{@host}:#{@port}")
    @tcp = TCPServer.new(@host, @port)

    l

[2015-06-22 06:29] naisanza commented on #3127
@jordansissel Awesome troubleshooting! I can confirm your soft link fixed this issue on Ubuntu 14.10 as well.

[2015-06-22 07:25] purbon commented on #3462
@jordansissel thanks a lot for sharing, is much appreciate it. As I said, next step for me is to build a PR to update the style guide with input from all of this awesome resources plus a rubocop file, then we can start having a discussion to agree/include custom LS additions. Makes sense?

[2015-06-22 07:36] JulienPalard commented on #3445
Reopened here: https://github.com/logstash-plugins/logstash-patterns-core/issues/60

[2015-06-22 07:36] #3445 closed

[2015-06-22 07:39] purbon commented on #3445
Thanks a lot man!

[2015-06-22 07:58] nellicus commented on #3429
@talevy sorry is this re point 1) 2) or 3)? which field are are you referring to? the watermarks? if so what happens when you shut it down? how does it know from which ID to resume from?

[2015-06-22 10:32] inptensib commented on #2261
Hi everybody ! I am trying to insert a json in mongoDb using Logstash-output-mongodb.Mt json objects contains arrayLists fields do i'm getting thi exception:
<NoMethodError: undefined method `bson_type' for #<Java::JavaUtil::ArrayList:0x745ad733>>,
I am using logstash 1.5.1.Thank you !!!

[2015-06-22 11:46] hkhail commented on #3127
I have the same error on Solaris 10 on SPARC, Logstash 1.5.1 & Oracle JDK 7u71

[code]

[2015-06-22 13:12] nellicus commented on #3446
sample implementation and use case

[code]

[2015-06-22 13:32] felipegs commented on #3336
I update to 1.5.1 and the issue persist

[2015-06-22 13:34] purbon commented on #3336
@felipegs Sorry to heard that, can you provide more information about your environment? I would like to reproduce your exact environment and make this issue go away. Looking forward to have more inside from your env to reproduce it.

[2015-06-22 13:45] chris-david-taylor opened #3480 "Logstash fails to startup: rubyjit error"
Hi guys,
I'm wondering if someone can help me.  I'm trying to install an ELK stack on a production machine, and during startup, logstash seems to continually do this:

[Loaded org.jruby.ext.openssl.Utils from file:/opt/logstash/vendor/jruby/lib/ruby/shared/jopenssl.jar]
[Loaded rubyjit$#<Module:0xaa7e604>$$normalize_key_62a82f4a26b627393d03ebd39bbfeb26d9821b65361149577$block_1$RUBY$__file__ from _

[2015-06-22 13:59] chris-david-taylor commented on #3480
Ah, as an update, I spotted this in the verbosity:

[Loaded rubyjit.Module$$method_missing_20d62b1d61b0eb3b2fb0311f0452a847295bc436361149577 from __JVM_DefineClass__]

[2015-06-22 14:12] jlintz opened #3481 "Logstash Stalls"
Since we've upgraded to 1.5.1 from 1.4.x we've been seeing random logstash stalls.  There is nothing in the logs before it happens but then we start seeing

[code]

The only other error we've seen is
[code]
but not sure if its related

Here are a couple of stack traces

https://gist.github.com/jlintz/200442667e07cc500ed0

[2015-06-22 14:37] inptensib opened #3482 "Logstash 1.5.1 : logstash can't send json that contains "lists" to mongoDb"
Hi everybody ! I am trying to insert a json in mongoDb using Logstash-output-mongodb plugin.The json objects contain arrayLists fields so i'm getting this exception:
NoMethodError: undefined method `bson_type' for #Java::JavaUtil::ArrayList:0x745ad733,
I am using logstash 1.5.1.Thank you !!!

[2015-06-22 14:39] gmoskovicz opened #3483 "Logstash input for Cloudwatch"
We need an input to read logs directly from AWS CloudWatch.

Should be similar to https://github.com/logstash-plugins/logstash-output-cloudwatch.

[2015-06-22 15:44] andrewvc commented on #3289
@colinsurprenant @athoune I'm trying to repro this unsuccessfully. It's tricky because its not clear which `<null>` is representing. As @colinsurprenant mentioned, it definitely is not `nil`.

@athoune Have you seen this lately? I've been trying to repro this with the following config:

[code]

[2015-06-22 15:49] andrewvc commented on #3289
@colinsurprenant @athoune Well, I let it run a little longer, and I caught a null. The culprit seems to be: `Twitter::NullObject`.

This would seem to be an issue in the twitter plugin, which should not be passing that through directly.

I'll also look at the error handlers here. We should probably be rescuing: `JrJackson::ParseError` errors and logging then continuing.

[2015-06-22 15:52] colinsurprenant commented on #3289
+1 good catch

[2015-06-22 15:57] morgango commented on #3429
@talevy, this is a tough thing to do in SQL for any engine, because not
every record will have a unique id in a well-defined format (every vendor
has their own way of dong it).  Also, it is entirely possible to have
duplicate records in a database.

A user could have a single ID field that we could store, but there is no
guarantee that it is an incrementing integer or anything easy, it could
even

[2015-06-22 16:06] jordansissel commented on #3462
Yeah next steps:
* rubocop.yml PR
* figure out where we want to extend rubocop if needed to match out
style/practice recommendations

On Monday, June 22, 2015, Pere Urbón <notifications@github.com> wrote:

[2015-06-22 16:07] purbon commented on #3462
@jordansissel give me a minute and the initial draft PR is there :-)

[2015-06-22 16:32] maximede commented on #3419
Hi,

Is there something I could do to move forward with this ticket ?

[2015-06-22 16:57] bradvido commented on #3419
@maximede I authored #3387, it doesn't just put the whole response in the message field, it first decodes the response with the provided codec. So if your codec is `json_lines`, then it will process each line in the body as a JSON object and you may get 100 logstash events from a single response.

[2015-06-22 17:11] bradvido commented on #3387
FWIW, I've been using this input plugin for the past few weeks and it's been solid. I just committed some finishing touches and released the 0.9.0 gem.
Let me know what else I can do.

[2015-06-22 18:27] andrewvc opened #3486 "Add synchronous codec encode method to aid in testing, debugging"
Mocking out a codec for plugin testing is irritatingly hard due to the async API. While the async api is fine, I believe the synchronous logic should be wrapped in a blocking `#encode_sync` method. That would make tests like this:

[code]

look like this:

[code]

This was inspired by the discussion over this PR on the SNS input: https://github.com/logstash-plugins/logstash-output-sns/pull/6/files

[2015-06-22 18:39] maximede commented on #3419
Hi @bradvido ,

Sorry, I did not really read your code, just the documentation ;). I guess that if I use json codec (not json_lines) in your plugin, I could achieve what I'm doing. Is there a way to deactivate the keep-alive connection in your plugin ?

[2015-06-22 18:41] bradvido commented on #3419
If keep alive isn't supported by the server, it should still work (but I haven't tested). Try it out.

[2015-06-22 19:23] felipegs commented on #3336
@purbon, I did more test, I think I made a mistake. If I try to remove using root, it works fine, if I try to remove using logstash user, I have an error about plugin not installed.
Sorry

[2015-06-22 21:40] robmckeown commented on #3424
I have the same situation - an environment with no internet connection, and I need to install plugins which have dependencies on other gems.
Is there any way for me to just drop all the gems I need into some specific directory that Logstash will use or do I need to go down this 'private gemserver' route ?

[2015-06-22 23:56] jordansissel commented on #3486
I agree the callback mechanism makes it awkward to test.

[2015-06-23 07:38] PavanRGowda opened #3487 "Logstash hangs after startup"
I'm trying to add data from csv file into my elasticsearch. And below is my configuration file -

input {

      file {

          path => "/home/pavan/Downloads/sample.csv"
          type => "core2"
          start_position => "beginning"
      }

}

filter {

    csv {

        columns => ['cdatetime', 'address', 'district', 'beat', 'grid', 'crimedescr', 'ucr_ncic_code', 'latitude', 'longitude']

[2015-06-23 07:41] markwalkom commented on #3487
This isn't a bug, LS won't display anything there unless you either use stdout or if it encounters an error.

Please join us in #logstash on Freenode or at https://discuss.elastic.co/ for troubleshooting help, we reserve Github for confirmed bugs and feature requests :)

[2015-06-23 07:41] #3487 closed

[2015-06-23 08:22] rogerthat opened #3488 "logstash-output stalls when using HTTP/JSON-POST and Status 204 is send back"
we're using Logstash-Output to send JSON to a REST-API, and the API answered with Status 204 when processing is OK. When we do this, the LS-Output stalls and stops processing/output for approx 30 seconds (we have on avg 2000 events/second process by different Logstash-workers). when we change the Status to "200" processing works as expected..

[2015-06-23 08:39] achechen commented on #3471
Ok, I have changed the input to regular UDP, I can see 3 separete UDP input threads when I check but this did not fix the issue :(

Recv-Q of the input port is full:

[~] # netstat -c --udp -an | grep 12201
Active Internet connections (servers and established)
Proto Recv-Q Send-Q Local Address               Foreign Address             State
udp   124576      0 :::12201                    :::*
udp

[2015-06-23 09:24] achechen commented on #3471
Ok, I have changed the input to regular UDP, I can see 3 separete UDP input threads when I check but this did not fix the issue :(

Recv-Q of the input port is full:

[~] # netstat -c --udp -an | grep 12201
Active Internet connections (servers and established)
Proto Recv-Q Send-Q Local Address Foreign Address State
udp 124576 0 :::12201 :::*
udp 124576 0 :::12201 :::*
udp 126408 0 :::12201 :::*
ud

[2015-06-23 09:43] KlavsKlavsen commented on #3440
I've currently downgraded all to 1.4.2 to confirm that it is then stable again. After that - I'll upgrade 50% to 1.5.1 and see what happens. also - sometimes I've had to restart redis as well.. so it seems to be between logstash and redis - something is going awry.

[2015-06-23 10:28] lucashenning opened #3489 "New filter plugin: HTTP Rest"
Hi guys,
I've created a new logstash filter plugin which can be used to handle complex rest calls. It supports custom headers and parameters as well as the logstash sprintf format to use event fields as configuration values.

Sample config:

[code]

Github: https://github.com/lucashenning/logstash-filter-rest
RubyGems: https://rubygems.org/gems/logstash-filter-rest

I use it to gather environment

[2015-06-23 12:07] m1keil opened #3490 "logrotate config file invalid file mode in RPM"
Hey,
This was tested under 1.5.0 and 1.5.1 RPM package and CentOS 7:
[code]
fixing file mode:
[code]

basically Iogstash's own log file rotation doesn't work out of the box.

[2015-06-23 13:00] bradvido commented on #3489
:+1: Looks great. Definitely something we could use to inject or enrich with extra data from a webservice. Filter is probably a misnomer, but that's what logstash calls everything between the inputs and outputs, so what can you do :)

[2015-06-23 13:16] bradvido commented on #3028
I'd like to test this out, do you intend to publish to rubygems.org?

[2015-06-23 13:43] duylong commented on #3488
I have the same issue here: https://github.com/logstash-plugins/logstash-output-http/issues/6

[2015-06-23 13:57] purbon opened #3491 "If an output plugin stop retrieving elements from the queue, the stop sequence does not work"
If an output plugin stops retrieving elements from their queue, logstash is going to stall as already known, but if this happen during the shutdown sequence then logstash is not able to finish gratefully as expected.

The bottleneck code can be seen for example from:

[code]
https://github.com/elastic/logstash/blob/master/lib/logstash/pipeline.rb#L117-L120

or from:

[code]
https://github.com/elas

[2015-06-23 13:57] purbon commented on #3491
@jsvd I think you might be interested on this as of your pipeline research.

[2015-06-23 14:03] simonjohansson commented on #3448
@purbon
Yeah, I had a look at that, our patterns are quite big, containing multiple groks and json parsing in one big filter clause, and I would like to test the whole filter file(one filter file per "log type") in one go.

[2015-06-23 14:07] duylong opened #3492 "Logs "exception" missing without a restart"
Hi,

Some logs are only written on disk after a restart. For example, I have this problem with log message "Exception in filterworker".

I use Logstash 1.5.1. Do you know this issue ?

Best regards,

[2015-06-23 14:17] duylong opened #3493 "Where is the "noop" filter ?"
Hi,

Since my update to 1.5.x, I can't found the "noop" filter. Why this plugin has been deleted ?

Best regards,

[2015-06-23 14:18] purbon commented on #3493
@duylong you can find a replacement https://github.com/colinsurprenant/logstash-filter-noop, but I have a question for you, why do you need that filter?

[2015-06-23 14:24] untergeek commented on #3471
Please direct your comments to https://github.com/logstash-plugins/logstash-input-gelf/issues/13 as this issue is closed.

[2015-06-23 14:37] duylong commented on #3493
I found more clean in order to use only (add|remove)_(field|tag).

[2015-06-23 14:39] purbon commented on #3493
interesting :-) thanks for sharing, so for now you will need to use @colinsurprenant code. hope this works for you. Should we close this for now?

[2015-06-23 14:40] jordansissel commented on #3493
You can use mutate instead of noop filter

On Tuesday, June 23, 2015, Pere Urbón <notifications@github.com> wrote:

[2015-06-23 14:52] tgermain opened #3494 "new filter plugin : docker metadata"
Hi,

I'm trying to adapt this fluentd filter (https://github.com/fabric8io/fluent-plugin-docker_metadata_filter) into a logstash filter.

It does not seam really hard. The plugin basically do :
1. extract the id of the container from the path of it's logfile
2. call the docker api to get metadata with `Docker::Container.get(container_id).info`
3. put those metadata into fields

Since I don't have

[2015-06-23 15:18] duylong commented on #3493
@jordansissel Is it really his role?

[2015-06-23 15:34] wastedepository commented on #3430
This seems to fix the problem -- however, see the paragraph below.

I noticed a perhaps something while testing this. This applies to files regardless of whether there's a wildcard in the path or not. However, say I'm looking for files with the wildcard "/someabsolutepath/test*" and I **create** and output to a file that matches this path while Logstash is starting up. Logstash will never detect t

[2015-06-23 15:50] wastedepository commented on #3430
After thorough testing, this seems to fix the problem, thanks.

[2015-06-23 15:50] #3430 closed

[2015-06-23 16:15] jordansissel commented on #3493
Background: The noop filter was written to aid in testing Logstash internally. All of the features the `noop` filter has are _also_ supported by every other plugin. The `mutate` filter is the best replacement for any use of the `noop` filter because mutate will run add_field/etc on all events, not just some - contrast with date and grok filter which only activate add_field/etc for events which are

[2015-06-23 16:21] jother2 commented on #3417
Please add a section explaining the upgrade process with steps

[2015-06-23 16:29] suyograo opened #3495 "Use the new LogStash::Util::Decorators to add new fields and tag events"
Following up on @wiibaa work in https://github.com/elastic/logstash/pull/2390..  He refactored out `add_field` and `add_tag` functionality into a util which can be reused. We need to scan existing plugins that use this functionality to add a tag on failure and replace it with this util `LogStash::Util::Decorators.add_tags`.

[2015-06-23 16:31] suyograo commented on #3417
@jother2 thx for the feedback..to be specific, which upgrade process do you need documentation on?

[2015-06-23 17:04] untergeek commented on #3494
A request for help such as this should go to https://discuss.elastic.co/c/logstash

[2015-06-23 17:12] tdm4 opened #3496 "Invalid multibyte character"
I am getting this error in logstash.log. Logstash is not sending any logs to the elasticsearch nodes (tcpdump shows no traffic to them).

I'm using the redis module to pull  data in, index it, and send it to elasticsearch nodes.

{:timestamp=>"2015-06-23T17:09:04.145000+0000", :message=>"+---------------------------------------------------------+\n| An unexpected error occurred. This is probably a

[2015-06-23 18:07] suyograo commented on #3496
@tdm4 can you paste your config here and sample input data?

[2015-06-23 18:10] suyograo commented on #3492
@duylong can you provide more info regarding your setup? whats the config? can you send us sample data.. also you can ask these questions in https://discuss.elastic.co/c/logstash

[2015-06-23 18:25] suyograo opened #3497 "Consolidate all the http rest input plugins"
We have a need for an input plugin which calls external services to retrieve data and insert it into LS pipeline. A lot of folks have shown interest in this and have called it `logstash-input-rest`. It is hard to write a generic, one-size-fits-all plugin which works to consume every REST service out there.

The main goals for this plugin should be:
1. Provide an easy way to ingest RESTful resource

[2015-06-23 18:40] suyograo commented on #3387
@bradvido thanks for the awesome contribution! we are evaluating multiple submissions for this functionality here: https://github.com/elastic/logstash/issues/3387 and we need to consolidate all the PRs  into one :)

[2015-06-23 18:41] suyograo commented on #3419
@maximede we are evaluating multiple submissions for this one here: https://github.com/elastic/logstash/issues/3387 and want to consolidate all the code into one plugin :)

[2015-06-23 18:43] suyograo commented on #3497
/cc @tbragin

[2015-06-23 18:49] suyograo commented on #3497
This input is kind of related to logstash-input-sql, so /cc @talevy. Maybe we need the same scheduling semantics here?

[2015-06-23 19:21] chris-david-taylor commented on #3480
Hm,
Interestingly the issue is repeatable with logstash-1.4.3
The very same "No message available" verbose is spat out.  Since then, we have reprovisioned the VM.  Are there any quirks, however minor, that might manifest in a VMWare environment?

[2015-06-23 19:49] suyograo commented on #3470
@jordijansen Java 1.6 was EOL'd by Oracle http://www.oracle.com/technetwork/java/eol-135779.html

Regarding the XML exception, we may need to update the nokogiri library

[2015-06-23 19:50] suyograo commented on #3461
@quejinho1988 can you try your setup with 1.5.1? We fixed a lot of bugs in this release and want to validate if your issue reappears

[2015-06-23 20:10] andrewvc commented on #3497
These plugins seem to fall into one of two categories:

* Injecting event metadata in the filter phase
* Periodically polling (usually for gauge style stats)

I think the REST nomenclature here is confusingly off given that these are basically HTTP plugins with JSON decoding.

Given that I would propose naming these `logstash-input-http-poller` and `logstash-filter-http-injector`.

@suyograo I thi

[2015-06-23 20:15] russorat commented on #3359
@jordansissel could you update the link on this page? http://logstash.net/docs/1.4.1/outputs/elasticsearch.html

[2015-06-23 20:39] nopejpg commented on #2804
Also experienced this issue; the error should be caught and human readable connection information output.

[2015-06-23 20:50] andrewvc commented on #3486
Given the current state of things there are some tricky compatibility issues here. I initially hoped that there might be some way to create an implementation of `#encode_sync` in the `Codecs` base class, but looking around that doesn't look doable in a non-hacky way that wouldn't compromise performance.

 I think the best path forward would be to just start adding this method on a plugin by plugin

[2015-06-23 21:12] bradvido commented on #3497
Regarding mine, #3387 it's was developed with a webservice **queue** in mind. So it pulls events from the webservice which provides persistant queueing of the events (think like the redis input).
We have a webservice that queues up events from various clients (external to Logstash) into a database, and Logstash uses the httpclient to retrieve those from the queue.

It uses special (optional) HTTP

[2015-06-23 21:14] bradvido commented on #3387
Found it, I believe you mean https://github.com/elastic/logstash/issues/3497

[2015-06-23 22:07] andrewvc commented on #3497
@bradvido That is awesome stuff! I love that Kibana dashboard, and I love your use of KeepAlive. BTW, are you also in the great state of Minnesota?

That being said, I think you've got a pretty specific use case. Most users tend to use a queue like Kafka, RabbitMQ, or Redis for that case. I think for our official plugin it'll make more sense to just handle the polling case, rather than the queue o

[2015-06-24 07:53] driegel commented on #3201
@jordansissel I would like to join this issue. I use the following setup:

logstash-1.5.0 from the yum repo (RPM)
logstash-filter-translate.
I updated 1.5.0 to 1.5.1
After this I had to install the plugin again before I could run Logstash again.

I could imagine one of the following posibilities:
1. RPM checks for installed plugins and installs the latest version after update.
2. you could mark th

[2015-06-24 08:20] tdm4 commented on #3496
/etc/logstash/conf.d/indexer.conf:

input {
  redis {
    host => "<hostname of REDIS server>"
    data_type => "list"
    key => "logstash"
    threads => 2
  }
}

filter {

	# Handle Magento's monstrous logs
	if "system.log" in [tags] {
	  grok {
	        match   => ["message", "%{TIMESTAMP_ISO8601:timestamp}%{SPACE}%{WORD:severity}%{SPACE}\S+%{INT:slevel:int}\S+%{SPACE}%{WORD:logtype}{1,2}\S+%{

[2015-06-24 09:10] rtoma commented on #2423
I do not understand the reasons for removing this feature.

Before I could write a .rb file, put in the correct directory structure, start up a logstash instance, point it the path and my plugin was active.

Now I need to make a gem of it and put it in my logstash installation, making it visible for all logstash instances.

So for me this deprecation makes local development AND isolation a pain.

[2015-06-24 09:11] rtoma commented on #3208
@untergeek

I do not understand the reasons for removing this feature.

Before I could write a .rb file, put in the correct directory structure, start up a logstash instance, point it the path and my plugin was active.

Now I need to make a gem of it and put it in my logstash installation, making it visible for all logstash instances.

So for me this deprecation makes local development AND isolati

[2015-06-24 10:19] tdm4 commented on #3496
I tried turning off various sources.. and adding them back in one by one and it doesn't matter which one.. as soon as beaver ships to logstash, that error occurs with the multibyte.

[2015-06-24 11:01] tdm4 commented on #3496
OK I narrowed it down to something in the nginx error.log config above. I basically took this config out of indexer.conf and it now seems to index now.

[2015-06-24 11:03] tdm4 commented on #3496
Basically, this block in indexer.conf is problematic:

    if "web_nginx_error" in [tags] {

      grok {
        match => [
          "message" , "%{DATA} %{WORD:webserver} %{HOST:myhost}\-%{WORD:class}\: (?%{YEAR}[./-]%{MONTHNUM}[./-]%{MONTHDAY}[- ]%{TIME}) \[%{LOGLEVEL:severity}\] %{POSINT:pid}#%{NUMBER}: %{GREEDYDATA:errormessage}(?:, client: (?%{IP}|%{HOSTNAME}))(?:, server: %{IPORHOST:server

[2015-06-24 11:06] jimmyjones2 opened #3498 "Fold plugin script into logstash or rename"
Both Elasticsearch (elastic/elasticsearch#11797) and Kibana (elastic/kibana#4204) are moving plugin functionality into the main elasticsearch and kibana script, respectively. One of the main reasons for this is to be a better Linux citizen and allow downstream distribution packaging without name clashes (eg. in the current Fedora Elasticsearch package they can't ship the plugin script). Should log

[2015-06-24 11:12] tdm4 commented on #3496
I tried to use the nginx error.log grok from https://logstash.jira.com/browse/LOGSTASH-1663 but it seems broken now.

[2015-06-24 12:24] tdm4 commented on #3496
Turns out it was a bad paste. It pasted a funky UTF-8 left double quote and that really screwed up logstash when it parsed the indexer.conf file.

[2015-06-24 12:24] #3496 closed

[2015-06-24 13:39] ph commented on #3486
@andrewvc I agree with you we should do it plugin by plugin basis and keep the old method for backward compatibility. Also as soon as we update the plugin to use the sync method we need to make sure to update their dependencies to a specific version of `logstash-core`.

But by forcing a plugin to use a recent version of `logstash-core` we will prevent people running an older 1.5.X to use the lates

[2015-06-24 13:43] andrewvc commented on #3486
@ph agreed on 2.0. Just tagged it as such.

[2015-06-24 13:45] andrewvc commented on #3486
@jordansissel @ph  if it's a 2.0 target should we just target altering #encode to be sync exclusively? Are any codecs actually dependent on the async behavior?

The only case where I can think of this is something using EventMachine or similar to do some external IO, which should probably be in a filter.

[2015-06-24 13:49] ph commented on #3486
@andrewvc Well if we target 2.0, its a good time to just change the behavior and drop backward support.

Also 2.0 is a good time to see if we could benefit to redefine the codec to be more `Streamy`, I am thinking about compressed files here that could be decoded as a stream.

[2015-06-24 13:50] ph commented on #3481
Thanks for the report @jlintz could you include your configuration and the result of `bin/plugin list --verbose` in a gist?

[2015-06-24 14:16] purbon opened #3499 "Logstash benchmarking/profiling efforts"
## Preface

This issue is intended to wrap up the benchmarking and profiling efforts around the Logstash project and it's ecosystem. This is actually a very important, and relevant topic, that will serve as a common ground for engineers, decision makers, developers and people interested to know what can they archive with Logstash.

The internet is nowadays full of benchmarking done with the techni

[2015-06-24 14:18] ph commented on #3499
Can you add the `lumberjack` plugin to the list of the common inputs?

[2015-06-24 14:48] jlintz commented on #3481
@ph here you go https://gist.github.com/jlintz/45c12c1190d130e14b67 ,thanks, let me know if there is anything else you need

[2015-06-24 17:20] andrewvc commented on #3491
Good catch @purbon

[2015-06-24 17:23] andrewvc commented on #3499
@purbon I like this approach! With logstash 2.0 coming up, are there any plans to build some basic benchmarking counters / timers into logstash itself to aid in this effort? I can imagine that some basic throughput numbers could be useful over a future Logstash API

[2015-06-24 17:28] colinsurprenant commented on #3491
@purbon this is a known issue, was first reported in a related situation in #2130 and I also created a ticket specifically for this in #3451 I thin we can close it as a duplicate.

[2015-06-24 17:51] colinsurprenant commented on #3499
a few thoughts:

- benchmarking against a fixed count of events does not provide any meaningful information. for any benchmark on the JVM and also specifically with JRuby to have any meaning, these tests have to run for a long enough period of time to allow the JVM & JRuby to do its JIT'ing and settle down. So any benchmark "sets" should always be run for approximately the **same period of time**

[2015-06-24 18:05] andrewvc commented on #3499
@colinsurprenant all good points on the JIT.

It may also be good to lower `-XX:CompileThreshold` to force JITing to happen a little sooner given that Logstash is usually a long-lived process.

[2015-06-24 18:09] bradvido commented on #3497
@andrewvc I agree, it's a specific use case. I just want to provide insight behind the code as you look to create a http input that "combines" all the proposed ones. I like the idea of the official input being a "template" so I can easily extend it to a my more specific use case.

And, yes -- Duluth, MN

[2015-06-24 18:11] andrewvc commented on #3497
@bradvido awesome to hear that you're in Duluth, it's beautiful up there. I'm in MPLS.

Thanks for the insight, we'll keep it in mind as we build our polling gem. After discussing it with the team today we won't be combining them so much as just creating an official polling gem based on  @maximede 's REST gem since that covers the broadest use case.

[2015-06-24 18:14] colinsurprenant commented on #3499
@andrewvc I think that changed to `jruby.jit.threshold` see https://github.com/jruby/jruby/wiki/PerformanceTuning#jit-runtime-properties in any case, since we normally operate at high TPS, the 50 default is normally hit right at the start and does not make much difference.

In any case, having a proper benchmarking system in place will provide a good environment to play with all these options, inc

[2015-06-24 18:44] andrewvc commented on #3419
Hi @maximede ! We've decided to base our official input plugin off your plugin. I'll be working on fleshing it out and adding specs over here: https://github.com/logstash-plugins/logstash-input-http-poller

I also created a rubygem for it. Shoot me your rubygems info if you'd like to be added to the gem owners list.

Our official gem will be named `logstash-input-http-poller` to reflect its purpos

[2015-06-24 18:45] andrewvc commented on #3497
I've created the new plugin at https://github.com/logstash-plugins/logstash-input-http-poller , it's based off the rest input. Closing this issue down...

[2015-06-24 18:45] #3497 closed

[2015-06-24 18:50] bradvido commented on #3387
@andrewvc Since this isn't being used as a base for the [official http input](https://github.com/logstash-plugins/logstash-input-http-poller), should I abandon efforts to get this added as an official Logstash plugin, or does it make sense to have this listed as well (probably with a name change to better reflect the more specific queueing-over-http use case)?

[2015-06-24 18:56] colinsurprenant commented on #3227
FYI we recently had a discussion about this in https://discuss.elastic.co/t/logstash-new-plugin-system-too-restrictive  and it seems the RUBYLIB workaround works for that user.

[2015-06-24 20:58] suyograo opened #3500 "Standardize on http client libraries used in Logstash"
Today we have multiple http client libraries used in Logstash (and its plugins) that need http transport functionality. For example:

* [ruby-ftw](https://github.com/jordansissel/ruby-ftw) is used in logstash-output-http
* [jruby-manticore](https://github.com/cheald/manticore) is used in ES output

Do we need to standardize on one library, or should we use Faraday which allows pluggable backends?

[2015-06-24 21:04] andrewvc commented on #3500
I took another look at Faraday today, and while I like the project (I recommended it to @suyograo), I'm a little worried that it isn't maintained as well as it used to be. They seem to have an issue backlog. Additionally, Faraday doesn't abstract away some client specific things like client timeout values (those aren't normalized between backends) and it doesn't support async as nicely as manticor