[2016-05-22 16:37] andrewvc commented on #2914
I realize its late, but just to add something here, we haven't supported embedded ES for quite some time now. We pulled it out somewhere in 2.x

[2016-05-23 04:43] oyld opened #5345 "The logstash-core-api need to be build on jruby"
I wrote a output plugin and run bundle install, but an error occurred:

[code]

The variable RUBY_PLATFORM is x86_64-linux.

[2016-05-23 06:10] onlinegangster commented on #4178
It seems in the newer logstash versions the syntax for testing has changed, it should look like this now:
insist { subject["my_field"] } == "some_value"

[2016-05-23 06:20] mrunalgosar commented on #5312
No it does not recovers and such messages are then followed on with closing circuit with all the messages being sent to elasticsearch being dropped

[2016-05-23 09:13] BellBiker commented on #5016
I am using the ELK stack on a windows system and I also recognized  a problem with the missing possibility to control the size of the logstash internal log file. In a case where the harvested log files are producing a huge amount of log file rows within short time and therefore logstash documents a slowdown of the pipeline this causes also an uncontrollable increasing logstash logfile. At least lo

[2016-05-23 12:32] purbon commented on #5334
related to #5228

[2016-05-23 15:21] marek-obuchowicz commented on #5339
Heapdump is uploaded to the s3 bucket pointed by support, let me know if anything else could come as help here

[2016-05-23 15:52] untergeek commented on #2914
The changes in #5341 should make it easy to both change this default, and also for users to change it to something they like.

[2016-05-23 16:00] jsvd commented on #2914
Have we run tests where a full GC is actually triggered during ingestion? It seems very reasonable that CMS is slower because it avoids full GCs, but I'd like to see how long that takes on a busy logstash instance, with the added caveat that such stops mean packet loss for plugins like UDP input.

[2016-05-23 16:24] guyboertje opened #5347 "Java Event `validate_value` needs to implement same algorithm as Ruby Event"
Causes this failure in Jenkins:

1) LogStash::Filters::GeoIP an invalid IP filter method outcomes when IP is IPv6 format should set the target field to an empty hash
     Failure/Error: plugin.filter(event)
     RuntimeError:
       expected UTF-8 encoding for value=done, encoding=#Encoding:US-ASCII
     # ./vendor/bundle/jruby/1.9/gems/logstash-core-event-2.2.4-java/lib/logstash/event.rb:223:in `

[2016-05-23 16:47] dedemorton commented on #5295
The redirect is in place. The old URL (https://www.elastic.co/guide/en/logstash-roadmap/current/index.html) now points to https://github.com/elastic/logstash/blob/master/ROADMAP.md

[2016-05-23 16:47] #5295 closed

[2016-05-23 18:26] foragerr commented on #4521
Same issue.

Java version: java version "1.8.0_40"
logstash version: 2.3.1

	.\logstash-plugin.bat install --local logstash-filter-elapsed
	io/console not supported; tty will not be manipulated
	Installing logstash-filter-elapsed
	Error Bundler::HTTPError, retrying 1/10
	Could not fetch specs from https://rubygems.org/
	Error Bundler::HTTPError, retrying 2/10
	Could not fetch specs from https://ru

[2016-05-23 19:28] suyograo commented on #5345
What is your `ruby -v`. We currently only support running Logstash on JRuby

[2016-05-23 19:35] suyograo commented on #5339
@marek-obuchowicz thanks. got the heap dump. Will analyze shortly.

[2016-05-23 19:50] suyograo commented on #5347
@guyboertje please don't forget to link Jenkins builds when filing test failures.

[2016-05-23 19:54] talevy commented on #5347
Looks like this was an oversight :sigh:

https://github.com/elastic/logstash/blob/master/logstash-core-event-java/src/main/java/com/logstash/ext/JrubyEventExtLibrary.java#L308

[code]

[2016-05-23 22:03] jordansissel commented on #4548
@guyboertje indeed, some interesting API reading here: https://github.com/logstash/logstash-logback-encoder/tree/master#loggingevent_fields

[2016-05-23 23:56] talevy opened #5348 "Rename logstash-core-event-java"
Jruby auto-appends `-java` to gems that are bundled. this makes it rather confusing to distinguish between `logstash-core-event-java` and `logstash-core-event` gems

[2016-05-24 00:19] talevy commented on #5347
So. this has nothing to do with java event. This test is failing on plugin-api-v1 because the spec file was ascii encoded by default.

this should fix it: https://github.com/logstash-plugins/logstash-filter-geoip/pull/79

[2016-05-24 00:20] talevy commented on #5347
The comment above regarding https://github.com/elastic/logstash/blob/master/logstash-core-event-java/src/main/java/com/logstash/ext/JrubyEventExtLibrary.java#L308 deserves its own PR. I will open an issue

[2016-05-24 00:23] talevy opened #5349 "Java Event is missing an implementation of `validate_value`"
https://github.com/elastic/logstash/blob/master/logstash-core-event-java/src/main/java/com/logstash/ext/JrubyEventExtLibrary.java#L308

[code]

Is this even still necessary? @colinsurprenant

[2016-05-24 00:49] oyld commented on #5345
ruby 1.8.7 (2013-06-27 patchlevel 374) [x86_64-linux]
I have jruby and I can run logstash.

[2016-05-24 01:05] suyograo commented on #5345
@oyld can you switch to jruby? You can use something like [`rvm`](https://rvm.io/) to manage mutiple rubies on your machine. LS can only be built on jruby.

[2016-05-24 01:06] suyograo commented on #5345
We recommend using jruby 1.7.25

[2016-05-24 01:44] oyld commented on #5345
I did what you asked. But there is an other error:
[code]

[2016-05-24 07:44] oyld commented on #5345
I solved it.
The [document](https://www.elastic.co/guide/en/logstash/current/_how_to_write_a_logstash_output_plugin.html#_add_a_literal_gemspec_literal_file_4) says Gemfile is
[code]

I change it to
[code]

[2016-05-24 08:00] marek-obuchowicz commented on #2914
Inputs without ack mechanism (like udp) will be surely negatively affected.

[2016-05-24 08:36] driverpt commented on #5348
`logstash-java-core-event` ?

[2016-05-24 10:03] purbon commented on #5338
All current vms can bootstrap as tested, see:

[code]

[2016-05-24 10:04] purbon commented on #5340
As tested, all current vms can bootstrap, see:

[code]

[2016-05-24 13:00] purbon commented on #5324
I think I've might found why of your issue, the one I was unable to reproduce locally in my machine, https://github.com/mitchellh/vagrant/issues/391 trying to narrow it down and see how we can proceed on this.

[2016-05-24 14:58] wiibaa commented on #1811
One option would be to let user specify he always want a string value using the sprintf syntax instead of the fieldref and document that this should be prefered mechanism

`if %{message} =~ /\d/`

@jsvd @jordansissel thoughts ?

[2016-05-24 15:08] wiibaa commented on #3039
To me, it looks like a possible behaviour, as you grok several time for the same fields. By default they are appended creating array of fields..
Taking a log line that would results in groking **safe_id=12**
* first grok => `safe_id = 12`
* **first if pass** as `"12" == "12"`
* second grok => `safe_id = [12,12]`
* **second if pass** as `[12,12] != "12"`
* third grok => `safe_id = [12,12,12]`

The

[2016-05-24 15:15] purbon commented on #5338
Fixed in #5346

[2016-05-24 15:15] #5338 closed

[2016-05-24 15:49] talevy commented on #5348
I'll buy that. any other takers?

[2016-05-24 16:26] purbon commented on #4266
Merged with #4190

[2016-05-24 16:26] #4266 closed

[2016-05-24 17:05] andrewvc opened #5352 "Create Template Java Project"
As we write more and more Java code we need to have some common conventions for this code.

We need to create a sample logstash plugin rubygem (maybe modify https://github.com/logstash-plugins/logstash-output-example) that includes java extensions setup in a standard way.

* [ ] Gradle
  * [ ] Include .idea plugin for those who like it
* [ ] Java 8 Language Level (look into LS 2.x support terms)
*

[2016-05-24 17:07] andrewvc opened #5353 "Redo logstash-core and logstash-core-java-event"
logstash-core and logstash-core-java-event should follow the requirements set forth in https://github.com/elastic/logstash/issues/5352

[2016-05-24 17:08] andrewvc opened #5354 "Plugins using java code should use new Java standards"
All plugins using java code should use the standards set forth in: https://github.com/elastic/logstash/issues/5353

These plugins are listed below:

* [ ] *Sample plugin name*

[2016-05-24 17:58] suyograo commented on #4548
Rough notes from a meeting with @talevy @colinsurprenant @guyboertje and @ph

- Agreement to use Log4j to be consistent with ES, rather than logback.
- Use logging.yml config like ES

Use Cabin like interface so we don’t have to update all plugins of existing usage

Proposal to use Cabin4j: Wrapper with Cabin like interface written in Java which can be used in JRuby and Java land. None of the exis

[2016-05-25 08:14] wiibaa commented on #3028
@purbon @suyograo I updated the plugin repo to point to correct version of `logstash-core-plugin-api` and published gems

[2016-05-25 08:44] wiibaa commented on #2929
@suyograo based on the stability of 2.x in handling @timestamp in senders (beats or json-codec) and specific usecase configurations provided above I would be in favor to close this for the same reason you raised in related PR #2998

[2016-05-25 08:46] driverpt commented on #4548
@suyograo , i still believe that you should use SLF4J Facade instead of building your own. It's pretty easy to create Bridges in SLF4J.

[2016-05-25 09:11] purbon commented on #5326
@suyograo should we take the range (random pickup)? or keep trying incrementally and take the first one free?

[2016-05-25 09:14] purbon commented on #5324
@ph were you able to validate the current fix in runner it's actually making the first part of the snapshot/restore bug away?

[2016-05-25 09:31] purbon commented on #5314
I agree for test will be a good idea to randomize the port.

[2016-05-25 09:32] purbon commented on #5314
also, it might be a case of an unclean shutdown issue, as discovered by @andrewvc in this refactoring efforts in #5307

[2016-05-25 09:37] oyld opened #5356 "[plugin] Logstash Output Zookeeper"
I wrote a output plugin and I want to contribyte contribute myc source code to logstash.
Should I make a pull request directly?

[2016-05-25 09:38] purbon commented on #5356
can you share details from your new plugin here? might be update this issue the details.

[2016-05-25 09:43] purbon commented on #5314
Hi, I checked https://github.com/elastic/logstash/blob/master/logstash-core/spec/api/spec_helper.rb#L47 and the port is actually randomized for this test, I think the fix should be applied to the rest of the test, where they actually start the agent without mocking out the webapi.

[2016-05-25 09:45] oyld commented on #5356
Yes.
It's a output plugin which send data to zookeeper.
[My github](https://github.com/oyld/logstash-output-zookeeper)

[2016-05-25 11:03] jsvd opened #5357 "Logstash aborts at startup with "Java\java_1.8.0 unexpected at this time.""
This was a report made by a user during training using windows 10 and jdk8 32bit installed. Switching to 64bit solved the problem. there's no more information other than this.

There's a suspicion that it could be a problem when parsing JAVA_HOME or M2_HOME containing `(x86)`, but it hasn't been verified.

/cc @pmusa

[2016-05-25 12:47] pmusa commented on #5357
We had two users with the same problem and updating solved to both of them. The interesting thing is that executing java -version in the console works fine and Elasticsearch was also running without any problems. We tried changing the java_home to a few options based on [this](http://stackoverflow.com/questions/15392191/configuring-maven-for-windows-7-files-java-jdk1-6-0-23-was-unexpected-at-this)

[2016-05-25 14:17] bauagonzo opened #5358 "New plugin filter to transform strings into value"
Hello,
I wrote a small plugin to convert duration and volumes into values : https://github.com/bauagonzo/logstash-filter-stringhelpers

I will appreciate any feedback ;-)

[2016-05-25 15:02] ph commented on #5324
But more details, I was able to go further with the execution.
I had a warning but it did not stop the execution of the tests.

[code]

[2016-05-25 15:12] purbon commented on #5324
@ph can you describe your env, as i don't get this error, might this be bound to vagrant,  os version, etc. Thanks

[2016-05-25 15:34] ph commented on #5324
Yes.

[code]

[2016-05-25 15:35] ph commented on #5324
I am trying with a never jruby version, not sure why .23 was still around.

[2016-05-25 16:02] driverpt commented on #5353
Don't forget to separate the JRuby Integrations Layer from the Domain Model Layer. Right now, the Gradle imports all the JRuby Runtime

[2016-05-25 16:36] purbon commented on #5324
@ph are you able to reproduce this by crafting a set of simple commands, so something like

[code]

my expectation would be second will fail, however is strange because this looks not anymore related to snapshot/restore,  as the failed test are `    is running on ubuntu-1504 (FAILED - 1)` and `    can run on ubuntu-1504 (FAILED - 2)` what do you think?

[2016-05-25 17:02] mmatson commented on #1645
+1 Would be lovely to have this behave as expected by commonly accepted standards. Makes for painful on-boarding of more users in my organization as developers struggle to figure out that string manipulation in the log file parsing is challenging.

The idea of a flag for switching behavior works for me.

[2016-05-25 20:26] wiibaa commented on #3896
@ph can you please confirm this was fixed in https://github.com/elastic/logstash/commit/935ac9285b6bb34f8b261cda93203223fe46e76c and can be closed

[2016-05-25 20:31] wiibaa commented on #3422
If still an issue, please reopen against https://github.com/logstash-plugins/logstash-filter-xml/issues

@suyograo can you close please

[2016-05-25 20:32] wiibaa commented on #4021
Tracked directly in filter-xml issues

@suyograo can you close please

[2016-05-25 20:35] suyograo commented on #5240
Done

[2016-05-25 20:35] #5240 closed

[2016-05-25 20:48] wiibaa commented on #3284
Duplicate error reported in https://github.com/logstash-plugins/logstash-filter-xml/issues/19
Fix proposal in  https://github.com/logstash-plugins/logstash-filter-xml/pull/35

@suyograo can you close please

[2016-05-25 20:54] wiibaa commented on #3545
Stability and error handling of xpath filter will improve in https://github.com/logstash-plugins/logstash-filter-xml/pull/35

@suyograo can you close please

[2016-05-25 20:56] wiibaa commented on #3569
@ph can you confirm this is fixed by https://github.com/elastic/logstash/commit/935ac9285b6bb34f8b261cda93203223fe46e76c and close this

[2016-05-25 20:58] wiibaa commented on #3571
@purbon now the PR is mergerd, is this issue solved ?

[2016-05-25 21:03] wiibaa commented on #3720
@suyograo as question is answered, can you please close

[2016-05-25 21:10] wiibaa commented on #3858
@suyograo now that the plugins use different branches for 2.x and 5.0 with the change to event API, can this cleanup be started on master branches ?

[2016-05-25 21:12] wiibaa commented on #3874
@colinsurprenant @guyboertje can this 3 issues be closed in favor of future work on event mills ??

[2016-05-25 21:13] wiibaa commented on #3880
Incomplete report

@suyograo can you close please

[2016-05-25 21:58] colinsurprenant opened #5361 "stdin input plugin specs failure"
stdin input plugin  specs are failing with the error below. I suspect this will also affect other plugins.

The problem is that the settings setup at https://github.com/elastic/logstash/blob/5e5c0c0844e1c4e833bf6bcc23ac588c2f4a1f63/logstash-core/lib/logstash/environment.rb#L16  uses `Environment::LOGSTASH_HOME` which comes from bootstrap but has not been loaded when required from the plugins rspec

[2016-05-25 23:36] suyograo commented on #3028
@wiibaa Apologies for the delay. We are focusing on core features and will get to this soon.

[2016-05-25 23:37] #2929 closed

[2016-05-25 23:40] #3720 closed

[2016-05-25 23:40] suyograo commented on #3858
Absolutely. This should definitely be done for 5.0 timeframe.

[2016-05-25 23:41] #3880 closed

[2016-05-25 23:43] suyograo commented on #5356
@oyld created https://github.com/logstash-plugins/logstash-output-zookeeper. Can you create a first PR there? We'll review it.

[2016-05-25 23:59] #4021 closed

[2016-05-26 09:22] purbon commented on #5324
@ph I guess we'll have to asses how important is are this failures, or if this is mostly related to the way your environment is setup, also trying to think how common this issue could be, not sure which component is the one causing, testing now with the different moving parts.

@jsvd can you also check this when you  review #5350 ?

[2016-05-26 09:23] guyboertje commented on #3874
@wiibaa - I suppose so, closing.

[2016-05-26 09:23] #3874 closed

[2016-05-26 13:39] ph commented on #5361
Got it by it too this morning https://travis-ci.org/logstash-plugins/logstash-input-beats

[2016-05-26 13:40] ph commented on #5361
Seems related to the release of `5.0.0.alpha3.snapshot4`

[2016-05-26 13:41] colinsurprenant commented on #5361
because the settings stuff was recently merged I assume...

[2016-05-26 13:41] ph commented on #5361
Yeah, seems like it.

[2016-05-26 13:43] ph commented on #5324
@purbon Yeah, lets get another eye or tester on that, Something might be weird with my setup.

Are you running the same version as me (vargant,virtualbox, ruby)?

[2016-05-26 13:55] ph commented on #5361
@colinsurprenant good analysis, the problem is that `bootstrap/environment` doesn't exist in the concept of the `logstash-core` gem, so we can load it.

So I am wondering if we should do the following, check if the constant is defined and if its not define it with a default value?

[2016-05-26 13:56] ph commented on #5361
Or use another constant specific to the settings path?

[2016-05-26 13:58] purbon commented on #5324
[code]

```jruby 1.7.20 (1.9.3p551) 2015-05-04 3086e6a on Java HotSpot(TM) 64-Bit Server VM 1.8.0_40-ea-b15 +jit [darwin-x86_64]```

`MacOS X 10.10.5`

fairly similar I guess

[2016-05-26 14:16] colinsurprenant commented on #5361
hmm. this is a bit tricky.  I'd say that the problem here is that we are defining something `"path.settings"` which is only relevant for when logstash is actually launched, ie `Runner` is invoked.

So the *real* problem is that the launching code like `Runner` should ultimately be moved out of `logstash-core` and into a level up in `logstash/lib/...`. and any launching specific settings should be

[2016-05-26 14:52] ph commented on #5361
Agree on this.

Agree, I can do a small PR for that.

[2016-05-26 14:52] ph commented on #5361
@colinsurprenant What would be your opinion to change the name of the `lib/bootstrap/environment` to something else? This could help reducing the confusion or bug.

[2016-05-26 15:05] wiibaa commented on #3858
@suyograo Here are a first chunk of PRs :gift:
Please note travis build is failing due to https://github.com/elastic/logstash/issues/5361

About your mention of major version, I will make a second round to change the gemspec / changelog

[2016-05-26 15:06] suyograo commented on #3858
@wiibaa you are the boss! thanks so much man... I will split the work with you as well.. I turned this into a meta issue with check boxes :)

[2016-05-26 15:12] wiibaa commented on #3858
Correction of version, raising minor instead of major:

* [x] logstash-input-xmpp
* [ ]  logstash-output-redis#34
* [ ] logstash-output-gelf#17
* [ ] logstash-input-lumberjack#75
* [ ] logstash-output-lumberjack#20
* [ ] logstash-output-graphite#29
* [ ] logstash-output-opentsdb#5
* [ ] logstash-output-statsd#23
* [ ] logstash-output-syslog#31
* [ ] /logstash-output-tcp#17
* [ ] logstash-output-ht

[2016-05-26 15:19] colinsurprenant commented on #5361
@ph not sure which confusion of bug you're talking about - I don't see how changing the name would have helped in this situation for example?

[2016-05-26 15:22] colinsurprenant commented on #5361
the confusion is more about understanding that some environment are only relevant when launching logstash. so in that respect maybe having another module name would make that more obvious yes. So I amend my previous comment :P

[2016-05-26 15:23] ph commented on #5361
We have two different files that change the same module named `Environment` that don't have the same source code and defined variables.

The logstash application load both files.
The core only has one.

So I think it could make sense if the 2 files were not named the same and they were not defining the same module.

[2016-05-26 15:23] ph commented on #5361
@colinsurprenant Yup I accept the amend. ;)

[2016-05-26 17:18] ph commented on #5291
OK, I can say this wasn't a concurrency issue, The main problem is that logstash has only 1 shared instance of the collector and metric store inside logstash, its a singleton, I will create a followup issue to refactor that.

This mean, that if we ever had rogue pipelines or even agent running it could add unwanted metrics into the collectors, making our assertions fails. I went through a lot of o

[2016-05-26 17:22] #5361 closed

[2016-05-26 18:18] ph opened #5366 "Refactor interaction between the Collector/Metrics with the WebApi/Pipeline/Plugin"
Currently the Metrics use a singleton instance of the `Collector` to save or access the metric store. This make accessing it really simple but cause other issues when testing it ( see https://github.com/elastic/logstash/issues/5291)

I suggest we do the following refactor:

- It will be the Agent responsability to create the Collector instance
- The pipeline will receive a scoped metric instance a

[2016-05-26 21:06] #5291 closed

[2016-05-26 23:35] suyograo opened #5371 "Unskip metrics test after address in use issues are resolved."
Disabled test: https://github.com/elastic/logstash/blob/master/logstash-core/spec/logstash/agent_spec.rb#L376 needs to be enabled.

[code]

http://build-eu-00.elastic.co/job/logstash_regression_50/jdk=JDK8,label=metal-pool/133/console

PR which will fix: https://github.com/elastic/logstash/pull/5307

[2016-05-27 05:30] wiibaa commented on #3858
@suyograo can you please put this checklist as the main description

* [x] logstash-output-email => deprecated option already removed on master
* [ ] logstash-input-xmpp => https://github.com/logstash-plugins/logstash-input-xmpp/issues/8
* [ ] logstash-input-redis => https://github.com/logstash-plugins/logstash-input-redis/issues/44
* [ ]  logstash-output-redis => https://github.com/logstash-plugi

[2016-05-27 06:33] suyograo commented on #3858
@wiibaa Done. removed your comment with items because it will be confusing.

[2016-05-27 09:25] purbon commented on #5314
This will be fixed when #5307 gets merged also when #5326 gets implemented, as of the strategy requested during #5359 if better to wait and do the change after @andrewvc gets merged and implement the logic there.

[2016-05-27 11:29] magnusbaeck opened #5372 "Replace obsolete "Logstash startup completed" references in the docs"
Previous versions of Logstash (up to and including 2.2, I think) printed "Logstash startup completed" to the log once it had started up correctly. This is no longer the case—it says "Pipeline main started" instead—but the documentation still refers to the old message which might confuse others (see https://discuss.elastic.co/t/logstash-problem-regarding-inout-plugin-logstash-startup-completed-does

[2016-05-27 13:04] ph commented on #5371
cc @andrewvc

[2016-05-27 13:15] ph commented on #3569
I can confirm that its fixed, thanks @wiibaa

[2016-05-27 13:15] #3569 closed

[2016-05-27 13:16] ph commented on #3896
Confirmed.

[2016-05-27 13:16] #3896 closed

[2016-05-27 14:08] jsvd commented on #5342
Seems to be a change in the OutputDelegator that delays the creation of output plugins, but I need to investigate further.
Interestingly, it no longer happens in 5.x

[code]

[2016-05-27 14:30] jsvd commented on #5342
test that reproduces the issue:

[code]

fails on 2.x:

[code]

[2016-05-27 15:43] colinsurprenant opened #5373 "rename bootstrap environment module to differentiate from logstash-core environment"
Per #5361 discussion, we should rename the bootstrap `Environment` module https://github.com/elastic/logstash/blob/ec95659dbda5792295b0d330024413fec5983901/lib/bootstrap/environment.rb to differentiate from the logstash-core `Environment` module https://github.com/elastic/logstash/blob/ec95659dbda5792295b0d330024413fec5983901/logstash-core/lib/logstash/environment.rb

The idea is what is defined i

[2016-05-27 15:49] colinsurprenant opened #5374 "move launching specific code outside logstash-core"
Related to #5373 and #5361 I suggest we move out `Runner` and `Agent` outside logstash-core since this code is really specific to launching the logstash application and do not make sense in the context of using the logstash-core gem outside the context of actually launching logstash, for example when runnig plugins specs.

[2016-05-27 15:52] purbon commented on #5374
I can not agree more with you, been thinking about this since a long time 👍

[2016-05-27 16:01] purbon opened #5375 "Current master rpm package does not install in fedora-22"
From the investigations done to adapt the acceptance_test feature branch to the new package format, see #5341 for details. I discovered the current master rpm package does not install in fedora-22, see:

[code]

for details.

[2016-05-27 16:05] untergeek commented on #5375
[code]
That's odd.  It should be that way across _all_ packages if that's the case.

[2016-05-27 16:05] untergeek commented on #5375
Blessedly, Fedora 22 is not on the support matrix. 😉

[2016-05-27 16:34] rgazaryants opened #5378 "KV retains line break (\n)"
So ran into this problem that is flooding the logs. Doesn't seem to affect functionality & actual indexing - or maybe it is - I don't know. Just 80gb of logstash logs a day.

These are not multiline events.

[code]
The way I get the KV's is:

[code]

`%{GREEDYDATA:TOKEN_VARS}
`
and
[code]

It just so happens that it's at the end of the log line, and it picks up the \n break. I tried gsub on TOKEN_

[2016-05-27 16:52] jordansissel commented on #5375
I'll take a look at this. Very strange. I looked the cpio payload of the rpm and the header seems OK to me. I'll try on fedora 22.

[2016-05-27 18:39] #5328 closed

[2016-05-27 18:44] suyograo opened #5379 "Set path.config to point to /etc/logstash/conf.d for release packages"
When LS is installed as a service, the post install script needs to overwrite `path.config` to point to `/etc/logstash/conf.d`

Otherwise you get this error:

[code]

[2016-05-27 19:10] andrewvc opened #5380 "Add /_node endpoint"
Add the `/_node/` endpoint underwhich all data from https://github.com/elastic/logstash/issues/4923 will be displayed

[2016-05-27 19:42] jeremyforan commented on #2526
+1

[2016-05-27 20:25] andrewvc commented on #4923
I removed os.allocated processors since that is ES specific

[2016-05-27 20:45] dedemorton opened #5382 "Unhandled IRubyObject full class name warning results in plugin restart"
Sorry, opened in the wrong repo. See https://github.com/logstash-plugins/logstash-input-twitter/issues/40 instead.

An unhandled IRubyObject full class name warning results in a "Twitter too many requests error, sleeping for s {:level=>:warn}" warning followed by "A plugin had an unrecoverable error. Will restart this plugin." The documents from Twitter are still indexed in Elasticsearch, but it's

[2016-05-27 20:50] #5382 closed

[2016-05-27 21:06] #5379 closed

[2016-05-28 02:58] dedemorton commented on #5294
@acchen97 Hasn't this option has been replaced and renamed --pipeline.unsafe_shutdown as part of this PR? https://github.com/elastic/logstash/commit/7783f76a4c29e2d944c807ceea1b4df85383c423

If so, it's documented now.

[2016-05-28 05:21] spuder commented on #5345
You sure removing that line is good advice? [From the documentation](https://www.elastic.co/guide/en/logstash/current/_how_to_write_a_logstash_input_plugin.html#_add_a_gemfile) it sounds like that line might be important.

[2016-05-29 17:16] spuder commented on #4487
+1 would really like to get this in standard list of logstash plugins.

[2016-05-29 18:39] suyograo commented on #3606
Fixed in #5341

[2016-05-29 18:39] #3606 closed

[2016-05-29 18:40] suyograo commented on #5303
Fixed in #5341

[2016-05-29 18:40] #5303 closed

[2016-05-29 18:42] suyograo commented on #5012
Fixed in #5341

[2016-05-29 18:42] #5012 closed

[2016-05-29 20:11] fbaligand commented on #4548
Several things about slf4j / log4j2 :
- `MDC` doesn't aim to help making structured logging. It aims to help adding contextual data (such as current connected user, http request id, ...) to current thread so that it is added on every log line written by current thread. One important thing : all data put in MDC will stay attached to the thread until an explicit call to remove it from MDC.
- to log

[2016-05-30 10:31] purbon opened #5389 "logstash.yml file not found if run the logstash command directly"
If installing logstash as a package, but then using the logstash command directly, for example to check a config or to check for a version, it can not find the config file.

see

[code]

logstash expect to have the file in the LS_HOME location, `/usr/share/logstash` however it also has one in `/etc/logstash` and not sure if users will also think that when running as a command it will pick up a con

[2016-05-30 10:39] jsvd commented on #5389
@untergeek how do you think going around this? IMO, blocking users from running logstash on the command line when installed from a package seems harsh..
What if we moved the sourcing of startup.options to bin/logstash.lib.sh so path.settings is read even when running from cli?

[2016-05-30 11:15] purbon opened #5390 "Removing a package in ubuntu (debian package) left residues in /usr/share/logstash"
If removing a package in an ubuntu machine (using the debian package) it left non deleted the directory ```/usr/share/logstash/vendor```. This will cause all gems/plugins to be still there and might incur on some state corruption as some of the files into this directory are gemspecs.

For more details:

* install latest package from master.
* remove the package with `dpkg -r`
* purge the package w

[2016-05-30 12:04] hitxueliang opened #5391 "Fail to connect to 127.0.0.1 for logstash"
I want to use ELK to analys data from crawler(data writen to files),I have install elasticsearch 、kibana、logstash(2.3.2) correctlly. logstash work correctly when output to stdout,but when I config it to output to elasticsearch ,Error occor,just like this:

Attempted to send a bulk request to Elasticsearch configured at '["http://127.0.0.1:9200/"]', but an error occurred and it failed! Are you sure

[2016-05-30 16:18] jsvd commented on #5389
we can follow 2 strategies to address this:

1) be less strict on the need to find a logstash.yml file. If not found, just print a warning and use the internal defaults
2) enrich the path.settings setting to have a list of default locations, circle through them by default, and remove the explicit setting from startup.options

thoughts?

[2016-05-30 16:28] purbon commented on #5389
I think I like 1 a lot, it makes a lot of sense to me 'cause why do we require to have a config file if we've defaults for everything?

[2016-05-30 17:08] #5371 closed

[2016-05-30 17:20] ph commented on #5389
I agree with strategy #1, I think its better to have a working logstash than a cryptic error.

[2016-05-30 20:17] suyograo commented on #5389
Why? We are not blocking users, its just about providing the right feedback. You can still run Logstash manually from `/usr/sharelogstash` when installed via packages, but you _have_ to pass `path.settings` via command line. We discussed this briefly in Slack with @untergeek on Friday. FWIW, ES also does the same thing when installed via packages and run manually.

As I mentioned in #5393, IMO, fa

[2016-05-30 21:14] jsvd commented on #5389
I don't see an issue with the warning + skipping the yml file. More often than not it will be completely commented out, so it's ok to ignore it as long as we make it clear.
for reference, in elasticsearch we also get an explosion in the face:

[code]

[2016-05-31 03:43] talevy commented on #4548
@fbaligand thanks for the info!

Since we want to allow for more structure than just a `Map<String, String>` I have explored two options.

1. implement custom `Message` class and use a custom json layout similar to JSONLayout
2. implement custom [LogEvent](https://logging.apache.org/log4j/2.x/log4j-core/apidocs/org/apache/logging/log4j/core/impl/Log4jLogEvent.html), as well as a custom [LogEventFa

[2016-05-31 06:13] hitxueliang commented on #4131
get the same error ,my elasticsearch is 2.3.3 and  logstash is 2.3.2,they work correctlly ,but together not right.

[2016-05-31 08:32] jsvd commented on #5389
after some more discussion we decided to treat this as a fatal exception to avoid surprises that the yml file isn't being loaded.
so the action will be to print an error message and terminate

[2016-05-31 09:18] suyograo commented on #5390
This is normal behavior. if a directory is not empty, it will not fully remove it.

[2016-05-31 09:18] jsvd commented on #5389
closed by #5393

[2016-05-31 09:18] #5389 closed

[2016-05-31 09:20] suyograo commented on #5302
Done in #5341

[2016-05-31 09:20] #5302 closed

[2016-05-31 09:21] suyograo commented on #5319
This will be done via #4548

[2016-05-31 09:21] #5319 closed

[2016-05-31 09:22] suyograo commented on #5101
Done in #5341

[2016-05-31 09:22] #5101 closed

[2016-05-31 09:23] #5278 closed

[2016-05-31 09:26] #5325 closed

[2016-05-31 10:23] purbon opened #5395 "Enable to provide custom validation function for config values"
In https://discuss.elastic.co/t/custom-logstash-filter-validation-question/51338 there is a nice discussion on providing custom validation function for config values in plugins, this would enable users do a bit more complex validations when necessary.

In terms of implementation this would require some extensions to the current validation mechanism inside https://github.com/elastic/logstash/blob/m

[2016-05-31 10:42] type0lang commented on #5267
any news ?

[2016-05-31 10:51] jsvd opened #5397 "Acceptance tests can result in false negatives"
[An acceptance test](https://logstash-ci.elastic.co/job/elastic+logstash+5.0+multijob-acceptance/label=metal,suite=debian/7/console) failed but result was still success:

[code]

[2016-05-31 10:57] purbon commented on #5397
already noticed this @jsvd working on knowing details to fix it.

[2016-05-31 12:35] guyboertje commented on #5253
JMH benchmark results:
Comparing Kryo to Jackson JSON
[code]

[2016-05-31 12:56] jsvd commented on #5253
IMO, the most important benchmarks wrt speed are, from more important to less:

[code]

Does this mean we should stick to JSON?
Are you also creating another benchmark for size/memory/allocation?

[2016-05-31 13:01] #5397 closed

[2016-05-31 13:29] ph opened #5400 "Failling test on master concerning metric,"
[code]

[2016-05-31 13:45] guyboertje commented on #5253
Benchmark explanation:
[code]

Conclusions:
- The persistent queue needs bytes. We could rework Jackson to return bytes but that would be a different implementation from the Jackson used to provide a JSON string for output plugins.
- Kryo is on par with or better than Jackson for most typical use cases.
- Use Kryo now so @colinsurprenant can have something to store in the PQ MVP - PR immanent.

Im

[2016-05-31 13:49] guyboertje commented on #5253
@jsvd - JMH does not do size/memory/allocation benchmarking but it does have a profiler command line switch - I don't know whether one can see those details per benchmark. I will check with Daniel Mitterdorfer about this.
/cc @danielmitterdorfer

[2016-05-31 13:51] jsvd commented on #5253
this might be a stupid question, but why not testing the deserialization?

[2016-05-31 13:52] ph commented on #5400
At the moment of the expectation only one pipeline is running in the background. So It may be corrupted before?

[2016-05-31 13:53] jsvd commented on #5400
not sure..I'm also seeing https://logstash-ci.elastic.co/job/elastic+logstash+master+multijob-os-compatibility/os=ubuntu/lastBuild/console, but can't replicate locally

[2016-05-31 13:55] purbon commented on #5390
can not reproduce now the issue I saw with the acceptance test branch, so closing this for now. I will reopen with more data if I have it again.

[2016-05-31 13:55] #5390 closed

[2016-05-31 13:57] ph commented on #5400
There is a lot of failure related to the metric in the link log output. OK and the `IO closed` for the log.

I am able to replicate the one in the description 50% of the time with the seed.

[2016-05-31 14:01] ph commented on #5400
I think I will just go ahead and do https://github.com/elastic/logstash/issues/5366

[2016-05-31 14:01] untergeek commented on #5390
@purbon we _can_ remove the `vendor` directory with the `before-remove` scripts, but tend to not do this, as @suyograo pointed out, it's the default behavior.

What if a user added their own, custom plugin, and they were counting on the packaging system to _not_ delete the directory?

[2016-05-31 14:10] guyboertje commented on #5253
Not so stupid a question.
Based on these results I saw that deserialization times seemed to be a small bit more than the corresponding serialization times. So I figured the challenge was to pick a reasonable Byte Serialize technology.
Unless we pick a standard binary representation we can't mix and match technologies to pick the best for either side.
Also - Colin is really trying to have a cache o

[2016-05-31 14:10] purbon commented on #5390
this is a good test to make, but I guess it should be only in case you do
an upgrade, right? lets open a follow up issue. for this.

On Tue, May 31, 2016 at 4:03 PM Aaron Mildenstein <notifications@github.com>
wrote:

[2016-05-31 14:24] untergeek opened #5404 "Add path.data to settings.yml"
Elasticsearch uses `path.data` in its yaml file to indicate where the data directory should go.

Likewise, with Logstash plugins that need to keep state somewhere, we should use a `path.data` option, with the rpm/deb package default being `/var/lib/logstash`, and otherwise `$LS_HOME/data`.

Plugins should be able to piggy-back on this variable easily to allow them to keep state, perhaps in `/path.

[2016-05-31 14:25] suyograo commented on #5404
+1. This `path.data` will also be used to store `logstash.uuid` a persistent UUID which is stable across restarts.

[2016-05-31 14:25] ph commented on #5400
OK, just add the latest to this issue, in some trace you have multiple pipeline runing and in other you don't.. The easiest thing and the more safe thing is go ahead with #5366, So this will make this situation impossible and the reset will be controlled by the agent.

[code]

[2016-05-31 14:26] ph commented on #5366
Because of #5400 I've switched the priority to P1 and will go ahead with the refactor.

[2016-05-31 14:33] driverpt opened #5405 "GC Activity"
It would be nice if Logstash would create a Pool of reusable Event objects instead of constantly creating new ones.

The purpose of this, is to reduce the GC Overhead when running a Pipeline.
I recommend that if this goes forward, the Pool size should be equal to the Max In Flight objects in the Pipeline.

It would cost a bit of memory, but it will boost the performance.

Log4J2 has already done s

[2016-05-31 15:06] guyboertje opened #5406 "[ANN] Dissect Filter, a sort of alternate grok engine"
In recent weeks, many people (on LS discuss and via customer support) have reported stalling installations of LS. A good number of these have been from certain data patterns triggering a slow regex performance in a worker, a sequence of these data patterns sufficiently spaced apart can make all filter threads slow and unresponsive and if one has many events holding bad patterns in one batch then t

[2016-05-31 16:41] suyograo commented on #5253
@guyboertje any pointers on what each benchmark does? Its somewhat cryptic to understand from the name..

[2016-05-31 17:12] ph commented on #5366
cc @andrew

[2016-05-31 17:12] untergeek opened #5407 "Change runner.rb to not need path.settings for --version output"
As seen in #5399.  We shouldn't need to load settings if all we're doing is spitting out a version.

[2016-05-31 17:13] ph commented on #5366
cc @andrewvc

[2016-05-31 17:14] suyograo commented on #5407
Same for `--help`

[2016-05-31 17:15] untergeek commented on #5407
If this is not possible, e.g. due to `jvm.options` being needed to start up, then perhaps we should have an automatic test in place to check for `/etc/logstash` first, then fall back to `LS_HOME/config` if that's not found.

[2016-05-31 17:19] andrewvc commented on #5366
One other improvement would be to use a lazy cache to synchronize snapshots rather than a thread that does this periodically. It would fix initialization order issues and be a simpler design. We would need code like:

[code]

[2016-05-31 17:19] untergeek commented on #5048
This is addressed in #5341 by having Java locale options set in `jvm.options`.

[2016-05-31 17:19] #5048 closed

[2016-05-31 17:23] untergeek commented on #4736
This needs to be re-evaluated by virtue of the fact that LS_CONF_PATH is no longer even used, due to the shift to using `logstash.yml` as the settings path.  While Logstash _may_ yet need to look at directories and/or sub-directories, this is a different world with `path.settings`.

Also, the SYSV issue has been completely resolved by #5341, which changes startup altogether.

If this is still an i

[2016-05-31 17:23] #4736 closed

[2016-05-31 17:25] untergeek commented on #3658
Closing this in favor of #4548.

[2016-05-31 17:25] #3658 closed

[2016-05-31 17:26] untergeek commented on #5375
Any updates on this, @jordansissel ?

[2016-05-31 20:15] rogerwelin commented on #2594
@duncaninnes just curious, did you manage to get this to work? I'm interested in solving the exact same thing

[2016-05-31 20:23] duncaninnes commented on #2594
Sorry, no. Work took me in a different direction about 6 months ago. It was a bit hopeful of me to say I'd look I to testing it. Now you bring it up again (and because work is slightly more back in that direction) I'll give it a go.

[2016-05-31 20:31] rogerwelin commented on #2594
@duncaninnes I see =) Cool, I have a go at it as well. I'll post an update if I manage to set something up worth using

[2016-05-31 21:42] talevy opened #5412 "Logstash Plugin Generator Allows creationg of plugin without setting --type"
new logstash plugin generator errors out when creating new plugin

[code]

Expected:

- no error
- and creating `logstash-codec-confluent-avro` instead of `logstash--codec-confluent-avro`

[2016-05-31 21:42] talevy commented on #5412
btw, this is being run from `master` after a `rake bootstrap`

[2016-05-31 21:43] talevy commented on #5412
looks like it runs even though `--type` is not set

[2016-05-31 21:44] talevy commented on #5412
oh. and it doesn't support codecs

[2016-06-01 01:02] allenmchan commented on #5267
@type0lang just curious, how many partitions do you have in the kafka topic? Kafka only ensures order of messages within a partition.

[2016-06-01 04:04] ppf2 opened #5413 "Try path.settings in multiple locations?"
5.0 Alpha 3.

If LS is installed via a package (eg. RPM) and the user attempts to start it up manually by calling the logstash binary, it currently defaults to /usr/share/logstash/config as the default config dir and because such directory doesn't exist because it is not installed by the RPM.

While we do have a warning that talks about explicitly setting the --path.settings to the logstash settin

[2016-06-01 04:10] untergeek commented on #5413
This was the behavior until we realized that Elasticsearch has the same shortcoming. We opted to mirror the behavior.

[2016-06-01 08:18] type0lang commented on #5267
1 kafka, 1 partition

[2016-06-01 08:38] suyograo opened #5414 "Extract all version info into one single file"
Today there are several places to update versions for different gems. We should extract all of them out and move them to a separate file under `pkg/version.yml`

The structure of version.yml can be:

[code]

Once this is done, its easy to set version by the unified build script.

[2016-06-01 08:54] jonathanpmartins opened #5415 "Decode HexCodes in string or Convert Charset of a Field on the fly (filters)"
I have a case, that a numb cliente sends me a http request with all UTF-8 chaset, but the payload comes is Decodes with HexCodes, like: "\x22", "\xC3" "\xA2", and so on...

How can I DECODE only this string field, so I can proceed with my filter chain?

Example of the received JSON received:

        {\x22appid\x22:\x22000000000000001\x22,\x22devid\x22:\x22CN6Z8Eka3FSQ9IA\x22,\x22hash\x22:\x226DA5

[2016-06-01 09:11] suyograo opened #5416 "Building release packages by not changing files"
We need to change the way we build snapshot packages and release packages. Basically, we should be able to promote a release candidate (RC) package to a final release package without changing any files. We can achieve this by:

* Having one source of truth + script to set version #5414
* Build snapshot packages by default when we run a build. There is no need to specify snapshots in the version in

[2016-06-01 09:30] jsvd commented on #5404
+1, we have discussed adding this before, but there was no purpose yet in logstash for a path.data

[2016-06-01 09:36] suyograo commented on #5415
Hi, can you please post these kind of questions in our [forum](https://discuss.elastic.co/c/logstash)? The forum is also the best place to debug config issues, getting help etc. Github is mainly used for issues/enhancements. Thanks!

[2016-06-01 09:36] #5415 closed

[2016-06-01 09:38] suyograo commented on #5413
Also `/usr/share/logstash/config` is not where the config is when you install using the release packages..

[2016-06-01 09:41] suyograo commented on #5413
Related https://github.com/elastic/logstash/issues/5389

[2016-06-01 09:47] jonathanpmartins commented on #5415
@suyograo Thatks, I will be there!

[2016-06-01 09:54] suyograo commented on #5395
Makes sense! Covered in https://github.com/elastic/logstash/issues/3773

[2016-06-01 09:54] #5395 closed

[2016-06-01 09:54] suyograo commented on #5391
Hi, can you please post these kind of questions in our [forum](https://discuss.elastic.co/c/logstash)? The forum is also the best place to debug config issues, getting help etc. Github is mainly used for issues/enhancements. Thanks!

[2016-06-01 09:54] #5391 closed

[2016-06-01 10:07] driverpt opened #5417 "Invalid Semantic Versioning in Rubygems.org"
When i'm doing `bundle install` i notice that Snapshots have invalid versioning and i noticed that versioning is being made with a dot instead of a hyfen.

Output
[code]

The correct versioning should be **2.3.3-snapshot1**

[Source](http://semver.org/#spec-item-9)
[Rubygems](https://rubygems.org/gems/logstash-core-event)

This may affect existing developed plugins against version 2.3.x

[2016-06-01 10:22] suyograo commented on #5417
The problem is RubyGems does not allow dashes. We do follow semver so our package names are `x.y.z-pre`, but for RubyGems we need to re-process it as `x.y.z.pre`. Thats why you see `x.y.z.pre` in gemspecs.

Why should this affect plugins against version 2.3.x? Is there an error?

[2016-06-01 12:23] purbon commented on #5412
thanks for testing this features @talevy, I'm sorry for your pain. Yes as you described codecs are not supported still, but are on it's way very soon.

I see a couple of errors to fix here.

* Required parameters are not properly validates.
* Add codecs to the set of plugins we can create.

- purbon

[2016-06-01 13:02] jsvd commented on #5414
my first approach was to make all version constants to pull from the YAML file.
The problem is that our gems, when packaged, won't contain the yaml file unless we replicate it to all core gems.
The alternative is having indeed a yaml file that is used as SSOT, but then a rake task is used to propagate changes in the YAML to the gemspecs.
Thoughts?

[2016-06-01 13:04] suyograo commented on #5414
Works. As long as there is just one place as source to truth

[2016-06-01 13:12] suyograo commented on #5414
This task should be called only by `rake set-version` though, right?

Is this the workflow you're thinking:

* `rake version:set --version 5.0.0-alpha4` will set this version in `pkg/version.yml` and then call another internal rake task to propagate this to all the Gems?
* `rake version:get` outputs the current version.
* `rake artifact:tar` will build a snapshot artifact from the current sha and

[2016-06-01 13:17] purbon commented on #5412
This two issues should already be fixed in #5419 and #5421, sorry for your issues and thanks a lot for checking it.

[2016-06-01 13:24] jsvd commented on #5414
I'm thinking of:

* `rake version:sync`: check if it's necessary to propagate the changes and does it if so. This can be called at the start of ANY rake task automatically, like we do now for vendoring jruby.
* `rake version:set[5.0.0-alpha4]` which changes the yaml file and then calls `rake version:sync`
* `rake version:show` that prints the version of the logstash package
   - `rake version:show

[2016-06-01 14:15] suyograo commented on #5414
@jsvd +1, the flow makes sense, except for one thing:

I don't think we need sha for the first iteration. IMO, this complicates things, maybe just pick the current sha and build release for now?

Also +1 on `rake artifact:tar[release]` instead of `RELEASE=1 rake artifact:tar`

[2016-06-01 14:19] jsvd commented on #5414
using environment variables is useful for stuff like RELEASE=1 rake artifact:tar artifact:deb artifact:zip

As for the latest.build, the idea is to avoid doing a full build with a --release. in most cases we should already have a snapshot build from the sha1. it's just a matter of renaming

[2016-06-01 14:24] suyograo commented on #5414
The problem with env variable `RELEASE=1` is when some one sets it (previous run, or whatever) and forgets about it. We may be doing irreversible stuff for release, so I would be concerned about an environment variable.. WDYT?

[2016-06-01 14:25] jsvd commented on #5414
well if a script is doing:
[code]
it's a very very bad sign..correct approach should be `RELEASE=1 rake artifact:tar`

anyway, I'm ok with not implementing the env var for now

[2016-06-01 14:31] suyograo commented on #5414
whats the rake way of passing in flags?

[2016-06-01 14:36] jsvd commented on #5414
`rake task[flag1, flag2]` is the rake way

[2016-06-01 15:50] suyograo commented on #5347
Can this be closed?

[2016-06-01 15:53] suyograo commented on #5309
Here's the plan:

* Update plugins to use the new `set` and `get` API.
* Bump version to next major
* Add `s.add_runtime_dependency "logstash-core-plugin-api", "~> 2.0"` to gemspec so it depends on Plugin API v2
* Update changelog to "Breaking: Updated plugin to use new Java Event APIs"
* Create PR to master.
* One the PR is reviewed, merge and publish

[2016-06-01 15:55] suyograo commented on #5309
Any help here to update these plugins will be much appreciated. /cc @wiibaa @fbaligand @magnusbaeck :)

[2016-06-01 15:59] talevy commented on #5347
not sure. I'd like to hear @colinsurprenant's opinion on the matter

[2016-06-01 16:19] purbon commented on #5412
Fixed in #5419 and #5421

[2016-06-01 16:19] #5412 closed

[2016-06-01 16:38] linhntt41 opened #5426 "Duration => nil"
Hi!
I want to calculate delta 2 events, use ruby to calculate delta time
This my config:
if [status] == "out"{
  elasticsearch {
    hosts => ["localhost"]
    query => 'status:in AND username:"%{username}"'
    fields => ["@timestamp","start"]
      }
_ruby{
     init => "require 'time'"
     code => "event['duration_hrs'] = (event['@timestamp'] - event['start']) / 3600 rescue nil"_
     add_tag

[2016-06-01 16:53] talevy commented on #5412
awesome! thanks @purbon. I will test it today

[2016-06-01 22:17] andrewvc commented on #4923
@acchen97 I assume by directMax you meant nonHeap? I'm pulling from sources here https://github.com/elastic/elasticsearch/blob/34da01f794ba892176376aafc18e901cacdd0fce/core/src/main/java/org/elasticsearch/monitor/jvm/JvmInfo.java

[2016-06-01 22:25] robertd opened #5427 "logstash stop failed; still running. - logstash-2.3.2"
Ubuntu: 14.04

[code]

[code]

Patch landed in #5201 and #5202 but this is still an issue. My logstash instance keeps running...

Related to #4991.

[2016-06-01 22:29] robertd commented on #5427
I've also tried this but no luck

[code]

[2016-06-01 22:57] andrewvc opened #5428 "Initial Plugin Metrics"
These plugins need the following metrics. Moved from https://github.com/elastic/logstash/issues/4923

### Plugins
- Exposing basic plugin instance specific stats
- **Phase 1** - focus initially on 3 most popular plugins, one of each type
- API Endpoint for plugin specific stats: `/_node/stats/pipeline/plugins`

### 5.0 Scope

**Beats Input**
- [x] `in` - events in
- [x] `duration_in_millis` - tota

[2016-06-02 01:54] jonathanpmartins commented on #1645
👍

[2016-06-02 03:04] jonathanpmartins commented on #1695
hey @scakkia How can I solve the problem if logstash escape especial characteres?
My message is full with two backslahes: \\x22.
I live to remove only one backslash, and unpack the string with ruby. but logstash keeps escaping my one backlash, and so the result is nothing!

[2016-06-02 04:32] zozo6015 opened #5429 "logstash5 init.d script"
Hello,

I have just installed the complete version 5 setup on a docker container running debian jessie.
When I run the system-install script to generate the init script which it generates the systemd scripts but not the one in the /etc/init.d and docker cannot start the service running on the systemd (or at least I did not find a way yet).

Is there any way I could generate the script in the /etc/

[2016-06-02 04:41] untergeek commented on #5429
That seems strange.  Why doesn't `systemctl start logstash` work on a systemd container?  What's the parent container's setup?

[2016-06-02 06:12] zozo6015 commented on #5429
Whenever I start anything inside a docker container with systemctl I am getting the following error:

"Failed to get D-Bus connection: Unknown error -1"

This is not for logstash or any elastic based product, but really anything

[2016-06-02 06:49] acchen97 commented on #4923
@andrewvc there's a [direct](https://github.com/elastic/elasticsearch/blob/34da01f794ba892176376aafc18e901cacdd0fce/core/src/main/java/org/elasticsearch/monitor/jvm/JvmInfo.java#L78) memory max.  With your experience, do you find non heap stats to be helpful as well for troubleshooting?

[2016-06-02 08:19] jlecour opened #5430 "Debian Policy compliance"
Hi,

This issue has a [sibling, in the Kibana issue tracker](https://github.com/elastic/kibana/issues/7350).
It is about improving the Logstash package to be more Debian Policy compliant.

For Logstash, the main issue is that it is install in `/opt` instead of `/var/lib` and the binaries are in a subdirectory of the main install directory instead of `/usr/bin`.

As I've said in the Kibana issue, I

[2016-06-02 08:31] purbon commented on #5430
Good morning, as you could see in https://github.com/elastic/logstash/pull/5341 there has been an efforto to make the package more standarize, however I'm not sure what are the benefits of following `debian policy` ? would you be so nice to enumerate them?

thanks a lot.

[2016-06-02 09:22] suyograo commented on #5430
@jlecour For 5.0.0, here's our directory structure which mirrors ES: https://www.elastic.co/guide/en/logstash/5.0/dir-layout.html

[2016-06-02 09:24] suyograo commented on #5426
Hi, can you please post these kind of questions in our [forum](https://discuss.elastic.co/c/logstash)? The forum is also the best place to debug config issues, getting help etc. Github is mainly used for issues/enhancements. Thanks!

[2016-06-02 09:24] #5426 closed

[2016-06-02 09:25] suyograo commented on #5427
Can you add more details here:

Version:
Operating System:
Config File (if you have sensitive info, please remove it):
Sample Data:
Steps to Reproduce:

[2016-06-02 09:48] driverpt commented on #5417
Closing. Gem needs to be Yanked. I based my plugin on logstash-codec-json and since it does not have `s.add_runtime_dependency "logstash-core", "~> 2.3.0"` it fetched the latest version.

[2016-06-02 09:48] #5417 closed

[2016-06-02 09:51] aaratn commented on #4131
Hi,

I am getting same errors with my ELK installation. Here's the message that I am seeing. I am wondering if there's a workaround to overcome this error.

```{:timestamp=>"2016-06-02T09:17:20.561000+0000", :message=>"Attempted to send a bulk request to Elasticsearch configured at '[\"http://localhost:9200/\"]', but an error occurred and it failed! Are you sure you can reach elasticsearch from th

[2016-06-02 09:53] suyograo commented on #5416
@jsvd @jordansissel and I had a zoom conversation yesterday. Rough notes:

### Enabling Multiple Snapshots
Gemfiles in release branches will not use published `logstash-core*` gems from RubyGem. It will be built locally and referenced, like we do in master branch now:

[code]

The version here will come from `pkg/version.yml` which is described in #5414. This way, we can publish as many snapshots

[2016-06-02 10:01] suyograo commented on #5151
Closed in favor of #5416 and #5414

[2016-06-02 10:01] #5151 closed

[2016-06-02 11:43] jsvd opened #5433 "Default plugins test failing in 2.x with a special seed"
[code]

[2016-06-02 12:48] untergeek commented on #5429
As I responded in the Discuss forums:

From what I can tell, this is more of a Docker issue, and it can be worked around:

https://github.com/systemd/systemd/issues/1224#issuecomment-139124387

Re-adding `CAP_SYS_ADMIN` seems to fix the issue.  We _may_ try to allow users to force init styles, but this is not pressing if there's a way to fix the larger issue by fixing the container instead.

[2016-06-02 12:53] zozo6015 commented on #5429
Yes, it is a docker issue that's why I was asking if it's possible to generate a systemv init script, since that would work.

[2016-06-02 12:58] jlecour commented on #5430
@purbon  When packaging a software for a specific system, it's considered best practice and good citizenship to conform to the "local" policy. That way, sysadmin who install the package are not surprised by unusual configuration of log/conf/bin/… paths It also helps standard tooling support the package, for example logrotate, pid supervision, binary protections, configuration backup…

@suyograo I

[2016-06-02 13:07] jsvd opened #5434 "branch 5.0 core tests failing"
https://travis-ci.org/elastic/logstash/builds/134732394

[code]

@andrewvc I believe ef18693 is missing in 5.0?

[2016-06-02 13:26] untergeek commented on #5429
We do not believe it is appropriate to force SYSV.  We made the install script auto-detect the underlying startup mechanism, and create scripts accordingly.  We will not be fixing this.

[2016-06-02 13:26] #5429 closed

[2016-06-02 13:32] suyograo commented on #5430
Thank you @jlecour! As this breaks compatiblity, we can only do this for 5.0 (a major release).

[2016-06-02 13:32] #5430 closed

[2016-06-02 13:33] untergeek commented on #5430
@jlecour As an organization, we do not want to have to maintain separate documentation for each distribution: Debian uses these paths, Redhat these, SuSE these paths, and so on.  It's tedious for users to have to crawl through extra documentation, and tedious for package builders/maintainers to have to maintain extra options and packages.

In spite of it not conforming to the "local" policy, is ea

[2016-06-02 14:28] suyograo commented on #5413
@ppf2 does this answer your question?

[2016-06-02 14:41] jlecour commented on #5430
@untergeek I understand the "it's easier" argument, but I think it's a bit odd here.

For one, as an organization you've apparently already done most of the work to adapt to the ecosystem you package for, hence the specific documentation I've been pointed to.

Then, if "easier" is the motto, why bother making packages then? When you make packages, it's for helping people to use your software on th

[2016-06-02 14:49] robertd commented on #5427
Version: `logstash_2.3.2-1`
Operating System: `Ubuntu 14.04`
Config Files:
*`/etc/logstash/conf.d/02-beats-input.conf`*
[code]

*`/etc/logstash/conf.d/10-syslog-filter.conf`*
[code]

*`/etc/logstash/conf.d/30-elasticsearch-output.conf`*
[code]
Sample data: Beats is sending syslog data from other VM to logstash.
Steps to reproduce: `sudo service logstash stop`
[Tutorial followed](https://www.digita

[2016-06-02 16:01] purbon commented on #5340
merged!

[2016-06-02 16:01] #5340 closed

[2016-06-02 16:14] acchen97 commented on #5294
You're correct, closing...

[2016-06-02 16:14] #5294 closed

[2016-06-02 16:48] michbsd opened #5437 "Logstash hangs / unresponsive"
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

Logstash Plugins are located in a different organization: https://github.com/logstash-plugins. For bugs on specific Logstash plugins, for example, if Redis Outpu

[2016-06-02 16:48] jsvd commented on #5434
this is also likely due to 5.0 branch using a fixed version of core gems, but launching the specs from the local git repo.

[2016-06-02 17:35] ph commented on #5366
Even with removing the singleton, the `LogStash::Agent metrics after config reloading resets the metric collector` is still failling. Doing a bit more digging.

[2016-06-02 17:43] ph commented on #5366
I think it might be related to the test case and the agent doesnt reload the new configuration.

[2016-06-02 17:59] ppf2 commented on #5413
Yes, though I think the user experience can still be improved esp. since /usr/share/logstash/config will not be there for folks installing it to run via a package so this error will always show up for them.  But if the goal is to keep the behavior in sync across products as the priority (even though it has shortcomings), then we can close this :)

[2016-06-02 18:23] ph commented on #5366
I've moved stuff around, to know this.
- when the agent start the collector is correctly save the metric
- the metric store is correctly cleaned when a pipeline is restarted
- Some metric are correctly saved to the new metric store like the jvm stats but newly created pipeline.

[2016-06-02 18:43] ph commented on #5366
faillings test fixed, thread safety when we were creating pipelining and settings the metric.

[2016-06-02 19:16] untergeek commented on #5413
@ppf2 the same thing happens if you try to launch Elasticsearch, too.  It says that there's no config file in /usr/share/elasticsearch/config.  We'll just document it well, so users will know where to find it.

Perhaps we can put better error messaging when /usr/share/logstash/config is not found, and suggest that if it was installed via package, that `--path.settings` should point to `/etc/logsta

[2016-06-02 19:19] untergeek commented on #5429
[As a confirmation](https://discuss.elastic.co/t/logstash-5-alpha3-not-starting/51641/5):

[2016-06-02 19:23] ppf2 commented on #5413
+1 I haven't checked all the package installations, if they all default to /etc/logstash, let's update part of the error message to say:

[code]

thx!

[2016-06-02 21:17] acchen97 opened #5438 "Microsoft Azure WAD table input"
Ingest Azure Diagnostics data from Azure table storage.

https://github.com/Azure/azure-diagnostics-tools/tree/master/Logstash/logstash-input-azurewadtable

[2016-06-03 03:00] ceeeekay opened #5440 "Logstash 5.0.0~alpha3 - Multiple filter sections causing unexpected conditional behaviour"
With multiple filter sections in a config (e.g., when using separate filter files) if a message matches multiple conditions, the action from the last condition will be replayed the number of times the message matches.

This can also be reproduced in a single file with multiple filter sections:
[code]
[code]
Note the tag array "2","2" rather than the expected "1","2"

However if the same filters ar

[2016-06-03 03:55] oyld commented on #5356
I have created a PR, thanks.

[2016-06-03 07:29] mkulke commented on #3856
[code]

it chokes on the array and does process the (legal) 2nd jsonline, while an actually invalid json will be handled gracefully:

[code]

is this supposed to be this way?

[2016-06-03 07:49] jsvd commented on #3856
closed in favor of https://github.com/logstash-plugins/logstash-codec-json_lines/issues/27
@mkulke let me know if this issue correctly reflects your concern

[2016-06-03 07:49] #3856 closed

[2016-06-03 08:10] purbon commented on #5434
most probably is because of using core from unreleased snapshot, so looking forward to finally get https://github.com/elastic/logstash/issues/5416 (see Plugins test section) so we test with core code 👍, all this been unecessary pain we're seen here.

[2016-06-03 10:47] purbon commented on #5407
I agree, having version and help not possible to be run without passing the settings seems a bit too much for me

[2016-06-03 10:57] purbon opened #5443 "Plugins using java code directly as it's ruby"
I noticed an increasing usage of java code directly in ruby layer, this has happen either in core or plugins. In my opinion, without the proper abstractions, this might introduce some maintenance problems in the feature.

This could be due to:

* Changes inside the JVM or differences between VM's.
* Request to support other ruby vm's.

As we should leverage java capabilities in ruby, I propose we

[2016-06-03 11:16] jsvd commented on #5443
I'm +1 on converging to a common agreement of using ruby+jruby+java, it's something I think will happen gradually as we use more and more,  which certainly means we'll need to refactor current code.

About the example reasons for risks of lower maintainability I don't see changes in JVMs a big issue (we probably suffer more from issues in jruby itself than breakage within major versions of oracle/

[2016-06-03 11:24] andrewvc commented on #5443
If I understand you you're worried that we're mixing Java and ruby at the language level by directly using java classes like `java.util.concurrent.ReentrantReadWriteLock`.

We're already 100% committed to the java platform. The Event class is pure Java, persistence will be pure java, many plugins (e.g. RabbitMQ and Elasticsearch) have strong dependencies on Java libraries already.

Whether we use

[2016-06-03 11:36] andrewvc commented on #5443
I should also add that the point about JVM changes is entirely without precedent in the history of Java. If you can demonstrate a meaningful example of your first point being an issue I'd like to hear it. If another JVM doesn't support the standard lib then it isn't a proper Java.

There have been changes in the internal implementation of stdlib functions in Java, but to my knowledge never changes

[2016-06-03 12:16] purbon commented on #5443
thanks a lot for your comments @jsvd and @andrewvc , closing this issue now as this opinions together with feedback from PH makes this 3 people not happy with it, happy to share concerns and see what do you guys think.

[2016-06-03 12:19] suyograo commented on #5434
Released a new snapshot.

[2016-06-03 12:19] #5434 closed

[2016-06-03 12:19] ph opened #5444 "Logstash plugins should target the Java platform."
Since plugins cannot work without the `logstash-core-java-event` it makes sense that we make sure the plugins are publishing only as java gems.

This mean we need to add to all the plugins gemspec the following line `s.platform = "java"`.

This will also prevent people to do a bundle install under MRI, since bundler will yield a useful message telling them they need to have the correct ruby platfo

[2016-06-03 12:24] purbon commented on #5444
agreed with it, this is necessary.

[2016-06-03 12:30] #5443 closed

[2016-06-03 12:37] baspet commented on #4276
i 've just downloaded 5.0.0-alpha3 and translate plugin is missing

[2016-06-03 12:38] suyograo commented on #5352
Just checked that 2.x should still support Java 7 until its EOL.

[2016-06-03 13:29] ph commented on #5366
I finished doing this refactor, I will run the test on a dedicated box to make sure we dont have any issue like #5400.

[2016-06-03 13:43] jsvd commented on #5414
one concern with `rake version:set[5.0.0-alpha4]` is that we can expect that all logstash components (global package, core, event, event-java) will be in sync, but logstash-core-plugin-api has different versioning that will only be bumped during release builds, not snapshots.

So are we OK that `rake version:` tasks (set, show, sync) don't manage logstash-core-plugin-api?

[2016-06-03 13:52] jsvd commented on #5414
current example of rake version:sync / rake version:show (this is still WIP):

[code]

[2016-06-03 14:01] suyograo commented on #5414
Yeah we should be ok with https://github.com/elastic/logstash/issues/5414#issuecomment-223582141

The plugin-api is only expected to be published after promoting a release candidate to a release, so it can be bumped up and published after that. Can we add `rake version:set logstash-core-plugin-api 2.12.0`.

Also `version:sync` should be careful to update _all_ version references in gemspecs. For e

[2016-06-03 14:18] andrewvc opened #5445 "Intermittent failure of agent spec"
I got  an error on https://travis-ci.org/elastic/logstash/builds/135021910

[code]

[2016-06-03 14:36] PhaedrusTheGreek opened #5447 "Provide filter to sub field names"
Just a feature request.  It would be nice if we could do something like:

[code]

There's a ruby alternative laid out in [this stackoverflow question](http://stackoverflow.com/questions/31068169/how-to-remove-underscores-in-field-names-with-logstash/31120218#31120218).

[2016-06-03 15:13] consulthys opened #5448 "Logstash shuts down while events are still being processed"
I've encountered a weird case while trying to load events from a DB and forward them to ActiveMQ via the Stomp protocol.

Basically, my config is very simple and looks like the one below. The SELECT returns approximately 25K ids which are then forwarded as messages via the `stomp` output.

[code]

If the number of returned records is low (<500), all messages get sent. But as I increase the date in

[2016-06-03 16:04] suyograo opened #5449 "Add set and get API to Ruby Event implementation"
Java Event APIs (setters/getters) were introduced in 5.0 (as core-plugin-api 2.0). All plugins were updated to use these calls instead of directly using Ruby's hash syntax. While this works well for 5.0, it would be great if we can introduce the setter and getter API in 2.4 as well, for the Ruby Event implementation. Basically `set` and `get` in LS 2.4 would alias to existing `[]` and `[]=` respec

[2016-06-03 16:06] suyograo commented on #5449
Once this is in, plugin gemspecs needs to change plugin-api constrains from:

`s.add_runtime_dependency "logstash-core-plugin-api", ">= 1.x", "< 3.0"`

where 1.x is the version of `plugin-api` gem which has `get` and `set`

[2016-06-03 17:56] jakommo opened #5450 "Include hostname in all `_node` API outputs"
Currently the output is not consistent, e.g. the `_node/hot_threads` includes the hostname in the output, while `_node/stats` doesn't.

Example:

[code]
[code]

It could be useful to have the have the hostname in the output, e.g. for monitoring that calls several instances etc.

[2016-06-03 18:27] wiibaa commented on #3858
@jordansissel So the point is to keep a small section in the plugin with the obsolete config. Make sense. Just curious about how long should we keep obsolete config ? forever, x months ?
@suyograo can you clear the checklist for this additional phase ?

[2016-06-03 19:37] ThomasdOtreppe commented on #4276
@baspet When you update you have to reinstall all the plugins you had installed before. Updating erase all plugins.

[2016-06-03 21:37] andrewvc commented on #5450
@jakommo good catch! Should we really be using node.name instead however?

[2016-06-06 08:04] jakommo commented on #5450
@andrewvc, ah nice, didn't know there was a `node.name` available.
In my opinion including both `hostname` and `node.name` would even be more unique to identify an instance.
I also think it is important to have this identical across all API responses.

[2016-06-06 08:12] javahuang commented on #1817
+1

[2016-06-06 10:16] uschtwill commented on #4308
For others that might be searching for a solution to this. This worked beautifully for me: https://stackoverflow.com/questions/34075538/elk-process-multiline-logs-from-multiple-docker-images

[2016-06-06 10:58] jjm commented on #5427
I'm seeing this too, the following has fixed the failing to stop when `KILL_ON_STOP_TIMEOUT` is set to `1`:

[code]

[2016-06-06 12:48] santhu227 commented on #4368
Hi Guys.,

we are getting below error in logstash log

log:

Beats input: The circuit breaker has detected a slowdown or stall in the pipeline, the input is closing the current connection and rejecting new connection until the pipeline recover
Beats input: the pipeline is blocked, temporary refusing new connection.", :reconnect_backoff_sleep=>0.5, :level=>:warn

Note : Logstash instance was workin

[2016-06-06 15:57] bevacqua opened #5451 "Fails silently as a service under certain conditions"
The `node_app` input always works. The `nginx_access` input works only when run as `admin`, but not when run as `logstash` through `sudo service logstash start`. Both log files are readable to everyone.

Here's the config file:

[code]

`patterns/node`:

[code]

`patterns/nginx`:

[code]

[2016-06-06 16:26] untergeek commented on #5451
@bevacqua

What version of Linux?

If it's unable to read the file, it is almost certainly permissions related.  I'm guessing (and this is not uncommon on Linux variants) that the path `/var/log/nginx` or `/var/log` does not allow read privileges to _other_.

What are the permissions on each directory of the chain:

/var
/var/log
/var/log/nginx

The user that Logstash runs as when run as a service

[2016-06-06 16:27] bevacqua commented on #5451
Debian Jessie

[2016-06-06 16:34] untergeek commented on #5451
@bevacqua And the directory permissions of each member of the tree?

[2016-06-06 16:47] bevacqua commented on #5451
[code]

[2016-06-06 17:28] untergeek commented on #5451
Here it is:

[code]

In particular, the `other::r--`.  Without `x`, or `execute` permissions, even the `other` group cannot traverse the directory.  Your options are to either do a `chmod o+x /var/log/nginx` or add the logstash user to group `adm`, which has read and execute privs already.

[2016-06-06 17:29] bevacqua commented on #5451
[code]

[2016-06-06 17:29] bevacqua commented on #5451
Oh well.

[2016-06-06 22:39] acchen97 commented on #5450
@jakommo thanks for filing, I agree we should be more consistent here.  Node name and uuid should be present across the different endpoints (node info, node stats, plugins).  I'll define an issue for more clarity tonight.

[2016-06-06 22:41] tsouza opened #5452 "Numeric configuration from environment variable"
It seems that the supported syntax for interpolating with an environment variable won't allow using numeric configuration.

For example, the `consumer_threads` configuration for the kafka input plugin accepts an integer but the syntax to configure it using an environment variable (i.e. "${CONSUMER_THREADS}") will create a string and thus not supported.

Maybe logstash should automatically parse th

[2016-06-07 07:36] michbsd commented on #5437
Any other traces needed?

[2016-06-07 07:51] sumanthakannantha commented on #4368
We are also facing same issue. Any updates on this?

[2016-06-07 08:34] guyboertje commented on #5406
P.S. the Pull request is [here](https://github.com/logstash-plugins/logstash-filter-dissect/pull/1)

[2016-06-07 10:01] purbon commented on #5324
we sadly hit the same issue in logstash-ci 👎, see https://logstash-ci.elastic.co/job/elastic+logstash+master+multijob-acceptance/label=metal,suite=debian/10/console for a bit of research.

not is time to investigate this and have a solution, @untergeek your thoughts are welcome also.

[2016-06-07 11:27] michbsd commented on #5437
Attaching truss to the pid, I see a lot of these (while logstash being unresponsive):

_umtx_op(0x80065ba88,UMTX_OP_WAIT_UINT_PRIVATE,0x0,0x18,0x7fffd8f8d728) ERR#60 'Operation timed out'
kevent(331,0x0,0,{ },128,{ 0.500000000 })	 = 0 (0x0)
kevent(143,0x0,0,{ },128,{ 0.500000000 })	 = 0 (0x0)
kevent(268,0x0,0,{ },128,{ 0.500000000 })	 = 0 (0x0)
_umtx_op(0x80065b3b0,UMTX_OP_WAIT_UINT_PRIVATE,0x0,0x

[2016-06-07 13:28] danielmitterdorfer commented on #5253
@guyboertje You can run the "gc" profiler in JMH by adding `-prof gc`. The output looks like this:

[code]

So you see the secondary results even in the summary report. Another suggestion: I typically share the benchmark source code, environment info (OS, JVM version, ...) and the results in a gist. Here is an example: https://gist.github.com/danielmitterdorfer/871cd62d7e16e45ae79d

[2016-06-07 13:49] guyboertje commented on #5253
@danielmitterdorfer - thanks v much. The benchmarks here are a teaser. The benchmark code is in the Pull Request.

[2016-06-07 14:23] tsouza commented on #5452
It seems that is actually supported, my test did not include the "--allow-env" flag.

I'll close it because it's invalid.

[2016-06-07 14:23] #5452 closed

[2016-06-07 14:40] PhaedrusTheGreek opened #5458 "%UNIXPATH can cause RegEx DOS"
Repro is very simple.   This will peg your CPU:

[code]

The more `/asdf/asdf` you add, the longer it takes.

It works without delay on this [online grok debugger](http://grokdebug.herokuapp.com/) app:

![grokdebug](https://cloud.githubusercontent.com/assets/4387023/15861888/c8a1dc04-2c9b-11e6-83e7-9630d8a33bd1.png)

Investigating, it was found that the UNIXPATH is different between tools:

Online

[2016-06-07 16:14] guyboertje commented on #5449
PR https://github.com/elastic/logstash/pull/5457

[2016-06-07 21:55] dhdanno commented on #4368
I set my congestion threshold to 40. I remember needing to tune this to get a value that worked.

congestion_threshold => "40"

[2016-06-08 01:00] ceeeekay commented on #5440
Looks good - thanks :)

[2016-06-08 03:50] jrgns commented on #5174
I think this is related? logstash-plugins/logstash-output-cloudwatch#9

[2016-06-08 03:50] jrgns commented on #5448
I think this is related? elastic/logstash#5174

[2016-06-08 03:57] consulthys commented on #5448
In my case, Logstash shuts down even though it shouldn't according to my understanding, i.e. it shuts down too early, while in the issue you're referring to, it never shuts down. It's also worth noting that I'm not hitting Ctrl+C or anything, Logstash simply shuts down, while events are still flying across the pipeline.

[2016-06-08 07:52] michbsd commented on #5437
Hi,

I've updated the thread on the forum, with some more information:
https://discuss.elastic.co/t/logstash-high-cpu-and-unresponsive/51254/4

Any pointers on how to fix this would be much appreciated.

thanks,

[2016-06-08 08:14] T3rm1 opened #5461 "faf"
- Version: 5 Alpha 3
- Operating System: Debian
- Config File: http://pastebin.com/zMg7pAje
- Sample Data: Any JSON
- Steps to Reproduce:
  1 Write JSON_A to log file using echo JSON >> FILE
  2 Edit FILE with vim and insert JSON_B to the end of the file. Save
  3 Edit FILE with vim and insert JSON_C to the end of the file. Save

In Step 1 everything runs fine. In Step 2 sincedb is not updated cor

[2016-06-08 10:22] type0lang commented on #5267
any news ?

[2016-06-08 11:21] #5440 closed

[2016-06-08 11:55] janbernhardt opened #5462 ""@" sign missing for USERNAME in grok pattern"
"@" character is also very common for usernames. This is missing in the grok pattern and thus causing parsing problems at my COMMONAPACHELOG filter.

Please add this character to the list of allowed characters.

[2016-06-08 12:45] arkadyi commented on #4083
I actually has the same problem. I see this bug has been closed w/o any explanation/solution.
Where can I find how to solove this problem?

[2016-06-08 13:39] guyboertje commented on #4289
@jorritfolmer - work on this fundamental change has been suspended while I work on queue persistence.

One can think of an input as a orchestration mechanism with a data source loop stage and an event generation stage.

That said, my design centred around the idea of getting a context hash + the raw data from the data source, allowing the data source to put the raw data in context before it gives

[2016-06-08 14:42] purbon opened #5464 "Bug in config parser in 5.0 (seen in CI)"
Bug seen in Jenkins, see https://logstash-ci.elastic.co/job/elastic+logstash+5.0+multijob-intake/133/console

[code]

error seems to be here since https://logstash-ci.elastic.co/job/elastic+logstash+5.0+multijob-intake/130/console and https://github.com/elastic/logstash/commit/ed46e475eabd45d44f566b63d9d9799c66fe15cc

[2016-06-08 14:44] purbon commented on #5464
@jsvd any idea why this might happen?

[2016-06-08 14:50] purbon commented on #5324
With the merge of #5456 we removed the usage of snapshot/restore so we don't see this issue anymore, will close this issue and open a new one where we can follow up further investigation if necessary.

[2016-06-08 14:50] #5324 closed

[2016-06-08 14:54] jsvd commented on #5464
yes, 5.0 spec runs use logstash-core gem from rubygems for code execution but launches specs from git 5.0 branch. so until a new snapshot is made it will continue to fail.

[2016-06-08 14:55] purbon commented on #5464
oh, I see!

thanks for the heads up Joao.

On Wed, Jun 8, 2016 at 4:54 PM João Duarte <notifications@github.com> wrote:

[2016-06-08 15:53] PMDubuc commented on #5114
I've been trying to follow this discussion and am getting a little confused as to what I need to do to fix the problem after upgrading to Logstash 2.3.2 from 1.5.4 and Elasticsearch 2.3.3 from 1.7.3.  I'm using this geoip filter:
[code]
It seems to work fine most of the time, for several days, but then I start getting exceptions like
 MapperParsingException[failed to parse]; nested: IllegalArgumen

[2016-06-08 16:28] jsvd commented on #5405
@driverpt first of all, thanks for bringing this issue up and starting the PR. What follows below is my raw mind dump about this:

To add a bit more context to this issue, here is a bit of background on logstash memory consumption:

-----

Logstash is an streaming event processing pipeline, which means the unit of work is the event, which is created from byte streams through the inputs, gets filte

[2016-06-08 16:55] ph opened #5465 "JavaEvent#set should allow to pass a JavaMapProxy as a value"
When working on the netty rewrite of the beats input I came across this issue when implementing the codecs and doing merges of values from a hash.

When you pass a `JavaMapProxy` to the set method it currently doesn't work because the Javafier doesn't know how to handle that kind of value. As noted by @guyboertje it should also handle the case of `ArrayMapProxy`.

[code]
cc @guyboertje @colinsurpr

[2016-06-08 19:02] colinsurprenant commented on #5405
@driverpt before moving forward with this idea I'd like to see a performance analysis which demonstrate that GC activity has a significant impact on logstash performance.

#5455 might be a good idea but I'd like to avoid proposing solutions to an unsubstantiated problem at this point. Could you share any of your observations which mesure the impact of the GC activity?

[2016-06-09 05:51] robin13 opened #5466 "sincedb documentation incorrect"
Looks like the [default path](https://github.com/elastic/logstash/commit/4baf29dc5f76a05c3c1486d56bc7a973b0825f1f) is now $LOGSTASH_HOME and not $HOME for sincedb_path

https://www.elastic.co/guide/en/logstash/current/plugins-inputs-file.html#plugins-inputs-file-sincedb_path

[2016-06-09 08:15] guyboertje commented on #5449
Closed by #5457

[2016-06-09 08:15] #5449 closed

[2016-06-09 08:24] purbon commented on #5334
this got removed during rework faces in the review, is no longer an issue for now.

[2016-06-09 08:24] #5334 closed

[2016-06-09 09:07] driverpt commented on #5405
@jsvd @colinsurprenant . The conclusions that led to this behaviour was the memory consumption and it's relation to the GC activity.
We monitored the memory consumption and GC activity and noticed that it peaks when Memory reaches 3/4 of Heap, as you can see in the screenshot. From my experience this is what is called a Hard GC, which means it's "Stop the world!" to free memory, which in high data

[2016-06-09 09:16] purbon opened #5467 "[Acceptance test] Vagrant snapshot/restore networking issues with some host machines"
During the development of our internal QA acceptance test framework that runs on vagrant/virtualbox VM's we encountered the need of using the snapshot/restore in vagrant so we could handle situations where the logstash installation state should be reverted to a known state.

The issue detected is basically that after a bootstrap/restore dance is performance the target host of this restore is not a

[2016-06-09 09:22] purbon commented on #5467
@dliappis as you created the ubuntu VM images we're using, together with the debian ones, anything that you might see to be sure this issue is not related with the way the ubuntu images are made?

[2016-06-09 09:30] jsvd commented on #5405
From that CPU/GC activity charts we can conclude some things:

a) Xms is not set to Xmx, which means the jvm will allocate by default the Xms size and, if memory hits a certain percentage, it gradually grows until it hits Xmx

b) CPU isn't saturated: CPU usage varies around 50% with some spikes. I'd be interested to see the balance between CPU usage and GC activity during maximum throughput. Most

[2016-06-09 09:44] purbon opened #5468 "Acceptance tests plugins update scenario broken."
The update test in the acceptance layer does not work as expected causing many issues as you can see in https://logstash-ci.elastic.co/job/elastic+logstash+master+multijob-acceptance/label=metal,suite=debian/15/console

The source of this error is the code used to remove the version constran in the gemfile for the test gem used in tests, this is required because in logstash if you previously insta

[2016-06-09 11:10] purbon commented on #5468
After further investigation there might be also some issues for this scenario, currently for debian-8 target OS, we see if run manually:

[code]

[code]

[2016-06-09 11:24] kryptpt commented on #5405
Hi all, @driverpt co-worker speaking.

@colinsurprenant I understand your point, and personally I respect that. I believe that Therefore, I have to say the peaks of GC activity scares me a bit. Currently our logstash instance produces ~3000 events/sec, and when GC jumps in, logstash slows down to ~1000 events/sec (sometimes ~600). For our use case, this behaviour is a critical issue.

@driverpt an

[2016-06-09 11:44] dliappis commented on #5467
@purbon there is nothing special about the way our ubuntu images are created apart from disabling predicable interface names due [to this vagrant bug](https://github.com/mitchellh/vagrant/issues/7361) -- to be fixed in vagrant release 1.8.3

In order to verify, I tried using the ["official" Ubuntu maintained vagrant box](https://atlas.hashicorp.com/ubuntu/boxes/trusty64) for Xenial -- but it is cu

[2016-06-09 12:16] purbon commented on #5467
Thanks for your feedback here Dimitrios, I guess this might be enough test
to validate this issue, we've for now a "plausible" workaround, I guess
next step is to actually push all this information back to vagrant and see
what do they think about it.

Are you ok with it?

On Thu, Jun 9, 2016 at 2:14 PM Dimitrios Liappis <notifications@github.com>
wrote:

[2016-06-09 12:26] dliappis commented on #5467
Actually I waited some time (long time) and at least the `bento/ubuntu-16.04` box did come up *a couple of time* (that is with vagrant/master). On other occasion it went into an infinite loop of `Retrying`

Even if it does work once in a while, I am not sure if waiting that long is worth it, as it defeats the purpose of snapshoting.

With regards to a workaround, I am not sure there is one apart f

[2016-06-09 12:26] purbon commented on #5468
I did the same test with ubuntu-1404 host and got the same issue with the update all command, see

[code]

@ph as you created this test, any thoughts? might this be due to any problem with the dummy gems used?

[2016-06-09 12:40] ph commented on #5468
I think I know why, I believe the File.open of the `replace_in_gemfile` doesn't open the file with the correct mode.

[2016-06-09 12:49] purbon commented on #5468
Interesting, here I see two issues,

1.- we can not use `bin/env` as this is not present in all different OS, or we should pick the right path for each OS.
2.- there is the issue with the command and the way we use it, my guess this is more a proper error, see previous comment for mode description.

[2016-06-09 12:51] ph commented on #5468
By curiosity which os doesn't have `/bin/env`?

[2016-06-09 12:53] purbon commented on #5468
this was a problem to me with debian-8, did not test more in deep but I
guess might be transferable to others (we should verify)

On Thu, Jun 9, 2016 at 2:51 PM Pier-Hugues Pellerin <
notifications@github.com> wrote:

[2016-06-09 13:05] ph commented on #5468
With a freshly uncompressed `tar.gz`  I can install the dummy plugin, So I think sed it the culprit here.

[code]

[2016-06-09 13:05] ph commented on #5468
I can replace the sed command with `sed` only the $PATH should allow us to find it hopefully on every os.

[2016-06-09 13:26] ph commented on #5468
@purbon I've loop at the original jenkins output carefully, I dont see any UTF error in it, how did you track it down, you just ran the command on the host itself after it fails?

[2016-06-09 13:29] ph commented on #5468
I fixed the update a specific plugin seems to work OK on ubuntu-1404, but updating all the plugins fails.

[code]

[2016-06-09 13:36] dliappis commented on #5467
@purbon I tried a loop (see below) of 10 push + pop's on my Fedora 23 workstation with the stock `vagrant 1.8.1` (where I sorted out the issue with lacking the vagrant snapshot commands\[1\]).
This worked flawlessly.

[code]

So with Fedora-23 as host I couldn't reproduce the problem.
Have you noticed other host platforms, apart from Ubuntu 14.04 LTS, manifesting this issue?

\[1\]: this was becau

[2016-06-09 13:56] purbon commented on #5467
in our test, was happening for @ph in his mac env, not for me similar mac and in CI all ubuntu hosts.

[2016-06-09 14:41] ph commented on #5468
[code]

[2016-06-09 14:42] purbon commented on #5468
so encoding error in the dummy gemspecs?

On Thu, Jun 9, 2016 at 4:41 PM Pier-Hugues Pellerin <
notifications@github.com> wrote:

[2016-06-09 14:42] ph commented on #5468
Adding `--no-verify` make the command works succesfully, the problem is when we call rubygems.

[2016-06-09 14:50] ph commented on #5468
@purbon LOL, look at this adding a begin;rescue;pry dance.

[code]

I think its a genuine bug that we have found :D

[2016-06-09 14:52] ph commented on #5468
From https://github.com/logstash-plugins/logstash-output-webhdfs/blob/master/logstash-output-webhdfs.gemspec#L9

We see this, look at the o, so I think we have the wrong encoding in the file.
`s.authors         = ["Björn Puttmann, loshkovskyi, Elastic"]`

[2016-06-09 15:00] purbon commented on #5468
WHAT!! hunting bugs one at a time, happy to help!

thanks for your fix.

-purbon

On Thu, Jun 9, 2016 at 4:50 PM Pier-Hugues Pellerin <
notifications@github.com> wrote:

[2016-06-09 15:04] ph commented on #5468
@purbon can you take a look at this PR https://github.com/logstash-plugins/logstash-output-webhdfs/pull/21 ?

[2016-06-09 15:53] colinsurprenant commented on #5405
@driverpt @kryptpt thanks for the information. hopefully my comment was not misunderstood as dismissive of your concerns.

So, looking at the graphs, what I see is *relatively* healthy GC activity. The reported GC activity is 2.4% which is not problematic IMO and should not result in significant performance impact.

As @jsvd reported there is a bit of a weird pattern every 20 minutes right before

[2016-06-09 16:21] EslamElHusseiny commented on #5427
I have the same issue
Logstash version : logstash-2.3.2-1.noarch
OS : CentOS Linux release 7.2.1511 (Core)
Config file :
[code]

[2016-06-09 16:49] jordansissel opened #5473 "Plugin update bypasses http proxy for version listing"
Problem code: https://github.com/elastic/logstash/blob/065a82467a1ca43d2ba52e9a0ef0108b6bde0c52/lib/pluginmanager/util.rb#L55

`Gems.versions(...)`, it seems, doesn't pay attention to the configured http proxy.

[2016-06-09 17:19] colinsurprenant commented on #5405
And thinking some more about that, I would definitely try to understand this sudden memory consumption  spike we see every ~15-20 mins. What is causing this spike might be the actual source of the slowdown instead of the GC itself that gets triggered as a result? maybe there is some periodic data patterns or some plugins are reaching some kind of thresholds which result in some heavier memory cons

[2016-06-09 17:35] robertd commented on #5427
@jjm In OP I've grepped `/etc/init.d/logstash` file and it shows use of `==` instead of `=` (#5202). However... even with `KILL_ON_STOP_TIMEOUT` set to `1` I'm experiencing the same issue (see [second post](https://github.com/elastic/logstash/issues/5427#issuecomment-223144391))

[2016-06-09 18:13] kryptpt commented on #5405
@colinsurprenant I'm really thankful for your help. We will look at JVM GC parameters as you recommended.

Answering your question, we are seeing this happening every 20 minutes in GC periods. The data pattern is approximately 3000 events/sec (with a oscillation of 300 events). The events are flat json objects with 9 keys, with a size of ~180 characters.
We built a dedup plugin that discards an ev

[2016-06-09 18:34] guyboertje commented on #5465
and ConcreteJavaProxy for List objects.

[2016-06-09 19:24] jorritfolmer commented on #4289
Thanks for taking the time to explain that a new `logstash-input-netflow` is the way to go, since it does indeed need to keep state. I'll look into it the coming weeks.

[2016-06-09 19:26] acchen97 opened #5475 "LS Monitoring API Definition"
## API endpoints exposed
* Root Resource (/) - retrieve top level node info
* Node Info (/_node) - retrieve node info
* Plugins Info (/_node/plugins) - retrieve plugin info
* Node Stats (/_node/stats) - retrieve current node stats
* Hot Threads (/_node/hot_threads) - retrieve current node hot threads

## Root API
### GET /
[code]

## Node Info API
`/_node/{types}` where allowed types are:
- **os**

[2016-06-09 19:26] acchen97 commented on #4923
Closed in favor of https://github.com/elastic/logstash/issues/5475

[2016-06-09 19:26] #4923 closed

[2016-06-09 19:28] acchen97 commented on #5450
Hey @jakommo new issue up https://github.com/elastic/logstash/issues/5475.  Any further comments are welcome. :)

[2016-06-09 21:06] colinsurprenant commented on #5405
@kryptpt what input/filter/output/codec plugins are you running other than your custom filter? Could you share your config?

For your dedupping, are you dedupping on a particular key only? what are you doing to identify a duplicate? comparing the original json message field?

Have you tried running logstash without the custom dedupping filter to see if there is a difference in the GC activity?

[2016-06-09 21:22] sanjay-varanasi commented on #4638
I have the exact same issue on Amazon Linux AMI and I can't figure out what to do to fix this. Works perfectly on Docker CentOS on an Ubuntu kernel.

[2016-06-10 08:51] kryptpt commented on #5405
@colinsurprenant I'm not authorized to share that here (NDA), my sincere apologies. Therefore I can describe it in an abstract way.

[code]

Our dedupping plugin hashes a event (xxhash) then stores it onto a HashMap. We made it such way that we can configure what are the keys we want dedupping on. We only compare hashes (long values), not the event itself. The plugin discards and re-create a new H

[2016-06-10 08:52] suyograo commented on #5475
@acchen97 there is discrepancy between what you proposed here for plugin level stats ` /_node/stats/plugins/` and what @andrewvc proposed in https://github.com/elastic/logstash/issues/5428 (`/_plugins/inputs`)

I like `/_plugins/inputs` because a complex LS config tends to have many inputs, filters and outputs. This makes it really hard to filter in `/_node/stats/plugins/`. Its too much to type `/

[2016-06-10 09:01] kryptpt commented on #5405
Anyway, @jsvd @colinsurprenant you are right and we will perform some load tests with new GC parameters as you recommended.

[2016-06-10 11:04] jelmerdereus opened #5476 "CONTRIBUTING.md link on README.md doesn't work (PR included)"
The CONTRIBUTING.md link on README.md doesn't work. It is not located in the ".github/" folder.

I will make a PR for this easy fix

[2016-06-10 11:12] purbon commented on #5445
this was hit again in https://logstash-ci.elastic.co/job/elastic+logstash+master+multijob-intake/196/console

[2016-06-10 11:13] purbon opened #5478 "Error in the api tests in Jenkins (Build broken)"
Bug seen in https://logstash-ci.elastic.co/job/elastic+logstash+master+multijob-intake/196/console

[code]

[2016-06-10 11:19] jelmerdereus commented on #5462
@janbernhardt have you tried escaping `\@` in your patterns?

also maybe this belongs to `logstash-plugins/logstash-patterns-core` and not `elastic/logstash` ?

[2016-06-10 12:36] purbon commented on #4991
this error has resurfaces somehow, working on proper issue for this.

[2016-06-10 13:14] #4991 closed

[2016-06-10 13:51] #5400 closed

[2016-06-10 13:52] #5366 closed

[2016-06-10 14:46] rdharrison2 commented on #4331
I've just hit this bug when using the logstash debian package (version 1:2.3.2-1) as this contains a logstash.conf upstart script that sets JAVA_OPTS to LS_JAVA_OPTS for some unknown reason, and as described above jruby gets a -J without an argument and the user sees some random java usage being output :(

Also I noticed the logstash.conf script is defaulting LS_HEAP_SIZE to 500mb not 1g...

[2016-06-10 14:56] lucianosousa commented on #4557
@chespix do you have the command to execute and delete this index in Kibana?

I'm with the same problem here and cannot fix this.

Thanks any help

[2016-06-10 16:18] jordansissel commented on #5475
The stats in /_node/stats/pipelines will contain all pipelines and all plugins within each pipeline. I think this makes sense to me if we ever expect to have multiple independent pipelines in Logstash configured. If we do have multiple pipelines, having everything smushed into /_plugins would be confusing (which plugin is in which pipeline?). It is possible to compute `/_plugins` from the `/_node/

[2016-06-10 16:48] colinsurprenant commented on #5405
@kryptpt

Have you considered using alternate strategies like a bloom filter instead of hashes? (see https://github.com/colinsurprenant/bloombroom) - this is something I meant to do to refresh that gem and make a LS plugin with it.

Also, you have 3 custom plugins, I would definitely try and isolate each to see if any of there are responsible for this memory consumption spike we see every 15-20m.

[2016-06-10 17:12] chespix commented on #4557
In the kibana configuration options you can select the index in the left
and will show you options. One of them is to delete the index. Hope this
helps. Sorry I'm not more detailed but not in front of my computer. if
still have issues let me know and I'll send more detailed instructions.

El El vie, 10 de jun de 2016 a las 10:56, Luciano Sousa <
notifications@github.com> escribió:

--
Perdón las f

[2016-06-10 19:19] dayjavid opened #5480 "GeoIP2 MaxMind Database - Are the Logstash 5 docs correct?"
- Version: 5.0.0-alpha3
- Operating System: Centos7

Working through the Logstash setup documentation, the docs specify the following:

Visiting the maxmind site, there did not seem to be a way to download the GeoIP2 city database without paying.

Communicated with Maxmind support and they said:

Is this an issue with the documentation? Or is all that in flux at the moment?

[2016-06-10 19:30] suyograo commented on #5480
This is a docs issue. I'll fix it

[2016-06-10 19:33] lucianosousa commented on #4557
@chespix thanks. I remove it with a post request on kibana namespace e generate all again

[2016-06-11 00:25] acchen97 commented on #5475
@suyograo when @andrewvc and I discussed yesterday, we had a similar thought process as @jordansissel here.  Plugin info/stats didn't really make sense in a `/_plugins` top level endpoint since 1) it's tightly coupled to a node/pipeline, and 2) the approach doesn't work well in a multiple pipelines setting.

With the plugin stats PR https://github.com/elastic/logstash/pull/5472 in mind (good stuff

[2016-06-11 07:30] guyboertje commented on #4289
@jorritfolmer - you are most welcome.

[2016-06-13 07:21] itaydvir opened #5481 "Logstash won’t read 1 line input file (and might miss last line of data in any file)"
I spent a lot of time on this issue until I found the problem:
Like many people who start using logstash, I have created 1 demo input file with 1 line of data.
When I used stdin() for the same input line, everything worked great. but when tried to read same input line from file, logstash didn't read the data.
I think it's because the single line ends with "EOF" and there is no "\n". so only when a

[2016-06-13 10:19] mizeng opened #5482 ""==" in if condition in /etc/init.d/logstash"
Hi, I've downloaded logstash_2.3.2-1_all.deb from official site. But found there's one error in /etc/init.d/logstash after I installed the deb in Ubuntu14 server.

[code]

I think this should be
[code]

Anything I missed?

[2016-06-13 11:58] purbon commented on #5482
A fix for this has been proposed and merged in https://github.com/elastic/logstash/pull/5479, will be released with next version, Keep in mind this does not happen in the newer version of LS, 5.0 and so on.

[2016-06-13 11:58] #5482 closed

[2016-06-13 12:08] purbon commented on #5473
Acoording to code in https://github.com/rubygems/gems/blob/master/lib/gems/request.rb#L43-L48, `Gems.versions` should honor the http proxy configuration, might be a problem related to this?

[2016-06-13 13:41] purbon commented on #5468
this error is still there, also after the release of the new webhdfs plugin.

[2016-06-13 13:48] suyograo commented on #5480
Updated the docs.

[2016-06-13 13:48] #5480 closed

[2016-06-13 13:48] #5476 closed

[2016-06-13 14:13] guyboertje commented on #5481
Changes to support this are part of the Event Milling redesign. See this [discussion issue](https://github.com/elastic/logstash/issues/4858)
Closing

[2016-06-13 14:13] #5481 closed

[2016-06-13 14:17] suyograo commented on #5481
@guyboertje Can we improve our docs to add this information to help troubleshooting until this is fixed in the product?

[2016-06-13 14:17] suyograo commented on #5481
/cc @dedemorton

[2016-06-13 14:25] purbon commented on #5468
but is certainly related to this plugin as not having it in the bundle actually let update work again.

[2016-06-13 16:32] guyboertje commented on #4308
This plugin does not use a codec because it receives a JSON string that represents an event. Codecs are meant to take a line and create an Event. Filters are meant to operate on Events. The multiline codec buffers lines until some condition is seen - it would have to be changed to buffer events and match on a field, but wait - that is what the Mulitline Filter does. So we would need a way to run t

[2016-06-13 19:54] danielmotaleite opened #5484 "Support for "Modified Julian Day" (MJD)"
Hi

i'm trying to import a ntpd log to monitor the time skew... but it uses the "Modified Julian Day" (MJD) in the date format and logstash/joda have no way to take this.

i can convert it using date:

        date -d "57552 days 69728.753 seconds 1858-11-17"

I have found this [Page](https://docs.oracle.com/javase/8/docs/api/java/time/temporal/JulianFields.html) that might help

Can you please ad

[2016-06-13 21:58] rgazaryants opened #5485 "udp/syslog inputs report wrong host"
Looking @ ngrep, events come from the right source, but they end up being whatever random `host` in the index.

This only happens on multiline inputs.
These are not standard formatted syslog messages.Prefixed stack traces
Happens on udp & syslog inputs. Currently running syslog, as udp crashes per https://github.com/elastic/logstash/issues/5318

[code]

[2016-06-13 23:34] suyograo commented on #5427
Fixed in #5479

[2016-06-13 23:34] #5427 closed

[2016-06-14 01:07] suyograo commented on #5475
Agreed that `/_node/stats/pipeline` is a better home for per-plugin stats, especially when we look to multiple pipelines in the future.

[2016-06-14 08:45] purbon opened #5488 "Fedora 22 and 23 show multiple issues in the QA acceptance testing suite"
Hi,
 from https://logstash-ci.elastic.co/job/elastic+logstash+master+multijob-acceptance/label=metal,suite=redhat/17/console

we can see as fedora 22 and 23 show many issues re the plugin manager, we can see details at:

[code]

as fedora is not a supported platform for now, we decided to remove it from acceptance testing layer, we will work on having this up and running there and bring it back so

[2016-06-14 08:49] purbon commented on #5062
closing this as this might get solved with unified release.

[2016-06-14 08:49] #5062 closed

[2016-06-14 08:56] jsvd commented on #5488
can we link here an issue either on fedora or our side to track the root cause?

[2016-06-14 08:58] purbon commented on #5488
there is a link with CI and this is actually the issue in our side. There
is no more investigation to know RCA for now.

On Tue, Jun 14, 2016 at 10:56 AM João Duarte <notifications@github.com>
wrote:

[2016-06-14 10:05] purbon commented on #5290
With the current refactoring introduced by @andrewvc the problem detected by myself is a bit more complicated as due to the way puma server implementation works, see https://github.com/puma/puma/blob/4ca81231c42828980dad26cfe21e47ba527d8be9/lib/puma/binder.rb#L244, it uses `Socket::SO_REUSEADDR` what means it will bind silently when the address is in use.

Introducing a new check for this before t

[2016-06-14 15:29] PhaedrusTheGreek commented on #5239
I am also hitting this on:
- Windows Server 2012 R2 Standard on VM
- jdk1.8.0_91 (64 bit installation)
- logstash-2.3.1

Doesn't happen on
- Windows 7
- jdk1.8.0_71
- logstash 2.1.1

[2016-06-14 15:45] suyograo commented on #5480
Fixed https://www.elastic.co/guide/en/logstash/5.0/plugins-filters-geoip.html

[2016-06-14 16:12] PhaedrusTheGreek commented on #5239
**Note:** This error is benign, and Logstash operation should continue as normal.

[2016-06-14 17:21] JamesMcTavish opened #5491 "Logstash startup time"
I've seen reports for logstash taking long times starting up (Issue #1511),  but I think my instance takes the cake:

[code]
4 minutes to get the help screen seems wrong.  And 4+ minutes to start up the service with a minimal config.

[code]
2 minutes to get the version.

It is running in a KVM virtual machine, however during this, no swap is being used, CPU is more than 95% idle the entire time t

[2016-06-14 17:43] dayjavid commented on #5480
Awesome. Thanks!

[2016-06-14 17:46] ph opened #5492 "bin/logstash-plugin uninstall plugin raise an exception"
Uninstalling a plugin is succesful but it raise an exception.
## steps to reproduce
- Generate the artifact
- DEBUG=1 bin/logstash-plugin uninstall logstash-output-webhdfs
## Stacktrace

[code]

[2016-06-14 19:08] acchen97 commented on #5475
@suyograo @jordansissel @andrewvc @ph updated initial issue here to reflect what we discussed, removed name/id and updated plugin stats with array structure.

[2016-06-14 22:34] bpapantonio commented on #5491
I had the same problem with OpenJDK on CentOS 6. Logstash 5.0.0-alpha4.snapshot1 took 1-3 minutes to display the version. I reduced the startup time to 7 seconds (woeful, but better) by changing Java's entropy source from `/dev/random` to `/dev/urandom`

https://docs.oracle.com/cd/E13209_01/wlcp/wlss30/configwlss/jvmrand.html

Note the security implication of such a change as it applies to your en

[2016-06-14 22:46] JamesMcTavish commented on #5491
That works far better.  Took it down to 18s.  Not that great, but much easier for debugging grok.  Thanks.

[2016-06-15 00:07] tsouza opened #5495 "Parameter -t and type conversions"
It seems that `-t` parameter does not do type conversion as it should be done without `-t`.

Consider the following test input config:

[code]

Logstash can be sucessfully started with:

[code]

But if executing with `-t` like:

[code]

It fails with:
[code]

[2016-06-15 00:51] suyograo commented on #5450
After discussing with @andrewvc and @acchen97 we decided to display just the hostname in APIs for now. `node.name` and `node.id` is still in flux.

[2016-06-15 01:39] suyograo opened #5496 "Mass update plugins gemspec so 5.x plugins can be installed on LS 2.4 and above"
We added `set` and `get` API for Ruby Event class in 2.4. When we release 2.4, we should relax the constraint for `logstash-core-plugin-api` so plugins developed for 5.x can be installed on 2.4.

For example, if 2.4 ships with `logstash-core-plugin-api` version 1.60.0 we can then make

[code]

[2016-06-15 02:06] andrewvc opened #5498 "Mass update plugins to use :list => true over :type => :array"
We now support a `:list => true` option that replaces the `:type => :array` setting. This will be supported in Logstash 2.4+ and 5+.  We need to mass update all plugins to prefer `:list => true`. Arrays are still necessary when the type is mixed or unknown, but if the array is expected to be of a single type it should be switched.

* [ ] logstash-codec-collectd/lib/logstash/codecs/collectd.rb
* [

[2016-06-15 03:10] jmcta opened #5501 "Odd grok behaviour"
Following examples online, I've setup a filter to process syslog messages for filters running later:

[code]

The issue being, neither "syslog_fail" or "unmatched" are added to the tags section.  I know the if statement is passing as syslog_pri adds the four syslog_\* fields.  However no matter what I do, the grok doesn't seem to be running.  It doesn't succeed, it doesn't fail, it just does nothi

[2016-06-15 07:52] mostolog opened #5503 "Filebeat is losing events due to file rotate"
Hi!

Already posted [on discusss](https://discuss.elastic.co/t/filebeat-is-losing-events-due-to-file-rotate/52436).
I hope not made any mistakes, cause it took me quite a long to test it and to report it in here.
Also hopes it deserves pioneer's. ;)
Thanks in advance for your kind help.

Regards

# Scenario

- Logstash event generator writing to file "generator.log"
- FilebeatA reading from "gener

[2016-06-15 08:19] ruflin commented on #5503
I'm currently trying to reproduce this. Some notes so far:

* I use `scan_frequency: 1s`
* The filebeatA.yml path I use is `/tmp/generator.log`. You have `/tmp/log*`, not sure why this one is matching?
* In filebeatB you use `/tmp/filebeat.log`. This should be `/tmp/filebeat*` to make sure it also crawls the rotated files
* I'm trying it with a fixed number of events generated to keep it reproduci

[2016-06-15 08:40] wiibaa commented on #5498
Self-reminder => [search for occurences in logstash-plugins ruby sources for `:validate => :array`](https://github.com/search?p=2&q=org%3Alogstash-plugins+%22%3Avalidate+%3D%3E+%3Aarray%22&ref=searchresults&type=Code&utf8=%E2%9C%93)

[2016-06-15 08:51] ruflin commented on #5503
Didn't manage to reproduce this yet. So far I'm not sure if that is just an issue of files rotating faster then filebeat can read it? To make sure we are talking about the same thing:

* filebeat A which reads the generator.log file, persists it to disk. Each file is 1MB, max 100 files are created. If 100 files are exceeded, the oldest data is removed.
* filebeat B reads the persisted filebeat A d

[2016-06-15 10:43] mostolog commented on #5503
Hi

At the beginning I tried with multiple generators, but at the end I used just one. Ignore it, as there no more log* files.

That's not what I'm doing. Notice the "_Please, notice that:_" section.
If filebeatB is "listening" to filebeat.log* and filebeat.log is rotated (creating a new filebeat.XX file), wouldn't filebeatB "read all events from newly created filebeat.XX"? **Won't that mean all e

[2016-06-15 10:46] #5468 closed

[2016-06-15 10:57] FlorianLiers commented on #1637
Happened to me as well in version 2.3.0. That's very anoying and reduces the stability of the whole solution significantly. @suyograo: Can you please re-open this issue?

[2016-06-15 12:13] ruflin commented on #5503
Filebeat keeps track of rotated files, so it should never send duplicate events. So in case `filebeat.log` is renamed to `filebeat.log1` filebeat is detecting that and just continue at the old position. It is important, that the file is renamed and not a new one is created. But that is the case with log rotation algorithms I know so far.

Following rotation is crucial to exactly not have data loss

[2016-06-15 12:37] purbon opened #5504 "ubuntu-1604 issues in acceptance testing with installation and update"
seen at https://logstash-ci.elastic.co/job/elastic+logstash+master+multijob-acceptance/label=metal,suite=debian/22/console

[code]

[2016-06-15 12:54] mostolog commented on #5503
Indeed.
On the other hand, if rotation were made using creation timestamps (as I proposed at the begin of this topic), could solve any issues related to rotation, and perhaps it's good to consider it.

Be right back.
Thanks ;)

[2016-06-15 13:02] andrewvc commented on #5498
@wiibaa thanks so much for putting that query in there!

[2016-06-15 13:27] consulthys commented on #5448
After digging some more into the `stomp` output (see https://github.com/logstash-plugins/logstash-output-stomp/issues/8), I think the `stomp` output is basically telling Logstash that it has finished its job [as soon as `@client.send()` is called](https://github.com/logstash-plugins/logstash-output-stomp/blob/master/lib/logstash/outputs/stomp.rb#L61-L66).

If there was some kind of ACK, this probl

[2016-06-15 13:27] #5448 closed

[2016-06-15 14:44] purbon commented on #5504
<img width="991" alt="screen shot 2016-06-15 at 16 38 03" src="https://cloud.githubusercontent.com/assets/68540/16084208/38c26d32-3318-11e6-8bfd-7c2d07396425.png">

@untergeek this is basically the error I'm seeing, where basically systemctl is getting stuck for this distro and logstash, it only terminates when I do it manually, otherwise it hangs. Do you have an idea why this might happen? thanks

[2016-06-15 14:50] purbon commented on #5504
for me it really looks like it's trying to start logstash to know is it running.

[2016-06-15 14:50] untergeek commented on #5504
I do not know, @purbon.  What plugins are running when `systemctl status logstash.service` is called?  It always came right back for me, but that was with just a tcp input, and stdout output running.

[2016-06-15 14:51] purbon commented on #5504
no plugins, fresh install.

[2016-06-15 14:55] untergeek commented on #5504
Something is up, then.  I will try to run it manually with a built package on my system, but won't be able to get to it until tomorrow.

[2016-06-15 14:56] purbon commented on #5504
sure, no problem. What I'm thinking is to actually do acceptance testing strictly with the set of OS's in support matrix and keep this _just for the feature_ stuff in other layer, but then I'm afraid It might led to have less attention. What do you think @suyograo ?

[2016-06-15 15:30] JamesMcTavish commented on #5501
I can fix the issue, but I'm not sure why.  If I have two filter files:

conf.d/200-filter-syslog.conf
[code]
conf.d/201-filter-pam.conf
[code]
It appears to ignore the execution of the grok within the 200 file.  No tag on failure, no add_tag on success.  Combining them into one file with one filter, it starts working:

[code]
Shouldn't i be able to separate the configuration out into multiple fil

[2016-06-15 15:32] JamesMcTavish commented on #5491
I'm now just a duplicate of #1511, so I'll close this.

[2016-06-15 15:32] #5491 closed

[2016-06-15 16:31] jordansissel commented on #5495
Confirmed.

RIght now, it just does `LogStash::Pipeline.new(config_str)` which doesn't pass any additional pipeline settings, and allow_env defaults to false. Should be an easy fix.

[2016-06-15 16:35] jordansissel commented on #5501
I haven't tried to reproduce, but my guess for testing this would be to have two `filter { ... }` blocks in a single file and see if it ignores the first one.

[2016-06-15 17:20] rgazaryants commented on #5485
I guess it's more than just wrong host names. The lines beyond the firs match pattern get scrambled around & mixed with other events.

I put syslog-ng in front of in and have it write out to individual host log files, then have logstash read them in as a workaround for now.

[2016-06-15 17:43] mostolog commented on #5503
Hi

I'm not sure if I understood this. Do you mean filebeat output being a log file itself?

**I sadly report that seems it's still happening**.
To detail as much as possible, here's the trace of what I'm doing:

Dockerfile
[filebeat.dockerfile.txt](https://github.com/elastic/logstash/files/316761/filebeat.dockerfile.txt)

Build image

Run and check version

Delete before testing

Run filebeat1
[f

[2016-06-15 17:56] JamesMcTavish commented on #5501
I can confirm, that if I cat the first two files together and remove the two, it behaves the same way.

[2016-06-15 20:52] #5290 closed

[2016-06-15 22:06] andrewvc commented on #5498
This is just a lot of work for something that already works. We should update these plugins, but we can do so as we come across issues or are doing other refactors.

[2016-06-15 22:06] #5498 closed

[2016-06-15 22:15] jordansissel commented on #5501
Ok cool! This bug is probably somewhere in the config compiler.

On Wednesday, June 15, 2016, James <notifications@github.com> wrote:

[2016-06-16 04:01] arkadyi commented on #1817
+1

[2016-06-16 06:33] kejc87 commented on #5195
Hello,

i am wondering if you you need any additional information from us?

Regards,

Kamil

[2016-06-16 08:05] purbon commented on #5221
@acchen97 I love the idea of enhanced lookups for logstash pipeline, what about pushing priority on redis lookup, specially when the lookup is dynamic, having lookup with both ES and Redis might be very helpful to enhance events at runtime. Specially when there are two flows that have connections somehow.

[2016-06-16 08:05] purbon commented on #5221
@ph also could be detected by the parser, filename might be tricky but I agree usually a `.yml` extension indicate a yaml file :-P

[2016-06-16 09:32] consulthys commented on #5448
For those interested, the solution I came up with was simply to make sure to disconnect from stomp when Logstash shuts down, i.e. by overriding `do_close` and calling `disconnect`on the stomp connection. All the details can be found [here](https://github.com/logstash-plugins/logstash-output-stomp/issues/8)

[2016-06-16 09:48] jsvd commented on #5491
related to https://github.com/jruby/jruby/issues/1896

[2016-06-16 10:10] ruflin commented on #5503
Thanks for sharing the log files. I did one specific check for the sequence number `118489-118487` you listed above. `118487` is the last entry in log file 57, `118488, 118489` are in log file 56.

In the final log I found sequence `118487` on line 115494 and squence `118488` and following at line 104388. Did you expect the sequence numbers to be in order also in the final.log?

Not 100% sure I re

[2016-06-16 10:16] ruflin commented on #5503
I also checked for `106980` and this one I couldn't find in the final.log. It seems the events that are potentially missing, are the first ones in a new file?

[2016-06-16 10:25] ruflin commented on #5503
Checking further, it seems like the complete `log.60` is missing. I'm curious if this could be some internal race condition. Do you run the generation and crawling in parallel, correct? If you run it separately, means first run filebeatA and then run filebeatB, you still have missing events?

Can you share the registry file that was generated during the tests. It would be interesting to see if log

[2016-06-16 10:26] ruflin commented on #5503
@mostolog I just realised now, that this issue is actually in the logstash repo instead of the beats. We can keep it here for the moment but as soon as we find the potential bug, we have to open a new issue in the beats repo.

[2016-06-16 10:29] ebuildy commented on #1637
You should add an option on LogStash in order to catch filter exceptions, since these exceptions are based on input data that user cannot predict. (I am running the same very important issue with useragent filter, if useragent value is not a string, filter throws an exception then LogStash itself stops).

[2016-06-16 10:53] mostolog commented on #5503
Hi

That's correct.

With **_grep -nH 118489 final.log_** I got 2 relevant results:

**which means the sequence 118489 was processed twice (due to rotation).** Isn't it?

Not if using filebeat* as prospector path, but it seemed buggy also when using "filebeat.log" (without *)

Using "filebeat.log" i didn't expect gaps, as it only read one file. Using filebeat.log*, as far as I can understand, it's

[2016-06-16 11:01] jsvd opened #5507 "Why is Logstash so slow to start?"
Here are some profilling I did on master, where a simple pipeline takes 9 seconds to start executing on my macbook:

[code]

This means that, of the 9 seconds it takes to execute the pipeline, we spend:

~2 seconds going from BASH to JRuby
~5 seconds executing `LogStash::Bundler.setup!({:without => [:build, :development]})`: https://github.com/elastic/logstash/blob/master/lib/bootstrap/environment

[2016-06-16 11:03] jsvd commented on #5507
Also, if you're seeing startup times in the magnitude of minutes, you could be hitting https://github.com/jruby/jruby/wiki/Improving-startup-time#ensure-your-system-has-adequate-entropy

[2016-06-16 11:07] mostolog commented on #5503
I'll test a few times and let you know if it happens "too often"

Same on my side

I didn't notice it. Yes: generation, filebeatA and filebeatB are running at the same time.

Haven't tried. Probably won't happen.

Glad to hear "there's a chance of being a bug".

Regards

[2016-06-16 11:21] ruflin commented on #5503
BTW: When you check for the first events in a new file to be missing, can you check if then the complete file is missing? I get more and more the impression we don't have an issue related to single events missing, but actually complete files missing or read twice.

[2016-06-16 11:42] mostolog commented on #5503
Thank YOU.

You mean directories? Please, elaborate.

Already ;)

Although provided example states:

:stuck_out_tongue_winking_eye:

Do you mean "before doing grep -nH 106980 final.log, check all filebeat.log* are present on final.log" ? Otherwise, i didn't understand.

And now's when I forward you to:
 - Review if filebeat it's using i-nodes/file descriptors/whatever that "bypass" the file renami

[2016-06-16 11:52] jsvd commented on #1511
fast -V/--version has been merged. should ship with 5.0 and 2.4

[2016-06-16 11:54] jsvd commented on #5464
5.0 is green now after snapshot gem release https://logstash-ci.elastic.co/job/elastic+logstash+5.0+multijob-intake/145/

[2016-06-16 11:54] #5464 closed

[2016-06-16 11:55] jsvd commented on #5407
this has been implemented only for *nix systems in https://github.com/elastic/logstash/pull/5490

[2016-06-16 11:57] ruflin commented on #5503
* Registry File: Just that the path is different in filebeatA.yml and filebeatB.yml: https://www.elastic.co/guide/en/beats/filebeat/master/configuration-filebeat-options.html#_registry_file
* scan_frequency: That is not nice. I even plan to throw an error if it is set to 0 in the future. Means 0.001s is still possible (but not recommended) ;-) I put it on my list to be updated.
* Missing event: Wh

[2016-06-16 11:58] purbon commented on #1511
I wonder if they are still having slowness not just with version, can you
share more details?

/purbon

On Thu, 16 Jun 2016 13:52 João Duarte, <notifications@github.com> wrote:

[2016-06-16 12:08] mostolog commented on #5503
Tomorrow (or next Monday) I'll test a few times setting different registry values, although using docker that shouldn't worry/happen, isn't it?

I'll include "check if any filebeat.log* is missing on final.log" to the script.

Now my approach seems simpler to me...

[2016-06-16 12:22] andrewvc commented on #1637
I'm reopening this issue since its still a problem in 2.x / 5.0, and yes, is serious and preventable.

[2016-06-16 12:25] ruflin commented on #5503
Our approach of fingerprint is not to solve output issues with filebeat, but to solve challenges with lots of other logging systems. Only relying on path for file detection is definitively also a configuration option we are discussing.

For docker: Assuming you run each filebeat instance in its own docker container and the registry directory is not a shared volume, it should not matter. TBH it wou

[2016-06-16 12:26] andrewvc commented on #1637
My $0.02

1. We should catch filter exceptions and log them rather than crashing
2. The UX around these things is tricky. I think the most sensible thing is to convert `[foo] > 0` to `[foo] and [foo] > 0`.

[2016-06-16 12:27] mostolog commented on #5503
Ok.

I'll let you know any update/opening issue at logstash.
Thanks a lot!

[2016-06-16 14:16] arkadyi opened #5508 "logstash http output plugin does not work with authenticated proxy via https"
- Version:  2.3.1
- Operating System: CentOS 7
- Config File (if you have sensitive info, please remove it):
  input {
      file {
              path => [ "/opt/seculert/*_/log/_.log" ]
              start_position => "beginning"
              type => "seculert_logs" # Used in filter and output bellow (change all values accordingly)
              codec => multiline {
                pattern => "(

[2016-06-16 14:32] purbon opened #5509 "Add the idea of experimental platforms to the Acceptance test framework"
This will let us keep focus on platforms inside the support matrix, but also do some testing on upcoming platforms without mixing concepts. For example like happens with current failures inside ubuntu-1604 (#5504).

The experimental layer will need to be included as a new step inside https://logstash-ci.elastic.co .

This will keep the acceptance testing strictly to match the support matrix while

[2016-06-16 14:32] purbon commented on #5509
Feedback from @ph in the PR:

[2016-06-16 15:15] suyograo commented on #5509
So when will `experimental` ever run?

[2016-06-16 15:16] suyograo commented on #5509
Or how would you trigger an experimental run?

[2016-06-16 15:20] purbon commented on #5509
@suyograo
 will run whenever we like to, my proposal is to have another layer in the CI infra, but not tied to the full acceptance as this platforms are nice to test with, but not in our support matrix.

As you can see in the PR, #5506, to trigger the experimental OS's I added an ENV var, but this is open to discuss best way for sure. My thoughts are easy here, is better to have them available som

[2016-06-16 16:48] PhaedrusTheGreek commented on #5261
+1 - hit this

[2016-06-16 17:26] jordansissel opened #5510 "NamespacedMetric.namespace modifies self"
This is likely because the implementation uses `Array#concat` which modifies the Array itself, but I am not certain.

[2016-06-16 21:47] talevy opened #5514 "Handling jar dependency resolution with jruby projects"
since there are more and more java-jar based ruby plugins being introduced, jar conflicts are inevitable. To remedy this, one strategy we can try and practice is to package the java extension using jar-dependencies. This way we do not have farjar/shadowed-jars, and we can rely on jar-dependencies' `require_jar` to attempt to error out on version conflicts.

here is an example project using this bu

[2016-06-16 23:25] guyboertje commented on #5514
@talevy - I was hoping you could elaborate on the sequence of actors and actions, i.e. ...
T0: developer/jarvis runs `gem build`, this 1) compiles Java and publishes it to a local `.m2` folder; 2) jar_dependencies vendors the jar from the local Maven repo.
T2: the gem is published to rubygems with the vendored jar(s) and NO local Maven repo and NO java source.
T1: developer/jarvis/user runs `bundl

[2016-06-16 23:32] talevy commented on #5514
ah.

bootstrapping dependencies:
[code]

testing

[code]

packaging gem

[code]

cleaning up build directories and files

[code]

[2016-06-16 23:51] guyboertje commented on #5514
@talevy, @colinsurprenant, @andrewvc
How fussy are we on including the java source in the gem and not the jar?
I wonder whether we can move the compile, publish and vendor into a gem post_install hook?
[code]
See [jar_dependencies post_install hook](https://github.com/mkristian/jar-dependencies/blob/master/lib/jars/post_install_hook.rb)

Will the user be left high and dry when it does not compile

[2016-06-17 00:03] talevy commented on #5514
I would prefer this myself, but the reason we have traditionally vendored jars when building the gem because it makes supporting offline plugin installation more straightforward to support

[2016-06-17 00:43] ikoniaris commented on #1637
Yup, adding a check for the actual field in your condition before the comparison should work as @andrewvc said above.

[2016-06-17 06:41] guyboertje commented on #5514
Fair point.

[2016-06-17 06:55] purbon commented on #5514
@talevy yes, and no. with bundler package at my understanding jars will be also included for offline management, so offline is covered also.

[2016-06-17 07:03] #5509 closed

[2016-06-17 07:23] purbon opened #5515 "Run integration test as part of the os compatibility layer"
Hi,
  we've inside our test base a package created by @ph a few weeks ago basically around doing integration work locally, you can see this code base inside https://github.com/elastic/logstash/tree/master/spec/integration

would be interesting to run this as part of our OS compatibility layer, see https://logstash-ci.elastic.co/job/elastic+logstash+master+multijob-os-compatibility/ for details.

W

[2016-06-17 09:38] Taffa commented on #5357
Same issue here.
Seems setup.bat  is not tolerant for such paths because of the way variables are defined referenced there.

http://stackoverflow.com/questions/15075799/batch-file-variable-with-spaces-and-parentheses

[2016-06-17 13:25] simpleuser99 opened #5516 "Raw fields doesn't create with custom index. Bag? Feature?"
I don`t understatd how I can create .raw fields for custom elastic index.
My outout config

[code]

[code]

[code]

In index logstash-\* I have raw fields, but I don't have raw fields for weblog-\* indecies.
I try to use this way https://github.com/elastic/logstash/issues/2050 but I haven't result.

I think my config is correct, but raw dodn't work. Help me please.

P.S. I use logstath 2.3  and el

[2016-06-17 14:29] ph commented on #5514
@guyboertje I used the strategy proposed by @talevy  in https://github.com/logstash-plugins/logstash-input-beats/pull/93/ I did not have any hard issues or problem with it.

[2016-06-17 15:59] DreadPirateRob opened #5517 "[indices:data/read/field_stats[s]]]; nested: IllegalArgumentException[field [@timestamp] doesn't exist]"
Putting this here because there's been no replies in the forums.

First time user of ELK, originally I created an issue against elasticsearch on github, but it was suggested that I bring this issue to this forum, and so here we are.

In my /var/log/elasticsearch/logstashTesting.log file, all I have are entries that begin with this.
`[indices:data/read/field_stats[s]]]; nested: IllegalArgumentExcep

[2016-06-17 17:46] Edely commented on #4557
I am facing the same problem, so I remove the index filter and then recreated, but it did not solve the problem.

[2016-06-17 18:08] Edely commented on #4557
Ok. It works now.

So, In my case, what I did was to remove the license plugins folder. I had  installed some plugins that expired already and I had removed them, but I kept receiving this message:

`
[ERROR][license.plugin.core      ]## LICENSE EXPIRED ON  IF YOU HAVE A NEW LICENSE, PLEASE# UPDATE IT. OTHERWISE, PLEASE REACH OUT TO YOUR SUPPORT CONTACT.`

So I just removed the folder license in p

[2016-06-17 18:12] DreadPirateRob commented on #5517
changed up the logstash.conf file.
[code]

by the way, this is what the logstash.stdout says:

[code]

So there seems to be an `@timestamp` in the logstash.stdout ; so why would the elasticsearch/logstashTesting.log file have the error:
[code]

[2016-06-17 18:32] ph opened #5518 "Metric input failling test"
[code]

[2016-06-17 19:26] #5465 closed

[2016-06-20 15:13] purbon opened #5523 "Understanding the performance of bin/logstash-plugin install command"
One of the common comments and concerns about logstash is it's performance, in this issue we try to understand the performance concerns involved in installing a plugin.

Here is a sample execution trying to install the generator input.

[code]

we can see how the biggest offenders in terms of execution time are:

* ` LogStash::PluginManager.logstash_plugin?` taking  5.78s over a total of 17.12s wh

[2016-06-20 15:47] purbon commented on #5523
By updating to the latest version of bundler we can also see how the performance penalty is inside the same two areas, examples:

[code]

in the previous example we see it takes 6.72 seconds to to the vendor_jars call, the total time for this case has been:

[code]

so is basically 97% of the time there.

[2016-06-20 15:52] andrewvc commented on #5326
@purbon we should keep trying incrementally, which is what ES does. This makes it easy to predict what the instances are. In ES its easy to start up two and hit 9200 and 9201

[2016-06-20 15:54] purbon commented on #5326
@andrewvc agree with you in this.

[2016-06-20 20:10] simpleuser99 commented on #5516
I try to use other way.
output config
[code]

curl -XGET localhost:9200/_template/?pretty=trye
[code]
But raw fields doesn't appear, I dond't view it in kibana, and
curl localhost:9200/logstash-2016.06.20/_mapping?pretty
[code]
and curl localhost:9200/weblog-2016.06.20/_mapping?pretty
[code]
Why raw fields doesn't create? What is it? Bag? Feature?

[2016-06-20 21:51] suyograo commented on #5523
Thanks for this @purbon. What goes on in `LogStash::PluginManager.logstash_plugin?` Do we need this check at all? Do we even need to go across the wire for this?

[2016-06-21 08:41] rmuslimov commented on #3115
Same here. Can we add this to logstash file input documentation page?

[2016-06-21 08:50] rmuslimov commented on #3115
Ah, it's there, nevermind, my bad.

[2016-06-21 09:26] purbon commented on #5523
yeah, we need some degree of it.

End of the day as we're using a common platform for plugins we need some validation to actually let inside our system only logstash plugins and for the online installation we actually do the validation across the wire _before we download_, the problem that happen is that this is actually slower than download.

[2016-06-21 11:52] guyboertje opened #5525 "Consider introducing a Batch class to the LS pipeline."
The Batch class should:
- encapsulate the batching mechanism.
- hold a list of the original events as dequeued.
- hold a list of new events created by filters (Split etc) that do not need acking - because they are not in the PQ.
- hold an AckBitSet of original events, the bits of which are flipped before an output attempts to send and after the output has successfully sent the event.
- hold a Fail

[2016-06-21 13:57] ph commented on #5518
@jsvd This is really a visibility issue across thread that get exposed by this failling test.
For performance reason I want to reduce to the maximum  the need to uses lock on the metric reference since the internal of the metric is thread safe.

The problem is the following, the metric get set in the plugin by calling setter method `metric=`, no lock is  done on the instance variable. The run is c

[2016-06-21 13:59] ruflin commented on #5503
@mostolog any updates from your side here?

I was thinking of writing a small python script for this to test so we could even add it to our test suite. The simplified version would be to use Python logger that generates about the 100 rotated files with a sequence number, filebeat keeps reading and when its finished, python reads the file, loads all sequence numbers in memory and checks if one is m

[2016-06-21 14:12] andrewvc commented on #5525
I see the goal here, but I don

[2016-06-21 14:31] jsvd commented on #5416
this has been implemented by https://github.com/elastic/logstash/issues/5460

[2016-06-21 14:31] #5416 closed

[2016-06-21 14:31] jsvd commented on #5414
this has been implemented by https://github.com/elastic/logstash/issues/5460

[2016-06-21 14:31] #5414 closed

[2016-06-21 14:32] jsvd commented on #5407
reopening another issue to implement the same on windows

[2016-06-21 14:32] #5407 closed

[2016-06-21 14:35] jsvd opened #5526 "make --version faster by not launch logstash"
This has been done already for *nix systems in https://github.com/elastic/logstash/issues/5407
in commit https://github.com/elastic/logstash/commit/72b277404b2da8586e23327e1659c06db69e274b but now this needs to be converted to windows BATCH script

[2016-06-21 14:38] jsvd commented on #4875
done in https://github.com/elastic/logstash/commit/a859bd4a3fd71ac0b65d248988a2d30812ee3a63

[2016-06-21 14:38] #4875 closed

[2016-06-21 14:38] jsvd commented on #4876
done in https://github.com/elastic/logstash/commit/a859bd4a3fd71ac0b65d248988a2d30812ee3a63

[2016-06-21 14:39] andrewvc commented on #5525
Some ideas:

I agree that we should have a Batch object, but I don't think it needs to have these extra bit sets and this delineation of new/old events. The batch object could just wrap an immutable `List<Event>`, which is all the pipeline needs to work on. It could also contain a few extra `bool` flags for things like the flush / shutdown signal.

My worry with these bitsets is that we'll have to

[2016-06-21 14:39] jsvd commented on #4876
actually keeping this open since we have the first half (a task to create the gems) but now to publish gem.
I think we won't actually need it since that will be taken care of by the umbrella tool that publishes all artifacts

[2016-06-21 15:03] CyrineBS commented on #2254
Hello ,
I'm facing this error and i have a single ES node and just one JVM.
is there any other cause for this problem ?
 thank you

[2016-06-21 15:41] guyboertje commented on #5525
I agree about the flush and shutdown flags.

A BitSet or Dead Event List would be an internal detail, that is not exposed externally. I only meant one or the other to mark that we need to track this info in the Batch class.
The Dequeued Event List contents will always be acked, when and if, the batch instance is handed back to the PQ Read Client, so additional ack tracking inside the batch instanc

[2016-06-21 15:55] andrewvc commented on #5525
@guyboertje I'm with you on `batch.fail`. I just am saying we should just have that add the event reference to the DLQ list, rather than a bitset.

My question is, I don't see why we need the Batch class to know about new events at all, it doesn't do anything with them. Given that, why not just have a `List<Event>` of events passed into `batch.fail(event)`. Simpler no? A bitset seems like extra co

[2016-06-21 16:11] suyograo commented on #4876
Yeah, not needed as you mentioned.

[2016-06-21 16:11] #4876 closed

[2016-06-21 16:24] wolfgangkarall opened #5527 "sysv init script - minor syntax 'bug' when setting default value for shell variable"
As discussed in the notes to 08fa8798269e5df9e74227a1d78e35c21e11031c it should be

``KILL_ON_STOP_TIMEOUT=${KILL_ON_STOP_TIMEOUT:-0}``

(i.e. with the colon).

Issue as per request by @purbon

[2016-06-21 16:33] guyboertje commented on #5525
The worker asks the PQ Read Client for a new batch. It receives a batch instance with a List of Events dequeued. Inside the PQ those Events are recorded as in-flight. The worker passes the batch to the filter function or next graph filter node. The first filter when iterating on the batch will be given the dequeued events. But if that filter also generates new events as a side effect, each new one

[2016-06-21 16:38] guyboertje commented on #5525
Also, one output may fail an event for some IO problem but another may not. Does this mean we want to record which plugin failed the event?

[2016-06-21 16:55] ph commented on #5518
@andrewvc since you have been working with the metrics, WTDY of this proposal?

[2016-06-21 17:41] andrewvc commented on #5525
I think this is where the confusion lies. The pipeline really shouldn't work by mutating the batch as it moves through the pipeline IMHO.

With something like the graph pipeline proposal there are multiple different lists of events maintained at different nodes, it doesn't really make sense to have a single list encapsulating the current state of processing. Its too tight a coupling IMHO.

Now, yo

[2016-06-21 17:55] #5380 closed

[2016-06-21 19:05] suyograo opened #5529 "Per Plugin metrics values are not properly displayed in _node/stats/pipeline API"
Tried to add number of matches and failures to grok filter.

[code]

Response:
[code]

I expected

[code]

[2016-06-21 19:06] ph commented on #5529
By default it will pickup `to_hash` of the base metric so this why you get all the unwanted data from the custom metric.

[2016-06-21 20:02] ph opened #5531 "You can start Logstash with no worker and it will not complain."
When testing logstash, I was able to make logstash start with no worker.
Logstash doesn't complain it just sit waiting.

[code]

[code]

I haven't check if we have validation of the setting for the worker.

[2016-06-21 20:02] ph commented on #5531
@jsvd could you take a look?

[2016-06-21 20:23] acchen97 commented on #5428
Updated initial issue with new 5.0 scope, adding a few additional plugin specific metrics in Beats in, grok, and ES out. /cc @suyograo @jordansissel

@ph anything else we should add for Beats input? Host/port exposed feels more like "info" instead of "stat". We could add Beat type specific metrics, i.e. # of Filebeats connected, or Filebeat events in/out, but I think this can be a phase 2.

@andre

[2016-06-21 20:26] suyograo commented on #5428
We should defer this average calculation to Elasticsearch, IMO. This is to be consistent with other stats we have so far. Even `duration_in_millis` i.e. time spent in filters is a running total.

[2016-06-21 20:30] acchen97 commented on #5428
Agreed and updated.

[2016-06-21 20:40] suyograo commented on #5428
Wait,we still need the latency or time spent between LS and ES for a bulk request. It just has to be a running total. We should also add # of bulk requests. So on ES side we can calculate the average latency  per bulk request.

[2016-06-22 00:42] acchen97 commented on #5428
@suyograo makes sense, added `request_latency_in_millis` which is a longer, but hopefully clear description. Feel free to add the geoip, date, useragent stuff you mentioned earlier if you'd like.

[2016-06-22 06:49] suyograo commented on #5529
Fixed in #5532

[2016-06-22 06:49] #5529 closed

[2016-06-22 06:54] suyograo opened #5533 "Add default plugins to master Gemfile"
Previously, master branch in LS (since 5.0) had a different `Gemfile` than release branches. With the merge of #5460, both release and master branches use the same strategy of using local, unpublished `logstash-*` plugins for packages. With this, there is really no need to deviate `Gemfile` for release branches. Lets make them same. This will settle a lot of merge conflicts as well. Also, we shoul

[2016-06-22 06:55] suyograo commented on #5533
@jsvd @ph @jordansissel thoughts?

[2016-06-22 07:02] suyograo opened #5534 "Harden Gemfile used in release packages"
We should harden the [Gemfile](https://github.com/elastic/logstash/blob/5.0/Gemfile) used in release branches to be more restrictive w.r.t. versions. Today, its really easy to slip and include a major version of a plugin in a LS minor release, as long as its compatible with the core APIs. This is definitely not desirable from a user perspective because plugin major versions _can_ break compatibili

[2016-06-22 10:40] jsvd commented on #5533
I'm -1 on adding the default plugins to the gemfile. you often might be working only in core so you don't need the default plugins slowing down your workflow.
Release branches are, however, dedicated to creating releases so it makes sense there to encode the default plugins list.
We can create a rake task that does this updating/injection for us, though.

[2016-06-22 11:21] jsvd commented on #5534
I'm not sure if that is your intent, but I'd guess we want to set the pessimistic constraint to the minor version, not patch. So:

`gem "logstash-filter-grok", "~> 3"`

This way it won't upgrade to 4 but can upgrade to 3.1, 3.2, 3.2.3, etc

[2016-06-22 12:29] purbon opened #5536 "All keywords in the event are mutable, even if they are logstash internal values."
Hi,
  I want to highlight one possible source of trouble when working with your pipeline in logstash and this is due to the fact that the event data is mutable. As an example If you have an input that looks like:

[code]

and an output section that looks like:

[code]

you might expect that the value type stays there in the event from the beginning, through the filter section, and then arriving at

[2016-06-22 13:40] ph commented on #5533
I've gave some thought on this since our original discussion from the unified releases.

@jsvd I agree that this could slow down our workflow, switching branch would often mean in some way to  kickstart an install the plugin, some part of this process will be faster since some gems will be present locally in the gem cache.

@suyograo From your proposition the **Gemfile** will be the same in master

[2016-06-22 13:49] vishwastyagi commented on #1685
Hi Everyone,
I am not to use date filter like the way mentioned above.
Help is required.
I have an xml which I am pushing into elasticsearch from logstash

<Record><Date>2016-09-23</Date></Record>

My filter is:

filter{

 mutate {
       		 add_field => [ "nginx_timestamp", "/RECORD/DATE/text()" ]
    	}
    	date {
       		 match => [ "nginx_timestamp", "yyyy-MM-dd" ]
   	 }
    	mutate {

[2016-06-22 13:51] vishwastyagi commented on #3726
Hi Everyone,
I am not to use date filter like the way mentioned above.
Help is required.
I have an xml which I am pushing into elasticsearch from logstash

2016-09-23

My filter is:

filter{

mutate {
add_field => [ "nginx_timestamp", "/RECORD/DATE/text()" ]
}
date {
match => [ "nginx_timestamp", "yyyy-MM-dd" ]
}
mutate {
remove_field => [ "nginx_timestamp" ]
}

}

I am getting warning in logstash

[2016-06-22 16:57] jordansissel commented on #5525
It is uncommon for filters to generate new events. It is also uncommon for filters to cancel (drop) events. These are weird special cases:

* Split filter creates new events and I think cancels the original event.
* Multiline filter cancels events, creates a new merged event. Can create a new event out-of-band if there's a timeout on a stream identity.
* Metrics filter creates new events out-of-ba

[2016-06-22 17:01] jordansissel commented on #5525
In a way, I wonder if we can have:
* Immutable List<Event> for the batch of events to process.
* Filtering could return a List<Event>.
  * In the common case where the list membership doesn't change (no drops, no new events), Filtering simply returns the original immutable list.
  * In the uncommon case of drop or new events, filtering can return a new immutable list with the dropped events remove

[2016-06-22 18:19] suyograo commented on #5533
Correct.

I do like the simplicity in this approach -- having consistent `Gemfile` across branches going forward. I understand it may slow down development, but I think thats a technical problem we can solve. This is a problem we have to solve regardless. I feel the merges will get easier too.

Others? @colinsurprenant @jordansissel ?

[2016-06-22 18:36] jordansissel commented on #5518
@ph and I paired on zoom about this. I'm not sure how `subject.metric` is somehow returning nil despite the `before` setting up an `allow()` that overrides `metric` method. Very funky.

Recommendations:

* See if we can reproduce and understand why this happens
* Worst case, use the `Plugin#metric=` method to set the metric instead of using `allow()` since we have this `metric=` accessor method an

[2016-06-22 18:48] jordansissel commented on #5533
I think the right place to add this, and would solve @jsvd's concerns, is in a `group` in the Gemfile. @colin has noted previously (on zoom, I think?) that the Gemfile parser that the plugin manager uses doesn't understand groups, but we could fix that and use a group, maybe call it `group :default_plugins` and go from there.

I am +1 on using the Gemfile to include the default plugins, and in fav

[2016-06-22 18:48] suyograo commented on #5533
I like the `group` idea!

[2016-06-22 18:52] ph commented on #5533
Adding a `group` make sense and with that I +1 that issue.

[2016-06-22 18:52] ph commented on #5518
10x run of stress without any errors with the first implementation with `allow`

[2016-06-22 22:12] suyograo opened #5539 "Backport null metrics to 2.4"
We want to make sure 5.x plugins work on 2.4, see https://github.com/elastic/logstash/issues/5449. As we introduce metrics usages in plugins, we should backport a shim for metrics as well. This way plugins don't have to have a check -- `respond_to?(:metric)` or along those lines. The metric call should be a noop

[2016-06-23 00:39] GittyHup opened #5540 "Multiple logstash getting input from 1 Redis"
Hello,

I am running into the following behavior. I have 2 logstash indexers reading from one redis server. I've done about a dozen of test runs by sending 20K log lines each time, and when I look in Kibana, I always see one logstash server processing at least twice as many log events. Is there any way to adjust so they balance each other out when reading from one redis queue? I tried changing the

[2016-06-23 06:26] #5450 closed

[2016-06-23 09:35] zjd-melo opened #5541 "how to use input's field to output ?"
I want to use one of input's field as index when output to es,but i dont‘t know how.
output{
           elasticsearch {
                              hosts=>["127.0.0.1:9200"]
                              index =>???
                              codec=> rubydebug
}
}

[2016-06-23 11:27] Tusharsb commented on #2254
@CyrineBS were you able to resolve this problem? I am facing same problem

[2016-06-23 11:34] CyrineBS commented on #2254
hello @Tusharsb yes actually.
I just changed the elasticsearch version. the elasticsearch 1.4.* works fine for me.

[2016-06-23 12:10] guyboertje commented on #5525
Another way to think of this is in MVC terms, where the batch is a DB, the pipeline is the Controller, a normal node is a View and a predicate node the Where clause to query over with resultant Recordset being presented to a normal node via an iterator/enumerator.

The MVC pattern exists as a decoupling mechanism and a separation of concerns.

This analogy of a batch as a DB extends to thinking of

[2016-06-23 12:15] guyboertje commented on #5525
@andrewvc
The pipeline does not mutate the batch, it is the individual plugins that do that using the batch API. The pipeline should be seen as an orchestrator that selects the next plugin and brings it and the batch together. For a graph processing model, one worker thread has orchestration that walks a batch though the graph.
Each plugin should be stateless. The worker thread can only be working

[2016-06-23 12:18] guyboertje commented on #5525
@whack
Unless we continue to enforce a single worker when the multiline filter and its ilk is used, we must rule out the usage of any state-full filters in the post PQ processing. I have a plan to allow the use of state-full filters in the input Milling design.
Only if plugins have internal threads that generate events, can these be considered out-of-band because its unlikely that a batch will be

[2016-06-23 13:01] Tusharsb commented on #2254
thanks! that helped

On Thu, Jun 23, 2016 at 5:04 PM, Cyrine Ben Salem <notifications@github.com>
wrote:

--
Best Regards
Tushar Goswami

[2016-06-23 13:20] ph commented on #5533
Just to be clear, to make it right lets make sure we support the 2 group definition syntax:

[code]

[2016-06-23 13:31] witekest commented on #5195
Dear Logstash developers,
we use Logstash as the agent for the OpenStack Monasca Log API https://github.com/openstack/monasca-log-api . The logstash-output-monasca_log_api plugin which is published at RubyGems.org is installed by our devstack plugin (https://github.com/openstack/monasca-log-api/tree/master/devstack). It would be great if we could also contribute the code to logstash-plugins. We wo

[2016-06-23 13:39] ph opened #5543 "bin/logstash-plugin update should ignore base gems"
When we update a plugin in logstash it will do a check to make sure it ignore gem defined with a local path, with the move to the unified release the core gem are now always included in the repo.

We need to exclude the *core, *core-event-java, *core-plugin-api* from the check to provide the user a less confusing message.

**Example**

[code]

[2016-06-23 13:48] untergeek commented on #5195
Hello, friends!  Sorry for the delayed response.  We're hard at work on Logstash 5.0, so we've been a bit behind on community response, for which I apologize.

I think we can work with you on this.  I will raise this possibility with the rest of the team.  Thank you for your submission, and your willingness to support it going forward.

[2016-06-23 14:19] jsvd commented on #5533
I'm +1 on the group idea.  Some potential headaches in the implementation side:
* the --without <group> setting messes with the .bundle/config file (which we already have tasks to delete, iirc)
* the set of core gems used for testing core contains plugins from the default plugin set. managing that intersection may be annoying.

[2016-06-23 14:21] ph commented on #5533
I think bundler already deal with that out of the box.

[2016-06-23 15:50] ph opened #5546 "Create helpers for plugin author to test their metric implementation."
Currently the plugin author can start recording metrics in their plugin by invoking the `plugin#metric` command with a specific action. The problem is there is no easy way to test if their metrics is correctly recorded. We should provide an easy way to test for that specific behavior without having to a complete pipeline run.

## Required assertions
- Test for key existence
- Test for keys hierarc

[2016-06-23 15:50] suyograo commented on #5533
I think we should still merge default plugins to master. Yes we can move to `:group` but until we figure it out, IMO, we can still live with default plugins in master. Thoughts? Also we can merge #5535

[2016-06-23 15:51] ph commented on #5518
I havent been able to reproduce that, but I've changed the `allow` to use the setters in this PR #5542

[2016-06-23 16:31] jordansissel commented on #5533
@suyograo +1 on incremental approach; we can use a `group` later. It may hurt a little for some parts of core dev, but hopefully not too baddly.

[2016-06-23 17:02] colinsurprenant commented on #5525
it seems to me that @guyboertje batch concept proposal seems a appropriate abstraction and would in fact work for the current pipeline implementation and any future (graph or AST walking) implementation.

[2016-06-23 17:56] andrewvc commented on #5525
@guyboertje my feeling is that this would hamstring our pipeline impl. Take the pseudocode below which encapsulates the graph pipeline. Can you show me how this code would look in your example?

[code]

[2016-06-23 18:22] andrewvc opened #5547 "Improved pipeline error handling"
Sometime logstash crashes and dies due to faultily written boolean statements. `[foo] > 5` works well until we hit an event where `[foo]` doesn't exist. Usually, the user means to write something like `[foo] and [foo] > 5`, but not always. Perhaps they need special logic for the `nil` case. These bugs can be sneaky however, as seen in #1637 .

The pipeline can also die if a filter or output has a

[2016-06-23 19:11] guyboertje opened #5548 "Implement queue wrapper with clients"
As per zoom discussion. Create wrapper of synchronous queue for use now with a similar implementation for the AckedQueue later.

[2016-06-23 19:37] ppf2 opened #5549 "Logstash exits silently when there are permission issues to log file"
Reproducible on 2.3.3.

If the -l log file has permission issues, logstash just silently exists.  Will be nice if we log something to stdout, etc..

[code]

[2016-06-23 22:20] jadbox commented on #2822
Here's another interested party for slurping sqs_s3->logstash

[2016-06-24 00:40] henghenghahai opened #5550 "Logstash v2.3.3: A plugin had an unrecoverable error"
Hi,
I push windows eventlog using winlogbeat-dev(Version: 5.0.0-nightly2bfc1c4) to logstash v2.3.3,the logstash configuration is

input{
beats {
add_field =>["itcategory","it_security_windowslog"]
port => 5150
}
}
...

output{
elasticsearch {
hosts => "localhost"
index => "it_security_windowslog-%{+YYYY.MM.dd}"
document_type => "windowslog"
}
}
}

...

but on the second day ,logstash would crashed

[2016-06-24 00:45] mizeng opened #5551 "one Logstash output rule can't work due to other logstash output rule has problem?"
- Version: logstash 2.3.2
- Operating System: Ubuntu 12.04
- Config File (if you have sensitive info, please remove it):

[code]

[code]

I have above 2 logstash output in one server, and it used to work well.

However yesterday our kafka host get disk full due to too many messages, which means output_kafka may not work since it can not write new messages to the kafka host.
That also impact output

[2016-06-24 04:38] acchen97 commented on #4469
Closed in favor of https://github.com/elastic/logstash/issues/5148

[2016-06-24 04:38] #4469 closed

[2016-06-24 06:47] kejc87 commented on #5195
Thanks for your help. If you need any additional information, just ask.

[2016-06-24 15:41] jsvd commented on #5458
moved to https://github.com/logstash-plugins/logstash-patterns-core/issues/159

[2016-06-24 15:41] #5458 closed

[2016-06-24 15:51] suyograo commented on #5195
@kejc87 thanks for your contribution. I created a new repo in our plugin org. Can you do a PR there to move it? https://github.com/logstash-plugins/logstash-output-monasca_log_api Let us know if you have a question.

[2016-06-24 16:50] suyograo commented on #5547
@andrewvc +1 on exposing this via a flag. @jordansissel thoughts?

[2016-06-24 17:34] jordansissel commented on #5547
+1 on having a setting for this (in the yaml, not a command-line flag)

[2016-06-24 20:58] lin-zhao commented on #1817
+1

[2016-06-24 22:20] #5404 closed

[2016-06-25 00:50] suyograo commented on #1511
Fixed in 5490

[2016-06-25 00:50] #1511 closed

[2016-06-26 07:45] markwalkom commented on #5551
When an output is held up for whatever reason, it puts back pressure on the entire pipeline, including other outputs.
This is expected behaviour, not a bug, so I'll close this one off.

If you have further questions, please use our forums - https://discuss.elastic.co :)

[2016-06-26 07:45] #5551 closed

[2016-06-26 13:19] nvtkaszpir commented on #3944
works with jdbc input plugin like a charm :D

[2016-06-26 15:03] fbaligand commented on #3944
Nice :)

[2016-06-26 23:25] gbolo commented on #2594
I tried to sending logs from `systemd-journal-upload` to `logstash-plugins-inputs-http` but systemd sends them chunked and the http input is not able to handle it properly, resulting in an empty message field (however the other http headers are populated in fields)

[2016-06-27 07:42] witekest commented on #5195
Thanks Suyog. I have just submitted the PR with the content of our existing repo.

[2016-06-27 15:27] jsvd opened #5556 "Failed spec in master on the hot_threads api module"
I can't replicate this consistently:

[code]

[2016-06-27 17:56] jordansissel opened #5557 "Acceptance tests are timing out since June 22 (5 days)"
https://logstash-ci.elastic.co/job/elastic+logstash+5.0+multijob-acceptance/

Many of these tests are failing due to what I *think* are job timeouts. We have a 6-hour timeout on jobs and the recent aborts are all around 5hr40min mark

I don't know why they're getting stuck, yet. The last output in the console log looks like this:

[code]

In other cases, the last output looks like it timed out wai

[2016-06-27 18:06] purbon commented on #5557
good catch @jordansissel thanks a lot!

for the speed side, I think https://github.com/elastic/logstash/pull/5538 might help improving speed, getting your review there would be very nice, as @ph and @untergeek could not still do it.

on the other side, @elasticdog could you check why git might be timing out?

[2016-06-27 18:09] jordansissel commented on #5557
@purbon I wonder if we could also help this along by splitting up the job per platform. For example, this output:

[code]

If we split these into 3 separate jobs, then we would run less risk of job timeout, right? Or at least, we could see which platform was problematic based on the job?

[2016-06-27 19:46] e-mars opened #5558 "Syntax issue in Logstash File Plugin Docs"
In https://www.elastic.co/guide/en/logstash/current/plugins-outputs-file.html

Top, change example on codec:
current: codec => { line { format => "custom format: %{message}"}}
new: codec => line {format => "%{message}" }

*extra "{}" cause issue with validation and parsing in logstash.

[code]

Thanks,
Marcelo

[2016-06-27 23:15] elasticdog commented on #5557
Looking at the workspace for the 5.0 branch acceptance tests, I think an old `.git/` directory was hanging around that might have been pissed off for whatever reason (hetzner has been having some network flakiness lately)...I removed it and the [current job is running again](https://logstash-ci.elastic.co/job/elastic+logstash+5.0+multijob-acceptance/label=metal,suite=debian/24/console).

[2016-06-28 08:58] purbon commented on #5557
@elasticdog jobs are running again, but looks like they take too much time already.

[2016-06-28 09:01] purbon commented on #5557
@jordansissel this might help having less concurrent load at the same time for sure, we should see a right way to show this from user perspective too.

on the other side, @jordansissel @suyograo could one of us please review https://github.com/elastic/logstash/pull/5538 ? this will reduce our running time here around 50% helping also the CI infra and user experience for tests.

[2016-06-28 10:19] purbon commented on #5557
working on the actuall situation for being stuck, looks like the deb package might be broken somehow for debian-8, will be opening a concrete issue when I find out root cause.

[2016-06-28 10:37] adnan-panalytics commented on #4450
@suyograo Does it need any more information? I am happy to provide anything else required, if this bug can be fixed, as this has lead to us abandoning floating point numbers and use workarounds for it.

@purbon  Could you please re-open this issue?

[2016-06-28 13:16] purbon commented on #5557
Actually this issue is due to an interactive question being ask during the update process in debian-8, see:

[code]

so the call is waiting there forever!

[2016-06-28 14:32] elasticdog commented on #5557
Good find @purbon! I'll wait to see that things get passing again before closing this out.

[2016-06-28 14:36] purbon commented on #5557
@elasticdog actually been the superpowers of @dliappis who helped find it. He deserve the credit!

[2016-06-28 15:42] purbon commented on #5557
closing this as builds are running smooth again.

[2016-06-28 15:42] #5557 closed

[2016-06-28 18:55] dedemorton opened #5563 "human parameter on the hot threads API returns a response that's not really human readable"
When I run the hot threads API with `?human=true` specified, the results are not really human readable, and specifying `?human=false` does not seem to change the response.

In previous alpha versions, I believe that we returned a more readable response, as shown in the [documentation](https://www.elastic.co/guide/en/logstash/5.0/hot-threads-api.html) for the hot threads API. I'm opening this issue

[2016-06-29 05:02] fgimian commented on #5016
@jordansissel Hey there, we are also facing this issue in our production environment.

Unfortunately, logrotate is problematic because our Logstash logs get very large very fast (around 10 GB per day) and when attempting hourly rotation of the logs, it appears that Logstash stops ingesting logs until this completes.  Most of the log entries are indeed warnings which we are working through, but it

[2016-06-29 07:59] jsvd commented on #5016
@fgimian hi, today I'll work a patch to reintroduce reopening the log files on SIGHUP

on a side note, could you provide some information on the kind of log lines being produced by logstash? are they errors? maybe superfluous debug information being logged as info/warn?

[2016-06-29 08:03] fgimian commented on #5016
Thanks so much @jsvd, yeah the lines we are seeing are primarily grok failures which we are working on resolving with our Elasticsearch consultant Nic.  These are indeed errors that we have reduced, but sadly the app producing our logs is a bit of a pain and often produces lines that we need to write new grok patterns for.  So we would love to have this feature return at least as a precaution 😄

[2016-06-29 08:15] jsvd commented on #5016
That's strange, looking at the code I don't see warnings being printed when grok fails to parse. Are you running logstash with --debug in production?
Can you provide an example or 2? thank you

[2016-06-29 08:26] fgimian commented on #5016
The messages are hugely long and do contain quite a lot of company specific info so I've shortened it to show you the most important parts:

[code]

Happy to raise a case so I can provide further info, but our consultant from Elasticsearch did mention that this was due to entries in logs that simply were not accounted for in the grok patterns, and he has helped us significantly improve our Logstas

[2016-06-29 12:33] purbon commented on #5504
@untergeek any improvements on this so we can bring ubuntu-16 back to the testing stack?

[2016-06-29 12:34] purbon commented on #5445
this was hit again https://logstash-ci.elastic.co/job/elastic+logstash+master+multijob-os-compatibility/os=debian/134/console

[2016-06-29 12:40] untergeek commented on #5504
I haven't been able to touch it yet.  I'll try to get to it today.

[2016-06-29 12:42] purbon commented on #5504
no hurry, this was just me doing housekeeping of tickets :-p let me know
when you get a clever idea on this issue :-)

On Wed, Jun 29, 2016 at 2:41 PM Aaron Mildenstein <notifications@github.com>
wrote:

[2016-06-29 13:14] jsvd opened #5567 "Logstash 2.x event clone operation isn't deep enough"
[code]

[code]

Seems to affect all of Logstash 2.x and 1.5.x
This does not affect master.

[2016-06-29 19:17] dedemorton opened #5568 "Need more doc about upgrading from 2.2 to 2.3"
The current upgrade documentation needs to discuss how the change to the default output workers that we made in 2.3 (see issue #4877) might affect customers who are upgrading from 2.2 to 2.3.

We need to:
- Update the Breaking Changes doc to indicate that the change to output workers is potentially a breaking change that may affect throughput.
- Also mention in the Release Notes that this change m

[2016-06-29 19:18] GlenRSmith commented on #5568
👍

[2016-06-29 23:46] treksler commented on #5235
confirmed fixed in 2.3.3

[2016-06-30 00:05] suyograo commented on #5235
Thanks @treksler

[2016-06-30 00:36] suyograo commented on #4823
Fixed in https://github.com/logstash-plugins/logstash-output-elasticsearch/pull/390

[2016-06-30 00:36] #4823 closed

[2016-06-30 00:40] suyograo commented on #5568
I think this statement needs to be qualified to say output workers will increase resource usage. See explanation below:

Its a bug that in 2.2 we made `output workers = pipeline workers = # of cores`. Its perfectly fine to set `pipeline workers = # of cores` or even greater than `# of cores`. Outputs in Logstash are not thread safe in terms of underlying resources it uses. Increasing output worker

[2016-06-30 08:15] colinsurprenant commented on #5567
ah. the Ruby Event#clone method is actually not deep ... see https://github.com/elastic/logstash/blob/612c9b8a6d7e75780919caa337baf5085e3c3c50/logstash-core-event/lib/logstash/event.rb#L95-L100

[2016-06-30 08:17] purbon commented on #5563
@andrewvc something got wrong in your during your refactoring?

[2016-06-30 08:39] gauravjavheri opened #5572 "Init.d file and config folder are missing in Logstash 5 Alpha3 Setup"
Hi,

Last day I installed Logstash 5 Alpha3 version using installation guide https://www.elastic.co/guide/en/logstash/5.0/installing-logstash.html1 on RHEL 6.x. After installation found that "/etc/init.d/logstash" script  and config folder are missing.

Thanks
Gaurav Javheri

[2016-06-30 09:48] purbon opened #5573 "The semantic of the event in logstash (Text Encoding)"
While working on https://github.com/logstash-plugins/logstash-input-jdbc/issues/143 some thoughts have pop up for me regarding what we expect from the event holder in logstash. I want to open this issue so we can reach a common viewpoint on what we expect from it and also might generate a nice source of knowledge to be all in the same page for expectations when handing data into the event.

First

[2016-06-30 11:27] colinsurprenant commented on #5573
Yes and the convention is to have all values always UTF-8 encoded when setting them into the Event. This is not enforced in the Event code, but it is a convention. At some point it was decided that doing a systematic encoding validation check for all values set in the Event was going to be too costly.

This is an implementation specific side effect, not the result of a new explicit rule or validat

[2016-06-30 12:05] untergeek commented on #5572
That's because starting with alpha3, Logstash generates its own startup files based on what the system uses. RHEL 6 uses upstart, so you can start Logstash with `initctl start logstash` or even just `start logstash`

[2016-06-30 13:34] zte-wangning opened #5574 "The maximum rate recieved by UDP"
- Version:2.3.1
- Operating System:Ubuntu
- Config File (if you have sensitive info, please remove it):
   The input is UDP, output to file.
- Steps to Reproduce:
 Assume that there is a large rate to generate UDP program，I would like to know the maximum reception rate of logstash in case of no packet loss.

[2016-06-30 13:53] ph opened #5575 "Plugins Manager in 5.X and beyond."
We have implemented the plugin manager in logstash in 1.5 more than 2 years ago.
With the java changes in the core and our future plan I think its a good time to discuss
the state of plugin in logstash and how we handle the dependencies.

I want to see this as an open discussion, package manager / dependency are complex beast but it
shouldn't stop us from talking.

### First lets summarize the sta

[2016-06-30 14:11] #5539 closed

[2016-06-30 14:11] ph commented on #5539
done in #5544

[2016-06-30 15:33] cjchand commented on #2796
Dropping a comment in here for posterity. An unintended consequence of this behavior (holding on to the shutdown event until the pipeline is flushed) is that it can give the impression that Logstash "crashed" without any logging as to why.

Consider this scenario:

1. Logstash is up, but output is unavailable (whether before or after initial startup of the daemon)
2. Someone (or something, e.g.: A

[2016-06-30 15:52] jsvd opened #5576 "Change rpm/deb metadata naming scheme"
Currently package names for rpm and deb are created like: `1:5.0.0~alpha4-1`

Even though the latest refactor to the package creation changed the file names to `logstash-5.0.0-alpha4.deb`, the metadata for the name has not changed.

Looking at the code, it's just a matter of removing the version modification in https://github.com/elastic/logstash/blob/master/rakelib/artifacts.rake#L389

[2016-06-30 18:40] mpcokeefe commented on #3611
Using Logstash 2.3. 1 and trying to split an array. I also find it doesn't work if the array only has one value.

[2016-06-30 20:17] leifmadsen opened #5577 "Logstash exits if attempting to create directory when file exists in path"
- Version: 2.3.3
- Operating System: CentOS
- Config File
Original:

[code]

Modified to utilize directory of same name as existing file.
[code]

- Steps to Reproduce:
Write out a file with the file plugin. Then adjust the configuration for Logstash to attempt to create a directory with the same name as the log file that was created previously.

Logstash appears to exit with the following info. Ex

[2016-06-30 21:01] drinkbeer commented on #1817
+1 need to input logs from gzip to logstash.

[2016-07-01 06:29] ChristinaLy opened #5578 "No error message when collect logs whose parent folder that has r+x permission"
- Version: Logstash 2.1.1
- Operating System: Red Hat 7.1
- Config File (if you have sensitive info, please remove it):
       For example, The input file is:
            input {
                   file {
                         type => "linux-syslog"
                         path => [ "/var/log/messages" ]
                         start_position => "beginning"
                   }
             }

[2016-07-01 14:49] dogelord opened #5579 "Error not descriptive when non LS configuration file is in path"
Running an ELK Stack on Ubuntu Server 16 - Logstash 2.2.4 service is active, so it seems to load fine. When I run "_sudo service logstash configtest_", my output is this: _Error: Expected one of #, input, filter, output at line 1, column 1 (byte 1) after  {:level=>:error}_

**02-file-input.conf**
input {
        file {
                path => [ "var/log/syslog.log" ]
                type => "syslo

[2016-07-01 15:08] Paladin opened #5580 "logstash-plugin update behaves oddly"
- Version: logstash 2.3.3 (elasticsearch 2.3.3 as well)
- Operating System: Centos7

Went on an updating spree for all the plugins I'm using (BTW, it might be nice to implement "gem outdated" in this context) and I ran into this:

    $> bin/logstash-plugin update logstash-output-elasticsearch

    You are updating logstash-output-elasticsearch to a new version 4.1.1, which may not be compatible w

[2016-07-01 23:58] ceeeekay opened #5581 "Logstash 5.0.0-alpha4 - Error while installing plugins"
Fresh install of LS 5 .0.0 alpha 4.

Trying to install any plugins results in an install error and a retry loop.

This initially occurred while trying to install a local .gem, however packaged plugins also produce the error.

Validating logstash-filter-anonymize
Installing logstash-filter-anonymize
Error Bundler::InstallError, retrying 1/10
An error occurred while installing logstash-core-event-ja

[2016-07-02 02:30] jamesl1234 commented on #5517
I am getting this as well!
Started last week and takes ages to search for data.. even opening the default site and viewing all logs with default '*' (star)...

By looking at this /var/log/elasticsearch/cluster01.log I can see Marvel is having an issue?

[2016-07-02 12:24:03,545][DEBUG][action.fieldstats        ] [kib02] [.marvel-es-1-2016.07.02][0], node[0FBqNX3jQbaHx0S9Ko0sMQ], [P], v[3], s[START

[2016-07-03 21:37] ceeeekay commented on #5581
More info: I can reproduce this on some boxes, but not others, with the same OS and Java versions.

Still looking into why this may be happening.

[2016-07-04 07:15] purbon commented on #5581
thanks for your report @ceeeekay , I'm wondering what are the exact details that might make this happen as we routinely test with several operating systems our components.

Can you run this same command in the machines that show this behaviour with DEBUG=1? this will tell the system to output more information out.

[2016-07-04 07:42] Canon88 opened #5582 "logstash input-> file-> path..How matching logs of today's date?!"
I have a question, `logstash input-> file-> path`. How matching logs of today's date.
My directory`/ service / nginx / logs /`contains many nginx log files, these logs are cut by date.
I just want to let logstash to match today's log, I wrote the following configuration, but it is not working.
[code]
How should I set? Get it to work properly! Anybody can tell me? Thank you.

logstash version: 2.X

[2016-07-04 09:26] ceeeekay commented on #5581
Hi @purbon

Output is at https://gist.github.com/ceeeekay/bc0cff92fb0b8590a50708eff1cdf6d6

[2016-07-04 09:30] jsvd commented on #5582
@Canon88 currently there's no way to explicitly tell logstash to read logs based on current timestamp.
However, you can tell Logstash to ignore files that are older than X using the setting `ignore_older` (https://www.elastic.co/guide/en/logstash/current/plugins-inputs-file.html#plugins-inputs-file-ignore_older)

This plugin already, by default, ignores files that haven't been modified for more th

[2016-07-04 09:31] purbon commented on #5581
@ceeeekay I wonder if you actually updated this box or install it from scratch? the error shown is related to ruby-maven, what makes me believe there might be something fishy there.

[2016-07-04 09:31] jsvd commented on #5581
@ceeeekay can you also post your current Gemfile? thanks

[2016-07-04 09:37] ceeeekay commented on #5581
@purbon it was originally upgraded from 5.0.0-alpha3, but after the error occurred I purged the package and manually rm'ed /usr/share/logstash and /opt/logstash, before reinstalling the .deb for 5.0.0-alpha4 and trying again.

@jsvd https://gist.github.com/ceeeekay/e18352ff11f8d5ca0726f6765d5b21a0

[2016-07-04 09:40] jsvd commented on #5581
@mkristian sorry to ping you again on this, any idea on why the ruby dsl isn't being loaded? it's asking for the [deps.lst](https://gist.github.com/ceeeekay/bc0cff92fb0b8590a50708eff1cdf6d6#file-plugin-manager-output-txt-L212) file, but I don't think we ever had it in the package (looking at 5.0.0-alpha3 and 2.3.3)

[2016-07-04 10:24] cameronkerrnz commented on #3239
This is giving me a useful workaround to this problem. I'm wanting to fix up `"DOMAIN\\\\user"` to `"DOMAIN\\user"`

            mutate
            {
                gsub => ["username", "([\\])[\\]", "\1"]
            }

[2016-07-04 10:36] mkristian commented on #5581
@jsvd the error message is misleading as it is not this missing file, the problem is probably that java can not access maven central using default ssl connection. maven does not use the ruby DSL which is the first thing it tries to install. if this fails it fails silently within maven and continues with regular maven, this fails and jar-dependencies just can not find this missing file. I will impr

[2016-07-04 10:37] mkristian commented on #5581
FYI @jsvd ping my anytime :)

[2016-07-04 10:49] jsvd commented on #5581
I see, we fixed this in [another other ticket](https://github.com/elastic/logstash/issues/5325#issuecomment-220607374) with `sudo update-ca-certificates -f`
@ceeeekay can you check if this works for you?

[2016-07-04 11:15] ceeeekay commented on #5581
@jsvd I can confirm `sudo update-ca-certificates -f` resolves the issue for me.

Thanks everyone for looking into this :)

[2016-07-04 11:27] purbon commented on #5581
good finding @jsvd with the update-ca-certificates for ubuntu-1404 .... and happy tou @ceeeekay fix your issue.

closing this issue for now and opening a new one to deal on how to make this `update-ca-certificates` for documetation whise.

[2016-07-04 11:27] #5581 closed

[2016-07-04 11:32] purbon opened #5583 "ruby-maven errors when installing plugins at ubuntu-1404"
Hi,
   since the development of our qa infra we've saw (till now a couple of times, #5325 and #5581) that for ubuntu-1404 ruby-maven needs up to date root certificates. If you're in this platform and can not install plugins, you might be hitting this error. To solve it you can use `sudo update-ca-certificates -f` to solve it.

@suyograo I'm wondering if we could add a documentation section to comm

[2016-07-04 11:39] purbon commented on #5577
I can confirm this bug and that I happen mostly only in centos systems. Thanks a lot for your bug. I will be moving this to the output file (https://github.com/logstash-plugins/logstash-output-file) repo to track all this plugin issues there.

[2016-07-04 11:39] #5577 closed

[2016-07-04 11:51] purbon commented on #5577
I amend my previous comment, this is preatty common situation with filesystems. The way to avoid this issue is to make sure you don't get files and directories named equal.

[2016-07-04 12:07] Canon88 commented on #5582
Thanks for your help, but I'm trying to use `ignore older` as an argument when the error occurred.
My configuration code is as follows:
[code]

[2016-07-04 12:08] jsvd commented on #5582
it's just ignore_older, not ignore_olderedit

[2016-07-04 12:19] Canon88 commented on #5582
I do not understand, can you show me a look. Thank you very much.

[2016-07-04 12:20] jsvd commented on #5582
[code]

and not
[code]

[2016-07-04 12:23] Canon88 commented on #5582
Thank you solved the problem. Cheers!

[2016-07-04 12:23] #5582 closed

[2016-07-04 12:29] ruflin commented on #5503
@mostolog Based on your script, I wrote some python tests. It seems that especially under heavy rotation, something goes wrong: https://github.com/elastic/beats/pull/1954 Can we move this issue to the Beats repo?

[2016-07-04 12:42] mostolog commented on #5503
On my way! (Thanks, I have been quite busy these days)

[2016-07-04 14:30] aurrelhebert opened #5584 "Publish a new output plugin for the Warp 10 platform"
Here, I developed a small [output plugin](https://github.com/cityzendata/logstash-output-warp10) for the [warp 10 platform](http://www.warp10.io/). I didn't include any automatic tests, I read that you can guide me to do it in order to publish my plugin to the official logstash repository. I am currently reading http://betterspecs.org/ but I ain't used to code in ruby.
Thanks.

[2016-07-04 16:15] ruflin commented on #5503
@mostolog Thanks, closing this in favor of https://github.com/elastic/beats/issues/1956 AFAIK it is not possible to move issues :-(

[2016-07-04 16:15] #5503 closed

[2016-07-04 23:41] ceeeekay commented on #5581
@purbon just one more thing - is this considered a pre-existing issue or does it qualify for the pioneer program? I'm trying to collect as many as I can ;)

[2016-07-05 12:20] Tollefsen opened #5586 "Autogenerated documentation"
**Suggestion**:

**Preamble**:
When trying out a new filter/input/something, the first thing one often do is prototype a POC to get a better understanding of how it works. A good way to do this is look at the documentation and check the required configuration options.

**Trouble**:
Sometimes the required configuration options varies based on other configuration options. This is communicated in the

[2016-07-05 12:42] purbon commented on #5586
what would be your expected outcome? something like showing all options of required values? with this is easy, but in order to automate this I'm thinking we might need to avoid going to a full list of possible combinations.

[2016-07-05 12:43] purbon commented on #5575
another example of odd behaviour is https://github.com/elastic/logstash/issues/5580, we should try harder to narrow down the sematic of upates as might be hard to grasp somehow. what do you think?

[2016-07-05 13:26] Tollefsen commented on #5586
In this example I would actually just prefer the sentence

under the required configuration options block. But I understand how that could escalate in autogeneration when a complex system introduces a magnitude of combinations.

Maybe there could be some way to tag specific sentences as vital to the build, which would "repeat" the sentence in a general section. I have no idea how the currect docum

[2016-07-05 13:27] boeboe commented on #4162
My two cents:

**logstash configuration file:**

`
filter {
  if [type] == "nginx-access" {
    grok {
      patterns_dir => ["/etc/logstash/conf.d/patterns"]
      match => { "message" => "%{NGINXACCESS}" }
    }
  } else if [type] == "nginx-error" {
    grok {
      patterns_dir => ["/etc/logstash/conf.d/patterns"]
      match => { "message" => "%{NGINXERROR}" }
    }
  }
}
`

**logstash pattern

[2016-07-05 13:31] purbon commented on #5549
This does not happen in master but I confirm the issue with 2.3 branch.

[2016-07-05 13:32] purbon commented on #5549
output with 5.0 is

[code]

so the error is properly handled there.

[2016-07-05 19:32] Paladin commented on #5575
If I can toss a few "blue sky" features, as the OP of 5580:

Necessary: whatever the system grows into, it should be able to provide an explanation of why it didn't do what was expected.

Useful: The system should be able to answer the question "What needs updating" at least as well as "gem outdated" does.

Ideal: feedback on what's getting installed and what's left install. It's the kind of nicet

[2016-07-05 19:59] DreadPirateRob commented on #5517
have you figured this out?

[2016-07-05 21:22] jamesl1234 commented on #5517
Hi DeadPirateRob.
Data that I had in my ES was not important so I deleted everything with this command:
**curl -XDELETE 'http://localhost:9200/_all'**
I also posted my problem here..
https://discuss.elastic.co/t/default-and-marvel-index-are-throwing-java-errors-about-timestamp-not-existing/54591/1

So no not really fixed but at least I have a workaround (be it a hack) :)

[2016-07-05 21:33] DreadPirateRob commented on #5517
ok, fyi I changed up my logstash file, it now looks like this:

[code]
I haven't seen the error happen again, and the email sending is working correctly.

[2016-07-05 22:12] jsvd commented on #5496
Now that Logstash 2.x can use Event#get/#set, Logstash 2.4.x should be able to use plugins that use the event apis 1 and 2, which means:
* A plugin that works in Logstash 2.3 should work as is in Logstash 2.4
* A plugin that works in Logstash 5.0.0-alpha4 should work as is in LogStash 2.4, but not 2.3

This is a problem since logstash-core-plugin-api 1.x and 2.x are mutually exclusive. It's not po

[2016-07-05 23:24] jsvd commented on #5496
ok so after some more discussion, I think I agree with @suyograo's proposal:

* We need to minor bump logstash-core-plugin-api 1.x (to 1.20.0) to introduce the .set/.get to the "old API"
* `logstash-core-plugin-api 1.20.0` will respect SEMVER by introducing this new API but not breaking bwc
* `logstash-core-plugin-api 1.20.0` will depend on logstash-core >= 2.4, < 6

All master branches of plugins

[2016-07-06 07:21] antonin42 commented on #1645
+1 for this issue, following the configuration page, setting delimiter to it's theoritical default value [(according to official documentation)](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-file.html#plugins-inputs-file-delimiter) does not work.

`delimiter => "\n"`

[2016-07-06 09:16] pandaadb opened #5591 "Logstash in check for array only works with more than 1 element"
- Version:
- Ubuntu 16.04 LTS
- Logstash 2.3.2

Hi

I have found that multiple people ran into the issue where the in check gets confused as to what an array is.

This is treated as an array:

`
if [message] in ["a","b"] {
      mutate {
          add_field => { "tet" => "world2" }
      }
}
`

While this is looking for a field in the event called "a":

`
if [message] in ["a"] {
      mutate {

[2016-07-06 11:36] mikronac opened #5592 "Slow version check response"
Checking logstash version consume a lot of CPU and take up to 30 seconds.

root@euirpwhdevlost001:/home/ubuntu# time /opt/logstash/bin/logstash --version
logstash 2.3.1

real	0m11.275s
user	0m9.780s
sys	0m0.252s

- Version: 2.3.1
- Operating System: Ubuntu 14.04

[2016-07-06 13:02] jamessemai commented on #5591
I confirm this issue on Logstash 2.3.3.

[2016-07-06 14:17] jsvd commented on #5534
done in #5535

[2016-07-06 14:17] #5534 closed

[2016-07-06 15:51] jsvd commented on #5592
[for 5.x](https://github.com/elastic/logstash/pull/5490) this will be pretty fast:

[code]

[2016-07-06 16:54] dedemorton commented on #5372
This is now fixed in the 2.3, master, and 5.0 alpha docs.

[2016-07-06 16:54] #5372 closed

[2016-07-06 17:04] andrewvc opened #5593 "Better conditional error messages"
Currently, if a logstash config contains a boolean expression like `if [foo] > 2` and `[foo]` is of the wrong type or nil it will raise exceptions that can be confusing. We should do the following:
1. Wrap all conditionals in a `begin; end` block, and re-raise the exception as a wrapped `LogStash::Pipeline::ConditionalError`. This can be caught be the code in https://github.com/elastic/logstash/pu

[2016-07-06 18:12] jordansissel opened #5594 "Deprecate --verbose and --debug"
In master/5.0, we removed --verbose and --debug. This was the right decision, but for reducing user pain, I think we should restore them with warnings about them being deprecated.

* `--debug` should warn users to use `--log.level debug` instead, and also imply that setting (debug)
* `--verbose` should warn users to use `--log.level info` instead, and imply that setting (verbose)

[2016-07-06 18:37] colinsurprenant commented on #5573
Are we through with this discussion?

[2016-07-06 19:22] jordansissel opened #5595 "Update installation guide (on download page, etc) to note Java dependency"
Our docs in [at least one case](https://www.elastic.co/downloads/logstash), we don't tell users that Java is required.

[2016-07-06 19:38] colinsurprenant commented on #5525
I feel we are looking at this the wrong way around. The Batch concept is and will stay the central unit of work throughout the pipeline and this batch object, from a higher level perspective should abstract away the details related to its own finalization, for such things as ACK'ing, DLQ'ing, etc. The Batch could also include such things as per-batch metrics for example. The Batch is not just a da

[2016-07-06 20:15] andrewvc commented on #5525
@colinsurprenant @guyboertje I think the most clarifying thing we could do here is just publish some pseudocode showing what method signatures your proposed Batch object would have, and a short piece of pseudocode running the pipeline with them.

I'm 100% with you guys on not building for something that doesn't exist yet, I'm just worried that we're creating an unnecessarily tight coupling that al

[2016-07-06 20:54] suyograo opened #5596 "2.4 Release Highlights"
- [x] Backport set/get API shim to support 5.x plugins on 2.4 https://github.com/elastic/logstash/issues/5449
- [x] Backport null metrics to 2.4 to help support 5.x plugins which use metrics API. https://github.com/elastic/logstash/issues/5539
- [x] Internal Logging in JSON format with a flag. https://github.com/elastic/logstash/issues/1569
- [x] Threadsafe ES output which handles resources effici

[2016-07-06 21:45] siaw23 commented on #2947
yes. for me too @jordansissel

[2016-07-06 22:10] joshuaspence opened #5597 "Logstash fails to install if logrotate file is missing"
Firstly, I apologize as I am not sure that this is the correct place to file packaging-related bugs...

It seems that the post-installation script for the `logstash` package is too strict with regards to the existance of the `/etc/logrotate.d/logstash` file. The script is currently as follows:

[code]

On our installation (which is managed by Puppet) we removed the default (daily) `logrotate` rule

[2016-07-06 23:03] suyograo commented on #5592
This has been fixed in 5.0.

[2016-07-06 23:03] #5572 closed

[2016-07-06 23:14] jordansissel opened #5598 "For inputs using codecs, add metric counting bytes read."
Inputs that call `@codec.decode` will pass a string to decode. We should use this as an opportunity to increment a counter of how many bytes a particular input plugin has processed.

[2016-07-06 23:14] jordansissel commented on #5598
I'm looking into this.

[2016-07-06 23:39] dedemorton commented on #5568
Wanted to note that changing the value of output workers (the fix described above) is not generally recommended. The dev team is working on a better explanation to help users understand and resolve this problem if they encounter it when moving to 2.3.

[2016-07-07 02:40] jdubs commented on #4950
I was having the same issue with logstash-2.1.1. After much futtzing around, it appears that the `codec =>   json` was causing me issues for some reason. Nothing in debug or info would say what the deal was.

[2016-07-07 09:20] justinasjaronis commented on #2594
I'm also more than interested in this feature. It would be awesome..

[2016-07-07 09:20] guyboertje commented on #5525
@andrewvc - we don't need psuedocode - [see is this PR ](https://github.com/elastic/logstash/pull/5560) for actual code proposed for the pipeline and the synchronous queue as it is now.

[2016-07-07 10:26] chicco27 commented on #2526
+1

[2016-07-07 14:40] punitsachdev220 opened #5602 "Error while loading CSV to ES through Logstash"
When trying to load CSV file this error is coming in Logstash

E:\ES\logstash-2.3.3\bin>logstash -f E:\\logtashtutorial.conf io/console not supported; tty will not be manipulated Settings: Default pipeline workers: 4 ←[31mPipeline aborted due to error {:exception=>#<LogStash::ConfigurationError: The setting `host` in plugin `elasticsearch` is obsolete and is no longer availa ble. Please use the 'h

[2016-07-07 15:34] mkevac opened #5603 "Big batch size reduces latency of an event appearing in Elastic Search"
- Version: logstash 2.3.1
- Operating System: Linux 4.3.0

We are using ELK to collect production logs. We use rsyslogd as a way to get these logs to logstash.
We expect logs to appear in Elastic Search in a few seconds after they are written to syslog.
Our log rate is often steady, but sometimes system can generate A LOT of logs.

When this happens we see that rsyslogd -> logstash queue size incr

[2016-07-07 16:22] DreadPirateRob commented on #5517
as an update, its still working well.

[2016-07-07 16:59] andrewvc commented on #5603
Thanks for writing the detailed issue @mkevac . Can you share your Logstash config so we can look at it in more detail?

Regarding the `batch_delay` value, its very unlikely that you would actually see 250s of delay for the batching process. Increasing the batch size necessarily gives you better throughput at the cost of worse latency. It is more likely that a slow filter or output is slowing thin

[2016-07-07 17:33] suyograo commented on #5602
Hi, can you please post these kind of questions in our [forum](https://discuss.elastic.co/c/logstash)? The forum is also the best place to debug config issues, getting help etc. Github is mainly used for issues/enhancements. Thanks!

[2016-07-07 17:33] #5602 closed

[2016-07-07 17:33] suyograo commented on #5597
@joshuaspence what version of LS is this referring to?

[2016-07-07 17:34] suyograo commented on #5597
Oh I see its 2.3.3

[2016-07-07 17:37] suyograo commented on #5583
@dedemorton Where would we put this in our documentation? I am hesitant to add a "Troubleshooting Guide". Maybe a note in https://www.elastic.co/guide/en/logstash/current/working-with-plugins.html

[2016-07-07 18:09] andrewvc commented on #5603
To clarify @mkevac the 5ms delay is the maximum. If you have a saturated pipeline that is not happening. The only way to have it be the full 5ms delay for each item would be to have a bizarre scenario where each input item is coming in exactly 4.9999999ms apart.

[2016-07-07 18:14] suyograo commented on #5549
Fixed in #5587

[2016-07-07 18:14] #5549 closed

[2016-07-07 18:22] mkevac commented on #5603
I understand that. But this is not what was happening.

Suppose we have pipeline-batch-size == 50000 and our event rate is 300 events\sec.
And suppose our events come in equal intervals. This interval would be 1000 milliseconds / 300 events\sec = once in a 3.33 ms.

So according to rules from [documentation](https://www.elastic.co/guide/en/logstash/current/pipeline.html) batch will be sent for pro

[2016-07-07 21:01] suyograo commented on #5496
We had a discussion on Slack with @jsvd and @colinsurprenant.

At the time of writing this comment, current core-plugin API version that tracks `2.3.4` is `1.20.0`. For LS 5.0.0-alpha4 it is version `2.1.x`. We choose `1.60.0` as plugin API version to start tracking LS 2.4. The gap from `1.20.0` to `1.60.0` is intentional and gives us enough wiggle room so we can release more versions of 2.3.x if

[2016-07-07 22:14] jordansissel opened #5604 "[2.x] Exception thrown if shutdown is requested during part of startup."
The error is this:

[code]

This is caused when SIGTERM is sent between these lines of code: https://github.com/elastic/logstash/blob/v2.3.2/logstash-core/lib/logstash/agent.rb#L202-L213

This appears to be fixed in master (https://github.com/elastic/logstash/blob/master/logstash-core/lib/logstash/agent.rb#L54)

[2016-07-08 05:22] jordansissel opened #5606 "Upgrade to JRuby 9k"
According to [this tweet](https://twitter.com/jruby/status/751150368839589888), JRuby 1.7 will be EOL by the sometime during 2016.

Let's make sure we have all the bugs/problems identified and get on the path to upgrade to JRuby 9k some time after Logstash 5.0.0

[2016-07-08 07:38] acchen97 opened #5607 "Final touches on monitoring API"
Final monitoring API bug fixes for beta1 readiness:

- [x] Pipeline stats from `/_node/stats/pipeline` should also be included in the parent `/_node/stats` resource for completeness; verbosity shouldn’t be an issue as this API should be for computers not humans
- [x] `/_node/stats/mem` resource should be removed and the object should instead be nested under `/_node/stats/jvm` along with the ‘threa

[2016-07-08 11:26] guyboertje commented on #5525
To summarise:

The Batch Object is a special purpose collection - its purpose is to represent the collection of events that pass through the pipeline in any one worker thread.
In a similar way that a Ruby Array has many view enumerators on its underlying data - e.g. `#select` and `#reject`, a Batch can supply appropriate view enumerators.

With a Batch object it is simple to transfer the responsib

[2016-07-08 13:58] renevdm opened #5608 "[2.3.4] error in netflow-codec"
After upgrading logstash to 2.3.4 it won't start anymore, displaying this message when performing a configtest:

[code]
After doing some little research, it turns out the netflow-codec is throwing this error. This is logged in logstash.log:

`input {\n     udp {\n       port => 9996\n       type => \"netflow\"\n       codec => netflow {\n         versions => [5,9,10]\n       }\n     }\n}\n\noutput

[2016-07-08 14:03] guyboertje commented on #5525
It is possible for a view via, say `#select`, to return a new ephemeral child Batch object with less events in it to be discarded when a stage is done with it. Any child batches will be created with a reference to the mother batch so that any generated/cancelled/failed events added to the child batch will be also added to the mother batch.

For example if we have this config:
[code]
We can apply t