[2015-05-08 19:43] ph commented on #3206
Adding this https://github.com/elastic/logstash/issues/1754 concerning thread safety for some plugins.

[2015-05-08 20:33] wfindley commented on #3208
cool, then I'll try a PR again Lusis's cookbook.

[2015-05-08 20:33] #3208 closed

[2015-05-08 21:02] colinsurprenant opened #3210 "[Design] plugins shutdown sequence refactor proposal"
We need to refactor the shutdown sequence involving the input plugins and establish a clear shutdown semantic.

### Current Design
Currently the base plugin class exposes the following methods related to shutdown:

- `shutdown`
     - only the lumberjack input plugin (of all input/filter/output/codec) call this method
     - never overridden
     - does *nothing*
- `finished`
     - called from ma

[2015-05-08 21:32] btobolaski commented on #3209
I don't for sure but from my observations, this happens because logstash takes a while to startup and so it doesn't restart 10 times in 5 seconds. On my servers its more like 1 in 10 seconds. This mean that there is no way to restore upstart's default behavior.

What can be done is to either increase the time limit or decrease the restart count. I think "5 60" might work.

[2015-05-09 09:16] aland commented on #3149
Same problem with rc4

[code]

[2015-05-09 13:11] ph commented on #3204
I will try to reproduce this.

[2015-05-09 16:24] colinsurprenant commented on #3204
on master?
what is you current Ruby interpreter? `ruby -v`

[2015-05-09 16:26] purbon commented on #3204
happen to me on master (I use jruby always), why this might be a source of problems?

[2015-05-09 16:29] purbon commented on #3204
My hunch is more on bundler needing a patch in another location (might be) ...

[2015-05-09 16:40] colinsurprenant commented on #3204
Just trying to figure the environment combination so we can reproduce. if we cannot reproduce, it's going to be hard to fix.

I just tried with current master,

    ruby -v
    jruby 1.7.19 (1.9.3p551) 2015-01-29 20786bd on Java HotSpot(TM) 64-Bit Server VM 1.7.0_80-b15 +jit [darwin-x86_64]

and I cannot reproduce.

[2015-05-09 16:53] purbon commented on #3204
Ok

[code]
you will see it after  ``` rake test:core ```

[2015-05-09 17:37] colinsurprenant commented on #3204
still cannot reproduce. here are my steps:

- clean master with

[code]

[code]
[code]

verify, no `Gemfile.lock`

[code]

verify, no `Gemfile.lock`

[code]
verify, no `Gemfile.lock`

do you have the `bundler` gem installed locally?  on my side I have 1.9.6.

[code]

[2015-05-09 18:20] jsvd commented on #3149
If you use a proper/valid sincedb_path in your configuration does it still crash?

[2015-05-10 05:06] karasmeitar commented on #3193
When i'm writing the credentials as you said i'm getting  "Error: AWS::S3::Errors::Forbidden".
But i'm positive  that the id and secret are correct.

[2015-05-10 08:08] purbon commented on #3204
Interesting, I repeated the same steps as you, coming from a clean master, doing each command as you.   After ```rake test:core```, still get the ```Gemfile.lock```, here there is some data that might help you setup the same env:

[code]

[code]
[code]

is there something else I can do to help you reproduce it ?

[2015-05-10 08:25] aland commented on #3149
I wasn't aware that NUL was invalid as it "worked" until rc3 - but you're right, there is no error when sincedb_path is unset or set to a specific file. Is there a proper value to use in Windows which is equivilent to /dev/null ?

"worked" meaning that it would throw some errors, but ultimately output the log data - https://github.com/elastic/logstash/issues/3024 & https://github.com/elastic/logst

[2015-05-10 16:17] colinsurprenant commented on #3204
@purbon can you gist your Gemfile, Gemfile.jruby-1.9.lock (and Gemfile.lock if present) **before** and **after** `rake test:core` ?

[2015-05-10 16:36] purbon commented on #3204
@colinsurprenant here you've gist https://gist.github.com/purbon/f5cb4d3fd596109b8ad7, I check and after ```rake test:core``` Gemfile.lock is identical to Gemfile.jruby-1.9.lock

[2015-05-10 22:06] WoLpH opened #3212 "Incorrect url in `Using milestone 1 filter plugin` warning"
When starting Logstash I get messages like these with a broken url:

[code]

As you can see here: http://logstash.net/docs/1.4.2-modified/plugin-milestones
This results in a 404, would be good to fix :)

Some systeminfo:
OS: Red Hat Enterprise Linux Server release 6.6 (Santiago)
Logstash: logstash 1.4.2-modified

Installed from the Elasticsearch repo and stock as far as I'm aware (only added my ow

[2015-05-10 22:09] jordansissel commented on #3212
This is a bug in 1.4.2; it'll be fixed in 1.5.0

[2015-05-10 23:13] SkaveRat commented on #2284
If anyone lands here via google: before suspecting a LS memory leak, check your client.

Upgraded to 1.5 and still had leaks, because my client didn't close the connection and LS kept them in memory

[2015-05-10 23:22] fbaligand opened #3213 "rspec tests doesn't work on windows"
I can run rspec tests with success on linux.
But that doesn't work on windows.
It seems that rspec doesn't detect test examples.

Here is the result when I execute `bundle exec rspec` with `logstash-filter-multiline` plugin on windows :
[code]

My environment :
- windows 7 - 64 bits
- java 7

[2015-05-10 23:39] frconil commented on #3101
Hi,

I think I have a similar issue. I disabled logging to file and in result logstash.log was under control but now logstash.stdout is getting a copy of each output that is sent to elasticsearch.

I've disabled every stdout option aside from the init.d script one (ie "> ${NAME}.stdout" )
I can try to scrub some of our logs for you if that helps

[2015-05-11 00:07] deusofnull opened #3214 "Logstash syslog input causing a "UDP Listener died" error"
Hi all,

I am trying to receive syslog input from a syslog server which is being fed logs from Docker containers via logspout.
 I am rather sure that I configured the input correctly to receive syslog on port 5000.  Here is my input config for syslog

    syslog {
        port => 5000
        type => "docker_log"
    }

And here is my full input config on pastebin:  http://pastebin.com/qcX5tFTi

H

[2015-05-11 03:35] colinsurprenant commented on #3204
since I can't reproduce, can you add a couple traces in `bootstrap/bundler.rb`; at the top of the module to trace when it get required and in the `patch!` and `setup!` methods to see what gets called when. see if there is a difference between doing `rake test:core` and `bin/rspec`. (for the record, in a debugging chat we discovered that calling `bin/rspec` did not produce the `Gemfile.lock` but we

[2015-05-11 08:48] jsvd commented on #3127
@mattstibbs can you try installing the package "libc6-dev" (and its dependencies) in your ubuntu instance and check if the issue goes away?

[2015-05-11 10:04] svenmueller commented on #3165
ok, i can't reproduce this error anymore

[2015-05-11 10:04] #3165 closed

[2015-05-11 10:34] jsvd commented on #3149
@aland I wasn't aware having such a string produced that effect on the plugin (it shouldn't). I [created an issue](https://github.com/logstash-plugins/logstash-input-file/issues/26) in the file input plugin to discuss if this plugin should have the option to NOT do sincedb writes.

[2015-05-11 11:03] purbon commented on #3213
@fbaligand can you try what happen if you do ```bundle exec rspec [path_to_spec_file] ``` ? where path to spec file is the spec you aim to run.

[2015-05-11 12:18] purbon commented on #3204
@colinsurprenant I did some debugging and actually the problem for me is that I've also installed bundler in my rvm environment, If I remove bundler the ```Gemfile.lock``` gets not created. As far as I can understand, somehow this bundler (the non vendored one) gets also called when issuing the ```rake test:core``` command.

I guess the only way to patch it is by having something installed in the

[2015-05-11 13:42] colinsurprenant commented on #3204
@purbon what do you mean by « I've also installed bundler in my rvm environment» ? I also have bundler installed in all my local rubies and that does not seem to affect.

The "only" difference between launching with `rake test:core` and `bin/rspec` is that with `rake`, the relaunch is done by `rakelib/z_rubycheck.rake` and with `bin/rspec` the relaunch is done in the shell by `bin/logstash.lib.sh`

[2015-05-11 13:46] purbon commented on #3204
@colinsurprenant I meant, no bundle installed in rvm gemset, then no ```Gemfile.lock``` generated. I'm actually not that sure that there is a relaunch when se invoke by using ```bin/logstash.lib.sh``` as there is with the rake tasks.

I verified and the relaunch is done properly.

Who could be requiring  bundler in my env other than logstash when doing ``rake .... ```, ideas?

[2015-05-11 13:49] colinsurprenant commented on #3204
@purbon this is what you have to trace down, since I can't reproduce locally.

the `bin/rspec` relaunch is done exactly the same way as `bin/logstash` so, yes, there is a relaunch unless you specify `USE_RUBY=1`. If there is no relaunch, we have a problem.

[2015-05-11 13:57] purbon commented on #3204
@colinsurprenant correctme if I'm wrong, but thanks to https://github.com/elastic/logstash/blob/master/bin/logstash.lib.sh#L115-L134, there is no actuall relaunch, but a selection of the right ruby, right?

[2015-05-11 14:15] #3157 closed

[2015-05-11 14:24] ph commented on #3204
I also had this issue, I am trying to reproduce it.

[2015-05-11 14:58] suyograo commented on #3165
@svenmueller thanks for the update..just curious, was there any changes from your side, except updating to RC4?

[2015-05-11 15:02] colinsurprenant commented on #3204
@purbon I correct you: unless `USE_RUBY=1` is explicitly specified, you always get relaunched with the vendored JRuby in https://github.com/elastic/logstash/blob/master/bin/logstash.lib.sh#L152

[2015-05-11 15:05] purbon commented on #3204
@colinsurprenant but this is bash -> ruby, right? not a relaunch form ruby -> ruby as with rake isn't? please educate me if I'm wrong.

[2015-05-11 15:05] colinsurprenant commented on #3204
@purbon if you are unsure about the behaviour, just put `DEBUG=1` in from of which ever command you use between `bin/logstash`, `bin/rspec`, `bin/plugin` to see the exact launch command executed.

[code]

note the `... vendor/jruby/bin/jruby ...` <- relaunch using vendored JRuby.

[2015-05-11 15:05] svenmueller commented on #3165
@suyograo nope, no changes beside switching to RC4

[2015-05-11 15:07] colinsurprenant commented on #3204
@purbon in both cases it `exec` using the vendored JRuby, see https://github.com/elastic/logstash/blob/master/rakelib/z_rubycheck.rake#L35

[2015-05-11 15:20] suyograo commented on #3205
Reviewed the test on jenkins, LGTM

[2015-05-11 15:20] #3205 closed

[2015-05-11 15:25] ph commented on #3204
**Details:**
jruby 1.7.19 (1.9.3p551) 2015-01-29 20786bd on Java HotSpot(TM) 64-Bit Server VM 1.8.0_20-b26 +jit [darwin-x86_64]

**Local gems:**
https://gist.github.com/ph/4b7684bb92d500dd44d9

[2015-05-11 15:30] purbon commented on #3204
@ph and you're able to reproduce or not?

[2015-05-11 15:31] ph commented on #3204
@purbon I had this issue before, but I can't find a reliable way to create the `Gemfile.lock`

[2015-05-11 15:35] ph commented on #3204
I suspect we have a small issue with the environment (or a MRI/jruby difference).
If you bootstrap the environment with MRI 2.2.0 in my case it wont be able to find "bundler".

[code]

ruby 2.2.0p0 (2014-12-25 revision 49005) [x86_64-darwin14]
local gems: https://gist.github.com/ph/b2ce7db3b62f78ffa056

[2015-05-11 15:37] ph commented on #3204
`bin/rspec` works under 2.2.0 but not `rake test`.

[2015-05-11 15:59] suyograo commented on #3127
@jordansissel is it a viable option to have libc6-dev as a dependency for the deb/rpm packages?

[2015-05-11 16:09] ph commented on #3204
If you look at the $LOAD_PATH before doing `require "bundler"`

**jruby 1.7.19**
[code]

**MRI 2.2.0**

[code]

Not sure its related, maybe it should be his own ticket.

[2015-05-11 16:28] spuder commented on #2992
18 days without a crash on RC3. Thanks for the fix.

[2015-05-11 16:28] #2992 closed

[2015-05-11 16:45] purbon commented on #3204
This is actually a good idea, we might encounter two different LOAD_PATH when doing the rake task.

[2015-05-11 17:18] ph commented on #3204
@purbon can you paste the content of your $LOAD_PATH here when you encounter the `Gemfile.lock` issue.

[2015-05-11 18:30] jordansissel commented on #3127
@suyograo Yep! I"ll file a bug about it.

[2015-05-11 18:30] jordansissel commented on #3127
Do we know if this only affects Ubuntu? or Red Hat systems also?

[2015-05-11 18:31] suyograo opened #3216 "Add libc6-dev dependency for packages"
@jsvd found that adding libc6-dev dependency fixed the file-input/file-watch issue https://github.com/elastic/logstash/issues/3127 for Oracle JDK. We should add this a dependency for our deb/rpm packages as a workaround until it is fixed upstream https://github.com/jruby/jruby/issues/2913

[2015-05-11 19:06] celesteking opened #3218 "@metadata not shown in rubydebug"
Take following output code:
[code]
Even though `metadata` is `true` , metadata contents is not shown in test.log file.

logstash-1.5.0.rc4-1.noarch

[2015-05-11 19:07] celesteking commented on #3195
Still present in logstash-1.5.0.rc4-1.noarch

[2015-05-11 19:08] ph commented on #3195
@celesteking this fix will be part of GA.

[2015-05-11 19:20] albarki commented on #2241
i have the same error, i have two instance of logstash one used as indexer and read from redis server and other is shipper and forward to redis
the logstash indexer which reads from the redis always has this error in the logs after some time

[2015-05-11 19:36] rectalogic commented on #2485
Maybe support an `ssl_password_file` option, which could reference a named pipe/fifo. This is what [nginx does](http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_password_file):

[code]

[2015-05-11 19:43] jsvd commented on #3127
@jordansissel it affects only ubuntu if using Oracle jdk (not openjdk).

[2015-05-11 20:03] wiibaa commented on #3218
The root cause is that **file output does not support codec** as reported in https://github.com/logstash-plugins/logstash-output-file/issues/7 and proposed fix in https://github.com/logstash-plugins/logstash-output-file/pull/9

so it is simply outputting json as default.

[2015-05-11 20:12] #3182 closed

[2015-05-11 20:21] colinsurprenant commented on #3207
fixed by #3215  - thanks @timbunce

[2015-05-11 20:21] #3207 closed

[2015-05-11 20:38] fbaligand commented on #3213
It works fine using this trick. Thanks.
Why does a simple `bundle exec rspec` works fine on linux but not on windows ?
Is it linked to logstash or to rspec itself ?

[2015-05-11 20:39] purbon commented on #3213
@fbaligand I have no idea, I'm actually not a windows guru.

@jsvd @ph  do you guys have a clue why this could not work on windows?

[2015-05-11 20:39] purbon commented on #3213
@fbaligand is not a trick, with this command you're actually telling rspec direct the file to run.

[2015-05-11 20:44] fbaligand commented on #3213
Indeed. So thanks for this information ;)

[2015-05-11 21:25] pcrook commented on #3209
@btobolaski - My foreground invocation took 6 seconds to exit due to the error, so I see what you mean.  With the default respawn limit parameters "10 5", Upstart will retry a half second after the failure and find Logstash still running.  If this makes Upstart think that Logstash is therefore "healthy" and it resets the "count" parameter, this is indistinguishable from setting the respawn limit t

[2015-05-11 22:12] fbaligand opened #3221 "plugin installation : why local .gem installation differs from "rubygems.org" installation"
If I install a plugin directly from rubygems.org, the plugin is installed like logstash provided plugins in `$logstash/vendor/bundle/jruby/1.9/gems`. (for example : `bin/plugin install logstash-filter-environment`)
But if I manually download the gem on rubygems.org, and then install it using "local install" (`bin/plugin install /path/to/logstash-filter-environment.gem`), the plugin is installed in

[2015-05-11 22:39] jordansissel commented on #2962
Closing this in favor of tracking it in #3127

[2015-05-11 22:39] #2962 closed

[2015-05-11 22:39] jordansissel commented on #3033
Closing this in favor of tracking it in #3127

[2015-05-11 22:39] #3033 closed

[2015-05-11 22:46] jordansissel commented on #3127
The `libc6-dev` package  requirement had me do some investigation:

Ultimately, this is the fix:  `ln -s /lib/x86_64-linux-gnu/libcrypt.so.1 /usr/lib/x86_64-linux-gnu/libcrypt.so`

----

How did I find this? Here's how -

* Run the reproduction case without the fix:

[code]

* Now install libc6-dev package
* Rerun:

[code]

Now we have two files `jruby.failing` and `jruby.working` which _only_ con

[2015-05-11 23:16] suyograo commented on #3182
Confirmed works with latest master and 1.5 release

[2015-05-11 23:16] jordansissel commented on #3216
I don't think we want this given the digging from #3217.

[2015-05-11 23:17] #3216 closed

[2015-05-11 23:28] jordansissel commented on #3127
Using CentOS 7, Oracle JDK 1.8.0_45, JRuby 9.0.0.0.pre2, I cannot reproduce. `File.blockdev?("/")` is OK on this environment.

[2015-05-12 02:39] nitinBloomz opened #3223 "Grok conversion not working in Logstash 1.5.0 rc4"
Looks like when I do %{NUMBER:latency:int} or %{NUMBER:latency:float} in the grok match, latency is still being stored as string.

[2015-05-12 06:38] purbon opened #3224 "Installing plugins in linux (from source code is broken)"
As discovered from http://build-eu-00.elastic.co/view/LS%201.5/job/Logstash%20Regression%201.5%20(Release)/3/jdk=JDK7,label=metal-pool/console

[code]

it actually complains about not properly finding the logstash.lib.sh file in https://github.com/elastic/logstash/blob/master/bin/plugin#L1-L11

This does not happen with mac. Before assessing the severity we should also check packaging is healthy.

[2015-05-12 10:12] 6sco opened #3225 "Kibana 3 deactivate Query problem"
Hi,

I have a problem with queries in Kibana 3.0.1 - 42ad326.

I have a dashbord with 4 queries:

priority=INFO
priority=WARN
priority=ERROR
priority=DEBUG

I can see my graph (Events over time) and logs (All events) with these queries.
When i deactivate INFO or DEBUG or ERROR queries, my graph and logs are normaly actualized.
When i deactivate WARN, my graph is normaly actualized but logs with pr

[2015-05-12 13:02] lmorfitt opened #3226 "logstash 1.4.2 - Redis input timeout / missing data"
Hello,

I'm experiencing some issues with Logstash 1.4.2 and the redis input loosing data.  I'm wondering if anyone else has seen this issue.

If redis has no data added to the queue at least once an hour I see a "Redis Timeout, restating plugin" error. The data is then all pulled from the list in one go and out of 10 messages, only 2 will arrive in elasticsearch.

To try and track down if there w

[2015-05-12 13:34] jsvd commented on #3186
@djob there seems to be a thread on that issue in kibana https://github.com/elastic/kibana/issues/1950
can you see if the suggestions help you?

[2015-05-12 14:05] dougmcclure opened #3227 "custom plugins not recognized in RC4"
I normally drop my custom plugins into lib/logstash/output/ and they are recognized as expected in RC2 and RC3. In RC4 upon startup logstash compliains that it can't find the plugin. This was an RC4 RPM install on top of RC2.

Any changes in RC4 that would cause this?

[2015-05-12 14:07] dougmcclure commented on #3201
I see something that sounds similar but with an RC4 RPM install on top of RC2 install.  My custom plugins are placed in lib/logstash/output normally and worked fine in RC2 and RC3.  They are not found by RC4.

[2015-05-12 14:08] untergeek commented on #3227
This is because we've made everything in Logstash 1.5 be ruby-gem based, including Logstash core.  See the "How to create a Logstash [input|output|filter|codec] plugin" links at http://www.elastic.co/guide/en/logstash/current/index.html for instructions on how to make your plugin into a ruby gem.

[2015-05-12 14:11] dougmcclure commented on #3227
Why would it work in RC2 and RC3?  It doesn't make sense to all of a sudden
break/make change in RC4.

Jordan?

On Tue, May 12, 2015 at 10:08 AM, Aaron Mildenstein <
notifications@github.com> wrote:

[2015-05-12 14:13] untergeek commented on #3227
Because in RC5 we switched to having a logstash-core gem, different from previous releases.

[2015-05-12 14:54] viruscmd opened #3228 "Docs Error>The Life Of An Event>Consequences and Expectations"
Hello all,

I could be wrong but I am assuming that this line is suppose to have only one grow.
"Unlimited queues grow grow unbounded "

Regards,
Austin

[2015-05-12 15:18] zhenghu opened #3229 "rspec do not exist for logstash-1.5.0.rc4"
how to run tests with rspec in logstash-1.5.0.rc4 ?

[2015-05-12 15:19] dougmcclure commented on #3227
Here's what I get with debug enabled:

plugin not defined in namespace, checking for plugin file {:type=>"output",
:name=>"scala", :path=>"logstash/outputs/scala", :level=>:debug,
:file=>"logstash/plugin.rb", :line=>"133", :method=>"lookup"}
The error reported is:
  Couldn't find any output plugin named 'scala'. Are you sure this is
correct? Trying to load the scala output plugin resulted in this

[2015-05-12 15:21] suyograo commented on #3223
@nitinBloomz can we get a example log line with your pattern to reproduce this?

[2015-05-12 15:23] colinsurprenant commented on #3229
Normally just `bin/rspec` should do.

Just tried and I confirm there's a problem with `rake`
[code]

Will review this before GA. Thanks for reporting this.

[2015-05-12 15:28] colinsurprenant commented on #3229
@zhenghu in the meantime, you can run tests/specs from a cloned repo:
[code]

[2015-05-12 15:29] suyograo commented on #3229
@zhenghu any particular reason you want to run tests from a release package?

[2015-05-12 15:35] colinsurprenant commented on #2776
we currently cannot run test/specs in 1.5.rcX as the development dependencies are not included in the package, see #3229.

Personally I am not convinced we should include tests and dev dependencies in a release package. Has it been really useful in supporting users?

[2015-05-12 15:45] colinsurprenant commented on #3227
@wiibaa I am not sure why it works for you... but @dougmcclure behaviour is expected since when searching for `logstash/outputs/...` the load path will point the the `lib/` directory in logstash-core which is now a gem and does not live in the logstash root dir but likely in `vendor/bundle/...`.

I am guessing @wiibaa you are using a cloned repo and @dougmcclure you are using a package?

[2015-05-12 15:45] zhenghu commented on #3229
Thanks for all responses.
In fact, I have a TU which run my tests with `logstash (logstash.bat) rspec test.rb`.
With logstash-1.4.2, it works well. It works for both linux and windows.

But today when I try with logstash-1.5.0.rc4, it doesn't work any more.
And in windows, there is no .bat to run test.

I was wondering that the `logstash.bat rspec` will not be support in release version of logstas

[2015-05-12 15:47] colinsurprenant commented on #3227
@dougmcclure but, to answer your question, yes, this changed between rc3 and rc4. In rc4 we completed the gemification of `logstash-core`.

[2015-05-12 15:50] dougmcclure commented on #3227
So no backwards compat is possible for local, non-gem based plugins from
now on?  Is there even a local install process where connectivity to
external git or gem repositories wouldn't be required?

On Tue, May 12, 2015 at 11:48 AM, Colin Surprenant <notifications@github.com

[2015-05-12 15:51] colinsurprenant commented on #3229
@zhenghu a *TU* ?

we decided to remove `bin/logstash rspec` in 1.5 and you are right, we are missing a Windows version of `bin/rspec`.

Could you explain the context of running that `test.rb` from a release package? I'd like to understand how/why this is required for you and maybe offer alternative?

[2015-05-12 15:53] untergeek commented on #3227
@dougmcclure the plugin creation docs [here](http://www.elastic.co/guide/en/logstash/current/index.html) document how to create a gem file, which can then be installed via:
[code]
So, yes! You'll be able to install plugins without connectivity, or even a local gem repository.

[2015-05-12 15:59] colinsurprenant commented on #3227
@dougmcclure that's a good point: here's what's possible now-now for you, then we can definitely think about how to (better) support that use-case:

- you could install your output plugin into the logstash-core gem which should be in `vendor/bundle/jruby/1.9/gems/logstash-core-1.5.0.snapshot1-java/lib/logstash/output` - let me know if that works for you.

- you could very easily gemify your gem, i

[2015-05-12 16:03] colinsurprenant commented on #3227
euh, yeah, «gemify you gem» :P meant gemify your plugin...

[2015-05-12 16:06] zhenghu commented on #3229
@colinsurprenant

Sorry for TU, it should be UT (Unit Test).

I run the test from a release package for testing the filters in a logstash conf file.

I need run it in windows because we edit the conf file in windows, and we lanuch all unit test with maven(so far, we start logstash.bat rspec in a java process, and the unit test check the rspec report file to verify if there is an issue for the logs

[2015-05-12 16:14] untergeek commented on #3228
@viruscmd thanks for catching the error.  If you're willing, could you submit a PR with that doc change?

[2015-05-12 16:16] colinsurprenant commented on #2776
note that if we include the `spec` dir in logstash-core, in a release package we can just do `bin/plugin install --development` and all dev dependencies will be installed.

maybe the specs could be added as a logstash-core-specs gem as a development dependency? or we just include the `spec/` dir in logstash-core.

[2015-05-12 16:22] purbon commented on #2776
I see a point of not having the test included in the packages, actually I don't see many people running core test anyway. But then I don't see the benefit of maintaining a logstash-core-spec gem.

[2015-05-12 16:23] colinsurprenant commented on #3229
@zhenghu I see. So, as of rc4, you don't have much options from Windows because we don't have a `bin/rspec.bat`.

In linux you could do:
[code]
can you try it in Linux? Then we can see about adding a `bin/rspec.bat`

[2015-05-12 16:32] nitinBloomz commented on #3223
Sample (simplified) log line:
127.0.0.1 27.20ms
grok pattern:
%{IP:client} %{NUMBER:latency:int}
In this latency is not getting converted to an int.

[2015-05-12 16:35] colinsurprenant commented on #3229
@zhenghu can you try adding this `bin/rspec.bat` in your setup and testing it?
[code]

so you'd need to do once in your package:
[code]
and to run your tests (using the `bin/rspec.bat` I copied ^^)
[code]

Let me know if that works for you?

[2015-05-12 16:48] jsvd commented on #3223
@nitinBloomz I've just tested:

[code]
So it seems to work.

Which operating system are you using?

[2015-05-12 17:08] nitinBloomz commented on #3223
I am on Ubuntu:
Ubuntu 14.04.2 LTS
Little more context: When viewing it in Kibana I see that latency is getting shown with a 't' (text) in front of it (instead of '#'), when I look at the details of the parsed message. It gets confirmed, when I go and try to create a report for average latency...where latency doesn't get listed, as only numbers are shown in the drop-down there.

[2015-05-12 17:15] jsvd commented on #3223
That would mean that the index was created such that the field "latency" was of type string. Is it possible that in the first insertions your logstash config didn't have the conversion to float yet?

[2015-05-12 17:25] jordansissel commented on #2776
My original intent of including tests with logstash was for two reasons:
1) Folks with bugs could run the main logstash test suite and hopefully more easily find a failing case.
2) Folks could write tests to validate the behavior of their own logstash configurations (filters, etc)

I can't recall any instances where the first reason was validated. I think I can forget about the first one.

For the

[2015-05-12 17:26] nitinBloomz commented on #3223
You are right! That is the issue...I just tried changing the name from latency to time_ms and it is getting parsed as int. Thanks for pointing it out. I now need to figure out if there is an easy way to back-fix the data.

[2015-05-12 17:28] jsvd commented on #3223
you have to reindex that data, you can do a small app that will use the scroll api to read and reindex into another index.
oh and please close the issue if you consider it solved :)

[2015-05-12 17:32] nitinBloomz commented on #3223
Thanks again!

[2015-05-12 17:32] #3223 closed

[2015-05-12 17:50] colinsurprenant commented on #2776
@jordansissel live example in #3229

[2015-05-12 17:55] sitkawoof opened #3230 "%{DATA} bug?"
I am parsing a fairly complicated log file.  I have a parse pattern that works perfectly in grokdebug on sample log records from the file.  When I try to parse these same records in logstash I get a grokfailure.  The fail appears to occur when I use %{DATA} to match a bunch of XML I don't want to be in the JSON doc that goes to elasticsearch.

I am running on Logstash 1.5.0-rc3.  Filter and sample

[2015-05-12 18:20] colinsurprenant commented on #3229
@zhenghu I just tested that in a Windows 8.1 VM and it works.

[2015-05-12 18:22] suyograo commented on #3230
@sitkawoof can you please take this to https://discuss.elastic.co/c/logstash? GitHub is used mainly for issues.

[2015-05-12 18:22] #3230 closed

[2015-05-12 18:32] jordansissel commented on #2776
@colinsurprenant +1 on this example. We can update the docs to reflect this and I think things will be OK.

[2015-05-12 18:32] colinsurprenant opened #3232 "improve missing development dependencies exception upon running bin/rspec"
As reported in #3229 when running `bin/rspec` from a release package the first exception raised because the development dependencies are not installed is:

[code]

which is not very user-friendly. we should catch this and propose to the user he might need to do:

[code]

Once the development dependencies are installed, running `bin/rspec` produces this exception because there is no `spec/` dir, as

[2015-05-12 18:44] colinsurprenant commented on #3227
@dougmcclure a bit anxious in knowing if we could help you fix your local setup with rc4 and if our proposed local gem-based solutions would be viable alternatives for you?

[2015-05-12 19:04] dougmcclure commented on #3227
Yes, I was able to drop my custom output plugin into here:

/opt/logstash/vendor/bundle/jruby/1.9/gems/logstash-core-1.5.0.rc4-java/lib/logstash/outputs

and things worked as they did in RC2/RC3.

We'll certainly be moving to the gem based stuff, I just wasn't prepared
for doing that work yet when I decided to test out RC4!

Thanks for the pointers!

Doug

On Tue, May 12, 2015 at 2:45 PM, Colin Su

[2015-05-12 19:08] colinsurprenant commented on #3227
@dougmcclure ah! perfect. sorry for pulling the rug out from under on that one :P

We'll revisit this to see if we want to add back easier ad-hoc plugin support. Good catch, thanks for reporting it!

[2015-05-12 19:14] wiibaa commented on #3227
@colinsurprenant I'm using the rc4 zip package not my github clone but I'm on windows.
The only difference I see is `set RUBYLIB=%LS_HOME%\lib` in setup.bat. could it explain it, can it be applied to linux too ?

[2015-05-12 19:16] sitkawoof commented on #3230
Sorry, I was directed here.

On Tue, May 12, 2015 at 11:22 AM, Suyog Rao <notifications@github.com>
wrote:

[2015-05-12 19:55] widhalmt commented on #1883
What about a blacklist of fields that can never be overwritten? Maybe even with some predefined excludes like "type"?

[2015-05-12 21:26] suyograo commented on #3225
Hey a better place to ask this question would be at https://discuss.elastic.co/c/kibana

[2015-05-12 21:26] #3225 closed

[2015-05-12 21:27] #3212 closed

[2015-05-12 21:29] suyograo commented on #3197
@weaseal can you try this with 1.5.0 RC4? thanks

[2015-05-12 23:07] colinsurprenant commented on #3227
@wiibaa oh! yeah, right. I guess that's another option, `RUBYLIB` could be set in the env to where ever you want to add ad-hoc plugins. I think we should remove that from the Windows `.bat` scripts since it's now "useless" and make it consistent with Linux and it will free `RUBYLIB` to be set in the env.  I think that would be an acceptable alternative that we could document.

[2015-05-12 23:55] technosf opened #3233 "Question: Steps to run Logstash with native Ruby and not JRuby"
Hi,

I'm hoping to use logstash on a small server limited to embedded Java and 512M of RAM... And I can! It's just very slow start-up and sucks up a lot of resource that I need elsewhere.

I would like to use native Linux Ruby instead of JRuby to, hopefully,  free up resources... So, I am setting USE_RUBY=1... but *runner.rb* dies at line 46:
      `kernel_require.rb:56:in 'require': cannot load s

[2015-05-13 02:33] jannae opened #3235 "Exception in filterworker / NoMethodError: undefined method `to_hash (geoip)"
I'm at a bit of a loss, so any help is appreciated. I'm getting a few errors that seem to have brought my ELK instance to it's knees. It stops dead on these, each time I attempt to restart or update the config in any way. Not sure what to make of it, as all my research has led me to previously corrected issues.

It seems related to this:

<https://logstash.jira.com/browse/LOGSTASH-1394>

Though th

[2015-05-13 03:27] colinsurprenant commented on #3233
@technosf `USE_RUBY=1` will in fact use you current ruby interpreter but note that we currently do not support non-JRuby interpreters. `USE_RUBY=1` is more intended for development mode when you want to test with a different local JRuby version for example.

If you have limited resources, you can tweak the maximum logstash heap size which is 500M by default, you could set it to 256M with `LS_HEAP_

[2015-05-13 05:05] garthk opened #3237 "Failed expansion results in the expression; kills other expansions"
**Expected:**

* `"%{variable}"` should expand to `""` if `variable` is absent
* `"%{variable}"` failing should *not* affect expansion of `%{other}`

**Observed:**

With logstash 1.4.0 on the `opentsdb` output, we see:

* `"%{variable}"` expands to `"%{variable}"` if `variable` is absent (see also: #2530)
* `"%{variable}"` failing causes all other expansions in the output block to fail

I wouldn't

[2015-05-13 06:28] mattstibbs commented on #3127
@jsvd Sorry for the delay - am on hols in Singapore!

Have just tested after installing libc6-dev and it works fine - as you probably expected!

[2015-05-13 08:49] lmorfitt commented on #3226
Hello,

The architecture is as follows

Logstash and redis installed on a remote box, at the other end of a VPN. Central logstash instance pulling data from the redis instance.

The below error is caused by our Firewall. What is happening is the firewall is seeing a idle TCP connection and killing it, thus causing Logstash to restart the redis input.

{:timestamp=>"2015-05-11T07:55:58.829000+0000"

[2015-05-13 10:27] nellicus opened #3238 "String Interpolation in the configuration parser is broken for newline characters alike (WAS mutate->gsub doesn't work on json extracted field with backslash)"
OK
gsub replacing "\n" works on plain message field

[code]

PROBLEM
gsub replacing "\n" doesn't work on json field

[code]

note this seems something specific with replacing slashes in json - replacement in json field with no \ works
[code]

[2015-05-13 10:37] nellicus opened #3239 "gsub doesn't like regex expressing single backslash"
I want to replace a single backslash and using valid regex "\\\\" to do so.

gsub doesn't like this
[code]

seems like I need to work this bug around with
[code]

[2015-05-13 10:57] stachdude commented on #2798
Well, I'm having similar issue: logstash 1.5 rc4, we are already using buffer / broker, however we chose rabbitmq, in any case my setup consists of 12 node es cluster, 6 node rabbitmq (all ram) cluster, and 8 logstash-es 1.5 rc4 setup as consumers with 16 threads and 2048 prefetch. Traffic is balanced through LB (10GB links).

From time to time we are receiving this warning in logs, which was not

[2015-05-13 13:27] ph commented on #3238
Same behavior in 1.4.2, so it's not related to the *jrjackson*
[code]

[2015-05-13 13:28] purbon commented on #3238
@ph event accessors ?

[2015-05-13 13:31] ph commented on #3239
also present in 1.4.2
[code]

[2015-05-13 15:28] yeroc commented on #1754
Any update on this? It seems like the only workaround is to keep separate lumberjack inputs on different ports but this isn't scalable!  Is there another workaround or imminent fix?

[2015-05-13 16:30] seang-es commented on #2101
We've seen this issue at a customer site as well.  Can we update the default filter to handle this?

[2015-05-13 16:41] colinsurprenant commented on #1769
just a quick update to say I found a way to extract an `InterruptibleChannel` from `System.in` - I'll be making a test integration in the stdin input plugin which should allow a simple ^C to correctly shutdown logstash when using stdin input.

I looks like this solution only works on Java 8 though.

[2015-05-13 16:47] jordansissel commented on #1769
@colinsurprenant I'm OK with this - Java 7 is EOL anyway, so I think it's reasonable to expect that Java 8 should become more common very soon.

[2015-05-13 16:47] jordansissel commented on #1769
<3 you so much for finding this solution

[2015-05-13 17:30] jordansissel opened #3240 "[site] Set up redirects for logstash.net to elastic.co for Logstash 1.5.0 release"
The new docs infrastructure for Logstash 1.5 and beyond is hosted on elastic.co. We'll want to update logstash.net to ferry users to the correct locations.

The complexity of logstash.net's hosting caused us to delay (possibly forever) migration of the old Logstash documentation to elastic.co. This means Logstash 1.4.2 and older documentation has not been migrated and still exists on logstash.net.

[2015-05-13 19:28] KyleCartmell commented on #3127
Encountered this exact error after stepping up from 1.4.2 to 1.5.0 RC4 under Solaris 10.5. Problem was an old JRE; upgraded from Oracle Java 6 to 8 and logs are once again being stashed.

[2015-05-13 20:58] suyograo commented on #3240
:+1: /cc @tbragin

[2015-05-13 21:59] sejiek commented on #3240
@sylvie please advise what additional info you need if any to get this set up if you can please?

[2015-05-13 22:18] dsolsona commented on #1754
The only workaround I found was replacing logstash-forwarder with log-courier which has multiline support on the client side.

[2015-05-13 22:26] sylvie777 commented on #3240
@jordansissel Hi Jordan! Do you need help updating the logstash.net site? If yes, I will need access to the logstash.net site.

[2015-05-13 22:29] jordansissel commented on #3240
I'll take care of logstash.net for now, it's a bit of a mess how things are generated on it and managed :)

[2015-05-13 22:30] austinhquinn commented on #2672
I did not.

[2015-05-13 22:56] SkaveRat commented on #2842
this is getting a problem for me.

I want to remove/purge the package from my system, but there are 2 logstash process who will automaticly respawn if killed, even with the service stopped

[2015-05-13 23:08] jordansissel commented on #3237
Just a note, and not a disagreement here:

This the intended behavior when I implemented this years ago. I will agree that the behavior is probably not ideal for some cases (like yours!).

I'm very much in favor of making the behavior better, but I'm not sure if evaluating to an empty value is ideal. It feels like there's no good solution right now.

Reflecting on the past choices, I think the cur

[2015-05-13 23:10] jordansissel commented on #3235
I've moved this here: https://github.com/logstash-plugins/logstash-filter-geoip/issues/21

[2015-05-13 23:10] #3235 closed

[2015-05-13 23:35] yeroc commented on #1754
Thanks @dsolsona, log-courier does appear to be more actively maintained.  Will take a look once logstash 1.5 is released which promises to make plugin installation easier.

[2015-05-13 23:48] jordansissel commented on #2267
Agreed; First, the docs would benefit from improvement.
Second, I think the plugin should probably not have this `options` setting and instead expose specific settings for each thing currently available via this confusing `options` setting.

[2015-05-13 23:56] jordansissel opened #3242 "Split `options` setting into individual settings"
The `options` hash is hard to document and can confuse users. Further, it exposes some internals that may not be easy to understand.

The [code](https://github.com/logstash-plugins/logstash-output-email/blob/master/lib/logstash/outputs/email.rb#L115-L122) references certain options specifically, so we should just expose this stuff directly in the plugin with individual settings

Related: https://g

[2015-05-13 23:56] jordansissel commented on #2267
Filed https://github.com/elastic/logstash/issues/3242 to track splitting up the `options` setting

[2015-05-14 00:14] jordansissel commented on #2586
This is the default behavior of Elasticsearch's text tokenization and analysis process. Elasticsearch will by default treat strings like written language and split things into terms, so `foo-bar` becomes two terms `foo` and `bar`. Further, in your screenshot, you'll also notice that `CAPITALIZED WORDS` become lowercased. This is also part of Elasticsearch's tokenization and analysis features.

We

[2015-05-14 00:16] jordansissel commented on #2586
Given Logstash provides the .raw field, I think this isn't a bug (many users want both normal/tokenized and unprocessed/raw searching and terms listings). I'll close this, but if you have any other questions like this, I welcome you to visit our new discussion forum here: http://discuss.elastic.co/

(Obviously, if you find bugs, this is a good place to file them)

[2015-05-14 00:16] #2586 closed

[2015-05-14 00:21] babadofar commented on #2890
This has to do with using wildcards on the file input path in windows using Logstash 1.4.2.
Upgrading to Logstash 1.5.0 RC4 fixes the issue.

[2015-05-14 00:24] jordansissel commented on #2368
At a quick glance, I'm not sure exactly why you're seeing this behavior. The patterns seem to be the same, but clearly something is funky.

[2015-05-14 00:34] jordansissel commented on #3242
Doh, filed the wrong place.

[2015-05-14 00:34] #3242 closed

[2015-05-14 00:45] jordansissel commented on #2448
The [twitter input](https://github.com/logstash-plugins/logstash-input-twitter) now has a `full_tweet` setting that gets you the entire tweet object including location information if that is available.

In my experience, less than 0.1% of tweets (as observed via the filtered sampling stream) contain location details.

[2015-05-14 00:45] #2448 closed

[2015-05-14 00:46] jordansissel commented on #3201
@Mister-X- Is this with 1.5.0 RCs? I wonder why they are being removed. I will try to reproduce.

[2015-05-14 00:59] colinsurprenant commented on #3201
For the record, @dougmcclure issue is described in #3227

Also @Mister-X- when you say «any plugin installed» you mean published plugins not included in the package you had to manually install with `bin/plugin install xxx`?

If so, @jordansissel - could it be simply that a new deb package will overwrite `Gemfile` and the `.lock` file (and `bundle/vendor`) effectively removing any added plugins?

[2015-05-14 01:03] jordansissel commented on #3201
@colinsurprenant ooh yes, those files being overwritten could cause this. hmm. tricky. We could mark them as config files, but I'm not sure what other effects that would have.

Files not present in the deb package won't be changes by an upgrade, but files present (even if modified) will be overwritten unless we mark them as config files in the package. Tricky!

[2015-05-14 01:07] jordansissel commented on #3210
I'll get you some feedback on this soon.

[2015-05-14 01:17] jordansissel commented on #3187
Hmm, I don't know where they should go, actually. That's a good question.

[2015-05-14 02:37] Mister-X- commented on #3201
@jordansissel, it happened when updating between RC2 and RC3 or between RC3 and RC4, I don't remember exactly. It happened with the plugin translate.

@colinsurprenant, yes.

[2015-05-14 08:43] nellicus opened #3243 "allow outputting resulting config file when merging multiple ones"
[code]

[2015-05-14 09:08] jsvd commented on #3243
We already have the -t flag to check the validity of the config file, I think it would be interesting to implement your suggestion as a verbose flag for -t, such as:

[code]

[2015-05-14 09:40] magnusbaeck commented on #2842
It sounds like you have an Upstart-based system (e.g. Ubuntu) and you're attempting to shut down Logstash without going through Upstart (i.e. you're not running `service logstash stop` or `stop logstash`).

[2015-05-14 10:04] nellicus commented on #3243
ideally show which file is contributing to each part of the merged config

[2015-05-14 13:00] colinsurprenant commented on #3229
@zhenghu let me know if this solves your issue and if we can close this

[2015-05-14 13:49] ph commented on #1754
@yeroc the current version of the lumberjack input create a codec instance per connection, so he will be able to merge events from a same source.

[2015-05-14 14:52] ph opened #3244 "Downgrading a logstash plugin with other dependencies doesn't work on 1.5.0"
From a **fresh** package, If you try to downgrade a plugin to a specific version bundle will complain the version is locked.

[code]

[2015-05-14 14:55] WoLpH opened #3245 "Grok regex matches anything in some cases (trying to match \d+)"
Not sure how/why this is going wrong, but it appears that the grok pattern matcher doesn't work correctly in all cases, somehow I have this pattern: `(?<pid>\d+)` matching `2015-03-31 11:38:03 +0000`.

Pattern: `%{PYTHON}`
Input: `[2015-03-31 11:38:03 +0000] [22008] [INFO] Booting worker with pid: 22008`

My list of applied patterns:
[code]

Results from the Grok debugger (logstash has similar res

[2015-05-14 15:06] ph commented on #3244
If the plugin doesn't have any dependencies like the `logstash-input-stdin` it will work.

[code]

[2015-05-14 15:12] ph commented on #3244
duplicate of https://github.com/elastic/logstash/issues/3152

[2015-05-14 15:12] #3244 closed

[2015-05-14 15:25] viruscmd commented on #3228
I would love to what is a PR?

[2015-05-14 15:54] josegonzalez commented on #1769
Yay java 8!

[2015-05-14 17:06] technosf commented on #3233
The memory is pegged down, as you suggest @colinsurprenant, but it's the CPU utilization that is my focus. Being able to try native Ruby would have been informative.

[2015-05-14 17:14] jordansissel commented on #3233
MRI is, for general performance, slower than JRuby in most thing I use. MRI's startup time is faster, but once JRuby gets going (15-30 seconds warmup), it's often 1.5 to 2x faster, if not more. I won't discourage

[2015-05-14 17:15] jordansissel commented on #3233
Oops, Didn't mean to close :)

[2015-05-14 17:17] jordansissel commented on #3240
@russorat Helped clue me into the right redirect codes to use to keep search-engines happy. <3

[2015-05-14 17:29] russorat commented on #3240
@arianesunder as an FYI. Any other SEO issues you see here?

[2015-05-14 17:39] arianesunder commented on #3240
@russorat Maybe we should include a mention of the old documentation (e.g. version numbers of Logstash) in the SEO page titles and descriptions of the pages we are directing to on Elastic? That would ensure that when users google say "Logstash 1.4.2 documentation" they'd end up at Elastic's site and not at Logstash.net.
I think Haley handles this...?
CC: @hstephenson

[2015-05-14 17:50] yeroc commented on #1754
@ph My experience with the current production version is that it doesn't even handle that case.  With the multiline codec I'm seeing events merged from two different source machines (same port but different connections).

[2015-05-14 17:55] ph commented on #1754
@yeroc np you were right concerning 1.4.2 :)

[2015-05-14 19:02] hstephenson commented on #3240
@arianesunder @russorat I'm afraid I'm a bit out of my depth on what SEO work has been done in the realm of documentation. My knowledge extends to the list in the SEO Google Sheet:
https://docs.google.com/spreadsheets/d/1660Nfv8vB7qnA1CO6JI7lHH_ncn46TM_KAzfzd9ozdk/edit#gid=0

That said, I'm happy to help however I can. Just need to know what URLs I'm dealing with. Russ knows I'm a newbie in this d

[2015-05-14 19:11] russorat commented on #3240
@arianesunder my understanding is only >=1.5 will be directing to elastic.co. The old docs will stay on logstash.net. If someone searches for logstash 1.4.2, they will end up on logstash.net. If someone searches for logstash documentation, they should end up on elastic.co/guide/logstash/current/whatever.

I actually don't know where google is getting the page titles for logstash.net since all of t

[2015-05-14 19:38] arianesunder commented on #3240
@russorat My bad, I misunderstood.
So, let me back up a step then so I get this straight. :) One example:
- The docs link in the top navigation is this http://logstash.net/docs/1.4.2/ and will be directed to http://www.elastic.co/guide/en/logstash/current/index.html.
The page title of this page on Logstash is <title>logstash - open source log management</title>. The title of the new page on Elasti

[2015-05-14 20:12] russorat commented on #3240
@arianesunder agreed on both points. 1) the url will contain "current" in place of the version number so we are always linking to the most recent version. 2) Yes, "Reference" is a terrible page name. It should be updated as soon as possible.

[2015-05-14 21:26] JefStat opened #3246 "Switching from 1.4.2 to 1.5.0 file input explodes for file path with a space in folder name"
Logstash config
[code]
With logstash 1.5.0 logstash quits with an error
`cannot find D:/Folder/Folder`

Tried using globing got the same failure
[code]

[2015-05-14 22:33] garthk commented on #3237
Oh, yeah, neither is ideal. Only one is shocking, though. If we're not going to drop the record, we need to substitute a default. I'd expect a space, as 'undefined' could be a real identifier. If the substitution is the whole expression, we could perhaps drop the key.

A warning in the logstash log would also have helped nail this down without dropping to `strace`.

[2015-05-14 23:29] allenmchan opened #3247 "Java exception when trying to run plugin commands"
Version: logstash 1.5 GA
Issue: When trying to do plugin list, i get Java exception.

    [achan@lsc011.scl bin]$ pwd
    /opt/logstash/bin
    [achan@lsc011.scl bin]$ ./plugin list
    Error: Exception thrown by the agent : java.rmi.server.ExportException: Port already in use: 9994;    nested exception is:
	java.net.BindException: Address already in use
    [achan@lsc011.scl bin]$ sudo /etc/init.

[2015-05-14 23:49] antgel commented on #2152
Any clues as to a workaround for this, or how to debug it further?  It's causing us problems in production.

[2015-05-15 05:52] suyograo commented on #3247
@allenmchan can you remove those settings and check if it works? We can then isolate it to those java options

[2015-05-15 05:53] suyograo commented on #3247
I am suspecting it is trying to initiate JMX twice

[2015-05-15 05:58] allenmchan commented on #3247
i commented out those JMX monitoring lines from logstash.lib.sh and the plugin command works

    [achan@lsc011.scl bin]$ ./plugin list
    logstash-codec-collectd
    logstash-codec-dots
    logstash-codec-edn
    logstash-codec-edn_lines
    logstash-codec-es_bulk

[2015-05-15 07:21] purbon opened #3248 "Update documentation to new 1.5 release"
We should revisit the documentation to be sure it's all naming 1.5 as the current GA, for example https://www.elastic.co/guide/en/logstash/current/package-repositories.html is still referencing to 1.4.x repos.

[2015-05-15 07:57] ppf2 opened #3249 "Permission denied - /opt/logstash/.bundle"
Install the `logstash-1.5.0-1.noarch.rpm` package using a user that is not the `logstash` user.  Then try to run `./logstash version` , you will get:

[code]

If it is run using `sudo -u logstash ./logstash version`, it works.  Not sure if this is the right way to run it.  Documentation is light in this area.

[2015-05-15 08:40] purbon commented on #3249
I confirm this happen also for the deb package.  Some workarounds for now around this issue are:

* Start logstash by using the ```/etc/initd.d/logstash``` script
* Start logstash by using the command ```sudo -u logstash ```

[2015-05-15 09:43] jbq commented on #2676
Same happened to me, logstash should ship with an empty Upstart config file `/etc/init/logstash.conf` to prevent respawn and to make `service status` reliable

[2015-05-15 10:02] purbon commented on #2819
Test coverage was not going down, but as we introduced coverage test for all plugins test and all where reporting to the same place, this masquerade the final numbers.

Coverage reports should be added either to jenkins, but not use coveralls the same way as it's used with the master branch, otherwise numbers gets confused in there.

[2015-05-15 10:02] #2819 closed

[2015-05-15 10:09] zeqi opened #3250 "Couldn't find any input plugin named 'sqlite'. Are you sure this is correct? Trying to load the sqlite input plugin resulted in this error: no such file to load -- logstash/inputs/sqlite"
Couldn't find any input plugin named 'sqlite'. Are you sure this is correct? Trying to load the sqlite input plugin resulted in this error: no such file to load -- logstash/inputs/sqlite

input {
  sqlite {
    path => "/Users/zeqi/soft/db/example.db"
    type => "weblogs"
  }
}
output {
  # redis { host => "127.0.0.1" data_type => "list" key => "logstash-file-sqlite" }
  elasticsearch { host => l

[2015-05-15 10:11] jsvd commented on #3250
the sqlite plugin isn't [included by default](https://github.com/elastic/logstash/blob/master/rakelib/default_plugins.rb) in packages, you can install it by doing `bin/plugin install logstash-input-sqlite`

[2015-05-15 10:16] purbon commented on #3250
@zeqi doing ```bin/plugin list``` will list your installed plugins.

I will proceed to close this issue as you've all the info necessary to install the plugin, if you encounter issues when installing the plugin, let us know throw a new issue.

Thanks

[2015-05-15 10:25] zeqi commented on #3250
Thank you very much！

zeqi-mac:logstash-1.4.2 zeqi$ bin/plugin list
Can only install contrib at this time... Exiting.
zeqi-mac:logstash-1.4.2 zeqi$ bin/plugin install logstash-input-sqlite
Can only install contrib at this time... Exiting.
zeqi-mac:logstash-1.4.2 zeqi$

Why is there such a prompt？－－－》Can only install contrib at this time... Exiting.

[2015-05-15 10:27] purbon commented on #3250
Even @jsvd or me refer to using 1.5 GA, if possible we encourage you to use it :-) ... then the plugin manager works as we told you.

[2015-05-15 10:41] zeqi commented on #3250
oh I have a try.

[2015-05-15 10:43] purbon commented on #3250
let us know everything work, so we can close the issue.

[2015-05-15 12:12] bodgit commented on #3143
No, you need to do more than just change the YAML file. Despite being based on and very similar to Netflow v9, IPFIX has subtly different packet formats and is its own protocol. There's also no need to support either Netflow or IPFIX, the codec can support all three versions simultaneously.

See logstash-plugins/logstash-codec-netflow#10 for a PR containing basic IPFIX support. Tested to date with

[2015-05-15 12:13] bodgit commented on #2525
See logstash-plugins/logstash-codec-netflow#10

[2015-05-15 12:59] dschneller commented on #3003
Seeing defunct logstash instances as well, clients reporting connection timeouts like this:
[code]
When I restart the logstash server(s), a couple of events will be received, then the problem comes back.
Updated from 1.5.0-beta1 to 1.5.0rc4 today, no change. First I noticed an OutOfMemory error, so I increased the Heap vom 500MB to 1025MB. No effect. Shortly after restart the server enters the bro

[2015-05-15 13:05] ph commented on #3249
The only way to fix this reliably is to not create any `.bundle/config` when we start logstash if we want to allow people to run it with different users, this would make logstash stateless.

There is a PR to prevent bundler from creating the file here: https://github.com/elastic/logstash/pull/2701

[2015-05-15 13:26] ph commented on #3003
@dschneller This scenario appear when the back pressure is applied from the output to the input, It mean something is slowing down events consumption somewhere in your architecture. Could be a slow output or some network problems, if you look at your logstash log you should see something.

When this problem occur the queue will block, LSF connection will timeout and retry to reconnect.
The lumberj

[2015-05-15 14:23] purbon commented on #3224
As of the test done today:

1.- If running on a mac, everything :green_heart: .
2.- Running on an ubuntu machine, from a clean clone, :green_heart: .

but if executed within a jenkins job,

[code]

fails if using LOGSTASH_CORE, however if pointing to the same dir everything goes well.

[2015-05-15 14:25] ph commented on #2852
Linux is working fine with `test-kitchen` is just a matter of create the appropriate docker file.
There is some work done for windows, I will try to experiment with it.

[2015-05-15 14:25] purbon commented on #2852
:dancer:

[2015-05-15 14:26] ph commented on #2852
@talevy can you point me to the kafka scripts?

[2015-05-15 14:30] ph commented on #2852
- [ ] use the `rakelib/default_plugins.rb` for the number of plugins installed assertion.
- [ ] get a random plugin for the majority of tests

[2015-05-15 14:31] ph commented on #2852
Random plugins doesn't work well because of https://github.com/elastic/logstash/issues/3152

[2015-05-15 14:46] purbon commented on #3224
After some debugging, the problem is that if the name of the git clone have spaces using rake test:install-core or other variants is broken as of with this error:

[code]

[2015-05-15 15:09] suyograo commented on #3247
@allenmchan we actually introduced a new way to set extra java options using `LS_JAVA_OPTS` environment variable. Can you try adding JMX config using this method? Documented here: https://www.elastic.co/guide/en/logstash/current/getting-started-with-logstash.html#_environment_variables

Let me know how it goes

[2015-05-15 15:19] jsvd commented on #3246
Strange, just tested on Windows 2012 R2 in the command prompt, java 8 + logstash 1.5.0:

[code]

output:

[code]

[2015-05-15 16:00] wiibaa commented on #3246
@JefStat by chance, is logstash also under `Folder Awesome`, meaning that running logstash under a path with spaces is failing on windows ?

[2015-05-15 16:14] suyograo commented on #3145
Fixed with 1.5.0 GA. We had to use epoch to break the tie

[2015-05-15 16:14] #3145 closed

[2015-05-15 16:36] #1882 closed

[2015-05-15 16:36] #3186 closed

[2015-05-15 16:49] jordansissel commented on #3245
Very strange.

Testing just `%{PYTHON_B}` as the pattern, it works correctly, but with `%{PYTHON}` it does not. _very_ strange...

[2015-05-15 16:50] jordansissel commented on #3245
This should be easy to debug once I see the full compiled pattern that grok generates. I'll try to take a look soon.

[2015-05-15 16:50] jordansissel commented on #3240
New redirects are in place. I still need to add one more thing, which is to have the "You are reading old docs!" warning link to the new elastic.co site on the correct page per plugin

[2015-05-15 16:54] allenmchan commented on #3247
confirmed that it works.
In case anyone in the future needs this, i edited /etc/init.d/logstash

[achan@lsc011.scl ~]$ cat /etc/init.d/logstash | grep -i ls_java_opts
  LS_JAVA_OPTS="${LS_JAVA_OPTS} -Djava.io.tmpdir=${LS_HOME} -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=9994 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false"

[2015-05-15 16:54] #3247 closed

[2015-05-15 18:41] jib opened #3254 "Logstash 1.5.0: Updating plugin claims no plugin updated, even though it was"
See here:

[code]

Checking on disk, the plugin has indeed been updated.

[2015-05-15 19:28] russorat commented on #3240
I think some of the warnings have broken links. For example, http://logstash.net/docs/1.4.2/filters/advisor breaks.
![logstash_-_open_source_log_management](https://cloud.githubusercontent.com/assets/4805997/7660338/e4fb76b0-fafd-11e4-8113-b631485aa1ab.png)

[2015-05-15 21:59] spuder opened #3255 "mutate must be in its own code block"
If you attempt to combine multiple mutations inside of one mutate block, then you get unexpected results.

Broken config
[code]

Input

    {"FOO":"ABC123"}

Output
[code]

Notice how both foo and bar are 0's? That is bad

If you expand the config out to use multiple mutates, it works properly.

[code]

[code]

This is either a bug in the mutate, or a bug in documentation. Nowhere that I can find

[2015-05-15 23:29] colinsurprenant commented on #1769
landed the [jruby-stdin-channel](https://github.com/colinsurprenant/jruby-stdin-channel) gem for it. just need to insert that into the stdin input and see how that behave :P

[2015-05-16 00:39] jordansissel commented on #3240
The advisor plugin was not moved to the logstash-plugins org, and so there's no documentation for it, and there's also no published plugin for it. I forget exactly why we didn't migrate it, but it may have been accidental, but it also may have been because nobody knows what that plugin is for.

Given the above (this plugin doesn't exist anymore), I think it's expected that the link 404s. That `ver

[2015-05-16 10:25] aland commented on #3246
@wiibaa can confirm on Windows7 that Logstash will fail in this way when in a path with spaces, regardless of where the log file is located.

[code]

[2015-05-16 10:26] purbon commented on #3255
This does not looks like the expected behaviour to me, so makes sense to fix this.

[2015-05-16 11:39] karasmeitar commented on #3193
maybe its a problem with my VM, ill try this from diffrent VM.do you know how can i change logstash elasticsearch index base on  column values in every record?somthing like createddate.

[2015-05-16 14:08] untergeek commented on #3255
The issue belongs in http://github.com/logstash-plugins/logstash-filter-mutate 

—Aaron

On Sat, May 16, 2015 at 4:26 AM, Pere Urbón <notifications@github.com>
wrote:

[2015-05-16 14:44] colinsurprenant commented on #3204
did we ever get to the bottom of this?

[2015-05-16 15:45] pako-pl commented on #3127
I had the same issue on Debian 7.8 Wheezy, but adding the symlink solved the problem. Thanks.

[2015-05-16 17:48] jordansissel commented on #3255
@purbon the expectation is that the execution order of settings in a single mutate should follow the order in the config file, and it does not. At present, no other filter has so much behavior, and to be honest, I feel like the `mutate` filter should be split into multiple filter plugins anyway.

[2015-05-16 17:48] jordansissel commented on #3255
@untergeek agreed; we can move it there.

[2015-05-16 17:49] purbon commented on #3255
@jordansissel makes sense!

@untergeek @jordansissel I agree this issue should be moved to the very same logstash-filter-mutate plugin project.

[2015-05-16 17:51] jordansissel commented on #2896
Thanks for moving this to https://github.com/logstash-plugins/logstash-output-influxdb/issues/18! <3 I'll close this in favor of discussing the bug over there.

[2015-05-16 17:51] #2896 closed

[2015-05-16 17:54] jordansissel commented on #2021
I don't know what's causing your tls handshake timeout. Maybe a network problem or cpu starvation on the forwarder or logstash side?

Is this still an issue for you the latest logstash-forwarder and logstash? What size EC2 instances are you using for all of these systems?

[2015-05-16 17:55] jordansissel commented on #2377
logstash-web is gone in Logstash 1.5.0

For reference, if you installed logstash 1.4.x with the deb file and see logstash web running, you should be able to stop it with `service logstash-web stop` - assuming you aren't going to upgrade yet.

[2015-05-16 17:55] jordansissel commented on #2377
Closing since logstash-web is gone in 1.5.0

[2015-05-16 17:55] #2377 closed

[2015-05-16 18:01] jordansissel commented on #1688
I've moved this here: https://github.com/logstash-plugins/logstash-filter-xml/issues/10

[2015-05-16 18:01] #1688 closed

[2015-05-16 18:02] jordansissel commented on #1697
async is being deprecated: https://github.com/elastic/elasticsearch/issues/10114

[2015-05-16 18:02] jordansissel commented on #1697
Async is scheduled for removal in ES 2.0, so I'll close this.

[2015-05-16 18:02] #1697 closed

[2015-05-16 18:05] jordansissel commented on #1678
We'll need a bit more information to go on. How do you observe the slowdown? Why do you think some kind of exceptions are the cause?

[2015-05-16 18:08] jordansissel commented on #1703
I don't think we have enough information to know how to help you.

Can you post some details? Seeing your logstash config, a sample event with the wrong `@timestamp`, and what you expected the timestamp to be, would help :)

[2015-05-16 18:09] jordansissel commented on #1713
DNS lookups are optional, and actually slow down performance quite a bit. If you need DNS lookups, then the dns filter should be useful for you: https://www.elastic.co/guide/en/logstash/current/plugins-filters-dns.html

Hope this helps :)

[2015-05-16 18:10] jordansissel commented on #1728
At this time, there's no priority on it (demand isn't high). I'll help direct folks if others want to work on this.

[2015-05-16 18:12] jordansissel commented on #1745
elasticsearch_http is deprecated in favor of the `elasticsearch` plugin (which can do http!), if you have this error with that plugin, please let us know over at https://github.com/logstash-plugins/logstash-output-elasticsearch/issues

[2015-05-16 18:12] #1745 closed

[2015-05-16 18:27] colinsurprenant commented on #3255
wonder how hard it would be to surface the unordered mutate operations from the `config` class methods into an ordered list? If we could do that we'd preserve configuration backward compatibility.

[2015-05-16 21:14] slaupster opened #3256 "elasticsearch output cannot connect if first dns lookup unsuccessful - UnresolvedAddressException"
Logstash 1.4.2 using elasticsearch output transport protocol can not recover from an initial failure to resolve the dns name of the specified elasticsearch host.

Scenario is everything in docker registering services in consul.

1) The elasticsearch host in the logstash.conf is a consul service (so discovered through DNS).  Elasticsearch data node starts first and registers the service.  A check p

[2015-05-16 21:26] spuder commented on #3255
Thanks, Moved to:
https://github.com/logstash-plugins/logstash-filter-mutate

[2015-05-16 21:26] #3255 closed

[2015-05-16 23:32] untergeek commented on #3256
Please move this to http://github.com/logstash-plugins/logstash-output-elasticsearch 

—
Sent from Mailbox

On Sat, May 16, 2015 at 3:14 PM, slaupster <notifications@github.com>
wrote:

[2015-05-17 00:29] colinsurprenant commented on #1769
inserted in the stdin input in logstash-plugins/logstash-input-stdin#3

[2015-05-17 06:32] slaupster commented on #3256
Thanks.  Moved to:
https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/131

[2015-05-17 06:32] #3256 closed

[2015-05-17 09:00] rafaltrojniak commented on #1717
Hello,
Bumped into that bug few times, and it quite confusing.

Would it be possible to make 'dns resolution' phase part of the configuration parsing/verification ?
IMHO it would be the best if :
- IT would throw error on the 'config check' phase ('logstash -t -f /some/config')
- Cause logstash to return non-0 state when trying to execute
The above assumptions would :
- Allow init-scripts to verif

[2015-05-17 09:59] lgoldstein opened #3257 "[regression] Conditionals spread across multiple lines now fail"
Version 1.4.2
[code]
Version 1.5.0 - same computer, configuration file, Java, Ruby, everything - only different _logstash_ version
[code]

[2015-05-17 10:01] purbon commented on #3257
@lgoldstein It would be very nice if you can share your configuration.

[2015-05-17 10:10] lgoldstein commented on #3257
@purbon See https://gist.github.com/lgoldstein/898b1a92a9e435c29116

[2015-05-17 10:16] purbon commented on #3257
thanks a lot @lgoldstein

[2015-05-17 17:36] mbomassimo opened #3258 "logstash 1.5.0 crash when using output plugin websocket"
Starting logstash (version 1.5.0) with the websocket output plugin configurated
[code]
logstash crash with the following error:
[code]

This error is present either in the windows version (windows7 64 bit) either in the linux version (centos 6).
There is also an error on UDP input plugin but i think it is already signaled

[2015-05-17 17:45] purbon commented on #3258
@mbomassimo Hi, in took a look at the plugin and this is because of missing dependencies on the plugin. I think we can safely move this issue to https://github.com/logstash-plugins/logstash-output-websocket as it belogs to there.

If you're upto actually the fix is not complicated, you just need to add the missing dependencies in https://github.com/logstash-plugins/logstash-output-websocket/blob/m

[2015-05-17 17:52] mbomassimo commented on #3258
I added this line in the file
  s.add_runtime_dependency 'sinatra'
But this doesn't work.
Ok guide me

[2015-05-17 18:05] purbon commented on #3258
Hi,
  you should fix the plugin, by updating the dependencies in it, aka https://github.com/logstash-plugins/logstash-output-websocket (making your own fork), and creating a new version of the plugin.

The only two missing dependencies are sinatra and logstash-codec-plan.

You can get more info on how this plugins works from https://www.elastic.co/guide/en/logstash/current/_how_to_write_a_logstash

[2015-05-17 18:17] mbomassimo commented on #3258
Thank you purbon but I don't have some programm installed on my PC in order to complete the plugin generation.
I never used jruby I need more time in order to prepare the environment.
In any case thanks a lot

[2015-05-17 18:18] purbon commented on #3258
ok, I had to try, no problem. I will make this fix soon in the plugin. Closing this issue as it belongs to the plugin websocket.

[2015-05-17 18:18] #3258 closed

[2015-05-17 18:22] purbon commented on #3258
When this https://github.com/logstash-plugins/logstash-output-websocket/pull/3 gets merged and the new plugin released, this is going to be fix. Thanks for reporting.

[2015-05-17 18:31] zhenghu commented on #3229
@colinsurprenant Yes, it works. Thanks again. Sorry for response it late.

[2015-05-17 20:13] purbon commented on #3239
Most probably related to #3238

[2015-05-17 21:03] jordansissel commented on #1734
This was moved here: https://github.com/elastic/logstash/issues/1746

[2015-05-17 21:03] #1734 closed

[2015-05-17 23:00] jordansissel commented on #1780
This issue has been migrated to https://github.com/logstash-plugins/logstash-input-redis/issues/8

[2015-05-17 23:00] #1780 closed

[2015-05-17 23:04] jordansissel commented on #1762
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-zeromq/issues/2. Let's continue the discussion there! :)

[2015-05-17 23:04] #1762 closed

[2015-05-17 23:05] jordansissel commented on #1759
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-s3/issues/38. Let's continue the discussion there! :)

[2015-05-17 23:05] #1759 closed

[2015-05-17 23:05] jordansissel commented on #1798
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-irc/issues/11. Let's continue the discussion there! :)

[2015-05-17 23:05] #1798 closed

[2015-05-17 23:07] jordansissel commented on #1814
I think this is solved, given:

* Systems require privileged access to bind on ports 1-1023 (< 1024)
* This can be worked around with iptables, setcap, etc

[2015-05-17 23:07] #1814 closed

[2015-05-17 23:07] jordansissel commented on #1808
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-multiline/issues/12. Let's continue the discussion there! :)

[2015-05-17 23:07] #1808 closed

[2015-05-17 23:08] jordansissel commented on #1825
I'm still in favor of doing this, especially on master. However, it will break _every_ open pull request because Github's perspective on PRs is based on history, not on code diffs.

[2015-05-17 23:09] jordansissel commented on #1833
I think this should be resolved by #1569

[2015-05-17 23:10] jordansissel commented on #1847
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-gelf/issues/2. Let's continue the discussion there! :)

[2015-05-17 23:10] #1847 closed

[2015-05-17 23:10] jordansissel commented on #1846
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-grok/issues/25. Let's continue the discussion there! :)

[2015-05-17 23:10] #1846 closed

[2015-05-17 23:10] jordansissel commented on #1859
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-grok/issues/26. Let's continue the discussion there! :)

[2015-05-17 23:10] #1859 closed

[2015-05-17 23:11] jordansissel commented on #1848
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/133. Let's continue the discussion there! :)

[2015-05-17 23:11] #1848 closed

[2015-05-17 23:11] jordansissel commented on #1879
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-pagerduty/issues/4. Let's continue the discussion there! :)

[2015-05-17 23:11] #1879 closed

[2015-05-17 23:11] jordansissel commented on #1789
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-codec-netflow/issues/11. Let's continue the discussion there! :)

[2015-05-17 23:11] #1789 closed

[2015-05-17 23:12] jordansissel commented on #1877
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-mutate/issues/28. Let's continue the discussion there! :)

[2015-05-17 23:12] #1877 closed

[2015-05-17 23:12] jordansissel commented on #1898
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-throttle/issues/2. Let's continue the discussion there! :)

[2015-05-17 23:12] #1898 closed

[2015-05-17 23:13] jordansissel commented on #1907
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-file/issues/30. Let's continue the discussion there! :)

[2015-05-17 23:13] #1907 closed

[2015-05-17 23:15] jordansissel commented on #1956
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-tcp/issues/9. Let's continue the discussion there! :)

[2015-05-17 23:15] #1956 closed

[2015-05-17 23:15] jordansissel commented on #1937
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/134. Let's continue the discussion there! :)

[2015-05-17 23:15] #1937 closed

[2015-05-17 23:19] jordansissel commented on #2006
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-grok/issues/27. Let's continue the discussion there! :)

[2015-05-17 23:19] #2006 closed

[2015-05-17 23:19] jordansissel commented on #1840
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-s3/issues/39. Let's continue the discussion there! :)

[2015-05-17 23:19] #1840 closed

[2015-05-17 23:20] jordansissel commented on #1857
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-codec-json/issues/8. Let's continue the discussion there! :)

[2015-05-17 23:20] #1857 closed

[2015-05-17 23:20] jordansissel commented on #1856
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-gelf/issues/3. Let's continue the discussion there! :)

[2015-05-17 23:20] #1856 closed

[2015-05-17 23:23] jordansissel commented on #2049
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-grok/issues/28. Let's continue the discussion there! :)

[2015-05-17 23:23] #2049 closed

[2015-05-17 23:23] jordansissel commented on #2027
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-log4j/issues/10. Let's continue the discussion there! :)

[2015-05-17 23:23] #2027 closed

[2015-05-17 23:24] jordansissel commented on #2064
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-xmpp/issues/1. Let's continue the discussion there! :)

[2015-05-17 23:24] #2064 closed

[2015-05-17 23:24] jordansissel commented on #1323
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-http/issues/4. Let's continue the discussion there! :)

[2015-05-17 23:24] #1323 closed

[2015-05-17 23:24] jordansissel commented on #2002
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-codec-netflow/issues/12. Let's continue the discussion there! :)

[2015-05-17 23:24] #2002 closed

[2015-05-17 23:25] jordansissel commented on #2072
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-grok/issues/29. Let's continue the discussion there! :)

[2015-05-17 23:25] #2072 closed

[2015-05-17 23:25] jordansissel commented on #2069
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-rabbitmq/issues/24. Let's continue the discussion there! :)

[2015-05-17 23:25] #2069 closed

[2015-05-17 23:26] jordansissel commented on #2103
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-imap/issues/8. Let's continue the discussion there! :)

[2015-05-17 23:26] #2103 closed

[2015-05-17 23:27] jordansissel commented on #2075
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/135. Let's continue the discussion there! :)

[2015-05-17 23:27] #2075 closed

[2015-05-17 23:27] jordansissel commented on #2104
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-syslog/issues/11. Let's continue the discussion there! :)

[2015-05-17 23:27] #2104 closed

[2015-05-17 23:28] jordansissel commented on #2116
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-gelf/issues/10. Let's continue the discussion there! :)

[2015-05-17 23:28] #2116 closed

[2015-05-17 23:28] jordansissel commented on #2111
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-udp/issues/1. Let's continue the discussion there! :)

[2015-05-17 23:28] #2111 closed

[2015-05-17 23:29] jordansissel commented on #2126
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-lumberjack/issues/1. Let's continue the discussion there! :)

[2015-05-17 23:29] #2126 closed

[2015-05-17 23:29] jordansissel commented on #2143
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-redis/issues/9. Let's continue the discussion there! :)

[2015-05-17 23:29] #2143 closed

[2015-05-17 23:30] jordansissel commented on #2147
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-redis/issues/8. Let's continue the discussion there! :)

[2015-05-17 23:30] #2147 closed

[2015-05-17 23:30] jordansissel commented on #1944
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/elastic/logstash-forwarder/issues/464. Let's continue the discussion there! :)

[2015-05-17 23:30] #1944 closed

[2015-05-17 23:31] jordansissel commented on #1944
(Moved to the logstash-forwarder project)

[2015-05-17 23:31] jordansissel commented on #1922
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-file/issues/31. Let's continue the discussion there! :)

[2015-05-17 23:31] #1922 closed

[2015-05-17 23:31] jordansissel commented on #2010
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-lumberjack/issues/14. Let's continue the discussion there! :)

[2015-05-17 23:31] #2010 closed

[2015-05-17 23:32] jordansissel commented on #2133
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-rabbitmq/issues/25. Let's continue the discussion there! :)

[2015-05-17 23:32] #2133 closed

[2015-05-17 23:32] jordansissel commented on #1613
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-pagerduty/issues/5. Let's continue the discussion there! :)

[2015-05-17 23:32] #1613 closed

[2015-05-17 23:33] jordansissel commented on #2099
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-csv/issues/9. Let's continue the discussion there! :)

[2015-05-17 23:33] #2099 closed

[2015-05-17 23:34] jordansissel commented on #2135
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-file/issues/32. Let's continue the discussion there! :)

[2015-05-17 23:34] #2135 closed

[2015-05-17 23:35] jordansissel commented on #2176
@usmanajmal Sorry for the delays in attending to your issue! This sounds like a configuration problem, so it should be fixable! If you are still having problems, I recommend you ask this on https://discuss.elastic.co/ (our new discussion forum for user help!)

[2015-05-17 23:35] #2176 closed

[2015-05-17 23:35] jordansissel commented on #2181
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-tcp/issues/7. Let's continue the discussion there! :)

[2015-05-17 23:35] #2181 closed

[2015-05-17 23:36] jordansissel commented on #2191
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-file/issues/33. Let's continue the discussion there! :)

[2015-05-17 23:36] #2191 closed

[2015-05-17 23:38] jordansissel commented on #1807
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-lumberjack/issues/2. Let's continue the discussion there! :)

[2015-05-17 23:38] #1807 closed

[2015-05-17 23:38] jordansissel commented on #2227
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-ruby/issues/7. Let's continue the discussion there! :)

[2015-05-17 23:38] #2227 closed

[2015-05-17 23:39] jordansissel commented on #2226
Confirmed this is still an issue.

[2015-05-17 23:40] jordansissel commented on #2224
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-file/issues/34. Let's continue the discussion there! :)

[2015-05-17 23:40] #2224 closed

[2015-05-17 23:40] jordansissel commented on #2246
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-file/issues/35. Let's continue the discussion there! :)

[2015-05-17 23:40] #2246 closed

[2015-05-17 23:41] jordansissel commented on #2213
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-nagios_nsca/issues/3. Let's continue the discussion there! :)

[2015-05-17 23:41] #2213 closed

[2015-05-17 23:42] jordansissel commented on #2172
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-tcp/issues/10. Let's continue the discussion there! :)

[2015-05-17 23:42] #2172 closed

[2015-05-17 23:43] jordansissel commented on #2253
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-prune/issues/1. Let's continue the discussion there! :)

[2015-05-17 23:43] #2253 closed

[2015-05-17 23:43] #2264 closed

[2015-05-17 23:43] jordansissel commented on #2264
(I think this is resolved)

[2015-05-17 23:43] jordansissel commented on #2260
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-pagerduty/issues/6. Let's continue the discussion there! :)

[2015-05-17 23:43] #2260 closed

[2015-05-17 23:43] jordansissel commented on #2141
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-clone/issues/1. Let's continue the discussion there! :)

[2015-05-17 23:43] #2141 closed

[2015-05-17 23:44] jordansissel commented on #2092
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-mutate/issues/29. Let's continue the discussion there! :)

[2015-05-17 23:44] #2092 closed

[2015-05-17 23:44] jordansissel commented on #1425
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-json/issues/9. Let's continue the discussion there! :)

[2015-05-17 23:44] #1425 closed

[2015-05-17 23:45] jordansissel commented on #2194
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-date/issues/18. Let's continue the discussion there! :)

[2015-05-17 23:45] #2194 closed

[2015-05-17 23:45] jordansissel commented on #2271
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-grok/issues/33. Let's continue the discussion there! :)

[2015-05-17 23:45] #2271 closed

[2015-05-17 23:45] jordansissel commented on #2273
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-date/issues/19. Let's continue the discussion there! :)

[2015-05-17 23:45] #2273 closed

[2015-05-17 23:47] jordansissel commented on #2303
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-riemann/issues/3. Let's continue the discussion there! :)

[2015-05-17 23:47] #2303 closed

[2015-05-17 23:48] jordansissel commented on #2330
Sorry for the delay in attending to this.

We have stopped working on the `elasticsearch_river` output plugin because the rivers system in Elasticsearch is going to be removed. I recommend you use the `elasticsearch` output plugin instead.

[2015-05-17 23:48] #2330 closed

[2015-05-17 23:49] jordansissel commented on #2330
If you have questions about how to move from the `elasticsearch_river` output and to the `elasticsearch` output, please let us know on http://discuss.elastic.co/

[2015-05-17 23:50] jordansissel commented on #2341
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-log4j/issues/11. Let's continue the discussion there! :)

[2015-05-17 23:50] #2341 closed

[2015-05-17 23:51] jordansissel commented on #2370
The `elasticsearch_river` plugin has been abandoned in favor of the `elasticsearch` output because Elasticsearch itself is removing the rivers feature.

[2015-05-17 23:51] #2370 closed

[2015-05-17 23:52] jordansissel commented on #2366
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-file/issues/36. Let's continue the discussion there! :)

[2015-05-17 23:52] #2366 closed

[2015-05-17 23:54] jordansissel commented on #2326
Our plans are to follow JRuby to 9000. As for the other things (dns stuff), we can attend to those soon. I don't think we've tested much with Ruby 2.x's stdlib, but we will sono.

[2015-05-17 23:54] #2326 closed

[2015-05-17 23:54] jordansissel commented on #2301
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-file/issues/37. Let's continue the discussion there! :)

[2015-05-17 23:54] #2301 closed

[2015-05-17 23:54] jordansissel commented on #2286
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-grok/issues/34. Let's continue the discussion there! :)

[2015-05-17 23:54] #2286 closed

[2015-05-17 23:55] jordansissel commented on #2206
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-rabbitmq/issues/26. Let's continue the discussion there! :)

[2015-05-17 23:55] #2206 closed

[2015-05-17 23:55] jordansissel commented on #2387
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-gelf/issues/11. Let's continue the discussion there! :)

[2015-05-17 23:55] #2387 closed

[2015-05-17 23:55] jordansissel commented on #2394
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-rabbitmq/issues/27. Let's continue the discussion there! :)

[2015-05-17 23:55] #2394 closed

[2015-05-17 23:56] jordansissel commented on #2413
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-ruby/issues/8. Let's continue the discussion there! :)

[2015-05-17 23:56] #2413 closed

[2015-05-17 23:56] jordansissel commented on #2262
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-multiline/issues/13. Let's continue the discussion there! :)

[2015-05-17 23:56] #2262 closed

[2015-05-17 23:57] jordansissel commented on #2282
I'm not sure I understand what you're saying. What stops?

[2015-05-17 23:58] jordansissel commented on #1536
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-tcp/issues/8. Let's continue the discussion there! :)

[2015-05-17 23:58] #1536 closed

[2015-05-18 02:07] zeqi opened #3260 "Logstash1.5.0:Installation aborted, verification failed for logstash-input-sqlite"
zeqi-mac:logstash-1.5.0 zeqi$ bin/plugin install logstash-input-sqlite
Validating logstash-input-sqlite
Plugin logstash-input-sqlite does not exist
ERROR: Installation aborted, verification failed for logstash-input-sqlite

[2015-05-18 04:49] jordansissel commented on #2407
The `type` field isn't deprecated. By field, I mean a property of an event named "type". The `type` setting on outputs has been deprecated in favor of using conditionals.

These are equivalent:

[code]
output {
  if [type] == "example" {
    elasticsearch {
      ...
    }
  }
}
[code]

[2015-05-18 04:49] #2407 closed

[2015-05-18 04:51] jordansissel commented on #2421
Is this still an issue? It might be a bug or a misconfiguration, it's hard to tell. You might find wider support for this on https://discuss.elastic.co/ (our discussion/support forum).

Let me know if you have any other concerns, and I'll do my best to help direct you :)

[2015-05-18 04:51] #2421 closed

[2015-05-18 04:51] jordansissel commented on #2396
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-fingerprint/issues/7. Let's continue the discussion there! :)

[2015-05-18 04:51] #2396 closed

[2015-05-18 04:52] jordansissel commented on #2405
Sounds like this was resolved. If you have further questions or need help, I invite you to check out our new support and discussion forum, https://discuss.elastic.co/

[2015-05-18 04:52] #2405 closed

[2015-05-18 04:54] jordansissel commented on #2438
Sorry for the delays in responding. Logstash has a ganglia input (https://www.elastic.co/guide/en/logstash/current/plugins-inputs-ganglia.html) which supports gmond's protocol, I think.

If you have further questions or need help on this, I invite you to ask about it on https://discuss.elastic.co/ :)

[2015-05-18 04:54] #2438 closed

[2015-05-18 04:55] jordansissel commented on #2460
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-gelf/issues/4. Let's continue the discussion there! :)

[2015-05-18 04:55] #2460 closed

[2015-05-18 04:56] jordansissel commented on #2436
Are you able to verify _what_ logs were lost?

I don't think the file output flushes on each write, which may be the cause of your problem. I'll move this to the file output repo.

[2015-05-18 04:56] jordansissel commented on #2436
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-file/issues/11. Let's continue the discussion there! :)

[2015-05-18 04:56] #2436 closed

[2015-05-18 04:57] jordansissel commented on #1832
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-codec-collectd/issues/9. Let's continue the discussion there! :)

[2015-05-18 04:57] #1832 closed

[2015-05-18 04:57] jordansissel commented on #1926
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-date/issues/20. Let's continue the discussion there! :)

[2015-05-18 04:57] #1926 closed

[2015-05-18 04:58] jordansissel commented on #1934
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-grok/issues/35. Let's continue the discussion there! :)

[2015-05-18 04:58] #1934 closed

[2015-05-18 04:58] jordansissel commented on #2458
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-kv/issues/9. Let's continue the discussion there! :)

[2015-05-18 04:58] #2458 closed

[2015-05-18 04:58] jordansissel commented on #2459
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-kv/issues/10. Let's continue the discussion there! :)

[2015-05-18 04:58] #2459 closed

[2015-05-18 04:59] jordansissel commented on #2046
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-pagerduty/issues/7. Let's continue the discussion there! :)

[2015-05-18 04:59] #2046 closed

[2015-05-18 05:00] jordansissel commented on #2488
I think the two questions in this ticket were answered (1: what is happening to the old jira tickets?, 2: what to do with the charset setting?). Marking closed.

[2015-05-18 05:00] #2488 closed

[2015-05-18 05:01] jordansissel commented on #2498
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-xml/issues/11. Let's continue the discussion there! :)

[2015-05-18 05:01] #2498 closed

[2015-05-18 05:01] jordansissel commented on #1843
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-grok/issues/36. Let's continue the discussion there! :)

[2015-05-18 05:01] #1843 closed

[2015-05-18 05:02] jordansissel commented on #2509
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/136. Let's continue the discussion there! :)

[2015-05-18 05:02] #2509 closed

[2015-05-18 05:02] jordansissel commented on #2345
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-split/issues/3. Let's continue the discussion there! :)

[2015-05-18 05:02] #2345 closed

[2015-05-18 05:03] jordansissel commented on #2515
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-sqs/issues/8. Let's continue the discussion there! :)

[2015-05-18 05:03] #2515 closed

[2015-05-18 05:05] jordansissel commented on #2551
A quick glance at this ticket makes me think it's resolved (or at least, further tickets were filed elsewhere). Closing it :)

[2015-05-18 05:05] #2551 closed

[2015-05-18 05:06] jordansissel commented on #2508
@VVFSD Did you still need help with this? If not, I'll close it soon.

[2015-05-18 05:07] jordansissel commented on #1489
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-lumberjack/issues/15. Let's continue the discussion there! :)

[2015-05-18 05:07] #1489 closed

[2015-05-18 05:07] jordansissel commented on #2600
I think this question was answered based on [this comment](https://github.com/elastic/logstash/issues/2600#issuecomment-74208431). I'll close it.

[2015-05-18 05:07] #2600 closed

[2015-05-18 05:08] jordansissel commented on #1756
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/137. Let's continue the discussion there! :)

[2015-05-18 05:08] #1756 closed

[2015-05-18 05:08] jordansissel commented on #2615
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-tcp/issues/11. Let's continue the discussion there! :)

[2015-05-18 05:08] #2615 closed

[2015-05-18 05:09] jordansissel commented on #2619
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-grok/issues/37. Let's continue the discussion there! :)

[2015-05-18 05:09] #2619 closed

[2015-05-18 05:09] jordansissel commented on #2621
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-codec-json_lines/issues/5. Let's continue the discussion there! :)

[2015-05-18 05:09] #2621 closed

[2015-05-18 05:10] jordansissel commented on #2636
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/138. Let's continue the discussion there! :)

[2015-05-18 05:10] #2636 closed

[2015-05-18 05:10] jordansissel commented on #2154
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-metrics/issues/13. Let's continue the discussion there! :)

[2015-05-18 05:10] #2154 closed

[2015-05-18 05:10] jordansissel commented on #2616
Is this still an issue?

[2015-05-18 05:11] jordansissel commented on #2649
@ph is this still an issue given all the issues filed from this ticket?

[2015-05-18 05:11] jordansissel commented on #2549
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-zeromq/issues/3. Let's continue the discussion there! :)

[2015-05-18 05:11] #2549 closed

[2015-05-18 05:13] jordansissel commented on #2434
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-zeromq/issues/5. Let's continue the discussion there! :)

[2015-05-18 05:13] #2434 closed

[2015-05-18 05:13] jordansissel commented on #2552
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-syslog/issues/12. Let's continue the discussion there! :)

[2015-05-18 05:13] #2552 closed

[2015-05-18 05:15] jordansissel commented on #2548
@wiibaa done!

[2015-05-18 05:15] #2548 closed

[2015-05-18 05:16] jordansissel commented on #2778
@rlinstorres is this still a problem for you?

[2015-05-18 05:17] jordansissel commented on #2784
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-date/issues/21. Let's continue the discussion there! :)

[2015-05-18 05:17] #2784 closed

[2015-05-18 05:17] jordansissel commented on #2789
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-multiline/issues/14. Let's continue the discussion there! :)

[2015-05-18 05:17] #2789 closed

[2015-05-18 05:18] jordansissel commented on #2667
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-codec-netflow/issues/13. Let's continue the discussion there! :)

[2015-05-18 05:18] #2667 closed

[2015-05-18 05:19] jordansissel commented on #2797
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-mutate/issues/30. Let's continue the discussion there! :)

[2015-05-18 05:19] #2797 closed

[2015-05-18 05:19] jordansissel commented on #2802
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-syslog/issues/13. Let's continue the discussion there! :)

[2015-05-18 05:19] #2802 closed

[2015-05-18 05:20] jordansissel commented on #2803
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-file/issues/38. Let's continue the discussion there! :)

[2015-05-18 05:20] #2803 closed

[2015-05-18 05:23] jordansissel commented on #2800
@chiriaev to my knowledge, logstash doesn't set the window size on its sockets and leaves that decision up to the operating system's network stack.

[2015-05-18 05:24] jordansissel commented on #2806
I think this is the same issue as https://github.com/logstash-plugins/logstash-output-file/issues/11

[2015-05-18 05:24] #2806 closed

[2015-05-18 05:24] jordansissel commented on #2812
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-syslog/issues/14. Let's continue the discussion there! :)

[2015-05-18 05:24] #2812 closed

[2015-05-18 05:25] jordansissel commented on #2811
I think this is a known issue for Windows that we will fix.

[2015-05-18 05:26] jordansissel commented on #2813
@fajabird I suspect your first example may be more efficient, but it's easier to test that than it is to guess, I think. Throw a few thousand log samples at it with the file input and check throughput?

[2015-05-18 05:26] jordansissel commented on #2826
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/139. Let's continue the discussion there! :)

[2015-05-18 05:26] #2826 closed

[2015-05-18 05:26] jordansissel commented on #2831
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-email/issues/21. Let's continue the discussion there! :)

[2015-05-18 05:26] #2831 closed

[2015-05-18 05:27] jordansissel commented on #2833
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-codec-es_bulk/issues/5. Let's continue the discussion there! :)

[2015-05-18 05:27] #2833 closed

[2015-05-18 05:27] jordansissel commented on #2828
@CalldiDoctor how many log files?

[2015-05-18 05:28] jordansissel commented on #2838
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-email/issues/22. Let's continue the discussion there! :)

[2015-05-18 05:28] #2838 closed

[2015-05-18 05:28] jordansissel commented on #2745
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/140. Let's continue the discussion there! :)

[2015-05-18 05:28] #2745 closed

[2015-05-18 05:30] jordansissel commented on #2190
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-sqs/issues/9. Let's continue the discussion there! :)

[2015-05-18 05:30] #2190 closed

[2015-05-18 05:30] jordansissel commented on #2884
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-sqs/issues/10. Let's continue the discussion there! :)

[2015-05-18 05:30] #2884 closed

[2015-05-18 05:30] jordansissel commented on #2858
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-file/issues/39. Let's continue the discussion there! :)

[2015-05-18 05:30] #2858 closed

[2015-05-18 05:31] jordansissel commented on #2132
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-file/issues/40. Let's continue the discussion there! :)

[2015-05-18 05:31] #2132 closed

[2015-05-18 05:31] jordansissel commented on #2848
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-file/issues/41. Let's continue the discussion there! :)

[2015-05-18 05:31] #2848 closed

[2015-05-18 05:33] jordansissel commented on #2881
It seems like your data isn't actually readable text. I don't recognize any of the byte sequences, and it's not valid ISO8859-1 (Latin1) nor UTF-8, for sure.

[2015-05-18 05:34] jordansissel commented on #2889
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-patterns-core/issues/38. Let's continue the discussion there! :)

[2015-05-18 05:34] #2889 closed

[2015-05-18 05:34] jordansissel commented on #2879
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-email/issues/23. Let's continue the discussion there! :)

[2015-05-18 05:34] #2879 closed

[2015-05-18 05:35] jordansissel commented on #1870
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-zeromq/issues/4. Let's continue the discussion there! :)

[2015-05-18 05:35] #1870 closed

[2015-05-18 05:35] jordansissel commented on #2910
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-http/issues/5. Let's continue the discussion there! :)

[2015-05-18 05:35] #2910 closed

[2015-05-18 05:35] jordansissel commented on #1962
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-snmptrap/issues/7. Let's continue the discussion there! :)

[2015-05-18 05:36] #1962 closed

[2015-05-18 05:36] jordansissel commented on #2895
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-rabbitmq/issues/28. Let's continue the discussion there! :)

[2015-05-18 05:36] #2895 closed

[2015-05-18 05:37] jordansissel commented on #2913
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-date/issues/22. Let's continue the discussion there! :)

[2015-05-18 05:37] #2913 closed

[2015-05-18 05:38] jordansissel commented on #2918
@StefanSa can you attach all of your logstash configs on gist.github.com and put the link to it here?

[2015-05-18 05:38] jordansissel commented on #1685
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-date/issues/23. Let's continue the discussion there! :)

[2015-05-18 05:38] #1685 closed

[2015-05-18 05:40] jordansissel commented on #2584
For those of you needing help with your custom rpm specs, I don't know what to offer. We use fpm to build our release RPMs, and it doesn't use a spec file.

I recommend y'all get together on https://discuss.elastic.co/ and see what you can work out together :)

[2015-05-18 05:40] #2584 closed

[2015-05-18 05:42] jordansissel commented on #2328
I think the original problem was resolved here (TLS v1.1 requirement in one commit of logstash-forwarder that was rolled back to TLS 1.0)

[2015-05-18 05:43] jordansissel commented on #2912
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-elasticsearch/issues/13. Let's continue the discussion there! :)

[2015-05-18 05:43] #2912 closed

[2015-05-18 05:43] jordansissel commented on #2906
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-eventlog/issues/9. Let's continue the discussion there! :)

[2015-05-18 05:43] #2906 closed

[2015-05-18 05:43] jordansissel commented on #1488
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-lumberjack/issues/16. Let's continue the discussion there! :)

[2015-05-18 05:43] #1488 closed

[2015-05-18 05:43] jordansissel commented on #2899
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-kafka/issues/20. Let's continue the discussion there! :)

[2015-05-18 05:43] #2899 closed

[2015-05-18 05:44] jordansissel commented on #2979
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-redis/issues/10. Let's continue the discussion there! :)

[2015-05-18 05:44] #2979 closed

[2015-05-18 05:44] jordansissel commented on #2999
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-tcp/issues/9. Let's continue the discussion there! :)

[2015-05-18 05:44] #2999 closed

[2015-05-18 05:45] jordansissel commented on #1667
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-syslog/issues/15. Let's continue the discussion there! :)

[2015-05-18 05:45] #1667 closed

[2015-05-18 05:49] jordansissel commented on #2969
My guess is that you are not correctly overriding the `DATE` pattern.

Logstash's `DATE` pattern is defined:

[code]

These two (DATE_EU and DATE_US) have two-digit numbers as the first segment and would give the behavior you are seeing (see screenshot below):

![screen shot 2015-05-17 at 10 48 24 pm](https://cloud.githubusercontent.com/assets/131818/7674973/db81d530-fce6-11e4-80ce-c858aec48226.pn

[2015-05-18 05:52] jordansissel commented on #1841
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-grok/issues/38. Let's continue the discussion there! :)

[2015-05-18 05:52] #1841 closed

[2015-05-18 05:54] jordansissel commented on #3043
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-lumberjack/issues/17. Let's continue the discussion there! :)

[2015-05-18 05:54] #3043 closed

[2015-05-18 05:54] jordansissel commented on #2960
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-elasticsearch/issues/14. Let's continue the discussion there! :)

[2015-05-18 05:54] #2960 closed

[2015-05-18 05:55] jordansissel commented on #3045
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-csv/issues/10. Let's continue the discussion there! :)

[2015-05-18 05:55] #3045 closed

[2015-05-18 05:56] jordansissel commented on #3049
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/141. Let's continue the discussion there! :)

[2015-05-18 05:56] #3049 closed

[2015-05-18 05:57] jordansissel commented on #3054
The packages we build no longer have a dependency on java as of Logstash 1.5.0

[2015-05-18 05:57] #3054 closed

[2015-05-18 05:58] jordansissel commented on #3094
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-grok/issues/39. Let's continue the discussion there! :)

[2015-05-18 05:58] #3094 closed

[2015-05-18 05:58] jordansissel commented on #2905
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-file/issues/42. Let's continue the discussion there! :)

[2015-05-18 05:58] #2905 closed

[2015-05-18 05:58] jordansissel commented on #3092
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-lumberjack/issues/18. Let's continue the discussion there! :)

[2015-05-18 05:58] #3092 closed

[2015-05-18 05:58] jordansissel commented on #3103
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-mongodb/issues/5. Let's continue the discussion there! :)

[2015-05-18 05:58] #3103 closed

[2015-05-18 06:00] jordansissel commented on #2843
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-lumberjack/issues/3. Let's continue the discussion there! :)

[2015-05-18 06:00] #2843 closed

[2015-05-18 06:01] jordansissel commented on #1655
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/142. Let's continue the discussion there! :)

[2015-05-18 06:01] #1655 closed

[2015-05-18 06:01] jordansissel commented on #3140
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/143. Let's continue the discussion there! :)

[2015-05-18 06:01] #3140 closed

[2015-05-18 06:02] jordansissel commented on #3139
I'm not sure I have enough to go on. This seems like something the support and user community can help you with also, and we just launched a wonderful new forum for that: https://discuss.elastic.co/ - Can you try asking there? (I'll close this in the meantime)

[2015-05-18 06:02] #3139 closed

[2015-05-18 06:03] jordansissel commented on #3097
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-twitter/issues/13. Let's continue the discussion there! :)

[2015-05-18 06:03] #3097 closed

[2015-05-18 06:03] jordansissel commented on #3131
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/144. Let's continue the discussion there! :)

[2015-05-18 06:03] #3131 closed

[2015-05-18 06:03] jordansissel commented on #2762
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-ruby/issues/9. Let's continue the discussion there! :)

[2015-05-18 06:03] #2762 closed

[2015-05-18 06:03] jordansissel commented on #3156
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/145. Let's continue the discussion there! :)

[2015-05-18 06:03] #3156 closed

[2015-05-18 06:03] jordansissel commented on #3151
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/146. Let's continue the discussion there! :)

[2015-05-18 06:03] #3151 closed

[2015-05-18 06:04] jordansissel commented on #2638
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-file/issues/12. Let's continue the discussion there! :)

[2015-05-18 06:04] #2638 closed

[2015-05-18 06:04] jordansissel commented on #2056
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/147. Let's continue the discussion there! :)

[2015-05-18 06:04] #2056 closed

[2015-05-18 06:04] jordansissel commented on #3164
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/148. Let's continue the discussion there! :)

[2015-05-18 06:04] #3164 closed

[2015-05-18 06:04] jordansissel commented on #1709
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-geoip/issues/23. Let's continue the discussion there! :)

[2015-05-18 06:04] #1709 closed

[2015-05-18 06:04] jordansissel commented on #1908
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-csv/issues/11. Let's continue the discussion there! :)

[2015-05-18 06:04] #1908 closed

[2015-05-18 06:04] jordansissel commented on #3146
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-file/issues/43. Let's continue the discussion there! :)

[2015-05-18 06:04] #3146 closed

[2015-05-18 06:06] jordansissel commented on #2382
@p14n yes. The new plugin ecosystem currently assumes it has write access to the directory in which Logstash is deployed. Putting Logstash in a jar would probably block this.

While it's possible to achieve this, I don't anticipate much work from my side to achieve this. I don't know anything about AWS Beanstalk, so I can't offer much advice there.

[2015-05-18 06:07] jordansissel commented on #2382
AWS Elastic Beanstalk says this about itself:

I don't see a requirement for a jar as a deployment mechanism. Why do you require a jar?

[2015-05-18 06:07] jordansissel commented on #2574
Yep!

[2015-05-18 06:07] #2574 closed

[2015-05-18 06:07] jordansissel commented on #2573
Done!

[2015-05-18 06:07] #2573 closed

[2015-05-18 06:09] jordansissel commented on #3200
Two things:

1)  Can you rerun logstash with `--debug` and see if you get a stack trace?

2) Your concern about file size:

There are no issue I am aware of with respect to large files. 2gb isn't very large, in my opinion, and should pose no problems.

[2015-05-18 06:09] jordansissel commented on #3197
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-mutate/issues/31. Let's continue the discussion there! :)

[2015-05-18 06:09] #3197 closed

[2015-05-18 06:10] jordansissel commented on #3218
Let's move this discussion here: https://github.com/logstash-plugins/logstash-output-file/issues/7

[2015-05-18 06:10] #3218 closed

[2015-05-18 06:11] jordansissel commented on #3226
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-redis/issues/11. Let's continue the discussion there! :)

[2015-05-18 06:11] #3226 closed

[2015-05-18 06:12] jordansissel commented on #2101
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-patterns-core/issues/39. Let's continue the discussion there! :)

[2015-05-18 06:12] #2101 closed

[2015-05-18 06:12] jordansissel commented on #2672
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-lumberjack/issues/19. Let's continue the discussion there! :)

[2015-05-18 06:12] #2672 closed

[2015-05-18 06:12] jordansissel commented on #2267
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-email/issues/24. Let's continue the discussion there! :)

[2015-05-18 06:12] #2267 closed

[2015-05-18 06:13] jordansissel commented on #2368
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-grok/issues/40. Let's continue the discussion there! :)

[2015-05-18 06:13] #2368 closed

[2015-05-18 06:13] jordansissel commented on #1754
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-file/issues/44. Let's continue the discussion there! :)

[2015-05-18 06:13] #1754 closed

[2015-05-18 06:14] jordansissel commented on #1636
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-snmptrap/issues/8. Let's continue the discussion there! :)

[2015-05-18 06:14] #1636 closed

[2015-05-18 06:14] jordansissel commented on #3238
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-mutate/issues/32. Let's continue the discussion there! :)

[2015-05-18 06:14] jordansissel commented on #2115
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-csv/issues/3. Let's continue the discussion there! :)

[2015-05-18 06:14] #2115 closed

[2015-05-18 06:16] jordansissel commented on #1650
I think this is fixed in 1.5 (smarter selection of line-oriented codec for tcp plugins) and a workaround of forcing the codec to json_lines is working.

[2015-05-18 06:16] #1650 closed

[2015-05-18 06:16] jordansissel commented on #1315
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-kv/issues/11. Let's continue the discussion there! :)

[2015-05-18 06:16] #1315 closed

[2015-05-18 06:16] jordansissel commented on #3143
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-codec-netflow/issues/14. Let's continue the discussion there! :)

[2015-05-18 06:16] #3143 closed

[2015-05-18 06:16] purbon commented on #3238
@jordansissel as in #3259, is was really not an error of gsub, but an error in the configuration utf8 transformations, so the issue belongs in here.

[2015-05-18 06:18] jordansissel commented on #2152
@antgel your ruby code is incorrect. It is calling the `.encode` method on an object which is nil.

[code]

This `event['message'][0]` is a nil value when you get this exception.

[2015-05-18 06:20] jordansissel commented on #2152
No. Dropping data because of a resolvable problem is not a good default behavior. :)

In the future, we are adding a way to stash these kinds of problematic events in a way that will be recoverable later _and_ will not block further processing of events. You can read more about the [dead letter queue feature, here](https://github.com/elastic/logstash/issues/2607)

[2015-05-18 06:21] jordansissel commented on #3138
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-lumberjack/issues/20. Let's continue the discussion there! :)

[2015-05-18 06:21] #3138 closed

[2015-05-18 06:21] jordansissel commented on #3129
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/149. Let's continue the discussion there! :)

[2015-05-18 06:21] #3129 closed

[2015-05-18 06:21] jordansissel commented on #3065
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-codec-json_lines/issues/6. Let's continue the discussion there! :)

[2015-05-18 06:21] #3065 closed

[2015-05-18 06:22] jordansissel commented on #2973
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-mutate/issues/33. Let's continue the discussion there! :)

[2015-05-18 06:22] #2973 closed

[2015-05-18 06:22] jordansissel commented on #3193
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-s3/issues/40. Let's continue the discussion there! :)

[2015-05-18 06:22] #3193 closed

[2015-05-18 06:22] jordansissel commented on #1678
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-filter-grok/issues/41. Let's continue the discussion there! :)

[2015-05-18 06:22] #1678 closed

[2015-05-18 06:23] jordansissel commented on #1713
For Logstash 1.5.0, we've moved all plugins to individual repositories, so I have moved this issue to https://github.com/logstash-plugins/logstash-input-syslog/issues/16. Let's continue the discussion there! :)

[2015-05-18 06:23] #1713 closed

[2015-05-18 06:43] StefanSa commented on #2918
Hi jordan,
you can close this ticket, i move from Centos 7 to FreeBSD 10 with out any errors.

[2015-05-18 06:54] p14n commented on #2382
We deploy zips of jars for our entire application, and have an automated process for doing this.  Nothing needs any special setup, it's just unpack and run the bootstrap  Deploying logstash for shipping works in sympathy if deployed as a jar - deploying as a tar needs more setup to hook into this process.

Having spent a bit more time looking at this I think our needs will be better met by not usi

[2015-05-18 07:32] purbon commented on #3260
@zeqi can you copy here the output of ```DEBUG=1 bin/plugin install logstash-input-sqlite``` ? this will provide us with more details of why this failed.

[2015-05-18 07:42] zeqi commented on #3260
zeqi-mac:logstash-1.5.0 zeqi$ DEBUG=1 bin/plugin install logstash-input-sqlite
DEBUG: exec /Users/zeqi/soft/elk/logstash-1.5.0/vendor/jruby/bin/jruby --1.9 -J-XX:+UseParNewGC -J-XX:+UseConcMarkSweepGC -J-Djava.awt.headless=true -J-XX:CMSInitiatingOccupancyFraction=75 -J-XX:+UseCMSInitiatingOccupancyOnly -J-Xmx500m /Users/zeqi/soft/elk/logstash-1.5.0/lib/pluginmanager/main.rb install logstash-input

[2015-05-18 09:22] purbon commented on #3258
A new version of the plugin has been released, if you do ```bin/plugin update ....``` you will get the new version that has no dependency problems. Let us know if you find more issues. Thanks for your report.

[2015-05-18 10:41] ESamir commented on #3239
the fix for 3238 did not fix this issue and the work around is not working  when using the fix
[code]
when I use the  workaround I get this error

  premature end of char-class: /[\]{1}/

[2015-05-18 10:41] rlinstorres commented on #2778
No, thanks.

2015-05-18 2:16 GMT-03:00 Jordan Sissel <notifications@github.com>:

[2015-05-18 10:49] #2778 closed

[2015-05-18 11:11] lmgray commented on #2616
logstash 1.5.0 seems to work now (using IBM Java 8)

-bash-4.3$ bin/logstash --version
io/console not supported; tty will not be manipulated
logstash 1.5.0

-bash-4.3$ java -version
java version "1.8.0"
Java(TM) SE Runtime Environment (build pap6480sr1-20150417_01(SR1))
IBM J9 VM (build 2.8, JRE 1.8.0 AIX ppc64-64 Compressed References 20150410_243669 (JIT enabled, AOT enabled)
J9VM - R28_Java8_SR

[2015-05-18 11:48] matejzero opened #3261 "undefined local variable or method `type'"
Hello!

Today I upgraded my logstash from 1.4.2 to the latest 1.5.0 GA and I'm having troubles starting it. When I start Logstash, it starts but then throws NameError:
[code]

I started Logstash with --debug, but the last lines aren't really useful:
[code]

What can be the reason?

[2015-05-18 11:49] jsvd commented on #3261
Can you provide your configuration file?

[2015-05-18 12:04] matejzero commented on #3261
I'm currently trying to add/remove config files to see, which one is causing troubles, since I have around 20 config files. Will report the one causing problems.

[2015-05-18 12:10] matejzero commented on #3261
I found my problem. I have some of my 'if' sentences in multiple lines and that seems like it doesn't work in 1.5.0 anymore:

My config file looked like this:
[code]

I moved everything in one line and now it works.

Matej

[2015-05-18 12:35] jsvd commented on #3261
@matejzero you can also do: `if [type] not in ['a', 'b', 'c'] { }`

example:

[code]

[code]

[2015-05-18 12:38] matejzero commented on #3261
Now that's nicer. Will fix my configs.

Thanks!

[2015-05-18 12:38] #3261 closed

[2015-05-18 13:00] purbon commented on #3260
@zeqi Hi, I just check with the tar.gz file and a clone of the github repo in my very own macbook, and the plugin gets installed properly. I would need to know more information about your environment:

1.- Which distribution of logstash are you using? (tgz, zip, deb or rpm)
2.- Can you paste here the output of the command ``bin/plugin list```
3.- Are you able to reach the site rubygems.org?

i gue

[2015-05-18 13:16] jsvd commented on #3246
confirmed and submitted PR to fix, thanks for finding and reporting this!

[2015-05-18 13:18] zhenghu opened #3263 "no spec_helper found for logstash-1.5.0"
I have an issue with the new release logstash-1.5.0 on testing.

I run my logstash unit test with the following steps :
1. download all development dependencies :
`bin/plugin install --development`

2. run test with :
`bin/rspec test.rb`

Here is my test.rb :
[code]

Here is the error message :
[code]

I found the privious issue (https://github.com/elastic/logstash/issues/2743) which indicate that

[2015-05-18 13:21] purbon commented on #3263
Hi,
  I think the most probably source of this error is the need to fins the spec_helper in https://github.com/elastic/logstash-devutils/blob/master/lib/logstash/devutils/rspec/spec_helper.rb (logstash spec_helper). you will need to have something like ```require 'logstash/devutils/rspec/spec_helper' ``` .  This file is located in the logstash-devutils.

/cheers

[2015-05-18 13:28] zhenghu commented on #3263
@purbon
Thanks.

[2015-05-18 13:38] purbon commented on #3263
works? can I close this issue?

[2015-05-18 13:47] jsvd commented on #2963
this is a rubygems problem, so I've opened issue rubygems/rubygems#1254 and I'm closing this one

[2015-05-18 13:47] #2963 closed

[2015-05-18 13:57] zhenghu commented on #3263
@purbon
Yes, you can close it.

[2015-05-18 14:05] #3263 closed

[2015-05-18 14:29] zhenghu commented on #3257
I meet the same issue for keyword `or` which works well in logstash-1.4.2

Here is the error :
[code]

Here is the config :
[code]

[2015-05-18 16:31] purbon opened #3265 "Newline interpretation in logstash is not as you can expect"
As noticed in #3238 newline interpretation by the config compiler might be not as you expected. If we take as an example

[code]

what you might expect is that you replace a newline character with newline, however what really happen is that we transform the two characters `\\n` with newline because. Although you could expect that you are really replacing a newline, this happen like this because ch

[2015-05-18 16:35] purbon commented on #3238
Closed in favor of #3265

[2015-05-18 17:09] wiibaa commented on #3265
@purbon related to #1645 too?

[2015-05-18 17:10] iemem15 commented on #2806
Not at all.

This in the codec, not in the output, output works, codec doesn't

2015-05-18 0:24 GMT-05:00 Jordan Sissel <notifications@github.com>:

--
Israel Elías Morales

[2015-05-18 17:23] purbon commented on #3265
@wiibaa makes complete sense, related to #1645

[2015-05-18 17:24] wiibaa commented on #2806
@iemem15 file output is not respecting/using  codecs so the issue is really the flushing mechanism that will never write the last event as mentionned in https://github.com/logstash-plugins/logstash-output-file/blob/master/lib/logstash/outputs/file.rb#L179
[code]
it should indeed be triggered by a timer not depending on events to avoid this case for "final" events.

[2015-05-18 17:27] purbon commented on #3239
This is a known issue already reported at #1645, closing this in favor of him.

[2015-05-18 17:27] #3239 closed

[2015-05-18 17:28] #3238 closed

[2015-05-18 17:28] #3250 closed

[2015-05-18 17:32] purbon opened #3266 "Formal / Informal specs about parts of logstash expected behaviour."
In order to validate properly the different parts of logstash we need a documentation of what is expected out of it. This ticket is fill in order to start discussing possible ways to do this documentation/specs.

A good way to start documenting is the configuration grammar, so we can add test on it. Next steps would be to document the pipeline, stc.

[2015-05-18 23:38] suyograo commented on #3142
@purbon nice work! I would add or link to real world examples of specs in Logstash plugins which are easy to follow

[2015-05-18 23:45] suyograo opened #3268 "Fix TODOs in Logstash reference docs"
Cleanup any occurrence of TODO in LS docs

* [ ] logstash-codec-cef
* [ ] logstash-codec-oldlogstashjson
* [x] logstash-filter-date
* [x] logstash-filter-dns
* [x] logstash-filter-json
* [x] logstash-filter-metrics
* [x] logstash-filter-mutate
* [x] logstash-filter-range
* [x] logstash-filter-ruby
* [x] logstash-filter-zeromq
* [x] logstash-input-file
* [x] logstash-input-ganglia
* [x] logstash-in

[2015-05-18 23:47] remotesyssupport opened #3269 "logstash stops processing when an anomaly in event stream is found"
Dont know if this question/bug is

I am ingesting the AWS ELB access logs and at times [due to how ELB logs]; there are entries like this:

[code]

The  above in principle must be a single line and without the carriage [^M^M], but that is how ELB is reporting it and there is nothing we can do about it I guess. But the moment this is encountered, logstash stops processing with an exception.

So my

[2015-05-19 01:18] Mister-X- commented on #3200
Unfortunately, I deleted the file a couple days ago. If I can reproduce it, I'll update this ticket.

Could you explain the format of the sincedb file?

[2015-05-19 02:19] colinsurprenant opened #3270 "add option to disable metadata handling"
metadata handling adds 2 extra string comparisons for every `Event` field reference *getter* `[]` or *setter* `[]=`. when metadata is not useful in a particular configuration, we know these extra string comparisons are *not free*. We could add an option to disable metadata handling and have different method implementations that we could pick depending on the option.

[2015-05-19 03:09] colinsurprenant commented on #3229
:thumbsup:

[2015-05-19 03:09] #3229 closed

[2015-05-19 03:15] jordansissel commented on #3270
Seems like we know the field name at config-compile-time, so we could have an optimized getter (with no `@metadata` support) and one with support and choose the correct one during compilation. Thoughts?

[2015-05-19 03:36] suyograo opened #3271 "Update to JRuby 1.7.20"
http://jruby.org/2015/05/05/jruby-1-7-20.html

[2015-05-19 03:42] suyograo commented on #3228
@viruscmd PR = Pull Request, You can click on the pencil icon on the docs and it will initiate the pull request for you to fix the error

[2015-05-19 03:48] suyograo commented on #1583
Can you reopen this if you can reproduce with 1.5.0?

[2015-05-19 03:48] #1583 closed

[2015-05-19 08:01] Mogztter commented on #3257
Duplicate of #2850 ?

[2015-05-19 08:02] purbon commented on #3257
Yes, I agree.

[2015-05-19 08:25] jindov opened #3272 "Got error with elasticsearch output plugin logstash-1.5.0-1"
This is my output.conf:

output {

[code]

   }

   if [services] == "service2" {
        elasticsearch {
                cluster => "test"
                index => "service2-%{+YYYY.MM.dd}"
                host => "10.0.0.10"
                protocol => "http"
                template_name => "service2"
        }
   }

   elasticsearch {
        cluster => "test"
        host => "10.0.0.10"

[2015-05-19 10:13] mcanes opened #3273 "Urldecode prefix fields support"
It can be useful to decode parameters from urls.
Right now, splitting url parameters it's extremely easy using the KV filter, but not decode the parameters values.

Let's put an example using: foo.com/bar?param1=value1&...&paramN=valueN

[code]

With this we can url decode all params using one filter and supporting url params dynamically.

[2015-05-19 10:17] purbon commented on #3273
Hi @mcanes, thanks for your feedback. This looks to me like a feature request for the kv filter and/or the urlencode one, right? It would be great to move this issue there.

links:

https://github.com/logstash-plugins/logstash-filter-kv

https://github.com/logstash-plugins/logstash-filter-urldecode

Feel free to move it there and close this issue.

[2015-05-19 10:26] mcanes commented on #3273
Thank you @purbon.

New issue: https://github.com/logstash-plugins/logstash-filter-urldecode/issues/2

kv filter prefix support is already implemented.

[2015-05-19 10:26] #3273 closed

[2015-05-19 12:24] derjohn commented on #1637
Workaround?

ruby {
    # because if [somevar] doesnt work in all cases
    code => "if not defined? event['somevar']; event['somevar'] = 'dummyvalue' end"
  }

[2015-05-19 13:17] colinsurprenant commented on #3270
+1 absolutely! since we know from config if metadata is used or not, we can auto choose the right method!

[2015-05-19 13:20] dstore-dbap opened #3274 "New plugin logstash-output-webhdfs"
I created an output to write event data to hdfs via webhdfs, [logstash-output-webhdfs](https://github.com/dstore-dbap/logstash-output-webhdfs).
It seemed to be useful to others, so if it meets the requirements concerning code quality I'd like it to be added to the logstash-plugins. Writing tests without a webhdfs node accessible for running the tests against seems a bit problematic. Thus, currentl

[2015-05-19 13:26] pvanderlinden opened #3275 "logstash 1.5 stops working after a few events"
The only error I see is this line almost constantly:

```config LogStash::Codecs::Plain/@charset = "UTF-8" {:level=>:debug, :file=>"logstash/config/mixin.rb", :line=>"112", :method=>"config_init"}```

[2015-05-19 13:27] untergeek commented on #3274
We're working on ways to use the Docker api for Ruby to allow you to spin up a container with the actual service for integration testing.  Would you be able to write tests as though you *did* have a node?  We could help with writing the Docker api portion as it's a work in progress, but if you had functional tests to begin with, that would be terrific!

[2015-05-19 13:31] dstore-dbap commented on #3274
Ok, if you use docker for testing, I will try to whip up an image with an hdfs node and adjust the tests. Might take a couple of days, depending on spare time ;)

[2015-05-19 13:32] purbon commented on #3274
Hi, this is a nice addition to the logstash plugins, thanks for sharing. When talking about testing, here I see a couple of scenarios, the first one is to write unit test for the plugin behaviour (you can use mocking and stubs as defined by rspec, a bit of docs at https://github.com/elastic/logstash/issues/3142 ).

Then there are the integration test, for this I totally agree you should fire up a

[2015-05-19 13:40] dstore-dbap commented on #3274
Thanks for the warm words, purbon...
Yes, I was tinkering with the idea of putting together a mocked up TcpServer, receiving the webhdfs calls and checking these. But after a coffee, that seemed a bit over the top ;)

[2015-05-19 13:44] parabolic opened #3276 "Logstash 1:1.5.0-1 dies after some time"
Hi, today I've upgraded to logstash version 1:1.5.0-1 on ubuntu 14.04, x86_64, and it seems to hangs after some time without any notification in the logs whatsoever. When I try to stop the process with issuing

[code]

or

[code]

I get the following:

[code]

and then I have to do a

[code]

to kill the process and it goes on and on.
I started logstash manually with the debug option and after som

[2015-05-19 13:45] purbon commented on #3274
Hi,
  I was more going on the direction of having:

1.- Short functions that check what is expected to happen as unit test. In order to do that you should mock the calls to the external service.
2.- Then you can have integration test that will check what happen when running with a real system.

Both test are complementary.

[2015-05-19 13:45] ph commented on #3276
@parabolic Would you mind posting the configuration from your logstash master?

[2015-05-19 13:47] parabolic commented on #3276
No problem but I will have to ommit the filter and some names just give me some time.

[2015-05-19 13:53] parabolic commented on #3276
Ok here it is, mind me but the filter section is quite big and we only use the lumberjack input the other input is just there for compatibility but will be removed soon.
[code]

[2015-05-19 14:02] pvanderlinden commented on #3275
My config:
[code]

[2015-05-19 14:02] pvanderlinden commented on #3275
Also: https://github.com/elastic/logstash/issues/3276 is probably related

[2015-05-19 14:08] ph commented on #3276
Do you have any errors on the elasticsearch side log?

[2015-05-19 14:15] parabolic commented on #3276
I have a failed to parse query, from kibana4 and I have a failed recovery shard, due to restart of ES a few days ago. Here's the error:
[code]

[2015-05-19 14:19] ph commented on #3276
Can you list your filter your are using too?

[2015-05-19 14:39] parabolic commented on #3276
Hi yes, I've ommited the tags and comments and some matches,
[code]

[2015-05-19 14:50] ph commented on #3276
Maybe there is a dead lock on the es output, can you do `jstack PID` and paste the content in a gist?

[2015-05-19 15:07] jordansissel commented on #2850
@timbunce for clarity, this is a bug and a regression. :)

[2015-05-19 15:29] svenmueller opened #3277 "Lumberjack input, maximum connection exceeded"
After running for a while logstash doesn't output any event to ES. Instead lot's of "warnings" are written to the log file.

[code]
(Btw, why does it say ":max_clients=>nil"?)

When executing `sudo lsof | grep logstash` a lot of unclosed connections are listed.

Any idea why this happens from time to time?

[2015-05-19 15:30] colinsurprenant commented on #3275
@pvanderlinden the log you reported in the first comment does not look like and error but just a debug log so I am not sure it is relevant.

When you say "after a few events", how many is that? under 10? is it possible for you to systematically reproduce the problem with a sample log file? If so, could you share that with us so we can try to reproduce here? You could also try to reproduce by feedi

[2015-05-19 15:37] ph commented on #3277
`:max_clients=>nil` this is definitively a typo, will fix this.

The `Lumberjack input, maximum connection exceeded, new connection are rejected` message mean that logstash is applying the back pressure back to the LSF clients, instead of going OOM and die. The connection are keep open until they timeout when the queue is blocked for too long.

The back pressure happen when something is slowing do

[2015-05-19 15:44] svenmueller commented on #3277
Thx for the fast reply. We only use ES output plugin and ES seems to be running fine

you can see our full config here: https://gist.github.com/svenmueller/4faac33ac051263f1f96

[2015-05-19 15:57] pvanderlinden commented on #3275
I completely removed logstash 1.5 from the production because we were missing all our logs.
I haven't been able to reproduce it so far on the local development machine, but I have been able to have in constantly on production and staging. Also some people I spoke to in the irc channel like @ph think the logline actually is a plugin constantly re-booting.

[2015-05-19 15:59] ph commented on #3275
@jsvd is talking to @pvanderlinden on irc to find more debug info.

[2015-05-19 16:02] ph commented on #3277
@svenmueller ty for your config!

Do you have the `maximum connection` warning really often?

One way to have more throughput on logstash is to run it with multiples workers for the filtering (the `-w` option, 1 per default), the problem with this option is that the multiline **FILTER** is not thread safe, you have to replace it with multiple input using the multiline **codecs**.

[2015-05-19 17:14] parabolic commented on #3276
The thing is that I've disabled it completely and reverted back to 1.4.2, I can gather logs and `nc` them to an logstash 1.5 instance running with the same config file and will do the `jstack PID` and hope that it will hang again.
So just to clarify,
it stops without any error in the log file, we are sending massive amounts of logs, the only thing that I got was the debug message that I've pasted

[2015-05-19 17:58] utilitynerd opened #3278 "Logstash 1.5 - event['@timestamp'] no longer supports the localtime() method"
This filter block works fine in 1.4

 ruby {
            code  => "
                localtime = event['@timestamp'].localtime()
            "
}

but results in this error in 1.5:

{:timestamp=>"2015-05-18T17:21:15.919000-0700", :message=>"Exception in filterworker", "exception"=>#<NoMethodError: undefined method `localtime' for "2015-05-18T21:23:53.216Z":LogStash::Timestamp>, "backtrace"=>["(ruby

[2015-05-19 18:19] jordansissel commented on #3278
I'm not sure this should have worked in the first place. We'll want to firm up the expected interface on the time objects before we can fix this.

[2015-05-19 18:36] svenmueller commented on #3277
The problem occurs round about 1-2 per day. How can i find out the underlying problem? Is it possible to see which input/filter/output plugin is slowing down the whole logstash pipeline?

[2015-05-19 18:37] colinsurprenant commented on #3278
The `Timestamp` object in the Event has the `time` method to retrieve the underlying Ruby `Time` object.

So for you to use `localtime` you should use:

[code]

[2015-05-19 19:17] parabolic commented on #3276
Hi,
I've added 2 gists. 1 is when logstash is just started and the other is when I it's under load. I've simulated load with a while loop and `logger` that sends a simple text directly to logstash and it didn't hanged. I've used the same config as the production one just changed the ports and it's running on the same server. The other thing is that I've used the UDP listener to send the logs to an

[2015-05-19 19:18] jordansissel commented on #3257
Let's close this and move the discussion to this ticket: https://github.com/elastic/logstash/issues/2850

[2015-05-19 19:18] #3257 closed

[2015-05-19 19:26] jordansissel commented on #2850
Testing this:

[code]

[2015-05-19 19:27] jordansissel commented on #2850
The bug in the compiled code is this generation:

[code]

It's including the 'or [bar]' for some reason. I'll take a look at the config AST to figure out what's causing this.

[2015-05-19 19:41] jordansissel commented on #2850
Haha, this bug...

[code]

The bug is that it takes your logstash config and tries to embed it in a comment in the compiled code (for easier debugging), but there are newlines, which make it invalid ruby code - when compiled. This should be an easy fix.

The line of code that causes it was introduced in 4211522d (April 2012), so I'm not yet sure how this only affects 1.5.0 and not 1.4.2.

[2015-05-19 19:45] jordansissel commented on #2850
I can confirm that 4211522 isn't included in 1.4.2

[2015-05-19 19:52] scukonick commented on #2798
I have the same issue with logstash 1.5.0 GA. In our case logstash is reading the logs and sending them to ES directly.

[2015-05-19 19:53] sdklein opened #3280 "Remove --pluginpath command line option from documentation"
Documentation still references --pluginpath, but it is no longer supported in 1.5.x and log stash won't startup if it is present. Would be good to update the documentation with a note indicating it has been removed and perhaps a link.

https://www.elastic.co/guide/en/logstash/current/_command_line_flags.html

[2015-05-19 19:54] ph commented on #2798
@scukonick can you create a new issue with your configuration, and can you take a heap dump with the `jstack <PID>` command when logstash is frozen?

Thank you!

[2015-05-19 20:00] jordansissel commented on #2850
#3281 has a fix for this.

[2015-05-19 20:01] #2850 closed

[2015-05-19 22:07] ochedru commented on #2850
Thank you Jordan!
I should learn Ruby some day to contribute.

[2015-05-19 22:09] utilitynerd commented on #3278
Thanks for the helpful comments.  Closing the ticket.

[2015-05-19 22:09] #3278 closed

[2015-05-19 22:36] ralphm commented on #2533
Some failures are directly correlated to things like message size or a bad value that wreaks havoc with an field analyser. Possibly, it might make sense to break down the failed 'bulk' of events into smaller batches to minimize the number of events in a failing batch and find the *offending* event and have that dead-lettered.

[2015-05-20 00:09] PraveenJayakrishnakumar opened #3282 "Logstash Delete/trim bigger size logs"
We are using SQS output, but unfortunately SQS allows only 256K size per messages/batch. Does logstash is providing any features to remove/trim log messages, if it reaches some threshold limits.

[2015-05-20 02:00] simpsora commented on #2881
I see this very same behavior.  Most of my logs make it through just fine, but occassionally I see this error in my logstash logs and in Kibana.  Interestingly these messages come *only* from ElasticSearch master nodes.

My pipeline is: ElasticSearch logs, monitored by rsyslog using `imfile`, sent over syslog/TCP to a remote logstash instance.  Ubuntu 14.04 on AWS.

I don't see anything relevant i

[2015-05-20 02:05] horkhe opened #3283 "A foul message in a batch makes logstash elasticsearch output drop entire batch"
If logstash fails to push a batch of log messages through an output (elasticsearch in particular) then after a number of retries it drops entire batch even if it is just one log message that made the batch fail. It might make sense to split a failed batch into smaller batches and try deliver them. If a smaller batch is successfully delivered then our job is done. If not then it can further split i

[2015-05-20 03:03] theflimflam commented on #2579
PRs associated with this proof of concept have been closed, and I'm afraid I don't really have the time to work on this anymore.

Feel free to hold this ticket open, but I suggest closing it in favour of #2632.

[2015-05-20 04:03] wiibaa commented on #3282
@PraveenJayakrishnakumar there is a pending pull request in sqs output repository for your case https://github.com/logstash-plugins/logstash-output-sqs/pull/4.
As Logstash 1.5 is released, it is best to open plugin specific issues in their specific repository. Can you please close this ticket and re-open it under https://github.com/logstash-plugins/logstash-output-sqs/issues. Thanks

[2015-05-20 09:22] clementdevos opened #3284 "Blocking exception in XML filter for XPATH parsing"
Hello All,

I'm using logstash to parse XML files downloaded with wget using XPATH to transform it to JSON data.

It sometimes occurs that the xpath parsing fails resulting in a blocking exception :

[code]

When this happens logstash stops processing the files, i cannot kill logstash with Ctrl+C and i have to kill it with its pid then flush the sincedb file. I also remove the downloaded xml files

[2015-05-20 09:49] zhenghu opened #3285 "Regression of the running time of rspec for logstash-1.5.0"
I running my logstash unit test with rspec.
But  with logstash-1.5.0, the test running time is 5x longger than logstash-1.4.2.

I run the test with the following commands :
`bin/plugin install --development`
`bin/rspec test.rb`

Is there some plugin should be installed for improve the performance of rspec of 1.5.0 ?

[2015-05-20 10:29] harveysun commented on #1938
Dear Logstash Team,
         I downloaded the logstash-1.5.0.tar.gz and test multiline filter fund the issue still exist.
         The last part of message couldn't flush out.
         Could you please show an example in the logstash-1.5.0? thanks in advance

[2015-05-20 10:42] obfuscoder commented on #2537
We see this issue appearing pretty often and we are using a recent enough Hotspot version:

    java version "1.7.0_51"
    Java(TM) SE Runtime Environment (build 1.7.0_51-b13)
    Java HotSpot(TM) 64-Bit Server VM (build 24.51-b03, mixed mode)

We are running this on Linux version 2.6.32-5-amd64 (Debian 2.6.32-45) (dannf@debian.org) (gcc version 4.3.5 (Debian 4.3.5-4).

[2015-05-20 10:48] inteloid opened #3286 "Multiple logstash instances for kafka"
I think this is indeed a wanted feature, my consuming logstash (it's tuned for performance) doesn't manage to catch up with traffic on kafka cluster, when I connect second logstash instance from another machine, it starts to process all the events alone.

Would be great to use kafka's high level consumer (if there is one for ruby), to balance the input.

[2015-05-20 12:06] benoiton opened #3287 "Memory consumption"
I try to use ES + LS on a Raspberry Pi2. 4 cores and 1GB RAM.

Logstash is started with LS_HEAP_SIZE=128m.
[code]
Question 1 : how is it possible to use 600+ MB of RAM, when it is supposed to be limited to 128 MB?

Conf is:
[code]

Memory graph:
![snapshot](https://cloud.githubusercontent.com/assets/8456395/7725238/0270dfce-fef9-11e4-9e6a-64fdb5d3c161.png)
Memory usage drops when kernel OOM kills

[2015-05-20 12:24] mtarantino commented on #2131
@suyograo, @talevy  :
 - is there an example for the filter syntax when it comes to json split ?
 - another question regarding filter scheduling ? what is the order in which the filter will be applied ? For example, there is a mutate filter which add_fileds will the fields be added to the parent event or the split event ?

[2015-05-20 12:55] untergeek commented on #3285
One simple explanation that comes immediately to mind is that we added many, many more tests since 1.4.2.  You may simply be running into tests which take longer, which were not there in 1.4.2.

[2015-05-20 12:56] ph commented on #3285
@untergeek he is targeting one file and not the whole suite, not quite sure what would make it a lot slower.

[2015-05-20 13:03] untergeek commented on #3285
(facepalm)... I need to read more closely after I first wake up :smile:

[2015-05-20 13:10] ph commented on #3285
@zhenghu Not sure what could make the test run slow, are you running them on windows?

There is workaround, you can try to use Drip see https://github.com/elastic/logstash/blob/master/README.md#drip-launcher

[2015-05-20 13:14] zhenghu commented on #3285
@ph In fact, I run the test on both windows and linux. In linux it worse 10x slower.

Thanks for your suggestion, I will try this plugin.

But I think this regression should be better to figure out.

[2015-05-20 13:14] ph commented on #3285
@zhenghu agree about the regression!

[2015-05-20 14:09] ph commented on #3276
@parabolic Thank you I'll do more testing on my side, did you try to run 1.5 side by side with nc?

[2015-05-20 14:22] ph commented on #3275
If I remember correctly from our discussion on IRC, we didn't have any errors in the LSF logs.

[2015-05-20 15:28] pvanderlinden commented on #3275
@ph Yes no errors, but nothing in logstash. I tried in different ways, but I haven't manage to reproduce it on my local machine (and don't want to risk breaking production again).

[2015-05-20 15:35] parabolic commented on #3276
@ph I am unsure what are you asking me here, the above response is logstash 1.5 with nc sending simple string and delivering it to elasticsearch. It's just started manually from the command line. I think something in the filter is killing it.
Thanks for looking into this.

[2015-05-20 16:40] jalwood opened #3288 "Config works by itself but not as part of larger configuration"
I'm trying out logstash to see if I can get it working with some of our reports, this configuration when run by itself works as expected:

[code]

when I take this and put it into a longer configuration with other items using if [type] == conditionals all the other types work but this one doesn't.  In that config file the code for this looks like

file section:
[code]

filter section
[code]

and o

[2015-05-20 18:20] athoune opened #3289 "When something is not jsonable, the service stop"
The stacktrace doesn't show the root cause. I don't know if it's my specific plugin, or something else, but it crash. Does logstash have to panic for a JSON drama?

[code]

[2015-05-20 19:42] svenmueller commented on #3277
i also noticed that stop/restarting the logstash service is not possible whenever the problem described above occurs:

[code]

[2015-05-21 06:31] benoiton commented on #3287
Mea culpa. Previous report was made on figure with rebydebug. I forgot to restart.

After restart:
![snapshot](https://cloud.githubusercontent.com/assets/8456395/7742776/70d25ff2-ff93-11e4-916f-
431bb797d88a.png)

[code]

Memory consumption is slower but still exists.

[2015-05-21 08:15] jsvd commented on #3246
fixed by 6cb438d7fc56e93b99d1e766a5b6573012d979f2

[2015-05-21 08:15] #3246 closed

[2015-05-21 08:32] cosh opened #3291 "Bad documentation/handling for geo_point types in logstash"
As a user I want to be able to use the Kibana4 maps. In order to do that the user has to create a geo_point property. There is no documentation available how to create a geo-point property from a longitude/latitude. Furthermore there should be a dedicated filter for geo_point types done in a way that you don't need to do the cumbersome mutate/rename/convert oddysee.

**current oddysee**
logstash f

[2015-05-21 09:16] jsvd commented on #3287
can you check the behaviour when using http protocol to send to elasticsearch?

[code]

[2015-05-21 09:17] Oneiroi opened #3292 "updated logstash to 1.5.0 now all logstash-forwarder messages tagged _jsonparsefailure"
Previous logstash: 1.4.2
Current logstash: 1.5.0
Current logstash-forwarder: 0.4.0

Input from config
[code]

Example message:
[code]

[2015-05-21 09:20] kipras opened #3293 "sincedb saves file position in the middle of a line"
When logstash is stopped - the file position written in the sincedb file is in the middle of a line. And if you do some custom filtering on that log (write a custom ruby { code => "..." } block for example), this can easily lead to logstash freezing after restart (because of values missing in the first retrieved line), with no good way to understand what happened.

But the [logstash file input doc

[2015-05-21 09:26] simmel commented on #2611
To expose those numbers via JMX would be perfect!
Then we could just use [jmxtrans-agent](https://github.com/jmxtrans/jmxtrans-agent/) to output it to a console, file, graphite or statsd.

[2015-05-21 09:28] purbon commented on #2611
+1 on improving this capabilities of logstash. Monitoring it's  things to be improved a lot nowadays. Using jmx might be a nice option that will enable other java components get data out of LS naturally.

[2015-05-21 09:40] gtournie commented on #3249
To fix it without having to run it every time with `sudo` or with the `/etc/init.d` script , I did:
[code]
It will create the `.bundle` and next logstash calls won't care about the `.bundle` permissions

[2015-05-21 09:51] fenglixa commented on #2747
Installed Logstash 1.5.0.1 on ppc64le (IBM Power Linux), but logstash still cannot startup:

rpm -qa |grep logstash

logstash-1.5.0-1.noarch

/opt/logstash/bin/logstash -f /etc/logstash/conf.d -l /var/log/logstash/logstash.log

io/console not supported; tty will not be manipulated
 LoadError: Unsupported platform: unknown-linux
 require at org/jruby/RubyKernel.java:1071
 (root) at /opt/logstash/ve

[2015-05-21 10:04] svenmueller opened #3294 "How to collect JVM metrics of running logstash instance?"
i would like to gather JVM metrics of the running logstash java process (ubuntu 12.04) and push it to graphite. Any idea what's the best way to achieve that?

[2015-05-21 12:51] jsvd commented on #3293
I was able to reproduce this quite consistently with your steps. This, however, is an issue with the https://github.com/jordansissel/ruby-filewatch/ library that this plugin uses.

I'll leave this open but create a new one there and link it here.

[2015-05-21 13:15] m1k3ga commented on #3277
hi there,
we experience a similar behaviour in logstash.
After 3-4 hours our logstash receiver hangs with message: "Socket limit exceeded".
No more events are being processed from that time on.

We use lsf (forwarder 0.4.0) on about 20 machines and push the events (5MB/s) to a logstash instance (1.5.0) via lumberjack (with ssl).
The logstash instance than pushes the events to elasticsearch.

Befor

[2015-05-21 13:16] m1k3ga commented on #3294
+1

[2015-05-21 13:19] m1k3ga commented on #2611
+1 ;)

[2015-05-21 14:41] benoiton commented on #3287
It's not better

![snapshot](https://cloud.githubusercontent.com/assets/8456395/7751030/eff55598-ffd7-11e4-81b0-cada6f15d91f.png)

I've not seen 1.5.0 was released. My report is about 1.4.2.
I upgrade.

[2015-05-21 14:51] jsvd commented on #3293
created an issue about this in the ruby-filewatch project: https://github.com/jordansissel/ruby-filewatch/issues/56

[2015-05-21 15:08] colinsurprenant commented on #3292
@Oneiroi what I can make of this is that the message content is actually **not** JSON, it is in fact an Apache/Nginx style log line, so it is not an error to get this `_jsonparsefailure` tag.

Now, the addition of the `_jsonparsefailure` tag is new in 1.5.0, before that in 1.4.2 in would just log the problem and fall back to plain-text but not add the tag.

Let me know if this makes sense.

[2015-05-21 15:16] colinsurprenant commented on #3289
@athoune thanks for the report. Could you please share your config and possibly a sample log line which can reproduce the problem?

Clearly, logstash should not crash for a *JSON drama* :P Once we figure out the root cause we will fix it and also add better exception handling for this. Note that we have an open issue #2477 that we will resume work on shortly that should help with these type of err

[2015-05-21 15:23] mpasternacki commented on #3271
This will make Logstash work properly on FreeBSD, as JRuby 1.7.20 includes (or no longer needs) https://github.com/jnr/jnr-ffi/pull/26. 1.7.19 still exhibited this issue:

Vanilla 1.5.0:

[code]

1.5.0 with JRuby 1.7.20 vendored:

[code]

[code]

[2015-05-21 15:24] colinsurprenant commented on #3287
@benoiton also please report you Java version. I'd suggest you install Java 8.

Once logstash 1.5.0 is installed, can you also provide the output on the launch command line when using

[code]

[2015-05-21 15:28] Oneiroi commented on #3292
Hmmm ok, in 1.4.2 however it would go onto honour the grok patterns for the type in the `filter {}` section matching the date and setting the correct `@timestamp` for instance.

In 1.5.0 this is not the case, the `@timestamp` is the time of message receipt, and it does not seem to use the grok patterns
[code]

As can be seen `21/May/2015:06:49:58 +0000` != `"@timestamp":"2015-05-21T08:05:10.682Z"`

[2015-05-21 15:29] colinsurprenant commented on #3285
@zhenghu but are you including the time of installing the development dependencies
[code]
in your test time measurement?

[2015-05-21 15:34] dstore-dbap commented on #3274
Added basic integration tests which assume a webhdfs service is reachable on localhost, port 50070.

[2015-05-21 15:37] colinsurprenant commented on #3292
So to close the loop on your first problem, remove the `codec => json` config since your logs are not json.

For the date parsing, I would assume your custom grok patterns do not correctly extract the `timestamp` field from the log line?

[2015-05-21 15:41] colinsurprenant commented on #3283
@horkhe thanks for the report. we have in fact reworked the retry mechanism in the elasticsearch output plugin. Agree than a poison message should not invalidate a complete bulk request. @talevy maybe you can take a look at this?

[2015-05-21 15:58] Oneiroi commented on #3292
Having to keep `codec => json` as some logs do send in JSON format, thank you for the clarification on the tag though.

re-tested grok patterns and all seems functional( via: http://grokdebug.herokuapp.com/ ), however this did cause me to note the above `[type] == "nginx_error"` the log example is for `nginx_access` chalk this down to Layer 8 / P.E.B.K.A.C. the `filter {}` was indeed missing the `

[2015-05-21 16:03] Oneiroi commented on #3292
Working as expected now, apologies the `_jsonparsefailure` threw me off, as such clearly was looking in the wrong place for an answer. thanks again. closing issue.

[2015-05-21 16:03] #3292 closed

[2015-05-21 16:07] colinsurprenant commented on #3292
@Oneiroi I would suggest you reevaluate your strategy for dealing with json vs non-json log lines because your current configuration will suffer from an appreciable slowdown due to tentative+failing json deserialization on every non-json logs. This is really non-optimal.

[2015-05-21 16:11] colinsurprenant commented on #3292
@Oneiroi since this is not related to a bug anymore, I suggest you bring this up in the [logstash users-group](https://discuss.elastic.co/c/logstash) we can followup there and you can also benefit from feedback from the community!

Thanks!

[2015-05-21 16:24] missnebun commented on #2523
+1

[2015-05-21 17:41] talevy commented on #3283
@horkhe are you seeing that successful messages from that batch are being re-indexed and showing up as duplicates in Elasticsearch? We retry events which return `429` and `503` errors from Elasticsearch. Any other errors like `400` mapping errors are dropped.

for example: this following pipeline will result in the following output and indexed items in Elasticsearch:

[code]

[code]

is your exper

[2015-05-21 17:52] JefStat commented on #3246
Thank for the quick fix. We made the change locally too.

[2015-05-21 19:09] horkhe commented on #3283
Looking at the logstash logs it seemed like entire batch was discarded. We saw:
[code]
followed by numerous
[code]
that had been appearing for about 20 minutes and then a whole bunch of
[code]
reported at once. The number of these events seems to correspond to the number of events in a batch.

But I have just checked ES and was able to find all events reported as dropped in this log. And now I am

[2015-05-21 19:09] PraveenJayakrishnakumar commented on #3282
Re-opening this ticket under SQS output https://github.com/logstash-plugins/logstash-output-sqs/issues/5

[2015-05-21 19:09] #3282 closed

[2015-05-21 19:13] talevy commented on #3283
I believe the log messages in logstash make it a bit difficult to understand which actions are failed. retryable actions are sent to another queue which are then sent to Elasticsearch using the same mechanism as newly introduced events. so it is sometimes difficult to see which actions are retrying for the first time or not. You should not be seeing successful actions being retried. In terms of th

[2015-05-21 19:22] pbaumgarten commented on #3002
I am having the same issue.  Can you expand a little more on what your permissions issues were?

[2015-05-21 19:26] technosf commented on #3248
Please check for voracity too. For example, on the getting started page there is this cmdline example:

  `bin/plugin -install lmenezes/elasticsearch-kopf`

Which results in an error:

    ERROR: Unrecognised option '-i'

    See: 'bin/plugin --help

Thanks!

[2015-05-21 19:31] colinsurprenant opened #3295 "add these encoding specs for Event#validate_value"
These specs were originally written for the `Accessor` class and the `strict_set` method used with rspec but now this has been refactored using `Event#validate_value`.

These encoding specs could probably be incorporated in the `Event` specs?

[code]

[2015-05-21 19:33] horkhe commented on #3283
Ok, then I guess this issue can be closed.

[2015-05-21 19:40] technosf opened #3296 "Failing on Windows doing 'getting started' examples"
Java 1.8 build 40
Windows 7 x64

First, unexpected output:
`  C:\logstash-1.5.0>bin\logstash -V`
`    io/console not supported; tty will not be manipulated`    _<= Unexpected_
`    logstash 1.5.0`

Then to an example that _does_ work:
`  C:\logstash-1.5.0>bin\logstash -e 'input { stdin { } } output { stdout {} }'`
`    io/console not supported; tty will not be manipulated`
`    Logstash startup co

[2015-05-21 19:52] untergeek commented on #3248
Clearly that is in the [Elasticsearch Plugins (an aside)](https://www.elastic.co/guide/en/logstash/current/getting-started-with-logstash.html#_elasticsearch_plugins_an_aside) section.  Kopf is an Elasticsearch plugin, rather than a Logstash one.

We could be more clear about that, but it is mentioned as an Elasticsearch plugin, rather than a Logstash one.

[2015-05-21 20:02] naisanza opened #3297 "Logstash 1.5.0 configtest does not verify output elasticsearch index case"
I'm running Logstash 1.5.0 on Ubuntu server 14.10. I was given the erro, "logstash failed action with response of 400" when I had uppercased letters in my index, but the --configtest passed it as OK.

output {
    if [type] == "TestData" {
	elasticsearch {
	    index => "TestData"
	}
    }
}

[2015-05-21 21:23] benoiton commented on #3287
I use OpenJDK8. On Raspberry Pi 2, JRuby fails with Java 7 (OpenJDK and Oracle).

1st test with logstash 1.5.0:
[code]
2nd test: starting with my conf.
logstash.err:
[code]

Then I followed https://github.com/jruby/jruby/issues/1561 (I also did it for logstash 1.4.2)

Now logstash.err contains only:
[code]

Don't know what it means, but my use case is OK! My files are parsed.

I set LS_HEAP_SIZE="

[2015-05-21 21:36] colinsurprenant commented on #3287
\o/ nice! Thanks for the followup, this is great info.

We are aware of the `io/console` warnings, see #3087 - it should not impact usage.

Looking at the `ps` line it seems Java options are repeated. Could that be the result of your edits or is it a bug in the startup scripts?

[2015-05-21 22:24] technosf commented on #3248
Yup - but the flag is wrong ;)

it's _bin/plugin install foobar_

No minus before _install_

[2015-05-21 22:30] jbrablec opened #3298 "unable to parse from field datetime value"
unable to parse from csv file for datetime field this value "05/17/2015 09:00:00"

[2015-05-21 22:36] technosf commented on #3233
Commenting out the JRuby checks in devutils and I have, in local gems:

	bundler (1.9.9, 1.9.7)
	logstash-core (2.0.0.dev)
	logstash-devutils (0.0.13)
etc.

Stuck on _bundler_ - tried flipping a few switches in _bundler.rb_, but it's beyond my current ken of Ruby  - guessing it's a path issue (I'm playing this out on windoze right now).

    cannot load such file -- bundler (LoadError)
    kernel_

[2015-05-22 01:15] untergeek commented on #3248
Um, I know not what you mean:

[code]

It works just fine for me.

[2015-05-22 02:19] technosf commented on #3248
Ah... You're right. My appologies - Although it is in the _logstash_ doc, it is noted as being for ES as _an aside_. Interesting that ED and LS have the same command but one is _-install_ and one is _install_

[2015-05-22 04:41] wiibaa commented on #3296
The issue is how windows command line understand single quote! It is not a valid parameter delimiter. You can either:
* use double quotes only in windows cmd
* use powershell that allows both type of quotes as delimiter

In a general way, if you have issue with the **-e** parameter, save your configuration to a file and use `-f <yourfilepath>`

[2015-05-22 05:16] benoiton commented on #3287
I installed .deb version and only edited "LS_HEAP_SIZE" in /etc/init.d/logstash.

A glimpse in files... No clue!

Line 388 of /opt/logstash/vendor/jruby/bin/jruby:
[code]

Java options are defined twice in JAVA_OPTS and in java_args.

[2015-05-22 05:57] Centopus commented on #3276
Hello.
I seem to be having the same issue. Running the stable version of 1.5.0 (the one that is served from the main site - CHANGELOG file says: 1.5.0 (May 14, 2015)).
Unfortunately I started a topic over on discuss.elastic.co.
https://discuss.elastic.co/t/logstash-stops-processing-files-after-a-while/944

To summarize:
Randomly stops processing input, when in debug mode '_discover_file_glob:' sto

[2015-05-22 07:25] zhenghu commented on #3285
@colinsurprenant No I am not including the installing time.
Here are two screenshot of the test report. The time is the pure test time.

report-1.4.2
![report_1 4 2](https://cloud.githubusercontent.com/assets/3342705/7765934/1e662916-0064-11e5-836c-0aa49b4896df.png)

report-1.5.0
![report_1 5 0](https://cloud.githubusercontent.com/assets/3342705/7765935/1e672046-0064-11e5-9902-c30948b03901.png)

[2015-05-22 07:28] kipras commented on #3293
Thanks so much! :)

[2015-05-22 09:22] purbon commented on #1369
Got this moved to https://github.com/logstash-plugins/logstash-patterns-core/issues/46 as it really belogs nowadays to the patterns-core repo.

[2015-05-22 09:27] purbon commented on #1369
The PR https://github.com/elastic/logstash/pull/1383 was also moved to the patterns-core repo. closing this issue and moving all there.

[2015-05-22 09:27] #1369 closed

[2015-05-22 09:28] jsvd commented on #1320
migrated to https://github.com/logstash-plugins/logstash-input-zeromq/issues/5

[2015-05-22 09:28] #1320 closed

[2015-05-22 09:35] jsvd commented on #1428
@cwensel are you still seeing this problem?

[2015-05-22 09:40] jsvd commented on #1445
closing this, forced exit should not be done in the init script as it can result in loss of data as @jordansissel said. it's also consistent with how other projects behave, namely elasticsearch

[2015-05-22 09:40] #1445 closed

[2015-05-22 09:47] purbon commented on #1423
@ayoldi-bshg do you still see this ? is this issue still meaningful ?

[2015-05-22 09:52] ptitloup commented on #2523
This is currently under development : https://github.com/SemmLille/logstash-input-LDAPSearch

[2015-05-22 09:54] purbon commented on #1487
@mezzatto This is actually a cool idea! If you have already a working plugin, would be very good to add it to logstash-plugins org. Makes sense?

[2015-05-22 09:58] ayoldi-bshg commented on #1423
I started using Logstash forwarder to index the logs themselves and send them to Logstash…I found it much more stable. So I cannot say if the issue is still there. Sorry about that :S

Kind regards,
Alberto Yoldi

BSH Electrodomésticos España, S.A.
Application Services (CIT-RIIOA)

Itaroburua, 1
31620 Huarte - Pamplona
Tel.: 948425359
Mobile: 649712743
Alberto.Yoldi@bshg.com<mailto:Alberto.Yoldi@b

[2015-05-22 10:14] purbon commented on #1561
@jamido do you have more information on this issue?  is this still relevant for 1.5 and new release of logstash-forwarder?

as @jordansissel said we're not testing with Suse and IBM JRE7, so is hard for us to reproduce this error. It would be very nice of you if you can provide us more details.

[2015-05-22 10:14] jsvd commented on #2523
is it based on the same code base or are the same people involved? if so I could close this

[2015-05-22 10:19] purbon commented on #1423
ok, so closing this issue for now. If it resurfaces we can reopen.

[2015-05-22 10:19] #1423 closed

[2015-05-22 10:19] ptitloup commented on #2523
I started with this code but i had to modify it to return specific attributs.
I just start today and I have some trouble with bundle install.

:/opt/logstash-1.5.0/logstash-input-LDAPSearch# bundle install
Don't run Bundler as root. Bundler can ask for sudo if it is needed, and installing your bundle as root will break this application for all non-root users on this machine.
There was a NoMethodEr

[2015-05-22 10:27] purbon commented on #1565
@davidloubere @jordansissel did the same test as jordan with logstash 1.5

[code]

everything works as expected. It would be very nice to have your input event, so we can reproduce it. Was the event json? text?

[2015-05-22 10:32] javifr commented on #1867
+1 for @timbunce

[2015-05-22 10:34] purbon commented on #1600
(noted during fix it friday)

I think the discussion in here got diverged from having multiple multiple redis outputs, to have multiple internal loggers. Going to open a new issue on that and close this. If the issue still persist we can always reopen.

[2015-05-22 10:37] purbon opened #3300 "Provide multiple internal loggers"
Migrated from: #1600

from https://github.com/elastic/logstash/issues/1600#issuecomment-71285923

[2015-05-22 10:37] purbon commented on #1600
Moved this issue to https://github.com/elastic/logstash/issues/3300, changing the scope to the multiple loggers.

[2015-05-22 10:37] #1600 closed

[2015-05-22 10:46] purbon commented on #1599
Migrated this issue to https://github.com/logstash-plugins/logstash-output-google_bigquery/issues/10 as it belongs to the plugin.

[2015-05-22 10:46] #1599 closed

[2015-05-22 11:57] purbon commented on #1609
Related to https://github.com/elastic/logstash/issues/3199 https://github.com/elastic/logstash/issues/2074 https://github.com/elastic/logstash/issues/3199

[2015-05-22 12:02] purbon opened #3301 "Configtest validates the syntax of the configuration, but not the content of it."
Nowadays running logstash with the ```---configtest``` option let you check the syntax of your configuration, but not the content of it. There are multiple issues open regarding the expectations about this test.

Related issues #3297 #3199 #2901 #2437 #2325 #2074 #1609

[2015-05-22 12:05] purbon commented on #3297
Nowadays the config test is nowaday only checking for syntax and not content of it. I'll #3301 in benefit of  where we can discuss the right solution for this kind of error.

[2015-05-22 12:05] #3297 closed

[2015-05-22 12:06] purbon commented on #3199
Nowadays the config test is nowaday only checking for syntax and not content of it. I'll #3301 in benefit of  where we can discuss the right solution for this kind of error.

[2015-05-22 12:06] #3199 closed

[2015-05-22 12:06] purbon commented on #3301
As stated in https://github.com/elastic/logstash/issues/3199#issuecomment-100106763, would be a nice to have to document the limitation of actuall config validation, so expectations are more real.

[2015-05-22 12:07] purbon commented on #2901
@Mister-X- can you add this as a PR ?

[2015-05-22 12:20] purbon commented on #3301
From: https://github.com/elastic/logstash/issues/2437#issue-55618218

[2015-05-22 12:20] purbon commented on #2437
Nowadays the config test is nowaday only checking for syntax and not content of it. I'll #3301 in benefit of where we can discuss the right solution for this kind of error. I will add a comment there regarding this specific issue.

[2015-05-22 12:20] #2437 closed

[2015-05-22 12:21] purbon commented on #2325
Nowadays the config test is nowaday only checking for syntax and not content of it. I'll #3301 in benefit of where we can discuss the right solution for this kind of error. I will add a comment there regarding this specific issue.

[2015-05-22 12:21] #2325 closed

[2015-05-22 12:25] purbon commented on #2074
Related to #3301

[2015-05-22 12:25] purbon commented on #1609
Nowadays the config test is nowaday only checking for syntax and not content of it. I'll #3301 in benefit of where we can discuss the right solution for this kind of error. I will add a comment there regarding this specific issue.

[2015-05-22 12:25] #1609 closed

[2015-05-22 12:26] purbon commented on #3301
As of https://github.com/elastic/logstash/issues/1609, config_test could validated relative path.

[2015-05-22 12:26] neilprosser opened #3302 "Logstash 1.5.0 stops processing with 100% CPU"
I've found since upgrading from 1.4.2 to 1.5.0 that Logstash will process messages for some period of time and then stop without any errors being logged. The process will run at 100% CPU per core (depending on how many `filterworkers` have been enabled, so two cores would lock out if I have 2 workers).

The Logstash process looks like:

[code]

We're running JDK 1.7.0_79 on Amazon Linux.

Our `log

[2015-05-22 12:30] purbon commented on #3302
Thank you very much for your report. might this be related to #3276

[2015-05-22 12:42] neilprosser commented on #3302
That sounds promising. I'll keep an eye on that issue. If you need any additional information from my instance, please let me know.

[2015-05-22 12:51] ph commented on #3302
@neilprosser ty for all the information, looking into this.

[2015-05-22 12:55] ptitloup commented on #2523
I found a solution to solve my problem and run bundle install. metadata appear only with ruby 2..
So to install it on debian, i used rvm.

    #gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3

    #curl -sSL https://get.rvm.io | bash -s stable --ruby

and after, to use it :

#source /usr/local/rvm/scripts/rvm

#ruby -v

ruby 2.2.1p85 (2015-02-26 revision 4

[2015-05-22 13:03] naisanza commented on #3156
Moving all plugins to individual repositories was such a good idea!

[2015-05-22 13:36] mezzatto commented on #1487
@purbon, I do not have a working plugin. Sorry :(

[2015-05-22 13:38] ph commented on #3302
Looking at the thread dump only the "worker" thread is currently running, this thread is where the filters are run, this is confirming the behavior you see when you change the number of logstash worker. All the others threads are stuck waiting for events.

@neilprosser logstash never goes oom? Can you take a heap dump of the process?

[2015-05-22 13:58] ph commented on #3302
Okay this look like a poisonous message that make grok goes into an infinite loop? maybe?
I'll give you a small debug filter to know which message is problematic :)

[2015-05-22 14:09] ph commented on #3302
@neilprosser Can you add this filter before all the other filter? This will generate a lot of log on your side but it will tell us what was the last message in the filter queue and will allow me to test it against your grok filters and hopefully reproduce the hang.

[code]

[2015-05-22 14:13] purbon commented on #1487
Ok! so then It makes sense I put the adoptme tag :+1: thanks for the proposal.

[2015-05-22 14:22] ph commented on #2611
We need better introspection into what a filter worker is actually doing, we should be able to output which plugin and which configuration is actually running. see https://github.com/elastic/logstash/issues/3294 for a usecase that metrics and stats should help to solve.

[2015-05-22 14:22] ph commented on #3294
This is related to a stats/metrics API https://github.com/elastic/logstash/issues/2611

[2015-05-22 14:39] colinsurprenant commented on #3285
@zhenghu ok. it's very hard to diagnose without having access to the actual code.

Would you be willing to try and create a minimal example which recreates this behaviour and share that with us? Or, if you can share your spec & code we could look at it?

[2015-05-22 15:43] ph commented on #1720
Since this issue is fixed 1.5 I'll close this.

[2015-05-22 15:43] #1720 closed

[2015-05-22 15:44] ph commented on #1742
closing this one in favor of the https://github.com/logstash-plugins/logstash-input-relp/issues/5

[2015-05-22 15:44] #1742 closed

[2015-05-22 15:46] ph commented on #1763
New strategy is already merge from https://github.com/elastic/logstash/pull/2942

[2015-05-22 15:46] #1763 closed

[2015-05-22 15:48] cwensel commented on #1428
I've seen enough issues to have moved on at this point. sorry i'm not of much more help.

i can say it continued to be persistent through a 1.5 beta I believe.

[2015-05-22 16:08] zhenghu commented on #3285
@colinsurprenant
I put the conf and test ruby file in my google drive.

Here is the shareLink : https://drive.google.com/folderview?id=0B2lbKsz3TibJfmVudmFwM3N4M0l1cXlJdjl2Ry15Qko2UThkVV9MdGlDVHVMV2lGZmJJTkE&usp=sharing

Hoping this help.

[2015-05-22 16:26] colinsurprenant commented on #3287
@benoiton are we good in closing this?

I'm going to open 2 issues following this:
- duplicate `JAVA_OPTS` to see what's happening there
- Raspberry Pi2 how-to

[2015-05-22 16:28] benoiton commented on #3287
It's ok for me. Thanks.

[2015-05-22 16:28] #3287 closed

[2015-05-22 16:29] ph commented on #3276
@Centopus Can you give us a thread dump with jstack?
I am investigating #3302 and I think its related to you issue I am trying hard to nail the problem.
If you are able to reproduce the bug can you add this ruby filter to before your other filter? This will create a log of noise in your log but will give us the last event before the hang. Thank you

[code]

[2015-05-22 16:32] Centopus commented on #3276
I'll do it first thing in the morning on Monday (GMT+2). Unfortunately I do not have access to that environment now.

[2015-05-22 16:33] ph commented on #3276
@Centopus can you get a heap dump too? Thanks you very much.

[2015-05-22 17:31] falzm opened #3303 "Crashes using riemann output"
I'm trying out the [Riemann output plugin](https://www.elastic.co/guide/en/logstash/current/plugins-outputs-riemann.html), but when Logstash processes an event it crashes with the following error:

[code]

Logstash version : 1.5.0 (installed via official Debian package), with `logstash-output-riemann` installed via the `plugin` Logstash command as stated in the documentation.
JRE version : Oracle

[2015-05-22 17:34] dpichard commented on #3249
My observation as a user, having used one of the above workarounds the first time I ran `logstash`, is that the `/opt/logstash/.bundle/config` file seems to need to be generated once, and is then static.

If this is true, and it's not different on everyone's machines, could an alternative to #2701 be to either:
- package a static `/opt/logstash/.bundle/config` file inside the RPM/DEB packages, or

[2015-05-22 18:42] neilprosser commented on #3302
Because I have a number of different files with filters I actually stuck that filter in each one along with another log stating which file we'd reached. The message that I had it stop on was:

[code]

It turns out that it occurred in the top configuration file I listed earlier (the filter ended up just above the `environment` filter in the first snippet of configuration). By that time it had actua

[2015-05-22 18:45] neilprosser commented on #3302
I should also mention that that `STARTOFGUID` pattern is: `^([^-]+)`, so that `grok` shouldn't match that message (since it has no `custom.DeviceId` field).

[2015-05-22 19:43] ph commented on #3302
It should never run that grok at all, because of the

`if [type] == "application-log" and [custom][DeviceId] =~ /.+/ `

I'll check the jetty log section.

[2015-05-22 19:49] ph commented on #3302
@neilprosser would you mind sharing your grok patterns file?

[2015-05-22 19:57] ph commented on #3144
Do you have the same issue with the latest version logstash 1.5.0 GA?

[2015-05-22 20:03] wiibaa commented on #3303
@falzm starting with logstash 1.5, it is strongly recommended to open plugin specific issue into the plugin repository. Can you please check that https://github.com/logstash-plugins/logstash-output-riemann/issues/2 already describe your error correctly and then close this ticket.
If you are able to hack logstash, you could even test the proposed fix in https://github.com/logstash-plugins/logstash-

[2015-05-22 20:04] wiibaa commented on #3298
@jbrablec it is better to discuss this kind of question in discuss.elastic.co/c/logstash or groups.google.com/forum/#!forum/logstash-users

[2015-05-22 20:28] ph commented on #3302
So yes probably a problem with one of the regexp and some data.
Similar to this too: https://discuss.elastic.co/t/worker-thread-consumes-100-cpu-for-no-reason/261

[2015-05-22 20:33] falzm commented on #3303
OK, sorry for the noise.

[2015-05-22 20:33] #3303 closed

[2015-05-22 20:56] neilprosser commented on #3302
There are actually five pattern files:

[code]

[code]

[code]

[code]

I'd rather not share the fifth one if that's possible since it refers to part of a private (but publicly accessible API). There are 80 patterns which are similar to the final set of patterns above (they are a way of classifying calls to a RESTful API).

If it makes any difference, I've tried restarting Logstash and it's not al

[2015-05-22 22:08] khomenko commented on #2485
+1 @rectalogic

[2015-05-23 01:32] felipegs commented on #2914
If I use elasticsearch output, with protocol option as node, has impact on this?
Because if I do that it starts an elasticsearch inside same jvm process.

[2015-05-23 01:48] felipegs commented on #3003
I need to investigate more, but I think the logstash-input-zeromq have the same problem of logstash-input-lumberjack

[2015-05-23 08:54] synaq commented on #1590
Hi There,

We have a new ELK environment which we love, the only thing making it lame at the moment is the multiline filter not being threadsafe - we have a big setup.

Any chance this can happen? :)

[2015-05-23 09:16] elvarb commented on #2130
I had this problem as well. My solution was just to use i18n filter on everything first. It removes all special characters so all filters that follow will have no issues with bogus data.

[2015-05-23 11:46] celesteking commented on #3276
All people having troubles, could you make a
```netstat  -pnt|grep java```
on logstash host and see if there're any numbers > 0 in recv/transmit queue.

It appears I'm hitting the same issue with high traffic parallel lumberjack connections.

[2015-05-23 12:58] neilprosser commented on #3276
[code]

I'll put this into the issue I started too.

[2015-05-23 12:59] neilprosser commented on #3302
As requested in #3276:

[code]

[2015-05-23 13:56] untergeek commented on #1590
Try using the multiline codec instead. 

—Aaron

On Sat, May 23, 2015 at 2:54 AM, synaq <notifications@github.com> wrote:

[2015-05-24 01:17] Mister-X- commented on #2901
Done: https://github.com/elastic/logstash/pull/3304

[2015-05-25 00:58] joshuar opened #3305 "Debian package creates g+rwx for root on /etc/logstash?"
This is probably not a major issue, but a user noted that the permissions on `/etc/logstash` create via our deb package are a bit wonky:

[code]

`/etc/logstash` has root:root permissions and the root group has rwx to it. I'm not sure if this is a security issue (I doubt many admins assign any other accounts to the root group) but it is an odd permission.

[2015-05-25 05:13] Centopus commented on #3276
Thread dump after trying to shut it down. Restarting now, and waiting for it to crash to provide the other requested data.

[code]

[2015-05-25 06:17] zeqi commented on #3260
yes, Latest version，This problem is not resolved.，Impatient          Now I want to use logstash+hadoop   or    flume+hadoop,    but there are questions make me  not going well

[2015-05-25 07:07] purbon commented on #3260
Hi,
   i wonder if you're behind any kind of proxy/firewall that prevent you to
access https://rubygems.org, can you check that?

/cheers

On Monday, May 25, 2015, zeqi <notifications@github.com> wrote:

--
Pere Urbon-Bayes
Software Engineer
https://www.elastic.co
https://twitter.com/purbon

[2015-05-25 07:12] zeqi commented on #3260
thank you !      I am in China, Google is forbidden to visit,  whether and this relationship？

[2015-05-25 10:08] Centopus commented on #3276
I'm thinking of a way, to anonymize the data from the log file. As I look at it now, I'm not allowed to send it to you. (client data etc...) I cant find anything of interesting in there anyway....  (any clues what should I be looking for, to help?)

http://pasteboard.co/IQPgtvY.png
This is how the data stream looked before it hung on me.  It should look like that part before 11:15.

Heapdump (22MB

[2015-05-25 11:22] tnolet opened #3306 "./plugin install does not install a local plugin as described in docs"
Simply put, this https://www.elastic.co/guide/en/logstash/current/_how_to_write_a_logstash_input_plugin.html#_test_installation doesnt work. Running logstash 1.5.0, the install script reports success, however listing the plugins my new plugin is not there. Also running logstash with the new input throws an error:

[code]

[code]

Notice no logstash-input-sse plugin is there.

[code]

[2015-05-25 13:20] purbon commented on #3260
if you can access with your browser https://www.rubygems.org, you might try to download the plugin from there, link is: https://rubygems.org/downloads/logstash-input-sqlite-0.1.4.gem

and then run ```bin/plugin install [place_where_you_download_the_plugin]```

[2015-05-25 13:37] ph commented on #3306
@tnolet Can you paste the content of your `Gemfile` and is the source code of the plugin available somewhere?

[2015-05-25 14:01] BrickXu opened #3307 "How to change log level in the output plugins?"
Hi all,

I used elasticsearch as an output with the logstash 1.5, and I could get some INFO level logs when elasticsearch output plugin startup, how could I change the output plugin log level, I want to see some DEBUG logs to track some issues.

I've try ` --debug` and ` --verbose` options, it does not work.

thanks.

[2015-05-25 14:10] ph commented on #3276
@Centopus OK, by looking at your thread dump I think this isn't the same issue as #3302.

The lecture of the thread dump show that the filters and the outputs are blocked in a waiting state (waiting for new events). The dump doesn't show any trace of the file input threads they should be named something like "<file", this is concerning because the pipeline usually warn users if a thread dies.

@Ce

[2015-05-25 14:15] tnolet commented on #3306
@ph certainly. I just pushed it. It is a rough initial sketch of using SSE as an input. https://github.com/magneticio/logstash-input-sse